[2019-05-20 17:36] gildotdev opened #5224 "Can't use FormControl.patchValue to update Timepicker control"
### Bug description or feature request:\

I am retrieving my data from a database call and I am trying to use the [FormControl.patchValue](https://angular.io/api/forms/FormControl#patchvalue) method to update the Timepicker with the data to display. It doesn't update the view if FormControl.patchValue is ran with any kind of delay.

### Plunker/StackBlitz that reproduces the issue:

https://stackb

[2019-05-20 17:39] #5224 closed, assigned to nobody

[2019-05-21 08:07] mcbroh commented on #3075
adding style="cursor: auto" to the element with pTooltip

[2019-05-21 09:00] #2848 closed

[2019-05-21 09:00] #3958 closed

[2019-05-21 09:00] #4993 closed, assigned to nobody

[2019-05-21 09:21] ludmilanesvitiy commented on #5222
@silencieuxle Hello! Could you, please, create a reproduction on StackBlitz: https://stackblitz.com/edit/ngx-bootstrap?file=app%2Fapp.module.ts ?

[2019-05-21 09:23] Domainv commented on #5208
@johnnyswan today/tomorrow will be released

[2019-05-21 09:23] #5208 closed, assigned to nobody

[2019-05-21 09:29] ludmilanesvitiy commented on #5220
@ciriarte https://valor-software.com/ngx-bootstrap/old/3.3.0/#/documentation#getting-started - this is the latest stable version, which you can use with app on ng6

[2019-05-21 09:30] ludmilanesvitiy commented on #5220
There's no need to open an issue here if you want to ask a general question.
Use [StackOverflow](https://stackoverflow.com/questions/tagged/ngx-bootstrap) or [Slack](https://join.slack.com/t/ngx-home/shared_invite/enQtNTExMTY5MzcwMTM0LWQ5M2Y4OWM0OGJjNmZiOGYyNjFlZTdlOGI1YjcxYWQ2ODhiOTY4NzhiODgwMTIzNDczODIyNWNmM2RlYWRhNTg) instead

[2019-05-21 09:34] Domainv commented on #5213
@jbacalo Already merged possibility to add a custom class to each day #5036
Soon be released. Also, you can globally style datepicker

[2019-05-21 09:36] ludmilanesvitiy commented on #5219
ES6 syntax was used, the eslint rule applied: https://eslint.org/docs/rules/object-shorthand

[2019-05-21 09:36] #5219 closed, assigned to nobody

[2019-05-21 09:41] Domainv commented on #5198
@santhoshraju621 Please provide repo of reproduction, needs more info

[2019-05-21 10:02] ludmilanesvitiy commented on #5216
In the next ngx-bootstrap version, you'll be able to set [adaptivePosition]="false" param to use the previous positioning of popover, as was in 3.x.x version.
https://github.com/valor-software/ngx-bootstrap/pull/5183

[2019-05-21 10:05] ludmilanesvitiy commented on #5216
It will look like
![Peek 2019-05-21 13-04](https://user-images.githubusercontent.com/18209841/58087316-055af200-7bc9-11e9-978c-c6b4e0c7b205.gif)
Is it what you expect?

[2019-05-21 10:36] Pizzicato commented on #749
Quite surprised this  hasn't been fixed yet... Please, add this functionality :pray:

[2019-05-21 11:00] jlhergar commented on #5216
I have the same issue.
When is the new version expected to be published?

I have verified that in 4.x.x versions the calculation of the position of the popover is much better adjusted than in 3.x.x, versions, including cases with auto positioning. Except for the problem indicated by xoneill, the rest is very satisfactory. Is not there a solution to this problem that allows to maintain the optimiza

[2019-05-21 11:09] ludmilanesvitiy commented on #5216
@jlhergar Follow our new versions bumps in the [Slack](https://join.slack.com/t/ngx-home/shared_invite/enQtNTExMTY5MzcwMTM0LWQ5M2Y4OWM0OGJjNmZiOGYyNjFlZTdlOGI1YjcxYWQ2ODhiOTY4NzhiODgwMTIzNDczODIyNWNmM2RlYWRhNTg) channel

[2019-05-21 11:13] ludmilanesvitiy commented on #5201
Duplicate of #4853

[2019-05-21 11:30] ludmilanesvitiy commented on #5197
@ngocngoan https://valor-software.com/ngx-bootstrap/#/datepicker#format - this is an example
There's no need to open an issue here if you want to ask a general question.
Use [StackOverflow](https://stackoverflow.com/questions/tagged/ngx-bootstrap) instead or [Slack](https://join.slack.com/t/ngx-home/shared_invite/enQtNTExMTY5MzcwMTM0LWQ5M2Y4OWM0OGJjNmZiOGYyNjFlZTdlOGI1YjcxYWQ2ODhiOTY4NzhiODgwMTIzN

[2019-05-21 12:01] ludmilanesvitiy commented on #5203
@akvaliya Hi. Take a look at this example: https://valor-software.com/ngx-bootstrap/#/popover#dynamic-html
There's no need to open an issue here if you want to ask a general question.
Use [StackOverflow](https://stackoverflow.com/questions/tagged/ngx-bootstrap) instead or [Slack](https://join.slack.com/t/ngx-home/shared_invite/enQtNTExMTY5MzcwMTM0LWQ5M2Y4OWM0OGJjNmZiOGYyNjFlZTdlOGI1YjcxYWQ2ODhiOTY

[2019-05-21 13:00] Pizzicato commented on #5194
Same behavior here

[2019-05-21 14:42] custompro12 opened #5226 "Tooltip placement right is wrong when overflow is set on parent"
### Bug description or feature request:
Tooltips with `placement="right"` don't properly calculate the css translation when a parent container has its CSS overflow property set.

Similar to https://github.com/valor-software/ngx-bootstrap/issues/5216, but doesn't matter what the container attribute is set to and about a different module (Tooltip Module).

### Plunker/StackBlitz that reproduces the

[2019-05-21 16:29] santhoshraju621 commented on #5198
@Domainv sorry man i don,t know how it is resolved but it is resolved automatically without any changes in code

[2019-05-21 16:30] Domainv commented on #5198
Great)

[2019-05-21 17:06] batgos commented on #5217
Here is the exemple : https://stackblitz.com/edit/angular-fbpddy
Sorry for the bad quality of it, I will improve it if necessary
Just spam click on the info icone and you will see the duplication of the tooltip

[2019-05-22 02:13] itsvse opened #5227 "Datepicker will not show up in full screen mode"
Datepicker will not show up in full screen mode

The date selection box will be obscured and cannot be displayed in full screen mode

### Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap:^4.3.0

Angular:~7.2.0

Bootstrap:^4.3.1

### Build system: Angular CLI, System.js, webpack, starter seed:

[2019-05-22 07:26] itsvse commented on #5227
A full div of a div, the dynamically generated control will not be included in the div, resulting in the display

[2019-05-22 08:27] jlhergar commented on #5216
I have created an example with several cases after updating to version 4.3.0

https://stackblitz.com/edit/ngx-bootstrap-popover-parent-scroll

With elements located on the right of the screen the position is not correct.

[2019-05-22 08:57] t-zander opened #5228 "ngOnDestroy is not always called"
Before opening an issue, please search for duplicates (opened and closed)
https://github.com/valor-software/ngx-bootstrap/issues
There's no need to open an issue here if you want to ask general question, use [StackOverflow](https://stackoverflow.com/questions/tagged/ngx-bootstrap) or [Slack](https://join.slack.com/t/ngx-home/shared_invite/enQtNTExMTY5MzcwMTM0LWQ5M2Y4OWM0OGJjNmZiOGYyNjFlZTdlOGI1Yjc

[2019-05-22 09:26] vaidd4 opened #5229 "BsDatePicker - highlight todays date"
It seems that there is no higlighting (or special class) for todays date in the new datepicker.
And the parameter `customTodayClass` from `bsConfig` doesn't seems to work either.

I tried to reproduce but the plunkr and stackblitz provided are way to old so here is one up to date (css doesn't seems to work well):
https://stackblitz.com/edit/angular-vwtsvp

The issue for the old component : https:/

[2019-05-22 09:34] Domainv commented on #5229
@vaidd4 https://stackblitz.com/edit/angular-amgo4f
![Screenshot from 2019-05-22 12-32-13](https://user-images.githubusercontent.com/14885427/58164026-b6c35b80-7c8d-11e9-966f-d55f7446eb36.png)
As I can see, customTodayClass works correctly

[2019-05-22 09:34] #5229 closed, assigned to nobody

[2019-05-22 09:38] Domainv commented on #5227
Needs more info screenshots or repo with reproduction.
Also, you can use the link for reproduction
https://stackblitz.com/edit/angular-njxtkm

[2019-05-22 10:14] vaidd4 commented on #5229
Thanks ! I understand what was my problem, so there was two things :
- by default there is no class nor style to differentiate the current date.
- the component datepicker is created at the root of the HTML (just before `</body>`) so I needed to add my custom class to the main style.css of my application.

This might need some clarification in the doc.

[2019-05-22 10:37] ludmilanesvitiy commented on #5216
What do you mean by " the position is not correct." What are your expectations?

[2019-05-22 11:34] gioboa commented on #5201
Hi @ludmilanesvitiy I have the same problem.
Can I send a PR for it? :+1:

[2019-05-22 11:50] jlhergar commented on #5216
I need a behavior like the one seen in the attached image (case Not scroll - adaptative true - auto), but cases with scroll:

![image](https://user-images.githubusercontent.com/43484053/58171961-81bc0680-7c97-11e9-8ca1-d96a33e2f3f7.png)

I attach another image with incorrect positioning (case Scroll - Adaptative true - auto):

![image](https://user-images.githubusercontent.com/43484053/58171991-93

[2019-05-22 12:11] arturhun opened #5230 "ButtonRadioDirective: Wrong logic around emitting values when Uncheckable"
IMO these two lines are not a good logic

https://github.com/valor-software/ngx-bootstrap/blob/aaa291394692d1acd96971e0f0877dcc348b1fb3/src/buttons/button-radio.directive.ts#L85

[code]

What it causes with `uncheckable == true` is that continuous clicking on the same button will toggle between `this.value` and `undefined`. i would expect the following logic (I am using verbose syntax purposely)

[2019-05-22 12:42] tony-bondarenko opened #5231 "Infinite loop if using tooltip inside dropdown"
### Bug description:
Using tooltip inside dropdown may lead to an infinite loop.
Steps to reproduce:
1. Place element with a tooltip inside a dropdown menu.
2. Open dropdown menu and hover the mouse over an element with the tooltip to see it.
3. Close dropdown menu with Esc button. There're other ways to close dropdown and leave tooltip open, but a scenario with the Esc button is more easy to repr

[2019-05-22 13:48] ludmilanesvitiy commented on #5201
@gioboa Hi! Sure, please do!

[2019-05-22 15:25] harmnot opened #5232 "BsDatepickerModule style not showing"
I have follow the instruction correctly but the style of border and colour is not showing, am I wrong or something missing ??

this is the pic of the date picker not showing  the style :

<img width="451" alt="Screen Shot 2019-05-22 at 22 17 26" src="https://user-images.githubusercontent.com/42674439/58186928-00d52d00-7ce0-11e9-8538-95ea10df2236.png">

my NgModule import is using this
`import { Da

[2019-05-22 16:17] gioboa opened #5233 "Feature: carousel indicators for group of slides"
Hi,
carousel component it's really awesome. 👍
I'd like have the possibility to group carousel indicators dots for group of slides. (when is multi slides is enable).
e.g.
- **12** slides
- **5** itemsPerPage
- **3** dots in carousel indicator

I have done a the implementation for that.
I will send a PR, ok?
Thanks. 👍

[2019-05-23 01:53] itsvse commented on #5227
https://angular-njxtkm-yphdvw.stackblitz.io/
https://stackblitz.com/edit/angular-njxtkm-yphdvw

recurrent

[2019-05-23 05:59] bhaskerchari commented on #5022
@ludmilanesvitiy ,

It's not just a question I want to ask as this is also one of the feature library is expected to support this as this is the common use case in desktop scenarios especially in case of dashboards having widgets.

Library should provide a support to accept a container element w.r.t which it should open the dialog otherwise by default it should be w.r.t window element.

Thanks,
Bh

[2019-05-23 07:06] oguzhankahyaoglu commented on #4826
Are there any updates on this issue? We are using AspnetZero framework which heavily relies on momentjs and ngx-bootstrap and there are lots of compilation errors due to the momentjs integration.

[2019-05-23 07:16] ismcagdas commented on #4826
@oguzhankahyaoglu could you create an issue on http://support.aspnetzero.com and we can help you if the problem is related to AspNet Zero.

[2019-05-23 07:34] Domainv commented on #5227
Thank you, I'll check

[2019-05-23 07:53] Domainv commented on #5201
Closes as duplicate of #4853

[2019-05-23 07:53] #5201 closed, assigned to nobody

[2019-05-23 08:06] Domainv commented on #5223
@shainanigans Please try position 'left start' from ngx-bootstrap@4.3.0

[2019-05-23 09:42] ludmilanesvitiy commented on #5232
Note: If you installed ngx-bootstrap not via ng add command, you will need to perform a several actions

Notable change is additional css for it "/datepicker/bs-datepicker.css"

There are two ways of adding css:

Load it from CDN. Add <link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css"> to your index.html
Load it from node_modules/ngx-bootstrap/datepicker/bs-

[2019-05-23 09:43] ludmilanesvitiy commented on #5232
@harmnot Hi! See details: https://valor-software.com/ngx-bootstrap/#/datepicker
There's no need to open an issue here if you want to ask a general question.
Use [StackOverflow](https://stackoverflow.com/questions/tagged/ngx-bootstrap) instead or [Slack](https://join.slack.com/t/ngx-home/shared_invite/enQtNTExMTY5MzcwMTM0LWQ5M2Y4OWM0OGJjNmZiOGYyNjFlZTdlOGI1YjcxYWQ2ODhiOTY4NzhiODgwMTIzNDczODIyNWNmM2

[2019-05-23 09:49] ludmilanesvitiy commented on #5230
@arturhun If you want to propose some change to the src code, you can create a PR, see details: https://github.com/valor-software/ngx-bootstrap/blob/development/CONTRIBUTING.md

[2019-05-23 09:52] ludmilanesvitiy commented on #5228
@t-zander Hello! Could you, please, create a reproduction on StackBlitz: https://stackblitz.com/edit/ngx-bootstrap?file=app%2Fapp.module.ts ?

[2019-05-23 09:56] ludmilanesvitiy commented on #5226
@custompro12 Please, use [adaptivePosition]="false" and update your ngx-bootstrap versions to 4.3.0
![Peek 2019-05-23 12-55](https://user-images.githubusercontent.com/18209841/58243846-21da6400-7d5a-11e9-9155-19f6af978f90.gif)

[2019-05-23 09:59] ludmilanesvitiy commented on #5194
@johaven @Pizzicato Hello! Could you, please, create a reproduction on StackBlitz: https://stackblitz.com/edit/ngx-bootstrap?file=app%2Fapp.module.ts

[2019-05-23 10:28] t-zander commented on #5228
@ludmilanesvitiy
I am afraid there is a lot of code there, but I can provide the parts connected to the modal itself. Is it okay?

[2019-05-23 10:56] johaven commented on #5194
@ludmilanesvitiy You can not reproduce the problem?

[2019-05-23 11:05] ludmilanesvitiy commented on #5228
@t-zander To be sure, that described issue really exists and it's related to library implementation and not to your other code implementation, need to create reproduction on StackBlitz. It'll help not only to reproduce but also to test fixes, which will be developed.

[2019-05-23 11:38] t-zander commented on #5228
@ludmilanesvitiy WIll git hub repo be okay?

[2019-05-23 12:18] ludmilanesvitiy commented on #5228
@t-zander yes)

[2019-05-23 12:34] aminasya commented on #1628
Is it possible to do it now?

[2019-05-23 14:35] suwigyarathore commented on #4823
any update on this as ivy is just around the corner

[2019-05-23 17:15] upspackageman commented on #1922
I'm not using a shared module. Do I have to?

[2019-05-24 09:14] gioboa opened #5236 "carousel: multilist slides never start auto play"
### Bug description or feature request:
Even if I define interval in multilist carousel the component never start auto play.
When I trigger mouseleave the component finally start.

[2019-05-24 09:43] livthomas commented on #5154
@ludmilanesvitiy Are there any plans to fix this bug?

[2019-05-24 11:31] syedyawar opened #5238 "How to use other animation styles ?"
how to use other animation styles in ngx modules other than 'fadeindown' and 'fadeoutup'
like provided in this link: https://codepen.io/nhembram/pen/PzyYLL

[2019-05-24 13:28] ludmilanesvitiy commented on #5154
@livthomas I agree, that this is an important fix, but now we're working on adding animations to the components. If you have ideas about how to fix it - don't hesitate to contribute - it'll be super awesome)

[2019-05-24 13:29] ludmilanesvitiy commented on #3892
Inline datepicker is already implemented: https://valor-software.com/ngx-bootstrap/#/datepicker#inline-datepicker
Custom dates class is already implemented also: https://valor-software.com/ngx-bootstrap/#/datepicker#date-custom-classes

[2019-05-24 13:29] #3892 closed

[2019-05-24 14:38] t-zander commented on #5228
@ludmilanesvitiy Sorry that was my problem. I had unsubsscribe in onDestroy and called it on undefined.
For some reason I didn't see the error, but I guess it blocked modal from closing.
Thank you and sorry for your time.

[2019-05-25 09:00] oguzhankahyaoglu commented on #4826
I dont have the account information for the licensing product, my company acquired the license and I dont have it actually.
By the way, we solved the issue by defining Date properties for each usage of Datepicker/momentjs properties and get/setting them accordingly.
Moreover, RAD tool needs some improvements if there is a repository for that tool, i can write my opinions there.

[2019-05-26 04:44] anapper commented on #5222
@silencieuxle Hey! I created a StackBlitz to resolve your issue. I don't think there was a bug with ngx-bootstrap but rather in how it was dealing with the isOpen property on click. I based my solution on the ngx-bootstrap documentation found here: https://valor-software.com/ngx-bootstrap/#/dropdowns#autoclose

Here is the StackBlitz link: https://stackblitz.com/edit/ngx-bootstrap-xwzpvc?embed=1&f

[2019-05-27 05:14] Arruls8 commented on #5079
Where to add this code!

[2019-05-27 05:18] AruljothySundaramoorthy commented on #5079
Still facing error even I added under the shared module.

[2019-05-27 05:31] ismcagdas commented on #4826
@oguzhankahyaoglu if you can find the account information and create an issue, we can try to help you because we are using latest version of ngx-bootstrap (4.2.0) and moment date fields and we don't have such a problem. If not, you can continue using date type until this issue is fixed.

[2019-05-27 08:05] Domainv commented on #5238
@syedyawar The link is broken

[2019-05-27 08:10] syedyawar commented on #5238
@Domainv
sorry, kindly check again

[2019-05-27 08:29] Domainv commented on #5238
For general question please use https://stackoverflow.com/questions/tagged/ngx-bootstrap

[2019-05-27 08:31] #5198 closed, assigned to nobody

[2019-05-27 09:42] #5232 closed, assigned to nobody

[2019-05-27 10:18] Cobr3n opened #5239 "bsDaterangepicker incorrect mobile position?"
Hello i use "ngx-bootstrap": "4.3.0", set config adaptivePosition: true
`<input class="form-control"
               placeholder="DD/MM/YYYY"
               [bsConfig]="{ rangeInputFormat: 'DD/MM/YYYY', containerClass: 'theme-blue', adaptivePosition: true }"
               bsDaterangepicker
               placement="bottom"
               [maxDate]="maxDate"
               [(ngModel)]="bsRangeValue

[2019-05-27 10:18] Cobr3n commented on #5239
web version work correct ...

[2019-05-27 15:05] batgos commented on #5217
Do someone have an idea pls ?

[2019-05-27 15:11] Domainv commented on #5239
@Cobr3n
![Screenshot from 2019-05-27 18-09-13](https://user-images.githubusercontent.com/14885427/58428273-a1de3200-80aa-11e9-867e-e7197928fb7a.png)

As I can see all works correctly on mobile
https://stackblitz.com/edit/angular-stzgvk?file=main.ts

[2019-05-27 15:18] #5228 closed, assigned to nobody

[2019-05-27 16:37] vixson commented on #5220
Thanks. But I had to put the issue here because a lot of people might encounter the same issue

[2019-05-27 16:37] #5220 closed, assigned to nobody

[2019-05-27 18:01] amiram commented on #5231
Happened to me too. CPU was 100%. Now I understand why. I had to downgrade to 3.2.0.

[2019-05-28 06:23] taimursaeed commented on #5202
has anyone found any fix for this?

[2019-05-28 08:49] Cobr3n commented on #5239
sory, the problem was because of the left styles  in the root of the project ^(

[2019-05-28 08:49] #5239 closed, assigned to nobody

[2019-05-28 09:37] devel112 commented on #2330
Also unable to reliably get return value from the actual modal - not enough to generally use the service to listen for *any* modal to close as there may be many. How do i find out if my specific modal has closed with f. eks ESC?

[2019-05-28 11:04] #3468 closed

[2019-05-28 11:05] #5238 closed, assigned to nobody

[2019-05-28 11:08] #3238 closed

[2019-05-28 11:11] #3342 closed

[2019-05-28 11:11] #3340 closed

[2019-05-28 11:11] #3267 closed

[2019-05-28 11:11] #3265 closed

[2019-05-28 11:11] #3258 closed

[2019-05-28 11:11] #3256 closed

[2019-05-28 11:13] #3255 closed

[2019-05-28 11:13] #3254 closed

[2019-05-28 11:13] #3253 closed

[2019-05-28 11:22] #3232 closed

[2019-05-28 11:22] #3466 closed

[2019-05-28 11:22] #3237 closed

[2019-05-28 11:23] #3236 closed

[2019-05-28 11:23] #3235 closed

[2019-05-28 11:23] #3234 closed

[2019-05-28 11:23] #3128 closed

[2019-05-28 20:29] ChrisMBarr commented on #1819
This is a bit of an ugly hack, but it works for me right now.  This will only work for a single modal, so it will not work for multiple or stacked modals!

When a modal opens, it will attempt to set the `aria-labledby` attribute to the ID of the `modal-title` element, it it exists and if that element has an ID.  It will do the same for the `aria-describedby` attribute and a `.modal-subtitle` eleme

[2019-05-28 20:52] richarddavenport commented on #4832
@TheGhostFish @darkguy2008 @Ketan-Infyom I need something like this also. Curious about your requirements. For mine, I need the user to pick a date, but we need to display a future date (5 business days into the future) so they are aware of that future date. Hacking on the date range picker right now is my only option. One easy solution would be an event when the user picks the first date, and we

[2019-05-29 07:15] arturhun commented on #5230
@ludmilanesvitiy Yes I know, but I have limited time and network resources now.
Tried to create a new feature branch using github UI, unsuccessfully. Not sure it is possible on a not-owned repo at all.
Anyway, this would be a breaking change to some users, so maybe it should first be discussed.

[2019-05-29 08:51] Giroxes commented on #3851
triggers="mouseover mouseleave"

[2019-05-29 12:05] WandererInVoids opened #5242 "Support Angular 8"
### feature request:
Support angular 8
description here https://angular.io/guide/static-query-migration
### Versions of ngx-bootstrap, Angular, and Bootstrap:
ngx-bootstrap: latests
Angular: 8

[2019-05-29 12:33] shainanigans commented on #5223
Hi @Domainv , I've upgraded to 4.3.0 and tried "left start" but unfortunately that only changes the vertical alignment of the arrow and not that of the popover itself.

What I'm hoping for is something that has the arrow towards the top as it does when I used "left start" but that the popover itself also shifts to be top-aligned with the element that triggered it rather than centre-aligned. Hopefu

[2019-05-29 13:03] SamanthaAdrichem commented on #5242
In the development branch there is this file: ngx-bootstrap/src/timepicker/models/index.ts which has the correct imports.

On version 3.3.0 the imports are incorrect, that is currently the only error i get for angular 8.

[2019-05-29 19:57] AhsanAyaz commented on #5242
I've got this error when upgrading to v8:
[code]

[2019-05-29 20:00] SamanthaAdrichem commented on #5242
@AhsanAyaz yes me too, that's the file i'm referring too. Apperently there is a new version 4.3.0 which fixes it. Just not sure if thats a bootstrap 4 only or if it's both? My team included 3.2 back then because we need bootstrap 3

[2019-05-29 20:02] AhsanAyaz commented on #5242
@SamanthaAdrichem yes I don't see the issue after upgrading to 4.3.0.
I'm using Bootstrap 4.

[2019-05-29 23:15] ye2021 commented on #4112
Is this issue is fixed?Is there any way to turn it off default date picker validation?

[2019-05-30 08:57] ludmilanesvitiy commented on #5222
@anapper Hi! Thank you!
@silencieuxle Hi! So, take a look one more time at the official docs https://valor-software.com/ngx-bootstrap/#/dropdowns#autoclose
And take a look at Stackblitz example above, created by @anapper
If you still observe issue with autoclose - just let me know. Otherwise, I'll close this issue.
![Peek 2019-05-30 11-54](https://user-images.githubusercontent.com/18209841/5862144

[2019-05-30 08:58] iamjoshuabcxvii commented on #5064
I have the same issue, has this been fixed already?.

[2019-05-30 08:58] ludmilanesvitiy commented on #5242
PR in progress: https://github.com/valor-software/ngx-bootstrap/pull/5245

[2019-05-30 09:03] ludmilanesvitiy commented on #5213
@jbacalo Take a look at official example: https://valor-software.com/ngx-bootstrap/#/datepicker#date-custom-classes

[2019-05-30 09:03] #5213 closed, assigned to nobody

[2019-05-30 09:05] Domainv commented on #5064
@iamjoshuabcxvii Yes, current issue was fixed.
Did you try 4.2.0 version?

[2019-05-30 10:38] notarnet opened #5243 "When version 4.3.0 will be released on npm?"

[2019-05-30 11:50] ismcagdas commented on #5208
@Domainv is this released ? Thanks.

[2019-05-30 12:33] Domainv commented on #5208
@ismcagdas Yes in 4.3.0

[2019-05-30 12:51] ismcagdas commented on #5208
Thanks a lot and thank you for the great work you are doing 👍

[2019-05-30 13:29] Domainv commented on #5208
Thank you)

[2019-05-30 16:11] silencieuxle commented on #5222
Hello, thanks for your helps @anapper @ludmilanesvitiy

[2019-05-30 16:11] #5222 closed, assigned to nobody

[2019-05-30 19:38] ohabash commented on #2369
Installing babel with the 1-7 instruction did not work for me... Do you recommend any troubleshooting steps?
https://github.com/SebastianM/angular-google-maps/issues/1052

[2019-05-30 23:00] EoinGriffin-AI commented on #1933
Here's an effective and simple workaround for anyone facing this issue in Angular (7).
Most likely this can also be translated to any JS/TS application by listening to the `document.onclick` event.

This will close the dropdown no matter where you click; it will still select whichever item you click on; and if your dropdown has a scrollbar that will continue to work.

HTML:
[code]

Component:
[cod

[2019-05-31 08:37] Domainv commented on #5243
@notarnet Already released with tag next.
Will be added as latest after releasing next version with tag next

[2019-05-31 08:37] #5243 closed, assigned to nobody

[2019-05-31 15:34] smmorris94 commented on #5242
Trying to update to angular 8 and I am getting this error:

ERROR in node_modules/ngx-bootstrap/collapse/collapse.directive.d.ts(1,34): error TS2307: Cannot find module '@angular/animations'.

Using v 4.3.0 of ngx-bootstrap

[2019-05-31 15:51] fchiumeo commented on #5242
install @angular/animations

[2019-05-31 20:30] angelayanpan commented on #5226
why does NPM still says 4.2.0 ? how are people able to do the update? @ludmilanesvitiy

[2019-06-03 01:19] skylee91 commented on #4487
+1 please fix it.
Having the same issue too.

[2019-06-03 05:15] RakeshMaddala commented on #5168
We use this framework for an internal tool at Dell Emc

[2019-06-03 06:24] ludmilanesvitiy commented on #5226
@angelayanpan https://www.npmjs.com/package/ngx-bootstrap?activeTab=versions - 4.3.0 with next tag

[2019-06-03 12:41] PrasanthJayaraman commented on #2979
I had the same issue, but my input element had maxLength attribute which was causing the issue. So make sure you do not have any other additional attribute which datepicker doesn't support.

[2019-06-03 13:08] vanderdill commented on #5206
With this solution no click event, inside de accordion, will work.

[2019-06-03 14:27] vanderdill commented on #5206
**Workaround:**
Sets manually the accordion's buttons type to `button`:

[code]

[2019-06-03 20:39] efcoyote commented on #5194
I will have the same problem (stack trace) but with a different ngx component (tooltip). I'm able to write a [StackBlitz example](https://stackblitz.com/edit/ngx-bootstrap-lanvwb).
If you click the button before the tooltip appears, the browser will freeze. If you wait for the tooltip and click afterwards, the app keeps running.

[2019-06-04 05:13] icorne opened #5246 "Carousel order for custom slides"
### Bug description or feature request:

When adding slides via *ngFor  and then adding one extra slide in the end, the order does not seem defined

### Plunker/StackBlitz that reproduces the issue:
https://stackblitz.com/edit/angular-xv8pob

### Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 4.3.0

Angular: 7.2.15

Bootstrap: 4.3.1

### Build system: Angular CLI, System.js, we

[2019-06-04 05:52] MaksymByelous commented on #5000
Hello,
I have problem with two  nested modals. when inner is closed body loose class 'modal-open' and first modal loose some styles because of that. In my case, if first modal is big and you need scrooll for body to check all of it, you loose scrooll in this case.
We need some check if other modal is opened dont remove 'modal-open' class in body

[2019-06-04 07:51] pzontrop commented on #5184
@dsudheer @ludmilanesvitiy  I can confirm what you are seeing and I can also add that this also happens when changing the month. So picking a date from the initial month is fine, but clicking the arrows to change a month and then picking a date also makes the picker go back one day.
<img width="328" alt="Screenshot 2019-06-04 at 10 37 18" src="https://user-images.githubusercontent.com/7068447/5886

[2019-06-04 08:11] StefanNedelchev commented on #4139
I confirm the same issue with ngx-bootstrap v4.3.0

[2019-06-04 10:01] ludmilanesvitiy commented on #5194
@efcoyote Thanks for reproduction

[2019-06-04 10:49] sri-ir opened #5247 "IOS Safari: After modal opened still i am able to scroll my background table"
In my application i have a table of data contains more rows with scrollbar, after opened any modal still i can able to scroll my table in IOS safari.

How to prevent this this scroll when ever modal is opened, or else is there any solution for this.

[2019-06-04 12:27] FrancescoBorzi commented on #5125
CONFIRMED.
Using ngx-bootstrap version:  **4.3.0**

[code]

[2019-06-04 18:10] kamalSaiDd commented on #3740
It's hacky though, But i got it working by adding following code to my scroll-container where i set overflow-y.

.html = (scroll)="onScrollForPopOver($event)"
.ts = onScrollForPopOver($event) { // no more code needed just plain open close .}

It works magically.
I think ngb-popover needs scroll() function to be fired

[2019-06-05 07:17] kplates commented on #5206
Can also use https://valor-software.com/ngx-bootstrap/#/accordion#custom-html to workaround.

I used `<div accordion-heading>Accordion Title</div>`

[2019-06-05 12:39] ejasarevic opened #5249 "Bug: Nested collapse components height not correct (with animations)"
### Bug description:
When using nested collapse elements, parent height is not calculated correctly before/after collapsing when using animations. If animations are not used, then it works as expected.

### Plunker/StackBlitz that reproduces the issue:
https://stackblitz.com/edit/angular-msp3wb

Steps to reproduce (with animations enabled):
1. Click on child collapse 1 and child collapse 2 to coll

[2019-06-05 13:11] Domainv commented on #5249
Closes as duplicate of #5202

[2019-06-05 13:11] #5249 closed, assigned to nobody

[2019-06-05 13:53] vixson commented on #2793
Please, what is the fix for the issue?

**Am using:**
ngx-bootstrap: 3.3.0
angular: 6.2.4
chrome: Version 74.0.3729.169 (Official Build) (64-bit).

When I click on the input box the popup the datepicker it freezes the browser tab.
Sometimes it works seamlessly sometimes.
While on my Mac OS. It doesn't work at all.

Please, what is happening it getting annoying.
Please, you guys should look into th

[2019-06-05 15:24] #5242 closed, assigned to nobody

[2019-06-05 16:02] ptrzyna commented on #2641
v4.2.0 has this problem and so does v4.3.0

[2019-06-06 09:31] #5236 closed, assigned to nobody

[2019-06-06 11:44] #5233 closed, assigned to nobody

[2019-06-06 15:25] meta72 opened #5251 "Typeahead does not react to model changes correctly"
### Bug description

Typeahead is not immediately updating its options list when the model of the input changes.

I am using typeahead for a dropdown with search functionallity. The input should show the text of the selected item. When the input is clicked, it should be empty, so all options can be seen. I do this by resetting its model to `""` on focus.
This is only working after the input is cli

[2019-06-06 16:59] jonclawsonMeasurabl opened #5252 "Extra Column of Dates Present in Calendar Design"
**Why is there an extra column of dates present on the calendar? Is this a feature, maybe the weeks by number? It does not seem useful. Seems like a bug to me. I am currently looking for a solution to remove this.**

![image](https://user-images.githubusercontent.com/31553724/59051421-b4423380-8841-11e9-81c2-d05e29a4fcf7.png)

[2019-06-06 17:08] jonclawsonMeasurabl commented on #5252
Oh, I figured it out.

showWeekNumbers: false

[2019-06-06 17:08] #5252 closed, assigned to nobody

[2019-06-06 21:15] BoykoAlex commented on #5195
I'm facing the same issue... also since 3.1.0. I recall it was supposed to be fixed with #4494

[2019-06-07 08:29] #5203 closed, assigned to nobody

[2019-06-07 13:29] meta72 opened #5254 "Hiding a typeahead input while options are shown causes freeze"
### Bug description or feature request:

When a component that contains a typeahead with an opened options list becomes hidden it causes the page to freeze.

### StackBlitz that reproduces the issue:
https://stackblitz.com/edit/angular-bsnuzr
The issue can be triggered by XHR or other async events. It can be reproduced with a timeout.

### Versions of ngx-bootstrap, Angular, and Bootstrap:

* ngx-

[2019-06-07 13:43] meta72 commented on #5254
#### Workaround:
Before hiding the component containing the typeahead element, call `typeaheadDirective.hide()`.

[2019-06-07 13:48] meta72 commented on #5254
This is possibly the same issue as in #5194

[2019-06-07 14:29] #5194 closed, assigned to nobody

[2019-06-07 14:29] #5231 closed, assigned to nobody

[2019-06-09 07:59] ItsAncientCoder commented on #700
Hi @donaldhook , I'm trying to achieve lazy loading of tabs functionality.

Let me explain my scenario.
I have 2+ static tabs in a page. inside each <tab>, there is a child component. I want to load the data of tabs only on tab selection (expect for first tab).
**Parent.html:**
`<div>`
      `<tabset>`
           `<tab heading="1">`
`                <child [someInput]="input"></child>`
`

[2019-06-09 08:24] ItsAncientCoder opened #5256 "Lazy loading of tab's content"
Hi Team,

I have 2+ static tabs in my tabset. I want to load only tab1 content on page loading and other tab's content on each tab selection.

Code snippet:
`<div class="container>`
`<tabset>`
`<tab heading="1">`
`<child [someInput]="input"></child>`
`</tab>`
`<tab heading="2">`
`<child [someInput]="input"></child>`
`</tab>`
`More tabs....`
`</tabset>`
`</div>`

Please suggest. Thank you in advanc

[2019-06-09 09:37] arun-maddheshia commented on #5256
Hi @bandhammanikanta

you can use like below

[code]

[code]

[2019-06-09 14:15] robertIsaac opened #5257 "ngx-bootstrap isn't working with ivy"
### Bug description or feature request:
when building the angular application `ng build` with ivy enabled it throw the following error

for any package i'm using (tried alert, tabs and pagination)
i think (but not sure) the problem is with the datepicker
because before throwing the error it shows
`Compiling ngx-bootstrap/datepicker : module as esm5`

### StackBlitz that reproduces the issue:
using

[2019-06-09 15:23] ItsAncientCoder commented on #5256
Thank you arun :).

I have implemented your approach. please see the snippets below.

**parent.ts:**
`@ViewChild(ChildComponent) childComponent: ChildComponent;`
`   `
`public onSelectTab(event: any) {`
`    const heading = event.heading;`
`    let data = null;`
`    if (heading === '1') {`
`      data = this.someMap.get(heading);`
`    } else if(heading ==='2') {`
`      data = this.someMap.get(h

[2019-06-10 12:26] arun-maddheshia commented on #5256
@bandhammanikanta I have update the answer please look into `activeTab` so you don't need to expose your child component

[2019-06-10 15:30] Ludevik opened #5261 "popover rendering slow"
### Bug description or feature request:
Popover rendering slow.
From my understanding from the code, the popover component now uses `locationService` and `calcPosition`. `calcPosition` is then called for each visible instance of popover on every scroll event which slows down rendering noticeably even in Chrome.

I am aware of `adaptivePosition` input on `popover.directive`, is setting this to fals

[2019-06-10 17:30] wwarby opened #5262 ""Quick select" date ranges for date range picker"
### Bug description or feature request:

Feature Request.

I'd really like to be able to achieve a similar effect to http://www.daterangepicker.com/ and https://www.npmjs.com/package/ngx-daterangepicker-material where you can set custom "quick select" ranges for the date when the picker is in range mode. If that functionality could be added to ngx-bootstrap's date range picker that would be awesom

[2019-06-11 10:49] meta72 commented on #5251
With ngx-bootstrap@5.0.0 the bug even exists with nothing preselected.
Both typeahead option lists in the StackBlitz demo are completely empty. With version 4.2.0 the first one showed all options, the second one showed Alabama.

[2019-06-11 12:02] Ludevik commented on #5261
I reproduced the issue with rerendering on [stackblitz](https://stackblitz.com/edit/angular-x9a8py).
Observe how render count goes up when scrolling. When i remove the popover from the component, rerendering doesn't happen.

[2019-06-11 14:02] funregis commented on #5168
- société générale
- intranet websites
- https://fr.wikipedia.org/wiki/Fichier:Soci%C3%A9t%C3%A9_G%C3%A9n%C3%A9rale.svg

[2019-06-11 14:24] ilf-dashley commented on #1687
I have the same issue, however I don't have an answer either.  I need two different type ahead results

[2019-06-11 14:31] vdurante opened #5264 "Modal closes on release of mouse outside modal box"
I have built an example that will guide you through the odd behavior of modals:

https://stackblitz.com/edit/ngx-bootstrap-qdilhe?file=app/app.module.ts

To make it simple, If you click inside the modal, but drag and release the mouse outside the modal, the modal is dismissed nevertheless. This behavior only happens on `ngx-bootstrap`, not on bootstrap's modal.

[2019-06-11 17:43] ghost commented on #2290
In your Service, create this function

[code]

then in your demo-modal.component.ts create an EventEmitter

[code]

[2019-06-11 22:49] tloten commented on #5257
This is likely caused by the use of the spread operator in the module declarations and/or exports section: https://github.com/valor-software/ngx-bootstrap/blob/development/src/datepicker/bs-datepicker.module.ts

I've tried fixing them up by hand and I'm still getting the error - I there are a few more modules that are using that convention that I haven't found yet.

For reference, this is the disc

[2019-06-11 23:26] tloten commented on #5257
Poked around some more - I was only changing the esm5 version. Doing the same manual hack to the fesm5 version and Ivy is now compiling it fine.

[2019-06-12 06:16] meta72 commented on #5254
This is indeed fixed in 5.0.0

[2019-06-12 06:16] #5254 closed, assigned to nobody

[2019-06-12 09:25] skylee91 commented on #5125
I having this issue too. It will change to 0 when hour=12. Hope the next release will fix this.

[2019-06-12 09:31] rubenVerschueren opened #5265 "setting visible month in popup"
I'm setting a min and max date for the date picker with bsConfig like this:

     <input type="text" placeholder="{{'DateFormat' | translate}}" class="form-control" id="birthdate" formControlName="birthdate"
                    [ngClass]="{ 'is-invalid': submitted && f.birthdate.errors }" bsDatepicker #dp="bsDatepicker" triggers=""
                    [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', s

[2019-06-12 09:55] school-coder opened #5266 "setting min and max date shows the end date but not the start date"
I am trying to set the min date and max date for date range picker ( 1st Jan 1979 to 31st Jan 1979). On doing this configuration, I am seeing the max date which is not intuitive. Start date needs to be shown.

StackBlitz URL
https://stackblitz.com/edit/angular-t6tnqh

[2019-06-12 10:00] ludmilanesvitiy commented on #5247
@sri-ir  Hello! Could you, please, create a reproduction on StackBlitz: https://stackblitz.com/edit/ngx-bootstrap?file=app%2Fapp.module.ts ?
If you want to ask a general question, use StackOverflow or Slack instead
https://stackoverflow.com/questions/tagged/ngx-bootstrap
https://ngx-home.slack.com/

[2019-06-12 11:30] ludmilanesvitiy commented on #5256
@bandhammanikanta If you want to ask a general question, use StackOverflow or Slack instead
https://stackoverflow.com/questions/tagged/ngx-bootstrap
https://ngx-home.slack.com/
@arun-maddheshia Thank you for help.

[2019-06-12 11:30] #5256 closed, assigned to nobody

[2019-06-12 11:55] ludmilanesvitiy commented on #5265
@rubenVerschueren Hi! For now, you can only set Initial date https://valor-software.com/ngx-bootstrap/#/datepicker#date-initial-state

[2019-06-12 12:14] ludmilanesvitiy commented on #5266
Closed as a duplicate of https://github.com/valor-software/ngx-bootstrap/issues/5265

[2019-06-12 12:14] #5266 closed, assigned to nobody

[2019-06-12 14:21] MarioGruda commented on #4261
ngx-bootstrap: 5
Angular: 7

It seems the problem still exists.

Here is a small example: https://stackblitz.com/edit/angular-n4tusz

Simply route back and forth between the components and create snapshots e.g. with the Chrome DevTools to examine the objects in the memory.

![image](https://user-images.githubusercontent.com/18344771/59359071-fb429400-8d2d-11e9-8575-ccda6560e377.png)

![image](http

[2019-06-13 08:20] Sirius-A commented on #5251
I can repoduce this in Angular 8. The typeahead is not filled correctly in versions` >4.2.0`.

[2019-06-13 13:03] vishranti5 commented on #5006
any updates on same?

[2019-06-13 19:23] felipebelluco commented on #4487
Still nothing?

[2019-06-14 00:51] hocine15 commented on #2170
Any good solution for this question or any link to see how to display the ngx-bootstrap typeahead in a tabular way ?

[2019-06-14 12:22] sgentile opened #5271 "Modals draggable - request"
I need to be able to have multiple modal dialogs open as well as to be draggable.  Does ngx-bootstrap support this ?

[2019-06-14 12:55] vishranti5 commented on #5006
Hi,
i have used DateRangePicker of ngx-bootstrap. its minMode set to month in bsconfig but it is not working. If i click on selecting month it is somhow increasing year in right datepicker.
The same thing is working fine with Datepicker. The problem is with DateRangePicker only.

can someone help me with same

[2019-06-14 13:07] vishranti5 opened #5272 "Hi,"

[2019-06-14 13:08] #5272 closed, assigned to nobody

[2019-06-14 13:08] vishranti5 opened #5273 "bsDaterangePicker is not working with minMode set to Month"
Before opening an issue, please search for duplicates (opened and closed)
https://github.com/valor-software/ngx-bootstrap/issues
There's no need to open an issue here if you want to ask general question, use [StackOverflow](https://stackoverflow.com/questions/tagged/ngx-bootstrap) or [Slack](https://join.slack.com/t/ngx-home/shared_invite/enQtNTExMTY5MzcwMTM0LWQ5M2Y4OWM0OGJjNmZiOGYyNjFlZTdlOGI1Yjc

[2019-06-14 13:17] vishranti5 commented on #5273
I have used bsDaterangePicker of ngx-bootstrap. I wanted it is for selecting months only. so set minMode as 'month'. but it is not working. It is just increasing year in right datepicker after selecting month.

Simple DatePicker of ngx-bootstrap is working fine with minMode set to 'month'. The problem is with only DateranePicker.

Component.Html :-

`<input type="text"
           placeholder="Date

[2019-06-14 14:32] Omi0 opened #5274 "ERROR TypeError: generatorOrNext is not a function"
EventEmitter causing an error ERROR TypeError: generatorOrNext is not a function

https://github.com/valor-software/ngx-bootstrap/blob/669d7e1d737f0d2d23ff481b7b224ff05ec0026c/src/modal/bs-modal.service.ts#L27

Modal Entry Component is defined in App SharedModule

Modals works fine on 1st level LazyLoaded module. But on 2nd lazyloaded module modal opens, but on close it throws an error:

`
ERROR T

[2019-06-14 14:32] Omi0 commented on #5274
Gonna try to reproduce it on another instance.

[2019-06-14 15:07] Omi0 commented on #5274
Ups... As it turns out there was empty subscriber in nested module which caused this issue... this.modalService.onHide.subscribe()

[2019-06-14 15:07] #5274 closed, assigned to nobody

[2019-06-14 16:26] rseanhall opened #5275 "Ability to add services to modal injector"
Currently, `BsModalService` does not give the ability to provide services through injection. It is hardcoded to provide the `ModalOptions` and `BsModalRef` service in `_showModal`. I have a service that needs to be injected deep into the component tree where it is impractical to pass it through using `initialState` and `Input`s. `ModalOptions` should expose a `providers?: StaticProvider[]` propert

[2019-06-16 13:22] FrancescoBorzi commented on #5168
We use ngx-bootstrap at **AzerothCore**, a no-profit organisation composed by volunteers who have a passion for open source software and gaming.

Official website: http://www.azerothcore.org/
Official logo: http://www.azerothcore.org/images/logo.png
Linkedin page: https://www.linkedin.com/company/azerothcore/

[2019-06-17 20:57] hugoj-goncalves opened #5277 "Combination of right aligned dropdown and container set to body"
### Bug description or feature request:
Wrong positioning. After upgrading from 3.2.0 to 3.3+ (up to 4.3.0).
Right aligned dropdown with container="body" is not working as expected.

##### Steps to repro:
Just open the stackblitz example and change dep from 4.3.0 to 3.2.0 and so on...

### Plunker/StackBlitz that reproduces the issue:
https://stackblitz.com/edit/ngx-bootstrap-ubhrdh

### Versions

[2019-06-18 05:51] deadmann opened #5278 "Dropdown inside Collapsable menu - navbar"
I have issue when i'm using dropdown for user profile menu, and i go into mobile mode, which the collapsable menu appears....
The drop down doesn't work...

I saw same code with same looking dropdown etc was provided in plunker wroten using ng-bootstrap, and in raw bootstrap, so i thought it should be javascript and engine issue...

any idea how to make it work if i should cheat?
Is V5 capable of

[2019-06-18 07:14] hplino opened #5280 "Error: Template parse errors: Can't bind to 'typeahead' since it isn't a known property of 'input'."
Hi all,

I am using **angular 6** with  **Bootstrap 4** in that I want to use typeahead but it is giving me below error,
**Error: Template parse errors:
Can't bind to 'typeahead' since it isn't a known property of 'input'.**

Currently, I have ngx-bootstrap version 4.1.0

I already put this as a question on [stack overflow](https://stackoverflow.com/q/56628769/7046985) and it is an urgent need so

[2019-06-18 07:23] hplino commented on #2457
but in my case, all injection and declaration are done then also it is showing error

[2019-06-18 08:09] icorne commented on #5246
Anyone know if it's just like that, or can I do something to fix this behaviour?

[2019-06-18 14:09] hplino commented on #5280
using [attr.typeahead] this issue is solved but because of this list is not appearing anyone have idea about this.

[2019-06-19 08:45] arturhun opened #5281 "Typeahead: multiple selections as tags/chips"
Is there currently any way to have the typeahead component accept multiple selections in the form of a tags input (aka chips)?

If not, any plans to provide it?

### Versions of ngx-bootstrap, Angular, and Bootstrap:
ngx-bootstrap:
"ngx-bootstrap": "^2.0.2",
Angular:
4.1.1
Bootstrap:
"bootstrap": "^3.3.7",
### Build system: Angular CLI, System.js, webpack, starter seed:

[2019-06-19 09:54] ming222555 opened #5282 "Unable to refer AccordionPanelComponent in my template"
Hi,
I have installed ngx-bootstrap v5, and successfully tried out the examples on my machine.
But when i tried to refer AccordionPanelComponent in one of my templates, i hit a browser console tab error which  says 'Template parse errors: There is no directive with "exportAs" set to "AccordionPanelComponent"'.

My template is as follows ...
<accordion>
    <accordion-group heading="Dropdown for Chi

[2019-06-19 09:58] ming222555 commented on #5282
... not sure why my template looks messed up earlier, ... it shd be like below ...

My template is as follows ...
<accordion>
    <accordion-group heading="Dropdown for Child Accordion 1">
        <accordion>
            <accordion-group heading="Header One of Child Accordion 1" #accg="AccordionPanelComponent">
                    Content One of Child Accordion 1.
            </accordion-group>

[2019-06-19 11:49] arturhun opened #5283 "DatePicker/DateRangePicker: placement options for both axis"
Please extend the number of available placement options, to include both axis.

Use case:
A left- or right-side column on a page, containing a form with a set of filters. DateRangePicker with placement `bottom` doesn't fit into viewport and gets clipped, as the `bs-daterangepicker-container` element acquires the following inline style:

[code]

![Screenshot 2019-06-19 at 13 45 53](https://user-ima

[2019-06-19 13:02] #5257 closed, assigned to nobody

[2019-06-19 15:59] sebastiandg7 opened #5286 "Inline datepicker not refreshing after min/max date have changed"
### Bug description or feature request:
I'm trying to use the ngx-bootstrap library to create a full date+time range picker using the Inline Datepicker and the Timepicker.

I'm using two Inline Datepicker instances, one for the inferior date and other for the superior date. Whenever a date is selected in the inferior date picker, that date must be set as the minDate of the superior date picker, an

[2019-06-19 16:54] sebastiandg7 commented on #5286
This has been posted as a stackoverflow question here: https://stackoverflow.com/q/56671637/5994580

Thanks to @maihannijat for your answer. Apparently this seems to be a bug, checking the inline datepicker source the [bsValue property](https://github.com/valor-software/ngx-bootstrap/blob/development/src/datepicker/bs-datepicker-inline.component.ts#L22) behaves differently from the others, emittin

[2019-06-19 23:31] vixson opened #5287 "Expand range for START and END month selector in DateRangePicker"
This a feature request.
Please make the date range picker independent of the month/year selector.
Example: I want to select a date from `January 1991` as start date, then select another date from `June 2023`.

1. Without it constraining me to pick between two months.
2. Without it triggering both month/year selector at the same time.
3. If set the config `displayMonths: 12` my screen gets populate

[2019-06-20 08:31] VikrantGohane opened #5288 "how to increase the input field when use ngx-datetime-picker."
<ngx-datetime-picker [(selectedDateTime)]="dateTimeExample"  placeholder="Enter your date and time"    [disableButton]="true"
 [disableInput]="false"  [disablePicker]="false"
 [doNotCloseOnDateSet]="false" ></ngx-datetime-picker>

[2019-06-20 14:11] zhukof opened #5289 "event work with tooltip"
### When specifying several variants of events, only one works

code example:
`<label [tooltip]="test" triggers="focusin:focusout mouseover:mouseout mouseover:dblclick focusin:dblclick" [delay]="1000">test label</label>`

This sample code will not work with a set of events. Since now the binding only goes to the first event.
` this._tooltipCancelShowFn = this._renderer.listen(this._elementRef.nati

[2019-06-20 19:48] vixson commented on #5288
Like how? Please explain better.

[2019-06-21 04:41] bsh-johnfiel commented on #4487
any updates on this?

[2019-06-21 07:59] #3369 closed

[2019-06-21 11:19] sod opened #5291 "perf: PositionService creates active scroll & resize listener by default - even if not used"
The PositionService creates a scroll & resize listener by default inside angular zone, regardless if you use it or not.

https://github.com/valor-software/ngx-bootstrap/blob/8ce5e86dfcee4244bba897a163d31f71b795d8ba/src/positioning/positioning.service.ts#L58-L59

![image](https://user-images.githubusercontent.com/905328/59919617-388edc00-9428-11e9-878e-2971036a13f2.png)

So just by loading ngx-boot

[2019-06-21 12:53] kolisko opened #5292 "Typeahead question: is possible to open dropdown on input focus?"
I would like to show all results in dropdown list when input is empty and user focus the input.

[code]

I am trying to manually call show() method on TypeaheadDirective in input click handler but it goes to exception.

     EXCEPTION: Cannot read property 'length' of undefined {"exception":"EXCEPTION: Cannot read property 'length' of undefined","originalStack":"TypeError: Cannot read property 'le

[2019-06-21 14:53] KimAlexander commented on #3075
` + 1`

[2019-06-21 18:46] #5287 closed, assigned to nobody

[2019-06-22 07:19] zainniazi opened #5293 "dynamic modal with auto generated sections (header, body, footer)"
feature request: dynamic modal with auto generated sections (header, body, footer)

I would like to suggest a alteration in the modal service which can allow us to generate header and footer dynamically by passing parameters to BsModalRef or ModalOptions.

Solution: I have already created such modification which doesn't effect the original implementation we just have to pass some parameters to swi

[2019-06-22 10:35] VikrantGohane commented on #5288
which is best date and time picker example in angular if any model are available please give best link on that.

[2019-06-22 10:44] VikrantGohane opened #5294 "In angular 7 which is the best date and time picker on bootstrap suggest me any example or link"

[2019-06-22 11:50] musou1500 commented on #5088
I propose put input values(`hours`, `minutes`, `seconds`) to store, and define a selector function that returns validities.
so, validities will always sync with the latest input values.

[code]

[code]

I think I can create PR if needed.

[2019-06-22 14:00] zainniazi commented on #5293
here is the pull request for requested change
https://github.com/valor-software/ngx-bootstrap/pull/5295

[2019-06-23 08:18] ashish-dirkmedia-de opened #5296 "Can I open popup for a router link navigate in popup and close and back to parent"
Before opening an issue, please search for duplicates (opened and closed)
https://github.com/valor-software/ngx-bootstrap/issues
There's no need to open an issue here if you want to ask general question, use [StackOverflow](https://stackoverflow.com/questions/tagged/ngx-bootstrap) or [Slack](https://join.slack.com/t/ngx-home/shared_invite/enQtNTExMTY5MzcwMTM0LWQ5M2Y4OWM0OGJjNmZiOGYyNjFlZTdlOGI1Yjc

[2019-06-24 02:26] hoangleitvn opened #5297 "Advanced daterange picker"
I would be nice if we can support a few options for daterange picker that allows user easy to select a relative date range
![image](https://user-images.githubusercontent.com/43955692/59986664-edf8a400-9661-11e9-90ec-2280d63d0a80.png)

[2019-06-24 07:13] arnab46 opened #5298 "Getting compilation error when installed ngx-bootstrap 4.3.0"
Before opening an issue, please search for duplicates (opened and closed)
https://github.com/valor-software/ngx-bootstrap/issues
There's no need to open an issue here if you want to ask general question, use [StackOverflow](https://stackoverflow.com/questions/tagged/ngx-bootstrap) or [Slack](https://join.slack.com/t/ngx-home/shared_invite/enQtNTExMTY5MzcwMTM0LWQ5M2Y4OWM0OGJjNmZiOGYyNjFlZTdlOGI1Yjc

[2019-06-24 08:19] apbedi commented on #655
I want to use the ngx datepicker with formcontrol so,  I have taken like this
<input type="text" bsDatepicker formControlName="sDateValue" (bsValueChange) ="value($event) >

On function I am getting selected value.  But I am manupulating that value as start date and calculate the value for end date.  But in manupulation my start date value changes to end date.  Which click event should fired for s

[2019-06-24 08:19] apbedi commented on #655
I want to use the ngx datepicker with formcontrol so,  I have taken like this
<input type="text" bsDatepicker formControlName="sDateValue" (bsValueChange) ="value($event) >

On function I am getting selected value.  But I am manupulating that value as start date and calculate the value for end date.  But in manupulation my start date value changes to end date.  Which click event should fired for s

[2019-06-24 08:31] apbedi commented on #3200
I am using bsValueChange with formcontrol  in manipulating start date n end date. But in manipulation start date changes with end date. I just wanted the selected date in formcontrol

[2019-06-24 09:37] deepender87 commented on #4226
I am facing the same issue. Applying the class dynamically not working and it works for the second time

[2019-06-24 11:54] ludmilanesvitiy commented on #5298
@arnab46 Hello! Could you, please, create a reproduction on StackBlitz: https://stackblitz.com/edit/ngx-bootstrap?file=app%2Fapp.module.ts ?

[2019-06-24 11:56] ludmilanesvitiy commented on #5297
Closed as a duplicate of https://github.com/valor-software/ngx-bootstrap/issues/5262

[2019-06-24 11:56] #5297 closed, assigned to nobody

[2019-06-24 12:00] ludmilanesvitiy commented on #5294
The issue name is not descriptive. A description is empty. Looks like a just mistake. Closing.
If you want to ask a general question, use StackOverflow or Slack instead
https://stackoverflow.com/questions/tagged/ngx-bootstrap
https://ngx-home.slack.com/

[2019-06-24 12:00] #5294 closed, assigned to nobody

[2019-06-24 12:06] ludmilanesvitiy commented on #5292
@kolisko Hi! Try to use [typeaheadMinLength]="0" param for the typeahead:
 https://valor-software.com/ngx-bootstrap/#/typeahead#min-length

[2019-06-24 12:10] kolisko commented on #5292
It works well. Thank you!

[2019-06-24 12:10] #5292 closed, assigned to nobody

[2019-06-24 12:12] ludmilanesvitiy commented on #5288
If you want to ask a general question about ngx-bootstrap library, use StackOverflow or Slack instead
https://stackoverflow.com/questions/tagged/ngx-bootstrap
https://ngx-home.slack.com/

[2019-06-24 12:12] #5288 closed, assigned to nobody

[2019-06-24 12:40] #5296 closed, assigned to nobody

[2019-06-24 12:40] ashish-dirkmedia-de commented on #5296
Not possible. Dynamic component is the way to go

[2019-06-24 13:43] thecp opened #5299 "Tooltip/popover placement with `container="body"` is wrong when using templates"
### Bug description or feature request:

When using a tooltip or popover inside a bootstrap responsive table (`class="table-responsive"`), placement is wrong for elements that don't fit into the container. `container="body"` has NO EFFECT although it should. When `overflow` is set to `hidden` or `visible` on the (`table-responsive`) container, it works as expected...

### Plunker/StackBlitz that r

[2019-06-24 19:23] hugoj-goncalves commented on #5277
Same thing with latest version, after 3.2.0 all versions have the same issue.

ngx-bootstrap 5.0.0 / 5.1.0
Angular: ^8.0.0
Bootstrap: 4.X

Updated repro: https://stackblitz.com/edit/ngx-bootstrap-s9kyae

[2019-06-25 06:22] arnab46 commented on #5298
@ludmilanesvitiy
Not sure how to share project in stackblitz.
I'm trying to add below import statement:

`import { DatepickerDateCustomClasses } from 'ngx-bootstrap/datepicker';`

in app.component.ts file and it's giving "red error" saying /ngx-bootstrap/datepicker has no export class DatepickerDateCustomClasses. This seems reasonable as I see in stackblitz ngx-bootstrap has version 1.9.3 whereas

[2019-06-25 06:43] nikiteshb commented on #1662
I am also not able change style of this tabset heading bcz it is coming from ng-template tabheading.

what i should do for changing / customizing that?

[2019-06-25 08:59] ludmilanesvitiy commented on #5298
@arnab46 If you want to add datepicker with custom classes, just add similar template and component, as shown in https://valor-software.com/ngx-bootstrap/#/datepicker#date-custom-classes
Example on stackblitz: https://stackblitz.com/edit/angular-dafgtl?embed=1&file=app/ngx-bootstrap-demo.component.ts

[2019-06-25 10:57] Mikiawm opened #5301 "How to configure full screen Daterangepicker in mobile devices?"
How can I overwrite setting styles and offsets from position service:
`  setStyles(targetElement, {
    'will-change': 'transform',
    top: '0px',
    left: '0px',
    transform: `translate3d(${offsets.left}px, ${offsets.top}px, 0px)`
  }, renderer);`

I want to achive some think like this:
![60092903-620d7780-9748-11e9-8dd6-626734734d9d](https://user-images.githubusercontent.com/7475650/60092945

[2019-06-25 12:12] syedyawar commented on #2618
@pborunda @dnyvik @tobiaspatton-s4
I've tried all the given problems and yours solution works to some extent but there is a critical mistake in my case that your solution closes the modal which opened first and that's why sometimes  it didn't clean up all the components.
if you close the last modal first and like that other modals,this is the perfect current working solution
![image](https://user-

[2019-06-25 12:50] arnab46 commented on #5298
@lanocturne  Thanks for replying.
I have the code you have shared.
From the stackblitz code you shared I see that it's using ng-bootstrap 5.1.0 from the dependency.
Currently my ng-bootstrap version is 3.3.0. In my current version (V3.3.0) the feature `DatepickerDateCustomClasses` is not available.

That's why I installed ng-bootstrap 5.1.0 using command:

`npm install ngx-bootstrap@5.1.0`

which

[2019-06-25 12:58] ludmilanesvitiy commented on #5298
Need to update all related ng packages to v8. Compatibility table: https://valor-software.com/ngx-bootstrap/#/documentation#compatibility

[2019-06-26 08:33] thecp commented on #5299
It's much easier than that. The following code is already broken:

[code]

I think the `container` attribute is broken for a few versions since it shouldn't have any effect of how the container looks like.

[2019-06-27 06:29] Neill83 commented on #5299
use `[adaptivePosition]="false"` and it will work

[2019-06-27 08:33] thecp commented on #5299
That was a bit too euphoric as it works with bottom placement for us but since we have some dynamically generated content in the popover template the calculation is wrong because this isn't taken into account...

FYI it was working perfectly for `ngx-bootstrap` < v4

[2019-06-27 08:35] Neill83 commented on #5299
i have also dynamic text / content in the tooltip, as well as dynamic positioning.

Both are working fine with this "fix" and i'm using ngx-bootstrap 4.3.0

[2019-06-27 12:26] Khanaash commented on #3553
I agree. When bsValue is set into ngOnInit, there is a problem. A use the version 3.3.0.
But there is more. I can make it work on the ngOnInit when i set bsValue into a subcribe of asynchronous treatment of RXjs.
My workaround, and it's very dirty, is to encapsulate my code (which is into the ngOnInit) in a setTimeout ...

[2019-06-27 12:50] RanjeetEppa18 opened #5302 "How to Apply css to <modal-container> element if I am using 'BsModalService' in Angular ?"
I am not allowed to use bootstrap class 'modal'.
Question is asked because i don't have to let modal close if User clicks outside the modal.

I tried  ->
    keyboard: false,
    backdrop: false,
    class: "custom-class"

but these are applied to 'model-content' and that's not effective.
Please tell me any solution.

[2019-06-27 15:24] thetric commented on #5206
Another fix is to set the `role` in the `accordion-heading`:

[code]

[2019-06-27 16:02] Mikiawm commented on #5301
Hi, I add daterangepicker-inline component to solve this problem. Just display daterangepicker in modal with full width. Can I get pull request for this changes?

[2019-06-28 08:38] AterDeus commented on #3554
I got same issue, but don't use yarn, so no .yarnclean file.
It happend after i updated from 4.3.0 to 5.0.0. Angular version is 7

[2019-06-28 09:02] #5301 closed, assigned to nobody

[2019-06-28 09:18] Mikiawm opened #5303 "Daterangepicker in inline mode."
### Bug description or feature request:
Add daterangepicker inline component.

[2019-06-28 09:52] williamverdolini commented on #3623
Why this issue is closed?
The PR is not in master, but even if it will be merged, the PR will no fix the issue, cause "the [typeahead] selector still exists" as the author has written

Please reopen it

[2019-06-29 16:13] imben1109 commented on #3609
Is there workaround for timezone issue? I want to have datepicker for UTC Date selection.

[2019-06-30 03:28] imben1109 commented on #3609
https://medium.com/self-learning/ngx-datepicker-utc-datepicker-design-77e33789e9d7

I have tried a UTC Datepicker which is a wrapper to original datepicker. The wrapper try to convert the input with a timezone offset procession.

![image](https://user-images.githubusercontent.com/12300682/60391829-3d3f4880-9b2a-11e9-9da1-b5daf9076e9b.png)

[code]

**Remark for this solution**
All time input should

[2019-07-01 07:28] thecp commented on #5299
@Neill83 I don't doubt that it's working for you...

I've changed my reproduction scenario to show that it's not working properly no matter if `[adaptivePosition]="false"` is set or not: https://stackblitz.com/edit/ngx-bootstrap-bdexcy

Maybe I am doing something wrong!?

[2019-07-01 07:56] Neill83 commented on #5299
it's your template what is causing the wrong placement

![image](https://user-images.githubusercontent.com/9987324/60419838-88b72c80-9be6-11e9-807e-49a936512458.png)

i just "removed" it and it worked fine

[2019-07-01 08:20] thecp commented on #5299
Well. That can't be the proper fix...

[2019-07-01 08:33] Neill83 commented on #5299
i know, just saying... so it's not a problem of the container=body thing imo

[2019-07-01 12:03] ludmilanesvitiy commented on #5150
Closed due to the inability to reproduce issue.

[2019-07-01 12:03] #5150 closed, assigned to nobody

[2019-07-01 12:20] ludmilanesvitiy commented on #5302
@RanjeetEppa18 Did you try this example: https://valor-software.com/ngx-bootstrap/#/modals#service-disable-backdrop
In this case, if you disable backdrop click (click outside modal), then modal will not close by outside click.

[2019-07-01 12:36] ludmilanesvitiy commented on #5280
@hplino Hello! Could you, please create a reproduction on Stackblitz?
This is a workable example of ngx-bootstrap typeahead: https://stackblitz.com/edit/angular-w6cbme

[2019-07-01 12:49] RanjeetEppa18 commented on #5302
@ludmilanesvitiy Thanks for your help , That really worked.

[2019-07-01 12:49] #5302 closed, assigned to nobody

[2019-07-01 14:28] filipemansano commented on #4273
@aks1994 you can use a template in tooltip content
(https://valor-software.com/ngx-bootstrap/#/tooltip#custom-content-template)

https://stackblitz.com/edit/ngx-bootstrap-a1t7k5

[2019-07-01 20:27] daddyschmack commented on #3310
this is still occurring for me.  Ver 5.2, I do have container='body'  in the html

[2019-07-02 07:26] Neill83 commented on #1536
In the newest version of ngx-bootstrap it **LAGS** as hell... **PLEASE** reopen

[2019-07-02 07:50] Neill83 opened #5305 "Tooltips causing performance issues when used in a table"
### Bug description or feature request:

Tooltip is lagging in a table when there a plenty of rows.

### Plunker/StackBlitz that reproduces the issue:

Here is a table with 500 entries: [Stackblitz](https://stackblitz.com/edit/angular-xe3hjv?file=src%2Fapp%2Fapp.component.html)

Here is another example with 2000 entries: [Stackblitz](https://stackblitz.com/edit/ngx-bootstrap-stack-dyxact?file=app/

[2019-07-02 08:42] DennisKae commented on #5210
I am facing the same issue and believe the problem has to be that ngx-bootrap prevents certain relevant css rules by adding the angular component node at this location:
![image](https://user-images.githubusercontent.com/27642250/60497254-c5e9f000-9cb4-11e9-90a0-b3c06e4e97da.png)

![image](https://user-images.githubusercontent.com/27642250/60497521-47da1900-9cb5-11e9-87c3-c460520e88f4.png)

Has any

[2019-07-02 09:18] Fredx87 opened #5306 "Use Angular Locales data instead of custom ones"
### Bug description or feature request:
Currently ngx-bootstrap has its own locales for formatting dates, while angular already provides them.

With the current implementation, to configure locales for both ngx-bootstrap and Angular, these are the required steps:
* Load Angular locales with `registerLocaleData`
* Load ngx-bootstrap locales with `defineLocale`
* Configure `LOCALE_ID` for Angular
*

[2019-07-02 14:07] tarun04 opened #5308 "Website is down"
https://valor-software.com/ngx-bootstrap/

[2019-07-02 14:08] #5308 closed, assigned to nobody

[2019-07-02 14:35] slubowsky opened #5309 "Typeahead performance very degraded in version 5.0.0 vs 4.3.0 when there are many items in typeahead results"
### Bug description or feature request:
Typeahead performance very degraded in version 5.0.0 vs 4.3.0 when there are many items in typeahead results

### Plunker/StackBlitz that reproduces the issue:
See https://stackblitz.com/edit/angular-1kywuq

Simple demo with 2000 strings, 1000 showing. Using version 4.3.0 typeahead results appear almost instantly. Using version 5.0.0 (or 5.1.0) it takes 4-5

[2019-07-03 10:49] Domainv commented on #5223
Old functionality worked incorrectly.
Sorry, but for now we don't plan to add the functionality.

[2019-07-03 10:49] #5223 closed, assigned to nobody

[2019-07-03 12:07] psalkowski commented on #5202
Same here on collapse component. In my case there is a bit more complex problem.

I have a page with list of categories. It's collapse component on mobile. On dekstop is always expanded (I change [collapse] to false during window resize). When user collapse component on mobile, then resize window, the component expands and have correct height. But when I update list of categories (i.e via route to

[2019-07-03 12:34] rookuu opened #5310 "Tooltips for Stacked Progress Bars"
**Feature Request**

Option to pass in a string to display as a tooltip when hovering over each part of the stacked progress bar.

[2019-07-03 13:37] psalkowski opened #5311 "Change isAnimated dynamically in accordion component doesn't work"
### Bug description or feature request:
I can not update `[isAnimated]` property in `accordion` component. In the demo, if you click on button, it change flag `isAnimated` to `false`, when you click on accordion you will see that it doesn't work.

### Plunker/StackBlitz that reproduces the issue:
https://stackblitz.com/edit/angular-qrhmpv

### Versions of ngx-bootstrap, Angular, and Bootstrap:

ng

[2019-07-04 14:24] imben1109 commented on #3440
https://medium.com/self-learning/ngx-datepicker-utc-datepicker-design-77e33789e9d7

I have tried a UTC Datepicker which is a wrapper to original datepicker. The wrapper try to convert the input with a timezone offset procession.

![image](https://user-images.githubusercontent.com/12300682/60391829-3d3f4880-9b2a-11e9-9da1-b5daf9076e9b.png)

[code]

**Remark for this solution**
All time input should

[2019-07-04 15:30] Mikiawm opened #5313 "Hide days from other month in datepicker and daterangepicker"
Feature request:
Hide days from other month in datepicker and daterangepicker

[2019-07-05 05:27] ajithanageswari commented on #4392
This is very helpful and working fine

[2019-07-05 06:02] SteffenKoehler commented on #5299
It looks like that this is somehow related to dynamic templates.
You have the issue with *ngFor and I have it with *ngIf
I updated your example https://stackblitz.com/edit/ngx-bootstrap-mshlrn

[2019-07-05 11:51] arjunkgit commented on #5166
For those who looking for temporary solution to highlight the selected month :

`    setTimeout(function () {
      $('.months > tbody  > tr > td > span').each(function () {
        if (this.innerText == tempMonth) {
          this.style.backgroundColor = "#008ECF";
          this.style.border = "1px solid #008ECF";
        } else {
          this.style.backgroundColor = "transparent";
        }

[2019-07-05 11:59] ludmilanesvitiy commented on #4945
The feature is already implemented, demo example here: https://valor-software.com/ngx-bootstrap/#/datepicker#dates-disabled

[2019-07-05 11:59] #4945 closed, assigned to nobody

[2019-07-05 12:08] ludmilanesvitiy commented on #3734
For now you have 2 options to higlight any date in datepicker:
1) https://valor-software.com/ngx-bootstrap/#/datepicker#today-class
2) https://valor-software.com/ngx-bootstrap/#/datepicker#date-custom-classes

[2019-07-05 12:08] #3734 closed

[2019-07-05 12:15] Domainv commented on #5311
As designed

[2019-07-05 12:15] #5311 closed, assigned to nobody

[2019-07-07 16:21] thetric opened #5315 "docs(datepicker): remove docs for old datepicker"
Is the section for the ["old" datepicker](https://valor-software.com/ngx-bootstrap/#/datepicker) still relevant? On a first glance I could not make out any differences (except the initial legacy warning). Should it be removed?

[2019-07-08 14:42] 1-0-1 commented on #5277
A quick fix or work around on this would be great.  This will hold up production release.

[2019-07-08 21:54] 1-0-1 opened #5317 "Typeahead with container body and optionsListTemplate"
### Bug description or feature request:
Typeahead with container body and optionsListTemplate only has typeahead-container transform applied the first time it is opened.  The template gets data on subsequent action but isn't transformed so that it appears where it is supposed to rather than the bottom of the page.

### Plunker/StackBlitz that reproduces the issue:
https://stackblitz.com/edit/body-

[2019-07-08 22:21] 1-0-1 commented on #5317
This is not an issue with 4.3.0.

[2019-07-09 12:08] Domainv commented on #3838
https://valor-software.com/ngx-bootstrap/#/collapse#animated

[2019-07-09 12:08] #3838 closed

[2019-07-09 13:57] #5202 closed, assigned to nobody

[2019-07-09 16:36] 1-0-1 commented on #5216
There sure are a lot of issues with using container body.  It doesn't work with dynamic content templates and with scrolling.  Typeahead in 5.x also has an issue.  Before I start stepping back version to version, does anyone happen to know the last version this was working?

Found it in another thread.  I need to go back to 3.2.0. ...and that won't work with Angular 8.

[2019-07-09 17:33] 1-0-1 commented on #5216
@jlhergar If you can live with scrollbars, setting [adaptivePosition]="false" and overflow-y: scroll; works around this issue.

[2019-07-10 10:08] harikasin commented on #5128
In my opinion, it is not a question, it is a problem.

If the value of the date is invalid, the component should be shown as invalid but the value shouldn't change as the user might just want to fix it.

With an option to disable this behavior we could add our own validators and CSS classes in reactive forms.

[2019-07-10 15:03] stephanetcheua opened #5319 "bug(timepicker): Error when writing 12 in the text box reserved for hours, but when using the mousewheel Bug disappears."
Before opening an issue, please search for duplicates (opened and closed)
https://github.com/valor-software/ngx-bootstrap/issues
There's no need to open an issue here if you want to ask general question, use [StackOverflow](https://stackoverflow.com/questions/tagged/ngx-bootstrap) or [Slack](https://join.slack.com/t/ngx-home/shared_invite/enQtNTExMTY5MzcwMTM0LWQ5M2Y4OWM0OGJjNmZiOGYyNjFlZTdlOGI1Yjc

[2019-07-10 15:05] stephanetcheua commented on #5319
1- Error when writing 12 in the text box reserved for hours

![image](https://user-images.githubusercontent.com/34269858/60980498-de9d7a00-a334-11e9-9aa6-6ea9560d03b1.png)

[2019-07-10 15:06] stephanetcheua commented on #5319
2-but when using the mousewheel Bug disappears.

![image](https://user-images.githubusercontent.com/34269858/60980586-07257400-a335-11e9-94ff-feb81e7ff030.png)

[2019-07-10 16:56] leo6104 opened #5320 "feat(Modal): available to use 'BsModalRef.setClass' in modal component ngOnInit lifecycle."
### 🐛Bug description or feature request:
Feature Request 😆

### Explanation
Now, we have to use 'setClass' method like this.
[code]
or we can use this way.
[code]

In this way, we have to call 'bsModalRef.setClass' or set options {'class': 'cart-modal'} in everywhere we call .show method.

I suggest 🙋‍♂️ that we should make bsModalRef.setClass method available to call in modal component lifecycle.

[2019-07-10 17:36] ckrandhir opened #5322 "Date picker issue:- if we put year as two digit ex 68 it will take 2068 by default how to stop that"
Before opening an issue, please search for duplicates (opened and closed)
https://github.com/valor-software/ngx-bootstrap/issues
There's no need to open an issue here if you want to ask general question, use [StackOverflow](https://stackoverflow.com/questions/tagged/ngx-bootstrap) or [Slack](https://join.slack.com/t/ngx-home/shared_invite/enQtNTExMTY5MzcwMTM0LWQ5M2Y4OWM0OGJjNmZiOGYyNjFlZTdlOGI1Yjc

[2019-07-10 17:38] ckrandhir commented on #5322
Date picker issue:- if we put year as two digit ex 68 it will take 2068 by default how to stop that

[2019-07-10 17:46] davenlin19 commented on #2677
There is still a problem @valorkin. Move your mouse from the ul to the trigger then move it to the outside of the trigger. The ul does not disappear in this case.

[2019-07-10 23:38] wojo1086 commented on #4714
@RaulKelvin Your solution does not work for me. It fades in/out the first image, but won't fade in the rest of them. It will cycle through the images and apply the opacity change, but the images are being loaded.

[2019-07-11 09:38] #5158 closed, assigned to nobody

[2019-07-11 09:39] ludmilanesvitiy commented on #5319
Duplicate of https://github.com/valor-software/ngx-bootstrap/issues/5125

[2019-07-11 09:39] #5319 closed, assigned to nobody

[2019-07-11 10:11] ludmilanesvitiy commented on #5322
@ckrandhir You need to specify the format of your date, like shown in this example:
https://valor-software.com/ngx-bootstrap/#/datepicker#format
In your case, looks like you need format DD-MM-YY or similar.
It'll look like this:
![Screen Shot 2019-07-11 at 13 06 49](https://user-images.githubusercontent.com/18209841/61042670-558e4d80-a3dd-11e9-8d8e-7da2682a468e.png)

[2019-07-11 10:11] #5322 closed, assigned to nobody

[2019-07-11 10:11] RaphaelYan commented on #5125
The bug is present in `5.1.0` too, can PR be reviewed pliz ?

[2019-07-11 10:26] ludmilanesvitiy commented on #5192
Closed due to not enough information

[2019-07-11 10:26] #5192 closed, assigned to nobody

[2019-07-11 10:29] florenthobein commented on #5264
Any news on this one? It's proven very irritating for my clients who select areas of text inside a modal: releasing the click outside of it closes the modal.

[2019-07-11 10:44] stephanetcheua commented on #5125
is the bug already fixed ? Is there already a new release or what do I have to do to have the bug fixed, thanks

[2019-07-11 10:47] ChrisCherryfarmer commented on #5125
Hi,

i am having the same issue. Is there any fix in sight?

Greez

[2019-07-11 10:58] RaphaelYan commented on #5125
@stephanetcheua @ChrisCherryfarmer there is this PR : https://github.com/valor-software/ngx-bootstrap/pull/5248
It's fixing our project, still waiting it to be merged 🙏

[2019-07-11 11:29] ludmilanesvitiy commented on #5278
@deadmann Could you recheck this with 5.1.1 version?

[2019-07-11 11:57] ludmilanesvitiy commented on #5273
Duplicate of https://github.com/valor-software/ngx-bootstrap/issues/5006

[2019-07-11 11:57] #5273 closed, assigned to nobody

[2019-07-11 12:02] ludmilanesvitiy commented on #5167
Closed due to not enough information for reproduce.

[2019-07-11 12:02] #5167 closed, assigned to nobody

[2019-07-11 12:04] ludmilanesvitiy commented on #5162
CLosed due to not enough information for reproduce.

[2019-07-11 12:04] #5162 closed, assigned to nobody

[2019-07-11 12:08] ludmilanesvitiy commented on #5114
Closed due to using incompatible version.

[2019-07-11 12:08] #5114 closed, assigned to nobody

[2019-07-11 12:10] #5032 closed, assigned to nobody

[2019-07-11 12:12] #5038 closed, assigned to nobody

[2019-07-11 12:29] LKU4 opened #5323 "Pagination component buttons lose focus on Enter press"
### Bug description or feature request:
Pagination component loses focus upon selecting a page and restores it on different buttons, which makes a keyboard navigation somewhat wonky.

Steps to reproduce:
1. Use Tab to set focus on numbered page button.
2. Press Enter to select focused page. The button will now lose focus.
3. Press Tab again. The focus will be restored on "Next" button.
4. If Enter

[2019-07-11 12:41] LKU4 commented on #5323
The selectPage() method, which is probably the place where this could be changed, looks like this:
[code]

So first, there is a target.blur() call here which seems to sit there since always, thus it is possible there is some use case that I'm missing and this behaviour is intentional. Even removing this call doesn't resolve the problem though. It looks like the page buttons are re-rendered and swa

[2019-07-11 13:19] deadmann commented on #5278
i'm using angular 7 and have no idea if i can upgrade to 8 without fail...
would it work? fine?

[2019-07-11 13:27] ludmilanesvitiy commented on #5278
@deadmann It should work without fails, this is compatibility table: https://valor-software.com/ngx-bootstrap/#/documentation#compatibility

[2019-07-11 13:29] #5298 closed, assigned to nobody

[2019-07-11 13:29] FrancescoBorzi commented on #5125
according to @ludmilanesvitiy , that PR of mine is breaking something else. That's why it hasn't been merged yet, I guess.

[2019-07-11 13:31] ludmilanesvitiy commented on #5125
@FrancescoBorzi That's true. @Domainv Please, take a look when you'll have time. Thanks.

[2019-07-11 13:36] ludmilanesvitiy commented on #4968
Closed as a duplicate of https://github.com/valor-software/ngx-bootstrap/issues/551

[2019-07-11 13:36] #4968 closed, assigned to nobody

[2019-07-11 13:37] #5025 closed, assigned to nobody

[2019-07-11 13:42] ludmilanesvitiy commented on #4853
Closed by #5201, available from 5.0.0 version.

[2019-07-11 13:42] #4853 closed, assigned to nobody

[2019-07-11 14:42] deadmann commented on #5278
a new version mean more than 25% change in codes and that's what i'm afraid of... things that get broken, but let me test...

isn't 5.1.1 beta?

[code]

[2019-07-11 14:43] DmitriyIvanko opened #5324 "ngx-modal with ngx-datepicker with @ngrx/effect throw an error: "Cannot read property 'map' of undefined""
### Bug description:
I have simple @ngrx/effect. This effect should open ngx-modal with component contained ngx-datepicker (http://prntscr.com/odo4z5):
[code]
But if i wrap it by setTimeout everything works well:
[code]
Error:
core.js:9110 ERROR TypeError: Cannot read property 'map' of undefined
    at flagReducer (ngx-bootstrap-datepicker.js:1604)
    at bsDatepickerReducer (ngx-bootstrap-datepic

[2019-07-11 14:49] deadmann commented on #5278
Reports:

The issue with drop downs inside nav fixed...
another issue appear... if you collapse browser width, and the menu appear, if you maximize it again, and the menu disappear... in case you opened the menu once, no matter if it was currently closed on is open, after widening browser, you can not open drop downs until you refresh the browser.

as a user... it's working, not if they act out of

[2019-07-11 14:57] deadmann commented on #5278
Since you have upper-hand and seem have access to all states, it could be nice if you send us events while updating the size, or changing states, and even better if the event occur synchronously before rendering of ngx-bootstrap, so for example i could maximize the user profile image to full or half width of the menu it self and ngx calculations occurs after that event.

for now we just have the `

[2019-07-11 15:28] deadmann commented on #5278
uploaded,... you can test now...
http://ashiane.house
user: test
pass: tester.
the .(dot) is part of the password

[2019-07-11 18:33] sgda021992 commented on #4459
Still facing same issue... not working fine

Error: Uncaught (in promise): NullInjectorError: StaticInjectorError(AppModule)[BsDropdownDirective -> ComponentLoaderFactory]:
  StaticInjectorError(Platform: core)[BsDropdownDirective -> ComponentLoaderFactory]:
    NullInjectorError: No provider for ComponentLoaderFactory!
NullInjectorError: StaticInjectorError(AppModule)[BsDropdownDirective -> Compo

[2019-07-11 19:34] deadmann commented on #5278
I and a friend of mine test it on mobile, it was file both on android and IOS...

~~BUT: this time i did something addition... i saw them my session expired and i need to login again, and when i logged in and the UI updated, the new button pushed content out of border...~~

So
- ISSUE 1:

~~- ISSUE 2:
Changing Item after box getting open, cause UI to break.~~

Edit: issue 2 was due to work with a

[2019-07-12 09:42] ludmilanesvitiy commented on #5324
@DmitriyIvanko Could you, please, create a reproduction on StackBlitz?

[2019-07-12 10:51] ludmilanesvitiy commented on #450
Closed as not actual anymore.

[2019-07-12 10:51] #450 closed

[2019-07-12 11:03] korinovsky opened #5325 "Active date and Bs4"
Where are no any class for active date and Bs4:
https://github.com/valor-software/ngx-bootstrap/blob/efa5229ce7306d00966d1d9d41b95a71549499cc/src/datepicker/daypicker.component.ts#L64

can`t specify style for it.

[2019-07-12 12:29] florenthobein commented on #5264
I took the initiative to provide a fix in a PR. It divides the `click` event into its `mouseup` and `mousedown` event for better handling of the cases. The only drawback is that it creates an additional event listener but to my knowledge there is no other safe way to solve this bug.

[2019-07-12 15:06] Faran52 opened #5327 "Ngx-Bootstrap modal not refreshing data changes if shown from subscription"
Before opening an issue, please search for duplicates (opened and closed)
I'm trying to open a modal from component and I'm calling the show method in response to another subscription if call it outside the subscription it works fine. But from subscription, the data passed to content is not being refreshed Below is an example of the code.

### Sample Code:
[code]

On Modal Open the `data` is empty

[2019-07-12 22:10] SSheoran84 opened #5328 "Popover not loading"
I'm using a Single-SPA architecture where I've 5 angular applications. In one of the applications, I'm using the popover module, but popover is not visible after rendering.

Below is the HTML code:
<div triggers="mouseenter:mouseleave" [popover]="popTemplate" class="abc">
      <ng-template #popTemplate>
        <span>
           DEMO
        </span>
      </ng-template>
    </div>

CSS:
:host /de

[2019-07-13 14:30] jaiprajapati3 commented on #4459
Face the same issue, also import BsDropdownModule.forRoot().

[code]

[2019-07-15 08:09] ludmilanesvitiy commented on #5328
@SSheoran84 Could you please create a reproduction on Stackblitz for this issue? https://stackblitz.com

[2019-07-15 08:10] ludmilanesvitiy commented on #5327
@Faran52  Could you please create a reproduction on Stackblitz for this issue? https://stackblitz.com

[2019-07-15 15:12] SSheoran84 commented on #5328
The issue is resolved now. Thank you for the quick response!

[2019-07-15 15:12] #5328 closed, assigned to nobody

[2019-07-16 04:11] karen-hikesupport opened #5329 "TypeError: Cannot read property 'createLoader' of undefined"
### Plunker/StackBlitz that reproduces the issue:
Using Plunkr, StackBlitz is the best way to show your issue. Issues without link to an example of reproduction might be closed.

You can use one of starter templates:

Plunkr: https://plnkr.co/edit/0NipkZrnckZZROAcnjzB?p=preview

StackBlitz: https://stackblitz.com/edit/ngx-bootstrap?file=app%2Fapp.module.ts

### Versions of ngx-bootstrap, Angular,

[2019-07-16 15:01] Gillardo opened #5330 "this._datePicker is undefined"
### Bug description or feature request:
Upon putting a datepicker into a dropdown, an error is now displayed upon first trying to open the dropdown list `this._datePicker is undefined`.  This didnt happen in v4.3.0 but only when i upgraded to v5.1.0.  If you change the example below to use v4.3.0, the problem doesnt appear.

The problem appears at line 162 of the datepicker.component.ts file, the

[2019-07-17 08:36] brachagrinfeld opened #5331 "On Edge: when opening dropdown [dropup]="true" at the bottom of the page, the height of the page increases"
### Bug description or feature request:

On Edge: When opening dropdown [dropup]="true"  at the bottom of the page, the height of the page increases, and a space is added below the dropdown

`<div class="btn-group" dropdown [dropup]="isDropup" container="body" style="margin-top: 100%">`

### Plunker/StackBlitz that reproduces the issue:

https://stackblitz.com/edit/angular-rhd815?embed=1&file=app/

[2019-07-17 15:12] pernillah commented on #5330
We are experiencing the same issues when migrating to Angular 8.

[2019-07-18 04:39] karen-hikesupport commented on #5329
yes we got the issue , in newer version having change on constructor parameter make it change like below in constructor initalise

export class HikeTypeaheadDirective extends TypeaheadDirective implements OnInit, OnChanges  {
    @Input() hikeTypeahead;
    @Input() typeaheadSearchFields = [];
    @Input() typeaheadScrollable = true;
    @Input() typeaheadMinLength = 1;
    @Input() typeaheadOptio

[2019-07-18 11:55] segersrobbertKlarrio opened #5333 "Tooltip with delay on element with routerlink crashes browser tab"
Crashes browser:
`<button routerLink="/url" tooltip="tooltip" delay="500"</button>`

Works fine:
`<button routerLink="/url" tooltip="tooltip"</button>`

ngx-bootstrap: 4.3.0
Angular: 7.2

[2019-07-18 12:54] nXsan commented on #5299
I'm with this error alredy 3 month (mayby more), and yes, this is dynamic content in template related.
Not find work around for this bug, but with 3.2.0 version ngx-bootstrap, popover work. Working with 3.2.0 version bootstrap, and regulary try solve this...

[2019-07-18 19:31] developer-kee commented on #5210
Same here does not work for me when I add

[2019-07-19 08:39] NekitCorp opened #5335 "Modal performance (rerender on scroll)"
### Bug description or feature request:
When injecting a BsModalService into the constructor, a rerender occurs with each scroll.
### Plunker/StackBlitz that reproduces the issue:
https://stackblitz.com/edit/angular-g61vpl
### Versions of ngx-bootstrap, Angular, and Bootstrap:
ngx-bootstrap: ^5.1.0
Angular: 7.0.3
Bootstrap: 4.1.3

[2019-07-20 03:13] vuhi commented on #5202
I have the same issue when [isAnimate]=true. Accordion body is no responsive with the content inside. Update to 5.1.1 fix the problem. Thanks. However, I still wonder why the component does not show any css? Is it an intended purpose?

[2019-07-20 08:24] gp187 commented on #4487
+1

[2019-07-20 08:31] gp187 commented on #3513
+1

[2019-07-20 08:55] gp187 commented on #3609
Really?!? We need to a special custom function to handle such a simple problem!? This is so stupid!

[2019-07-20 09:07] Domainv commented on #5202
@vuhi try 5.1.1 version

[2019-07-20 15:01] himanshugarg574 commented on #2356
Any update on the issue?

[2019-07-20 23:29] sod commented on #5335
related https://github.com/valor-software/ngx-bootstrap/issues/5291

[2019-07-20 23:58] sod commented on #5291
We solved this with a service like

[code]

Then you can convert e.g. a scroll listener to one that doesn't trigger global change detection anymore:

[code]

This scroll observable will stil work with changeDetectorRef & async pipe, because the event is emitted inside the angular zone. But it won't trigger applicationRef.tick() anymore.

[2019-07-21 14:31] g3344 opened #5336 "Animate progressbar with static values"
The dynamic value progressbar example has an animation where the colored bar value fills up.

Is it possible to have that animation effect (filling up the bar), with a static value?

The progressbar seems to load at the value.

https://valor-software.com/ngx-bootstrap/#/progressbar#bs3-dynamic

[2019-07-21 17:30] sanjaypraja commented on #1153
have any one find solution for month change using next & previous arrow event?

[2019-07-22 04:22] #5329 closed, assigned to nobody

[2019-07-22 20:50] emrekunt commented on #2716
you need to import BrowserAnimationsModule to app.module.ts too.

import { BrowserAnimationsModule } from '@angular/platform-browser/animations';

[2019-07-22 23:55] guiernew commented on #5125
Same issue here, is there any updates?

[2019-07-23 08:35] JoshuaAlzate commented on #2356
I believe this is an Angular issue [here](https://github.com/angular/angular/issues/14324). But wow, this issue still not closed.

[2019-07-23 11:04] tanumoy88 opened #5338 "ngx datepicker inline value fetch in reactive form, using bs-datepicker-inline"
Before opening an issue, please search for duplicates (opened and closed)
https://github.com/valor-software/ngx-bootstrap/issues
There's no need to open an issue here if you want to ask general question, use [StackOverflow](https://stackoverflow.com/questions/tagged/ngx-bootstrap) or [Slack](https://join.slack.com/t/ngx-home/shared_invite/enQtNTExMTY5MzcwMTM0LWQ5M2Y4OWM0OGJjNmZiOGYyNjFlZTdlOGI1Yjc

[2019-07-23 11:20] maxandriani commented on #2356
This is not entirely an angular issue. The way how ng works is not compatible to your guys implementation. The lazy load module encapsulation will never allow provide lazy load factories on global FactoryResolver.

The way ng team and obter libs fixed this issue is working w/ two services. One provided in Module Scope, dedicated to resolve component reference. And a second service provided in root

[2019-07-23 14:59] ludmilanesvitiy commented on #5333
@segersrobbertKlarrio Could you, please, try the latest version of ngx-bootstrap - 5.1.1 for this issue?

[2019-07-23 15:01] ludmilanesvitiy commented on #5338
@tanumoy88 For now, this issue is not clear. Could you please, add more info and reproduction on Stackblitz if you want to describe some problem.

[2019-07-23 15:42] fireappsAdmin commented on #5330
I'g getting an extremely similar error for the dropdown toggle while upgrading to angular 8. `TypeError: _this._documentClickListener is not a function at... `. It seems as though it could be related to this.

[2019-07-23 18:35] Hojekunle commented on #3440
Well i tried the below and works well instead of trying the long function above

const dos: Date = this.userEditForm.controls['dateOfSignOff'].value;
dod.setHours(dod.getHours() - dod.getTimezoneOffset() / 60);

<form [formGroup]="userEditForm" #formDir="ngForm" (ngSubmit)="submit()" class="form form-horizontal" id="userEditFormId">

  submit() {
      const dos: Date = this.userEditForm.controls[

[2019-07-23 18:54] HarisHorozovic commented on #5042
in member-detail.component.ts change the following code on line 17, "@ViewChild('memberTabs')  memberTabs: TabsetComponent" to "@ViewChild('memberTabs', {static: true}) memberTabs: TabsetComponent", note: I am using Angular 8 for the same course as you are and it works for me, hope it works for you as well.

[2019-07-24 04:30] tanumoy88 commented on #5338
@ludmilanesvitiy thank you for reply. I am using ngx-bootstrap inline datepicker. but I am not able to get value from this either using template driven form using ngModel or using reactive form with formcontrolname, its throwing error and and also value is not retrieving by using ngModel and formControlName. Now how to get value using either any of this.

[2019-07-24 07:56] hojekunle commented on #3609
Try the below function OnInit. Below function processes the timezone offset upon loading the record from db and you need to also use same when saving the record (or on date change event). Effect is saving and displaying the "Date chosen" by the user and not "Date chosen minus 1 day".

const dd = new Date(this.userEditForm.controls['dateOfDeployment'].value);
        dd.setHours(dd.getHours() - dd.

[2019-07-24 08:02] hojekunle commented on #3440
This is an issue we have to live with for now but below is how i handle it.
Below function processes the timezone offset upon loading the record from db and you need to also use same when saving the record (or on date change event). Effect is saving and displaying the "Date chosen" by the user and not "Date chosen minus 1 day".

const dd = new Date(this.userEditForm.controls['dateOfDeployment'].va

[2019-07-24 08:03] batgos opened #5339 "Multiple dropdown but close only one"
### Bug description or feature request:

Hello,
I have 2 dropdown opened in same time but i want to close only one
I've distinct my dropdown by changing id : #dropdown="bs-dropdown" and #dropdown2="bs-dropdown" but seems it's doesn't effect each time i call dropdown2.hide() the both close
Do there is another solution ?
Thanks

### Plunker/StackBlitz that reproduces the issue:

### Versions of ngx-

[2019-07-24 10:07] cdmhari opened #5340 "Datepicker placement "bottom left" not at all working. Always opens in middle of the field."
Here is a live example to demonstrate the issue
StackBlitz: https://angular-9yzpyn.stackblitz.io

### Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 5.1.1

Angular: 8.2.0-next.1

Bootstrap: 4

[2019-07-24 12:30] brboi commented on #5125
Hi everyone ;-) Same goes here \o/

[2019-07-24 13:59] donnalmh commented on #5125
I guess we could start a community out of this.

On Wed, Jul 24, 2019, 8:30 PM biddaputzese <notifications@github.com> wrote:

[2019-07-25 09:46] tvoloshyn commented on #823
Below is a directive which you can use to specify tab order.
Instead of relying on `id` field which might be used for something else,
it "patches" the object with `__tabOrder` property.

[code]
usage:
[code]

[2019-07-25 13:24] shingle2302 opened #5341 "the document of using ngx-bootstrap is not work well"
Before opening an issue, please search for duplicates (opened and closed)
https://github.com/valor-software/ngx-bootstrap/issues
There's no need to open an issue here if you want to ask general question, use [StackOverflow](https://stackoverflow.com/questions/tagged/ngx-bootstrap) or [Slack](https://join.slack.com/t/ngx-home/shared_invite/enQtNTExMTY5MzcwMTM0LWQ5M2Y4OWM0OGJjNmZiOGYyNjFlZTdlOGI1Yjc

[2019-07-25 14:33] brboi commented on #5125
Any idea how to pull @FrancescoBorzi fix locally ?

I am a lone developer already full of stuffs to do ^^
If somebody just has the correct lead on how to do that, I can handle the rest ;-)

[2019-07-25 15:31] Peppermint138 commented on #5299
Similar issue here. I have a list where every item gets its own popover. I have set placement="auto" and triggers="mouseenter:mouseleave" as well as container="body". The popover uses a template and all works well and as expected until v3.2.0. But in later versions the popover appears in the wrong location and also flickers constantly between visible/invisible even if I leave the mouse completely

[2019-07-25 17:11] souljja opened #5342 "Wrong date in input after click in calendar"
Steps to reproduce the bug:
1) Open calendar (by click to input).
2) Then type in input number, for example `3`;
![image](https://user-images.githubusercontent.com/24767181/61893921-e6a21000-af17-11e9-89ec-4b13527d572a.png)

3) Then chose date in calendar.

Current result: the date in input is not equal the date that we have chosen in calendar;

![image](https://user-images.githubusercontent.com/2

[2019-07-25 20:51] ceciliazcx commented on #4730
@Domainv @harishkrishnan24  Anyone know whether the issue is solved?

[2019-07-25 22:35] faran52000 commented on #5113
Any idea when this would be resolved? seriously need this feature

[2019-07-26 08:02] FrancescoBorzi commented on #5125
@biddaputzese not sure if there is a way to fix it locally, if by locally you mean without modifying the library source code.

[2019-07-26 14:07] fabriciodev9 commented on #2809
It worked for me. Thanks!

[2019-07-26 14:08] fabriciobatalha commented on #2809
It worked for me. Thanks, @manmohanagarwal4!

[2019-07-27 13:09] hitaspdotnet commented on #4399
Any update?

[2019-07-29 09:05] brboi commented on #5125
@FrancescoBorzi nope I meant by modifying the library source code.

I am still at the beginning of my journey in the Angular/NodeJS world.
I won't say I am a newly born developer either.

If anyone can please just share the main steps (a few keywords would suffice, anyone here probably know how to find and read the docs) we should do in order to modify the library source code, it would be much app

[2019-07-29 09:10] Victor716 opened #5343 "How to override the template and some functions of datepicker?"
I'm wondering how to override the template in BsDatepickerNavigationViewComponent

[2019-07-29 09:10] FrancescoBorzi commented on #5125
@biddaputzese welcome to the Angular/Node world!

there is a PR of mine which fixes this issue, however it cannot be merged since apparently it would break something else: https://github.com/valor-software/ngx-bootstrap/pull/5248

you can find the instructions about how to build the library in the main README.md file

[2019-07-29 09:23] vd-nagarro commented on #582
@valorkin  - Do we have any update on this as we need to add ARIA attributes for Accessibility with typeahead so that items can be read on the screen reader.

[2019-07-30 06:14] nelisbijl commented on #885
For those desperately awaiting this rather essential feature, I created a directive for this based on the code found here https://github.com/maaaaark/bcSwipe/blob/master/jquery.bcSwipe.js :

[code]

[2019-07-30 08:52] JamesHobday21 opened #5344 "Small documentation mistake"
Hi,
in the docs its gives the wrong event for listening for when a tab is selected. It says '(selectTab)' whilst the correct event is just '(select)'. Took me a little while to figure it out.

https://valor-software.com/ngx-bootstrap/old/4.0.0/#/tabs#select-event

[2019-07-30 09:41] jt4000 opened #5345 "Increase the Size of the Modal"
Goal:
Make modal as a large modal by using class "modal-lg"

Problem:
Don't know how to solve it when I tried using the syntax code "modal-lg" in different places.

Info:
*I'm new in angular
*Using VS code and ngx-bootstrap

Thank you!

https://stackblitz.com/edit/angular-nested-component-modal-ngx-bootstrap-not-working-ap7wnp

[2019-07-31 13:59] ejasarevic opened #5347 "Popover/tooltip mouseleave trigger - extend mouseleave area to tooltip/popover content"
### Bug description or feature request:
When using Tooltip/Popover component, we can specify custom triggers when they will appear/hide. What I am trying to achieve is to display tooltip/popover on hover and hide when either popover element or popover content are not hovering. Currently, it only works for the element on which popover is attached, but if we have some links or something in the popov

[2019-07-31 18:42] Drageaux commented on #4484
Why was this closed? No plunker?

This is a problem. Modal should not be adding inline style on close, otherwise it will dictate style of the whole body without allowing any CSS to fix it.

Couldn't it just be
[code]

[2019-07-31 18:43] Drageaux commented on #4484
It's because some js code is measuring the screen width on open/close. This is especially trouble some for nested scrolling modals.

[2019-07-31 19:14] tejberizsa opened #5348 "pagination modul href value cannot be set --> appliacation mapping problems with GoogleBot"
### Bug description or feature request:
Pagination buttons have empty href value and I did not found a way to set it.
Unfortunatelly that causes that GoogleBot cannot map only the first page of the application.
The event based behavior is insufficent, there would be important to set href for site mapping.

### Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 5.1.1

Angular: 6

Bo

[2019-08-01 07:55] masonmark commented on #2015
If you find this old issue in 2019 because the dropdown is not working on an `<a>` tag but it is working on a `<button>` , try @joeangry 's solution verbatim. In my case (using Bootstrap 3) I initially copied and pasted the sample code from the [documentation](https://valor-software.com/ngx-bootstrap/#/dropdowns#anchor-trigger) into my component, and it still didn't work.

I found I had to add the

[2019-08-01 08:09] xigolle commented on #2677
@davenlin19 It is pretty easy to accomplish this if you take the code snippet from @valorkin :
[code]
You just have to change that to the following code:
[code]
So adding the mouseleave event on the trigger & on the dropdown menu.
This way it will close when leaving the dropdown as when leaving the trigger.

The thing to note here that there dropdown & trigger should be "attached" to each other.
I

[2019-08-01 12:42] ceoaliongroo commented on #4823
I need to use Angular 8 and Ivy. already working in angular 9 next

It's possible to work on this? @valorkin

[2019-08-01 14:26] MatteoMeil commented on #1281
With `[typeaheadIsFirstItemActive]="false"` the only way to close the popup and focus another input is clicking in a blank space or directly onto the input.
I expect I could use `Tab` to focus another input and, of course, the model not to be filled with any value from prediction results.
Am I missing something, i.e. it's the desired behavior, or it's a bug?

[2019-08-01 15:31] abhandari24 commented on #2175
I am facing the same issue, I have created our custom component around ngx-bootstrap pagination component, which sets the itemsPerPage and it has its own event but the pagechanged event is firing irrespective of that. And I dont want to come back to last page after page changed instead to first. Please if anyone can help with the workaround that. Thanks

[2019-08-01 22:40] vuhi commented on #4157
still experience this issue in the newest ngx bootstrap!

[2019-08-02 08:39] Pizzicato commented on #4412
Any news about this? If this helps anybody, I'm doing this in the Observable creation:
[code]

[2019-08-02 15:28] eh1160 opened #5349 "`dropdown-menu-right` class not working with `container="body"`"
I can't get the `dropdown-menu-right` class to work when I also apply the `container="body"` parameter.  The dropdown panel appears off the screen.

See [this StackBlitz](https://stackblitz.com/edit/ngx-bootstrap-dropdown-uwvpvy?file=app%2Fapp.component.html)

[2019-08-04 13:53] griga commented on #281
To create sliding animation I've came up with next solution

in main `styles.scss` add
[code]
You can use it than in component like:
[code]
PS: The single problem left is that slides are always moving from right to left, no matter which arrow you've pressed. I will update answer when/if I resolve this

[2019-08-04 17:47] basilinjoe commented on #2716
can't find the css file, instead i found the scss file and am using sass. what to do ?

[2019-08-05 00:10] lizlux commented on #5330
I had this same problem and was also using `<datepicker>` instead of `<bs-datepicker-inline>`. Switching to the latter fixed my issue.

[2019-08-05 11:37] pbaukov opened #5351 "Why ukLocale was removed from chronos?"
Hello there, I'm developer from Ukraine and I'm wondering why Ukrainian locale was removed? I see it was there like 1-1.5 years ago and now it's gone. How can I add my own locale to datepicker then?

[2019-08-05 13:45] KrishnaRathore opened #5352 "Dynamic containerClass in Tooltip not working Properly"
Hi Team ,
When I click the button the tooltip class does not change.Until we move the cursor and move it back again on the button.

Stackbliz Demo - https://stackblitz.com/edit/angular-ngx-bootstrap-tooltip-containerclass-issue?file=app/class.html

[2019-08-05 14:46] indexlang commented on #5006
same problem as minMode set to "Year"

[2019-08-06 07:17] pbaukov commented on #5351
Actually I see uk.ts localization file here, for example:
https://github.com/valor-software/ngx-bootstrap/blob/v5.1.0/src/chronos/i18n/uk.ts

But I don't see any "uk" files when I install latest ngx-bootstrap version

[2019-08-06 07:30] pbaukov commented on #5351
OK, as I see, it's just not added here
https://github.com/valor-software/ngx-bootstrap/blob/development/src/locale.ts

Is there any reason for that?

[2019-08-06 15:46] conrado-l commented on #2356
¿Any updates on this?

I'm getting multiple modalService instances because of the "ModalModule.forRoot()" workaround, and by doing this I can't use "setDismissReason" and the "onHide" event properly for all the modals.

Thanks for the great library.

[2019-08-06 18:43] Lkledu opened #5354 "Open modal from other component"
I've two components (widgetComponent and filterComponents). When I click in a widget I want to open a modal that was in filterComponent.

**widgetComponent.html**
[code]

**filterComponent.html**
`<ng-template #templateFilter></ng-template>`

**filterComponent.ts**
[code]

it's calling the showModalFilter( ) method but not opening the modal, when i try  see the modalFilter object the console retur

[2019-08-06 23:03] EoinGriffin-AI commented on #5223
@Domainv This should really be in the documentation. If it weren't for @shainanigans asking this question there's no way to know about the `start` option.

[2019-08-07 07:30] #5125 closed, assigned to nobody

[2019-08-07 07:49] Domainv commented on #5333
@segersrobbertKlarrio In 5.1.1 version works correctly
https://stackblitz.com/edit/angular-gtkjbc?file=app/delay.html

[2019-08-07 07:49] #5333 closed, assigned to nobody

[2019-08-07 12:35] Lkledu commented on #5354
I got it by passing the class in show( ) method. But now i'm having problem in pass an object to the modal.

OBS: I needed pass BsModalRef as a provider in my module, to inject the instance created in widgetComponent to filterComponent (in the case of anyone reach to this issue with the same problem).

[2019-08-07 12:45] Lkledu commented on #5354
A managed to pass data by using initialState modalOptions propertie [refered here](https://valor-software.com/ngx-bootstrap/#/modals#bs-modal-service). I don't realized i've need to use the exactly name "initialState" to can pass data.

[2019-08-07 12:45] #5354 closed, assigned to nobody

[2019-08-07 16:19] px751 commented on #2917
Hello guys, any news on this issue? :)

[2019-08-08 06:00] elvisss opened #5356 "Dynamic outsideClick in popover not working as expected"
Hi team, I'm trying to change outsideClick dynamically using a checkbox inside the popover, by default outsideClick is true, but once is opened I would like to change that property using the checkbox inside so when the user click outside the popover wont close.

StackBlitz: https://stackblitz.com/edit/angular-odjjn8

ngx-bootstrap: 5.1.2
Angular: 8.0.0
Bootstrap: 4.3.1

[2019-08-08 08:56] nitinjs commented on #5064
I am facing the same issue,

how did you get rid of this issue??

[2019-08-09 08:00] ismcagdas commented on #2998
Same for me for dropdown.

[2019-08-09 12:14] dl7 opened #5357 "Dropdown close after date select"
### Bug description or feature request:

I'm creating a component to filter data in a table. The component is using dropdown. In `dropdownMenu` I can put various types of input e.g. checkboxes, text, datepicker.
Checkboxes and text work very well, but I've problem with datepicker. When I select a date, both datepicker and dropdown close, but I want to dropdown stay open.

It is possible to add `[a

[2019-08-10 05:09] krishna1937 opened #5358 "how to add more smart-tables in ngx-admin"
Before opening an issue, please search for duplicates (opened and closed)
https://github.com/valor-software/ngx-bootstrap/issues
There's no need to open an issue here if you want to ask general question, use [StackOverflow](https://stackoverflow.com/questions/tagged/ngx-bootstrap) or [Slack](https://join.slack.com/t/ngx-home/shared_invite/enQtNTExMTY5MzcwMTM0LWQ5M2Y4OWM0OGJjNmZiOGYyNjFlZTdlOGI1Yjc

[2019-08-11 08:28] srijib opened #5359 "position datepicker dialog middle of screen or page"
position datepicker calander middle of screen not working.  tried with renderer, jquery nothing works.
can not set these style properties
`top: 50%
  left: 50%
  transform: translate3d(50%, 50%)
`
I want the datepicker to open in the middle of screen like the way modal popup does
see below screen where the datpicker is appearing
![datepicker](https://user-images.githubusercontent.com/7030187/62831

[2019-08-12 08:00] ludmilanesvitiy commented on #5359
@srijib Could you, please create a reproduction for this issue on Stackblitz?

[2019-08-12 10:55] prambhan commented on #1720
hello all,

I am using carousel from this bootstrap module. Everything works fine, but in mobile devices I am not able to change the slides through touch and slide. Only way to change slides is to click on the arrow? Is there any builtin option or will it work on devices with touch?

Thanks

[2019-08-12 19:24] juliancuni commented on #2716
@basilinjoe

That's exactly what I have wrote. Try to import the BsDatepicker style on the style.scss
Browse node_modules/ngx-bootstrap/datepicker, check if bs-datepicker.css exist, then edit style.scss and put this row
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';

PS: my comment witch you referring is 2 years old. I guess things have changed since that time. Anyway give i

[2019-08-12 21:47] g3344 commented on #3623
Did anyone find an answer to this?  Running into the same issue

[2019-08-12 21:55] g3344 commented on #5155
@piernik  Any chance you would mind showing how you did your workaround?  Thanks!

[2019-08-13 15:01] srijib commented on #5359
https://stackblitz.com/edit/angular-4xp3ex
https://angular-4xp3ex.stackblitz.io

In the example I am showing the selected date on the left of the screen ,green button which opens the calendar dialog, I want the dialog to appear at the middle of screen like modal dialog popup with black backdrop (similar to blue button)

[2019-08-14 10:32] ludmilanesvitiy commented on #5358
Close due to: not enough information and look like issues not related to ngx-bootstrap library

[2019-08-14 10:32] #5358 closed, assigned to nobody

[2019-08-14 10:41] ludmilanesvitiy commented on #5357
@dl7 You can set [autoClose]="false" to the dropdown, like in this example: https://valor-software.com/ngx-bootstrap/#/dropdowns#autoclose

[2019-08-14 10:42] #5357 closed, assigned to nobody

[2019-08-14 10:51] ludmilanesvitiy commented on #5352
@KrishnaRathore You need to make this change in your template:
[code]
As shown in this example: https://valor-software.com/ngx-bootstrap/#/tooltip#custom-class

[2019-08-14 10:51] ludmilanesvitiy commented on #5352
quest

[2019-08-14 10:51] #5352 closed, assigned to nobody

[2019-08-14 10:53] ludmilanesvitiy commented on #5351
@pbaukov If you need a new locale - you can create a PR with that change.

[2019-08-14 11:08] ludmilanesvitiy commented on #5344
@JamesHobday21 You're looking into the old documentation, newest one: https://valor-software.com/ngx-bootstrap/#/tabs#select-event

[2019-08-14 11:08] #5344 closed, assigned to nobody

[2019-08-14 11:23] ludmilanesvitiy commented on #5341
You need to follow these instructions: https://valor-software.com/ngx-bootstrap/#/documentation#installation-instructions

[2019-08-14 11:23] #5341 closed, assigned to nobody

[2019-08-14 11:51] dl7 commented on #5357
@ludmilanesvitiy
However, as I mentioned, I would like to keep the auto close behavior after outside click. If I set [autoClose]="false", it won't work.

[2019-08-14 13:51] kameelyan opened #5360 "Blur event inconsistent on typeahead"
### Bug description or feature request:
Typeahead blur event seems very inconsistent.

### Plunker/StackBlitz that reproduces the issue:
https://stackblitz.com/edit/angular-7spriy

With developer console open:

- In the typeahead, enter 'il' to get the results Illinois. Without selecting Illinois, click outside the box. --> **Blur Event works properly**
- Clear the entry and in the typeahead, ente

[2019-08-14 16:01] aardva13 commented on #4562
This works for me but it has to be in styles.css:

.modal-lg {
    max-width: 600px !important;
}

[2019-08-15 03:37] bestbelief opened #5361 "Hello, i see http://ngx-bootstrap.com/#/modals cannot access"
Hello
![image](https://user-images.githubusercontent.com/34058047/63071153-ab13c800-bf50-11e9-9b74-b83f7d789362.png)
This page(http://ngx-bootstrap.com/#/modals) cannot be opened, other pages can be opened normally.
Please have a look. Thank you.

[2019-08-15 09:52] healer11111 commented on #5343
I want to know how to add a footer in the datePicker component

[2019-08-15 14:38] basilinjoe commented on #2716
Sorry

[2019-08-15 15:22] Domainv commented on #5361
@bestbelief It's the wrong link.
Correct link to ngx-bootstrap is here https://valor-software.com/ngx-bootstrap/#/modals

[2019-08-16 01:09] bestbelief commented on #5361
@Domainv Ok，i get. Thank you very much

[2019-08-16 01:09] #5361 closed, assigned to nobody

[2019-08-16 04:49] CR903 opened #5362 "datepicker dateCustomClasses changed not display"
bs-datepicker-inline and minModel

ngx-bootstrap: 5.1.1

Angular: 7.2.14

Bootstrap: V4

First of all, my English is poor！

when I change ‘dateCustomClasses’ value, datepicker did not display the mark. then hover the calendar，that display.

1. init:
![image](https://user-images.githubusercontent.com/7643647/63144085-de735700-c023-11e9-8e5e-e739f59e4ba2.png)

2. then change `dateCustomClasses` valu

[2019-08-16 08:37] Victor716 commented on #3721
<input placement="bottom left" bsDatepicker> doesn't work in the latest version

[2019-08-16 08:40] Victor716 commented on #5340
I met the same issue

[2019-08-16 13:47] Domainv commented on #3440
Closed as duplicate of #3609

[2019-08-16 13:47] #3440 closed

[2019-08-16 13:51] Domainv commented on #3609
Could someone help me with reproduction steps of the issue?

[2019-08-16 17:38] manish-jain-1 commented on #4155
@IlyaSurmay Above solution hides entire tab component. Looking to hide only one of the tabs based on some condition. Any ideas how to achieve that?

[2019-08-18 22:13] zaiddabaeen commented on #5168
ngx-bootstrap is used heavily in our editor at **DeveloperHub.io**, it provides most dropdowns and modals.

Company Name: DeveloperHub.io
Website: https://developerhub.io
Logo image: https://res.cloudinary.com/developerhub/image/upload/v1561908888/1/gmoiyrndwsboeffgiz1x.svg

[2019-08-19 02:14] as-ghub opened #5363 "type ahead drop down width with template"
I am using type ahead from ngx-bootstrap 2.0 version with bootstrap 3. I have a template for drop down results inside which I have a custom component for showing the drop down result set. The width of the drop down is very less. The drop down shows a horizontal scroll because of size of my custom component element inside the template. I want to adjust the width of the drop down's container to matc

[2019-08-20 07:21] ghost commented on #5309
The same issue here. Any news on this subject? We have a productive app in Angular 8, and so we have to use the newest versions ( 5.x.x ) of ngx-bootstrap. Any solutions? 🥇

[2019-08-20 10:22] andreagosto commented on #3114
Is possible to change the text in the numbered buttons? I would like to set some dates

[2019-08-20 11:13] Domainv commented on #3609
@callawey Please try this version

npm i ngx-bootstrap-ci@5074c7a6bb15cf697047e48cabd767a3777d7965
then rename ngx-bootstrap-ci => ngx-bootstrap inside node_modules

[2019-08-20 20:54] ajpgross commented on #4168
Would it be possible to see an example implementation? The anchor element that controls tab switching does not seem to be easily accessible in order to add the necessary "role", "aria-controls", and "aria-selected" attributes. @tarusin @svetoldo4444ka

[2019-08-21 10:05] osiala commented on #2917
When we use modal with component, the associated component will be destroyed when you close/hide your popup so we can identify close/hide event using the ondestroy event of the associated component :

in your parent component where you initialize the modal you define your modal using observable like that :
`           let destroySubject = new Subject();

            new Observable<Callback>(observ

[2019-08-21 13:56] Domainv commented on #3609
@imben1109 @Hojekunle @waldof123 @viktor-mezhenskyi @roscoedeemarutam

Please, try this version
npm i ngx-bootstrap-ci@d94457108f5fd2527b7cab501e1cc0271a087a08
then rename ngx-bootstrap-ci => ngx-bootstrap inside node_modules

[2019-08-22 18:13] philipcolejohnson opened #5365 "Popover hover trigger on mobile allows click through popover"
### Bug description or feature request:
On mobile, the hover trigger seems to allow click propagation through the popover. What seems to be happening is that a finger press runs a mouseout event that closes the popover, and then a click event happens immediately afterward at the same coordinates. Since the popover has just been closed, the element beneath gets clicked instead.

### Plunker/StackBl

[2019-08-23 09:33] MaximumRGB opened #5366 "ngbTypeahead inside modal window problem"
Hello everyone.
I have a problem using ngbTypeahead in modal window, shown by BsModalService. On every typing inside ngbTypeahead `<input>` element my app sends http-request. The problem is that if i make a mouse click in modal window area ("modal-content") at the moment when request is sent, but answer is not got yet, then request canceles.

template `<input>` element:
`<input type="text"

[2019-08-23 14:39] ScantechX opened #5367 "Datepicker: Custom month-year"
### Feature request:
Datepicker's API has prop customTodayClass. How to get today's month, year?

### Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 5.1.1

Angular: 8.2.2

Bootstrap: 3.4.1

[2019-08-24 07:38] johaven commented on #940
+1

[2019-08-26 07:27] Shyamasish commented on #2716
This resolved my issue..thanks a lot

[2019-08-26 14:17] mentadev opened #5368 "Date Range Picker: empty input field when editing date from input field"
### Bug description or feature request:
When editing the date right **from the input field** instead of using the picker on a Range Date Picker **with custom date format**, the input field is cleared/set to an empty string after pressing the enter key (i.e. when the focus is lost).

### Plunker/StackBlitz that reproduces the issue:
1. No need to use Plunkr or, StackBlitz, just go to the "Custom da

[2019-08-26 16:09] imben1109 commented on #3609
@Domainv I took a look on ngx-bootstrap-ci@d94457108f5fd2527b7cab501e1cc0271a087a08. It should be my expected result.

I want to try on this version by npm install ngx-bootstrap-ci@d94457108f5fd2527b7cab501e1cc0271a087a08

[code]

I have another issue for custom timezone which I want to select a timezone which is different from the timezone browser timezone offset.

e.g. Browser Timezone: +7
Custo

[2019-08-27 13:58] shuklashaishav commented on #3415
@valorkin  Thank you that did the trick.

[2019-08-28 02:55] scottd98052 commented on #3075
Setting the container to 'body' was the fix for me.

[2019-08-28 07:01] tinogo opened #5369 "Animated collapse: Remove overflow:hidden after animation"
# Bug description or feature request:

When using an animated collapse, the inline style `overflow: hidden` is being added. While the animation is running this is fine, but when the animation is finished this inline style should be removed again, as this causes elements which need to overflow (like custom autocomplete components) to be cutoff.

### Steps to repeat:
1. https://valor-software.com/ng

[2019-08-28 08:44] makahleh opened #5370 "typeahead async loading does not remove old elements"
Hi,

I am using typeahead for searching in my website,
When first typing, the leading div appears correctly, and when the results return, the elements are shown correctly.

But the problem is after that when the user continue typing after the first time, the loading div appears but the previously elements are not cleared( as shown below)

![image](https://user-images.githubusercontent.com/24154760

[2019-08-28 13:01] Vl4t0m1c0 commented on #3075
Hello,  I had similar problem, for me "**top tooltip**" was jumping 1px up and down nonstop only in chrome browser.
**My fix** was changing padding in component to:
`.bs - tooltip - top, .bs - tooltip - auto[x - placement^="top"] {
        padding: 0.3rem 0;
 }`

**Code before:**
`.bs - tooltip - top, .bs - tooltip - auto[x - placement^="top"] {
        padding: 0.4rem 0;
 }`

[2019-08-29 11:13] 901F opened #5371 "datepicker bug when select february month it show march not february"
Before opening an issue, please search for duplicates (opened and closed)
https://github.com/valor-software/ngx-bootstrap/issues
There's no need to open an issue here if you want to ask general question, use [StackOverflow](https://stackoverflow.com/questions/tagged/ngx-bootstrap) or [Slack](https://join.slack.com/t/ngx-home/shared_invite/enQtNTExMTY5MzcwMTM0LWQ5M2Y4OWM0OGJjNmZiOGYyNjFlZTdlOGI1Yjc

[2019-08-29 12:31] vijayhardaha commented on #5340
Any Update on this issue? I am also looking for bottom left Or top left position.

[2019-08-29 14:45] lolismatic commented on #5330
It seems to be a issue related to `ViewChild` [static change in Angular 8](https://angular.io/guide/static-query-migration).

In my case updating `datepicker.component.ts`:
[code]
to
[code]
fixed the issue.

[2019-08-29 15:02] pernillah commented on #4112
I also want to know if there's a solution for this. It interferes with our own validation.

[2019-08-29 20:05] daniloff200 commented on #5371
oh
that's weird
and it really looks like that

Hope to get a chance to look on that soon

[2019-08-30 09:32] DebolaA opened #5372 "ngx-boostrap tabDirective (remove event)"
I want the tabs to be removable, but want user confirmation before closing tab.
Is there a way to prevent tab closing after the tab close button is clicked?

<tabset #resourceTabs>
                <tab *ngFor="let tabz of tabs"
                        [heading]="tabz.title"
                        [active]="tabz.active"
                        (selectTab)="onSelectTab($event, tabz)"

[2019-08-30 09:32] lolismatic opened #5373 "Datepicker writeValue fails to find reference to view component during ngOnInit hook of parent component"
### Bug description or feature request:

When 'writeValue' is called in a ngOnInit hook, the datepicker fails to find `datepicker-inline` view reference.

This is due to using ViewChild(..., {static: **false**}).

[StackBlitz](https://stackblitz.com/edit/angular-xsdd1f)

### Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 5.x.x
Angular: 8.x.x
Bootstrap: 3.x.x

### Build system:

[2019-08-30 09:47] DebolaA commented on #786
having the same issue too;
i will implement my own remove button;
this request should be dealt with please.
thank you

[2019-08-30 13:27] JAspeling commented on #3553
Also having this issue. The Above mentiioned `setTimeout(() => { /* set the config here */})` is not working for me though. Ugly workaround :(

[2019-08-30 13:36] JAspeling commented on #3553
Component:
[code]
config:
[code]
also works. Its also not an ideal workaround. It's a normal date pipe from `@angular/core`

[2019-08-30 14:51] mdentremont opened #5375 "4.3 & 5 fail due to missing dependency error"
Newer versions fail for me - does the README need "@angular/animations" to be added as a required dependency (or better yet, via the package.json so we don't need to explicitly install it)?

[code]

The error goes away after installing `@angular/animations`

[2019-08-30 16:07] daniloff200 commented on #5371
I've found the reason of that issue
That happened only on 29,30, and 31th of every month.
If you try to change your local date to, for example, 1st of September, you will not have this issue.
I'm gonna push some fix today, and with @Domainv  we gonna decide, how to avoid that on Monday

Thanks, @zMADCATz

cc @Domainv

[2019-09-02 13:36] onepoordeveloper commented on #3075
I was facing the same problem and found out that it was because of css transition on all elements
`* {
transition: 0.1s;
}`

[2019-09-02 16:25] Darkein opened #5377 "[bug] tooltip with delay doesn't disappear"
### Bug description or feature request:
small bug with delayed tootips: If I set a delay of 1s then mouse over and mouse leave the element with tooltip fast, the tooltip appear after 1s but I can't hide it, except if I mouse over the element again.

If I mouse leave the element before the delay, the tooltip shouldn't appear.

You can reproduce it on the tooltip with delay exemple:
https://valor-so

[2019-09-02 23:28] ghost commented on #4245
This issue is still present with latest version. Please see below stackblitz link to reproduce the issue:
https://ngx-bootstrap-pcns6w.stackblitz.io

[2019-09-03 03:50] 901F commented on #5371
It not happen only february.
It effect other month too
example you choose 31 March and select to April it will show May
I think you should rework this function by set to 1 or 28

[2019-09-03 06:48] chinnivyshnavi opened #5378 "Manual type date conflict with [maxDate]"
I am using template-driven form. Also, for the input textbox, there is ngx-bootstrap datepicker applied with [minDate] and [maxDate]. For me, the client requirement is, when the user enter a date manually in the textbox which is greater than the [maxDate] then the form should accept to save the date. But my problem is, when the date entered manually is greater than [maxDate], the form is becoming

[2019-09-03 08:05] lolismatic commented on #5373
I wanted to add that this bug happens even when using ngModel, and assigning a [value during ngOnInit](https://stackblitz.com/edit/angular-z7kymo).

Even though the datepicker is still usable on Chrome, **on IE9-11 it breaks the application**.

I found this during the migration to angular 8, and because of the complex logic of our DatePicker usage we cannot prevent the assignment on `ngOnInit`.

T

[2019-09-03 08:37] daniloff200 commented on #5371
@zMADCATz
oh, that's true
yeah, that definitely has to be fixed too

[2019-09-03 09:45] mcanic commented on #5087
yes this makes timepicker not totally unusable, but I have to workaround. it sould integrate as expected with form validation, but it's not

[2019-09-04 13:23] Domainv commented on #3609
@imben1109
Please, retry this version
npm i ngx-bootstrap-ci@430758f867a9d2b385f14d9bc60a3a5b15cf0bf4
then rename ngx-bootstrap-ci => ngx-bootstrap inside node_modules

[2019-09-04 18:23] SteffenKoehler commented on #5299
I rechecked the first StackBlitz (https://stackblitz.com/edit/ngx-bootstrap-bdexcy) and it seems that it's not only related to the dynamic template, it seems also be related to the `overflow: auto` container style.

With overflow
<img width="1128" alt="overflow-auto" src="https://user-images.githubusercontent.com/9463791/64279257-e94c4800-cf4e-11e9-9c05-79b5c6c5d1cb.png">

Without
<img width="1128

[2019-09-04 18:26] malcomm opened #5379 "btnRadioGroup select and arrow keys not working"
### Bug description or feature request:

I'm using the btnRadioGroup described here:

https://valor-software.com/ngx-bootstrap/#/buttons#radio-button

When using the keyboard to select items, I expected:

1. Space bar to select / de-select the current highlighted radio button
2. Arrow keys to toggle the highlight

### Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 5.1.1

Angula

[2019-09-04 20:27] dev01dwu commented on #823
@tvoloshyn nice man!! Great solution!!

[2019-09-05 09:38] daniloff200 commented on #5313
RIght now, by default you can't select these dates, and they are disabled (unless, you don't use https://valor-software.com/ngx-bootstrap/#/datepicker#select-dates-from-other-month in config)

Then, you need to add `display: none` to  `.bs-datepicker-body table td span.is-other-month `

[2019-09-05 09:43] Domainv commented on #2578
Close as outdated

[2019-09-05 09:43] #2578 closed

[2019-09-05 10:24] gthom9 commented on #582
Hello, is there any update on when this will be added? Thanks

[2019-09-05 20:42] malcomm opened #5380 "feature request: numeric input"
I'm thinking of adding a numeric component. I'm using ngx-bootstrap in my project and I built my own; was thinking this might be a nice add for this project. The general idea is to have an input that handles numeric data:

<img width="189" alt="Screen Shot 2019-09-05 at 1 30 23 PM" src="https://user-images.githubusercontent.com/5497353/64378360-5f00f400-cfe1-11e9-96b7-3aa41d67c618.png">

The input

[2019-09-06 09:14] sri-ir commented on #5247
Hello @ludmilanesvitiy, check this stackblitz url  https://stackblitz.com/edit/ag-grid-template-renderer-example-pu8epa

I observed grid scrollbar still working when i am opened modal.

Is there any solution or suggestions to prevent that background grid scroll.

[2019-09-06 13:03] roroland opened #5381 "Datepicker range doesn't work in IOS 13 beta"
### Bug description or feature request:
Can't select range of dates in datepicker with IOS 13 beta. Datepicker is close itself after the first tap on initial date, so you can't select the "end" date.

### Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 5.1.0

Angular: 8

Bootstrap:

### Build system: Angular CLI, System.js, webpack, starter seed:

[2019-09-06 13:59] Domainv commented on #5278
Let's summarize.
Which errors do you observe on the last 5.1.2 version?
Add please link to Stackblitz with reproduction.

[2019-09-06 15:08] coffeymatt commented on #4139
Not working in 5.1.1

[2019-09-06 22:15] rcollette commented on #975
Make sure the NgbModalModule is imported in the same module where the ModalComponent is declared and placed in the entryComponents property.  Otherwise I think it winds up looking for the component in the root scope.

[code]

[2019-09-08 08:21] KasperSommer commented on #5340
I really need this too. Please have a look at it...!

[2019-09-08 11:23] GuppuBoss commented on #5006
When setting Date Range picker to min mode month. Calender view shows perfect. But clicking on date does not do anything
Using **"ngx-bootstrap": "^4.2.0",**

[2019-09-09 02:48] adriandavidbrand opened #5383 "Hiding a date picker with DD/MM/YYYY reverts to MM/DD/YYYY on show"
If a date picker that has the date format 'DD/MM/YYYY' is hidden with an ngIf it reverts to 'MM/DD/YYYY' when it is shown again.

[code]

See StackBlitz https://stackblitz.com/edit/angular-uwa2fs

[2019-09-09 13:04] #5371 closed, assigned to nobody

[2019-09-09 20:50] malcomm commented on #5379
Note: I can kinda get this working if I structure the radio buttons more like this:

https://getbootstrap.com/docs/4.3/components/buttons/#checkbox-and-radio-buttons

But it's not perfect. Just wondering, if it might be better to follow how Bootstrap does this, with the `<input>` inside the `<label>`?

[2019-09-10 14:36] MajidPro320 commented on #2736
Hello, use this code
`$("#lastModifiedDateFilter").daterangepicker({
    parentEl: "#divChooseDossier .modal-body"
})`

https://stackoverflow.com/questions/17694456/jquery-daterangepicker-not-working-in-modal

[2019-09-11 00:01] ChaudhryAtif opened #5386 "Date Range - Show current and previous month"
### Feature description or feature request:
Is it possible to show current and previous (instead of current and next) month in range picker if no range is selected?

### Plunker/StackBlitz that reproduces the issue:
Here is a workaround found on [SO](https://stackoverflow.com/a/53723196/4669619), but I am wondering if there's a cleaner way to do it (or if it can be baked into the library), and als

[2019-09-11 07:21] sanjmeh commented on #3075
This seems to be the root cause of my shiny hoverbox flickering too but I can't apply your suggestions on the R shiny code directly. Could someone direct me to a place where this is also explained for R shiny ggplot environment?

[2019-09-11 11:08] #5373 closed, assigned to nobody

[2019-09-11 12:27] radici opened #5388 "angular 8 property alert does not exist on type AlertComponent"
Hi whe deploy an application on angular 8 i give back the error message:
property alert does not exist on type AlertComponent.
I configured the app.module like the documentation and i created a component to use it by name AlertComponent.
When i run the app with angular-cli it work fine.
Thanks

[2019-09-12 11:41] #5303 closed, assigned to nobody

[2019-09-12 16:32] jziggas opened #5389 "Popover delay option?"
Tooltips have a `[delay]="500"` input but I was surprised to see that popovers don't have the same feature?

[2019-09-12 17:02] #5291 closed, assigned to nobody

[2019-09-12 17:02] #5335 closed, assigned to nobody

[2019-09-13 07:35] vdumbrav opened #5390 "Datepicker doesn't auto hide in modal"
### Bug description:
If datepicker is in modal, it will not automatically close when scrolling

### StackBlitz that reproduces the issue:
https://stackblitz.com/edit/angular-b9dgrt
https://media.giphy.com/media/Tg6ggvlMjz9NQTX0MM/giphy.gif

### Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 5.1.2

Angular: 8.2.6

Bootstrap: 4.3.1

### Build system: Angular CLI

[2019-09-13 09:38] daniloff200 commented on #5386
@ChaudhryAtif  hey!
It's possible to create functionality, that allows to show prev  & current months, but, I want more info about the second part of your request

What do you mean by

?

As I understood, you want to keep the current and prev month only if no daterange was selected, but, if I did that, then, it should show current month and next? Or what?

[2019-09-13 12:53] ludmilanesvitiy commented on #5388
@radici Hello. Could you, please, add reproduction somewhere? On stackblitz, for example. And all related info needed: stacktraces, screenshots, versions, etc.

[2019-09-13 13:03] ludmilanesvitiy commented on #4540
Closed as outdated, see https://valor-software.com/ngx-bootstrap/#/datepicker#adaptive-position

[2019-09-13 13:03] #4540 closed, assigned to nobody

[2019-09-13 14:02] nacrotic opened #5391 "Unable to start a carousel at given slide"
### Bug description:
The startFromIndex parameter don't work with simple (non multilist) carousel. The carousel always start from first slide. No error message.

### Plunker/StackBlitz that reproduces the issue:
https://stackblitz.com/edit/angular-qr8p2g

### Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 4.2.0 (my project) and 5.1.2 (StackBlitz)

Angular: 7.2.0 (my project) an

[2019-09-16 07:06] ludmilanesvitiy commented on #5378
@chinnivyshnavi Hi! Follow recommendations, described here: https://valor-software.com/ngx-bootstrap/#/datepicker#min-max
There I don't see any problems when user type date, which greater than maxDate:
![Peek 2019-09-16 10-05](https://user-images.githubusercontent.com/18209841/64939410-8ff6e980-d869-11e9-82bd-3a1997ef49d3.gif)
If you still have issues - please, create a reproduction via Stackblitz

[2019-09-16 07:20] ludmilanesvitiy commented on #5377
@Darkein Hello! I can't reproduce the described issue in our Demo site.
![Peek 2019-09-16 10-16](https://user-images.githubusercontent.com/18209841/64939948-4c04e400-d86b-11e9-93e4-c599a0928128.gif)
Could you, please, specify your browser, version, OS, etc.?

[2019-09-16 07:32] ludmilanesvitiy commented on #5375
@mdentremont Only 4 components, for now, require animations module installed: Accordion, Collapse, Datepicker and Typehead. We added info about that in documentation, "Usage" block, like here: https://valor-software.com/ngx-bootstrap/#/typeahead
But this info could be added to readme also, could it @Domainv ?

[2019-09-16 07:38] ludmilanesvitiy commented on #5372
Closed as a duplicate of https://github.com/valor-software/ngx-bootstrap/issues/786

[2019-09-16 07:38] #5372 closed, assigned to nobody

[2019-09-16 07:42] ludmilanesvitiy commented on #5370
@makahleh Hi! Could you, please, create a reproduction via Stackblitz?

[2019-09-16 07:46] ludmilanesvitiy commented on #5369
@Domainv While investigating this issue, need to take care of Accordion, typeahead also. Behavior there the same as described above.

[2019-09-16 08:03] ludmilanesvitiy commented on #5366
@MaximumRGB Hi! If it's possible - create a reproduction via Stackblitz. Thanks

[2019-09-16 09:43] ludmilanesvitiy commented on #5363
@anirudhsamudrala Hi! Please, take a look at similar questions and suggestions to resolving:
https://github.com/valor-software/ngx-bootstrap/issues/190
https://github.com/valor-software/ngx-bootstrap/issues/1519
If you still will have a problem - create a reproduction via Stackblitz, please. Thanks.

[2019-09-16 09:58] ludmilanesvitiy commented on #5362
@CR903 Hi! I can't reproduce it in the Demo app, so could you, please, create a reproduction via Stackblitz?
![Peek 2019-09-16 12-57](https://user-images.githubusercontent.com/18209841/64949335-9f822c80-d881-11e9-9892-6c6aaa4c1686.gif)

[2019-09-16 11:17] vibhor-vp commented on #5071
Hi,

This issue is not fixed in version 3.3.0 rather it is fixed in version 4 and above. And using version 4 of ngx-bootstrap will require change in typescript versions and so on.
Can you help me with the solution?
I am using
Angular: 6.1.7,
Typescript: 2.7.2

[2019-09-16 13:32] ghost commented on #5309
Hi,
Any update on this issue?

[2019-09-17 07:04] ChaudhryAtif commented on #5386
@daniloff200 If it is already selected, then it should follow current functionality: It'll show the starting date of the range on left and next month on the right.

[2019-09-17 07:39] denuihason commented on #3075
It works well .... Thanks

[2019-09-17 14:11] g3344 commented on #1599
Does this still work?  When I open a modal, the scrollbar on the right still seems to disappear.
[code]

[2019-09-17 14:43] JIBIN-P commented on #4739
hii is there any workarounds for nested dropdowns to not overlap each other on mouseover?

[2019-09-18 06:34] Darkein commented on #5377
Hello @ludmilanesvitiy, you have to leave the button before the end of the delay.

I can reproduce it on Firefox and Chrome, under Linux, Mac OS and windows 10 ^^

[2019-09-18 07:59] onepoordeveloper opened #5394 "Dropdown menu not being rendered on init"
I'm not able to get routerLink activated on the dropdown on init.
It works after I trigger the dropdown by clicking on it once and keeps working even after I close it.

It isn't working on init because the dropdown DOM is not rendered by that point.
It gets rendered after the dropdown button is clicked.

I want the dropdown list rendered and hidden on init please.

### StackBlitz that reproduces t

[2019-09-18 08:57] bartlomiejstrzelczyk opened #5395 "Positioning module freezes whole app on localhost (infinite loop)"
### Bug description:
Happens only on local build - when opening datepicker window everything freezes. After some debugging i found out it's loop inside positioning module. On prod build everything works totally fine.

### Plunker/StackBlitz that reproduces the issue:
Sorry can't repro that here but I found out that the infinite loop calls or is in initData/getScrollParent functions (ngx-bootstrap-

[2019-09-18 09:52] EugeneGoroschenyaOld commented on #5128
#4487

[2019-09-18 10:55] merkancam commented on #4487
+1

[2019-09-18 13:29] daniloff200 commented on #5386
@ChaudhryAtif  okay, cool
gonna look at it, and what I can make here

[2019-09-18 13:53] ludmilanesvitiy commented on #5395
@bartlomiejstrzelczyk Hello! Could you, please, create a reproduction via Stackblitz? What version of ngx-bootstrap did you use?

[2019-09-19 07:28] bartlomiejstrzelczyk commented on #5395
@ludmilanesvitiy Hey, I tried to repro it for a few hours on new repo but no success.
I was able to find out that the ngZone.onStable subscription is constantly triggering calcPosition on positionService.

The ngx-bootstrap version I used was 5.2.0.

EDIT: The official angular docs state that this event IS called only once https://angular.io/api/core/NgZone#onStable, what could be the issue here ?

[2019-09-19 09:41] daniloff200 commented on #4396
Well, looks like that was fixed in 5.2.0, in #5376
looks similar to #5371

[2019-09-19 10:18] ludmilanesvitiy commented on #3288
Issue resolved: https://valor-software.com/ngx-bootstrap/#/timepicker#min-max

[2019-09-19 10:18] #3288 closed

[2019-09-19 10:19] ludmilanesvitiy commented on #4009
Issue resolved: https://valor-software.com/ngx-bootstrap/#/accordion

[2019-09-19 10:19] #4009 closed

[2019-09-19 10:39] ludmilanesvitiy commented on #4396
Closed as resolved in 5.2.0: https://valor-software.com/ngx-bootstrap/#/datepicker

[2019-09-19 10:39] #4396 closed, assigned to nobody

[2019-09-19 11:07] ludmilanesvitiy commented on #5345
There's no need to open an issue here if you want to ask general question, use StackOverflow or Slack instead
https://stackoverflow.com/questions/tagged/ngx-bootstrap
https://ngx-slack.herokuapp.com/

[2019-09-19 11:07] #5345 closed, assigned to nobody

[2019-09-19 12:42] ludmilanesvitiy commented on #5289
Fix available from 5.2.0 version.

[2019-09-19 12:42] #5289 closed, assigned to nobody

[2019-09-19 12:45] ludmilanesvitiy commented on #5280
Closed as not reproducible.

[2019-09-19 12:45] #5280 closed, assigned to nobody

[2019-09-19 12:51] #5197 closed, assigned to nobody

[2019-09-19 12:52] ludmilanesvitiy commented on #5196
@WuglyakBolgoink Hi! Is this issue still happens with 5.2.0? If so, could you create a reproduction via Stackblitz?

[2019-09-19 19:22] rickithadi commented on #1352
any updates on this? :100:

[2019-09-19 21:50] elFani opened #5397 "Collapse accessibility issue when used in default BS navbar"
### Bug description or feature request:

Using a Collapse component inside the default Bootstrap responsive navbar creates a11y issues, I believe.

If the Collapse component which houses the nav links is set to collapsed, the directive sets **aria-hidden=true** on the collapse container. While this can be useful (although not 100% needed) on the main content of the page, it hides the nav links fro

[2019-09-20 03:51] CN-Tower opened #5398 "Datepiker & Modal"
runtime.23000ea1cc0ae59dbc67.js:1 GET http://ngx-bootstrap.com/components-datepicker-demo-datepicker-module-ngfactory~components-tabs-demo-tabs-module-ngfactory~co~83964347.70e893fc289904f9ed86.js net::ERR_ABORTED 403 (Forbidden)

vendor.66a2ea0be208de0e7b59.js:1 ERROR Error: Uncaught (in promise): Error: Loading chunk 1 failed.
(error: http://ngx-bootstrap.com/components-datepicker-demo-datepicke

[2019-09-20 07:22] ludmilanesvitiy commented on #5398
@CN-Tower Hi! What is your issue? How to reproduce it? Create a reproduction via Stackblitz, please.

[2019-09-20 07:32] ludmilanesvitiy commented on #5395
@bartlomiejstrzelczyk To be clear, we can't reproduce it also. Maybe you've used older versions of ngx-bootstrap, where it could be possible. But for now such issues(https://github.com/valor-software/ngx-bootstrap/pull/5253) already fixed.

[2019-09-20 09:17] aklaffenboeck commented on #3348
Is there still no offical way to handle this issue? Are you planning to add this feature soon?

[2019-09-21 11:32] mrjohnr opened #5399 "Error after upgrade from 5.1.2 to 5.2.0 when opening modal for edit data"
ngx-bootstrap: 5.2.0
Angular: 8.2.7
Bootstrap: 4.3.1

After I've upgraded my project from ngx 5.1.2 to 5.2.0 when i try to open a edit data modal  I found about 15000 lines of errors + browser freezes,errors are like below
tried [this](https://github.com/valor-software/ngx-bootstrap/issues/3809) but no fix
switching back to 5.1.2 there is no error

`i18n.js:26 [Deprecation] Synchronous XMLHttpRequ

[2019-09-21 15:34] wmerifield commented on #540
navbar is the FIRST component you should have sorted - really dont have time to debug ur bits...moving on! ...nice try :)

[2019-09-23 06:06] #5363 closed, assigned to nobody

[2019-09-23 11:56] gmerabishvili opened #5400 "Modal with form"
I'm using template driven form inside modal. Whenever I close the modal the form resets automatically. How can I avoid that behaviour? I want to keep form values when I close and reopen the modal.

[2019-09-23 13:15] AhsanAyaz commented on #2622
@valorkin I can't find how I can set the `startingDay` with `5.2.x`.
Any hints?

[2019-09-23 15:52] elFani commented on #5397
Is there any other info or details I can provide to make this more helpful?

[2019-09-23 20:01] MikaelLambert commented on #5223
I was able to restore the original version 3 behavior in version 4.3.0+ for my project using `start` and `end`.

This is indirectly documented in code here:
https://github.com/valor-software/ngx-bootstrap/blob/e79019652e82dfb4dbf802960a3315d4e45ad699/src/positioning/modifiers/initData.ts#L16

In the end, the translation was:
`bottom left` => `bottom end`
`bottom right` => `bottom start`
`top left`

[2019-09-24 00:46] dalu opened #5401 "Not exactly clear demo for Pager Rotate (pagination)"
Rotate on Pager demo does nothing

[2019-09-24 06:25] CN-Tower commented on #5398
It seems something wrong with the document webset. I can't open the `Datepiker` & `Modal` page.

[2019-09-24 14:33] YulianLozynskyi opened #5402 "angular 8.2.7 datepicker freeze on click"
Bug description or feature request:

The thing is. I've updated the angular version from 7.2.2 to 8.2.7, and all the other package.json dependencies including ngx-bootstrap (4.3.0 to 5.1.2). And after all these changes, every single ngx-boostrap module I use works fine except for datepicker. When I click on the input field the whole browser tab freezes, for sure. I've tried waiting for a couple of

[2019-09-24 16:06] RuneSP commented on #4487
+1

[2019-09-25 09:06] BosH9 opened #5403 "Viewchild of Form within modal returns undefined"
I would like to access the form within the modal. As I am creating Viewchild for the form element in a component and i would like to access it and trying to do validation things.
for ex:
@ViewChild('demoForm', { read: NgForm }) demoForm: any;
if(demoForm.valid){}

So whenever I am trying todo it 'demoForm' returns as undefined. How to achieve/ access Viewchild in modal?

Please refer to this stack

[2019-09-25 11:13] Tazaf commented on #5277
I can confirm this problem with the `5.1.1` version as well.

This is what the results looks like to me (with the same code than @hugoj-goncalves linked to):

![image](https://user-images.githubusercontent.com/7702322/65595776-c2a19000-df95-11e9-8f9a-de9920de9e84.png)

The values given to the `bs-dropdown-container` `transform: translate3d` CSS property seems off by ~130px (in my case).

[2019-09-25 11:17] Tazaf commented on #5349
(Looks like the same issue as #5277)

[2019-09-25 11:56] sucotronic commented on #2810
Due to iOS 13, the navigator.platform for iPad has changed, and also, they're firing two events, so the code above has to be:

[code]

[2019-09-25 13:42] wmarques commented on #5140
I think this come from the `setDisabledState` not implemented in https://github.com/valor-software/ngx-bootstrap/blob/d01c53316d528a43814ed8b550db18c25ff2e7b8/src/buttons/button-radio-group.directive.ts

May i help on this ? If someone can give me some starting point I'd be glad to provide a PR to fix this :)

[2019-09-25 14:44] livthomas opened #5404 "Inline date picker stops propagation of click event"
We're not able to bind `click` or `dblclick` events to inline date picker component in our application. It seems that this component stops `click` event propagation:

https://github.com/valor-software/ngx-bootstrap/blob/development/src/datepicker/themes/bs/bs-datepicker-inline-container.component.ts#L17

### Bug description or feature request:

Bug description

### Plunker/StackBlitz that reproduc

[2019-09-25 16:54] BosH9 commented on #5400
@gmerabishvili Are you able to access form reference in ts file ?
If yes, please tell me how to do it...

[2019-09-26 02:17] #5398 closed, assigned to nobody

[2019-09-26 05:42] shriniwassurve commented on #2618
As @IlyaSurmay suggested I tried to store all the references to the modals in common modal service that I use to open modals. I added method to close all the modals this way.

[code]
But there is one problem as discussed in https://github.com/valor-software/ngx-bootstrap/issues/2356
If we want to pass component of lazy loaded module to the modal service there needs to be ModalModule.forRoot() impo

[2019-09-26 08:22] Et3rnal commented on #4459
I had the issue and it was `dropdown` directive missing from the upper div

[2019-09-26 08:38] gmerabishvili commented on #5400
yes, I'm doing like this:
html:
'<form novalidate #form="ngForm" (ngSubmit)="submit()"></form>'
ts:
@ViewChild('form') form: any;

[2019-09-26 10:31] shomid commented on #5348
I have this problem

[2019-09-26 11:27] JHorm commented on #582
@valorkin  It is still an issue :(. Thanks!

[2019-09-26 13:07] Mathan333 opened #5405 "Repleace invalid date"
When i enter the wrong entry date then replace to the invalid date to empty string return

[2019-09-26 15:01] joshvanallen opened #5406 "Failed to parse 'yy' as a valid date format for year."
According to the Angular source code, their format structure is to use lowercase y's to represent the year. With this regex in place, a developer can't simply pass an Angular date format to date-picker.

Can we include the lowercase format for year in this regex?

Angular source:
https://github.com/angular/angular/blob/master/packages/common/src/pipes/date_pipe.ts

Regex reference:
https://github.

[2019-09-26 15:33] chandresh87 opened #5407 "ngbpopover floats on page size change"
When using container="body" , open the popover and change the screen size then popover don't stick to the link which has opened the popover.

This behavior can be replicated on the https://ngbootstrap.github.io/#/components/popover/examples as well.

I have tested this in chrome.
steps to replicate:

click to open
change the screen size.
popover will start to float on the page.

[2019-09-26 15:38] chandresh87 commented on #5407
When using  container="body" , open the popover and change the screen size then popover don't stick to the link which has opened the popover.

This behavior can be replicated on the https://ngbootstrap.github.io/#/components/popover/examples as well.

I have tested this in chrome.
steps to replicate:
1. click to open
2. change the screen size.

popover will start to float on the page.

[2019-09-26 16:00] fchiumeo commented on #5407
wrong repo
https://github.com/ng-bootstrap/ng-bootstrap

[2019-09-26 16:29] chandresh87 commented on #5407
sorry

[2019-09-26 16:29] #5407 closed, assigned to nobody

[2019-09-27 09:08] BosH9 commented on #5400
I can't access this form by ViewChild

can you please check this solution
https://stackblitz.com/edit/ngx-bootstrap-ukvapz?file=app/app.module.ts

Can you please help me that where was i missed the part...

[2019-09-27 10:47] BosH9 commented on #5403
Ahh I found the solution.

fixed by this .
https://valor-software.com/ngx-bootstrap/#/modals#directive-static

[2019-09-27 10:47] #5403 closed, assigned to nobody

[2019-09-30 14:04] gagandeepp commented on #5390
Assign this to me

[2019-09-30 14:05] vdumbrav commented on #5390
@ludmilanesvitiy

[2019-09-30 19:19] jeffersonluissm commented on #1153
Any position on this?

[2019-10-01 00:48] joshvanallen commented on #5406
I'm closing this ticket because I missed a small detail in the documentation.
For future reference, this regex follows the available patterns in Moment.js. I can argue that it shouldn't be the case but that's a different issue.

[2019-10-01 00:48] #5406 closed, assigned to nobody

[2019-10-01 09:18] daniloff200 commented on #4213
I think, that was fixed in https://github.com/valor-software/ngx-bootstrap/pull/5376 , but, need to check all the use cases

[2019-10-01 09:33] mikaelagr opened #5408 "Blurry text when zoomed on Chrome"
### Bug description or feature request:

For popovers, tooltips and other absolutely positioned elements, the text appears blurry in Chrome. This happens at certain zoom levels (e.g. 75%). The problem does not occur in Firefox.

This did not happen in version 1.9.3 which we upgraded from. It seems like it is related to use of translate3d when positioning elements.

### Plunker/StackBlitz that repr

[2019-10-01 09:40] Domainv commented on #3594
Duplicate of #5154

[2019-10-01 09:40] #3594 closed

[2019-10-01 10:09] #4835 closed, assigned to nobody

[2019-10-01 10:45] Daolot commented on #3825
I think we can use ViewChildren for this case

[2019-10-01 11:40] Domainv commented on #4426
This issue outdated
Please recheck in last version ngx-bootstrap@5.2.0

[2019-10-01 11:40] #4426 closed, assigned to nobody

[2019-10-01 13:31] #5351 closed, assigned to nobody

[2019-10-01 14:06] RanadeepPolavarapu commented on #3751
I'll take this.

[2019-10-01 14:07] RanadeepPolavarapu commented on #4502
I'll take this.

[2019-10-01 14:09] RanadeepPolavarapu commented on #5383
I'll take this.

[2019-10-01 15:28] daniloff200 commented on #3751
Cool! Thanks @RanadeepPolavarapu

[2019-10-01 16:52] henrysachs commented on #5331
I would like to help on this.

[2019-10-01 17:12] williamxsp opened #5409 "How to configure a modal to always have backdrop = 'static'"
I'd like to have a global config for all modals to have backdrop as 'static' so I dont have to set at each new modal. Is it possible? (I have several Modal Components created)
[code]

[2019-10-01 18:31] henrysachs commented on #5331
Hi, I have a hard time reproducing this. When i open the Dropdown with your provided example the document height doesn't increase. I still built the lib locally and have copied your code and logged the document scrollheight.

If I am doing something wrong here help me out.

![Bild 01 10 19 um 20 30](https://user-images.githubusercontent.com/17173951/65989674-6903fe80-e48a-11e9-87f6-e9f4e5929fc3.jp

[2019-10-01 18:46] gmerabishvili commented on #5400
Because your form is in modal and you can't access it from parent component.

[2019-10-01 20:11] nik72619c commented on #5331
shall I finish this PR ?was working on this

[2019-10-01 20:32] daniloff200 commented on #5331
yeah, if you already started working on it, @nik72619c , I can assign this to you

[2019-10-01 21:19] nik72619c commented on #5331
sure thing !

[2019-10-02 04:13] Et3rnal opened #5411 "Popover dynamic custom content template"
### Bug description or feature request: Bug/Support

### Plunker/StackBlitz that reproduces the issue:
Using Plunkr, StackBlitz is the best way to show your issue. Issues without link to an example of reproduction might be closed.

You can use one of starter templates:

Plunkr: https://plnkr.co/edit/0NipkZrnckZZROAcnjzB?p=preview

StackBlitz: https://stackblitz.com/edit/ngx-bootstrap?file=app%2Fap

[2019-10-02 05:07] ludmilanesvitiy commented on #5390
I can't add assignee, but @Domainv should have this possibility.

[2019-10-02 06:08] Et3rnal commented on #5411
I have no idea why it wasn't working! but it's now!!!.

[2019-10-02 06:08] #5411 closed, assigned to nobody

[2019-10-02 07:32] RizkyRajitha commented on #5368
hi i am a new bee ,
how can i get  started with this issue

[2019-10-02 08:16] #4610 closed, assigned to nobody

[2019-10-02 12:22] Domainv commented on #5368
https://github.com/valor-software/ngx-bootstrap/blob/development/CONTRIBUTING.md @RizkyRajitha

[2019-10-02 13:32] aeleneski opened #5415 "Tooltip tooltipChange subscription not cleaned up"
### Bug description or feature request:

In TooltipDirective there is a subscription to  this.tooltipChange.subscribe that is not being unsubscribed in the ngOnDestroy method.

### Plunker/StackBlitz that reproduces the issue:
Using Plunkr, StackBlitz is the best way to show your issue. Issues without link to an example of reproduction might be closed.

You can use one of starter templates:

Plunk

[2019-10-02 14:03] thetric commented on #5206
Fixed in #5314, the accordion and the date picker components now specify `role="button"`

[2019-10-02 18:03] calldeludo commented on #5006
In the version "ngx-bootstrap": "^5.1.0".
 [bsConfig]="{minMode: 'month'}" shows the view good but is not working.

[2019-10-02 21:21] tacoelho commented on #4985
I want to be assigned.

[2019-10-02 21:54] olierxleben commented on #5365
I would like to have a look into that issue, but I dont understand the error. Is this occuring in a specific browser? I tested with Safari and Firefox and I cannot reproduce the behavior?

[2019-10-02 22:28] lkreimann commented on #5368
Can't really reproduce this. When I edit the date in the input field and hit enter, the date picker opens itself automatically. Which browser (& version) are you using?
I used Firefox v69 to test this.

[2019-10-02 22:38] olierxleben commented on #5130
I find this feature very interesting. I would like to ask what does the ngx-bs team expect to be contributed? Aswell doc pages and/or cypress tests?

[2019-10-03 04:38] hacky1997 commented on #5342
I want to work on this!! could you please change the label to in progress!

[2019-10-03 07:28] olierxleben opened #5416 "Update Slack Link in or website and docs or delete completely"
### Bug description or feature request:

Clicking on the Slack-Link either in the Docs or on the Website (upper right corner) you will get a new tab where slack shows it is not an active invitation anymore.

Same behavior in README file. Potentially, on all links to slack community

### Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 5.2.0

[2019-10-03 07:28] olierxleben commented on #5416
Is there a slack community available?

I would like to handle it if one can say which way to go (deleting or updating)

[2019-10-03 07:39] Master-Antonio opened #5417 "DataPicker Error Context"
Hello, im using your datapicker for my form, load the graphic, but i cant scroll the month, the month is blocked in October. Looking the console of Chrome, i see a Error Context.

![Error3](https://user-images.githubusercontent.com/9674957/66107989-d49cb780-e5c1-11e9-9ac3-662b57a1de70.png)

![Error](https://user-images.githubusercontent.com/9674957/66107866-97382a00-e5c1-11e9-80f8-3b4403c0d5e3.png

[2019-10-03 08:02] Saitama0811 opened #5418 "ie compatability"
Before opening an issue, please search for duplicates (opened and closed)
https://github.com/valor-software/ngx-bootstrap/issues
There's no need to open an issue here if you want to ask general question, use [StackOverflow](https://stackoverflow.com/questions/tagged/ngx-bootstrap) or [Slack](https://join.slack.com/t/ngx-home/shared_invite/enQtNTExMTY5MzcwMTM0LWQ5M2Y4OWM0OGJjNmZiOGYyNjFlZTdlOGI1Yjc

[2019-10-03 08:28] daniloff200 commented on #5418
@Saitama0811  Can you share what you mean? Right now I just see empty issue template here.

[2019-10-03 09:18] daniloff200 commented on #5416
Oh yeah, that looks outdated. I'm gonna ask for a new link

[2019-10-03 10:01] NataD commented on #3075
I have the same issue, but none of the solutions mentioned in this post helps.

[2019-10-03 10:14] onepoordeveloper commented on #3075
Check if there are some hover effects being applied on the target element. Remove if there are..

[2019-10-03 10:17] clementgpro commented on #5391
try with the `active `attribute in the` <slide>` component

[2019-10-03 10:35] NataD commented on #3075
Removing hover effects from the target element does not solve the issue.

[2019-10-03 12:48] nacrotic commented on #5391
I've already tried that. I find myself with 2 active slides superimposed on each other

[2019-10-03 13:56] jaaywags commented on #5342
I have been trying to figure this out and have had no luck. Interested in what you come up with.

[2019-10-03 16:36] philipcolejohnson commented on #5365
You're right. I see the problem only in Chrome. I tried Firefox in the touch-emulator mode (although I didn't try Safari on my phone) and it seemed fine.

As a workaround, I had to detect mobile devices and remove the hover trigger.

[2019-10-03 16:44] frunkad commented on #3861
Can I take it up? Could summit a PR by the weekend.

[2019-10-03 17:03] gagandeepp commented on #5390
In progress

[2019-10-03 17:11] olierxleben commented on #5365
thats sound weird for 2k19. lol.
Just to be sure, which Chrome version are you on?

[2019-10-03 17:14] Domainv commented on #3861
@frunkad sure

[2019-10-04 05:04] willieTCK opened #5422 "Cannot find '../node_modules/bootstrap/scss/bootstrap'"
Upon install ngrx bootstrap and bootstrap I cannot import the following
'../node_modules/bootstrap/scss/bootstrap' to my variable.scss.

When I find the bootstrap in the node_modules, I oso realized that there is only css and there is no scss.

Please help.

![scss](https://user-images.githubusercontent.com/44182904/66182387-7518d780-e6a7-11e9-8ac5-841080d9c97f.png)

[2019-10-04 07:12] OmkarRajam commented on #2137
@valorkin

here is a reproducible stackblitz
https://stackblitz.com/edit/ngx-bootstrap-modal-blocking-body-scroll-latest

The page has been set up so that the page has scroll.
open1 will open modal1. When you close it by clicking on close button, modal2 will be opened. Now, body will have scroll even though modal2 is open
open2 will open modal2. But it will open it, close it, and then again open i

[2019-10-04 07:28] vrchavez commented on #5368
So should I make change in demo? Is that enough?

[2019-10-04 08:14] GabriFedi commented on #5368
I'll get it

[2019-10-04 09:15] GabriFedi commented on #5368
Here you go https://github.com/valor-software/ngx-bootstrap/pull/5423

[2019-10-04 09:50] #5416 closed, assigned to daniloff200

[2019-10-04 14:19] isalox commented on #3609
it doesn't work in 5.2.0 version

[2019-10-04 14:24] Domainv commented on #3609
@isalox Provide more info, please.
Some reproduction.

[2019-10-04 15:01] BrendanReilly commented on #5395
I have encountered the same problem in 5.2.0 and 5.1.2 -- but it only occurs in Microsoft Edge. Other browsers don't seem to have this issue.

[2019-10-04 17:35] pedrorey21 commented on #749
set the value when the form is opened or initialized with id and description
ngOnInit ()
 this.model = {id: 2, description: 'apple'};

[2019-10-04 23:03] AayushG159 commented on #3132
Would like to work on this issue

[2019-10-04 23:08] amyegan commented on #5286
I will update minDate, maxDate, and datesDisabled to work like bsValue for the inline datepicker. Please assign me to this issue

[2019-10-05 03:09] nigelsim commented on #3231
We require the same functionality, and have implemented this in a fork of this component, but we'd love to get it back into the main project. Our solution was to add an option `preHide` function that can be registered on the `ModalRef`. If present, it should return `true` to allow the hide, or `false` to veto it.

An example usage is as follows:
[code]

I'm not entirely happy with this approach be

[2019-10-05 03:18] nigelsim commented on #2721
The solution to this we use was to use the underlying component to the `BsModalRef`, and then you can use the normal `@Output()` properties on the component to send updates. We liked this approach because it makes modals behave a lot more like regular components/services.

We did however add some typing to the `BsModalRef` so that we can get the correct type checking.

[code]

Which of course mean

[2019-10-05 08:59] dpdhruv commented on #5130
This issue sounds like fun , can i please know what exactly needs to be done here?
@ludmilanesvitiy @daniloff200

[2019-10-06 10:10] oveshparasara opened #5430 "Error Argument of type in Modal"
i have set configuration modal
const  config = {
      keyboard: false,
      backdrop: 'static',
      class: 'paymentModal'
    };
    this.bsModalRef = this.modalService.show(PaymentPopupComponent , config);

then error:
 error TS2345: Argument of type '{ keyboard: boolean; backdrop: string; class: string; }' is not assignable to parameter of type 'ModalOptions'.
  Types of property 'backdrop'

[2019-10-06 10:14] #5430 closed, assigned to nobody

[2019-10-06 10:27] haridevelops commented on #5415
#5431 closes this issue.

[2019-10-06 10:31] haridevelops commented on #5415
great if you add hacktoberfest label

[2019-10-06 14:08] sbvkrishna commented on #5383
@RanadeepPolavarapu Are you still working on it? If not, I'd like to take it.

[2019-10-06 14:09] RanadeepPolavarapu commented on #5383
@sbvkrishna Yes, I am still working on it.

[2019-10-06 14:48] sbvkrishna commented on #5209
I would like to take on this issue. It will be my first contribution here.

[2019-10-06 17:28] JosVermoesen commented on #2348
thanks a lot!
i forgot BsModalRef in providers

[2019-10-06 17:59] max-arias commented on #5209
@ludmilanesvitiy  Hey, is this up for grabs? I can look into this

[2019-10-06 20:19] anandprabhakar0507 opened #5434 "Hacktoberfest"

[2019-10-06 20:26] anandprabhakar0507 commented on #5434
How to add a label Hacktoberfest in a issue..? help..

[2019-10-06 21:01] fabio1974 commented on #3957
it still not fixed

[2019-10-06 21:37] fabio1974 commented on #3957
`  bsValueChange(event: Date, value: Date) {
    if(value && event && event.getMonth() != value.getMonth())
      event.setHours(value.getHours(),value.getMinutes(),value.getSeconds(),value.getMilliseconds())
  }`

[2019-10-06 22:15] daniloff200 commented on #5434
@anandprabhakar0507 you can't do that, because you don't have access for it.

What's the reason of that issue?

[2019-10-07 03:43] sakshamtaneja21 commented on #5342
i want to work on this

[2019-10-07 03:43] sakshamtaneja21 commented on #3751
i would look at this

[2019-10-07 08:13] daniloff200 commented on #5342
I think, @hacky1997  already took that, @sakshamtaneja21

@hacky1997  what's your progress with this card?

[2019-10-07 08:51] daniloff200 commented on #5130
@olierxleben  @dpdhruv

I think, we need some basic toaster functionality here, as described here - https://getbootstrap.com/docs/4.3/components/toasts/

There's pretty big amount of work here, so, I think, for those, who create a PR with this functionality, we can send a full kit of swag, as we have for 5 PRs

[2019-10-07 11:42] pbaukov commented on #1153
Need it really hard :(

[2019-10-07 14:08] olierxleben commented on #5130
Thx,

@dpdhruv should we consider working together on it?

[2019-10-07 15:10] rits-development opened #5437 "Updating type of progressbar dynamically removes striped and animate configuration"
### Bug description or feature request:
Dynamically changing the type (info/success/warning/error) of a progressbar removes the striped and animate configuration.

### Plunker/StackBlitz that reproduces the issue:
https://stackblitz.com/edit/angular-zsvgbv?file=app%2Fngx-bootstrap-demo.component.ts

### Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 5.2.0

Angular: 8.0.0

Boots

[2019-10-07 16:43] parammittal16 opened #5438 "Correct grammatical mistake in readme"
### Bug description or feature request:

There are some grammatical issues in Readme file.
I want to correct them and work on this issue as of Hackoberfest.

### Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 5.2.0

Angular: 8.0.0

Bootstrap: 4.0.0

### Build system: Angular CLI, System.js, webpack, starter seed:

[2019-10-07 16:49] parammittal16 commented on #5438
@Domainv plz review. Can we add hacktoberfest label here

[2019-10-07 18:32] vitaliy-bobrov commented on #5437
I'd like to take this one ;)

[2019-10-07 18:37] daniloff200 commented on #5437
@vitaliy-bobrov  wow wow wow ! :D
Nice to meet ya here :100:

[2019-10-07 21:53] daniloff200 commented on #5434
@anandprabhakar0507
hello?

[2019-10-08 03:42] dpdhruv commented on #5130
@olierxleben Yes for sure why not. You can take the lead too because it's my first time diving into open source. There might be time zone issues but we can work on it.

[2019-10-08 05:04] parammittal16 commented on #5438
@daniloff200 plz let me know an changes to the PR (#5439 ) so it can be merged

[2019-10-08 08:08] chawdamrunal opened #5446 "A reference is used on both sides of compound assignment operator"
Property '(targetOffsets as any)[side]' is used on both the left and right sides of this compound assignment. Consider using non-compound assignment instead.
a few seconds ago
src/positioning/modifiers/arrow.ts  (line 25)

 (targetOffsets as any)[side] -=

A reference is used on both sides of compound assignment operator
This rule applies when a reference is used on both sides of compound assignme

[2019-10-08 08:11] chawdamrunal opened #5447 "Constant expression should not be used in the conditional statements"
''passada la ' +(m.hours() !== 1)' is always true because it evaluates to a non-empty string.

src/chronos/test/locale/ca.spec.ts (line : 208)

('passada la ' +(m.hours() !== 1)

This rule applies when a condition check has always the same result.

For example, it occurs when constant-valued variables are used or the condition is redundant with previously checked one. This rule also applies when o

[2019-10-08 09:31] dpdhruv commented on #5130
Also i read your guidelines for contributing @daniloff200 , should i directly create a new branch from development with appropriate naming convention or should i fork and follow normal procedure?

[2019-10-08 09:33] olierxleben commented on #5130
I had forked and branched in my fork so far.

[2019-10-08 09:46] dpdhruv commented on #5130
you started working on it?

[2019-10-08 09:58] goku321 commented on #1153
Is it still open? If yes, would like to work on this if that's okay.

[2019-10-08 10:00] dpdhruv commented on #5130
@daniloff200 Can i work along with @olierxleben in his fork itself ? Will i still be eligible for the giveaways if i do so? 🥇

[2019-10-08 10:02] olierxleben commented on #5130
No just forked, I had a look around. I have no commitment for the swag. You can have it bro ;)

[2019-10-08 10:03] daniloff200 commented on #5130
Let me answer these questions :)
First of all, yes, it's better to use forks, yes, if you work on that together, we will count that as a pair contribution, no worries on that, you both can get some sweets :)

Also, @olierxleben , I saw your question in ngx slack, so, you basically can add a new component manually - you can check, how the components added / imported in the project, and make it the

[2019-10-08 10:03] daniloff200 commented on #5130
Also, don't forget, that you have to not only create it in the library,but also, upgrade the demo

[2019-10-08 10:04] daniloff200 commented on #1153
@goku321  cool!
You can start work on it! I'll assign it to you

[2019-10-08 10:20] dpdhruv commented on #5130
I do because it's my first major contribution if i could successfully do it :)

[2019-10-08 10:22] dpdhruv commented on #5130
Also , i'll join the slack channel so that we can have a better communication and co-ordination @olierxleben

[2019-10-08 15:45] beeing commented on #1536
Just watched this - the answer is in the video https://youtu.be/Tlmx1PbP8Qw?t=761

Hope this helps

[2019-10-08 17:42] preethi900 commented on #5438
I would like to work on this issue.Is it still available ??

[2019-10-08 18:58] danmana commented on #5447
I think this is a false positive.
The full line is:
[code]

Which compares:
`m.calendar()` to `m.format('[el] dddd [' + ('passada la ' +(m.hours() !== 1) ? 'passades les' : '')`

Even if the second part is always the same, the `m.calendar()` is dynamic.

More so, the second part is not always fixed: in the first comparisson (line 204) hours is unset and defaults to the current hour, which might be

[2019-10-08 19:24] daniloff200 commented on #5447
I also think, that this is not needed right now. We've got a lot more work to do

[2019-10-08 19:24] #5447 closed, assigned to nobody

[2019-10-08 19:25] StevenGlrz commented on #5409
If you want a hack around it you can do this in app.component.ts or main.ts

`modalConfigDefaults.backdrop = 'static';`

we should really be provided with a DI solution though.

[2019-10-08 19:41] frunkad commented on #3861
Doubt: how do I run tests for demos?

Also, https://github.com/valor-software/ngx-bootstrap/pull/4454 has made most changes. Some tests are required to be fixed probably, so shall I continue with that?

[2019-10-08 20:40] williamxsp commented on #5409
What should I study to learn how to solve this using dependency injection so I can create a PR?

[2019-10-09 00:12] khyati-agarwalss commented on #4917
Hi @daniloff200 , I would like to work on this. Please assign it to me. Thanks!

[2019-10-09 00:14] khyati-agarwalss commented on #4985
Hi, please assign this issue to me. Thanks!

[2019-10-09 08:03] mr-yamraj commented on #5135
Hi, @ludmilanesvitiy I would like to work on this issue.
@codestitch can you please share what were the side-effects that you were facing.

[2019-10-09 09:58] daniloff200 commented on #5434
closed for inactivity and empty description

[2019-10-09 09:58] #5434 closed, assigned to nobody

[2019-10-09 11:51] sakkshm opened #5453 "Adding a better and more descriptive slack button."
### Bug description or feature request:
Adding a better and more descriptive slack button.

I would like to do this!

Can we add the hacktoberfest label to it?

[2019-10-09 12:30] #5437 closed, assigned to vitaliy-bobrov

[2019-10-09 13:11] HorusEye commented on #5299
We are upgrading from Angular 5 to Angular 8 and it seems that now all of our popovers are broken with ngx-bootstrap 5.2. All popovers are at wrong places. One of the cases is:
`<a  tabindex="0" type="button"
              #dPopover="bs-popover"
             [popover]="template" [containerClass]="'popover-flex'"
             placement="right" container="body" triggers=""
             [outsideClick

[2019-10-09 14:24] harithesolo commented on #4985
can i solve this issue

[2019-10-09 14:48] sameshl opened #5456 "wrong file name"
### Bug description or feature request:
wrong file name `doc/spec/tooltip/tooltip.examles.placement.use-case.md`

need to change it to `tooltip.examples.placement.use-case.md`

is it possible to add `hacktoberfest` label to it?

[2019-10-09 19:11] chantellosejo commented on #1519
Using ng-deep:: did it for me

[code]

[2019-10-09 19:58] NeelPrime commented on #5438
I am also working on this. #5459 #5459 #5462

[2019-10-09 19:59] NeelPrime commented on #5438
#5434

[2019-10-09 20:40] NeelPrime opened #5464 "Small Grammatically mistake."
If you will find Grammatically mistake then correct it.

[2019-10-09 20:44] NeelPrime commented on #5464
fixed #5459 #5460 #5462
is it possible to add hacktoberfest label to it?

[2019-10-09 22:39] titobf commented on #4739
I'm also interested on some workaround for this

[2019-10-10 03:39] michizhou commented on #5265
@rubenVerschueren @ludmilanesvitiy If this issue is still open, I'd be happy to take a look at it and try to work on it. Let me know if I need any information to get started!

[2019-10-10 16:15] hasalassh commented on #5456
@sameshl Let me work on this...!

[2019-10-10 16:35] hasalassh commented on #5456
@sameshl I have created a pull request for this...!
https://github.com/valor-software/ngx-bootstrap/pull/5472

[2019-10-10 16:36] sameshl commented on #5456
@hasalassh I had already created a PR for this here https://github.com/valor-software/ngx-bootstrap/pull/5457. It is already been approved. Nice work but next time just check if there are any existing PRs for the issue you are taking up.

[2019-10-10 17:19] NeelPrime commented on #5464
Please add Hacktoberfest label!

[2019-10-10 20:55] chantellosejo commented on #1519
Note: the code snippet above makes it 100% width regardless of what the input's width is, so if the parent is 500px and the input is 200px, the dropdown will be 500px in width. This isn't really what I wanted it to do.

After messing around with it more, it seems the dropdown menu has a hardcoded width styling of 320px. This is easy enough to override, which results in what I was hoping for: a mor

[2019-10-11 11:09] #5446 closed, assigned to nobody

[2019-10-11 13:50] Darkein commented on #5377
@ludmilanesvitiy have you been able to reproduce it ?

[2019-10-11 15:09] walheredia commented on #5242
Guys, this is not a definitive solution, but in case you want to compile the project and continue working, **I have escaped the issue** doing the following (Use it while the correct solution for this problem arrives)

1) Go to the path: node_modules/ngx-bootstrap/timepicker/models/index.d.ts
2) CHANGE these two lines:
`import { ControlValueAccessor } from '@angular/forms/src/directives/control_val

[2019-10-11 15:40] mrjohnr commented on #5399
same issue in 5.3.0,reverting to 5.1.2 all works fine
in a code like this
[code]
alert '1' is shown but not '2'
**Expression has changed after it was checked. Previous value: 'model: 1'. Current value: 'model: 2'.**
[code]

[2019-10-11 17:48] mrjohnr commented on #5399
Inspired by [here ](https://stackoverflow.com/questions/49292932/expression-has-changed-error-on-opening-a-modal-popup-inside-a-component) seems I found a fix that works with 5.3.0,I prevent bsValueChange to fire while component loads
[code]

[2019-10-11 20:02] bretburau opened #5477 "<select> lags when updating UI"
### Bug description or feature request:
I open a modal per the docs using ModalModule. I pass an array of objects when opening it, and use the array to display a <select> with *ngFor. I want to display a string based on the selection and disable buttons when nothing is selected. When I make a selection, the variables update instantly but the view has a large inconsistant lag up to several seconds.

[2019-10-11 20:04] MagnaibayarMN commented on #5342
Hello there. What is the current process of this issue? Can i take this?

[2019-10-11 20:27] srivastavaayu opened #5478 "Improve the readability of the README file."
I want to improve the readability of the README file.
Can I work on this? And can the Hacktoberfest label be added to this issue?

[2019-10-11 20:31] daniloff200 commented on #5478
A lot of people want to do that, if you open pull requests :rofl:

Can you give more info about your improvements?

[2019-10-11 20:42] srivastavaayu commented on #5478
Improve and elaborate sentences defining the product, elaborate license details(which right now are close to non-existent) and of course, improve grammatical mistakes. 🤣

[2019-10-13 02:58] ahdyt commented on #5456
Lol, why the issue still open????

[2019-10-13 05:19] Hrtkk commented on #5390
Hey, can I work on it??

[2019-10-13 09:37] srivastavaayu commented on #5478
Should I start working on this? @daniloff200

[2019-10-13 12:14] hajro92 opened #5484 "SaucelLabs image link is broken. #hacktoberfest"
The image in [README.md](https://github.com/valor-software/ngx-bootstrap/blob/development/README.md) for [Saucelabs](https://saucelabs.com/) is broken.

[2019-10-13 12:17] hajro92 commented on #5484
I made new PR with fix: #5483

[2019-10-13 16:58] amithkk opened #5491 "Switch to new GitHub issue templates"
GitHub has now switched to a new multi issue template system which allows for separate flows for bug-reports and feature requests with automatic labeling. Updating to this will allow for a more streamlined issue filing process

I would like to take this up, it'd be great if the hacktober fest label could be added to this issue

[2019-10-13 20:31] danielfoord commented on #4002
I don't think this is a bug. The plunker is using the 'json' pipe on the output, instead one should use the 'date' pipe with a format:

Stackblitz: https://stackblitz.com/edit/angular-btg2mu

![Screenshot 2019-10-13 at 22 34 07](https://user-images.githubusercontent.com/4738017/66722052-a01ecc00-ee09-11e9-8f1e-160b5b4d881d.png)

Edit: The json pipe shows the date time in the [UTC format according

[2019-10-14 01:34] jmwierzbicki commented on #5210
I just managed to make my contents scrollable with this piece of code on my modal component css:

[code]

[2019-10-14 09:06] #5456 closed, assigned to nobody

[2019-10-14 11:31] ludmilanesvitiy commented on #5377
Sorry, but I can't reproduce it @Darkein . @Domainv could you try, please?

[2019-10-14 12:50] Innovator007 commented on #5453
Hi @daniloff200 Is this issue done or i can work on it?

[2019-10-14 13:27] sakkshm commented on #5453
@innovator007 I have already made the PR but they have not reviewed it till now.

[2019-10-14 19:58] michielkikkert opened #5495 "Datepicker incorrect date if UTC time results in local offset midnight"
### Bug description or feature request:

If a date is fed into the datepicker that results in a local time of exactly midnight, the datepicker shows the incorrect date. For example, incoming time is 2019-08-26T22:00:00.000Z and the local time zone is GMT+2, the date SHOULD show as 2019-08-27. This is not the case however and it seems to be a regression from all version higher than 5.1.2 (last corr

[2019-10-15 06:59] AlMorton opened #5497 ".toggle() doesn't work"
Here is my html mark up.
`<div class="agent-details-text" [popover]="detailsTemplate" #detailPop="bs-popover" [outsideClick]="true"
        placement="right" adaptivePosition="true" (click)="detailPop.toggle()">
        <div class="agent-details-name">
            <span>{{agent.surname}}, {{agent.forename}}</span>
        </div>

        <ng-template #detailsTemplate>
            <div class="popov

[2019-10-15 17:30] olierxleben commented on #5130
Just a little update, not that someone thinks I stopped working on it. I was knocked out by the weather here... and sry for any spam you experience now. :P

@dpdhruv I started working on the issue and setup it all for development, if you still want to join, have a look at this branch: https://github.com/olierxleben/ngx-bootstrap/tree/feat-toast where I setup the actual ngx-lib component aswell as

[2019-10-16 02:57] haridevelops commented on #5415
Waiting for review approval

[2019-10-16 06:58] olierxleben opened #5501 "enhance readme to provide better guidance for contributors"
Problem I am facing:
When diving into this project the only help that is given is by showing how to build and setup for local development. This works great but any kind of new addition to the project seem to need manual steps which may not be clear, intuitively. That is the case especially when developing for this the first time.

Solution:
Writing detailed instructions of how to add a a dummy com

[2019-10-16 08:17] 6matko commented on #5394
Same issue here. Currently didn't even come up with a solution. I need this for SSR.

[2019-10-16 09:07] #5399 closed, assigned to nobody

[2019-10-16 10:13] dpdhruv commented on #5130
@olierxleben Sure will have a look at it , was busy couple of weeks here. Sorry , my slack notifications are off i guess.Will have a look today if possible real quick or by the weekend for sure.

[2019-10-16 11:47] jdpapa opened #5502 "Inline DateRange Picker double click on same date"
Hi,

I am having an issue on user experience because if the date range is on the same date, the user needed to click it twice. The problem is if the user click once, bsValueChange will not emit and the new date range will not reflect.

Is there a workaround on it? Or can i request for an event emitter when click once or the user make new action? (Any other alternatives that solves my issue.)

What

[2019-10-16 15:22] apipapriyanto opened #5503 "in process"
Before opening an issue, please search for duplicates (opened and closed)
https://github.com/valor-software/ngx-bootstrap/issues
There's no need to open an issue here if you want to ask general question, use [StackOverflow](https://stackoverflow.com/questions/tagged/ngx-bootstrap) or [Slack](https://join.slack.com/t/ngx-home/shared_invite/enQtNTExMTY5MzcwMTM0LWVjZGU2MjI4MTVhMGVlMTc2OWRiMzA0NzBhNDU

[2019-10-16 16:04] IamSurendraThota opened #5505 "Existing Styles are broken after installing the ngx bootstrap"
Hi,

after installing the ngx bootstrap in my existing application some of the styles are automatically changed without applying any classes like below,

we have a labels in form tag for that labels some bootstart classes automatically added how to prevent this auto applying styles ?

![image](https://user-images.githubusercontent.com/22834029/66936769-dfdcf200-f05b-11e9-8003-b1fec42d5a50.png)

pl

[2019-10-16 16:51] jgood044 commented on #1819
@valorkin @shailpatels Is there a timeline or any updates on a resolution for this issue? It has been open for a long time and impacting many people.

[2019-10-16 17:46] michielkikkert commented on #5495
Can someone please confirm this issue? I’m willing to have a stab at fixing this if someone can point me in the right direction (although I think I identified the commit that broke this..)

[2019-10-16 20:06] helios1101 commented on #5491
Can I also take up this issue?

[2019-10-16 20:16] helios1101 opened #5508 "Update CONTRIBUTING.md"
The contributing.md tells the user to switch branch, do the patch-changes and then commit and push that branch, which must be changed to switch branch, do the patch-changes, **stage the changes** and then commit and push that branch. This is just for a better understanding for everyone.
I would like to take up this, under **hacktoberfest challenge**.

[2019-10-17 07:17] Shivanshuinfy commented on #5342
I have a solution for this. Can you please assign it to me and change the label to in progress.

[2019-10-17 08:36] #5491 closed, assigned to nobody

[2019-10-17 08:38] daniloff200 commented on #5342
@Shivanshuinfy assigned! Good luck !

[2019-10-17 08:41] #5484 closed, assigned to nobody

[2019-10-17 14:11] urstrulykkr commented on #3544
Hi @daniloff200
I would like to work on this issue.

[2019-10-17 14:54] Dommar92 opened #5511 "Use float: right for datepicker's arrows"
**Description:**
Issue: When clicking the "next month" arrow on the right, the length of month's name changes, causing the year and "next month" button to jump around. Not possible to quickly zap through the months.

Solve by:
[code]

respective the `button.previous` needs to be isolated.

Thanks.

[2019-10-17 15:10] daniloff200 commented on #3544
@urstrulykkr  looks like, we have a PR from @fhuschle  already.

[2019-10-17 15:35] daniloff200 commented on #5417
hello, @Master-Antonio , can you please share Plunkr or Stackblitz with reproduction?
also, what do you mean by **scroll the month** ?

[2019-10-17 15:44] daniloff200 commented on #5401
No, @dalu , you're wrong
But yeah, demo looks slightly unclear.

By default, when you open demo page and press, for example, 4, it will be centered

![Selection_208](https://user-images.githubusercontent.com/13692220/67024999-f774b300-f10d-11e9-838b-3ac33dc8863d.png)

if you press then 6, the same, centered

But, if you reload page, and click on **Toggle centering current page link**  , and then c

[2019-10-17 15:49] daniloff200 commented on #5401
I think, here we can make 2 conditions for the button
By default, rotate = **true**, so, button can be like `Current page link center is ON`, then, if user press it, we change the text to `.... is OFF`, and maybe, can change the button color, for example, why not? By default it can be blue, after choosing to off,  red, or orange, etc

[2019-10-17 16:42] urstrulykkr commented on #3544
@daniloff200 , Can you please assign me to any beginner level hacktoberfest issue?
Thanks in advance :)

[2019-10-17 17:40] #5478 closed, assigned to nobody

[2019-10-17 20:48] daniloff200 commented on #3544
@urstrulykkr you can try to pick https://github.com/valor-software/ngx-bootstrap/issues/5401 , I added a description, what has to be done, so, I think it's good to go!
Feel free to ask any questions in this issue, if you have any

[2019-10-17 21:26] mentadev commented on #5368
Sorry for this very late answer, I'm using Chrome. Versión 77.0.3865.120 (Build oficial) (64 bits)

[2019-10-18 12:01] daniloff200 commented on #5386
@ChaudhryAtif

Hello ! I'm now working with that, and wanna ask one question, that  appeared during dev process

That's how it gonna work. For now it's October, but, you will see September too
![Selection_036](https://user-images.githubusercontent.com/13692220/67092420-d10b5200-f1b7-11e9-93fe-87a870629d35.png)

But, when you choose daterange only in September (not touching October), when you open

[2019-10-18 13:08] mirellyssl commented on #855
Olá, para customizar o componente datepicker, adicione ao seu css :
::ng-deep (Sempre que for customizar o componente comece com isso)  e em seguida a classe, por exemplo:
::ng-deep.bs-datepicker-body{
   width: 130% !important;
 }

[2019-10-18 13:13] mirellyssl commented on #1249
Hello, to customize the datepicker component, add to your css:
:: ng-deep (Whenever to customize the component start with this) and then start a class, for example:
:: ng-deep.bs-datepicker-body {
Width: 130%! important;
}

[2019-10-18 13:36] simon-knu commented on #5006
Same issue on 5.3.0 when mode is on "year"
It appears but we can't do anything

[2019-10-18 13:37] ChaudhryAtif commented on #5386
@daniloff200 Thank you for working on this!

**Edit/Update:** I re-read your reply and I think I am saying the same thing below, so yes that is the desired behavior. Misunderstanding on my part!

===

Here's a rough example of expected outcome: https://stackblitz.com/edit/angular-mtluz4

Top picker is current behavior, bottom is desired feature (by a property, say showPreviousMonth="true")

If you

[2019-10-18 20:44] daniloff200 commented on #5386
@ChaudhryAtif  thanks for details and good example! Looks like my feature, works exactly the same, as in your demo! Hope it will be merged this week

[2019-10-18 22:49] Gbuomprisco commented on #4261
Hi, I'm working with an application with dozens of datepickers, and this issue may cause the parent component to be retained. Of course, the memory builds up massively.

This issue has been open a while - so I'm wondering: are you not wanting to fix it as it is not regarded an issue, or simply hasn't been looked at? Happy to provide a fix if welcome :)

[2019-10-19 07:10] gagandeepp commented on #5508
I am on it

[2019-10-19 16:41] ChaudhryAtif commented on #5386
Perfect! Thank you for the effort!

[2019-10-21 01:17] FawzyMokhtar commented on #2410
I got i worked by calling the focus() on the **onShown** event.
`this.modal.onShown.pipe(
      tap(() => (document.querySelector('[autofocus]') as HTMLElement).focus())
    ).subscribe());`

[2019-10-21 01:18] FawzyMokhtar commented on #1825
I got i worked by calling the focus() on the **onShown** event.
`this.modal.onShown.pipe(
      tap(() => (document.querySelector('[autofocus]') as HTMLElement).focus())
    ).subscribe());`

[2019-10-21 06:13] nikola-stekovic-lu commented on #1819
any news on this one? Not a fan of this hacky ways of solving this. I mean, we can always make directive that would solve this kind of issues but still.... would be great to have it out-of-the-box

[2019-10-21 09:15] #5453 closed, assigned to nobody

[2019-10-21 09:37] #5438 closed, assigned to nobody

[2019-10-21 11:36] Programm3r commented on #1508
It's been more than two years, has there been any resolution on this matter?

Thanks

[2019-10-21 11:55] An-MS commented on #5495
Hi @MikeOne

I'm having the same issue.

5.1.0:
![image](https://user-images.githubusercontent.com/8647782/67203004-40788000-f40a-11e9-9300-60935ac5cc05.png)

5.3.0:
![image](https://user-images.githubusercontent.com/8647782/67203020-4d956f00-f40a-11e9-8f78-30eac29945c1.png)

[2019-10-21 12:26] michielkikkert commented on #5495
Thanks for confirming. Hopefully this will be picked up soon.

[2019-10-21 12:42] An-MS commented on #5495
Yes that would be nice. I'm implementing the DateRangePicker in our application and I can't finish the feature while this bug persists, because ngx-bootstrap is used in other parts of the application.

Thx for posting the issue!

Which commit do you think introduced the bug?

[2019-10-21 13:04] Domainv commented on #5495
@MikeOne Needs some investigation, I'll check and I'll cancel the commit if needed.

[2019-10-21 15:46] calcagnom commented on #2137
i had same problem. I think the problem is shown when you are using 2 differente instance of BsModalService. In my case, i solved passing in input to child component in the modal the service.

[2019-10-21 19:24] Gbuomprisco commented on #4261
Created a Pull Request https://github.com/valor-software/ngx-bootstrap/pull/5521

[2019-10-22 00:20] kjcordell commented on #4310
This may be a newbie question: but If I have multiple datepicker controls on a form, how do I know which one triggered the onChangeEvent?

Thanks

[2019-10-22 10:52] chetanbiradar commented on #5383
i found the issue, let me fix this

[2019-10-22 10:54] daniloff200 commented on #5383
I haven't see any activity about that, so, @chetanbiradar , you can pick it.

[2019-10-22 12:32] akvaliya opened #5523 "Pagination: Make it mobile responsive"
**Is your feature request related to a problem? Please describe.**

We expect pagination to fit in mobile screen

**Describe the solution you'd like**

It should wrap or reduce displayed pages item when overflow from parent div/container

Is there any way to achieve this?

[2019-10-23 09:35] gorgonzola81 opened #5524 "How to set boundary option for popover?"
I'm trying to add popover to icon inside a dropdown. I've used [adaptivePosition]="false" and container="body" and placement="left", but the popover seems to be stoped by left margin of my dropdown. Then it overlaps the icon, starting to tramble.

![image](https://user-images.githubusercontent.com/25458034/67379165-b0147980-f588-11e9-8265-85d07603363b.png)

Are there a way to set the **boundary**

[2019-10-23 09:38] daniloff200 commented on #5511
Strange one , @Dommar92
Can you share a small video, or, demo, when it's happening? I can't see that on our demo, and can quickly zap through the months
Check this video, please : https://www.loom.com/share/8e7b0da7d23b4fa5a29227ac985b053d

[2019-10-23 09:39] daniloff200 commented on #5503
Hello!

What's `in process` means?Do you find something wrong, or, unclear in our library? Please, describe it !

[2019-10-23 09:39] vaztimur commented on #3609
same problem, datepicker return one day behind

[2019-10-23 10:09] isalox commented on #3609
take a look here:
https://stackblitz.com/edit/angular-vbku3b

just click Set Date and you will see in control date 1 day back

[2019-10-23 13:58] GiorgosAnagnostakis commented on #3609
it 's a bug in 5.2.0
**Install ngx-bootstrap 5.1.2!!!**
(patience until corrected)

[2019-10-23 14:02] Domainv commented on #3609
Thanks, guys, I'll fix it as soon as possible.

[2019-10-23 14:27] EricSong8612 commented on #4757
Having the same need. Is there any workaround?

[2019-10-23 14:38] imben1109 commented on #3609
@isalox @Domainv
Sorry, i have some question about the date.
As JavaScript Date actually is timezone dependent, new Date(2019, 11, 23) would be different in different timezone.
In my timezone that is UTC+8, the date would be 2018/11/22 16:00.
but in UTC +0, the date should be correct. i.e. 2018/11/23 00:00

Therefore, i think UTC Time should be used. https://stackblitz.com/edit/angular-mb7szh
[cod

[2019-10-24 03:09] inhyeok commented on #4757
@EricSong8612 I resolved using datepicker options that minDate and triggers.

[2019-10-24 12:03] #3544 closed

[2019-10-24 12:22] #5401 closed

[2019-10-24 12:35] pbaukov commented on #1153
Any progress here?