[2021-11-08 11:31] valorkin commented on #6354
@adros no idea, just tried, works as expected
tested in chrome
closing as not reproducible

check this https://stackblitz.com/edit/angular-7byvyx?file=app%2Fanimated.html

[2021-11-08 11:31] #6354 closed, assigned to nobody

[2021-11-08 11:34] SvetlanaMuravlova commented on #6354
@adros , may be you can try some of these ways to resolve your issue?
https://stackblitz.com/edit/angular-7byvyx?file=app%2Fanimated.html

[2021-11-08 13:44] SvetlanaMuravlova opened #6359 "Feat update use-cases"
- [ ] accordion

- [ ] alerts

- [ ] buttons

- [ ] carousel

- [ ] collapse

- [ ] datepicker

- [ ] dropdowns

- [ ] modals

- [ ] pagination

- [ ] popover

- [ ] progressbar

- [ ] rating

- [ ] sortable

- [ ] tabs

- [ ] timepicker

- [ ] tooltip

- [ ] typeahead

[2021-11-08 20:56] elFani commented on #5397
I second this approach (removing the aria-hidden control altogether). As I understand, aria controls should be used when the standard interactions/controls are insufficient or incomplete, not as a first-line tactic for supporting a11y (especially when not needed, like this case).

[2021-11-09 05:04] air2 commented on #6358
Same problem in  7.1.2

[2021-11-09 06:15] nagkumar commented on #6353
[code]
Wish this issue is kept open and not closed unless v8 is released, as this bug does exist in "ngx-bootstrap": "^7.1.2",
which is the latest release.

[2021-11-09 09:11] AmirSavand commented on #6330
+1

[2021-11-09 10:08] apotapcukv opened #6361 "The number value is passed as a string tin the Buttons Custom checkbox value template"
**Environment**: OS Linux mint 20.2
**Precondition**: Go to the site by using: https://ngx-bootstrap-demo--pr6305-feat-new-design-hk2yeo8v.web.app/ngx-bootstrap/#/ and open dev tools click on the "Documentation" button

**Steps to reproduce**:
1. Click on the "Components" dropdowns in the left side menu > The Components Page opens
3. Click on the "Buttons" tab on the left sidebar of the Components

[2021-11-09 18:33] cosminatomei commented on #6330
+1

[2021-11-10 04:55] tama3bb opened #6362 "Configurable collapse animation duration"
This is a feature request for configurable collapse animation duration to toggle contents.

[2021-11-10 12:15] nagkumar opened #6363 "ngx changes main page view"
The original view, which is not using any of ngx looks like this..

![image](https://user-images.githubusercontent.com/332234/141111065-4b70d4f0-6881-43d3-acaf-7c4dc72229bc.png)

However, once I open a dialog, that uses ngx, the background view changes

![image](https://user-images.githubusercontent.com/332234/141111204-55c7ce32-82fa-40a6-ae6d-091958e26666.png)

Once the dialog is closed, again th

[2021-11-10 15:17] meta72 commented on #6319
@apotapcukv
As I mentioned in my last comment, you can just change the ngx-bootstrap version in the example-stackblitz. I created a stackblitz with those changes, that shows the issue: https://stackblitz.com/edit/angular-c8mbwt?file=main.ts

[2021-11-11 03:18] Darrow8 commented on #6330
+1

[2021-11-11 03:18] Darrow8 commented on #6330
Has this happened yet? I keep getting the error `An unhandled exception occurred: NOT SUPPORTED: keyword "id", use "$id" for schema ID
See "/private/var/folders/n0/3hy73lxs3xs_fv3ms7fp0s7h0000gs/T/ng-0hqxdN/angular-errors.log" for further details.`

[2021-11-11 13:04] aleksander351 commented on #1396
@valorkin is there any way to align the dropdown to the right?
Otherwise it overflows the page if the list items are very long.
I borrowed the image from @zkorz
I see that the typeahead directive has a protected placement property.
![image](https://user-images.githubusercontent.com/7508670/141302815-67b6078b-e014-4cd6-aa93-00fcedf49857.png)

[2021-11-11 13:56] SvetlanaMuravlova commented on #6330
ngx-bootstrap library isn't updated for angular 13, pr is prehearing for it)

[2021-11-11 16:23] JDL1995 opened #6365 "ngx-bootstrap angular 13 needs to be made"
I want to use ngx-bootstrap in my projects and I also want to use angular 13.

I'm sure I'm not alone in this.

here are the codes I receive when installing it with angular cli 13.

please let me know if there's anything I can do to help create additions to bring this package to compatibility with angular 13.
email: Jonatollah@gmai.com

**Description:**
jonathanlathrop@Jonathans-Mac-mini component

[2021-11-12 09:42] aleksander351 opened #6366 "Placement directive for typeahead dropdown container"
@valorkin is there any way to align the dropdown to the right?
Otherwise it overflows the page if the list items are very long.
I borrowed the image from @zkorz

I see that the typeahead directive has a protected placement property which apparently doesn't do anything.
I beleive other components already have this option.
Like the corner placement of the popover component.
https://valor-software.co

[2021-11-12 13:06] dafranklin commented on #6365
Same problem with 7.1.2.

[2021-11-13 23:12] FrancescoBorzi commented on #6358
@SvetlanaMuravlova @valorkin @daniloff200 @MuravlovaSvetlana @ErikYu @samshay

can anyone please have a look at this? it's currently failing our tests in a random fashion...

[2021-11-14 08:06] adnan333bd opened #6367 "https://valor-software.com/ngx-bootstrap is down"
**Description:**
Cant read the doc for ngx bootstrap in google chrome

[2021-11-14 15:06] TheBoyCC commented on #6365
The workaround will be to downgrade the angular version to 12

[2021-11-14 18:04] JDL1995 commented on #6365
Any idea when it will be updated? I want to work in angular 13. I offer to volunteer to work on developing for angular 13 compatability.

-Jonathan Lathrop
B.S CIS U of H, Frontend-backend javascript engineer

Sent with [ProtonMail](https://protonmail.com/) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Sunday, November 14th, 2021 at 9:07 AM, Christian Ofori-Achiaw ***@***.***> wrote:

[2021-11-14 18:15] rodevasia commented on #2457
I've also had this issue, I resolved it by adding `[(ngModel)]`

[2021-11-15 07:32] SvetlanaMuravlova commented on #6358
@FrancescoBorzi hi) thank you for issue. Try please angular 12 with such version of ngx-bootstrap.  Compatibility with angular 13 will be in the future version.

[2021-11-15 07:56] #6358 closed, assigned to nobody

[2021-11-16 06:25] air2 commented on #6365
#6358 A future version according to this ticket. Not very clear. Would hope on some more detailed time-path

[2021-11-16 06:27] air2 commented on #6365
Follow #6330 for more info I guess.

[2021-11-16 07:40] HungNguyen21301593 commented on #3957
Hi, I'm having the same issue, is anyone working on this?

[2021-11-16 13:22] spike-rabbit commented on #6259
Would you accept a PR adding this feature to ngx-bootstrap?

[2021-11-16 16:11] nickjillings commented on #5395
After many hours (ahem.. weeks), I have found the problem, or at least a potential one, and it isn't small.

It seems this library doesn't like playing with the Zone.js rxjs patch. Adding `import 'zone.js/dist/zone-patch-rxjs';` to the `polyfills.js` causes this issue, removing it everything is fine, except that all the observables are no longer zone aware.

I have a [repo](https://github.com/nick

[2021-11-16 16:22] nickjillings commented on #5395
You know what, ignore the above as I made the copied repo using another loader from my main project (@ng-bootstrap not ngx-bootstrap). But still, worth the two cents anyway that the RxJs Zone.js polyfill might do something. I'll leave you all in peace!

[2021-11-17 12:38] shendbajgora commented on #6330
@SvetlanaMuravlova

I'm using angular 13 for a project, and I really need ngx-bootstrap to support angular-13.
I was wondering when will the library support angular 13?

[2021-11-18 20:50] amb-jarek commented on #6335
Same here. I can see following error in the console:
[code]

[2021-11-19 06:31] hansireit opened #6368 "Datepicker: Performance problems when switching between multiple datepickers repeatedly"
Bug description:
When you switch between multiple datepickers repeatedly, the browser tab will get slower and eventually freeze. I have created a StackBlitz that renders multiple datepickers and then starts opening the datepickers randomly. This alone works fine, but if you start clicking on the datepicker-inputs as well, you can see that everything slows down. Even hovering over the datepicker-in

[2021-11-21 00:14] FrancescoBorzi commented on #6330
@SvetlanaMuravlova hey, are there any news about this?

[2021-11-21 08:05] LoveDuckie commented on #6330
@FrancescoBorzi it seems like there is a PR for this in-flight, but it appears to be failing some e2e tests.

[2021-11-21 13:16] bogdandanielb opened #6369 "Datepicker time"
**Is your feature request related to a problem? Please describe.**

UX related, since the fields are in a vertical line (calendar, timepicker), the users scan the form from top to bottom and expect to select the date first and then the time. Issues:

1. Once the date is selected the dropdown is closed, hence the user has no chance to pick the time.
2. Reopening and altering the time has no effect

[2021-11-21 22:47] LoveDuckie commented on #6330
I would also love for this library to be upgraded to Angular 13. :)

[2021-11-24 09:40] pouyababaie opened #6370 "input type "Range" Request"
### Range Slider

as I'm working on my project , I needed a **slider**  , more specifically , a **range slider**.
I didn't find any components, so I'm requesting contributors  for it.

------------
I need the component to have these options :
1. min size
2. max size
3. steps
4. on mouseover event

----------------
I'm not an a Ngx expert so cant help writing it , but if you do , I'd be happy :)

b

[2021-11-24 19:13] sherlock1982 opened #6371 "ngx-bootstrap is not compatible with license-webpack-plugin"
**Is your feature request related to a problem? Please describe.**

Angular uses license-webpack-plugin to extract licenses to 3rdpartylicenses.txt.
Though ngx-bootstrap root project contains license and license text it will not be included in final file because this project is not imported directly.
Actually only child projects like ngx-bootstrap/* are imported.
They don't have neither license ty

[2021-11-25 07:50] RafalOsieka opened #6372 "Daterangepicker - error in the console"
#### Bug description:

When clearing the daterangepicker (probably will happen also for the normal datepicker) input, the error is logged in the console.

To reproduce:
1. StackBlitz link from below
2. Click the input and select a date range
3. Click at the end of the text in the input and wait until the picker opens
4. Remove the input text (backspace)
5. When the input is clear, click on the pag

[2021-11-26 16:43] mukuljai commented on #6319
@apotapcukv any update on this?

[2021-11-27 11:59] fwitkowski commented on #6248
I have the same issue with version 7.1.0

[2021-11-29 10:32] skimlik commented on #2137
This is rare case, but this is still reproducible on version "ngx-bootstrap": "6.x",
has it been fixed in 7.x ?

[2021-11-29 12:31] AmirSavand commented on #6330
Please make this happen ❤️

Do we have any date for completion?

[2021-11-29 17:26] nicolalopatriello opened #6373 "datepicker and meridian time"
Is possibile to use datepicker (with `withTimepicker` input) but use also `meridian` settings?

I need to use timepicker with 24h

Thanks,
Nicola

[2021-11-30 00:15] mgarcos opened #6375 "Boostrap 5 Offcanvas support"
A new offcanvas component was added as part of BS5.  Are there plans to support it in ngxbootstrap?

https://getbootstrap.com/docs/5.1/components/offcanvas/

[2021-11-30 06:12] bogdandanielb commented on #6373
This feature, along with others, were included in #6369 .

[2021-11-30 15:25] spike-rabbit opened #6376 "accordion - use bootstrap 5 accordion classes instead of card"
**Is your feature request related to a problem? Please describe.**

Currenlty, the accordion component is crafted using boostraps `card` component. But with bs5, boostrap introduced an `accordion` component  ([see here](https://getbootstrap.com/docs/5.1/components/accordion/)).

**Describe the solution you'd like**

It would be awsome, if ngx-bootstrap uses bootstraps `accordion` instead of a `car

[2021-12-01 00:08] shendbajgora commented on #6330
Guys I had no other options, had to move into ng-bootstrap.
They already pushed RC for Bootstrap 4 and Beta version for bootstrap 5.

Good luck!

[2021-12-01 12:58] DerZyklop commented on #5565
@jenswet Congrats that you could fix it. For me and other people, that will probably stumble upon this issue… how did you solve it?

[2021-12-01 14:42] DerZyklop commented on #5565
I solved it, too.

I don’t use Bs Modal, so @IraErshova’s solution was not fitting to/possible for me.

I had something like this:

[code]

and

[code]

It crashed because it is not possible to get the reference via ViewChild while it’s inside a ng-template.

But this worked for me:

[code]

and

[code]

[2021-12-01 20:56] FrancescoBorzi commented on #6330
@valorkin @SvetlanaMuravlova can we do something about this? we are losing users this way...

[2021-12-02 08:48] jenswet commented on #5565
Well, I both tried ngx-bootstrap and ng-bootstrap in my project and had less problems in my use case with ng-bootstrap. That's probably not the kind of fix that helps you... Sorry!

[2021-12-02 11:29] eswarvijji opened #6377 "Unable access https://valor-software.com/ Electronics and Information Technology under IT Act, 2000"
**Description:**
Hi, We are unable to access https://valor-software.com/.
Error - :
The website has been blocked as per order of Ministry of Electronics and Information Technology under IT Act, 2000.

[2021-12-02 11:30] eswarvijji commented on #6377
![Capture](https://user-images.githubusercontent.com/30665308/144414040-645a95a1-abed-4f93-834f-bbbf80d68387.JPG)

[2021-12-02 11:31] eswarvijji commented on #6367
Getting error
The website has been blocked as per order of Ministry of Electronics and Information Technology under IT Act, 2000.

[2021-12-02 11:49] valorkin commented on #6330
@FrancescoBorzi we have bs5 for a while actually, since 7.1 :\
https://valor-software.com/ngx-bootstrap/#/documentation
click on bs5 in themes switcher

[2021-12-02 11:50] valorkin commented on #6330
our plans to migrate to angular 13 quickly failed cuz we depend on nx
and nx doesn't yet properly support ng 13 build

[2021-12-03 06:19] johanur-rahman commented on #6377
Facing the same issue for past 2/3 days..

Hope they will fix it soon. Need to see the documentation.

[2021-12-03 10:50] nielswitte commented on #5999
Any update on this or even a workaround?

[2021-12-06 08:17] vinothvkr opened #6379 "Doc site https://valor-software.com/ngx-bootstrap issue"
Documentation website  valor-software.com/ngx-bootstrap either not accessible or navigation is not working.

[2021-12-06 11:13] JaronGG opened #6380 "[Feature] [Datepicker] Start/StartAt date view"
**Is your feature request related to a problem? Please describe.**

Use cases: Selecting Date of Birth, date of entry, or any other date that is likely not to be this year/month.

Let's go with DOB for the rest of this FR.

Currently a user will open the dialog, and either click the back button a lot, forward or backwards and find the required year, month and day.

**Describe the solution you'd li

[2021-12-07 00:56] sugihartolim commented on #6330
I'm confused by the status of this issue. Does the last message by @valorkin above mean we shouldn't expect Angular13 support anytime soon (since the holidays are coming etc) ? Is there a published roadmap somewhere? Thanks.

For context, nx claimed to support Angular13 in 13.2.0, which was released 2-3 weeks ago. As of today they're on 13.3.0-beta.4.  The issue opened by @SvetlanaMuravlova in the

[2021-12-07 09:56] valorkin commented on #6330
@sugihartolim if version mentioned by me will not be released next we, we will hack around, I want to cut v8 to unblock us

[2021-12-07 21:21] spaque99 opened #6381 "Collapsible Panel with header"
**Is your feature request related to a problem? Please describe.**
We have many panels inside a page and we want all of them to be collapsible.

Currently, we can implement using ngx bootstrap collapse feature or using accordion with a single accordion group. Those two options are heavy and not necessary.

We can also create a custom class in our project that wraps collapse feature and reuse this.

[2021-12-08 11:26] pkcinna01 commented on #6365
We also need clarity about long-term plans and expected delay for new release after a major version of Angular is released.   Angular material UI releases are in step with release dates of Angular.   Also,  the ngx-bootstrap compatibility table at https://www.npmjs.com/package/ngx-bootstrap has not been updated in a while.  Maybe that should just be a link to github readme so same info is not main

[2021-12-08 14:24] LoveDuckie commented on #6365
@pkcinna01 is this project being deprecated?! That's the first I've heard.

[2021-12-08 19:16] pkcinna01 commented on #6365
Sorry.  I could have worded that better.  The ask is just more clarity on how long it takes to get a new release after a new angular release.  It would also be nice to get an idea of commitments and plans from the volunteers working on ngx-bootstrap.  We are using it on a large project and crucial dependencies like rxdb cannot be upgraded until we use Angular 13.  Without clarity about project out

[2021-12-09 14:47] adros opened #6382 "Make 'closing on window:popstate' configurabe"
I have a scenario, where I do not want to close the modal on window navigation, but it is almost impossible now.
I was only able to do it like this, but it is hacky:

[code]

[2021-12-10 08:03] rmaiersilldorff opened #6383 "feat(datepicker): add new event triggered after the displayed datepicker-month is changed"
**Is your feature request related to a problem? Please describe.**

I would like to display appointments in the daterangepicker-inline. These appointments differ from month to month. Therefore, I need to know which month is currently selected and load the appointments as soon as the user changes the month. However, there is no event for that. As workaround, I used the internal state.

**Describe t

[2021-12-10 16:13] Dwightojo opened #6384 "`customRangeButtonLabel` is not used"
**Description:**
The field `customRangeButtonLabel` in the `bs-datepicker.config.ts` is currently not used for anything. the custom range button does not exist. Until this functionality is added i recommend removing the field from the config as it is quite confusing at the moment.

[2021-12-11 15:42] LoveDuckie commented on #6365
@pkcinna01 I share your frustration. I'm waiting for Angular 13 support as well, but I'm in half the mind to roll my sleeves up and give it a go at upgrading the project source myself.

[2021-12-12 17:20] codingisacopingstrategy commented on #6330
Thanks for the updates and the swell library. Looks like we got nx 13.3.0 and 13.3.1 this weekend! https://github.com/nrwl/nx/releases

[2021-12-13 11:55] mukuljai commented on #6319
Checked typeahead code, could find below code may actually causing this, though not sure for isBs3=true too why showing as buttons? -
`https://github.com/lukasz-madej/ngx-bootstrap/blob/development/src/typeahead/typeahead-container.component.html`
can clearly see the difference -
[code]
Pls provide fix this asap.

[2021-12-13 12:33] elementalTIMING opened #6385 "Dropdown is not closing"
The Dropdown menu is not closing when having multiple dropdown elements in a component and clicking between them.
Explain it in a different way:

Component with 3 elements:
	Dropdown #1
	Dropdown #2
	Element

Scenario 1 (works well):
Clicking on "Dropdown #1" opens the menu.
Clicking on "Element" closes the "Dropdown #1" menu

Scenario 2 (buggy):
Clicking on "Dropdown #1" opens the menu.
Clicking

[2021-12-13 14:58] LHattingh opened #6386 "adaptivePosition not working"
From version 7, when apativePosition=true, the datepicker appears to the right and left of the input box, instead of the top.

It is still okay in version 6.2.0.

Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 7.0.0

Angular: 12

Bootstrap: 4

[2021-12-13 14:58] pkcinna01 commented on #6365
That sounds like best approach (instead of removing dependency from large project).  Please give an update if there is a working fork of this project.   I will do the same if I have time and no one has got it working by then.

[2021-12-13 15:25] cymerman commented on #6335
Same

[2021-12-13 17:38] LHattingh commented on #6386
It seems the problem is with this code in the function computeAutoPlacement:

[code]

For instance, boundaries.top is zero, and therefore top.height = 0, which will result in the datepicker never having a placement  top

[2021-12-14 04:37] kunalfleethawks commented on #5198
Magic!! I am facing same problem.

[code]

[2021-12-14 10:49] i-Chan93 commented on #749
+1.
typeaheadOptionField ideally needs to have the capability to get the entire item object and not just any one of the properties. Defeats the purpose.

[2021-12-14 14:32] Itrulia commented on #6379
Works fine for me.

[2021-12-14 22:16] innoveltec commented on #6330
Hello, I upgraded my nx framework to the latest today which is 13.3.4. It has proper angular 13 support. Any timing when ngx bootstrap will be compatible with angular v13 since i was also using ngx bootstrap inside my nx repo and my npm install is now failing because ngx bootstrap 7.1 does not support angular v13.

[2021-12-16 15:56] adros commented on #6354
I have sample where yo can see the issue.

https://stackblitz.com/edit/angular-7byvyx-xfswze?file=app/wrapper.component.ts

It is must be related to change detection and ng-content, cause it only appears with OnPush strategy which I use (of course it has no sense in this simplified sample)

[2021-12-16 16:09] #6253 closed, assigned to SvetlanaMuravlova

[2021-12-16 16:19] valorkin commented on #6330
let's see ;)
https://github.com/valor-software/ngx-bootstrap/actions/runs/1588374797

[2021-12-17 11:54] ghost commented on #1352
An `typeaheadOptionFieldFn` should be enough, so we can pass a callback receiving the items and returning the final string to search the hint with. Like this:

[code]

[code]

[2021-12-17 12:19] adros opened #6387 "Animated accordion & content height change with OnPush strategy"
I am rising new ticket cause I dont have right to reopen original one #6354

Animated accordion is not correctly in some special case, demonstrated here:

https://stackblitz.com/edit/angular-7byvyx-xfswze?file=app/wrapper.component.ts

I must be related to OnPush strategy and passing the dynamic content via ng-content

[2021-12-19 20:13] LoveDuckie commented on #6330
Still seems to be failing on the publish step. Do you have to do this instead?

[2021-12-20 11:38] kumarl1 commented on #4213
Still facing the same issue with bootstrap version 5 when we are using DD MMM YYYY format. please check

[2021-12-20 11:52] marcos-vcs opened #6388 "documentation page is not available. error 404, not found."
![image](https://user-images.githubusercontent.com/37250628/146763123-85649436-3a50-4c8b-9609-c8440d9f2285.png)
documentation page is not available. error 404, not found.

[2021-12-20 14:22] valorkin commented on #6330
had to change a build folder structure, with v13 it gone sideways a lot
https://github.com/valor-software/ngx-bootstrap/actions/runs/1602452196
works good locally

[2021-12-20 15:33] #6388 closed, assigned to nobody

[2021-12-20 15:44] #6359 closed, assigned to apotapcukv

[2021-12-21 04:18] asjamsuri commented on #6385
Have you tried to update the latest version? (7.1.2)

I think I got a similar issue before.

Clicking on "Dropdown #1" opens the menu.
Clicking on "Dropdown #2" opens the menu but the "Dropdown #1" menu is not closing

And upgrading the `ngx-bootstrap` to 7.1.2 solved it.

Hope it helps.

[2021-12-21 04:52] mayhew3 opened #6390 "Datepicker not working on documentation page"
Bug description: I'm trying to play around with Datepicker on the documentation page: https://valor-software.com/ngx-bootstrap/#/components/datepicker?tab=overview

I'm finding that the datepicker appears when clicking into the "Basic" fields only, and I don't see the popup for any of the other examples, including those where the trigger is a button. I've tried this on the latest Firefox and Chrom

[2021-12-21 10:21] elementalTIMING commented on #6385
@asjamsuri oh yes that helped. Strange because v7.1.2 is not shown when I was checking for updates with `npm outdated`. I had to install it manually. But now it works, like a charm. Thx a lot!

[2021-12-23 11:31] madhukudala commented on #6379
![image](https://user-images.githubusercontent.com/7322186/147234477-fd673e6f-ec9a-4460-87d4-e901bcd3999e.png)

Unable to access the documentation!

[2021-12-23 13:09] valorkin commented on #6390
it's related to new design, already fixed, should be deployed today

[2021-12-23 13:41] valorkin commented on #6390
https://valor-software.com/ngx-bootstrap/#/components/datepicker?tab=overview

[2021-12-23 13:41] #6390 closed, assigned to nobody

[2021-12-23 15:51] valorkin commented on #6379
sry folks, was updating design and build\pipe process for nx13
resolved now

[2021-12-23 15:51] #6379 closed, assigned to nobody

[2021-12-23 15:52] valorkin commented on #6377
you can use vpn in the mean while
if you know where to write an email would be great

[2021-12-23 15:57] zackarychapple commented on #6377
@johanur-rahman and @eswarvijji would you mind providing information on the region of India you are trying from. We have a lot of traffic from India on google analytics and we're trying to figure out which states in particular are having issues.

[2021-12-23 16:26] johanur-rahman commented on #6377
@zackarychapple thanks for you response. I can access the ngx-bootstrap site now. I didn't need the documentation for a while, so I didn't check if its working anymore or not.

[2021-12-23 17:19] lerich commented on #6365
Hi guys. Is there any news?

[2021-12-23 19:34] mayhew3 commented on #6390
Confirmed! Thanks.

[2021-12-23 19:53] marioproietti1995 commented on #6365
Are there alternatives to ngx-bootstrap, for Angular 13?

[2021-12-23 20:08] LoveDuckie commented on #6365
There's ng-bootstrap, but their release for Angular 13 is in BETA, I think. @marioproietti1995

[2021-12-23 22:12] marioproietti1995 commented on #6365
Oh yeah I figured it yet, and I'm going to use this.

Thanks for your reply

[2021-12-23 23:08] pkcinna01 commented on #6365
Looks like v8 is almost there based on git activity.  Not sure if there is a list of pros/cons to using ngx-bootstrap but in hindsight I would have used pure bootstrap without a dependency.

[2021-12-24 12:30] FrancescoBorzi opened #6392 "8.0.0-RC.2 Error: Module not found: Error: Package path is not exported from package"
I've tried to compile [my app](https://github.com/azerothcore/Keira3) updating ngx-bootstrap from version `7.1.0` to `8.0.0-RC.2` and this is what I get:

[code]

[2021-12-24 12:31] FrancescoBorzi commented on #6392
@valorkin any hint?

[2021-12-24 12:36] valorkin commented on #6392
On it, thx for repo

[2021-12-24 13:44] valorkin commented on #6365
v8 released as `next` version on npm

[2021-12-24 13:45] valorkin commented on #6365
testing/polishing in real apps and will move to latest

[2021-12-24 13:45] #6365 closed, assigned to nobody

[2021-12-24 13:48] #6371 closed, assigned to nobody

[2021-12-24 13:51] valorkin commented on #6367
if you know where to write a message to unblock this, please welcome to comments in #6377 6377

[2021-12-24 13:51] #6367 closed, assigned to nobody

[2021-12-24 13:53] valorkin commented on #3022
I hope this doesn't an actual issue already )

[2021-12-24 13:53] #3022 closed

[2021-12-24 14:00] valorkin commented on #6392
look at exports in https://unpkg.com/browse/@angular/cdk@13.1.1/package.json
they changed a default resolution to something custom :\

[2021-12-24 14:27] FrancescoBorzi commented on #6392
@valorkin I've just tried with RC.3 and it's the same error

[2021-12-24 14:38] valorkin commented on #6392
RC.3 is a cut, RC. 4 will have fix for exports

[2021-12-24 15:06] valorkin commented on #6392
https://github.com/valor-software/ngx-bootstrap/actions/runs/1619532366

[2021-12-24 15:06] valorkin commented on #6392
tested locally and it builds well

[2021-12-24 15:23] valorkin commented on #6392
tested in your app, RC-4 works find ;)

[2021-12-24 15:23] #6392 closed, assigned to nobody

[2021-12-24 15:30] valorkin commented on #6386
was fixed in v8+, checked with bs4 and bootstrap 5
please check https://valor-software.com/ngx-bootstrap/#/components/datepicker?tab=overview

[2021-12-24 15:30] #6386 closed, assigned to nobody

[2021-12-24 15:30] valorkin commented on #6386
https://valor-software.com/ngx-bootstrap/#/components/datepicker?tab=overview#adaptive-position

[2021-12-24 15:31] valorkin commented on #6385
@asjamsuri thanks a lot

[2021-12-24 15:31] #6385 closed, assigned to nobody

[2021-12-24 15:31] valorkin commented on #6384
yeah, I event had a design for it, but never had a chance to actually add it

[2021-12-24 15:37] valorkin commented on #6384
oh, actually it's used
![image](https://user-images.githubusercontent.com/1107171/147362544-67e8da75-3d2d-404e-81c3-4505ef797355.png)

[2021-12-24 15:39] valorkin commented on #6384
[code]

[2021-12-24 15:39] valorkin commented on #6384
here is the demo https://valor-software.com/ngx-bootstrap/#/components/datepicker?tab=overview#quick-select-ranges

[2021-12-24 15:40] valorkin commented on #6384
nah actually you right, need to recall what I was planning for it :/

[2021-12-24 15:43] valorkin commented on #6363
`modal-open` class on body element

[2021-12-24 15:48] #6363 closed, assigned to nobody

[2021-12-25 00:08] FrancescoBorzi commented on #6392
confirmed, thanks @valorkin !

[2021-12-25 02:59] nagkumar commented on #6363
valorkin, can you pl. explain further how t fix this..do we need to fix the CSS? if yes how.. if it is a framework issue, would this fixed the latest version?

[2021-12-25 13:39] FrancescoBorzi commented on #6358
I'm now using version 8.0.0-RC4 with Angular 13 and unfortunately, the problem is still happening.

It doesn't fail consistently, just happens randomly from time to time, but often enough to be annoying. I set my unit tests with 5 re-try attempts but it still manages to fail, for example:

https://github.com/azerothcore/Keira3/runs/4631630164?check_suite_focus=true

[code]

I think this issue shou

[2021-12-25 18:08] casper5822 commented on #5905
Same problem for me with angular 12 and ngx-bootstrap ^7.1.2 with bootstrap 5

[2021-12-27 09:55] valorkin commented on #6363
I would not call this an issue, but you can check that ngx is simply following a behavior of original components
https://getbootstrap.com/docs/5.1/components/modal/

[2021-12-27 09:55] valorkin commented on #6363
could be something else ofc, you should check which css classes are affecting your elements

[2021-12-27 16:52] defra91 commented on #6276
Good morning,

the problem seems to persist in v7.2.0. Today I was forced to downgrade to v6.2.0, which does not have the bug.

Apparently the option `initCurrentTime` is not working correctly.

Can you please provide some feedback?

[2021-12-28 02:00] rajksaha commented on #6369
Waiting for these features, specially the 24hr format. Any time-line when this will be available for us ?

[2021-12-28 10:38] exe-atewinkel commented on #6276
If I'm not mistaken this fix has not yet been released. We are waiting to upgrade as well. Am I correct?

[2021-12-28 10:49] valorkin commented on #6276
should be in v8 which is published to npm already

[2021-12-28 12:58] defra91 commented on #6276
Thank you very much for your reply. Looking forward for a stable release of v8!

[2021-12-28 13:52] mykola-novytskyi commented on #4350
What is the progress?

[2021-12-28 15:02] flohw opened #6393 "Allowing to customize date and time format on Date and Time pickers"
**Is your feature request related to a problem? Please describe.**

When using the time picker (and probably the date picker with time), I get a javascript Date object which is hard to use and provide an UTC date. Which can cause problem hard to solve.

**Describe the solution you'd like**

Having an ngx-bootstrap internal model reprensenting the date and time for these components. We could provid

[2021-12-28 19:17] slubowsky opened #6394 "Cant import Typeahead using 8.0.0-RC.5"
Have working app.
- Update package.json to include "ngx-bootstrap": "8.0.0-RC.5" from "7.1.2".
- run npm i
- run npm start

see lots of errors all related to importing typeahead
`./src/app/my.module.ts:7:0-58 - Error: Module not found: Error: Can't resolve 'ngx-bootstrap/typeahead' in 'C:\my-file'`
Rest of ngx-bootstrap imports seem ok. Only typeahead is failing

[code]

[2021-12-28 19:43] jeffyzxc opened #6395 "Question: Modal append to element instead to body"
**Modal append to different container**

Is it possible to do this in ngx-bootstrap?

[2021-12-30 05:50] samir-kamble commented on #5982
I am getting same issue. Are we having any solution for this yet?

[2021-12-30 17:15] elvispdosreis opened #6396 "Datepicker error scrool y"
I'm having trouble fixing the datepicker box correctly, using Offcanvas from bootstrap 5 with scrool.

Apparently the component is fixed to the offcanvas backscreen and does not follow the overflow-y

https://getbootstrap.com/docs/5.0/components/offcanvas/

![image](https://user-images.githubusercontent.com/15267623/147773245-7687b1c6-6e68-4c9e-b945-f0b257f53e3c.png)

[2021-12-30 21:29] stomo21 opened #6397 "BarComponent TypeError: Cannot read properties of undefined (reading 'currentValue')"
On version 7.1:
TypeError: Cannot read properties of undefined (reading 'currentValue')
    at BarComponent.ngOnChanges (ngx-bootstrap-progressbar.js:59)

May need a question mark somewhere here:
https://github.com/valor-software/ngx-bootstrap/blob/8b4caf3577045e4ba3e4000c0e041f1bcafbfbd6/src/progressbar/bar.component.ts#L64

[2021-12-31 07:03] bucengfangqi commented on #6335
![image](https://user-images.githubusercontent.com/22071679/147808807-35b7dfdf-8749-4f00-b48a-5d12bde6a1e3.png)

[2021-12-31 07:55] PieterjanDeClippel opened #6398 "ENH - Dropdowns: Use Overlay service - POC ready"
**Description:**
Enhancement

Angular provides the `Overlay` service to let you create popups/dropdowns/overlays.
- [My code for the dropdown directives](https://github.com/MintPlayer/mintplayer-ng-bootstrap/tree/master/libs/mintplayer-ng-bootstrap/src/lib/components/dropdown)
- [Here's where the overlay is being created](https://github.com/MintPlayer/mintplayer-ng-bootstrap/blob/master/libs/mintp

[2022-01-04 21:54] amiram opened #6399 "bsDatePicker changes the date value that was used to reset its value"
Bug description:
When using bsDatePicker in reactive form, the date picker is changing the date variable that was used to reset the form. I've created a sample here https://stackblitz.com/edit/ngx-bootstrap-spjuat?file=app/app.component.html
You can see that once you use a date to reset the date picker, it is changing the time to the current time, and although the same date is used to reset the fo

[2022-01-05 11:31] greenjellygit commented on #3348
For a workaround I think better solution than access to native html elements is to read internal properties of date range picker directive.

You can inject it as @ViewChild:
`@ViewChild(BsDaterangepickerDirective, {static: false}) dateRangePicker: BsDaterangepickerDirective;`

And then after datepicker is opened (`(onShown)="onDatepickerShown()"`) you can call custom method to watch changes of fir

[2022-01-05 18:28] Dwightojo commented on #6384
Hey, no problem. and yeah i got turned around by it too.

[2022-01-06 07:33] somuda86 opened #6400 "Dropdown not closing automatically if clicked in another dropdown of ngx-bootstrap"
Its working in 7.0.0-rc1 and not working in 7.0.0-rc2. I am using Angular 12. I see no documentation mentioning the change

[2022-01-08 12:43] rahulk0310 opened #6401 "Reset Ngx Bootstrap Inline Date Range Picker"
I am trying to reset the inline date range picker selection on click of a button.  As soon as I click on the reset button Value change event is not emitting.

[code]
[code]

[2022-01-10 15:08] SvetlanaMuravlova commented on #6400
@somuda86 , hi) try version 7.0.0  this behavior should be default in this version, but if you prefer to switch off it - use config 'stopOnClickPropagation' for it

[2022-01-10 15:45] somuda86 commented on #6400
7.1.1 Also have the problem, >=7.1.2 doesnt have that problem.

[2022-01-10 16:04] SvetlanaMuravlova commented on #6400
@somuda86 , so use, please newer versions, where it is fixed))

[2022-01-11 02:31] somuda86 commented on #6400
I know its fixed, but I guess docs are a little misleading when it was fixed thats all. You can close the issue.

[2022-01-11 08:44] jonnytest1 opened #6403 "Update Compatibility table in reamde to incldue up to angualr 13"
**Is your feature request related to a problem? Please describe.**

feature table https://github.com/valor-software/ngx-bootstrap/blob/development/README.md#compatibility doesnt include up to angular 13

**Describe the solution you'd like**
include angular  13

[2022-01-11 08:47] jonnytest1 opened #6404 "latest version still gives me compatibilty errors with angular 13"
Before opening an issue, please search for duplicates (opened and closed) https://github.com/valor-software/ngx-bootstrap/issues There's no need to open an issue here if you want to ask general question, use StackOverflow or Slack instead

Bug description:

on `npm install` with @angular library versioned at 13.1.1 i get the following error

Found: @angular/forms@13.1.1
npm WARN node_modules/@angu

[2022-01-11 09:46] #6394 closed, assigned to nobody

[2022-01-11 09:47] #6333 closed, assigned to nobody

[2022-01-11 14:18] casper5822 commented on #5705
Same issue using angular 12 with bootstrap 5.  Overflow-x of the body is not respected.

"bootstrap": "^5.1.3",
"ngx-bootstrap": "^7.1.2"

[2022-01-11 14:40] #6335 closed, assigned to nobody

[2022-01-12 07:26] orestisioakeimidis opened #6406 "The enabled dates month is not enabled after switching to the month view mode"
When the `datesEnabled` option is used, the month that the enabled dates belong to is not enabled after switching to the month view mode.

You can reproduce it on the ngx-bootstrap official docs website using the following link. Use the left arrow to go back to February 2020. You can see the enabled dates, but if you click on February, the month view is displayed but February is disabled.

https:/

[2022-01-12 09:04] nicolalopatriello commented on #6369
Any news about this feature?

[2022-01-12 11:47] mikolajszymanski commented on #6306
@daniloff200 Will you take care of it?

[2022-01-12 12:09] SvetlanaMuravlova commented on #6404
@jonnytest1 Am i right, are you trying to use version ^7.1.2 of ngx-bootstrap with angular 13?

[2022-01-12 12:11] SvetlanaMuravlova commented on #6400
@somuda86 , i got your point, so i set it as enhancement)

[2022-01-12 12:16] #6329 closed, assigned to SvetlanaMuravlova

[2022-01-12 12:17] #6330 closed, assigned to SvetlanaMuravlova

[2022-01-12 12:42] jonnytest1 commented on #6404
yes
it seems to be the latest version on npm

[2022-01-13 07:25] air2 commented on #6404
7.1.2 is NOT compatible with angular 13, 8.x will be compatible, but is still a release candidate. Please check that version to see it it works for u.

[2022-01-13 08:22] SvetlanaMuravlova commented on #6404
@jonnytest1 , yeah it is, but it isn't compatible with angular 13, you can see it there https://valor-software.com/ngx-bootstrap/#/documentation#compatibility
For angular 13 you can use our next version on npm, or you can wait for release of 8 version)

[2022-01-13 08:22] #6404 closed, assigned to nobody

[2022-01-13 10:25] #6397 closed, assigned to nobody

[2022-01-13 10:27] #6263 closed, assigned to nobody

[2022-01-13 10:28] #6372 closed, assigned to nobody

[2022-01-13 10:57] Sheylune opened #6410 "Error in the datepicker week numbers"
Hello everyone, I think the problem in 2021 about the weeknumbers wrong display still remain at 2022. In the stackblitz you will see the datepicker, but when you go to the 1st of January it is bound to week number 1 and the 2nd January is bound to week number 2 of 2022 but they are both week number 52 of 2021!!!

the stackblitz : https://stackblitz.com/edit/ngx-bootstrap-datepicker

I'm actually w

[2022-01-13 13:37] pavankramadugu opened #6411 "default range in quick Select ranges"
Hello there, team. While working on a feature for my app, I noticed something in the datepicker.

When we select a date range, it would be helpful if we could highlight the same button if the range exists. If we select the same date range of last 7 days as shown in the screenshots below, the last 7 days label should be highlighted.

![image](https://user-images.githubusercontent.com/73785007/14933

[2022-01-14 12:38] #6403 closed, assigned to nobody

[2022-01-14 16:05] valorkin commented on #6410
this stackblitz uses ngx-bootstrap 1.9.3
which was released years ago

[2022-01-14 16:05] #6410 closed, assigned to nobody

[2022-01-14 16:08] valorkin commented on #6406
yes, that's correct
there are a PR to be merged https://github.com/valor-software/ngx-bootstrap/pull/6315
and issue #6311 which describes it

thanks for reporting, and subscribe to initial issue or PR
closing as duplicate

[2022-01-14 16:08] #6406 closed, assigned to nobody

[2022-01-14 16:09] #6400 closed, assigned to nobody

[2022-01-16 04:44] bxdadwhal opened #6413 "facing less errror in angular version 12 ( version 12 )"
**Description:**
./src/styles.less - Error: Module build failed (from ./node_modules/mini-css-extract-plugin/dist/loader.js):
ModuleBuildError: Module build failed (from ./node_modules/less-loader/dist/cjs.js):

Chunk.split is not a function

at processResult (C:\Users\bdadwhal-etc\angular-migration8.1\node_modules\webpack\lib\NormalModule.js:713:19)
at C:\Users\bdadwhal-etc\angular-migration8.1\n

[2022-01-16 04:48] bxdadwhal commented on #6413
package.json
{
"name": "gd",
"version": "2.0.0",
"engines": {
"node": "14.17.3",
"npm": "8.3.0"
},
"scripts": {
"ng": "ng",
"start": "ng serve",
"build": "ng build --prod",
"test": "ng test",
"lint": "ng lint --type-check",
"e2e": "ng e2e",
"serve": "ng serve --proxy-config proxy.conf.json",
"coverage": "ng test --code-coverage --reporters=coverage"
},
"private": true,
"dependencies": {
"@angular/

[2022-01-16 07:05] gordanj commented on #6369
This is a much needed enhancement to make the datepicker and the timepicker work as most users would expect it. Most wouldn't go in and fill out the date then again to select the time. To commit the time, you have to select the date last anyways.

[2022-01-17 09:31] Totati opened #6414 "Doc: browser navigation breaks when using pills."
Clicking a pill at the top of the [components page](https://valor-software.com/ngx-bootstrap/#/components) breaks native browser navigation. I can't go back to the previous page.

Tested in Chrome 97.0.4692.71, Edge 97.0.1072.55, Firefox 96.0.1

[2022-01-17 10:58] #6348 closed, assigned to nobody

[2022-01-17 12:18] SvetlanaMuravlova commented on #6323
@lexuanzhou i've tried to check your issue, but i can see that event selectTab works correctly, you can check it here
https://valor-software.com/ngx-bootstrap/#/components/tabs?tab=overview#select-event

may be you use some previous version ?

[2022-01-17 12:24] SvetlanaMuravlova commented on #6406
@orestisioakeimidis thank you for your issue, it is already fixed in current version
you also can check it here https://valor-software.com/ngx-bootstrap/#/components/datepicker?tab=overview#dates-enabled
so i will close this issue, but if something is wrong, don't hesitate to reopen it with some new comment and details
![image](https://user-images.githubusercontent.com/83700465/149768633-2f320903-

[2022-01-17 12:34] #6361 closed, assigned to SvetlanaMuravlova

[2022-01-17 13:14] #6346 closed, assigned to nobody

[2022-01-17 13:18] SvetlanaMuravlova opened #6416 "feat(bootstrap): drop bootstrap 3"

[2022-01-19 07:40] zeshanvirk opened #6418 "Escape Closes all the modal opened, instead of the active one."
I have a modal opened, and then another modal opened on top of that. So how can I know which modal is currently active? So that I close only the active modal on escape key pressed. Currently, it closes all.

How can I check if my modal is the active modal?
The API document doesn't have any clue about that.

[2022-01-20 05:43] UdayAppam commented on #5707
Any update on this? @apotapcukv

[2022-01-20 08:39] maerni opened #6419 "Dialogs not visible since update from Angular 11 (ngx-bootstrap 6) to Angular 13 (ngx-bootstrap 8)"
We updated from Angular 11 to Angular 13. Among other things we updated the following compoments:

@angular/* from 11.2.14 to 13.1.2
bootstrap from 4.6 to 4.6.1
core-js from 3.10.1 to 3.20.3
jquery from 3.4.1 to 3.6.0
ngx-bootstap from 6.2.0 to 8.0.0
tslib from 2.0.0 to 2.3.0

Now the ngx-bootstrap dialogs are not visible anymore. There is no error but the dialogs are not visible.

What can be the

[2022-01-20 13:28] ViralDPatel commented on #5810
Still issue in version 8.0.0, showing merged but still not working in current version, last working in version 5.4.0 then after issue in all versions, this is critical issue, large height modal is not usable without fix, need to take as priority and release in next sub version

[2022-01-20 16:17] maerni commented on #6419
Little addition.

Also when I go back with all used external libraries except @angular/* and ngx-bootstrap I have the same problem that the dialogs are not visible...

Do we have to change something in the usage of dialogs with Angular 13 and ngx-bootstrap 8.0.0? I did not see anything that has to be changed...

[2022-01-20 18:44] MartinGodzina commented on #6399
This seems to be fixed since version 8.0.0. At least i could not reproduce this behavior based on the previous stackblitz. https://stackblitz.com/edit/ngx-bootstrap-lbcq2o?file=app%2Fapp.component.html

[2022-01-20 18:53] amiram commented on #6399
@MartinGodzina Yes you are right. It looks like it is fixed in 8.0.0.
Thanks!

[2022-01-20 18:53] #6399 closed, assigned to nobody

[2022-01-20 19:13] MartinGodzina commented on #6387
Your stackblitz demo does not add text to a `<accordion-group>`. Thats why the height is not adjusted. I could not reproduce it with `ChangeDetectionStrategy.OnPush`

Here is the stackblitz: https://stackblitz.com/edit/angular-7byvyx-fkg5od?file=app%2Fwrapper.component.ts

[2022-01-21 09:49] OwenLin-lwc commented on #5390
@vdumbrav Do you solve your issue? If yes, could you kindly share how you do it?
I tried another way to open modal by component and have the same situation.
https://stackblitz.com/edit/angular-ivy-2swahw

@IraErshova Can you reopen this issue, I still don't know how to fix it

[2022-01-21 12:23] maerni commented on #6419
Some more addition

The latest version of ngx-bootstrap where the dialogs are visible is 6.2.0.

With all later ngx-bootrap versions (I tested 7.0.1, 7.1.2 and 8.0.0) the dialogs are not visible anymore.

What changed between this versions?

There is no error so I think, the dialogs are there but not visible.

[2022-01-22 15:41] javed-tz commented on #5967
Thanks, Its work for me

[2022-01-23 03:58] ranouf opened #6421 "btn-block missing?"
Hi,

I'm a new user of ngx-bootstrap. I m integrating a html theme based on bootstrap into my angular app. In the theme, for the button, the css class "btn-block" is used.

I added the ngx-bootstrap buttons Module in app module like described here: https://valor-software.com/ngx-bootstrap/#/components/buttons?tab=api

When I look here: https://www.w3schools.com/bootstrap/bootstrap_buttons.asp, "bt

[2022-01-23 04:02] ranouf commented on #6421
Ok, I found why I have this class missing, it's now deprecated:
https://www.ualberta.ca/cascade-cms/support/new-classes/btn-block.html

[2022-01-23 04:02] #6421 closed, assigned to nobody

[2022-01-23 18:10] bxdadwhal commented on #6413
i am able to compile the code successfully only facing less-loader error during unit test from npm run test

[2022-01-23 18:10] bxdadwhal commented on #6413
reproducible repo :- https://github.com/bxdadwhal/angular12/

[2022-01-25 07:45] tanishkab commented on #5222
Hi, I am kind of facing the same issue , Here I am using isOpen property of dropdown to open the dropdown, but I want the dropdown to autoClose and it is not happening. I am using BsDropdownModule from ngx-bootstrap for this.

`<div class="btn-group" dropdown #dropdown="bs-dropdown" [autoClose]="true" [insideClick]='true'>`
`<button type="button" class="btn btn-primary">`
`  Button dropdown <span

[2022-01-25 08:05] tanishkab opened #6422 "AutoClose issue when opening dropdown using isOpen property"
Hi, I am kind of facing somewhat same issue, but here I am using isOpen property of dropdown in my ts file to open it,  but I want the dropdown to autoClose and it is not happening.

 `<div class="btn-group" dropdown [insideClick]="true" #newdropdown="bs-dropdown" [autoClose]="true" container="body">`
        `               <div *dropdownMenu class="dropdown-menu" role="menu">`
                `<

[2022-01-25 08:18] ismcagdas commented on #2679
@valorkin after upgrading to v8, I'm facing the problem below;

Error: Module not found: Error: Package path ./chronos/esm2020/i18n is not exported from package D:\GitHub\aspnet-zero-core\angular\node_modules\ngx-bootstrap (see exports field in D:\GitHub\aspnet-zero-core\angular\node_modules\ngx-bootstrap\package.json)

The code block I'm using is like this;

[code]

Do you have a suggestion to so

[2022-01-25 10:52] SvetlanaMuravlova commented on #6422
@tanishkab can you add more details regarding your issue, what version of library and angular do you use?

[2022-01-25 11:03] tanishkab commented on #6422
Angular version : "~11.1.0" ,
ngx-bootstrap version: "^6.1.0"

[2022-01-25 11:07] SvetlanaMuravlova commented on #6422
try to use the next version 6.2.0, and i can see the property autoclose is workable in such version
https://valor-software.com/ngx-bootstrap/old/6.2.0/#/dropdowns

[2022-01-25 12:37] tanishkab commented on #6422
The problem is still there, even after upgrading the library

[2022-01-25 13:27] ismcagdas commented on #2679
It works if I use
[code]

Sorry to bother you.

[2022-01-27 02:17] samkbit commented on #6330
any updates on ngx-bootstrap support for ng 13?

[2022-01-27 06:12] valorkin commented on #6330
Released a week or 2 ago

[2022-01-27 09:20] codingisacopingstrategy commented on #6330
Can confirm it works fine for me now, thanks !
(The one change I had to make on my end, is to manually specify my bootstrap version, as explained in the docs, whereas before it recognised my Bootstrap 3 automatically. Better to be explicit anyways.)

--
Envoyé de mon appareil Android avec Courriel K-9 Mail. Veuillez excuser ma brièveté.

[2022-01-27 10:16] tanishkab commented on #4956
did you find any solution?

[2022-01-27 13:03] alexey-gromov commented on #2137
### Solution

Was with this problem. It turned out that I imported the module twice, which contained imports to the **ModalModule**.

Make sure the **ModalModule** is only **imported once** on all project.

[2022-01-28 07:46] srivastavaanurag79 opened #6425 "Example project with all basic needs"
Building a custom sidebar consumes a lot of time with proper animation and everything, and it is a basic component that any developer needs, the sidebar in the docs section of your deployed website looks perfect but its code isn't available, it would be amazing if you add the code snippets of components like these which depend on different components.

![e5ef3edd-6bff-4756-92df-828a557566eb](https

[2022-01-28 13:51] #2679 closed

[2022-01-28 14:06] SvetlanaMuravlova commented on #6336
@SarahKeigTelent , it seems issue is fixed
if you are still available to reproduce this issue in the last version, let us know, please)

[2022-01-28 14:06] #6336 closed, assigned to nobody

[2022-01-28 14:12] #6349 closed, assigned to nobody

[2022-01-28 14:17] SvetlanaMuravlova commented on #6422
@tanishkab, so i think it will be helpful if you will create a small example to reproduce such bug, cause we can't reproduce it
Also i can see it works in our documentation.

[2022-01-28 16:15] tanishkab commented on #6422
Stackblitz representation: https://stackblitz.com/edit/angular-ngx-dropdown-msaj1m?file=src/app/app.component.ts

[2022-01-30 14:30] rsathyamoorthy12 opened #6427 "Critical : Focus trapped in Radio with radio group component"
Tab and shift tab work in all the button except the Radio with radio group scenario.

All the keyboard users and the 508 testers having problem when the user Shit+Tab from the component.

![image](https://user-images.githubusercontent.com/6904268/151703963-fbf15d9d-9384-4de8-a02d-e85ea6167a42.png)

[2022-01-31 14:31] AmirSavand commented on #6330
Works for my projects as well. All good. Thanks, ngx-bootstrap!

[2022-01-31 14:32] valorkin commented on #6330
@codingisacopingstrategy had to drop automatic check of bs3, now it checks only v4 and v5

[2022-02-01 00:26] ferares commented on #5885
I'm having the same issue but I think it would be best not to hide the "new tag 1" result (in your example), like you're suggesting, but to change the order of the results to be by relation to the input first and then alphabetical.
Something like this https://github.com/farzher/fuzzysort

[2022-02-02 08:32] Et3rnal commented on #6085
Same here, very bad!
I'm on `5.6.2`

~~Since the date picker got removed in V8 I don't think this will be fixed.~~
Sorry, I think the issue is the new `BsDatepicker`

Looks like the issue is still there in V8, automatically updating invalid dates (before the minimal/after the max) to the current min/max value is just wrong!

[2022-02-02 11:42] yoniP68 commented on #5394
im having the same issue,
is this the best solution?
@GaetanRouzies
btw, it is not working on mobile when i have submenu

[2022-02-04 16:47] jmhinnen commented on #5819
This is causing us problems.  Would be nice to put this feature in.

[2022-02-08 05:10] jigneshzala commented on #575
I am also having this problem.

while using

@ViewChild("autoShownModal", { static: false })
autoShownModal?: ModalDirective;

showModal(): void {

      this.isModalShown = true;

  }

  hideModal(): void {
    this.autoShownModal?.hide();
  }

  onHidden(): void {
    this.isModalShown = false;
  }

0|front    | TypeError: Cannot read property 'body' of undefined
0|front    |     at ModalDirecti

[2022-02-08 10:03] netdjw opened #6428 "How to overwrite/set aria-label on tabs?"
**Description:**

In my project the client force custom aria-label for tabset.

I use this code in the template:

[code]

The TabsModule generate this code now:

[code]

If I use this code:

[code]

The TabsModule generate this code:

[code]

But I expect this:
[code]
How can I solve this issue?

[2022-02-09 01:45] ktanakaj opened #6429 "Inputted UTC datetime reconvert to UTC datetime as localtime in Datepicker with useUtc=true"
## Bug description:
Inputted UTC datetime reconvert to UTC datetime as localtime in Datepicker with useUtc=true.

Example, there are following input element and browser timezone is JST (UTC+9). I input text that "2022-02-01 00:00:00" (Not Datepicker's calender). Text box show "2022-01-31 15:00:00".
(I tried many times, sometimes converted but sometimes not converted.)
[code]

## Versions of ngx-bo

[2022-02-10 14:04] Serdarrr opened #6430 "Slackblitz examples are missing 'zone.j' package (needs to be js)"
Hi,

**First issue:**
I tried a few Stackblitz examples, but I keep getting the message "Can't find package: **zone.j**"

Example: https://valor-software.com/ngx-bootstrap/#/components/datepicker?tab=overview#min-mode

**Fix for first issue:**
Incorrect path to file import: zone.j . Replace **.j** with **.js** in file _polyfills.ts_

**Second issue:**
Also for some reason (after the fix applied) i

[2022-02-12 10:30] Splinteer opened #6431 "Carousel: Cannot read properties of undefined (reading 'map')"
Hello,
I'm trying to use the carousel but I'm always getting this error:
[code]

Here is my template:
[code]

Imported this to the appModule as .forRoot() and to my submodule without .forRoot()
`import { CarouselModule } from 'ngx-bootstrap/carousel';`

I already tried to copy paste component from stackblitz but I found no way to make it work.
Here is my stacks:

Angular: 13.1.0
ngx-bootstrap: 8.0

[2022-02-14 11:17] SDAdham opened #6432 "Can you please add support for sortable div rows and cols?"
**Is your feature request related to a problem? Please describe.**

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Hello, we are trying to create a dashboard with sortable columns and rows, given your feature https://valor-software.com/ngx-bootstrap/#/components/sortable?tab=overview , it's the closest thing that can support this but sadly it works on

[2022-02-14 15:46] Serdarrr commented on #6430
Solved issues myself, but you have to fix on your website.

[2022-02-14 15:46] #6430 closed, assigned to nobody

[2022-02-15 00:14] frankfu03 commented on #4350
We have an angular web application which uses typeahead. One of the dropdown menus is a list of antenna-radome types that have fixed length of 20 characters and consist of two parts: antenna type and radome type. As radome type is always the last 4 chars, there are multiple spaces between antenna and radome types, which causes the same problem as [pouellet](https://github.com/pouellet) described a

[2022-02-15 12:59] SvetlanaMuravlova commented on #6422
@tanishkab thank you for your message, i can confirm your issue now

[2022-02-16 11:24] bobingham opened #6433 "DatePicker withTimePicker"
When using the _Datepicker_ with _withTimePicker_ option the only way to set the time is when the initial input value is empty.  You must then set the time before selecting the date.  It is not possible to reset the time after re-opening the date picker, even if the time is changed and a different day is selected the time value will not change.
The problem can be found using the demo on the ngx-bo

[2022-02-16 11:25] UdayAppam commented on #4350
any update on this ??

[2022-02-17 08:06] UdayAppam commented on #4350
https://github.com/valor-software/ngx-bootstrap/pull/6434

Here I have tried the fix.
If any suggestions am open to discuss

[2022-02-17 10:46] TheVoxell commented on #6433
Yeah here the same issue. With the previous version timepicker was working fine.

[2022-02-21 14:21] SvetlanaMuravlova commented on #6419
@maerni , hi) what dialogs are you talking about?

[2022-02-21 20:05] maerni commented on #6419
@SvetlanaMuravlova I talk about the modals:
ngx-boostrap 6.2.0: https://valor-software.com/ngx-bootstrap/old/6.2.0/#/modals
ngx-bootstrap 8.0.0 https://valor-software.com/ngx-bootstrap/#/components/modals?tab=overview

[2022-02-22 16:45] rahulk0310 commented on #6401
Any update on this?

[2022-02-28 09:50] AEMeem opened #6436 "Is there's a way to add config for time picker that belong to date picker ?"
**Description:**
Hi everyone,
So I wondered if there's a way to add configurations like min - max for time picker that come along with date picker (using withTimepicker: true option) ?

[2022-03-01 11:47] sjdean opened #6437 "Set Same Date on bsDaterangepicker"
Using the following on ASP.NET Zero 10.3.0

ngx-bootstrap: 7.1.2
Angular: 11.2.14
Bootstrap: 4.5.3

Note that the bsDateRangePicker does not allow setting of the same date where we could on v6.x of ngx-bootstrap.

Our HTML Shows:

[code]

Not sure if this is a bug, feature request, or an read the manual issue.

I've looked through the documentation but cannot see anything similar to our requiremen

[2022-03-02 17:52] rdicroce commented on #4809
I just ran into this, and it is definitely a problem with ngx-bootstrap. It looks like ngx-bootstrap uses ng-packagr to build the library. As per the [ng-packagr documentation](https://github.com/ng-packagr/ng-packagr/blob/master/docs/copy-assets.md#exporting-styles), ngx-bootstrap has to manually specify exports for stylesheet files. Because ngx-bootstrap currently does not do that, it is impossi

[2022-03-05 19:25] AshwinVoiro opened #6438 "Select minimum range in ngx bootstrap date range picker"
I can see that there is a property called maxDateRange to restrict to not be able to select more than that after selecting first date.
But I dont see an option like minDateRange to restrict to select only after certain days after selecting first date.

Eg: minDateRange - 5. The user selected 6th March 2022 as first date then the next 5 days should be disabled and the user should be able to select

[2022-03-07 15:37] ISeeBinary opened #6439 "Modal created via BsModalService is not hidden after calling .hide() due to animation delay"
Bug description:

If you call hide on a modal created via BsModalService.show(Component) before the animation has completed, the modal doesn't hide and is left on screen.

It looks like a similar issue was raised back in [2018](https://github.com/valor-software/ngx-bootstrap/issues/3711) and a fix implemented. I have been able to do a similar thing to the fix and put the hide inside a setTimeout w

[2022-03-08 11:24] vrbaaa opened #6440 "Wrong locale for hr"
Hi,

There is wrong locale date for Croatia. Right now, it is in 'en' version. Officially, the format is 07.03.2022.

Proof: https://lh.2xlibre.net/locale/hr_HR/

![Screenshot_2](https://user-images.githubusercontent.com/44699684/157228379-dac1a6f3-fcab-4a79-b448-c55ad81f377d.png)

[2022-03-10 14:52] ISeeBinary opened #6441 "Modal created via BsModalService is firing the onShown event before modal is visible"
Bug description:

If you create a modal using BsModalService.show(Component) then the onShown event fires straight away before the modal is shown.

Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 8.0.0

Angular: 13.1.4

Bootstrap: 3.3.7

**Expected behavior**

The onShown event is fired when the modal has been made visible to the user (after CSS transitions is complete)

[2022-03-11 07:50] wwarby opened #6442 "btnRadio should be declared as type "any""
In radio button groups, the btnRadio attribute is able to accept values of any type - objects, enums, numbers, booleans all work fine at runtime. However, my IDE (WebStorm) constantly reminds me that `btnRadio` is declared as type `string` in `button-radio.directive.d.ts`, so my the following syntax is not strictly valid, even though it works:
[code]
This has come up before and it is acknowledged

[2022-03-14 09:11] SvetlanaMuravlova commented on #6419
@maerni , sorry, but i still don't understand what exactly is missed on this page. Add, please, more details to your issues

[2022-03-15 08:09] paulredert commented on #6433
Any update on this?

[2022-03-16 15:10] vctdiniz opened #6444 "An unhandled exception occurred: ENOENT: no such file or directory, lstat 'C:\[YOUR_PATH]\dist'"
**Bug description:**

**Versions of ngx-bootstrap, Angular, and Bootstrap:**

**Expected behavior**

`./dist/ngx-bootstrap/datepicker/bs-datepicker.css`  to `./node_modules/ngx-bootstrap/datepicker/bs-datepicker.css`

[2022-03-18 21:12] #6444 closed, assigned to nobody

[2022-03-19 05:53] wwarby commented on #6442
The related getter and setter for the `value` property are also declared as `string`- these should also be changed to `any`.

[2022-03-19 06:34] wwarby commented on #6442
I've submitted a pull request for this: https://github.com/valor-software/ngx-bootstrap/pull/6446 - hope I've done it correctly, it's my first for this repo

[2022-03-22 15:09] jethas-bennettjones commented on #6433
Any update @SvetlanaMuravlova ?

[2022-03-28 12:32] alexanderfink opened #6448 "Incorrect tooltip placement when using overflow: auto"
**Bug description:**
When using `overflow | overflow-x | overflow-y : auto` on the parent the tooltip is not positioned correctly above the given element. This does not happen to elements that have enough space to the relative element above (see list entry GHI from the StackBlitz).

**Plunker/StackBlitz that reproduces the issue:** https://stackblitz.com/edit/angular-ivy-rnahrv?file=src/app/app.co

[2022-03-30 01:39] monir-tuhin commented on #5980
You can use Angular Material Dialog to dynamically position the modal

[2022-04-04 09:19] salmoro opened #6449 "Yarn PnP cannot import bs-datepicker.css"
On a working Angular codebase which has a less import statement `@import (less) 'ngx-bootstrap/datepicker/bs-datepicker.css';`, if I switch to using Yarn PNP, webpack loader throws an error that it cannot find the file.

If I edit the generated "package.json"  of ngx-boostrap and  add `"./datepicker/bs-datepicker.css": "./datepicker/bs-datepicker.css"`  to the "exports" property, the error goes aw

[2022-04-05 11:47] manjushakarpe1982 commented on #3609
this is solved the issue
`<input
    id="input-dateOfBirth"
    class="form-control"
    type="text"
    bsDatepicker
    name="dateOfBirth"
    placeholder="Birth Date"
    [(ngModel)]="dateOfBirth"
    ng-model-options="{timezone: 'local'}"
  />`

here is example: https://stackblitz.com/edit/angular-usdq2z

[2022-04-05 17:23] Ruslancic opened #6450 "Background error: 1 rules skipped due to selector errors: legend + * while using SSR Rendering"
This Error appears on the console while serving SSR .

`1 rules skipped due to selector errors:
  legend + * -> Cannot read properties of undefined (reading 'type')`

Versions of ngx-bootstrap, Angular, and Bootstrap:

`ngx-bootstrap: 8.0.0`

`Angular: 13.3.0`

`Bootstrap: 5.1.3`

How to reproduce it?

`-> ng new`
`-> ng add @nguniversal/express-engine`
`-> ng add ngx-bootstrap`
`-> npm run dev:ss

[2022-04-06 06:17] rflpsz commented on #6375
i'm with the same question...

[2022-04-06 10:46] JKingas commented on #5216
I found about where the issue is. The popover was "hitting" the top of the container and breaking the positioning. The solution was related to bs-datepicker and popover on the same page in an overflow container. When the datepicker opens its popup and the popover was open before that, the popover was positioned normally in the overflow container as long as it was still open.

I compared datepicker

[2022-04-06 11:31] jorgenlaaker commented on #5768
When we use jquery, another solution is:  $('[data-range-key="Custom Range"]').text('Translated text');

[2022-04-07 07:40] jakubdrewniak commented on #6433
any updates?

edit: i've found why that happens: it's all because this commit
https://github.com/valor-software/ngx-bootstrap/commit/12e050fab9b002169051a363a9fe2dc22edbdecc
It looks like  !isNaN(sourceDate.getTime()) for (stringyifed) sourceDate "2022-04-14T12:33:00.000Z"  is true, so function returns undefined and time is not copied to source date.

I'm not sure about motivation, but another cha

[2022-04-07 19:41] niraj-ranjan-comprinno commented on #6375
i'm with the same question...

[2022-04-08 14:02] Dwightojo commented on #6317
This issue is back it seems. From what i can see has #6288 been overwritten.
The datepicker component will not use the "initCurrentTime" value.

https://github.com/valor-software/ngx-bootstrap/blob/6be9fc4d0214aa641f0a0c46c12efb3b65e0278c/src/datepicker/bs-datepicker.component.ts#L144-L151

[2022-04-13 11:39] i-Chan93 opened #6452 "Request for Multiselect typeahead and approach to extend existing Typeahead to build one in-house"
Currently the Typeahead available is a single select so when can we expect a multiselect version of the same?

A multiple result selection typeahead that appends all the selected results into a list and displays them within the field or as tags below the field is what I'm looking at. Each selected result needs to contain an unselect icon option (something like fa-times) to remove that option from

[2022-04-14 09:22] monitranjan commented on #5980
is there any way to achieve this. I am also stuck on the same issue

[2022-04-14 12:47] TheVoxell commented on #6433
Thanx for the research jakubdrawniak. Now lets hope for a fix soon!

[2022-04-15 05:47] rpastusz opened #6454 "Exception while opening popover"
**Bug description**

While opening popover, console shows exception :

Uncaught TypeError: Cannot read properties of undefined (reading 'match')
    at initData (ngx-bootstrap-positioning.js:852:1)
    at Positioning.positionElements (ngx-bootstrap-positioning.js:975:1)
    at positionElements (ngx-bootstrap-positioning.js:984:1)
    at ngx-bootstrap-positioning.js:1016:1
    at Map.forEach (<anon

[2022-04-15 06:11] rpastusz commented on #6454
Fixed. I had placement="auto bottom" attribute added to html tag.

[2022-04-15 06:11] #6454 closed, assigned to nobody

[2022-04-15 12:42] ukg-dmiller opened #6455 "Memory leak with the ngx-tooltip when using a delay with multiple triggers"
ngx-bootstrap: 7.1.2
Angular: 12.2
Bootstrap: 4.4.1

TooltipDirective.show

`this._tooltipCancelShowFn = this._renderer.listen(this._elementRef.nativeElement, trigger.close, ...)`

The forEach loop causes this._renderer.listen to create an ‘unlisten’ function for each trigger.  When setting the triggers to “mouseenter:click mouseenter:mouseleave”, you get the following assignments:

Starting: this

[2022-04-18 13:01] jasmeensahoo commented on #2655
how did you solve this. please help I'm getting the same error

[2022-04-18 21:12] italoant commented on #6444
thank u so much <333333

[2022-04-19 07:54] fzs1994 opened #6456 "TypeError: sorted.map is not a function Typeahead"
Getting this error in console:
`TypeError: sorted.map is not a function
    at TypeaheadDirective.prepareMatches (ngx-bootstrap-typeahead.js:2411:1)
    at TypeaheadDirective.finalizeAsyncCall (ngx-bootstrap-typeahead.js:2334:1)
    at SafeSubscriber._next (ngx-bootstrap-typeahead.js:2221:1)
    at SafeSubscriber.__tryOrUnsub (Subscriber.js:183:1)
    at SafeSubscriber.next (Subscriber.js:122:1)

[2022-04-19 10:22] i-Chan93 commented on #5888
Any update on this fix yet? Instances where we have start date and end date with interdependent min and max dates are again one of the use cases where this gap is prevalent.

[2022-04-20 12:25] SvetlanaMuravlova commented on #6456
@fzs1994 hi) thank you for your issue, but can you, please, add some details for reproducing such bug ?

[2022-04-20 16:46] TheNetStriker commented on #6373
Where was this implemented exactly? I did not find any commits in #6396 or in the release notes. And how can this be configured?

[2022-04-22 09:43] Gillardo commented on #6436
+1 to this please.

[2022-04-24 05:54] lcnvdl commented on #4459
I have the same issue, using Angular 13.1.0

[2022-04-25 21:10] KthProg opened #6458 "The tooltip position is sometimes incorrect and only correct itself once the user hovers over the tooltip"
This will probably be very hard to reproduce and I'll do my best to add to this issue over time, but we have a bunch of buttons inside a scrolling container. The elements inside the scrolling container change based on a toggle. Initially, the tooltips show in the correct place (on focus of the buttons). When we toggle to show the other elements, the first tooltip is rendered incorrectly (above whe

[2022-04-26 09:01] SvetlanaMuravlova commented on #6437
@sjdean , hi) i can see you are able to do it in version 8, you can check it on our documentation site
if i understood your issue incorrectly, can you share with more details ?
![image](https://user-images.githubusercontent.com/83700465/165263556-41b977c0-27aa-46d0-9ada-f9008b82b9f8.png)

[2022-04-26 13:19] SvetlanaMuravlova commented on #6458
@KthProg hi) thank you for your issue, but can you share with version of ngx-bootstrap in your project?
does your issue connect with such issue #5992 ?

[2022-04-26 13:46] SvetlanaMuravlova commented on #5806
@jhonmacaraig , hi) thank you for your question, if it is still actual i think you can look for the answer in our documentation, especially there http://localhost:4200/ngx-bootstrap/#/components/tooltip?tab=overview#triggers-custom or http://localhost:4200/ngx-bootstrap/#/components/tooltip?tab=overview#triggers-manual

if you aren't able to resolve your problem with such information, you can prep

[2022-04-26 13:46] #5806 closed, assigned to nobody

[2022-04-28 08:35] SvetlanaMuravlova commented on #5992
@MaciejLisCK hi) thank you for your issue, my suggestion is to use the last version of ngx-bootstrap and add the "boundariesElement" element
example with resolved issue https://stackblitz.com/edit/angular-ivy-qtewb5?file=src%2Fapp%2Fapp.component.html

if it is incorrect fix for your issue, let us know)

[2022-04-28 08:35] #5992 closed, assigned to nobody

[2022-04-28 08:38] SvetlanaMuravlova commented on #6458
@KthProg check fix issue in #5992 , please
if it doesn't resolve your problem, let us know)

[2022-04-28 08:38] #6458 closed, assigned to nobody

[2022-04-28 09:02] SvetlanaMuravlova commented on #6448
@alexanderfink , hi) thank you for your issue, my suggestion to resolve your problem is to add property "boundariesElement"
example with resolved issue https://stackblitz.com/edit/angular-ivy-xduhvz?file=src%2Fapp%2Fapp.component.html

if it doesn't resolve your problem, let us know)

[2022-04-28 09:02] #6448 closed, assigned to nobody

[2022-04-28 09:57] SvetlanaMuravlova commented on #5707
@classicmike , hi) thank you for your issue. Try to add property "boundariesElement" for each tooltip element
example is here https://stackblitz.com/edit/angular-ivy-ipu3ds?file=src%2Fapp%2Fapp.component.html
But it should work from 8 version of the ngx-bootstrap

if it doesn't resolve your problem, let us know, please)

[2022-04-28 09:57] #5707 closed, assigned to nobody

[2022-04-28 09:59] SvetlanaMuravlova commented on #5989
@puneeth-91 ,  hi) thank you for your issue. Try to add property "boundariesElement" for each tooltip element
more details you can find in conversation in issue #5707

let us know if it doesn't help you)

[2022-04-28 09:59] #5989 closed, assigned to nobody

[2022-04-29 07:05] SvetlanaMuravlova commented on #6296
@Sachinrana99 , hi) thank you for your issue, we can't reproduce your it, can you, please,  try to reproduce it on stackblitz with the last version of library ?

![Untitled](https://user-images.githubusercontent.com/83700465/165898965-cae6b306-b1b4-484c-8c48-4432ebc660ca.png)

if you will be able to do it, let us know again)

[2022-04-29 07:05] #6296 closed, assigned to nobody

[2022-04-29 12:57] roopeshchinnakampalli opened #6459 "customMonthClass & customYearClass"
We have `customTodayClass` for styling the current day. Likewise, we may need for Month & Year which allow to style the current month & year respectively.

![image](https://user-images.githubusercontent.com/1386644/165948597-0406fccb-938e-4449-b912-11e558803fa1.png)

[2022-04-29 23:46] raulgomezn commented on #6450
Same error with:
[code]

[2022-05-02 08:38] asmaus commented on #5930
Hello!
any progress with this issue?

[2022-05-11 07:27] kmanikandanmca2008 opened #6460 "Tab grouping similar to google chrome browser"
Do we have the feature similar to google chrome tab grouping in ngx-bootstrap tabs. If not available is there any plan to include it in the road map

[2022-05-12 07:50] GitHubish opened #6461 "How do I edit variables in datepicker's css themes?"
I can't figure out how to modify the variables defined in `@import 'utils/scss/variables';` to have the datepicker word theme customized to my application color. And I can't find anything about this possibility in the documentation.

I tried to import in my `styles.scss` my variable file in which I redefine for example `$theme-green` or even `$theme-list` and then import the `~ngx-bootstrap/datepi

[2022-05-15 00:11] wrss2 opened #6462 "Error with css in datapicker angular13 webpack 5"
I have  problem with datapicker

Package path ./datepicker/bs-datepicker.css is not exported from package

[2022-05-17 05:40] umangsavaliya opened #6463 "This package are vulnerable to Cross-site Scripting (XSS)"
<img width="1140" alt="image" src="https://user-images.githubusercontent.com/910181/168737151-56de80ba-eb52-4f44-b831-a1d9a60b3ba3.png">

[2022-05-18 09:52] SvetlanaMuravlova commented on #6462
@wrss2, hi)
 did you use schematic command to install library?

[2022-05-19 09:02] stasvip opened #6464 "Tabs not working in modal after second modal open."
Angular 13.
Modal open as a Component. All Tabs works as expected on first open. After second Modal open tabs not switching. But in tabslist correct tab is marked as active.

[2022-05-20 10:01] vibhus commented on #4350
@valorkin there is a PR raised to fix this issue by @UdayAppam. Any plans to take this up?

[2022-05-24 17:44] SirNathanJF commented on #6428
@netdjw there is a painful work around for this, but if you have more than one tabset it will inherit the aria-label. If you are only using one tabset you can edit some files in the node package to get the aria-label that you want. In ngx-bootstrap/tabs you must edit every file in bundles, esm5, esm2015, fesm5, and fesm2015. There are multiple spots to edit, just search each file for aria. Again,

[2022-05-25 21:05] AndriiTsybrukh opened #6465 "Duplicate next page button in date-range-picker"
**Bug description:**
In date-range-picker, we can see in years list view duplication of next page button. In my opinion it looks unnecessary, and could be better to remove one.

![Screenshot from 2022-05-25 23-50-02](https://user-images.githubusercontent.com/13647466/170365474-c2a551df-b4c1-42a8-8132-aefb0efa1799.png)

**Versions of ngx-bootstrap, Angular, and Bootstrap:**
ngx-bootstrap: 8.0.0
boo

[2022-05-26 00:57] liuyankit commented on #6013
same problem, I think there's a bug on BsModalService

[2022-05-28 02:52] leo6104 opened #6466 "Can we make ComponentLoader to be compatible with SSR ?"
**Is your feature request related to a problem? Please describe.**
ngx-bootstrap modal doesn't compatible with SSR.

When we open modal in SSR (node environment), it caused error.

Always we should check `isPlatformBrowser` before opening modal.
We don't want to consider modal compatibility for SSR. Hope it just rendered in SSR environment too.

**Describe the solution you'd like**

https://github

[2022-05-29 07:11] Ilkhom-S opened #6467 "Datepicker quick ranges panel from left side"
Hello,

Can you add option to place quick range panel in datepicker from left side. We use RTL and LTR.  It would be great if we could control panel placement.

[2022-06-01 18:03] dmitriy-rodimin-sada opened #6468 "aria-activedescendant attribute is not added when active item changes in typeahead"
Bug description:

When typeahead shows autocomplete list and an item in the list is active aria-activedescendant is not set on the input component.

Plunker/StackBlitz that reproduces the issue:
No special setup is needed, it can be observed for any example right on the documentation website https://valor-software.com/ngx-bootstrap/#/components/typeahead?tab=overview. Do inspect on the input, type

[2022-06-03 05:22] mbrankintrintech commented on #6368
Also experiencing this fatal issue.

[2022-06-05 09:41] AF2B commented on #6444
Thank you so much!

[2022-06-05 13:40] Vignesh1326 commented on #5362
How can I send inline styles rather than in classes for bs datepicker inline. Because there is a need for my use case where I dynamically get data from API and according to that I need to give background color dynamically

[2022-06-08 06:55] sauliko commented on #2716
Can you give and example ? I have popup window as chiled component and my datepicker not opening properly after i saw your comment i checked and its back on popup window

[2022-06-08 10:24] BehnamAbdy opened #6469 "datepicker issue when using with option of 'withTimepicker: true', time selection not working"
even in the official sample the selected time is not selected after selecting the date, and always it returns the current time
u can try it at live
https://valor-software.com/ngx-bootstrap/#/components/datepicker?tab=overview#with-timepicker

[2022-06-09 10:24] Salketer opened #6471 "Datepicker weird behavior when isDisabled is true."
Reproducible directly in the doc: https://valor-software.com/ngx-bootstrap/#/components/datepicker?tab=overview#disabled-datepicker

The datepicker, when enabled looks like this:
![image](https://user-images.githubusercontent.com/11193702/172824340-1a7aa9a2-00d1-49ad-973d-5806a0f9e2b9.png)

When isDisabled is set to true, the arrows to change month are hidden:
![image](https://user-images.githubus

[2022-06-09 14:23] ArtemAvramenko opened #6472 "The dropdown does not close on Escape if you press the down key in the menu"
ESC stops work after you move to menu by pressing down key:
https://valor-software.com/ngx-bootstrap/#/components/dropdowns

**Expected behavior**

ESC works in menu, like on bootstrap demo page:
https://getbootstrap.com/docs/4.0/components/dropdowns/
https://getbootstrap.com/docs/5.0/components/dropdowns/

[2022-06-11 21:52] dabbabi opened #6473 "Angular v14 support"
Hi, when you'll add support for Angular v14, please?

[2022-06-12 11:24] Ilkhom-S commented on #6369
+1 for this feature, not everywhere time picker used 12 hour format

[2022-06-15 01:05] merabchik commented on #6473
Waiting also

[2022-06-15 13:00] likymm commented on #6066
encountering this issue, any updates? thanks

[2022-06-15 22:59] 1thrasher commented on #6419
This happened to me as well and is caused by using Bootstrap v3. Upgrading to Bootstrap 5.2 fixed the problem.

If that's not an option at the moment, you can override the following class:

[code]

[2022-06-16 08:58] #6449 closed, assigned to nobody

[2022-06-17 10:22] sarvanhd opened #6475 "Progressbar component should have an aria-label or aria-labelledby attribute"
The Progressbar component should have an input field for aria-label or aria-labelledby attribute for Bar component

[2022-06-17 12:54] mgafur commented on #6473
still waiting support ngx v14, but may be is long for this release.
we try install with add flag --force is successfull and use some component also running normally.
"npm install ngx-bootstrap --save --force"

[2022-06-17 13:47] merabchik commented on #6473
It's not recommended

[2022-06-17 14:15] mgafur commented on #6473
it's not recomended but it's way to use ngx component for this moment. in ngx we only need modal component.
while waiting release official.

[2022-06-18 05:39] Ilkhom-S opened #6476 "Feature request: Use angular i18n api for datepicker, timepicker"
Angular provides a way to obtain the locale with the LOCALE_ID injection token and localized components using the getLocale* functions of @angular/common.

It would be nice if ngx-bootstrap would make use of them so that the developers do not have to maintain locale data themselves. This would possibly reduce the bundle size as well.

Now datepicker not  all locales present. Angular common has alm

[2022-06-18 05:41] Ilkhom-S commented on #6461
If you import styles.css from package. You can redefine colors and much more. After you need include your css not package. All should work

[2022-06-18 23:05] tinlevn commented on #6444
Wow this works! Thank you so much, that's a tricky bug to catch

[2022-06-19 05:02] RounakDas123 commented on #4162
Hi I want to know how to shift the position of the prev button towards the left and the next button towards the right??

[2022-06-20 06:50] SharpDevSa commented on #6369
I've faced the same restriction and cannot use this component.

[2022-06-21 11:07] maerni commented on #6419
@1thrasher thanks very much. I will try this.

[2022-06-23 16:43] niklas-dahl commented on #5707
I am having the same problem but for some reason the `boundariesElement` option does not seem to be present in the 8.0.0 release. Speaking of the popover directive, this directive seems to be missing the option.

[2022-06-24 09:11] dabbabi commented on #6473
how to raise up this point, please? It seems there's no one following our requests from project team :(

[2022-06-29 07:59] Subbu3992 opened #6479 "Bsdatepicker is slow while adaptive position set to true"
**Description:**

With bootstrap latest version upgrade 8.0.0, the Bsdatepicker is slow while adaptive position set to true and when multiple items has a input datepicker in dom toggled through icons

[2022-06-30 11:57] sterjoski commented on #6473
For anyone wondering PR #6477 by @SvetlanaMuravlova is waiting for a review.

[2022-07-01 20:24] pundoo commented on #5973
A jQuery workaround :

[code]

[2022-07-05 08:46] maro1993 commented on #6473
With the core team currently residing in eastern Ukraine i want to raise the question if this repo gets maintained in the near future? Last release was in january before the war started. Does anyone have information?

[2022-07-06 10:41] dionatan-g commented on #6473
There isnt a single person outside Ukraine to review pull requests?

[2022-07-06 11:48] maro1993 commented on #6473
I hope to not spread confusion. As we can see there are several closed PR's in the last 30 days. I assume things just go slower than usual.

[2022-07-10 13:54] sarvagyajain1997 commented on #4484
did u find any solution

[2022-07-10 14:15] kasir-barati opened #6481 "Package "ngx-bootstrap" was found but does not support schematics."
Bug description:
Hello, I tried to install the package `ng add ngx-bootstrap` but I got a weird behavior. I just did this:
[code]
And then:
[code]

It installs **0.0.1** via angular CLI. And [in the doc you've said I can use Angular CLI way](https://valor-software.com/ngx-bootstrap/#/documentation#installation). My preference as far as it is possible.

Versions of ngx-bootstrap, Angular, and Boots

[2022-07-10 17:07] pishangujeniya commented on #4484
No 😢

[2022-07-12 08:51] ismcagdas commented on #6469
@ErikYu do you have any comments about this ? Is there a workaround which we can apply ? Thanks in advance.

[2022-07-12 11:01] gazee commented on #1354
but my problem still not fixed yet
still showing
R3InjectorError(AppModule)[PaginationConfig -> PaginationConfig -> PaginationConfig -> PaginationConfig]:
  NullInjectorError: No provider for PaginationConfig!

[2022-07-12 18:15] noobyogi0010 commented on #6465
Hey @SvetlanaMuravlova

I would like to work on this issue if no one else has already taken it up.
Thanks

[2022-07-12 20:45] lagranjadigital commented on #6473
Any new?

[2022-07-13 19:03] kyrolus opened #6482 "Update to angular 14.0"
**Description:**
Could you please update this great package to use angular 14.0

[2022-07-14 13:54] dionatan-g commented on #6482
Up!

[2022-07-14 13:54] dionatan-g commented on #6473
Up!!!!

[2022-07-15 09:26] AndriiTsybrukh opened #6483 "Useless hover effect in date-range-picker"
In date-range-picker years section when we hover on date-range in header we can see some hover effect that look likes clickable, but when we click it do nothing. In my point of view it would be better to remove this hover effect.

![Screenshot from 2022-07-15 12-05-58](https://user-images.githubusercontent.com/13647466/179193954-7ebb0a66-4ecf-4fff-9431-a677b5db86b5.png)

[2022-07-15 09:27] AndriiTsybrukh commented on #6465
Hello @noobyogi0010
Сan you, please, also look on https://github.com/valor-software/ngx-bootstrap/issues/6483

[2022-07-15 09:38] mrs-cp commented on #6482
we'd appreciate that, too 👍

[2022-07-15 17:31] noobyogi0010 commented on #6465
@AndriiTsybrukh
Yeah sure.

[2022-07-18 15:00] Gillardo commented on #3913
Need this feature as well hope its added

[2022-07-19 14:50] mpab1410 opened #6484 "9.0.0-RC.1 still requires Angular 13 as a peer dependency"
I tried using the new package posted today, and it installed fine on a fresh project though it's still throwing errors about requiring Angular 13 as a peer dependency. Looks like a file might have been missed?

https://github.com/valor-software/ngx-bootstrap/blob/2bae2bfb6a4bd6738b230f2d3265c23f702424ac/src/root/package.json

![image](https://user-images.githubusercontent.com/22943068/179780387-ea

[2022-07-19 15:44] royeradames commented on #6482
I support it. Angular 14 brings Form generics that feature is essential.

# Remove package until it support angular 14 or downgrade to angulate 13
## Buggy solution: This can solve the issue until it gets updated (noting it here because you may have heard about this):
`.npmc` file with `legacy-peer-deps=true` sibling to your node_modules directory

Sources:
- https://docs.npmjs.com/cli/v8/configur

[2022-07-19 18:34] kyrolus commented on #6482
It is already updated. Thanks.

[2022-07-19 18:56] kyrolus commented on #6482
No, it is updated on the ngx-bootstrap website https://valor-software.com/ngx-bootstrap/#/ with version 9.0.0-RC1, but in npm the version is 8.0.0

[2022-07-19 21:43] valorkin commented on #6484
my bad, was focused on fixing cypress at CI
https://github.com/valor-software/ngx-bootstrap/pull/6485

[2022-07-20 10:35] valorkin commented on #6484
9.0.0-RC.2 is on npm
if you will face any issues, mention me

[2022-07-20 10:35] #6484 closed, assigned to nobody

[2022-07-20 10:37] valorkin commented on #6482
9.0.0-RC.2 is on npm
available as @next version
this week testing, if nothing critical related to ng14 - releasing as @latest on Friday
mention me if you will find anything

[2022-07-20 10:37] #6482 closed, assigned to nobody

[2022-07-20 10:38] valorkin commented on #6473
9.0.0-RC.2 is on npm
available as https://github.com/next version
this week testing, if nothing critical related to ng14 - releasing as @latest on Friday
mention me if you will find anything

[2022-07-20 10:38] #6473 closed, assigned to nobody

[2022-07-20 12:54] joelmuskwe opened #6486 "Datepicker"
Bug description:
On Datepicker for Daterangepicker with timepicker after selecting a range updating the time parts not working either using the up/down chevron icons or the hour and time inputs

StackBlitz: https://stackblitz.com/edit/angular-ivy-dcjwgp

Versions:
ngx-bootstrap: v8.0.0

Angular: v14.0.6

Bootstrap: v5.1.0

Build system: Angular CLI

**Expected behavior**

One should be able to edi

[2022-07-21 09:27] benjamin-achouche opened #6487 "Datepicker - Readonly attribute being set when isDisabled is set"
Hello everyone, I spotted a weird behavior in the datepicker library :
It appears the readonly attribute's value is set to isDisabled's value when it should really be added or removed.

**Expected behavior**

Use setAttribute or removeAttribute respectively when isDisabled is set to true or false.

[2022-07-24 12:54] t-macabee commented on #6481
Have you found the solution to the problem?

[2022-07-24 16:30] SachinsMishra commented on #1932
I am using ```ngx-bootstrap:8.0.0``` but the issue still present

https://stackblitz.com/edit/ngx-daterangepicker

[2022-07-24 16:39] sachinmishra007 opened #6488 "If first day of month is in datesDisabled, the whole Month is disabled when going to month selection"
I am using ```ngx-bootstrap:8.0.0``` but the issue still present

https://stackblitz.com/edit/ngx-daterangepicker

https://github.com/valor-software/ngx-bootstrap/issues/1932

_Originally posted by @SachinsMishra in https://github.com/valor-software/ngx-bootstrap/issues/1932#issuecomment-1193352224_

[2022-07-24 16:58] sachinmishra007 opened #6489 "Do we have IsInvalidateDate method to validate date ?"
Do we have any method which we can use to invalidate and disabled the dated based upon the calendar load ?

[2022-07-24 17:25] kasir-barati commented on #6481
@t-macabee nope. I finally did install it using normal way -- npm i

[2022-07-24 21:35] damient opened #6490 "Tooltip CSS wrong on Bootstrap 5.2"
**Bug description:**
Bootstrap 5.2 changed / removed CSS classes and because of that tooltip placement is wrong.

Bootstrap 5.2 commit :
https://github.com/twbs/bootstrap/commit/8aaeb3cb6b5fe4f3eb6ed5872e172404aa8397a6

ngx-bootstrap: 8.0.0 or 9.0.0-RC2
Angular: 14.1
Bootstrap: 5.2 (works with 5.1)

**Fix Proposal:**
Use Popper.js to display tooltip
Get CSS classes from Popper.js and add it on top

[2022-07-25 10:41] jonnytest1 opened #6491 "NPM readme compatibility matrix outdated"
Before opening an issue, please search for duplicates (opened and closed) https://github.com/valor-software/ngx-bootstrap/issues There's no need to open an issue here if you want to ask general question, use StackOverflow or Slack instead

Bug description:
the compatibility matrix over on
https://www.npmjs.com/package/ngx-bootstrap#Compatibility
is outdated (only going up to version 6)
=> /src/roo

[2022-07-25 18:21] lostation commented on #6490
Same here 9.0.0-RC2 Angular 14.2 Bootstrap 5.2... tooltips and popovers doesn't work anymore...

Tried with container="body" boundariesElement="viewport" or with/without placement="bottom" etc....
It seems without placement, something happened but totally wrong size.

Hope the next RC will love this. Thanks

[2022-07-26 09:07] RihabEA opened #6492 "Tooltip not displayed properly"
Hello,

When we update the bootstrap from 5.1.3 to 5.2.0 and ngx-bootstrap from 8.0.0 to 9.0., there is an issue with position of the tooltip, related to an icon within a cell.

Kindly find below the two plunkers created to display the issue:

1- Current Behavior (bootstrap: 5.2.0): when we click the icon in the cell (price column), the tooltip appears in the wrong place

https://stackblitz.com/ed

[2022-07-26 13:26] mrjohnr commented on #6490
same here with bootstrap 5.2,tooltips are shown behind buttons,fixed reverting to Bootstap 5.1.3

[2022-07-26 13:41] #5559 closed, assigned to nobody

[2022-07-26 18:32] damient commented on #6492
Duplicate of https://github.com/valor-software/ngx-bootstrap/issues/6490

[2022-07-26 19:25] lostation commented on #6490
Indeed...but then I get back the warning

(2446:3) autoprefixer: Replace color-adjust to print-color-adjust. The color-adjust shorthand is currently deprecated...

[2022-07-26 21:42] lostation commented on #6490
And this solves the warning issue -> https://stackoverflow.com/questions/72373408/webpack-utoprefixer-replace-color-adjust-to-print-color-adjust-the-color-adj

[2022-07-27 10:42] panyann commented on #6444
Thank you. It should be in the documentation...

[2022-07-29 13:02] emonney commented on #6490
Temp workaround is to add this to your stylesheet:

.popover {
  position: absolute;
  top: 0;
  left: 0 #{"/* rtl:ignore */"};
}

.popover-arrow {
  position: absolute;
}

.tooltip {
  position: absolute;
}

.tooltip-arrow {
  position: absolute;
}

[2022-07-29 13:02] emonney commented on #6492
Temp workaround is to add this to your stylesheet:

.popover {
  position: absolute;
  top: 0;
  left: 0 #{"/* rtl:ignore */"};
}

.popover-arrow {
  position: absolute;
}

.tooltip {
  position: absolute;
}

.tooltip-arrow {
  position: absolute;
}

[2022-08-01 09:03] RihabEA commented on #6492
Thanks for your help, it works from my side!!

[2022-08-01 16:55] edan-bainglass commented on #4739
That can be resolved by adding a manual toggle to any item of the top menu that is not a submenu trigger. Reference the manual toggle section of the dropdown component documentation. A bit annoying if you have many items (and are not using ngFor), but it at least resolves the issue for now until we get a proper fix.

[2022-08-03 11:58] raviagheda commented on #5967
Thanks, worked for me as well 😊 🚀

[2022-08-08 04:36] atheros commented on #6375
there is PR, but seems abandoned: https://github.com/valor-software/ngx-bootstrap/pull/6424

[2022-08-08 15:02] moddi3 commented on #6422
I also have this problem(

[2022-08-10 21:20] dontboyle opened #6493 "Virtual Scroll "breaks" user experience after ShowElement() - Forcing Document to Scroll to Top"
https://github.com/valor-software/ngx-bootstrap/blob/development/src/modal/modal.directive.ts

In the file above in your showElement() method.

          this._renderer.setProperty(
            this._element.nativeElement,
            'scrollTop',
            0
          );

 This code breaks virtual scrolling by resetting page ;/ regular bootstrap doesn't move to top.

Stackblitz example - regula

[2022-08-11 18:20] dontboyle commented on #6493
Adding this works (hoping someone else will find this helpful)

Minor change in your code base.

        this._renderer.setStyle(document.documentElement, 'height', '100vh');
        this._renderer.setStyle(document.documentElement, 'overflow', 'visible');

![image](https://user-images.githubusercontent.com/8333350/184211477-891bbc42-77fd-4e06-9714-de0992009316.png)

and (back to normal on hide)

[2022-08-11 18:58] dontboyle commented on #6493
If you're using AppBsModalDirective ontop of this Library:

`

   import { Directive, ElementRef, Renderer2, ViewContainerRef } from '@angular/core';
   import { ModalDirective } from 'm3-custom-ngx-bootstrap-modal/src/modal';
   import { ComponentLoaderFactory } from 'ngx-bootstrap/component-loader';
   import { ModalDirective, ModalOptions } from 'ngx-bootstrap/modal';
   import { document } fro

[2022-08-12 07:08] MarieOlligesgeers opened #6494 "typeahead no longer opens, the datasource is no longer triggered after updating rxjs to v7"
Bug description:
The typeahead no longer shows a suggestion list in reactive forms. The rxjs version used is: 7.5.6. but even smaller versions of rxjs lead to the same problem. Only with rxjs version 6 does the typeahead open as usual.

StackBlitz that reproduces the issue:
https://stackblitz.com/edit/ngx-bootstrap-btgr2r?file=app/app.component.ts
https://ngx-bootstrap-tmarqt.stackblitz.io/

Versi

[2022-08-13 18:17] Gillardo commented on #6469
Any fix for this?? Experiencing the same issue

[2022-08-13 18:18] Gillardo commented on #6433
Any idea on fix time?

[2022-08-13 20:16] Gillardo commented on #6469
Updated to latest version, seems to work, only problem is that the datepicker/timepicker closes everytime you use the time selectors

[2022-08-16 15:37] arnab-barua opened #6495 "Bengali locale not supported in Datepicker"
Hi,
I am working on an application using ngx-bootstrap. In this application I am going to support Bengali language. Sadly ngx-bootstrap doesn't support Bengali language. According to wiki Bengali is the 5th most spoken language (more than 300M native speaker) in the world. It will be really cool to have Bengali (bn) locale in ngx-bootstrap as this  will affect a large number of people here.
I am w

[2022-08-17 03:10] JOOOEG123 opened #6497 "No default jsDelivr CDN file set"
[This package](https://www.jsdelivr.com/package/npm/ngx-bootstrap) doesn't have a [default file](https://www.jsdelivr.com/features#publishing-packages) set. You can set it via `jsdelivr`, `browser`, or `main` field in `package.json`

[2022-08-17 05:14] raviagheda commented on #4392
It was helpful, thank you @Ronald-13 🚀

[2022-08-17 07:56] knulpi opened #6498 "Missing version compatibility information for 9.0.0"
**Description:**
The version compatibility matrix currently misses information for version `9.0.0`. When trying to install it along with Angular v13, npm fails, since 9.0.0 seems to need Angular v14. I am confused, and I bet others are, too.
What versions of BS and Ng is 9.0.0 compatible with? Would make a PR if I go this piece of information.

[2022-08-19 13:28] Middle-cod3 commented on #5967
where to put this code , can someone help me, while opening a 2nd modal i dont want to hide parent modal.

[2022-08-21 20:22] raviagheda commented on #5967
So you can pass id: \<UNIQUE\_NUMBER> in config ( ModalOption ) of modalService.show method!

[code]

[2022-08-22 04:19] Middle-cod3 commented on #5967
Thank you so much for your kind gesture .

On Mon, 22 Aug, 2022, 1:52 am Ravi Agheda, ***@***.***> wrote:

[2022-08-22 14:38] TheVoxell commented on #6433
It is now useless as all clcks on the time will close the popups

[2022-08-25 00:45] darkgrid-user commented on #6490
Removed "position", "top", "left" properties:
https://github.com/twbs/bootstrap/commit/8aaeb3cb6b5fe4f3eb6ed5872e172404aa8397a6#diff-e8a1ed084f5e1df29caf257153dc7f5a9507e15e64dc8d98964d85c2e9928924

[2022-08-30 09:47] vkvashul opened #6499 "ngx-bootstrap ComponentLoader have to run destroy() method when component hide?"
Bug description: Open and close typeahead dropdown multiple times lead to memory leaks (slow down browser).
Open and close multiple times dropdown -slow down hovering over items (looks like they still exist in browser memory)
Same effect exist with other components that use ngx ComponentLoader

How to solve this issue in true way?

Plunker/StackBlitz that reproduces the issue:
StackBlitz: https://

[2022-08-31 02:22] lautaro826 commented on #6469
Which version fixes this problem? My current version is 7.2.1 and I have the problem mentioned

[2022-08-31 08:25] Gillardo commented on #6469
i am using version 9.0.0 and it works, but time picker bug (closing everytime you click) happens

[2022-08-31 11:18] lautaro826 commented on #6469
Thank you. @Gillardo.

[2022-09-01 20:19] kenny1504 commented on #4054
it worked for me

**import**

[code]

in constructor

[code]

[2022-09-02 15:21] adurmus opened #6500 "Is there a way to show a message just before datepicker shown?"
I'd like to display a message to user when input field is clicked (toaster message) and when the user sees and closes the message then open the datepicker. beforeShown event?

Is this achievable with existing events?

[2022-09-02 17:03] adurmus commented on #6500
Figured out a hack

.html

`<input type="text"
           #datePicker="bsDatepicker"
           [triggers]="''"
           placeholder="Datepicker"
           class="form-control"
            (mouseup)="onShownDatePicker($event)"
           bsDatepicker>`

.component.ts

[code]
You must set the `triggers`  input to ''. Otherwise it will display the date picker.
you call `(mouseup)` event to show t

[2022-09-04 11:32] hakimio commented on #6498
It now depends on Angular v14 based on `package.json`.
[code]
Bootstrap compatibility should be unchanged.

[2022-09-05 07:03] adurmus opened #6501 "Tooltip in input group buttons removes the borders"
[code]

tooltip adds `<bs-tooltip-container>` as last element in the div. this breaks bootstrap selection of last child element in the input-group for `.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {border-top-right-radius: 0; border-bottom-right-radius: 0;}` .Therefore last button loses top right and bottom right radios when button is hovered to d

[2022-09-07 15:23] tsaputo opened #6502 "Accessibility issue with pagination disabled buttons"
Bug description:

Disabled buttons are focusable with TAB.

Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: ^9.0.0

Angular: 14.1.1

Bootstrap: ^5.2.0

Build system: Angular CLI, System.js, webpack, starter seed:

**Expected behavior**

If the button is disabled - it is not focusable with tab .

**Actual behaviour**

https://user-images.githubusercontent.com/9536093/188916605-dc

[2022-09-08 10:21] WillemDeNys commented on #6085
Is this going to be fixed? We need to be able to show a message indicating the date they wrote is before or after the min/max date. We don't want it to be magically updated without the user is being notified. At least provide an option to disable the automatic update.

[2022-09-08 17:04] henrysteven commented on #644
@Dinistro Thank you very much, you helped me a lot, greetings from Ecuador

[2022-09-12 19:08] ghost opened #6503 "Unsupported ARIA attribute - Accessibility Issue"
using    "ngx-bootstrap": "^5.3.2"

ngbTypeAhead autogenerated code violates the following accessibility rules. The code should NOT generate **aria-multiline="false"** when role="combobox"

_ARIA attribute is not allowed: aria-multiline="false"_

https://dequeuniversity.com/rules/axe/4.4/aria-allowed-attr?application=AxeChrome

here is a snippet of generated code

`<input _ngcontent-ng-cli-univers

[2022-09-13 16:41] ghost opened #6504 "ngb-tabset autogenerated html - accessibility issues"
This is the following snippet generated by ngb-tablist which violates a couple of 508 compliance rules.
[code]
_Required ARIA parent role not present: tablist_
_List item does not have a `<ul>, <ol>`  parent element without a role, or a role="list"_

Adding role='tablist' semantically makes it a list and so Li is without a parent. To solve either of them the markup can be replaced with divs or con

[2022-09-14 09:50] SvetlanaMuravlova opened #6505 "schematics for ngx-bootstrap 9.0.0 doesn't work"
should be fixed command 'ng add ngx-bootstrap' for ngx-bootstrap 9.0.0 with angular 14
<img width="1352" alt="Screenshot 2022-09-14 at 12 49 05" src="https://user-images.githubusercontent.com/83700465/190121979-c2026b3d-3384-488f-98c7-a0f3c689f375.png">

[2022-09-14 13:54] pouyababaie commented on #6464
I have  similar problem when second modal opens, I'm using ngx-bootstrap 7.1.2 and my angular version is 12.2.17

[2022-09-15 09:52] adurmus opened #6507 "TabSet display: none for not active pane blocks any modal to be visible"
[code]
if you have some components that is in tabs that are not active then those modalsv(modal2 in the above example) cannot be used. Backdrop works but the modal is not visible  as  the following in place.
[code]
Is there any way to avoid this issue other than moving all components outside of `tab`?

[2022-09-15 11:09] kovtib commented on #6430
How on earth they can leave a bug like this in their stackblitz for more than a half year?
Thx @Serdarrr for the fixing steps.

[2022-09-15 11:49] frontendflorian commented on #6356
I just experienced a similar error after upgrading to Angular 14. Could resolve it by correcting the placement value of the according popover element from `right auto` to `auto`:
**Old version:**
`<button popover="My awesome text in a popover" placement="right auto">My button</button>`
**New version:**
`<button [...] placement="auto">[...]</button>`
Don't know if the former was ever supported and

[2022-09-16 10:58] Gillardo commented on #6433
Any news on this, its quite a major bug that the timepicker closes on every click on time component

[2022-09-16 16:01] nitin27may opened #6509 "ng add ngx-bootstrap giving error Cannot find module 'C:\Workspace\angular-demo\node_modules\@schematics\angular\utility\test.js'"
I create a new Angular project by runnning command `ng new angular-demo` after that I am trying to run command `ng add ngx-bootstrap`. It is installing ngx-bootstrap 9.0.0 but then giving error and not updating all required configuration:

![image](https://user-images.githubusercontent.com/8065536/190680665-2a1329e7-d016-4ef9-be66-b05588477754.png)

Versions of ngx-bootstrap, Angular, and Bootstra

[2022-09-19 14:30] theSmokingFrog opened #6510 "Documentation of 8.0.0 is unavailable"
**Description:**
While trying to access the documentation for 8.0.0 a few minutes ago, the documentation seems not to be available. While the `index.html` seems to be present, `runtime.js`, `polyfills.js` and `main.js` are responding with a 404.

The screenshot below shows the exact behaviour with URL and Network Monitor. This has been verified with multiple Browsers (and without Extensions) to en

[2022-09-19 15:48] SlippySken commented on #1769
Same issue here, is there some possibility to get that behaviour?

[2022-09-20 11:09] DmitriyIvanko opened #6511 "Regression: v7.1.2 bs-datepicker-inline not worked with async pipe or component subscription (and ChangeDetection.OnPush)"
Bug description:
Version 7.1.1 worked with async pipe (or subscribe in component) correctly, but v 7.1.2 not worked correctly. Not select date:

Try this code:
Using Plunkr, StackBlitz is
![Screenshot_3](https://user-images.githubusercontent.com/18007391/191242090-8190996d-f6b2-4f32-890c-fe880a165306.png)

When you try select the date in datetimepicker bsValueChange event will not fire

----
Other

[2022-09-20 12:29] matheuscabralsz commented on #6509
having the same issue here, same build system as yours

[2022-09-21 12:13] #6498 closed, assigned to nobody

[2022-09-21 12:24] #6505 closed, assigned to SvetlanaMuravlova

[2022-09-21 12:24] #6416 closed, assigned to SvetlanaMuravlova

[2022-09-21 12:27] #6442 closed, assigned to nobody

[2022-09-23 09:24] andreasdorfer commented on #6472
Same issue with the focus moving out of the dropdown (by pressing tab key) - the dropdown should close.

[2022-09-23 10:28] SvetlanaMuravlova commented on #6509
@matheuscabralkk , @nigelsim hi) thank you for your issue. It should be fixed in this pr https://github.com/valor-software/ngx-bootstrap/pull/6508
connected issue #6505

[2022-09-23 10:28] #6509 closed, assigned to nobody

[2022-09-23 10:41] SvetlanaMuravlova commented on #6507
@adurmus hi) thank you for your issue) We need more details.
As ex. you can look at our documentation site. There we use tabs and modals together and it works fine.
https://valor-software.com/ngx-bootstrap/#/components/modals?tab=overview

[2022-09-26 07:19] SvetlanaMuravlova commented on #6493
hi, @dontboyle ) thank you for your issue, but i am not agree with you, sorry
As i can see it is native behaviour  of bootstrap.
https://getbootstrap.com/docs/5.2/components/modal/
So i will close it, if we are wrong let us know it)

[2022-09-26 07:19] #6493 closed, assigned to nobody

[2022-09-26 12:27] SvetlanaMuravlova commented on #6483
@AndriiTsybrukh hi, thank you for your issue, but i can't confirm such issue
check it, please, on our site https://valor-software.com/ngx-bootstrap/#/components/datepicker?tab=overview
or add more details to your issue and reopen it)

[2022-09-26 12:27] #6483 closed, assigned to nobody

[2022-09-27 12:21] SvetlanaMuravlova commented on #6481
@kasir-barati , hi) thank you for your issue. We've tested it with angular 13 and it works fine, according doc ngx-bootstrap 8 is not compatible with angular 14.
Actually, there is a pr with fixies for schematic in new version https://github.com/valor-software/ngx-bootstrap/pull/6508
you can try it after the release and if you will have some issue let us know, please)

[2022-09-27 12:21] #6481 closed, assigned to nobody

[2022-09-27 12:38] SvetlanaMuravlova commented on #6491
@jonnytest1 , hi, thank you for your issue, fixes are in this pr https://github.com/valor-software/ngx-bootstrap/pull/6506, so it will be fixed in the nearest release

[2022-09-27 12:38] #6491 closed, assigned to nobody

[2022-09-28 05:14] h1nson commented on #6469
how to solve this bug, closing everytime when i click it.

[2022-09-28 11:25] kennylevi commented on #5386
is it possible to remove the second calendar, from the date range picker?

[2022-09-29 16:09] #6507 closed, assigned to nobody

[2022-09-29 16:43] SvetlanaMuravlova commented on #6464
@stasvip hi, thank you for your issue, but create please an example of such issue on [stackblitz](https://stackblitz.com/). Cause we aren't able to reproduce your issue now)

[2022-09-30 14:12] gslusarek-cic commented on #6085
This issue should be top priority, currently this date picker is unusable.

[2022-10-03 06:56] amanyzohair commented on #6365
try `ng add ngx-bootstrap@8.0.0` Or `npm install ngx-bootstrap@@8.0.0 --legacy-peer-deps`

[2022-10-10 01:27] gbrits commented on #3825
As @JaeimPark mentioned - if you just hide the element then it still exists in the DOM structure and is accessible to ViewChild, *ngIf only renders the element when the criteria is actually met so it doesn't exist when you're trying to grasp it.

For example, instead of using *ngIf, you could set a class:
[code]

Class:
[code]

This worked in my specific use-case.

[2022-10-13 12:02] d0r0sh commented on #5275
@rseanhall  Is it planned to add such an option to define a modal injector in the future?

[2022-10-13 12:02] d0r0sh commented on #5275
![image](https://user-images.githubusercontent.com/46892003/195591002-ea063675-0dd1-4eaa-8395-f89c5cf7ef5f.png)

[2022-10-13 23:47] Rich-Hopkins commented on #6509
I see that the PR is to fix this issue, and it was 21 days ago, but I still have the same issue. I asked the question in the slack group on 9/27, and no responses there, so I'm posting here. How do I get this PR when I do npm add ngx-bootstrap?

[2022-10-14 21:19] Rich-Hopkins commented on #6505
I have this same issue. I see that PR 6508 fixed it, but I don't see what I need to do to get it working. I've asked in the slack group, and I see a StackOverflow question that doesn't have a helpful answer, so no point in asking the same thing again there. What do I need to do in order to get the code that works?

[2022-10-15 13:29] GadepalliAditya1998 commented on #5280
I got this issue in Latest version of Angular again

![image](https://user-images.githubusercontent.com/51157467/195988849-653d9b81-4402-4157-9981-a80c4613617e.png)

When I don't keep the attr. I get a error during ng serve / ng build:

![image](https://user-images.githubusercontent.com/51157467/195988906-8698a97d-b75c-4c4f-83d8-b08d32744d36.png)

But after placing attr. The compilation is success

[2022-10-17 20:31] yxw1993 opened #6515 "datepicker postion error"
first show is :
![image](https://user-images.githubusercontent.com/23447494/196275652-c84f461d-e878-40b8-85e0-7cb9b857ed28.png)

after show is:
![image](https://user-images.githubusercontent.com/23447494/196276320-2bd001f6-b347-4d43-a924-8e88b87fb462.png)

first style is:
style="display: block; position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(686px, 38px, 0px

[2022-10-18 09:19] boristhuy commented on #6488
The same issue exists with datesEnabled. If datesEnabled covers only a single month, then that month is also disabled in month selection.

[2022-10-19 16:51] sharathreddy1908 opened #6516 "Problems with ngx-bootstrap-typeahead List template while using NVDA"
I have been using  ngx-bootstrap-typeahead List template to get some dynamic address data and while I'm filtering the address using the keyboard arrow keys to navigate when NVDA Turned on the NVDA is reading only the letters that are typed in the search field rather than reading the whole content of the search result.

[2022-10-19 19:47] GunnysKid commented on #6509
I'm having the same issue. I'm seeing that it's "fixed" in multiple pull requests here that keep referencing each other, but no clue on how or what to do to proceed. Details beside "its fixed in this pr" would be greatly appreciated.

[2022-10-20 10:30] SvetlanaMuravlova commented on #6509
@GunnysKid new version with this pr hasn't been released yet ))

[2022-10-20 11:47] DerZyklop commented on #2514
Another use-case for this issue:
We have a time input. The user has to type the correct format `hh:mm`. We don’t want to only guide the user by showing validation errors. We want the Typeahead to prevent a situation where a user types another format.

Issue:
**When user types `1430`, the typeahead item for `14:30` does not show up.**

I think the most flexible way to solve this, is to enable devel

[2022-10-20 17:50] Rich-Hopkins commented on #6509
@SvetlanaMuravlova any idea when we can expect that release?

[2022-10-21 09:29] juanmanuel-bosonit opened #6517 "Accesibility: modal doesn't give back focus to the button."
**Description:**
Hi everyone.
I am having a trouble with accesibility with this library. When I close one modal window the button which had started the modal doesn't receive the focus.
How can I fix this?

[2022-10-21 17:44] alejandrocoding commented on #6439
Hi @valorkin - this is still an issue, I wonder if there is opportunity for us to help sending a PR.

Is the fix suggested above valid? any other direction you wanna us go to? any blockers for this?

I am interested in helping with this issue too: https://github.com/valor-software/ngx-bootstrap/issues/6441

[2022-10-24 22:10] Petya-Naumova-MM commented on #5074
Not a good practice to use workaround for something so obviously needed as a tooltip for a disabled button.

[2022-10-28 09:36] CedricHouben commented on #5814
This can be fixed by importing the BsDropdownModule in the TestingModule.

Example:
[code]

[2022-10-28 11:03] yousafraza39142 commented on #6057
**SEE:**
https://github.com/valor-software/ngx-bootstrap/issues/5394

[2022-10-28 11:04] yousafravian commented on #6057
This issue is discussed here, I found the solution, not sure if it is useful now but here it is
https://github.com/valor-software/ngx-bootstrap/issues/5394

[2022-10-31 12:44] matthewfedak commented on #4350
@valorkin my company would also like to see this fix used. Can offer a reward.

[2022-11-01 20:50] #6439 closed, assigned to nobody

[2022-11-09 17:14] Mangesh5668 commented on #5888
any update? Facing issue with ngx-bootrap 7.1.2
<bs-daterangepicker-inline
                        [datesEnabled]="availableDates"
                        [bsConfig]="{ showWeekNumbers: false }"
                        (bsValueChange)="selectedRange($event)"
                        [bsValue]="bsInlineRangeValue"

[2022-11-09 17:39] Mangesh5668 commented on #5888
Solved this after upgrading to V8.0.0

[2022-11-11 07:56] marianikry commented on #4261
hey guys! this is my Unoffical fix from v5.7.0

Index: src/component-loader/component-loader.class.ts
IDEA additional info:
Subsystem: com.intellij.openapi.diff.impl.patch.CharsetEP
<+>UTF-8
===================================================================
diff --git a/src/component-loader/component-loader.class.ts b/src/component-loader/component-loader.class.ts
--- a/src/component-loader/compo

[2022-11-11 08:00] mariani-christian-rgi-it commented on #4261
Hey Guys! this is my UNofficial patch from v5.7.0

[Fixed_DatePicker_Memory_leak.patch.tar.gz](https://github.com/valor-software/ngx-bootstrap/files/9988067/Fixed_DatePicker_Memory_leak.patch.tar.gz)

[2022-11-11 09:10] jeenkhoorn commented on #6494
We get the same issue. Typeahead does not respond anymore after the upgrade to rxjs 7.x. There is no output in the web console when it fails. Currently the only workaround is downgrading to rxjs 6.x,

[2022-11-15 12:35] mzramna opened #6519 "latest not compatible with angular 14.2.0"
trying to install using `ng add ngx-bootstrap` but returns `/node_modules/@schematics/angular/utility/test.js`

[2022-11-15 14:03] sherlock1982 commented on #5999
The issue still persists. Any dialog open is a leak.

[2022-11-15 14:23] sherlock1982 commented on #6499
I was just looking at #5999, might be related because it also leaks in ComponentLoader. Proposed patch works

[2022-11-16 08:32] sherlock1982 opened #6520 "listenToTriggersV2 is leaking listeners"
Consider the following code in listenToTriggersV2:

    // all listeners
    const listeners: Array<() => void> = [];

    // lazy listeners registration
    const _registerHide: Array<() => () => void> = [];
    const registerHide = () => {
      // add hide listeners to unregister array
      _registerHide.forEach((fn) => listeners.push(fn()));
      // register hide events only once
      _regi

[2022-11-17 18:11] Alsammoue commented on #6444
Thank you so much .. . . . . . . so much

[2022-11-19 20:57] heitorseesdragons opened #6523 "Angular 15 support coming?"
Doesn't work with Angular 15

[2022-11-19 23:32] Rich-Hopkins commented on #6523
I find it funny that you mention slack. My question from 9/27 is yet unanswered, and I haven't seen a question answered there since that time.

From: heitorseesdragons ***@***.***>
Sent: Saturday, November 19, 2022 3:58 PM
To: valor-software/ngx-bootstrap ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [valor-software/ngx-bootstrap] Angular 15 support coming? (Issue #6523)

Before opening an iss

[2022-11-20 00:06] heitorseesdragons commented on #6523
I didn't mention anything. That iis the default text that I didn't realize I had to delete. Since Angular 15 is just a few days old, and a search for it here did not mention a fix, I just left the simple question.

[2022-11-20 00:32] heitorseesdragons commented on #6523
They say in the docs that ngx-bootstrap 10.0.0 is needed for Angular 15, but can't install that via npm i. How can I use 10.0.0?

[2022-11-23 08:55] sasobunny commented on #5993
+1

[2022-11-23 17:44] markwilx commented on #6519
I'm seeing the same thing.  I'm trying to upgrade from Angular 13.3.12 to Angular 14.2.0 using the command:
$ ng update @angular/core@14 @angular/cli@14

Among others, I receive the following errors:
Package "ngx-bootstrap" has an incompatible peer dependency to "@angular/animations" (requires "^11.0.0 || ^12.0.0" (extended), would install "14.2.12").

I hope this information is helpful.

Mark

[2022-11-23 19:04] Rich-Hopkins commented on #6509
@SvetlanaMuravlova , it's been a month since I last asked, will this fix be released anytime soon?

[2022-11-26 05:09] dezsiszabi commented on #6195
I see there is a merged PR for this, so I assume it'll be available in 10.x.
Any chance of backporting this to 9.x and 8.x?
I encountered the same issue in my project (which is still on 8.x) and having this fix would be really nice.

[2022-11-26 12:48] Pax90 commented on #6523
ngx-bootstrap 10 is a future release that has not yet been released.

[2022-11-30 06:38] rockyahmed commented on #6433
Any update this issue ?

[2022-11-30 14:11] shankar5217 opened #6524 "The TabsetComponent component sets isDestroyed to true in ngOnDestroy."
Having a data entry form with Tabset, using Viewchild to refer Tabsetcomponent to dynamically move to next tab.

first time the navigation is working as expected, however when the user completes the data entry and on save the user is routed to different component.

when the user clicks Add New and lands in the component having tabset, the viewchild tabsetcomponent is fetching empty tabs array and

[2022-11-30 21:19] SvetlanaMuravlova commented on #6524
@shankar5217 thank you for your issue, but can you, please, create a small reproducing, cause we need some example for testing

[2022-11-30 21:23] SvetlanaMuravlova commented on #6523
yeah, you are right, you need version 10, i believe it will be released soon, thank you for your waiting

[2022-11-30 21:23] #6523 closed, assigned to nobody

[2022-11-30 21:25] SvetlanaMuravlova commented on #6519
yeah, it is true, you will be able to do it with version 10, i believe it will be soon

[2022-11-30 21:25] #6519 closed, assigned to nobody

[2022-11-30 21:29] SvetlanaMuravlova commented on #6515
@yxw1993 , thank you for your issue, but we need more details
create, please, some example with reproducing of such issue on stackblitz