[2018-07-02 09:38] SimonSch opened #4476 "Datepicker auto complete"
### Bug description or feature request:

When you enter a date eg. "010189" and hit enter then it autocompletes to 01/01/1989 which is okay but if you enter a date "010163" then it autocompletes to 01/01/2063.

This if for all dates before 01/01/1969

[2018-07-02 17:28] cbysterv commented on #4380
Is there any update on this? It is affecting me as well.

Can this please be fixed?

[2018-07-03 12:55] meshubh commented on #3340
Hi

By when can we expect the accessibility(Keyboard navigation) feature to be implemented?
@EvilAlexei

[2018-07-03 16:58] lucasa commented on #4459
I have this error too.
Does anyone knows any fix?

[2018-07-04 00:18] chalcrow commented on #1075
This is now implemented in ngx-bootstrap. See https://valor-software.com/ngx-bootstrap/#/datepicker#locales. You can put something like this in your root module:

[code]

Then in your root component you can do this:

[code]

This applies the German (de) locale for ngx-bootstrap across your application, by referencing the locale you've defined in the root module. This can be made dynamic, e.g. if y

[2018-07-04 08:02] NishantMadkikar commented on #1600
I am same problem with angualr 5 i am giving value to the current page but it is setting always to 1

[2018-07-04 09:16] KapilSachdev opened #4477 "Datepicker: manual input accepts invalid date"
### Bug description:
Datepicker does not respect/detect the input field value and switches to (invalid) date even when the min or max conditions are defined.

#### Plunker/StackBlitz that reproduces the issue:
The documentation site itself has the issue https://valor-software.com/ngx-bootstrap/#/datepicker#min-max.
Select a valid date and change the date manually from the input field, the date swi

[2018-07-04 09:42] iwantwin commented on #2627
+1, need this very much!

[2018-07-04 09:48] vitaliikobrin commented on #2627
+1

[2018-07-04 11:07] sumit1203 commented on #3418
It's not working when I used dateDisabled property

Below error occurred when using input

Can't bind to 'dateDisabled' since it isn't a known property of 'input'

[2018-07-04 13:14] sripalreddyadamala opened #4478 "Ensures all elements with a role attribute use a valid value"
<div _ngcontent-c1="" role="popover" style="display: block; top: -10000px; left: -10000px;" class="popover fade">

Hi All,
                I am using ngx popover in my application and I am getting above role="popover" as critical error when I run audit reports with axe and google accessibility. This attribute is generated dynamically from bootstrap and I am using this popover content almost in eve

[2018-07-04 16:17] pulidovpe opened #4479 "ngx-bootstrap - Dropdown alignment not working"
#Bug description or feature request:

If I have a navbar and a button on the top middle of the page which opens a dropdown, the dropdown opens but it does to the left corner. I'm setting the dropdown menu with no align, however, when I do this the dropdown only aligns to the left.

#Here is a sample code that replicates the issue:

[code]
Only works if I re-write the class dropdown-menu:
[code]
#V

[2018-07-04 19:02] webdevan commented on #4385
+1 I'm having similar errors with Typeahead and Observables. I'll take a blind guess that this relates to the addition of NG/RxJS 6 support in version 3 release. It doesn't seem to be fully backward compatible with NG/RxJS 5.

[2018-07-05 10:28] valorkin commented on #4478
@sripalreddyadamala this attribute is added because of ARIA requirements for such elements
what kind of audit tool do you use

[2018-07-05 10:37] sripalreddyadamala commented on #4478
Google accessibility audit and dequee axe plugin.you can add both of these
from chrome web store.

On Thu, Jul 5, 2018 at 6:28 AM Dmitriy Shekhovtsov <notifications@github.com>
wrote:

--
Thanks & Regards,
Sripal Adamala
sripalui@gmail.com
8315780693

[2018-07-05 11:20] valorkin commented on #4477
@KapilSachdev thanks for reporting :)

[2018-07-05 11:23] valorkin commented on #4476
@SimonSch thanks for reporting!

[2018-07-05 11:27] valorkin commented on #4474
this is related to visibility scopes of `#cropImg` it's rather generic Angular question then ngx-bootstrap specific, it will be better to ask at stack overflow.

But as I see: ng-template will not work, BUT if you will create a `component` for modal and this component will have ViewChild with `cropImg` selector, it should get it

[2018-07-05 11:27] #4474 closed, assigned to nobody

[2018-07-05 11:30] valorkin commented on #4472
yes, you are right
this issue consists of 2 parts:
1. datepicker should trap focus on open
2. and giveback focus on close

[2018-07-05 11:33] valorkin commented on #4469
@suriish this is generated code, by AoT compiler, so you should report it to angular repo please

[2018-07-05 11:33] valorkin commented on #4469
drop a link here, when you will create or find one corresponding issue

[2018-07-05 11:50] iaguilarmartin commented on #2810
Thanks to the suggestions from @danitt and @ktsangop I managed to solve that issue on iOS devices. Here is the solution. It works for BsDatePicker and BsDateRangePicker:

[code]

[2018-07-05 13:06] #4465 closed, assigned to valorkin

[2018-07-05 13:07] #4453 closed, assigned to nobody

[2018-07-05 13:10] valorkin commented on #4449
@chorlick you should use v3+, it has all imports fixed for rxjs v6
or use rxjs compat with ngx-bs v2+

[2018-07-05 13:10] #4449 closed, assigned to nobody

[2018-07-05 13:18] PrashanthGowda commented on #4397
It was my mistake, i would have used `{ rangeInputFormat: 'MMMM DD, YYYY' }` instead of `{ dateInputFormat: 'MMMM DD, YYYY' }`.
Closing the issue...

[2018-07-05 13:18] #4397 closed, assigned to nobody

[2018-07-05 18:34] learnuser521 opened #4481 "Dropdown retains scroll position."
### Bug description or feature request:
Open the dropdown and scroll to the bottom and close the dropdown. Open the dropdown again, the scroll state is retained. Should not the scroll position be at the top when the dropdown is opened.

https://stackblitz.com/edit/ngx-bootstrap-h3s29c

[2018-07-05 21:15] dwoodworth91 commented on #3842
Would really love to see this one completed.

[2018-07-06 00:49] dantullis commented on #4031
Works for me if I use the following import:
`import { BsDatepickerModule } from 'ngx-bootstrap';`

[2018-07-06 04:19] aCodeAlchemist commented on #2385
I will try this one and let you know @DESHU44  thanks.

[2018-07-06 08:17] rafalschmidt97 opened #4484 "Modal padding-right=0"
### Bug description or feature request:
After closing modal body lose class modal-open but add padding-right=0 which is weird.
![bug](https://user-images.githubusercontent.com/14861637/42367531-d6d98bb8-8104-11e8-8716-1fc70bb0934d.gif)

If its not a bug just close it.

### Plunker/StackBlitz that reproduces the issue:
(it shows up on docs)

### Versions of ngx-bootstrap, Angular, and Bootstrap:

n

[2018-07-06 14:17] valorkin commented on #4418
No sample, no error stack. Closing until more details os provided

[2018-07-06 14:17] #4418 closed, assigned to nobody

[2018-07-06 14:19] valorkin commented on #4378
Use v3+

[2018-07-06 14:19] #4378 closed, assigned to nobody

[2018-07-06 14:22] valorkin commented on #4368
File resolution is not configured properly.
With systemjs you should import ngx-bootsrap.
Like written in docs

[2018-07-06 14:22] #4368 closed, assigned to nobody

[2018-07-06 14:22] valorkin commented on #4365
Fixed in 3.0.1

[2018-07-06 14:22] #4365 closed, assigned to nobody

[2018-07-06 14:23] #4357 closed, assigned to nobody

[2018-07-06 14:25] valorkin commented on #4348
Try [attr.name]
BsDatepicker doesn't know about name attribute at all, so I am not sure how it could be fixed

[2018-07-06 14:25] #4348 closed, assigned to nobody

[2018-07-06 14:26] #4325 closed, assigned to nobody

[2018-07-06 15:36] xerocostdistraction opened #4485 "Datepicker: allow selection for days from adjacent months."
### Feature request:
Datepicker doesn't allow selection of days that don't belong to the displayed month.
This behavior is hard-coded [here](https://github.com/valor-software/ngx-bootstrap/blob/b4c0bcb18732713c4732992b6987ed1d11990941/src/datepicker/themes/bs/bs-daterangepicker-container.component.ts#L64) for date range picker and [here](https://github.com/valor-software/ngx-bootstrap/blob/b4c0bcb

[2018-07-06 22:10] teahou commented on #4460
I am having this issue as well, i think.  Here is my accordion: when any of the buttons inside the accordion are clicked, the openPanel() method is fired, but that should only fire when the accordion is opened.

      <accordion [closeOthers]=true>
        <accordion-group *ngFor="let activity of activities"
                         [heading]="activity.Name"
                         (click)="openP

[2018-07-07 05:51] tucq88 commented on #2415
So you can't use <datepicker></datepicker> any more ? :(

[2018-07-07 12:06] bandhavya commented on #1856
any update on this ?

[2018-07-07 16:00] AndreaVitale commented on #749
+1, stuck on this :(

[2018-07-08 11:04] Bridgeway commented on #4365
Same problem in Angular 6.0.3

I have ngx-bootstrap 3.0.0 and 3.3.7 for some reason and want to install bootstrap 4 instead

[2018-07-09 09:30] coffeymatt opened #4487 "Datepicker showing 'Invalid date' on ISO date from server."
### Bug description or feature request:

Can you please re-open this issue: #4020

The datepicker shows 'Invalid date' on data from the server. Why can't it parse an ISO date?

I shouldn't need to write code like this just for the datepickler:

[code]

### Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap:

3.0.1

Angular:

6.0.7

Bootstrap:

3.3.7

[2018-07-09 14:13] stasagv commented on #4029
it would be cool to set delay globally

[2018-07-09 15:12] praveenrengarajan opened #4488 ""this.scheduler is undefined" bs-datepicker"
Getting error **this.schedulre is undefined bs-datepicker-container.component.ngfactory.js:75:79"
Included both Module in app.module and in child module
  `DatepickerModule.forRoot(),
  BsDatepickerModule.forRoot(),`
in component html
` <input class="form-control" type="text" bsDatepicker #dp="bsDatepicker" [bsValue]="bsValue">`
but when click on the input field am getting the error and not showin

[2018-07-09 17:40] lazaro3487 commented on #2172
Any news related with that issue?

[2018-07-10 06:59] Mohammadsaleem commented on #4389
do any one have any solution for this

[2018-07-10 07:53] werthdavid commented on #4459
Only happens in app.component.spec.ts! Other Tests that are using ngx-bootstrap as well work fine

[2018-07-10 13:39] hridayeshgupta commented on #3175
how to access _container property from my code?

[2018-07-10 14:27] ronlawrence-dg commented on #4380
simple repro on angular/cli project using JEST testing :  https://github.com/ronlawrence3/ngx-bootstrap-example

[2018-07-10 16:53] psined1 opened #4489 "btnRadioGroup does not work"
Radio button group does not work.

See [example on StackBlitz](https://stackblitz.com/edit/ngx-bootstrap-bfekfh?file=app%2Fapp.component.html)

The model value does not change when you click either radio. Neither works in reactive forms nor template forms.

[2018-07-10 22:55] sebastiandg7 opened #4490 "Listen events for multiple Modals using BSModalService"
### Bug description or feature request:
Unable to separately listen for modal events when using BSModalService for more than one modal and component modals.

There is no way to differentiate if the hidden event was triggered by one or other modal.
### Plunker/StackBlitz that reproduces the issue:
https://stackblitz.com/edit/angular-lhf2sv?embed=1&file=src/app/app.component.ts

### Versions of ngx-

[2018-07-11 05:41] kimamula commented on #3553
Please see this simple repro https://stackblitz.com/edit/angular-xaknok?file=app/app.component.html (using 3.0.1)

[code]

[code]

The date is initially displayed in `MM/DD/YYYY` format.
After selecting date on the picker, it becomes `YYYY/MM/DD`.

[2018-07-11 08:14] codeepic commented on #801
I wanted to use the ngx-accordion, but the lack of animations is a big show stopper for our product. The opening and closing without some transition to guide the user is jarring.
@valorkin Can you explain what is the blocker for adding the animations?
It's been 2 years since this issue was opened.

[2018-07-11 09:14] spernica commented on #3075
This solution works, but css of the tooltip element is broken (it was moved by few pixels to the right with my left tooltip).
`.tooltip { pointer-events: none; }`

Much better is init all tooltips with container body in javascript.
`$('[data-toggle="tooltip"]').tooltip({ container: 'body' });`

[2018-07-11 09:54] nok32 commented on #2627
+1

[2018-07-11 10:05] mrjohnr commented on #4333
Any chance to see an answer to this question/problem? thanks

[2018-07-11 10:50] bandhavya commented on #1550
this happens even now with customOptionsList template

[2018-07-11 11:21] Ashalyaa commented on #4464
Hello

I am experiencing the same behaviour. Have you found a solution for this?

Selected value: 11.07.2018
Expected value:  2018-07-11T00:00:00.000Z
Actual value:  2018-07-10T22:00:00.000Z

I use the German locale ('de'), I thought at first it had maybe to do something with that, the behaviour is the same for the standard language. Other than the locale I don't use any different config.

Version

[2018-07-11 12:43] mrjohnr commented on #4333
found a [fix](https://stackoverflow.com/questions/46815629/ngx-bootstrap-modal-opens-up-as-small-instead-of-large/46816646#comment89543746_46816646 )

[2018-07-11 13:49] raugaral commented on #281
why ngb-carousel don't take the css classes at the attribute "class" ??

[2018-07-11 15:50] pgarge commented on #4380
+1

This is affecting our project as well, we are using systemjs and can't upgrade from 2.0.4 version to 3.0.1
We are blocked, fix will be appreciated !!

[2018-07-11 20:18] sripalreddyadamala opened #4493 "popover title heading contains no content."
Hi,
           I am using ngx popover in my application and I am getting  empty heading contains  no content as critical error when I run audit reports with wave tool bar. My requirement is not to have title in the popover. If you see the html since hidden as display none css property this element is still in the DOM and audit fails. Is  there any way you can completely remove the element from dom

[2018-07-12 05:05] black-byte commented on #551
Any updates on this feature ?

[2018-07-12 11:32] amolbs2106 opened #4494 "(SystemJS) Can't resolve all parameters for ComponentLoaderFactory: (?, ?, ?, ?, ?)."
After adding
import { BsDatepickerModule }   from 'ngx-bootstrap';
in app.modules m getting below error.

(index):26 Error: (SystemJS) Can't resolve all parameters for ComponentLoaderFactory: (?, ?, ?, ?, ?).
	Error: Can't resolve all parameters for ComponentLoaderFactory: (?, ?, ?, ?, ?).
	    at syntaxError (http://bacs.com/node_modules/@angular/compiler/bundles/compiler.umd.js:1725:34)
	    at

[2018-07-12 11:39] amolbs2106 opened #4495 "Getting (SystemJS) XHR error (404 Not Found) loading http://bacs.com/node_modules/rxjs/operators.js after installing ngx-bootstrap"
Hello ,

M getting below error after installing ngx-bootstrap, do i need to replace operators.js to operator.js
in node_modules\ngx-bootstrap\bundles\ngx-bootstrap.umd.js file

Error Details-
(index):26 Error: (SystemJS) XHR error (404 Not Found) loading http://bacs.com/node_modules/rxjs/operators.js
	Error: XHR error (404 Not Found) loading http://bacs.com/node_modules/rxjs/operators.js
	    at X

[2018-07-12 12:10] stephanrauh commented on #2618
@tobiaspatton-s4  @IlyaSurmay Is `this.modalService.hide(level)` an official API?

It's public and it the name doesn't start with an underscore, so I'm tempted to believe it belongs to the supported API. But then, it's undocumented. Do I risk breaking the API if I use  `this.modalService.hide(level)`?

[2018-07-13 06:08] ZinalMehta commented on #1441
I had a same doubt as @abelardolg .
but I have to pass model with id and value in ngbTypeHead and bind ngModel with object .
Is is possible by using ngbtypehead?

![productdetails](https://user-images.githubusercontent.com/41180275/42675337-34d25ab0-8691-11e8-93de-38da25b12de5.PNG)
![afterselectiongproduct](https://user-images.githubusercontent.com/41180275/42675352-3f7fd3a2-8691-11e8-940b-4b3bdb5

[2018-07-13 06:47] carlos-cls opened #4497 "How to set up an annual view or month view in ‘bsConfig’ ？"
The old version has this setting, but how to set it in the new version?

[2018-07-13 08:07] Joklogh commented on #4457
Hi @emilgadzaev
Can you provide more information? Arrow is not rotating on click or is not shown at all.
Image of the situation would be great

[2018-07-13 08:11] Joklogh commented on #4451
Hi @pavinthan
Actually, you can provide custom class to the wrapping `div` of the date picker using `bsConfig`.
Example : `[bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }"`
In the example I am assigning class `theme-red` to the div element via `containerClass` property.

[2018-07-13 08:20] Joklogh commented on #4423
Hi @javvadisreenu
I don't understand your issue. Currently there is no dialog model in ngx-bootstrap's components.
Can you post here some example code, where is your issue?

[2018-07-13 08:25] Joklogh commented on #4419
Hi @abbymrs
Did you set `container` property to `body`? When you are using styles that have `overflow : hidden`, this can  fix issue.
Please let me know if it is solution

[2018-07-13 08:33] Joklogh commented on #4373
Hi @dolphinsd
You can try to use `*ngIf` instead of `[hidden]` if you want to not attach tab into DOM. However if you need to attach the element into DOM try to add this line into component css :
`[hidden] {
  display: none !important;
}`
Let me know if, it solves your problem

[2018-07-13 08:36] pavinthan commented on #4451
@Joklogh How can we use it by condition, I mean how to use it for a specify date?

[2018-07-13 08:51] Joklogh commented on #3938
Hi @jagdishpatil222
You can reset values of the daterangepicker by two-way data binding.
Example : https://stackblitz.com/edit/angular-7ihmu8
Sorry for bad styling :) Let me know if this resolves your issue.

[2018-07-13 08:54] Joklogh commented on #4451
@pavinthan  You mean for specific date?

[2018-07-13 09:45] Joklogh commented on #4494
Hi @amolbs2106
Are using SystemJS or angular-cli?
Did you set up ngx-bootstrap according to the Getting Started section on the website?

[2018-07-13 09:48] Joklogh commented on #4493
Hi @sripalreddyadamala
All popovers will have empty title or only some?

[2018-07-13 10:02] pavinthan commented on #4451
@Joklogh Yes, is there are any way?

[2018-07-13 10:38] Joklogh commented on #4451
@pavinthan
Here is example. https://stackblitz.com/edit/angular-ngx-bootstrap-iptnje
Basically, you can bind object in template to `bsConfig` property, then if you change `containerClass` in that object whole Datepicker will reflect these changes. In example you can see how color can be changed from the template(clicking button) as well as from the controller (using `changeColor` function).
Color

[2018-07-13 10:51] Joklogh commented on #3938
Hi @jagdishpatil222
You can clear values by two-way data binding in template. Then if you want to clear values, simply assign to the variable `null`.
See example : https://stackblitz.com/edit/angular-ngx-bootstrap-gfz33k

[2018-07-13 13:29] dev1lmini commented on #4380
The same issue with when using dropdown, modal and datepicker.

@angular/cli  6.0.8
ngx-bootstrap 3.0.1

[2018-07-13 13:55] sripalreddyadamala commented on #4493
My requirements has few popovers to be titled. But when I leave title as empty wave tool throws critical errors for accessibility Since we are making AA complaint.

[2018-07-13 14:45] Joklogh commented on #4493
@sripalreddyadamala
Are you using `*ngFor` for looping popovers?

[2018-07-13 15:01] sripalreddyadamala commented on #4493
I mean we are using ng for for security questions labels. For username ,password,re-enter passowrd we are not using any loop. So basically you need to write  code in a way that if we do not have any title for popover then we  need to completely remove that title element from DOM So  that wave tool will not throw empty title as critcial issue .
FYI(I have raised another defect for popover):
popover

[2018-07-13 15:14] Joklogh commented on #4493
@sripalreddyadamala
I don't understand how the popover is inserted in template. By hand, you write popover where you need it? How is passed popover title? I will be glad for part of the template where is popover inserted in code not see console

[2018-07-13 15:41] sripalreddyadamala commented on #4493
![image](https://user-images.githubusercontent.com/17653691/42700328-66cacb38-8691-11e8-80d8-d3c25464f0cc.png)

![image](https://user-images.githubusercontent.com/17653691/42700535-0bfd1160-8692-11e8-907a-e7c6adc3e911.png)

[2018-07-13 16:02] Joklogh commented on #4493
@sripalreddyadamala
Here is example how you can remove title from DOM
https://stackblitz.com/edit/angular-a37mhs
If you don't understand how the code works, let me know.
I hope this will solve error.

[2018-07-13 18:28] sripalreddyadamala commented on #4493
Thanks Joklogh!
can we able to remove role="popover" Since this is not a valid role form w3c and our audit fails with axe and chrome plugin or do i need wait for the updated version so that you put a valid role in to popover

[2018-07-13 18:35] Joklogh commented on #4493
@sripalreddyadamala
I updated example, replace role selector with ordinary class selector.

[2018-07-14 05:32] pavinthan commented on #4451
@Joklogh OK in the example I need to change color to red in July 14 and 15 how can I do it?
for an example : We need to highlights July 14 and 15, because It's our offer days to book rooms in our hotel.

[2018-07-14 14:00] johnsmathew opened #4500 "Month selector selects wrong year when months from multiple years are displayed"
When in month selection view with displayMonths > 1, no matter which year calendar we choose the month from, always the year displayed in first calendar is selected.

### Issue reproduction
Choose any datepicker or daterangepicker with displayMonths > 1 (say, 2). Go to year selection and choose 2018. Since displayMonths is 2, month selection for both 2018 and 2019 will be displayed. Choose July fr

[2018-07-15 14:51] m1t0k opened #4502 "Add en-Ca locale"
Add en-Ca locale

[2018-07-15 15:16] amolbs2106 commented on #4494
Hi @Joklogh
 m using systemJS. Yes i have set up ngx-bootstrap according to getting started section.

Thanks

[2018-07-15 17:58] jordanluyke commented on #4494
Having same problem with v3

In my systemJS:
[code]

[2018-07-16 08:28] weijyewang commented on #3192
+1

[2018-07-16 09:34] harsimerkaur commented on #2334
@JanLoebel  added class modal-dialog-centered, but no effect. Which version of bootstrap does support this class?

[2018-07-16 09:58] JanLoebel commented on #2334
@harsimerkaur  I'm using version bootstrap 4.0.0.

[2018-07-16 12:29] harsimerkaur commented on #2334
@JanLoebel I am using version 3.3.7 and I am able to add class but neither modal-dialog-centered has any effect on modal nor any custom CSS does apply. I am using [ngx-bootstrap modal](https://valor-software.com/ngx-bootstrap/#/modals#service-component). Didn't find any solution on stackoverflow either.

[2018-07-16 12:38] JanLoebel commented on #2334
@harsimerkaur I'm using "ngx-bootstrap" in version 2.0.4 and bootstrap in version 4.0.0. When you want to apply custom css, be aware that it could be that you will have to wrap it in a `::ng-deep`.

[code]

Have you checked that the class `modal-dialog-centered` is applied in the DOM?

[2018-07-16 12:52] harsimerkaur commented on #2334
Yes class is added to modal, checked in DOM. I used

:host ::ng-deep

  .modal-dialog-centered
    {
      justify-content: center;
      align-items: center;
    }

and

:host >>>

  .modal-dialog-centered
    {
      justify-content: center;
      align-items: center;
    }

None worked.

[2018-07-16 13:02] fchiumeo commented on #2334
justify-content is flex prroperty
only bootstrap 4 has flex

[2018-07-16 13:12] grotup commented on #4380
+1

[2018-07-16 13:19] harsimerkaur commented on #2334
@fchiumeo It works when I add it in browser console directly. moreover no other CSS works,

[2018-07-16 13:36] harsimerkaur commented on #2334
@JanLoebel @fchiumeo Added CSS in project\src\styles.css and it worked. Thanks for help!

[2018-07-16 18:49] robeverett opened #4505 "[ts] Cannot find module 'node_modules/ngx-bootstrap/chronos/moment"
ngx-bootstrap 3.0.1
angular 6.0.3

[2018-07-16 19:04] robeverett commented on #4505
import * as moment from 'moment';

The app says, "cannot find module moment"
but it definitely exists in node_modules

[2018-07-17 09:29] theCrius commented on #749
+1 on this. The component is basically useless as it is.

Also, it was suggested again nearly 1 year ago: https://github.com/valor-software/ngx-bootstrap/issues/2335

[2018-07-17 09:29] theCrius commented on #2335
This has been suggested nearly one year ago and still is not supported.

[2018-07-17 11:47] mrjohnr commented on #2922
any chance so see a fix for that?

[2018-07-17 13:43] amali1025 commented on #844
This is the most annoying error I've ever encountered and I hate it

[2018-07-17 15:26] Vishesh-Gupta opened #4506 "Loop through object in typeahead. for and in are not parsed"
### Bug description

The bug that I am facing is not able to understand for in the token and same with in

Error
[code]

HTML
[code]

### Versions of ngx-bootstrap, Angular, and Bootstrap:
ngx-bootstrap: 3.0.1
Angular: 6.0.7
Bootstrap: 3

### Build system: Angular CLI, System.js, webpack, starter seed:

[2018-07-17 18:36] j3soon commented on #3075
For me is:
`.popover { pointer-events: none; }`

[2018-07-17 18:41] jatin-Maini commented on #2627
+1, need this PR soon

[2018-07-18 06:06] nkdweb opened #4508 "Show number of entries along with pagination"
### Description:

Do we have option of implementing show entries dropdown along with pagination as attached for your reference.

Please let me know if anyone implemented this before or is this an feature request.

![entries](https://user-images.githubusercontent.com/2375291/42862699-4a42f1d4-8a7e-11e8-82cc-daa7bf3f5907.JPG)

### Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 3.

[2018-07-18 09:09] adrienverge commented on #4443
I have created a fix at https://github.com/valor-software/ngx-bootstrap/pull/4509.

While waiting for review, you can apply the following patch to your repository: [ngx-bootstrap-datepicker-issue-4443.patch](https://github.com/valor-software/ngx-bootstrap/files/2205134/ngx-bootstrap-datepicker-issue-4443.patch.txt)
(I had to rename it to `.txt` to upload it on GitHub, but it's a `.patch`)

[2018-07-18 14:35] rkulinski commented on #4431
Yes. Second option is great. But IMO manual input should update calendar. Now we can have situation where value inside input is different than the one currently selected in datepicker -  which seems kind of 'buggy' behaviour.

[2018-07-19 11:09] ghost opened #4511 "Datepicker Header UI not justify"
StackBlitz: https://stackblitz.com/edit/angular-nsqjnf?file=src%2Fapp%2Fapp.component.html

Datepicker Header not justify

### Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 3.0.1

Angular: 6.0.0

Bootstrap: 4.0.0

### Build system: Angular CLI

[2018-07-19 17:45] felipevegners commented on #1698
@jechazelle it works for me, thanks!

[2018-07-19 20:09] rkulinski commented on #3698
I fully agree. It's kind of serious bug IMHO. If you 'tab out' of the input the datepicker doesn't hide. And having this kind of behaviour when loosing focus forces you to do not cool workarounds :(

[2018-07-19 21:07] rkulinski commented on #3251
This workaround is not so good (if you use tab to unfocus component stays there). What you could do is bind some method to blur event `(blur)=close($event)`. Then in `close` method you could check if `event.relatedTarget` exists and if you're not clicking buttons inside datepicker:
[code]
So, when you click on datapicker `event.relatedTarget` value is null - you let datapicker itself to handle  cl

[2018-07-19 22:22] cmckni3 opened #4513 "Use ng cli workspace to build library?"
### Bug description or feature request:

Use Angular cli to build the library and use the underlying `ng-packagr` (Angular cli integrates with this).

[code]

### Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 3.0.1

Angular: 6.0.8

Bootstrap: 4.1.1

### Build system: Angular CLI, System.js, webpack, starter seed:

Angular cli

[2018-07-19 23:37] styxiak commented on #4494
Integration with angular seed. Angular version 6:
[code]

[2018-07-20 06:53] davyvanlaere commented on #4157
Just noticed that when selecting dates with the datepicker, a time is returned. The datepicker only deals with date. In my opinion, it should always return a zero value for time.

[2018-07-20 09:45] khsazz commented on #4385
Same problem here, tried the basic example with hard-coded string array.
[edit] Downgrading worked

[2018-07-20 11:06] exhtml commented on #749
+1

[2018-07-20 11:07] exhtml commented on #2335
+1

[2018-07-20 17:14] juniormayhe commented on #4389
if angular <6:
[code]

[2018-07-21 07:25] Stan92 opened #4515 "Tab with reactive forms -> Select event triggered on doubleclick"
Hi,
I notice a strange behavior while using a reactive form with the tab component.
If you double click on a textbox field inside this form, the tabset select event is triggered.

I use ngx-bootstrap 3.0.1 & Angular 6.0

I didn't notice the behavior using Angular 5.0 and ngx-bootstrap 2.0.5

[2018-07-21 16:43] bandhavya commented on #811
customClass is not working either on datepicker or bsdatepicker.

[2018-07-21 17:30] Joklogh commented on #4451
@pavinthan
Change condition on line 28 to this : `(event.getDate() == 15 || event.getDate() == 14) && event.getMonth() == 6` It will apply red theme if you choose July 14 or 15

[2018-07-21 17:34] Joklogh commented on #4493
@sripalreddyadamala
Did it help?

[2018-07-22 13:46] sripalreddyadamala commented on #4493
Thank you sir your solution worked for me. Now my website is 100% accessible with popover fix.

[2018-07-22 13:47] #4493 closed, assigned to nobody

[2018-07-23 03:26] prindacerk opened #4516 "Customize Placement of Nav and Content for Tabs"
There's no way to customize the placement of the nav and the tabs. I can do that using Bootstrap but not using ngx-bootstrap.

I have attached an example of how I wish I could render the nav-tabs to appear. I can do this in Bootstrap but ngx-bootstrap can't do it because it renders the entire nav-tabs on it's own and bind it tightly with the tab-content inside the tabset.

<img width="843" alt="ta

[2018-07-23 07:22] Joklogh commented on #4451
@pavinthan
Did it help?

[2018-07-23 07:48] Joklogh commented on #4481
Hi @learnuser521
I implemented this feature here.
https://stackblitz.com/edit/ngx-bootstrap-gjwp8r
Basically, I call `scrollTo` after dropdown is being closed in order to reset scroll position.
I hope this will help to fix your issue, let me know

[2018-07-23 09:08] sergamers opened #4517 "DropDown auto close doesn't work"
[code]
When i use that i can't close the dropdown when press ESC

[2018-07-23 10:04] teland94 commented on #2627
+1

[2018-07-23 11:59] pavinthan commented on #4451
@Joklogh No, I need to configure the color as well

[2018-07-23 12:27] learnuser521 commented on #4481
This works. Thank you @Joklogh

[2018-07-23 12:27] #4481 closed, assigned to nobody

[2018-07-23 14:00] valorkin commented on #4513
@cmckni3 could work, can you do a PR?
BUT file structure should not change
thanks in advance

[2018-07-23 16:21] cmckni3 commented on #4513
File structure at the top level would change some. The contents of `src` would go under `projects/ngx-bootstrap` for example.

[2018-07-23 16:22] cmckni3 commented on #4513
I can put together a PR for some feedback though.

[2018-07-23 18:04] ronlawrence3 commented on #4380
Anyone found a workaround? We are dead in the water on this one.

[2018-07-23 18:11] valorkin commented on #4380
We are trying to use ng packagr

[2018-07-23 18:38] felipesuazo commented on #4515
We are having the same behavior here

[2018-07-23 19:24] boazrymland commented on #3075
Be advised: in at least my version of AngularJS Material, you'll need to use
`{ pointer-events: none !important; }`

since the rendered tooltip has 'style' attribute on it which will override simple usage recommended above.

[2018-07-24 05:43] yashwp opened #4519 "how to select a year instead of dates?"
Instead of showing dates in a calendar and selecting it, how can I show only years and make the user select the 1 year of his/her choice instead of date?

[2018-07-24 12:22] RA344710 opened #4520 "how do implement wizard in ngx bootstrap. like https://maiyaporn.github.io/angular2-wizard-demo/"
Before opening an issue, please search for duplicates (opened and closed)
https://github.com/valor-software/ngx-bootstrap/issues
There's no need to open an issue here if you want to ask general question, use [StackOverflow](https://stackoverflow.com/questions/tagged/ngx-bootstrap) or [Slack](https://ngx-slack.herokuapp.com/) instead

### Bug description or feature request:

### Plunker/StackBlitz

[2018-07-24 18:04] elvispdosreis opened #4523 "bsDaterangepicker date string format"
I would like to know how do I make a link with reactive form using a date string and get the same speak as string, today I can only work by creating an object of type date

that.filter = that.fb.group({
            range: [['2018-07-01', '2018-08-01']]
});

### Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 3.0.1

Angular: 6.0.9

Bootstrap: 3.3.7

### Build system: Angular CLI,

[2018-07-25 03:30] zahasoftware commented on #3825
Important! in app.module.ts (For ILyaSurmay answer)

`
@NgModule({
  declarations: [...],
  imports: [
  ...
  ],
  entryComponents: [ModalContentComponent], //Important!
  bootstrap: [...]
})

`

If you just get a black screen.

[2018-07-25 08:34] manmohanagarwal4 commented on #2809
If you are using Date Range Picker then instead of "dateInputFormat" you should use _**"rangeInputFormat"**_  in [bsConfig] .
I had fixed by this option .
Thanks .

[2018-07-25 15:04] Oowaay commented on #4213
Nothing new about this issue ?

[2018-07-26 05:35] bandhavya commented on #2848
any update on this ?
 when will customClass option be available on the bsDatepicker ?

[2018-07-26 06:53] liuyiffan commented on #3916
@koolhuman try this way. "mouseenter:mouseleave mouseenter:click"

[2018-07-26 07:53] lupuvlad2000 commented on #2627
+1

[2018-07-26 21:01] Kapperchino opened #4526 "How do I set size for the time picker?"
I couldn't set size with css and there isn't a parameter for size in the component.

[2018-07-27 09:23] makeitbetter-su opened #4528 "Cannot select a month in datepicker if first day is disabled"
### Bug description:

If the first date of month is a disabled date (e.g. a day off ), then it is not possible to pick a whole month from the monthpicker.

**Expected:**
Month is available if at least one day is available.

**reproduce**:
https://ngx-bootstrap-rntbw1.stackblitz.io/

### Versions:

ngx-bootstrap: 2.0.5
Angular: 4.4.7
Bootstrap: 3

### Build system:

webpack

[2018-07-27 15:01] labrada83 commented on #1281
Any updates on this?

[2018-07-27 16:12] dsmileym4 commented on #4299
I don't know if this is related in some way but when I specify a delay in the tooltip directive line 224 throws the error: "timer is not defined": `var _timer_1 = timer(this.delay).subscribe(function () {`. the `timer` variable is set using an import: `import { timer } from 'rxjs';`. I get no errors when I compile but I can't use the delay attribute. I'm using angular 5.2. Will try upgrading to 6.

[2018-07-27 17:16] igorcemim opened #4529 "Value of bsDaterangepicker is inconsistent"
The value of bsDaterangepicker is inconsistent.

Value vary based on user input:
- **No input:** `null`
- **Invalid input:** `[null]`
- **Invalid input with hypen separator:** `[null, null]`
- **Valid date and invalid date with hypen separator:** `[Date, null]`
- **Invalid date and valid date with hypen separator:** `[null, Date]`

**Suggestion:** keep only `null` or [Date, Date] values, since mul

[2018-07-28 16:01] suparnavg commented on #4487
Any update on this issue? datepicker used to allow setting ISO string as the ngModel value.. why has this been changed? Requires an unnecessary rewrite to instantiate the date object..

[2018-07-30 01:54] zahasoftware commented on #801
Another alternative https://material.angular.io/components/expansion/overview

[2018-07-30 09:23] mishalmsb commented on #2627
+1

[2018-07-30 10:58] dsatpute commented on #2627
+1

[2018-07-30 11:36] phil123456 commented on #694
changing the tab also does not update the variable, is double binding supported?

[2018-07-30 14:22] sanguine-my-brother opened #4531 "Ability to disable certain days of the week."
### feature request:

Ability to disable certain days of the week.

[2018-07-30 14:22] sanguine-my-brother commented on #4531
See pull request #4491

[2018-07-30 15:43] WissCoast commented on #2407
I found an even easier way to do this for ng bootstrap modals in cases where you call a function from inside the modal
`<ng-template #content let-c="close" let-d="dismiss">
    <button (click)="myFunction(c)"> </button>
</ng-template>
`

TypeScript code for the component
`
    myFunction(callback) {
        callback();
    }
`
This solution worked for me and is very simple

[2018-07-30 17:31] sulco opened #4532 "Angular Schematics support"
This is a feature request to have a possibility to run `ng add ngx-bootstrap` that would
- "npm install" the module (no big gain here)
- and add the style link to index.html (so developers don't need to find & copy it by hand)

[2018-07-30 17:31] sulco commented on #4532
I've prepared this kind of solution for other projects already so I'll be glad to help with this if you are opened to such contribution.

[2018-07-30 21:36] richflee commented on #2354
@ChBernat as far as I can tell, this approach doesn't work for `@Ouput` though.

e.g.
this.bsModalRef.content.onSubmitClicked = this.myFunction();

[2018-07-30 21:45] richflee commented on #2354
FYI I managed to get this working for `@Output`

E.g. if you have an `@Ouput: dismissBtnClicked`

`this.bsModalRef.content.dismissBtnClicked.subscribe(this.hideModal.bind(this));`

[2018-07-31 03:09] stormit-vn commented on #4485
We also interesting if this feature is added. Basically, a user can able to select any date in the picker unless it is disabled

[2018-07-31 08:02] VitaliyKim commented on #3192
+1

[2018-08-01 00:53] nvuhung commented on #1819
Hello, any update for this issue? Could you guys give me the solution for this :(

[2018-08-01 09:44] tvbishan commented on #3192
Any updates on this? @valorkin @IlyaSurmay

[2018-08-01 19:41] rodrigoic23 commented on #3838
Hello, any update on this?

[2018-08-01 20:46] masonwheeler commented on #2993
This isn't just limited to popups; it seems to affect all scrolling.  I've got a scenario where opening a `ModalDirective` adds over 30 handlers to the window's `scroll` event, which don't get removed when you close the modal, causing severe lag when scrolling.

They do get removed when navigating away from the page, but until that point, we have what ought to be considered a resource leak.  If th

[2018-08-02 05:15] ankurraiyani commented on #4431
Yes we really need the second option as soon as possible. Also it should only allow digits.

[2018-08-02 11:45] Ssuri013 opened #4535 "mgechev/angular-seed Can't resolve all parameters for e"
### Bug description or feature request:
https://github.com/valor-software/ngx-bootstrap/blob/development/docs/getting-started/angular-seed.md
this procedure doesnt seem to work.

### Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: ^3.0.1

Angular: 6.1

Bootstrap: 4.1.3

### Build system: ,System.js, :
The document was follwed on latest angular-seed by mgechev for angular 6.
![sc

[2018-08-02 13:53] Ssuri013 commented on #4380
+1

[2018-08-03 06:16] anandagarwal1 commented on #4385
I have resolve this error by upgrading Rxjs to  "^6.2.1" also added  "rxjs-compat" : "^6.2.1"

[2018-08-03 07:07] askarby commented on #3978
I tried applying the steps above, and the error did change (although didn't go away).

The error that I'm now facing is:
[code]

[2018-08-03 09:11] ugurkoysuren commented on #2646
@IlyaSurmay : Hey Ilya,

is there anything similar to the "NgbModalRef" in ngx-bootstrap. I'm trying to migrate from ng-bootstrap to ngx-bootstrap.

Thanks in advance.

[2018-08-03 12:12] fchiumeo commented on #2646
https://valor-software.com/ngx-bootstrap/#/modals#bs-modal-ref

[2018-08-03 16:23] randallmeeker commented on #4413
https://github.com/angular/angular-cli/issues/7200

[2018-08-03 16:24] randallmeeker commented on #4376
https://github.com/angular/angular-cli/issues/7200

[2018-08-03 16:25] randallmeeker commented on #3962
https://github.com/angular/angular-cli/issues/7200

[2018-08-03 18:55] luisfpg commented on #2891
I've got the same issue using Angular 6.1.1 and ngx-bootstrap 3.0.1 with Bootstrap 4.
Here's a screenshot:
![image](https://user-images.githubusercontent.com/1183737/43660453-6f617314-9735-11e8-85d1-8e38b4a272a7.png)
And here's the template code:
[code]
There's no custom style at all.

Please, reopen the issue.

[2018-08-03 19:00] luisfpg commented on #2891
BTW, if I add the following style, it works again:
[code]

I see this previous comment:

will be fixed shortly

Well, it seems translateY should never be added at all!

[2018-08-04 09:01] musman92 opened #4536 "component as a modal how to manage size small/large/fulls creen"
Before opening an issue, please search for duplicates (opened and closed)
https://github.com/valor-software/ngx-bootstrap/issues
There's no need to open an issue here if you want to ask general question, use [StackOverflow](https://stackoverflow.com/questions/tagged/ngx-bootstrap) or [Slack](https://ngx-slack.herokuapp.com/) instead

### Bug description or feature request:
did not find any options

[2018-08-04 09:08] errolgr commented on #4380
+1

[2018-08-05 12:54] KellyVillalobos commented on #1707
@mechu awesome!! couldn't figure out how to target a class created after compilation in Angular. Your solution hit the spot. Now I know how to do it. 🙌🏻

[2018-08-06 05:14] PMahern commented on #4380
For anyone looking for a temporary workaround I used rollup to generate a new UMD file that I then had my systemjs config point to. It seems to work.  I figured I would just keep this file in my repo until the one in ngx-bootstap is fixed.

Here's the rollup config file I used.  You'll need to install the rollup and rollup-plugin-local-resolve packages.

[code]

[2018-08-06 08:21] aks1994 opened #4537 "Outside click to dismiss dropdown does not work on iOS (Safari or Chrome) on physical device."
### Bug description or feature request:

Outside click (tap) to dismiss dropdown does not work on iOS (Safari or Chrome) on physical device.

In regular bootstrap, outside tap to dismiss works fine.

### Plunker/StackBlitz that reproduces the issue:

Issue can be seen on demo itself: https://valor-software.com/ngx-bootstrap/#/dropdowns

[2018-08-06 08:54] dottodot commented on #4485
Yes please add this.

[2018-08-06 15:25] gspeedtech opened #4538 "node-modules/ngx-bootstrap/datepicker.js 404 Not Found error"
I have successfully implemented ngx-bootstrap/datepicker in an angular 5 app. But when I try to use the same component and same configuration in myAsp.Net MVC withAngular app, I get the following error.

Error: Fetch error: 404 Not Found
  Instantiating http://localhost:xxxxx/node_modules/ngx-bootstrap/datepicker.js

It appears to be trying to find datepicker.js which does not exist.

I have tried

[2018-08-06 17:13] SergDi commented on #3440
for myself, I have created a workaround: **this._picker._config.isUTC**
[code]

[2018-08-06 19:32] ceyon opened #4539 "range Input Format"
I use the syntax below on a input filed. The date is presented correctly.

 08-01-20158
[bsConfig]="{ rangeInputFormat : 'MM-DD-YYYY'}"

When I check the Value by binding it i get and output of "DateOfSerice":["2018-08-01T:19:2258.000z"]

Is there a way to fix this so I just get the date output. I read through the comments etc. but can't seem to find a solution. Thanks any help is appreciated.

##

[2018-08-07 07:39] Parnianmhr commented on #2290
@marcosdimitrio Your answer is perfect, thanks. But how should I return a Boolean instead of string to use it in my  canDeactivate guard function? Any Idea?

[2018-08-07 09:05] pgarzina commented on #1933
@nesinervink thanks, works great! I have bunch of items on which the dropdown needs to close and some on which doesnt.

[2018-08-07 10:56] zymr-keshav commented on #2290
currently returning a boolean actually, check `this.action.emit(true);`

[2018-08-07 12:54] rivanitskiy commented on #3132
I have the same issue. Do you have any forecasts when it will be fixed.
**Environment versions**
Angular: `6.0.5`
ngx-bootsrap: `3.0.1`
bootstrap: `4.1.1`

[2018-08-07 14:08] arunshivar commented on #466
How to hide titles on hover on start itmes?

[2018-08-07 16:19] HardikDeveloper commented on #2407
**step1** import angular-custom-modal
import{ModalComponent}from 'angular-custom-modal'

**step 2** create Public method
export class DemoComponent implements OnInit {
 @ViewChild('ModelId') public modal: ModalComponent;
}

**Step 3** Use Like This
this.modal.close();

[2018-08-07 17:23] maximepvrt commented on #4487
same problem

[2018-08-07 17:34] reddevilzee commented on #4431
+1 for clear button

[2018-08-08 12:34] jscharett opened #4540 "Add Datepicker auto placement option"
The Datepicker has a placement option which can be set to one of 4 possibilities: top, bottom, left, right.  It would be nice to have a fifth option, auto, in which the component picks the "best" of the previous 4.  This would allow the component to be more flexible without having to set it for each use case.

For example, in our application, we built a component for use with the @angular2-json-sc

[2018-08-08 15:10] seanforyou23 commented on #3755
Had same issue in version `^3.0.0`, @clabough recommendation fixed it for me.

[2018-08-08 18:21] oscarnascimento commented on #3192
+1

[2018-08-09 07:04] Kfir-Miller commented on #2627
+1

[2018-08-09 07:08] petia83 commented on #2627
+1

[2018-08-09 11:02] frostbtn commented on #4511
It's because there is not whitespace between the buttons by default since Angular 6. They have to put `&ngsp;` between `<button>`s or preserve whitespace in `bs-datepicker-navigation-view` component (`preserveWhitespaces: true` meta).

I haven't found any good solution for this problem myself other than a css hack. Put it just about anywhere as it adds a global style

[code]

see https://stackblit

[2018-08-09 11:35] JoepKockelkorn commented on #4515
Yep, I can confirm that

[2018-08-09 15:00] artolshansky commented on #4536
@musman92 you can use bootstrap classes for modal-dialog: `modal-lg` - large modal, `modal-sm` - small modal

[2018-08-09 16:44] Axinet commented on #3802
Looks like the problem is [in line 158](https://github.com/valor-software/ngx-bootstrap/blob/development/src/typeahead/typeahead.directive.ts#L158) where even if typeahead is an Observable (this.typeahead.constructor.name returns Observable) the condition in the if returns false so typeaheadasync **is not set to true**.
After forcing [typeaheadasync]="true" in template typeahead started working. P

[2018-08-09 17:10] sharma-sahil commented on #4249
I am also facing the same problem. Is there any solution for this?

[2018-08-09 18:38] majorsaaam commented on #1698
@jechazelle Also works for me. Thanks.

It's extremely inconvenient to be unable to style tabs as easy as the documentation suggests. Why this isn't considered a bug?

[2018-08-09 18:39] RogelioCornejo opened #4543 "TypeError: Ce.getComputedStyle(...) is null Firefox"
**TypeError: Ce.getComputedStyle(...) is null**

This is happening only in firefox and is related with the following bugs:

https://bugzilla.mozilla.org/show_bug.cgi?id=548397

https://bugzilla.mozilla.org/show_bug.cgi?id=1467722

This is happening with the ModalDirective when the modal component is hidden, the show action is going to fail if the modal is inside an iFrame and the modal is not visi

[2018-08-09 18:52] RogelioCornejo commented on #4543
Some more details:

ERROR TypeError: Ce.getComputedStyle(...) is null
Stack trace:
Me</e.prototype.setScrollbar@URL
Me</e.prototype.show@URL

[2018-08-09 19:19] mmabraham commented on #3310
@DanielKucal adding `container="body"` helped for me. The tooltips are still a few pixels off but much better than before.

[2018-08-10 03:40] BBenQi commented on #3542
@Kurara thanks, i have soved my issue,by changing the tag <template> for <ng-template>

[2018-08-10 03:53] liuyiffan opened #4544 "Element stay hover style when mouse leave it (Microsoft Edge)"
I found that it is a problem caused by ngx-bootstrap with Microsoft Edge.
I use the pseudo-class (:hover) to implement hover style in element, and use tooltip in ngx-bootstrap.
Steps:
1. Move the mouse into the ELEMENT, such as an icon
2. Leave the mouse out of the ELEMENT in same direction of the tooltip(If the tooltip is lying on the bottom of the ELEMENT, move the mouse towards bottom)
3. The E

[2018-08-10 07:59] TheCodeOne commented on #2627
+1

[2018-08-10 10:06] ParisZX commented on #3838
Hi, there is a pure css workaround to the collapse animation. I'm using something like this:
[code]

[2018-08-10 14:45] lterfloth commented on #3256
Any information on this yet?

[2018-08-10 14:49] Getz85 opened #4545 "Dropup menu with Bootstrap 4 doesn't open next to the button"
Using dropup="true" on a dropdown component, the menu is not displayed near the button:

![dropup](https://user-images.githubusercontent.com/5981479/43964513-455f353c-9cbd-11e8-9f2d-77c3896dc7d2.jpg)

https://stackblitz.com/edit/ngx-bootstrap-yrz4qu

ngx-bootstrap: 3.0.1
Angular: 6.1.2
Bootstrap: 4.1.3

[2018-08-12 00:07] musman92 commented on #4536
@olshansky  i found a solution for that.

`const initialState = {
      id: 12312,
      type: "test",
      class: "modal-lg"
    };
    this.bsModalRef = this.modalService.show(AbcComponent, initialState);`
now when modal appear it contain class modal-lg, so you can add as many classes as you want

[2018-08-12 00:07] #4536 closed, assigned to nobody

[2018-08-13 04:43] nivajshakya commented on #2736
$(function() {
    $("body").delegate(".datepicker", "focusin", function(){
        $(this).datepicker();
    });
});

[2018-08-13 05:51] Ukmandal commented on #3513
Getting Invalid date while editing the reactive form ? can anyone have solution about this.

                <input type="text" class="form-control" placeholder="day/month/year" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" formControlName="Mdate" />
                <input type="text" class="form-control" placeholder="day/month/year" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM

[2018-08-13 07:36] Getz85 commented on #4545
[This comment](https://github.com/valor-software/ngx-bootstrap/issues/2891#issuecomment-410346819) provide a solution:

[code]

[2018-08-14 21:29] TannerPlauche opened #4548 "Add onDrag listener to Sortable parent element"
Before opening an issue, please search for duplicates (opened and closed)
https://github.com/valor-software/ngx-bootstrap/issues
There's no need to open an issue here if you want to ask general question, use [StackOverflow](https://stackoverflow.com/questions/tagged/ngx-bootstrap) or [Slack](https://ngx-slack.herokuapp.com/) instead

## User should be able drag an item to the list parent element.

[2018-08-14 22:12] skyzito commented on #1698
Works for me too.

[2018-08-15 03:19] ghost commented on #4511
thank you, this work for me

[2018-08-15 03:19] #4511 closed, assigned to nobody

[2018-08-15 03:46] peterpobe commented on #2627
+1

[2018-08-15 13:02] ghost commented on #3825
I am dealing with the same problem but I am unable to find it's solution. Can anyone give me a short example?

[2018-08-15 13:57] rafalkasa opened #4549 "Do you know why days disappearing randomly from the calendar?"
### Bug description or feature request:

I have a problem with datapicker control because some dates disappearing randomly.
Below you will see examples from your site?

**1. First example show missing 19th December 2021**
![image](https://user-images.githubusercontent.com/19885116/44151608-bffc1e94-a0ab-11e8-8e7f-3d7712356984.png)

**2. Second example show missing 4th December 2021**
![image](http

[2018-08-15 15:57] abhishekdgeek commented on #3825
Well just do not use ng-template and it will work!
This issue was actually my lack on knowledge of Angular.

[2018-08-15 21:20] paulotokimatu commented on #4549
Hmm, I checked here:
https://valor-software.com/ngx-bootstrap/#/datepicker

But even after refreshing and opening different datepickers many times I wasn't able to replicate the issue. I am using the latest version of Firefox.

Can you give more details about how to replicate it?

[2018-08-16 06:19] claboran commented on #823
+1 Any news here? Same problem in my project.

[2018-08-16 10:32] MarkJAmes1217 commented on #1400
Any updates ?

[2018-08-16 17:11] tucq88 commented on #4516
+1 . Facing similar problem. Was about to write my own tabs in order to solve this. It's awesome If it could be support by ngx :+1:

[2018-08-16 17:13] tucq88 commented on #4356
This is awesome! +1000

[2018-08-17 05:32] Ram12393 opened #4551 "How to pick the Date and Time at the same time"
I'm using  `ngx-bootstrap` to get the Datepicker using below link

[https://valor-software.com/ngx-bootstrap/#/datepicker](url) it works fine to get the datepicker. But I want to get the date and time using `ngx-bootstrap` . Is there any way to do this.?

[2018-08-17 11:34] arunkumar200695 opened #4552 "Angular 6 AOT Build issue"
`ERROR in : "let-" is only supported on ng-template elements. ("
  </thead>
  <tbody>
    <template ngFor [ngForOf]="rows" [ERROR ->]let-rowz="$implicit" let-index="i
ndex">
      <tr *ngIf="!(datePicker.onlyCurrentMonth && rowz[0].sec")
: "let-" is only supported on ng-template elements. ("
  </thead>
  <tbody>
    <template ngFor [ngForOf]="rows" let-rowz="$implicit" [ERROR ->]let-index="i
ndex"

[2018-08-17 11:51] fchiumeo commented on #4552
what version it's used ?

[2018-08-17 11:58] arunkumar200695 commented on #4552
i'am using ngx-bootstrap@3.0.1 with Angular 6

[2018-08-17 12:30] fchiumeo commented on #4552
what file?

[2018-08-17 21:20] john-md86 opened #4554 "An error is generated while running ng build --prod"
### Bug description or feature request:
An error is generated by running ng build --prod, which refers to the Tabs component. The line that gives error in my code is equivalent to 2 in the stackblitz.

![image](https://user-images.githubusercontent.com/29717874/44289335-b222d000-a241-11e8-9473-abab25097096.png)

![image](https://user-images.githubusercontent.com/29717874/44289305-93bcd480-a241-11e

[2018-08-18 00:07] fchiumeo commented on #4554
filterBy need 2 arguments,only 1 is provide

[2018-08-18 00:10] john-md86 commented on #4554
Sorry... my bad.

[2018-08-18 00:10] #4554 closed, assigned to nobody

[2018-08-18 02:38] MarkJAmes1217 opened #4555 "MODAL ( MOBILE BACK )"
I m expecting that the modal will be close  if i tap the back button in my mobile

any solutions for this issue.

[2018-08-18 11:34] Darkeye9 commented on #1716
Another workaround, (and it's just more logical) is to re-create the array each time you want to modify it. Replacing the reference triggers the bs-sortable component refresh mechanism.
[code]

[2018-08-18 21:06] EduardoRicSan commented on #4385
I'm doing the Shine project from Rails, Angular, Postgres and Bootstrap 2nd Edition but when I installed angular (v6) I run "rails s" and "bin/webpack-dev-server" I got it an error (Object is not a function). So, someone can help me! Please respond me to give more details and code

[2018-08-18 21:41] webdevan commented on #4385
@EduardoRicSan you need to use compatible versions. Try Ng 6.x with rxjs 6.x and ngx-bootstrap 3.x... alternatively use Ng 5.x with rxjs 5.x and ngx-bootstrap 2.x.

[2018-08-18 21:46] EduardoRicSan commented on #4385
Thanks !! I Will try it!

El sáb., 18 de ago. de 2018 4:41 PM, webdevan <notifications@github.com>
escribió:

[2018-08-20 11:40] FrancescoBorzi commented on #3252
@valorkin unfortunately I still get a similar error every time I set `es6` as `target` in `tsconfig.json` AND I use `--prod` build.

[2018-08-20 12:18] Domainv opened #4557 "Doc(typeahead): wrong filtering"
Demo
https://valor-software.com/ngx-bootstrap/#/typeahead#async-data
Alaska missed in the list
![screenshot from 2018-08-20 15-14-33](https://user-images.githubusercontent.com/14885427/44339981-0faa5d00-a48c-11e8-82ca-0558bca00bad.png)

[2018-08-20 12:19] FrancescoBorzi commented on #4428
I can confirm this issue

[2018-08-20 12:20] FrancescoBorzi commented on #3134
might be related to https://github.com/valor-software/ngx-bootstrap/issues/4428

[2018-08-20 12:20] FrancescoBorzi commented on #3252
might be related to: https://github.com/valor-software/ngx-bootstrap/issues/4428

[2018-08-20 12:23] FrancescoBorzi commented on #4428
Minimal reproduction of the issue:

[code]

[2018-08-20 13:35] FrancescoBorzi commented on #4428
I finally identified the issue: we are trying to extend an es6 class (`BehaviorSubject`) from a es5 class (`MiniState`).

Compiling the library to es6 fixes the issue:

https://github.com/valor-software/ngx-bootstrap/pull/4558

[2018-08-20 18:41] rbrewington commented on #3968
Anything more I need to do to get this PR looked at? We'd really like to not depend on our forked project.

[2018-08-21 11:43] #4557 closed, assigned to Domainv

[2018-08-21 16:44] doczoidberg commented on #1974
this does not work with angular 6+

[2018-08-21 20:37] wtang3 commented on #4055
### Versions of ngx-bootstrap, Angular, and Bootstrap:
ngx-bootstrap: 3.0.1

Angular: 6.0.3

Bootstrap: 4.1.3

### Description:
Seeing similar issue, but control never gets disabled on the presentation side.

( note the disabled status of the form does set correctly as false/true.
ex: control.get('field').disabled; )

**example:**
control.get('field').disable();
control.get('field').enable();

**e

[2018-08-21 23:36] bartes opened #4560 "daterangepicker default month for second calendar is not always correct"
when setting min/max date range in the past by default we get unavailable month visible

stackblitz.com/edit/ngx-bootstrap-vyztmj

Current Behaviour :
By default current and next month are displayed

Expected:
By default current and previous (accessible) month should be displayed

so calendar for second datepicker should pick either next or previous month based on min/max values (it super fine to

[2018-08-22 04:47] gg-gg-v1 commented on #2369
@dafabulousteach Could you please let me know how did you solve this issue ?

Thanks !

[2018-08-22 06:49] MarkJAmes1217 commented on #4458
can you please tell me what exactly you want to do.

[2018-08-22 07:13] adros opened #4561 "ModalOptions#initialState - better type definition"
As I have found in one of the issues, `initialState` property of ModalOptions should be used to pass arguments to modal constructor.
But as long as the initialState has type Object, those properties cannot be read easily (e.g. I have to do type assertion `(options.initialState as any).myProp`).
I would suggest to change `Object` to indexable type like: `{ [key: string]: any }`

(https://www.typesc

[2018-08-22 07:55] MaxiPigna commented on #2243
I have the same problem, did you come up with a solution?

[2018-08-22 08:35] ashpuk commented on #2385
What if I need it to be of another size than just lg????

[2018-08-22 09:26] t-zander opened #4562 "Modal with custom width!"
Before opening an issue, please search for duplicates (opened and closed)
https://github.com/valor-software/ngx-bootstrap/issues
There's no need to open an issue here if you want to ask general question, use [StackOverflow](https://stackoverflow.com/questions/tagged/ngx-bootstrap) or [Slack](https://ngx-slack.herokuapp.com/) instead

### Bug description or feature request:
feature request
### Plun

[2018-08-22 09:46] FrancescoBorzi commented on #4055
The problem is [this](https://stackoverflow.com/questions/51963831/changedetectionstrategy-onpush-breaks-the-disabled-state-of-a-controlvalueaccess/51964062), the PR which solves the issue is [here](https://github.com/valor-software/ngx-bootstrap/pull/4563).

[2018-08-22 16:49] dafabulousteach commented on #2369
@b6791  Unfortunately, I never did solve this. But seeing that there has been a new release to ang-cli, there might be a fix. On the other hand, the problem is with ngx-bootstrap itself. Sorry I couldn't help.

[2018-08-22 18:55] nvmkpk opened #4564 "Weird things happen with pagination component when we set maxSize to a constant"
### Bug description or feature request:
Upon debugging, I found out that when maxSize is set to "1" in html, the property gets a string value and `startPage + this.maxSize - 1` results in `10` rather than `1` (in line 172 of pagination.component.js). This probably also applies for other inputs.

### Plunker/StackBlitz that reproduces the issue:
https://stackblitz.com/edit/ngx-bootstrap-qhornh

###

[2018-08-23 02:58] gg-gg-v1 commented on #2369
@dafabulousteach Anyway no problem thanks for the reply.

[2018-08-23 08:01] steveast commented on #4226
+1

[2018-08-23 09:12] mirkospagnol opened #4567 "ngx-bootstrap.umd and protractor"
Hi to all,

I had created an angular library with angular-cli v6 that include ngx-bootstrap 3.0.1 as a peerDependency
It work but if I run the e2e test with protractor I get the folloing error:

I/launcher - Running 1 instances of WebDriver
I/direct - Using ChromeDriver directly...
DevTools listening on ws://127.0.0.1:12281/devtools/browser/e174b42c-8db0-494a-aba0-4366d555a98b
**E/launcher - Error

[2018-08-23 14:50] mc-suchecki commented on #4485
I've added a sketch of PR - so far without a flag to turn this feature on/off. I'll try to move this feature forward if the core team accepts it. 😉

[2018-08-23 16:08] maurei commented on #1894
It is mentioned in https://github.com/valor-software/ngx-bootstrap/blob/development/src/typeahead/typeahead.directive.ts#L107 that it is on the todo-list. is there any update on this feature? I will try to implement it myself and make PR, couldn't find any work being done on this. Would like to be sure that there indeed is no development on this feature yet

[2018-08-24 12:47] 7185 commented on #4564
It makes sense because you're explicitly asking to use a string value, so you get
`1 + "1" - 1 = 11 - 1 = 10` and `2 + "1" - 1 = 21 - 1 = 20`.
To use the right type (number), you have to use `[maxSize]="1"` for your input instead of `maxSize="1"`.

[2018-08-24 12:55] superliza commented on #2701
@amorenew where to send the function call??

[2018-08-24 16:04] Labedlam commented on #1844
I was able to solve this by subscribing to the event property emitted by my component , within the function that has access to your modalRef.
[code]

[2018-08-24 18:40] bharatn commented on #1664
I am still seeing this issue i.e when a second child modal is added, backdrop component z-index is not changed or 2nd backdrop is not added. So the end result is you can see parent modal in clear.

You can also see this in your example http://valor-software.com/ngx-bootstrap/#/modals#service-nested. Just make the parent modal bigger than the child.

Think the root cause of this is the line below

[2018-08-24 20:03] chubbard commented on #3842
Yup this is killing my user base.  Please just add this.  What is the hold up here?

[2018-08-24 21:04] nvmkpk commented on #4564
Why not convert the string to number in code? It will be little more easier to use.

[2018-08-25 06:46] anjanasilva commented on #2487
@krooshua Without your setTimeout hack this seems to be still a pending issue . Thanks for the hack.

[2018-08-25 14:51] juniormayhe opened #4571 "Does btnRadio work when binding it to a boolean property?"
### Bug description or feature request:
Is it possible to bind ngx bootstrap radio to boolean property?

I cannot manage to make it work:

app.module.ts
[code]

customer.ts
[code]

app.component.ts
[code]
app.component.html
[code]

### Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 1.9.3
Angular: 4.3.6
Bootstrap: 3.3.7

also:
ngx-bootstrap: 3.0.1
Angular: 6.1.0
Bootstrap: 4.1.3

[2018-08-25 19:06] #4505 closed, assigned to nobody

[2018-08-26 05:55] amrboxit4me commented on #2701
@superliza I don't remember that code

[2018-08-26 18:57] gauravv7 commented on #2507
for "ngx-bootstrap": "^1.9.3":
import { BsModalRef } from 'ngx-bootstrap/modal/modal-options.class';

[2018-08-27 17:31] cauescuderi opened #4572 "DST date gets doubled on IOS"
### Bug description or feature request:

Steps to reproduce:
1- get an IOS device (ipad or iphone);
2- Change its timezone setting to (Sao Paulo/GMT-3 hours);
3- Navigate to the examples page of ngx-bootstrap/datepicker; ( https://valor-software.com/ngx-bootstrap/#/datepicker)
4- Open a calendar and navigate to november 3rd;
5- november 3rd appears twice on the calendar, pushing all subsequent dat

[2018-08-28 12:41] Callehabana opened #4573 "DatePicker mix/maxDate dynamically changed doesn't fire validator"
### Bug description or feature request:
When the minDate / maxDate in changed dynamically on the formControl that bears the bsDatePickerDirective, the validator doesn't update and keep "the bsDate - maxDate" error active even if I manually change the minDate/maxDate of my template reference of the input and update the validity of my formControl.

For example, the minDate is calculated from other i

[2018-08-29 06:56] amtprajapati commented on #3192
any alternative solution for this?

[2018-08-29 06:57] amtprajapati commented on #3192
+1

[2018-08-29 09:24] akash-potdar7 opened #4574 "popover with ONLY mouseenter. No effect on mouseleave event."
My requirement is to build a popover using ngx-bootstrap which shows up on mouse hover but shouldn't leave on mouse leave. And popover should disappear on outside click and say close btn from the template.
And also I want to add custom template in the popover.

[2018-08-29 10:16] sapariyaravi commented on #1983
have anyone found the solution for how to pass DOM element or ElementRef to dynamically created popover without using directive.
Because I am using the d3 chart and all the elements of d3 created dynamically.

[2018-08-29 10:23] Disane87 opened #4575 "Dropdown menu position at the viewport edge"
### Bug description or feature request:
We have a dropdown which is pretty near the right viewport border. We want to open the dropdown to the left side, to prevent an overflow over the right edge of the viewport. At the moment is looks like this:

![image](https://user-images.githubusercontent.com/956158/44781206-06a04680-ab84-11e8-92a3-b2a2bb4018cd.png)

With the given options there is no possib

[2018-08-29 13:26] ShivendraPratapSinghdev commented on #2164
do not define it in function format just pass show

[2018-08-29 13:26] ShivendraPratapSinghdev commented on #2164
this.lgModal.show

[2018-08-30 02:16] vn425282 commented on #1819
Hello, any update for this issue?

[2018-08-30 03:57] BrouWilliam commented on #4308
Uninstall the Node.js in Panel Control of Windws and Delete the pasta

C:\Users\Youuser\AppData\Roaming\npm-cache

After install the Node.js

[2018-08-30 06:54] shubhv1 commented on #273
@valorkin Do we anything like standalone timepicker on popup?
In my project, I am using ngx only and I don't want to install any other module.

[2018-08-30 13:53] Domainv commented on #2335
Closed as duplicate of #749

[2018-08-30 13:53] #2335 closed

[2018-08-30 18:28] BoykoAlex opened #4580 "SystemJS requires transpiler for `ngx-bootstrap.umd.js` file"
When I'm pointing SystemJS to the es5 (.umd.js) file i get an error telling me that systemJS needs transpiler to load the ngx.bootstrap js file. Isn't (.umd.js) file supposed to be es5 format already? I think it is.
Any chance we can strip the unnecessary comments from the compiled file?

I have tried minifying (`minify`) it and stripping all the comments off (`strip-comments`) but this results in

[2018-08-30 20:56] BoykoAlex commented on #4580
Im really having this issue: https://github.com/valor-software/ngx-bootstrap/issues/4494

[2018-08-30 20:56] #4580 closed, assigned to nobody

[2018-08-30 20:58] BoykoAlex commented on #4494
Any news on this? Workarounds?
My workaround was transpile the es2015 file with SystemJS Babel transpiler plugin. It worked great, but in Chrome in Windows Browser-Sync get confused by the transpiled file at runtime and keeps reloading the page forever...

[2018-08-31 11:57] lachskardinal commented on #2627
+1

[2018-08-31 15:16] mirkospagnol commented on #4567
Hi to all,

I solved this issue.
The error message is totally different from the reason of the error:
The problem was due to a reference to the /src folder, where I had put my the model of the entities.
So probably protractor was looking in the /dist folder ware is located the library I am developing.
If someone have the same error, don't hesitate to contact me

[2018-08-31 15:16] #4567 closed, assigned to nobody

[2018-08-31 17:48] cauescuderi commented on #4572
Addition to the error: it only happens when navigating with the arrows. If month is selected by its button, it doesn't occur.

[2018-09-02 02:26] archpollux commented on #4494
My solution was to have `@Inject` on all constructor parameters that needed to be injected.

[2018-09-02 17:12] fdm20 commented on #1458
I've added:

<script>window.__theme = 'bs4';</script>

However my dropdown still isn't working. :(

Any thoughts?

[2018-09-03 05:44] hemanth-sp opened #4585 "display the disabled dates and disable the date range picker if contains the disabled dates in between start and end range ??????????????"
**display the disabled dates** and **disable the date range picker if contains the disabled dates in between start and end range** .. is this feature available or do we need to override your component?

[2018-09-03 08:11] Joklogh commented on #4517
Hi @sergamers
Outside click is working fine?

[2018-09-03 08:23] bandhavya commented on #2848
any update ?

[2018-09-03 10:57] m-te commented on #596
Use InitialState to pass data:
https://ngx-universal.herokuapp.com/modals

In your showDetails method put
const initialState = {
//data you want to pass
data1 : foo
}

Then call show() to display modal and pass initial state as object
Something like
this.service.openComponentModal(modalComponentName, {initialState})

Then in your modal component, put the fields you passed

public data1;

And the d

[2018-09-03 11:59] #4247 closed

[2018-09-03 14:50] GustavoAmerico commented on #3192
+1

[2018-09-03 15:19] jagadeesh1492 commented on #4444
same issue

[2018-09-03 22:51] zaiddabaeen commented on #4545
This issue exists on Firefox for me. Chrome/Safari/Opera are all fine.
The comment about by @Getz85 does not resolve it.

[2018-09-04 07:31] Valery-vs commented on #4540
+1

[2018-09-04 13:38] igormap42 commented on #4552
The same issue with angular 5.
In my case it says that date-picker making problems (not sure what file exactly), but the error looks similar to @arunkumar200695's

[2018-09-04 13:40] khashashin commented on #2627
+1

[2018-09-04 14:03] sakor commented on #2627
+1

[2018-09-04 14:14] imranmajeed123 opened #4588 "add footer with custom dates selection"
Feature request:

We are using datepicker and daterangepicker components in our application and need to have footer with custom dates ( or actions buttons ) in it. It seems like someone started on similar functionality but did not get time to finish it. We would to add this functionality.

At existing file 'bs-datepicker-view.html' and following code snippet

    <div class="bs-datepicker-buttons"

[2018-09-04 16:01] subhashissarangi commented on #2522
Angular 6:

step 1: npm install ngx-bootstrap@4 --save
step 2: In ./src/styles.css
			@import '~bootstrap/dist/css/bootstrap.min.css';
			@import '~open-iconic/font/css/open-iconic-bootstrap.css';
step 3: in app.module.ts
 import { BsDatepickerModule } from 'ngx-bootstrap'; and addit to imports array
@NgModule({
  declarations: [ ],
imports: [
           BsDatepickerModule.forRoot()
]

[2018-09-04 19:01] hongminzhu commented on #4535
I have the exact same issue when attempting to upgrade to version 3.0.1, no issues with 2.0.5.

[2018-09-05 09:17] FrancescoBorzi opened #4591 "Issue when detecting Bootstrap version"
### Bug description or feature request:
In my project we currently use **Bootstrap 3**.
After upgrading my Angular version from `6.1.3` to `6.1.6` there is something wrong with the detection of the bootstrap version:

![image](https://user-images.githubusercontent.com/75517/45083860-1fb57400-b0fd-11e8-87c8-e3218bb67e27.png)

The issue is in `_guessBsVersion()` function when it checks `rect.top ===

[2018-09-05 09:40] alex-pokolenko commented on #2716
This was related to `z-index` in my case. If the imports are correct, check out the last nodes of the body as the datepicker will be attached there.

[2018-09-05 10:18] ricardosobrado commented on #3131
You can do something like:

const initialState = {
        title: 'Hello window',
      };

const modalConfig = {
        backdrop: true,
        ignoreBackdropClick: true,
      };

const modalParams = Object.assign({}, modalConfig, { initialState, class: 'modal-lg' });

this.modalService.show(template, modalParams);

[2018-09-05 15:41] obtdap commented on #4401
Same here :(, any solutions ?

[2018-09-05 21:48] sherlock1982 commented on #4428
Again I tried to get es6 working and I'm having the same issue.
The problem is in the bundle ngx-bootstrap.es2015.js.
BehaviorSubject is presented inside the bundle as ES5 function constructor and than MiniState extends it.
BehaviorSubject should be imported from rxjs just like all other things.
I think a had a pull request #4366 which fixed the build procedure so everything from rxjs will be impo

[2018-09-06 08:04] FrancescoBorzi commented on #4428
@sherlock1982 can you try https://github.com/valor-software/ngx-bootstrap/pull/4558  ?

[2018-09-06 12:14] jrpatel1016 commented on #2736
Hello All,

I am trying to manage ngx-date picker in modal popup at the time of scrolling it's not move with date text box and it's opening always bottom of date picker text box.

Please let me know their any solution for this? or may i make "auto" placement of date picker in modal popup???

![datepicker-bug](https://user-images.githubusercontent.com/43035455/45157126-d1d46500-b1fd-11e8-9d94-2b1c0

[2018-09-06 12:36] jrpatel1016 commented on #2626
Hello All,

I am trying to manage ngx-date picker in modal popup at the time of scrolling it's not move with date text box and it's opening always bottom of date picker text box.

Please let me know their any solution for this? or may i make "auto" placement of date picker in modal popup???

![datepicker-bug](https://user-images.githubusercontent.com/43035455/45157126-d1d46500-b1fd-11e8-9d94-2b1c0

[2018-09-06 13:33] Mathachew commented on #2629
A real world example would be great for this, because simply showing how to call the method, without giving any insight into how that method works, is useless. No parameter is passed to the method, so how exactly am I to take each object in the array and use it as I need? Like @underwnm noted, I need to concat two separate properties, sometimes it might be three. The only way I can resolve this is

[2018-09-06 14:08] Mathachew commented on #1352
Like others, I have multiple fields I would like to display or search against, and the async example seems like it is doing the work that for Typeahead when it should support multiple fields, search all fields via `Object.keys` when a field name is unspecified, or better yet, do both.

[2018-09-06 14:14] Mathachew commented on #1352
I'm with @jschank in that Typeahead should be more flexible in what is matched, displayed, and used for the selected value(s).

[2018-09-06 15:52] eliezerreis commented on #4380
@PMahern I have tried to use your workaround. When I run rollup -c using your config file as an example it generates a new ngx-boostrap.umg.js file. So far so good, however when I replace the ngx-bootstrap original file, the application starts to show up lots of different errors. How do you point systemjs to this new file umd file? I have noticed that .umd.min.js and umd.map still continuing on or

[2018-09-06 17:56] markleppke commented on #1933
+1

[2018-09-06 19:25] PMahern commented on #4380
@eliezerreis I don't remember having to do much to the systemjs config I already had aside from changing where it located the umd file since I included it in my repo for the time being.

I put the .umd.js file in a folder in my project named "bundle/ngx-bootstrap".  Here's the relevant parts of the systemjs config I have:

[code]

Are you replacing the file in the original npm package folder?  You

[2018-09-06 21:21] eliezerreis commented on #4487
+1 please fix it

[2018-09-06 23:03] KerriDevine commented on #4551
We have a similar requirement. One possible solution would be to extend the `Input() container` to support other types besides 'body'. Currently, we are struggling to find a way to style the two components in the same pop-up as such:

![image](https://user-images.githubusercontent.com/13853364/45189512-ff6dde00-b1fe-11e8-8a5f-3ccf58d4f493.png)

[2018-09-07 03:21] calldeludo opened #4596 "Choosing page after the content has changed."
Hello, i am using the ngx-bootstrap pagination and i have a question... there is any method to change the current page? i am using this paginate for view the content that i have in my Array, but i have a searcher that modify the Array... so if you are in the page 2, and then you search something, the content changes... and the page still on 2... and i would like that after search anything, it star

[2018-09-07 09:18] Ram12393 commented on #4551
@KerriDevine You have posted screenshot  of both time and Date. Is it working ?? can you share your piece of code???

[2018-09-07 09:19] Ram12393 commented on #4551
[https://www.npmjs.com/package/ng-pick-datetime](url) you can the both Date and Time in one section using this NPM

[2018-09-07 15:50] KerriDevine commented on #4551
@RamBM unfortunately that's just a mock-up of what I want it to look like. I haven't found a solution yet.

[2018-09-07 16:24] Mathachew commented on #1664
I am using a shared component that uses the modal service to create modals throughout my project and have several instances where a second modal will appear. Only one backdrop is created and the second modal appears on top of the first, which doesn't look good. Your very own examples show how the modals overlap each other instead of having separate backdrops with tweaked z-index values. This [ng-b

[2018-09-07 17:18] Ram12393 commented on #4551
Did you check previous URL which I provide above?

[2018-09-07 17:25] helix0r opened #4597 "Time differences in return value of datepicker"
### Bug description:

Hello,
I found an issue that the returned time of the datepicker varies whether I select a date of the first displayed month or change the month before. There is no example on stackblitz or whatever needed as you can check it on your own example page:
https://valor-software.com/ngx-bootstrap/#/datepicker#forms
Szenario 1: Pick 09/19/2018 for Wed Sep 19 2018 19:20:14 GMT+0200

[2018-09-07 21:53] FortinFred commented on #823
I have a tab component inspired by this.  I ended up sorting the tabs by id upon ceration.  Something in the lines of:

[code]

Just had to move the addTab invocation from the constructor to ngOnInit to get the id

I wonder if there's anything less intrusive to know the relative positions of the tabs... ElementRef ?

[2018-09-10 06:45] t-zander opened #4601 "Custom size of bs modal"
Before opening an issue, please search for duplicates (opened and closed)
https://github.com/valor-software/ngx-bootstrap/issues
There's no need to open an issue here if you want to ask general question, use [StackOverflow](https://stackoverflow.com/questions/tagged/ngx-bootstrap) or [Slack](https://ngx-slack.herokuapp.com/) instead

### Bug description or feature request:
How do I change size of

[2018-09-10 07:21] Disane87 commented on #4575
Any updates about this?

[2018-09-10 10:50] gaetanparis opened #4603 "Don't close daterangepicker after dates are selected"
Hi guys,

currently when i chosse two dates on my dateRangePicker, it closes immediately after i chose the second one.

Is there any way to let it open even when i selected two dates ?

Thank you !

[2018-09-10 18:15] viniciusvense commented on #2627
+1

[2018-09-10 20:17] huesoamz commented on #1599
the best solution to this is remove the class fade

[2018-09-10 23:23] fralewsmi commented on #3192
+1

[2018-09-11 06:12] gkaran commented on #4531
Also an alternative allowing for more control is #4602

[2018-09-11 17:07] jmichaud-ips commented on #4213
I'm having the same problem when I use the MMMM D YYYY format, when I manually type the month, and then leave, month is incremented by one. I have the same problem on a reactive template and template driven. I do NOT see the same problem on the documentation page. I even tried using the same format the documentation page is using for dateInputFormat: MMMM Do YYYY,h:mm:ss a.  I'm using ngx-bootstra

[2018-09-13 06:58] Mathachew opened #4608 "BsDatepicker not working in child components"
### Bug description or feature request:
I am piggy backing off of issue #3883, which was closed in March. In my project, I have separate layout files that are the parent components, so everything else gets treated as a child component. I'm relatively new to Angular 2+, so my terminology might be a little off, and I have not been able to figure out how the workaround posted in #3883 is actually use

[2018-09-13 18:24] Mathachew commented on #4608
I was able to finally get this working by adding `BsDatepickerModule` to the exports section of my SharedModule.

[2018-09-13 18:24] #4608 closed, assigned to nobody

[2018-09-14 01:26] JeepLavoie opened #4610 "Timepicker placeholder are not full lenght"
### Bug description or feature request:
Hi,

The placeholder of the timepicker are a little bit crop on the end of the "M" and "H"

I found this problem with my web app and when I go  on [Timepicker](https://valor-software.com/ngx-bootstrap/#/timepicker) we can see the crop on the last "M" of the minutes section.

A screenshot of my web app
![image](https://user-images.githubusercontent.com/397514

[2018-09-14 09:24] usuf13 commented on #4444
try add [typeaheadAsync]="true"

[2018-09-14 09:25] TarasKovalenko commented on #4444
@usuf13 work fine for me. Thanks.

[2018-09-14 10:22] bhawincodes commented on #3418
Is this feature in the latest version of ngx-bootstrap ?

[2018-09-14 11:14] bhawincodes commented on #3418
How soon can we see this feature ?

[2018-09-14 13:34] rojagadeesh commented on #2747
Could you please provide full working example

[2018-09-14 15:09] mdgilene commented on #2356
Any updates on this?

[2018-09-14 19:23] fernandacarvalho commented on #2627
+1

[2018-09-17 04:57] JiaLiPassion opened #4614 "[Test]Karma test dropdown menu items will not render correctly."
The reproduce repository is here.

https://github.com/JiaLiPassion/ngx-bootstrap-dropdown-test

1. ng serve, everything works.
2. ng test, the sub menu items will not be rendered.

### Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 3.0.1

Angular: 6.1.0

### Issue

1. The application can work without problems.
2. When I run `ng test`, the `dropdown menu items` will not be rende

[2018-09-17 08:39] shankarNalawade commented on #4389
Thanks solved.

[2018-09-17 13:46] francarmona commented on #2563
I need to filter by more than one property, same as @karthikv-26. I have read the documentation and I see that it is not possible right now. Is there any workaround for getting it? Thank you.

[2018-09-18 10:33] userAbhi commented on #2622
You can do this by changing dow:0 to dow:1 in
ngx-bootstrap\chronos\locale\locale.defaults.js. in file.

eg:
export var defaultLocaleWeek = {
//dow: 0
dow: 1,
// Sunday is the first day of the week.
doy: 6 // The week that contains Jan 1st is the first week of the year.
};

[2018-09-18 10:34] userAbhi commented on #4269
You can do this by changing dow:0 to dow:1 in
ngx-bootstrap\chronos\locale\locale.defaults.js. in file.

eg:
export var defaultLocaleWeek = {
//dow: 0
dow: 1,
// Sunday is the first day of the week.
doy: 6 // The week that contains Jan 1st is the first week of the year.
};

[2018-09-18 10:34] userAbhi commented on #2735
You can do this by changing dow:0 to dow:1 in
ngx-bootstrap\chronos\locale\locale.defaults.js. in file.

eg:
export var defaultLocaleWeek = {
//dow: 0
dow: 1,
// Sunday is the first day of the week.
doy: 6 // The week that contains Jan 1st is the first week of the year.
};

[2018-09-18 13:25] rakesh-shrivas commented on #4489
I am aware this is old thread; however, above mentioned issue is resolved in latest package of 3.0.1.

[2018-09-18 14:15] IustinSaraholu opened #4621 "Ngx Timepicker"
Is there any method to let ngx timepicker to use only numbers in input (hours and minutes inputs) ?

![timepicker](https://user-images.githubusercontent.com/34652813/45693672-472d2780-bb66-11e8-8ef7-421d8564fe76.png)

[2018-09-18 20:02] rafael-andrade commented on #2613
Having same problem, what did you guys do ?

[2018-09-18 21:52] heitorb opened #4623 "Open modal from component WITHOUT having to create a component class"
I have a modal created in the HTML and I want to trigger that modal to be opened from the component, not by clicking anything on the page.

In the docs, you only mention one way of doing this, which is by creating a new class inside the component class.

How can I, inside the ts file, get a reference from a template in the HTML and pass that to the "show" method?

Again, this modal is supposed to

[2018-09-19 04:02] ruchitp commented on #1657
@valorkin  Guys, any update on this feature.
I really need this ASAP.
If you can give some tentative date of release, I can give it to client.

[2018-09-19 04:38] nerophan commented on #2627
+1

[2018-09-19 11:38] svetoldo4444ka commented on #4545
@Getz85 @zaiddabaeen  It was css changes in different bootstrap's version. If you are using ngx-bootstrap's version - 4, then you should use the same bootstrap's version. It will help you to fix this issue.

[2018-09-19 12:10] YuriiKrvc commented on #4575
@Disane87  I share your concern and I would like to ask you to try to use this type of drop down.
Looks like it might solve your problem
https://valor-software.com/ngx-bootstrap/#/dropdowns#menu-alignment

[2018-09-19 12:43] YuriiKrvc commented on #4479
@pulidovpe I share your concern and I would like to ask you to try to use this type of drop down. Looks like it might solve your problem
https://valor-software.com/ngx-bootstrap/#/dropdowns#menu-alignment

[2018-09-19 12:56] pulidovpe commented on #4479
Hi. I've already finished that project. I'm busy with other things right now. Thanks for your suggest

[2018-09-19 13:47] #4564 closed, assigned to nobody

[2018-09-19 14:02] chubbard commented on #1748
Tab SHOULD skip to the next field.  This is confusing users, and causing errors because TAB never commits changes.  This is has been added, and removed several times why does it keep coming back?

[2018-09-19 14:14] YuriiKrvc commented on #4517
@sergamers Please provide a reproduction of this issue.
You can use one of the starter templates:
Plunkr: https://plnkr.co/edit/0NipkZrnckZZROAcnjzB?p=preview
StackBlitz: https://stackblitz.com/edit/ngx-bootstrap?file=app%2Fapp.module.ts

[2018-09-19 14:32] Yuriy777 commented on #4442
@NuruddinBadawi
Please provide a reproduction of this issue.
You can use one of the starter templates:
Plunkr: https://plnkr.co/edit/0NipkZrnckZZROAcnjzB?p=preview
StackBlitz: https://stackblitz.com/edit/ngx-bootstrap?file=app%2Fapp.module.ts

[2018-09-19 14:39] YuriiKrvc commented on #4442
@NuruddinBadawi
Please provide a reproduction of this issue.
You can use one of the starter templates:
Plunkr: https://plnkr.co/edit/0NipkZrnckZZROAcnjzB?p=preview
StackBlitz: https://stackblitz.com/edit/ngx-bootstrap?file=app%2Fapp.module.ts

[2018-09-19 15:07] #4489 closed, assigned to nobody

[2018-09-19 15:16] nvmkpk commented on #4596
I am running into same issue. I tried following [this example](https://valor-software.com/ngx-bootstrap/#/pagination#manual-switching) but it is not working for me.

[2018-09-20 07:22] YuriiKrvc commented on #4425
@RA344710 Please provide a reproduction of this issue.
You can use one of the starter templates:
Plunkr: https://plnkr.co/edit/0NipkZrnckZZROAcnjzB?p=preview
StackBlitz: https://stackblitz.com/edit/ngx-bootstrap?file=app%2Fapp.module.ts

[2018-09-20 08:15] sivabhusarapu commented on #2796
Any ETA on this issue? we are still facing this issue.
If you have any workaround to fix this issue, please let us know. As of now if the button is at corner of the window or any dialog, the popover is being cut. Please suggest. Thanks!

[2018-09-20 08:20] Memphis335 commented on #356
@anuraagdjain Did you manage to solve this? I have tried all solutions out there to keep the ngModel encapsulated but to no avail. Each row I add is coupled with all other rows by ngModel

[2018-09-20 09:08] #4423 closed, assigned to nobody

[2018-09-20 09:15] tarusin commented on #4419
@abbymrs can you be more specific or/and provide a reproduction of this issue.
You can use one of these templates:
Plunkr: https://plnkr.co/edit/0NipkZrnckZZROAcnjzB?p=preview
StackBlitz: https://stackblitz.com/edit/ngx-bootstrap?file=app%2Fapp.module.ts

[2018-09-20 09:44] Domainv commented on #4253
Closed as duplicate of #749

[2018-09-20 09:44] #4253 closed

[2018-09-20 09:50] #4373 closed, assigned to nobody

[2018-09-20 10:06] Joklogh commented on #4603
Hi @gaetanparis
You can pass boolean value to the `isOpen` input of datepicker. Like `[isOpen] = "true"`.
This should enable behaviour you are looking for
Let me know if this resolves your issue.

[2018-09-20 10:13] Joklogh commented on #4601
Hi @t-zander
You can use CSS classes to set size of modal. You can either append your own class by passing string in modal options. For example : `this.modalService.show(ComponentToShow, {class : 'yourOwnClass'})` and then style your class or using already provided classes : modal-content - for whole dialog; modal-header; modal-body. You can also inspect modal in developer console to see how modal

[2018-09-20 11:07] #4245 closed

[2018-09-20 11:42] aldus25 commented on #2796
Add a parent div element with the class property of 'position-relative' and it will solve your problem

[2018-09-20 12:02] sivabhusarapu commented on #2796
@aldus25 can you please give me any demo link kinda. really not sure when you say wrapping over a relatively positioned div. very much appreciated.

[2018-09-20 12:54] ghost commented on #4440
@vsilva472 you are right.  @andrejm7 you can easily get an id from typeaheadOnSelect output
 https://valor-software.com/ngx-bootstrap/#/typeahead#on-select

[2018-09-20 12:57] #4440 closed, assigned to nobody

[2018-09-20 13:08] ghost commented on #4444
@bandhavya Could you add more information, if you question wasn't resolved?
https://valor-software.com/ngx-bootstrap/#/typeahead#async-data It was added demo for async data.

[2018-09-20 13:18] aldus25 commented on #2796
The tooltip auto is absolute positioned, so if it doesnt find a relative positioned parent it will use the window, body or any tag available. You need to wrap the tooltip with any tag but this tag has to have a position: relative css style. For more details on positioning please refer to: [https://learn.shayhowe.com/advanced-html-css/detailed-css-positioning/](url)

[2018-09-20 13:23] #4444 closed, assigned to nobody

[2018-09-20 13:48] ghost commented on #4369
@bandhavya `typeaheadOptionField` supports only string type. You can convert an id into a string.
If you still have questions, please provide more information. Please, use Plunker or StackBlitz that reproduces your issue.

[2018-09-20 14:02] #4369 closed, assigned to nobody

[2018-09-20 14:14] #4484 closed, assigned to nobody

[2018-09-20 19:50] simonv3 commented on #3609
@valorkin where would you call `.toUTCstring()`? the date itself gets sent appropriately, but someone at +9 timezone sees a different date in the front-end than what we're storing. Maybe there's a way for the datepicker to just care about the date?

Edit: fwiw, we're working around this by just making sure that the date before getting shown in the datepicker doesn't have any timezone info on it (s

[2018-09-21 06:37] nanchao-p commented on #406
I fix this isssue by call this.setPage(1) after receive data in search() function,  and use put NgIf to pagination  like this => <pagination *ngIf="totalItems" . . .><pagination>

[2018-09-21 08:49] francarmona commented on #2563
I found a way to get it. I extended TypeaheadDirected for overriding normalizeOption. I added a new @input to my custom directive (typeaheadSearchFields) where you can specify the property names that you want to be used for searching by. An usage example would be:
[code]
https://gist.github.com/francarmona/9e7d373e80e9cc9afb9c023923093c01

[2018-09-21 11:46] ghost commented on #4350
Ngx-bootstrap doesn't include this particular case. If you get an object with html tag, you should convert it by yourself. If a returned object doesn't consist string with html tag, everything will work fine

[2018-09-21 14:30] Jav83 commented on #3192
+1

[2018-09-21 16:28] MFRamon-zz commented on #4389
It solved my problem,at the time I was using Angular 4! Thanks mate

[2018-09-21 17:10] pouellet commented on #4350
Fair enough, thanks for the update.

The first example in my bug report (typing `Ala` followed by two white spaces) does not return any HTML tags, it's only returning a string (e.g. 'Alabama'). You can have a look at the StackBlitz repro.

[2018-09-22 16:57] iMushi commented on #1819
Hello, I've made my own directive to trap focus inside the modal window, it works fine for my circumstances,  I know it's not the best code you've seen but it will do the trick... feel free to give me feed back

[modal-focus.directive.ts.txt](https://github.com/valor-software/ngx-bootstrap/files/2407994/modal-focus.directive.ts.txt)

[2018-09-23 17:13] afiqwazien commented on #4540
+1

[2018-09-24 08:38] Joklogh commented on #4623
Hi @heitorb
You can pass template reference to the the method of BsModal Service `show` .
See example on this url : https://stackblitz.com/edit/ngx-bootstrap-xbahme
The modal is open automatically after 5 seconds.
Let me know if this solves your issue or have any other questions.

[2018-09-24 08:42] Joklogh commented on #4621
Hi @IustinSaraholu
Can you better describe your problem?
I don't quite get the issue

[2018-09-24 08:50] Joklogh commented on #4610
Hi @xaraskas
Try to solve this problem with CSS. You can change `width` property of `bs-timepicker-field` class in your styles. Try `width : 55px`, this helps to solve issue with timepicker input.
Let me know if this resolves your issues

[2018-09-24 08:59] Joklogh commented on #4596
Hi @calldeludo @nvmkpk
I have no issues setting page manually in code using example in https://valor-software.com/ngx-bootstrap/?gclid=Cj0KCQjwlqLdBRCKARIsAPxTGaX54C_p2kRXeyLzIuJRiS5PYxgVZ6-5FzKZGaeGu5wUTgo_6IztaeAaAqQKEALw_wcB#/pagination#manual-switching

See example in Stackblitz : https://stackblitz.com/edit/ngx-bootstrap-ot9dqb

Let me know if you were successful in getting manual page switch

[2018-09-24 18:12] surya5353 opened #4633 "How to show modal auto open when page load ?"
How to call modal ngOninit when after initialised component. without html button click event ? I want to show modal on page load.

[2018-09-24 18:21] surya5353 commented on #4633
Thank You.
I got the code in documentation .
https://valor-software.com/ngx-bootstrap/#/modals#directive-auto-shown
I added [config]="{ show: true }" in modal div

[2018-09-24 18:50] calldeludo commented on #4596
great i could adapt it perfectly ! thank you, everything working 👍

[2018-09-24 18:51] #4596 closed, assigned to nobody

[2018-09-25 02:27] heitorb commented on #4623
Yes. It did. Thank you!

[2018-09-25 04:43] vietdq1291 opened #4635 "How to custom Language in BSDatepicker"
Angular: 6.0

Bootstrap: 3.0.1

As i know :
ngx-bootstrap/chronos  & BsLocaleService (ngx-bootstrap/datepicker) doesn't support vietnamese language
How to I Custom this language and using in BSdatepicker

[2018-09-25 08:56] Valery-vs commented on #4494
+1

[2018-09-25 09:11] tiagomsmagalhaes commented on #4494
I'm getting this with Meteor 1.6.1.3 and Angular 6

[2018-09-25 10:34] khukhrianskiy opened #4638 "show years first in bsDatepicker"
When I open datepicker, can I select years first and then select month and then date?

[2018-09-25 11:14] umahesh98 commented on #1664
i am also facing the issue

[2018-09-25 16:36] jnels124 commented on #3418
Is this feature in progress? Need to know as I will implement and submit PR if not.

[2018-09-25 16:50] jnels124 commented on #1657
@valorkin  This seems like basic and critical functionality. I need this functionality and dont mind writing it if needed but there is no communication on here lately. What is the status of this feature?

[2018-09-26 14:16] robvaneck commented on #4300
Yep me too on ```v3.0.1```

once logged in... i display a navbar with buttons, one of them is the log-out button like below:
[code]

(note the delay 250)

now:
* I click really fast on log-out...
* app routes to signin
* this component does not contain the navbar / thus not the button
* the tooltip is still created in the upper left corner with the html:

[code]

the error does not occur when i wa

[2018-09-27 04:49] rajureddy2010 commented on #2385
can we use both class in same , this will applay dynamically , when it comes to small and large screen ,, is possible ---class: 'modal-lg, model-sm'}

[2018-09-27 06:27] umahesh98 commented on #1664
This issue got resolved by adding another  <bs-modal-backdrop class="modal-backdrop fade in show secondModal-index" *ngIf="secondModalOpen" style="z-index:1051"> </bs-modal-backdrop> above the modal and fixed the issue

[2018-09-27 14:47] Provson commented on #3192
+1

[2018-09-27 14:47] lreb commented on #4054
thanks!!!

[2018-09-28 09:03] Domainv commented on #4601
duplicate of #4562

[2018-09-28 09:04] #4601 closed, assigned to nobody

[2018-09-28 09:08] Domainv commented on #4479
duplicates of #4575

[2018-09-28 09:08] #4479 closed, assigned to nobody

[2018-09-28 09:35] Domainv opened #4651 "fullTemplateTypeCheck: Cannot read property 'type' of null"
[angular/angular#19906](https://github.com/angular/angular/issues/19906)

[angular/angular#24143](https://github.com/angular/angular/issues/24143)

Issue happens when fullTemplateTypeCheck is enabled.

[code]

**Temporary fixed by setting fullTemplateTypeCheck: false**

**Version Information**

[code]

[2018-09-28 09:49] #1675 closed

[2018-09-28 11:51] Moulde commented on #1835
I'm in the exact same situation.

[2018-09-29 04:27] bjcCin commented on #2627
+1

[2018-09-29 09:47] bhawincodes commented on #3418
Man  , I created my own datepicker . Thanks Valor Software . For not having this feature . Otherwise i would have never learnt how to create Datepicker

[2018-10-01 07:50] sz09 opened #4654 "Bs-sortable not refresh after renamed item."
Before opening an issue, please search for duplicates (opened and closed)
https://github.com/valor-software/ngx-bootstrap/issues
There's no need to open an issue here if you want to ask general question, use [StackOverflow](https://stackoverflow.com/questions/tagged/ngx-bootstrap) or [Slack](https://ngx-slack.herokuapp.com/) instead

### Bug description or feature request:

### Plunker/StackBlitz

[2018-10-01 10:03] monica11 commented on #2627
+1, need it for very long. Please add it.

[2018-10-01 10:12] #4633 closed, assigned to nobody

[2018-10-01 14:29] mstivali commented on #3734
+1

[2018-10-02 06:16] YuriiKrvc commented on #4654
Please provide a reproduction of this issue.
You can use one of the starter templates:
Plunkr: https://plnkr.co/edit/0NipkZrnckZZROAcnjzB?p=preview
StackBlitz: https://stackblitz.com/edit/ngx-bootstrap?file=app%2Fapp.module.ts

[2018-10-02 06:17] Yuriy777 commented on #4654
Please provide a reproduction of this issue.
You can use one of the starter templates:
Plunkr: https://plnkr.co/edit/0NipkZrnckZZROAcnjzB?p=preview
StackBlitz: https://stackblitz.com/edit/ngx-bootstrap?file=app%2Fapp.module.ts

[2018-10-02 06:24] YuriiKrvc commented on #4638
Yes, you can. Click on year.

[2018-10-02 07:53] bhavin9695 commented on #624
I have similar type of use case with little change.
Let's say there is two component A and B on SAME PAGE. and both A and B adding component C as child component . Now when i click from component A it open component C modal popup as expected but when click from component B, it open same popup which was opened from Component A.(P.S. : I m using javascript to open modal popup component. not bootstra

[2018-10-02 07:57] #4638 closed, assigned to nobody

[2018-10-02 07:57] #4623 closed, assigned to nobody

[2018-10-02 08:47] pintojeremy commented on #2796
Any updates ?
I ran into issues with auto placement too.
Besides those two buggy behaviors listed above, in some cases element wont find any placement and appear on top left corner.

Found out that `autoPosition` method will not return any default placement if there is enough space in each directions.
You can reproduce by playing with @nfiles demo ([https://ngx-bootstrap-issue-demo-smunotreuo.now.

[2018-10-02 09:29] YuriiKrvc commented on #4591
@ShinDarth
I can't reproduce it
Please provide a reproduction of this issue.
You can use one of the starter templates:
Plunkr: https://plnkr.co/edit/0NipkZrnckZZROAcnjzB?p=preview
StackBlitz: https://stackblitz.com/edit/ngx-bootstrap?file=app%2Fapp.module.ts

[2018-10-02 10:37] amsaighi opened #4659 "Create dynamic modal component with ngx bootstrap"
Need any help about creating a dynamic modal component with ngx-bootstrap

[2018-10-02 12:27] #3371 closed

[2018-10-02 18:09] nitin466 commented on #2385
@IlyaSurmay
this.modalService.show() function takes only 2 parameters , the moment I give 3rd params(i.e template, initialState, {class: 'modal-lg'}, my IDE starts giving error.
Please suggest how to pass initialState as well as class for large modal...Thanks !

[2018-10-02 21:04] columbian-chris commented on #625
For a more recent solution than this (for people from the future still looking here), add the `dropdown-menu-right` class to your `dropdown-menu`.

[2018-10-03 09:34] skirankumar7 commented on #3075
.popover { pointer-events: none; }
above makes cursor not to change 'cursor hand' type.
how to handle it?

[2018-10-03 10:42] boazrymland commented on #3075
<code>.popover {cursor: default; }</code>

?

[2018-10-03 15:35] tarusin commented on #4092
@borriej
Please provide a reproduction of this issue.
You can use one of the starter templates:
Plunkr: https://plnkr.co/edit/0NipkZrnckZZROAcnjzB?p=preview
StackBlitz: https://stackblitz.com/edit/ngx-bootstrap?file=app%2Fapp.module.ts

[2018-10-04 06:59] Yulin777 opened #4668 "how to change week days from 3 letter to 2 letters? ("Su Mo Tu" etc...)"
![capture](https://user-images.githubusercontent.com/14194649/46461055-32c76c80-c7ad-11e8-8cba-8011fc3fcdd1.PNG)

[2018-10-04 09:40] ojewaletope commented on #2407
I'm getting jQuery is undefined

[2018-10-04 11:55] #4389 closed, assigned to nobody

[2018-10-04 18:38] cmakohon commented on #3124
Having this exact same issue. Would love it to be fixed soon. Weird that taking the placeholder out resolves the issue.

[2018-10-05 03:04] samuelkavin opened #4671 "ngx bootstrap datepicker range split into two input"
When we select start date and end date. Is it possible to put it in two different input. Something like this:
<img width="410" alt="screen shot 2018-10-05 at 11 03 31 am" src="https://user-images.githubusercontent.com/5300968/46514101-6c23d900-c88e-11e8-913d-89543ecc6618.png">

Any idea?

[2018-10-05 07:55] tarusin commented on #4307
@roblawford there are no bugs in this demo.
In this demo, we can disable/enable changing the values of hours and minutes using the up/down arrow keys on the keyboard.

[2018-10-05 10:05] tarusin commented on #4307
@roblawford
if you want to use a demo with arrows that can be hidden, you can use this https://valor-software.com/ngx-bootstrap/#/timepicker#spinners

[2018-10-05 14:16] daniel-seitz opened #4673 "Tab through Accordion"
When having accordion-groups with content, form inputs in my case, the user wants to go to the next input when pressing the tab key.

That works within one group if that content is visible, however once the last input of that group is reached, the next group is not opened automatically *that is the wanted feature*.

I see that this is not trivial because there could be tabindex set, or i.e. the la

[2018-10-05 15:01] dnyvik commented on #2618
I tried using `this.modalService.hide(this.modalService.getModalsCount())` to do this, but it didn't clean up all the css classes. Ended up with the following hack:

`// @ts-ignore: Accessing private variable as workaround for missing feature
          this.modalService.loaders.forEach(loader => {
            loader.instance.hide();
          });`

Not done any extensive testing yet, but so far so

[2018-10-05 18:15] sgentile opened #4675 "Typeahead - how to fire an event when the input is cleared ?"
I'm not getting any event when the input is cleared - any advice on how to handle this event ?

ie they do a search, they select an item, then they clear the item.

[2018-10-07 13:51] kmet-mykhailo commented on #3489
I have the same problem.

Versions of ngx-bootstrap, Angular, and Bootstrap:
ngx-bootstrap: 2.0.0-rc.0
Angular: v5.2.1
Bootstrap: v3.3.7
It happens only in ptod mode
./node_modules/.bin/ng build --prod --aot=false

[2018-10-08 08:58] imadhy commented on #2623
+1

[2018-10-08 10:01] tarusin commented on #4526
@Kapperchino Please, can you be more specific or/and provide a reproduction of this issue.
You can use one of the starter templates:
Plunkr: https://plnkr.co/edit/0NipkZrnckZZROAcnjzB?p=preview
StackBlitz: https://stackblitz.com/edit/ngx-bootstrap?file=app%2Fapp.module.ts

[2018-10-08 14:36] YuriiKrvc commented on #4544
@liuyiffan Thanks. This issue will be fixed in the future releases.

[2018-10-09 09:46] YuriiKrvc commented on #4457
@emilgadzaev Please provide more information or reproduction of this issue.
You can use one of the starter templates:
Plunkr: https://plnkr.co/edit/0NipkZrnckZZROAcnjzB?p=preview
StackBlitz: https://stackblitz.com/edit/ngx-bootstrap?file=app%2Fapp.module.ts

[2018-10-09 10:47] tarusin commented on #2000
@hshn we'll investigate it and make changes if necessary.

[2018-10-09 12:49] jason2211 commented on #2172
Any updates on the PR getting approved?

[2018-10-09 13:46] Domainv commented on #3075
fixed here #4660, soon will be merged

[2018-10-09 13:46] #3075 closed

[2018-10-09 21:03] jziggas commented on #1750
This would be a great addition for people looking to move away from ui-bootstrap while going through the upgrade process on components. Without feature parity there's a lot of heartburn in making the move.

[2018-10-10 14:09] tarusin commented on #4562
@t-zander You can use only CSS styles to change the width of the container. Change **max-width** property for **.modal-dialog** class, in some cases for **.modal-sm class**.

[2018-10-10 14:10] #4562 closed, assigned to nobody

[2018-10-10 18:33] suparnavg commented on #4273
Still facing the same issue.. using ngx-bootstrap 3.0.1

[2018-10-11 07:56] #4443 closed, assigned to nobody

[2018-10-11 09:00] tarusin commented on #4429
@RA344710 There's no need to open an issue here if you want to ask a general question, use <a href="https://stackoverflow.com/questions/tagged/ngx-bootstrap">StackOverflow</a> or <a href="https://ngx-slack.herokuapp.com/ ">Slack</a> instead.

[2018-10-11 09:01] #4429 closed, assigned to nobody

[2018-10-11 09:28] tarusin commented on #4426
@probfacile
Please, can you be more specific or/and provide a reproduction of this issue.
You can use one of the starter templates:
Plunkr: https://plnkr.co/edit/0NipkZrnckZZROAcnjzB?p=preview
StackBlitz: https://stackblitz.com/edit/ngx-bootstrap?file=app%2Fapp.module.ts

[2018-10-11 11:08] YuriiKrvc commented on #4671
@samuelkavin There's no need to open an issue here if you want to ask a general question, use [StackOverflow](https://stackoverflow.com/questions/tagged/ngx-bootstrap) or [Slack](https://ngx-slack.herokuapp.com/) instead.

[2018-10-11 11:10] #4671 closed, assigned to nobody

[2018-10-11 11:11] YuriiKrvc commented on #4675
@sgentile There's no need to open an issue here if you want to ask a general question, use [StackOverflow](https://stackoverflow.com/questions/tagged/ngx-bootstrap) or [Slack](https://ngx-slack.herokuapp.com/) instead.

[2018-10-11 11:11] #4675 closed, assigned to nobody

[2018-10-11 11:46] tarusin commented on #4379
@bandhavya
There's no need to open an issue here if you want to ask a general question, use <a href="https://stackoverflow.com/questions/tagged/ngx-bootstrap">StackOverflow</a> or <a href="https://ngx-slack.herokuapp.com/">Slack</a> instead.

[2018-10-11 11:48] #4379 closed, assigned to nobody

[2018-10-11 11:51] tarusin commented on #4450
@SathyaChenniappan
There's no need to open an issue here if you want to ask a general question. Use <a href="https://stackoverflow.com/questions/tagged/ngx-bootstrap">StackOverflow</a> or <a href="https://ngx-slack.herokuapp.com/">Slack</a> instead.

[2018-10-11 11:53] #4450 closed, assigned to nobody

[2018-10-11 12:08] tarusin commented on #4508
@nkdweb
There is no such functionality at the moment.
We will consider your request in future releases.

[2018-10-11 12:09] #4508 closed, assigned to nobody

[2018-10-11 12:22] YuriiKrvc commented on #4523
There's no need to open an issue here if you want to ask a general question, use [StackOverflow](https://stackoverflow.com/questions/tagged/ngx-bootstrap) or [Slack](https://ngx-slack.herokuapp.com/) instead

[2018-10-11 12:25] YuriiKrvc commented on #4520
There's no need to open an issue here if you want to ask a general question, use [StackOverflow](https://stackoverflow.com/questions/tagged/ngx-bootstrap) or [Slack](https://ngx-slack.herokuapp.com/) instead

[2018-10-11 12:33] tarusin commented on #4347
@tavai89
There's no need to open an issue here if you want to ask a general question. Use <a href="https://stackoverflow.com/questions/tagged/ngx-bootstrap">StackOverflow</a> or <a href="https://ngx-slack.herokuapp.com/">Slack</a> instead.
Looks like it might solve your request https://stackoverflow.com/questions/49266902/how-to-change-ngx-bootstrap-modal-width/52742148#52742148.

[2018-10-11 12:38] #4523 closed, assigned to nobody

[2018-10-11 12:38] #4520 closed, assigned to nobody

[2018-10-11 12:39] #4469 closed, assigned to nobody

[2018-10-11 12:39] #4347 closed, assigned to nobody

[2018-10-11 14:43] Sebi11 opened #4682 "Circular dependencies detected in "chronos" folder"
### Bug description:
There are a lot of circular dependencies between the files of the "src/chronos" folder. This is considered as a very bad practice since it can lead to bugs and bad performance.
The warnings are only shown during development, they are not visible for someone importing the ngx-bootstrap library.

### To reproduce the issue:
- Checkout this repo.
- Run `npm install` at the root o

[2018-10-11 14:59] gregor-doroschenko opened #4683 "Datepicker popup is fixed by scrolling in modal popup"
### Bug description or feature request:

I use bootstrap modals in my app. In an modal I have form with datepicker input. When I open datepicker popup in my modal, that will be fixed by scrolling in modal-body (see stackblitz example).

In the linked github below repo you will find video of reproducing.

![bug-gif](https://user-images.githubusercontent.com/2324240/46813640-61c67b00-cd77-11e8-9d7e-

[2018-10-11 15:12] Sebi11 commented on #4603
Hi @Joklogh
This will not work, I have already tried myself.

The code in charge of closing automatically the datepicker after selecting a date is in the "ngx-bootstrap\datepicker\bs-datepicker.component.ts" file I guess, inside the `show` function :
[code]

Indeed, the `hide` method does close the datepicker if `isOpen === true`. The purpose of this parameter is only to set the initial state of t

[2018-10-11 16:31] chase9 commented on #4540
+1 as I believe this feature is highly necessary when dealing with responsive layouts.

Something to note is what kind of behavior we would like the date picker to exhibit when drawing off screen. Would we like the date picker to automatically pick between a layout (top, bottom, left, or right) which will fit on the screen, or would we like the date picker to keep its layout but nudge itself to it

[2018-10-11 22:52] ChristianGalvez23 commented on #2796
Any solution for this? I have several tooltips implemented with this project but whe the element is near of a corner the tooltip get cut a little. It's obviously about positioning.

[2018-10-12 08:48] SimonSch commented on #4476
Any update on this? This component is not usable for entering birthdays.

[2018-10-12 09:06] Konstruktour commented on #4476
+1

[2018-10-12 09:10] shrikanthavale commented on #4476
+1

[2018-10-12 09:54] amsaighi commented on #4659
Hello,
Here is a small prototype, there will be improvements over time.
at first it was a little difficult to understand ngx-bootstrap, I hope it will be useful for beginners
good luck
[ngx bootstrap dynamic](https://github.com/AmounSai/ngx-bootstrap-dynamic)

[2018-10-12 09:55] #4659 closed, assigned to nobody

[2018-10-12 11:39] tarusin commented on #4460
@ViktorSoroka
To implement your request, we have created two solutions. But each of them is not suitable for certain requirements. One of them affects accessibility, the other affects the structure.
At the moment we will not change the structure of the component. We adhere to the behavior of the <a href="https://getbootstrap.com/docs/4.1/components/collapse/">Bootstrap</a> functionality.

[2018-10-12 12:33] #4460 closed, assigned to nobody

[2018-10-12 12:45] YuriiKrvc commented on #4362
@suparnavg We adhere to the behavior of the Bootstrap functionality, therefore, this feature will not be implemented soon.

[2018-10-12 12:47] #4362 closed, assigned to nobody

[2018-10-12 12:49] suparnavg commented on #4362
Thanks Yuriy, I understand. Found a workaround for my use case

On Fri, Oct 12, 2018, 6:18 PM Vitaliy Makogon <notifications@github.com>
wrote:

[2018-10-12 13:16] Konstruktour commented on #4476
i found the issue, it is located in the file:

src/chronos/units/year.ts - line 66
[code]

can the hard coded value 68 (and 1900, 2000) be changed to a configurable value?

[2018-10-12 13:31] YuriiKrvc commented on #4384
There's no need to open an issue here if you want to ask a general question, use [StackOverflow](https://stackoverflow.com/questions/tagged/ngx-bootstrap) or [Slack](https://ngx-slack.herokuapp.com/) instead

[2018-10-12 13:46] #3864 closed

[2018-10-12 13:54] #2473 closed

[2018-10-12 13:59] #1751 closed

[2018-10-12 14:49] tarusin commented on #4519
@yashwp
There's no need to open an issue here if you want to ask a general question.
Use <a href="https://stackoverflow.com/questions/tagged/ngx-bootstrap">StackOverflow</a> or <a href="https://ngx-slack.herokuapp.com/">Slack</a> instead

[2018-10-12 14:50] #4384 closed, assigned to nobody

[2018-10-12 14:50] #4519 closed, assigned to nobody

[2018-10-12 14:52] #4376 closed, assigned to nobody

[2018-10-14 13:06] yaneyba commented on #1819
@iMushi  How do you use it?

[2018-10-14 15:20] iMushi commented on #1819
Here is a working example

https://stackblitz.com/edit/ngx-bootstrap-u1ow9s

[2018-10-14 20:58] valorkin commented on #4682
As license file should state, chronos is 1to1 migration of moment.js to typescript.
Initial plan was to migrate and split into pure es6 functions + publish independently or propose it as a PR

[2018-10-14 21:13] valorkin commented on #4635
Please closed issue,  I have answered couple of times. Look at add new locale prs for a sample

[2018-10-14 21:13] #4635 closed, assigned to nobody

[2018-10-14 21:32] valorkin commented on #4621
There are 2 ways:
input type number - no go cuz browsers will display  scrolls
Or add validation on keypress and set previous value if not number - it could be added
 Cc @Domainv
It's a simple thing

[2018-10-14 21:33] valorkin commented on #4603
There are planned feature: 2-3 buttons
Apply, Reset, Cancel
Which will lead to your desired behaviour

[2018-10-15 09:45] cakeinpanic opened #4685 "Typeahead: Possibility to open link in a new tab with ctrl+click"
Using typeahead I want to have possibility to open links in a new tab.
By now it it not possible at all, cause all clicks are set to preventDefault and ctrl+click or mousewheel can not be differed – the only case is to use `<a>` tag and a context menu

[2018-10-15 10:52] tarusin commented on #1849
@hassanasad
There's no need to open an issue here if you want to ask a general question.
Use <a href="https://stackoverflow.com/questions/tagged/ngx-bootstrap">StackOverflow</a> or <a href="https://ngx-slack.herokuapp.com/">Slack</a> instead

[2018-10-15 11:53] klassiksharma commented on #4515
the tabset select event is triggered even with tab key sometimes. anyway to solve this?

[2018-10-15 13:40] #4535 closed, assigned to nobody

[2018-10-15 13:45] tarusin commented on #3287
@robdunnwinning
The example in the Plunker does not work. Please fix it.
Also, you can use another starter template:
StackBlitz: https://stackblitz.com/edit/ngx-bootstrap?file=app%2Fapp.module.ts

[2018-10-15 14:47] tarusin commented on #4673
@daniel-seitz
We adhere to the behavior of the <a href="https://getbootstrap.com/docs/4.1/components/collapse/">Bootstrap</a> functionality. That's why we cannot implement your request.

[2018-10-15 14:47] #4673 closed, assigned to nobody

[2018-10-15 15:19] ghiscoding commented on #808
Came in this post to see how to make the tooltip wider but the suggestions in first few comments didn't work for me. However I got it to work with the `containerClass` as follow

#### HTML
[code]
#### SASS
[code]

[2018-10-16 06:55] Adity14a commented on #1738
@valorkin  hi can u please help me, i have migrated one project from angular 4 to 6 .... but for ng2 bootstrap it is giving error this one : zone.js:672 Uncaught Error: Template parse errors:
Can't bind to 'ngOutletContext' since it isn't a known property of 'ng-template'.
1. If 'ngOutletContext' is an Angular directive, then add 'CommonModule' to the '@NgModule.imports' of this component. .... Pl

[2018-10-16 08:37] tarusin commented on #4571
@juniormayhe
There's no need to open an issue here if you want to ask a general question.
Use <a href="https://stackoverflow.com/questions/tagged/ngx-bootstrap">StackOverflow</a> or <a href="https://ngx-slack.herokuapp.com/">Slack</a> instead

[2018-10-16 08:48] neilime commented on #1437
This feature will be very usefull, is there any chance to get it implemented ?

[2018-10-16 08:54] #4571 closed, assigned to nobody

[2018-10-16 08:54] tarusin commented on #4549
@rafalkasa
Please, can you be more specific or/and provide a reproduction of this issue.
You can use one of the starter templates:
Plunkr: https://plnkr.co/edit/0NipkZrnckZZROAcnjzB?p=preview
StackBlitz: https://stackblitz.com/edit/ngx-bootstrap?file=app%2Fapp.module.ts

[2018-10-16 09:48] tarusin commented on #4497
@LuisKen
There's no need to open an issue here if you want to ask a general question.
Use <a href="https://stackoverflow.com/questions/tagged/ngx-bootstrap">StackOverflow</a> or <a href="https://ngx-slack.herokuapp.com/">Slack</a> instead.

[2018-10-16 10:09] Domainv commented on #4495
soon be fixed in new release

[2018-10-16 10:09] #4495 closed, assigned to nobody

[2018-10-16 10:10] Domainv commented on #4494
soon be fixed in new release

[2018-10-16 10:10] #4494 closed, assigned to nobody

[2018-10-16 10:10] Domainv commented on #4413
soon be fixed in new release

[2018-10-16 10:10] #4413 closed, assigned to nobody

[2018-10-16 10:11] Domainv commented on #4380
soon be fixed in new release

[2018-10-16 10:11] #4380 closed, assigned to valorkin

[2018-10-16 10:11] Domainv commented on #4552
soon be fixed in new release

[2018-10-16 10:11] #4552 closed, assigned to nobody

[2018-10-16 10:15] valorkin commented on #1738
You need to move to ngx-bootstrap, we moved next version to this name

[2018-10-16 10:22] #4497 closed, assigned to nobody

[2018-10-16 11:35] #4138 closed

[2018-10-16 12:24] tarusin commented on #4459
@werthdavid
Please try to provide _BsDropdownModule.forRoot()_ into imports.

[2018-10-16 12:33] Varun-Saini opened #4694 "ngx- accordion - on group heading click form submits"
[code]

[2018-10-16 13:15] #4459 closed, assigned to nobody

[2018-10-16 14:42] aldus25 commented on #3314
Trigger on focus is not working as expected. It seems that the focus is not lost when blur outside.

[2018-10-17 09:03] Domainv commented on #3294
It's safari issue

[2018-10-17 09:03] #3294 closed

[2018-10-17 09:40] tarusin commented on #4694
@Varun-Saini
We adhere to the behavior of the <a href="https://getbootstrap.com/docs/4.1/components/collapse/">Bootstrap</a> functionality.
Also, you shouldn't add type="button" into button tag.

[2018-10-17 09:50] #4694 closed, assigned to nobody

[2018-10-17 11:46] tarusin commented on #4430
@RA344710
You can create a Tree menu via accordion. It can look like this
![c3cede623c](https://user-images.githubusercontent.com/20521698/47084245-9fb21c00-d21b-11e8-89e1-4d12b27414e9.jpg)
Here is an example code
![82be8180bf](https://user-images.githubusercontent.com/20521698/47084279-b5bfdc80-d21b-11e8-9ead-33f640b4dfc5.jpg)

[2018-10-17 11:52] #4430 closed, assigned to nobody

[2018-10-17 13:41] ajbx opened #4698 "On custom input event, Typeahead dropdown doesnt show up in IE11. Works in Chrome."
**Requirement**
Text box and button are combined to be styled to make it look like drop down. On click drop down handle, need to show type ahead drop down options.

**Implementation**
On button click event, native element is assigned a random character ( ~) and custom input event is raised. This custom character is removed before observer.next.

This makes type ahead performs search for empty inpu

[2018-10-17 14:35] YuriiKrvc commented on #4528
@makeitbetter-su
Thanks for the demo. This is the old version of datepicker and we don't support it.

[2018-10-17 14:37] #4528 closed, assigned to nobody

[2018-10-17 14:47] tarusin commented on #4392
@vicky-rain
Please try to use this example:
**html**
![bed1b41715](https://user-images.githubusercontent.com/20521698/47094812-9e411d80-d234-11e8-8d8a-acc44bf5749c.jpg)
**ts**
![6480b2caa8](https://user-images.githubusercontent.com/20521698/47094797-941f1f00-d234-11e8-82a3-2f1205ba7bba.jpg)

[2018-10-17 14:49] #4392 closed, assigned to nobody

[2018-10-18 07:08] dotob commented on #2796
like @Waowam i think you should use popper.js

[2018-10-18 09:06] Vips120 opened #4699 "event call on tab tag"
cant call custom click event method on a tab tag

[2018-10-18 14:40] dukakent commented on #4699
Hello @Vips120 ! Thank you for mentioning this issue. Unfortunately a click event is kind of tricky to fix right now because of the current legacy architecture of the tab component. However you can easily use `select` output according to the [API Reference](https://valor-software.com/ngx-bootstrap/#/tabs#tab-directive). There will be a brand new completely redesigned Tabs Component soon!

[2018-10-18 14:44] #4699 closed, assigned to nobody

[2018-10-18 16:30] michaelfisch opened #4706 "Regular Expression Denial of Service...Package=moment, Path=ng2-bootstrap > moment, https://nodesecurity.io/advisories/532"
I tried searching on the issues but could not find a compatible solution...I'm following a tic-tac-toe tutorial (https://www.youtube.com/watch?v=mhs9ihqxQj0) that is a bit old.
So I ran the following code and got this manual review, and then I checked my package files and it appears that I have both ngx and ng2 bootstrap installed.  What steps must I complete to resolve this?
### Bug description o

[2018-10-18 18:03] #4706 closed, assigned to nobody

[2018-10-18 21:00] aldus25 commented on #3314
Hey folks, I solved this issue using fastclick.js library. It seems that IOS delays the execution of click events 300ms. Hope it works for you too!

[2018-10-19 06:42] phreakadelle2k commented on #2818
I know this one is closed, but I'm having similar issues with modal dialogs.

I'm using version 3.0.1 of ngx-bootstrap in an Angular 6 (6.1.9) application created via Angular CLI.
The modal dialog is in its own component and is opened via BsModalService using something like this:

`this.modalService.show(ComponentName, { 'class': 'modal-xl', initialState });`

I have the bsModalRef inside the dial

[2018-10-19 06:54] phrkdll opened #4713 "Modal dialog only closes on backdrop click (on Internet Explorer)"
### Bug description or feature request:
I'm having issues with modal dialogs in Internet Explorer 11.

I'm using version 3.0.1 of ngx-bootstrap in an Angular 6 (6.1.9) application created via Angular CLI.
The modal dialog is in its own component and is opened via BsModalService using something like this:

'this.modalService.show(ComponentName, { 'class': 'modal-xl', initialState });'

I have the b

[2018-10-19 07:48] #4307 closed

[2018-10-19 14:18] buddyackerman opened #4714 "Carousel doesn't animate the transition between slides"
### Bug description or feature request:
It doesn't appear that the carousel has the ability to animate the transition between slides like the basic bootstrap carousel is able to.  This is an obvious feature that I think should be added.

Also, it'd be nice to be able to specify a class for the previous and next buttons so I could style it with my own button styles consistent with the rest of my si

[2018-10-20 07:07] hajimurtaza commented on #1682
I am calling a component within the template , how can i close the popup from within?
navbar.component.html

    <li class="d-flex  flex-column ">
    <a href="javascript:void(0);" class="chat" id ="chat" aria-label="chat-label" role="button"
    tabindex="0" [popover]="mypopover" placement="bottom" [outsideClick]="false" label="Click">
    </a>
    </li>
    <ng-template #mypopover>

[2018-10-20 14:42] mrjohnr opened #4721 "Typeahead: Observable.create(...).mergeMap is not a function"
Hi,I'm using ngx-bootstrap 3.0.1 and I've upgraded my application from Angular 6.1.3 to 7.0.0 and got error **mergeMap is not a function**:

`CfComponent_Host.ngfactory.js? [sm]:1 ERROR TypeError: rxjs_Observable__WEBPACK_IMPORTED_MODULE_4__.Observable.create(...).mergeMap is not a function
`
code used looks like that:

[code]
with angular 6.1.3 code worked

older :

new:

### Versions of ngx-boot

[2018-10-21 10:10] sibiraj-s opened #4722 "[NPM] v3.1.0 is not available in npm"
<img width="773" alt="screenshot 2018-10-21 at 3 39 51 pm" src="https://user-images.githubusercontent.com/20282546/47265569-912f7180-d547-11e8-9993-f2071779bb0c.png">

Version 3.1.0 isn't available in npm. https://www.npmjs.com/package/ngx-bootstrap

[2018-10-22 15:28] MaZderMind commented on #1989
@tommueller Hi! Which condition did you use on the `*ngIf`? I think this is such a common case, that it would be good to have an example in the docs for it.

[2018-10-22 19:29] gkamperis commented on #801
If the CSS is designed correctly you can have animations via CSS.

The accordion on expand adds styles via code to the element which cannot be overridden unless you use !important.
Once down that path it becomes a mess.

Just provide a class and add them there and add the class.

Also when collapsing remove the properties you added on expansion.
I worked around the issues only to find that on coll

[2018-10-23 01:59] ghost opened #4726 "The demo links are broken."
The demo links on the github page are broken.

[2018-10-23 05:01] vn425282 commented on #2618
Someone can explain to me about the loader.instance.hide() or this.modalService.hide(). Both of them work like a charm but I can't open my modal after use it

[2018-10-23 08:15] mitschmidt commented on #1819
Would highly appreciate this feature as well, as it is crucial for barrier assessments (i.e. for motor handycapped users that cannot use the mouse).

[2018-10-23 08:50] Domainv opened #4728 "Typescript 3.1.1 has breaking changes"
Type should be updated because typescript 3.1.1 has breaking changes

chronos/utils/type-checks.ts
method 'hasOwnProp'
: boolean >> : b is Extract<keyof T, string>

src/tsconfig.json >> "suppressImplicitAnyIndexErrors": true >> should be removed

[2018-10-23 13:18] ashecret commented on #3041
@amineparis @cavalos0086  The workaround is to use [Child Modal](https://valor-software.com/ngx-bootstrap/#/modals#directive-child). My implementation is below-

HTML
[code]

Parent component- reference
[code]

Now you can open it programmatically etc.
[code]

[2018-10-23 13:27] yigitbacakoglu commented on #3348
Are you planning to add this feature soon?

[2018-10-23 14:26] t-zander opened #4729 "(typeaheadOnSelect) prevent default behavior"
Before opening an issue, please search for duplicates (opened and closed)
https://github.com/valor-software/ngx-bootstrap/issues
There's no need to open an issue here if you want to ask general question, use [StackOverflow](https://stackoverflow.com/questions/tagged/ngx-bootstrap) or [Slack](https://ngx-slack.herokuapp.com/) instead

### Bug description or feature request:
I need to parse the obje

[2018-10-23 18:45] velrino commented on #3075
Stranger things!

I resolved this problem in the project I'm working on with:

`.popover { pointer-events: none !important; }`

[2018-10-23 19:50] sibiraj-s commented on #4722
@valorkin

[2018-10-23 20:04] valorkin commented on #4722
Yeah, I know. When our CI was building ng 7 was released and @latest build failed ;)
So I will publish it or manually or v3.1.1 from CI

[2018-10-24 06:01] thys-unomena commented on #1989
Hi @MaZderMind

One way is to check if the tab index is active:

*ngIf="staticTabs.tabs[1].active"

[2018-10-24 09:35] harishkrishnan24 opened #4730 "Modal not working in angular universal"
### Bug description:
When I try to build angular universal build I am getting error
![screen shot 2018-10-24 at 3 03 00 pm](https://user-images.githubusercontent.com/27828200/47421332-fa102700-d79d-11e8-87ab-522441bddc21.png)

The issue is with modals.

### Versions of Angular, ng-bootstrap and Bootstrap:
Angular: 6.1.3

ng-bootstrap: 3.0.1

Bootstrap: 4.1.3

[2018-10-24 09:46] juicyarts opened #4731 "feat(date/time-picker): add possibility to set offsets"
### Bug description or feature request:

I searched for this kind of issues but couldn't find anything that is comparable to our use-case and proposal.

#### use case:
We use the date and time-pickers of ngx-bootstrap in an application that needs to show all date and time values in a specific timezone. Given some companies that a user has access to, the date and time values shown in the applicatio

[2018-10-24 10:31] marie-dk commented on #2979
I got this error today with Angular 7 / ngx-bootstrap 3.0.1 ... turns out I was using bsDatePicker as html attribute instead of bsDatepicker (note the lowercase 'p').

[2018-10-24 20:21] jrnxf commented on #4443
Thanks for this!

[2018-10-25 01:52] DesmondHsu opened #4738 "data-html="true" doesn't work on tooltip"
Bootstrap 4.0 supports `data-html="true"` for tooltips.

This is not supported here.

[2018-10-25 08:25] vn425282 commented on #1819
@iMushi : it's good, I used focus-trap too, but it's got the bug like when you focus on the URL bar on your browser and press Tab button, the tab will escape from the modal too

[2018-10-25 08:26] Domainv commented on #4730
In the near future, there will be a release with this solved the error.

[2018-10-25 08:26] #4730 closed, assigned to nobody

[2018-10-25 08:35] #4621 closed, assigned to nobody

[2018-10-25 09:18] harishkrishnan24 commented on #4730
Can you provide a rough time estimate on when it would be ?

[2018-10-25 10:35] Domainv commented on #4585
There's no need to open an issue here if you want to ask a general question.
Use <a href="https://stackoverflow.com/questions/tagged/ngx-bootstrap">StackOverflow</a> or <a href="https://ngx-slack.herokuapp.com/">Slack</a> instead

[2018-10-25 10:35] #4585 closed, assigned to nobody

[2018-10-25 10:40] Domainv commented on #4668
Unfortunately, this functionality is currently not implemented.
We will consider your wishes in the future.

[2018-10-25 10:44] #4603 closed, assigned to nobody

[2018-10-25 10:47] #4575 closed, assigned to nobody

[2018-10-25 10:58] Domainv commented on #4532
thank you, will be added soon

[2018-10-25 10:58] #4532 closed, assigned to nobody

[2018-10-25 11:00] #4591 closed, assigned to nobody

[2018-10-25 11:15] valorkin commented on #4738
Hi, it is here https://valor-software.com/ngx-bootstrap/#/tooltip#dynamic-html

[2018-10-25 11:15] #4738 closed, assigned to nobody

[2018-10-25 11:19] Kaidanov commented on #4424
Did you solve it?

[2018-10-25 11:19] Kaidanov commented on #4424
I think it's or ngModel or formControlName not together

[2018-10-25 11:58] 901F opened #4739 "Dropdown nested has issue and not to be resolve"
From issue #3703 and #3851

It still a bug until latest version (3.0.1)

on #3703 close for duplicate but I don't see other issue related

[2018-10-25 12:30] mrjohnr commented on #4721
seems solved if using **.pipe**

[code]

[2018-10-25 12:34] przemyslawjanpietrzak commented on #4721
you have to use `.pipe(` on all of operators since rx6

[2018-10-25 12:54] cbysterv commented on #4722
@valorkin Is there an ETA on when you expect to have v3.1.1 published?

[2018-10-25 12:56] valorkin commented on #4722
QAs is doing smoke testing of dev branch, today/max tomorrow I should have a green light for publish

[2018-10-25 13:19] Domainv commented on #4555
We are not planning on adding any router interaction to modals. The reason for this is that different users want to have different modal <-> router interactions:

some people want all modals to be closed when a route change (like in your case);
some people want prevent route change if a modal is opened.
We can't decide for our users so we decided to not have arbitrary logic and have users code pre

[2018-10-25 13:22] Domainv commented on #4555
example of solution
[code]

[2018-10-25 13:22] #4555 closed, assigned to nobody

[2018-10-25 14:02] #4682 closed, assigned to nobody

[2018-10-25 21:41] Yulin777 commented on #4668
Made it myself. I'll send pr if you want

[2018-10-26 05:22] harishkrishnan24 commented on #4730
@Domainv Also, until then is there any workaround. I also face similar issues with accordion, tooltip, dropdown

[2018-10-26 08:31] mattxu-zz commented on #2002
I wrote a simple library [mattxu-zz/ngb-modal-draggable](https://github.com/mattxu-zz/ngb-modal-draggable) to make ng-bootstrap modal draggable. maybe you could try it.

[2018-10-26 10:58] AndreyYevtukhov opened #4743 "Accordions heading with markup"
### Bug description or feature request:

- [x] feature request
- [ ] bug description

### Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 3.0.1
Angular: 7.0.1
Bootstrap: 4.1.3

### Description
It would be nice to have more control over accordions heading markup.

Sometimes we've got tasks, which require this feature, and we need to use other packages (for one component) or make

[2018-10-26 15:43] valorkin commented on #4722
3.1.1 is published with @next tag
we will test it with real projects on Monday, that publish went well
cuz npm sometimes has bad publishes
and on Monday it will become the @latest label

[2018-10-26 15:43] #4722 closed, assigned to nobody

[2018-10-26 15:45] valorkin commented on #4726
which ones? there are dozen of links
and all this links are working fine https://github.com/valor-software/ngx-bootstrap#usage--demo

[2018-10-26 15:45] #4726 closed, assigned to nobody

[2018-10-26 17:27] smf0627 commented on #1662
Try:
`<ng-template tabHeading><i class="fa fa-star maroon"></i>Tab 2</ng-template>`

Then in your CSS:
`:host >>> .maroon { color: maroon; }`

[2018-10-27 19:49] Kluskey commented on #4562
I don't believe the above comment works because of Angular's view encapsulation. The `.modal-dialog` class is too nested for it to be directly modifiable in the component's CSS file.

[2018-10-29 01:51] vn425282 commented on #1819
no one please help me with this issues :(

[2018-10-29 04:39] Tushar-S-K commented on #4515
Having same behaviour here, any solution ??

[2018-10-29 11:20] iMushi commented on #1819
@vn425282 just made an adjustment... let me know

Note: it only works with one modal at the time, like I said, I made this for my circumstances...

[2018-10-29 13:15] anmol-rodi commented on #2707
@NenadJovicic  Thanks mate it worked for me !

[2018-10-29 20:46] gnchiesa commented on #2385
Hi @nitin466 there are only two params, you can mix-and-match the config with the size, simething like:
const modalConfig = {
      title: 'Mi modal title',
      class: 'modal-lg',
      someOtherData: 'other sample data'
    };
    this.bsModalRef = this.bsModalService.show(MyComponent, modalConfig);

and you'll be able to use the title value, the 'someOtherData' value inside the component MyCom

[2018-10-29 20:47] gnchiesa commented on #4562
Is there some kind of workaround for this? Thx

[2018-10-29 21:34] gnchiesa commented on #2385
@nitin466 took me a while to figure it out, but a quick loko thriugh the source gave me an idea:

const modalOptions = {
      initialState: {
        title: 'some title',
        otherData: 'some other value'
      },
      class: 'custom-width-class'
    };
    this.bsModalRef = this.bsModalService.show(SampleComponent, modalOptions);

so this way you can have data sent to the modal, and you can

[2018-10-30 13:23] dmitry-kostin opened #4752 "Khronos locale error: please load locale "en" before using it"
I just updated to angular 7 and started to get following errors when I open datepicker:

`Khronos locale error: please load locale "en" before using it`
`ERROR TypeError: Cannot read property 'firstDayOfWeek' of null`

I already had played with `defineLocale('en')` and `this.localeService.use('en')` but had no luck
Anybody can explain this? From docs it seems 'en' is already default locale and no

[2018-10-30 14:24] svetoldo4444ka commented on #4685
Sorry, but a possibility to open link in a new tab is contrary to standard typeahead's behavior

[2018-10-30 14:48] MatiasPipo commented on #3705
On View:
<input
            bsDatepicker
            (onShown)="onOpenCalendar($event)">

On Component:

onOpenCalendar(e) {
    if (this.formatoMesAnio) {
      e.setViewMode('month');

      e.monthSelectHandler = (event: CalendarCellViewModel): void => {
        e.value =  event.date;
        return;
      };
    }
  }

It´s manually and work for me !!!

[2018-10-30 14:58] Domainv commented on #4551
closed as duplicate of #551

[2018-10-30 14:58] #4551 closed, assigned to nobody

[2018-10-30 15:15] smartman commented on #4730
Same issue here.

@Domainv Is this fix in ngx-bootstrap and if not then in what project?
Any task trackers to follow for keeping up to date with issue resolution the status?

[2018-10-30 15:20] bravier opened #4754 "Datepicker not showing days nor months on `ng build` but OK on `ng serve`"
### Bug description or feature request: bug description
### Versions of ngx-bootstrap, Angular, and Bootstrap:
ngx-bootstrap: 3.1.1
Angular: 6.1.10 / 7.0.1
Bootstrap: 3.3.7
### Build system: Angular CLI

Hello,

Since v3.1.1 the `datepicker` does not seem to work anymore (see attached screenshot) when building our app.
Our app is in French so we are using `defineLocale` to set the lang.
What I tes

[2018-10-30 15:26] ghost commented on #4729
@t-zander please provide a reproduction of this issue.
You can use one of these templates:
Plunkr: https://plnkr.co/edit/0NipkZrnckZZROAcnjzB?p=preview
StackBlitz: https://stackblitz.com/edit/ngx-bootstrap-hkm8pi?file=app/app.module.ts

[2018-10-30 15:56] Domainv commented on #4754
@bravier please provide a code of reproduction for this issue.

[2018-10-30 16:20] ghost commented on #4488
@praveenrengarajan please, provide a reproduction of this issue.
You can use one of these templates:
Plunkr: https://plnkr.co/edit/0NipkZrnckZZROAcnjzB?p=preview
StackBlitz: https://stackblitz.com/edit/ngx-bootstrap-hkm8pi?file=app/app.module.ts

[2018-10-30 16:28] ghost commented on #4506
@Vishesh-Gupta please, provide a reproduction of this issue.
You can use one of these templates:
Plunkr: https://plnkr.co/edit/0NipkZrnckZZROAcnjzB?p=preview
StackBlitz: https://stackblitz.com/edit/ngx-bootstrap-hkm8pi?file=app/app.module.ts

[2018-10-30 16:34] suparnavg commented on #749
+1...

[2018-10-30 16:41] bravier commented on #4754
Thanks for your comment @Domainv.

Unfortunately I can't give you a code that reproduces the issue.
Instead what I can do is to show you how we are using the datepicker.

Here are the involved parts:

_date-chooser.component.ts_
[code]

_date-chooser.component.html_
[code]

Hope this helps!

[2018-10-31 03:21] ghost commented on #4754
I am also facing this same problem, I am on 'en' locale though
<img width="565" alt="screen shot 2018-10-31 at 9 02 19 am" src="https://user-images.githubusercontent.com/42459746/47764182-2bcc4500-dcec-11e8-9ae1-7be8bef49201.png">

[2018-10-31 03:36] ghost commented on #4754
I don't know If this might help you guys, but I downgraded to 3.0.0 and it's working fine. I suggest downgrading for a while till they fix this problem 👍

[2018-10-31 04:39] RamBM commented on #4551
what is the reason behind to close this question? I haven't any  reliable solution for this Question

[2018-10-31 05:28] Vips120 commented on #4699
Thnx for Ur reply but I did on my way :-)

On Thu 18 Oct, 2018, 20:15 Vitaliy Makogon, <notifications@github.com>
wrote:

[2018-10-31 05:58] Wizardinfosys commented on #4714
@buddyackerman  Did you get any hack for animation?

[2018-10-31 06:33] ameyraut23 commented on #4269
But after we do a npm install the changes would be overridden, could you please let us know the code configuration, so it wont be replaced on build .
thanks in advance !!

[2018-10-31 08:26] dmitry-kostin commented on #4752
fixed for now by downgrading from 3.1.1 to 3.0.1

[2018-10-31 08:31] inhyeok opened #4757 "[Daterangepicker] calendar month moved when start date click"
### Bug description or feature request:
I have a question regarding this source. Currently, when there are October and November and when the user click on November calender, October disappears. November calendar shift to where October was and December appears on where November was. Are there anyway that I can use this source without making new month coming out when user select the second month fro

[2018-10-31 09:00] bravier commented on #4754
Absolutely @rabingaire20 we also fixed it by downgrading to 3.0.1.

[2018-10-31 09:54] Domainv commented on #4754
@bravier This issue related to https://github.com/angular/angular-cli/issues/12112
just set "buildOptimizer": false

[2018-10-31 10:37] Domainv commented on #4752
@dmitry-kostin Could you be more specific or/and provide a reproduction of this issue.

[2018-10-31 10:44] ghost commented on #4548
@TannerPlauche Could you be more specific and provide a reproduction or example
You can use one of these templates:
Plunkr: https://plnkr.co/edit/0NipkZrnckZZROAcnjzB?p=preview
StackBlitz: https://stackblitz.com/edit/ngx-bootstrap-hkm8pi?file=app/app.module.ts

[2018-10-31 10:54] ghost commented on #4538
@gspeedtech you should try a new ngx-bootstrap version - 3.1.1 (we have an example using with system.js [here](https://github.com/valor-software/angular2-quickstart) and if something goes wrong please provide a reproduction of this issue.
You can use one of these templates:
Plunkr: https://plnkr.co/edit/0NipkZrnckZZROAcnjzB?p=preview
StackBlitz: https://stackblitz.com/edit/ngx-bootstrap-hkm8pi?fil

[2018-10-31 10:56] ghost commented on #4543
@RogelioCornejo Could you provide a reproduction of this issue?
You can use one of these templates:
Plunkr: https://plnkr.co/edit/0NipkZrnckZZROAcnjzB?p=preview
StackBlitz: https://stackblitz.com/edit/ngx-bootstrap-hkm8pi?file=app/app.module.ts

[2018-10-31 12:15] fchiumeo commented on #4752
maybe related #4754

[2018-10-31 13:25] ghost commented on #4516
@prindacerk you can use CSS styles. For example, you can add `display: flex; justify-content: space-between` to `tab-container`, etc.
We are going to completely refactor this component. We will consider all wishes. Thank you for your question

[2018-10-31 13:26] #4516 closed, assigned to nobody

[2018-10-31 14:10] ghost commented on #4539
@ceyon Could you be more specific what's the problem? Did you have a problem with converting output data? You can convert it with data pipe. Or something else?  Or you can provide a reproduction of this issue.
You can use one of these templates:
Plunkr: https://plnkr.co/edit/0NipkZrnckZZROAcnjzB?p=preview
StackBlitz: https://stackblitz.com/edit/ngx-bootstrap-hkm8pi?file=app/app.module.ts

[2018-10-31 15:09] ghost commented on #4416
@akash-potdar7 Did you add ModalModule and AlertModule to imports? We have an [example](https://valor-software.com/ngx-bootstrap/#/modals#modal-with-popups). Maybe it will help you. If not,
please provide a reproduction of this issue.
You can use one of these templates:
Plunkr: https://plnkr.co/edit/0NipkZrnckZZROAcnjzB?p=preview
StackBlitz: https://stackblitz.com/edit/ngx-bootstrap-hkm8pi?file=ap

[2018-10-31 16:51] ghost commented on #4424
@MarcoLeko please provide a reproduction of this issue.
You can use one of these templates:
Plunkr: https://plnkr.co/edit/0NipkZrnckZZROAcnjzB?p=preview
StackBlitz: https://stackblitz.com/edit/ngx-bootstrap-hkm8pi?file=app/app.module.ts

[2018-10-31 17:09] ghost commented on #4437
@monis01 Could you be more specific and provide a reproduction of this issue.
You can use one of these templates:
Plunkr: https://plnkr.co/edit/0NipkZrnckZZROAcnjzB?p=preview
StackBlitz: https://stackblitz.com/edit/ngx-bootstrap-hkm8pi?file=app/app.module.ts

[2018-10-31 17:11] clabough opened #4760 "Can't resolve 'ngx-bootstrap/tabs/tab.directive'"
### Bug description or feature request:

ng build throws this error
`"Error: Can't resolve 'ngx-bootstrap/tabs/tab.directive'"`

3.0.1 didn't have this issue, but 3.1.1 does

I've tried both of these

`import { TabDirective } from "ngx-bootstrap/tabs/public_api";`
`import { TabDirective } from "ngx-bootstrap/tabs/tab.directive";`

### Plunker/StackBlitz that reproduces the issue:

https://stackbli

[2018-10-31 18:27] buddyackerman commented on #4714
@Wizardinfosys no I haven't had time to work on that specifically but I was having a different problem with the carousel that make sit look like this won't be possible without a re-write of the component.  The reason is is that it appears that the slides are deleted when they are not visible, so it's hard to animate something that doesn't exist.

[2018-10-31 20:51] prindacerk commented on #4516
@svetoldo4444ka css won't help if we want to control the placement of the
tab header links. The header placement is autogenerated. Even if I put the
tab tag inside a col-8 div, the tab contents will also be within the col-8
div. We can't have the header in col-8 div and the tab contents in a
complete new row. Look at the screenshot I provided which explains what I
mean.

Good that you are refactor

[2018-10-31 22:02] kobayakid commented on #3014
i came across this issue and a possible workaround may be calling markAsPristine() and markAsUntouched() form methods after setting the null value. it might work on some cases.

[2018-10-31 22:07] mgpGit-zz commented on #2627
what's the status on this? Would love this!

[2018-11-01 03:01] YuZaiShui opened #4761 "locales.js:84 Khronos locale error: please load locale "zhcn" before using it"
why locales.js throw the fault when i use ngx-bootstrap@2.0.0.
In my project, i import znCnlocale && defineLocale().

[2018-11-01 09:36] Domainv commented on #4441
duplicates of #4437

[2018-11-01 09:36] #4441 closed, assigned to nobody

[2018-11-01 09:41] Domainv commented on #4760
@clabough
`import { TabDirective } from "ngx-bootstrap/tabs`

[2018-11-01 09:41] #4760 closed, assigned to nobody

[2018-11-01 09:45] Domainv commented on #4761
@YuZaiShui
There's no need to open an issue here if you want to ask a general question.
Use <a href="https://stackoverflow.com/questions/tagged/ngx-bootstrap">StackOverflow</a> or <a href="https://ngx-slack.herokuapp.com/">Slack</a> instead

Also, recommend using last version 3.1.1

[2018-11-01 09:45] #4761 closed, assigned to nobody

[2018-11-01 10:16] ghost commented on #4458
@thaison316 Please tell us what is your goal, and could you provide a reproduction of your code
You can use one of these templates:
Plunkr: https://plnkr.co/edit/0NipkZrnckZZROAcnjzB?p=preview
StackBlitz: https://stackblitz.com/edit/ngx-bootstrap-hkm8pi?file=app/app.module.ts

[2018-11-01 11:45] ghost commented on #4451
@pavinthan thank you for your question. But this is a general question. Please,
use <a href="https://stackoverflow.com/questions/tagged/ngx-bootstrap">StackOverflow</a> or <a href="https://ngx-slack.herokuapp.com/">Slack</a> instead

[2018-11-01 12:05] ghost commented on #4396
@sweetzhang can't reproduce in a new ngx-bootstrap version. Please try a new version.

[2018-11-01 12:26] #4451 closed, assigned to nobody

[2018-11-01 12:42] FrancescoBorzi commented on #4054
@valorkin this looks to be an issue again with Angular 7, please check https://stackoverflow.com/questions/53087057/production-angular-7-app-produces-runtime-errors-in-console-related-to-ngx-boots

[2018-11-01 12:55] FrancescoBorzi commented on #4054
@Domainv

[2018-11-01 13:27] Domainv commented on #4054
just set "buildOptimizer": false

[2018-11-01 13:28] Domainv commented on #4752
Build method was changed to use ng-packagr and making the library in Angular Package Format.

But the result got an error related with buildOptimizer

For now, a temporary solution is a turn off buildOptimizer.
Working on avoiding the problem...

Also, the issue looks like:
![screen shot 2018-11-01 at 3 11 52 pm](https://user-images.githubusercontent.com/14885427/48402725-02bca300-e735-11e8-9e44-a

[2018-11-01 14:32] FrancescoBorzi commented on #4054
@Domainv the one you pointed could only be a temporary solution, but the issue should stay open until it properly get fixed again.

[2018-11-01 16:40] #4054 closed

[2018-11-01 16:43] Domainv commented on #4054
closes as duplicate of #4752

[2018-11-01 17:04] ghost commented on #1468
@seekheart if you still use bootstrap 3 - you should add  `[panelClass]="panel-primary"` class (in a new ngx-bootstrap version it works). If you use bootstrap 4 - you should add `[panelClass]="bg-primary"`. Also you should change button's font color inside `"accordion-toggle"`

[2018-11-01 17:17] pavinthan commented on #4451
@svetoldo4444ka It's not general question, It's feature request. please keep this open because We can track the feature

[2018-11-01 18:36] carlitospc commented on #568
@Hongbo-Miao  la respuesta es de la siguiente forma:

**[config]="{ignoreBackdropClick: true, keyboard: false}"**
En el html, es decir:

[code]

[2018-11-02 09:10] Domainv commented on #4668
@Yulin777 It's will be great

[2018-11-02 09:44] ghost commented on #2674
There has been no response. That's why the issue was closed

[2018-11-02 09:44] arturhun commented on #2460
What if the `show()` method could return an observable that emits a literal with user-specified property (name of the emitter being observed).

Something like:

[code]

I would personally be happy with this syntax. Would that be possible?

[2018-11-02 09:45] #1468 closed

[2018-11-02 09:47] #2674 closed

[2018-11-02 11:12] shivamdawas commented on #568
it works @Hongbo-Miao
add this [config]="{ignoreBackdropClick: true, keyboard: false}"

[2018-11-02 11:36] Domainv commented on #4668
@Yulin777 temporary solution for it
[code]

[2018-11-02 12:50] FrancescoBorzi commented on #4752
@Domainv  are you sure that this issue depends on the one you linked? because that one is open since September. While our issue affects only 3.1.1 and not 3.0.1 of ngx-bootstrap

[2018-11-02 16:26] ghost commented on #4464
@arangates this is due to the timezone component in the Date. You can you something like this
`const utcDate = new Date(Date.UTC(
   your_date.getFullYear(),
   your_date.getMonth(),
   your_date.getDate(),
   your_date.getHours(),
   your_date.getMinutes()));
const resultDate = Json.stringify(utcDate);`

[2018-11-02 22:53] craftbyte opened #4772 "Don't add styles if project is using Sass with ng add in Angular CLI"
Every time a user uses `ng add ngx-bootstrap --component component` the schematic add the bootstrap and datepicker styles to the angular.json file. That takes up unnecessary space when users are using styles.scss to import Bootstrap with custom variables. The solution would be to check if the project type is scss or check for references of bootstrap inside the style files.

[2018-11-03 11:18] maleet commented on #4392
One nice way without methods, variables:
[code]

[2018-11-04 03:30] gowthamkumardoit commented on #4754
@Domainv  You save my day 👍

[2018-11-04 09:35] shlomiah commented on #4485
This UX is very not pleasant, can someone give an estimation when it will be fixed?

[2018-11-04 09:52] dabbid commented on #3348
In the meantime, and in same vein than @mkamranhamid, I found a simpler way (but "hacky" as well) to achieve this:
[code]

[code]

However, there's 2 drawbacks (apart from the fact that's not a long-term solution 🙂):
- it only works if locale is default (en). To handle other locales, a library like momentjs will be needed to parse date string
- setting new value for min & max date doesn't trigger

[2018-11-04 10:38] arturikoX commented on #2618
![image](https://user-images.githubusercontent.com/26222428/47963026-5c82e600-e02e-11e8-81e3-f656fffc51b6.png)

Any idea what the level stands for ?
If I have modal + submodal, and I want to close only the submodal,
The level is 0 ? 1 ? 2 ?

[2018-11-05 04:08] ghost commented on #4726
All the links to documentation and demos, including the one you put in your comment go here:
https://ngx-bootstrap-latest.surge.sh/#/
or here:
https://valor-software.com/ngx-bootstrap/#/
... a page that promises the existence of demos and documentation.
Could you please identify links to actual documentation and demos?
Thank you.

[2018-11-05 04:46] mustafa-walkover commented on #2627
This feature required in ngx-bootstrap. Please add it

[2018-11-05 07:17] valorkin commented on #4726
Mm. Links you added are working for me.
Which browser are you using?

[2018-11-05 10:13] ghost commented on #3967
There has been no response. That's why the issue was closed

[2018-11-05 10:40] H--o-l commented on #4396
@svetoldo4444ka I retry with ngx-bootstrap v3.1.1, and I still have the [same issue](https://github.com/valor-software/ngx-bootstrap/issues/4396#issuecomment-393510633).
Can you re-open the issue ?

[2018-11-05 12:40] ghost commented on #1727
@Mercality you can make it by yourself using CSS styles

[2018-11-05 13:30] ghost commented on #1772
@flea19 it was added a [section](https://valor-software.com/ngx-bootstrap/#/popover#triggers-custom). I think it will help you.

`What if I have two triggers, say "focus blur". I would assume this means that popover shows on focus and hides on blur but this is not the case. If I click inside of the popover it closes.`
It means that popover shows if the input element gets focus and popover hides if

[2018-11-05 15:32] mihairadulescu commented on #4413
do you have an update on this topic?

[2018-11-05 17:00] just4anu commented on #4157
Any update on solving why time is returned when selecting a date in datepicker.

[2018-11-05 17:25] angelayanpan opened #4773 "DateRangepicker uses input format "YYYY-MM-DD" and when manually edit to a Valid Date, tab out clears the input value"
### Bug description or feature request:

    [bsConfig]=  "{ rangeInputFormat : 'YYYY-MM-DD', showWeekNumbers: false }

This does format the date range correctly. however when trying to manually change one of the date into a valid date.  For example "2018-11-05 - 2018-11-06"    to "2018-11-05 - 2018-11-07".

Tab out( click anywhere outside the input), the input value will be cleared.

If I comment

[2018-11-05 19:41] molerat619 commented on #749
+1

[2018-11-05 20:06] jvinai commented on #2796
I need to do a left or right display of a popover depending of the room but i cant use `placement` with `'right left'` option so i have to use `auto` instead.
Using `auto` display the popover on top on my element and it is cut in half.

Any solution or plan for fixing this bug ?

[2018-11-06 11:53] antonsimola opened #4775 "Question: how to pass context to tooltip?"
ngx-bootstrap: 3.1.1

Angular: 6

Bootstrap: 4

How to pass context into tooltip? I see that tooltipContext is deprecated. I would have assumed something like this would do it?

[code]

[2018-11-06 15:10] jarekkowol opened #4777 "Question: how to change remove icon in Dynamic tabs?"
It is possible to change remove icon in Dynamic tabs?

I added custom icon with this css:

[code]

But how to remove old icon?

[2018-11-06 16:15] exsoflowe opened #4779 "Feature request for modal via service: show backdrop for each nested modal"
### Feature request:
If I use nested modals, modal service can show only one backdrop.
See demo in documentation: https://valor-software.com/ngx-bootstrap/?gclid=EAIaIQobChMI2Nv51f2_3gIVRqQYCh1dOgJhEAAYASAAEgJrEPD_BwE#/modals#service-nested

There is condition for this behavior in _showBackdrop() method:
https://github.com/valor-software/ngx-bootstrap/blob/development/src/modal/bs-modal.service.ts

[2018-11-06 18:49] #4668 closed, assigned to nobody

[2018-11-06 19:46] jbeckton commented on #2356
Nov 2018, still broken?

[2018-11-07 08:22] Nysosis opened #4781 "Datepicker cursor is showing on disabled dates"
https://github.com/valor-software/ngx-bootstrap/blob/1d2ff35375716dfbbd2bce9bc6dd45376c2ff46b/src/datepicker/bs-datepicker.scss#L157

Within the component, the `.disabled` class gets applied to the `span`, but not the `td`, which means this rule is applying, when I wouldn't expect it to be for a disabled date.

[2018-11-07 08:39] #4464 closed, assigned to nobody

[2018-11-07 08:49] #3967 closed

[2018-11-07 08:52] #1727 closed

[2018-11-07 08:55] #1772 closed

[2018-11-07 08:56] #2986 closed

[2018-11-07 09:03] Priya-Jj commented on #3602
Both Disabled and ReadOnly attributes behave the same way. We have a requirement to have just the input fields to be readOnly, and able to change the time through up/down arrows. Right now, this is not possible.

[2018-11-07 09:55] odedkeren1 commented on #2796
We will be happy to have this fix as well !!!
Looking forward

[2018-11-07 13:06] sherlock1982 commented on #4754
@Domainv this issue exists no matter if I compile to es5 or es6. Well I do understand that buildOptimizer causes this but I believe usage of defaut locale could be made more clear to buildOptimizer.

[2018-11-07 13:44] MarcoLeko commented on #4424
I am really unreliable, for this late response - when u guys are trying to help me out.^^ Sry for that.
I asked the same question at [stackoverflow](https://stackoverflow.com/questions/50840415/typeahead-on-reactive-forms-typeahead-doesnt-show-up) and my issue is already solved a while ago. But after reading my question I have to cringe, just because i mix up template-driven-form approach with rea

[2018-11-07 14:19] byhoratiss commented on #4743
This should help, https://stackoverflow.com/questions/48910732/how-can-i-add-icon-into-ngx-bootstrap-accordion-group-heading/48910861#48910861

[2018-11-07 14:42] volkanokcu commented on #2002
@IlyaSurmay @andrea-spotsoftware  I have same problem. Using Angular2Dragable(ngDraggable directive). Any solution? Thanks.

[2018-11-07 16:01] Vishesh-Gupta commented on #4506
I can't reproduce it anymore as I don't have the access to the company code anymore. I used to work there as an intern when I posted this but the issue was basically not able to find the for loop in my ts code to loop around the object in the ngx-bootstrap typeahead

[2018-11-07 16:41] StarpTech opened #4784 "v3.1.1 removes component-loader from dist folder"
As titled try `npm i ngx-bootstrap@3.1.1` there is no `component-loader` but in version `3.0.1` its still there.

[2018-11-07 20:39] ecancino opened #4786 "feat(datepicker) Disable onBlur autocomplete"
### Help modifying a feature

I don't want the onBlur autocomplete feature and I haven't found a way to remove the onBlur method because is inside the DatepickerInputComponent. I have tried overriding it with a provider, creating a lower level "input" directive but to no avail.

Any help would be appreciated and maybe I can create a PR after with configuration to skip it.

Thank you.

### StackBli

[2018-11-07 21:44] globallpoints commented on #3755
Same issue here! Isn't there any different event for that?

[2018-11-07 22:10] dherges commented on #4651
Hi @Domainv, did you figure out which parts of the source code trigger the error? I couldn't until now in a ~35 module, 150+ components library.

[2018-11-07 23:18] sebastian-zarzycki-apzumi commented on #4754
It looks to me, that the problem is actually in the code of ngx-bootstrap, rather than in Angular CLI.

[2018-11-08 07:29] volkanokcu opened #4789 "BsModalService (Component) & Angular2 Draggable"
I can use static modal with draggable. But cant do that with BsModalService component modal. If i open draggable div in component only content will be draggable, no effect for main panel. How can i add draggable directive to outer modal? Thanks...

Same question is here;
https://github.com/valor-software/ngx-bootstrap/issues/2002#issuecomment-336424460

[2018-11-08 14:12] ghost commented on #2616
here is the example - https://stackblitz.com/edit/ngx-bootstrap-nbtfel?embed=1&file=index.html

[2018-11-08 14:29] #2616 closed

[2018-11-08 14:39] ghost commented on #2614
@Anzge @ebakunin @ArileK I couldn't reproduce this issue in a new ngx-bootstrap version. Please try a new version or provide a reproduction of this issue.
You can use one of these templates:
Plunkr: https://plnkr.co/edit/0NipkZrnckZZROAcnjzB?p=preview
StackBlitz: https://stackblitz.com/edit/ngx-bootstrap-hkm8pi?file=app/app.module.ts

[2018-11-08 15:24] ghost commented on #2577
@singhrasster maybe it will help you https://stackblitz.com/edit/ngx-bootstrap-xgyqab?embed=1&file=app/app.component.html

[2018-11-08 15:50] Domainv commented on #4784
@StarpTech
it still there. (3.1.1)
import { ComponentLoader } from 'ngx-bootstrap/loader';
or
import { ComponentLoader } from 'ngx-bootstrap';

Or give me please reproduction of your problem
https://stackblitz.com/edit/ngx-bootstrap-hs952f?file=app/app.component.ts

[2018-11-08 16:13] StarpTech commented on #4784
Try
[code]
result
![image](https://user-images.githubusercontent.com/1764424/48211349-9bd86c00-e379-11e8-8165-394a50338f0d.png)

[2018-11-08 16:52] Domainv commented on #4784
@StarpTech Ok will be fixed soon

[2018-11-08 18:04] wtravO commented on #4754
Setting the buildOptimizer to false for a single package is not the way to go.  This seems like a library issue with ngx-bootstrap.

[2018-11-09 08:00] AndreyYevtukhov commented on #4743
@byhoratiss yep, that's it! 👍

P.S. For someone like me, direct link in documentation:
https://valor-software.com/ngx-bootstrap/#/accordion#custom-html

[2018-11-09 08:00] #4743 closed, assigned to nobody

[2018-11-09 08:33] FrancescoBorzi commented on #2616
@svetoldo4444ka that's not what I meant. I meant a way to make it look like the Datepicker. So you have an input, you click on it and the popup will open.

However this is not really important and I personally no longer need it anyway.

[2018-11-09 09:31] Domainv commented on #4754
closes as duplicate of #4752

[2018-11-09 09:31] #4754 closed, assigned to nobody

[2018-11-09 09:39] adrienverge commented on #4752
@Domainv

- For most projects it's not possible to "just set `buildOptimizer: false`" on production builds.

- According to several people, the issue seems to come from ngx-bootstrap, not angular-cli. Can you give more details on why you labeled this `angular issue`? Do you have extra info on the cause of the problem? I (and others, I believe) would be happy to contribute and try to fix this probl

[2018-11-09 09:47] Domainv commented on #4752
@adrienverge I know, I am working on avoiding the problem

[2018-11-09 10:37] ghost commented on #4400
@rbrewington can you be more specific why you need to apply an active class to an element inside the template? Because you can add styles in such way `.active "your element/class" {...styles}`

[2018-11-09 11:09] svetoldo4444ka commented on #4477
@KapilSachdev can you provide a reproduction of this issue.
You can use one of these templates:
Plunkr: https://plnkr.co/edit/0NipkZrnckZZROAcnjzB?p=preview
StackBlitz: https://stackblitz.com/edit/ngx-bootstrap-hkm8pi?file=app/app.module.ts

[2018-11-09 14:44] rbrewington commented on #4400
@svetoldo4444ka I honestly can't recall. Sorry for the trouble.

[2018-11-09 14:44] #4400 closed, assigned to nobody

[2018-11-09 14:53] #4506 closed, assigned to nobody

[2018-11-09 15:03] ghost commented on #4526
There has been no response. That's why the issue was closed

[2018-11-09 15:04] #4526 closed, assigned to nobody

[2018-11-09 16:54] jared-christensen commented on #4426
I ran into this too. The drop-down menu is positioned absolute. So the container needs to be positioned, relative. It works in the documentation because it's wrapping container .bd-example has position relative. This is what it looks like using the example "dropdowns anchor trigger" straight from the documentation. https://valor-software.com/ngx-bootstrap/#/dropdowns#anchor-trigger
![image](https:

[2018-11-09 17:27] xky0007 opened #4792 "Angular 7 + ngx-bootstrap-modal, module not found"
StackBlitz: https://stackblitz.com/edit/angular-uc6czc

Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 3.1.1

Angular: 7.0.1 or 7.0.3

Bootstrap: 4.1.3

Build system: Angular CLI

In Angular 6 I used `constructor(private bsModalRef: BsModalRef)` so I can pass values to my child popup component.

But when I update to angular 7, it said `Module not found: Error: Can't resolve 'ng

[2018-11-09 19:54] JavierOrellanaR commented on #1628
bump!

[2018-11-09 21:17] wcomartin commented on #4490
Is this being worked on? is there a workaround?

[2018-11-09 22:01] exsoflowe commented on #4792
I changed path from `'ngx-bootstrap/modal/bs-modal-ref.service'` to `'ngx-bootstrap/modal'`. Now it works.

[2018-11-10 06:47] puneetratan commented on #1168
try this

[code]

[2018-11-11 21:25] dahool opened #4794 "Datepicker not using dateInputFormat when setting value to model"
### Versions of ngx-bootstrap, Angular, and Bootstrap:
ngx-bootstrap: 3.1.1
Angular: 7
Bootstrap: 4
### Build system: Angular CLI, System.js, webpack, starter seed: CLI

I'm using the following (found on stackoverflow) to customize date format:

export function getDatepickerConfig(): BsDatepickerConfig {
  return Object.assign(new BsDatepickerConfig(), {
    dateInputFormat: 'DD/MM/YYYY',
    show

[2018-11-12 09:14] Domainv commented on #4792
@xky0007 should be enough ngx-bootstrap/modal
Deep imports should not work

[2018-11-12 09:44] ghost commented on #4529
@igorcemim Could you please provide a reproduction of this issue.
You can use one of these templates:
Plunkr: https://plnkr.co/edit/0NipkZrnckZZROAcnjzB?p=preview
StackBlitz: https://stackblitz.com/edit/ngx-bootstrap-hkm8pi?file=app/app.module.ts

[2018-11-12 11:19] ghost commented on #4393
@SerCrAsH could you please update your ngx-bootstrap package to the latest version(3.1.1) and if something goes wrong provide a reproduction of this issue.
You can use one of these templates:
Plunkr: https://plnkr.co/edit/0NipkZrnckZZROAcnjzB?p=preview
StackBlitz: https://stackblitz.com/edit/ngx-bootstrap-hkm8pi?file=app/app.module.ts

[2018-11-12 12:28] valorkin commented on #4393
ngx-bootstrap v3 works with angular v6 and v7
ngx v2 with angular v2 and v4 as far as I remember
Angular v4 -> v6 has breaking changes, this is why ngx-boostrap had major version bump

[2018-11-12 12:28] #4393 closed, assigned to nobody

[2018-11-12 12:32] #4792 closed, assigned to nobody

[2018-11-12 16:09] ghost commented on #2824
@Alpha0723 @polaris327 Maybe this [code](https://stackblitz.com/edit/ngx-bootstrap-twrhnj?file=app%2Fapp.component.html) helps you

[2018-11-12 16:12] Faqtt0 opened #4795 "Datepicker error when builds app Angular"
The component works properly, but when you runs build the angular, you can't see the values, just letters on the datepicker.
My version "ngx-bootstrap": "^3.1.1",
Build image 1
![screenshot_1prod](https://user-images.githubusercontent.com/12704298/48362924-def15280-e68b-11e8-9c3b-3ec8bf2f2955.png)

Build image 2
![screenshot_2prod](https://user-images.githubusercontent.com/12704298/48362968-f4ff13

[2018-11-12 20:11] valorkin commented on #4795
@Faqtt0 we will need some small repo to reproduce please
is there are any errors in the console?
@Domainv looks serious

[2018-11-12 23:21] pehu71 commented on #4795
Hi everyone, since I'm facing the same issue at work, I made the repro-repo:
[https://github.com/pehu71/issue4975-demo](https://github.com/pehu71/issue4975-demo)
notes written in README.md.
In my opinion the UglifyJSPlugin is the culrpit, but it's just first feel.

[2018-11-13 09:08] Domainv commented on #4795
@valorkin It's same issue with https://github.com/valor-software/ngx-bootstrap/issues/4752
The problem occurs when buildOptimizer is enabled.
I am working on avoiding the problem

[2018-11-13 09:22] Domainv commented on #4795
@Faqtt0 For now, a temporary solution is a turn off buildOptimizer.
Or  downgrade from 3.1.1 to 3.0.1

[2018-11-13 10:03] Faqtt0 commented on #4795
Sorry to take a long time to answer. @valorkin it hasn't any error in the console.
I use buildOptimizer = false.
@Domainv I'll downgrade to test it. Thanks a lot.

[2018-11-13 10:12] nimatrazmjo commented on #4308
Hey guys I have the same probelm. Can anyone tell me what am I doing wrong ?

[code]

[2018-11-13 10:30] Faqtt0 commented on #4795
@Domainv  i made the downgrade. But it didn't work. I've changed the version in "package.json" and deleted the folder node_modules. After that, i've made the command "npm install" in the console.

[2018-11-13 10:53] Domainv commented on #4795
@Faqtt0 need some small repo to reproduce please

Because problem in this repo https://github.com/pehu71/issue4975-demo @pehu71
 solved by switching buildOptimizer to false

[2018-11-13 11:47] Faqtt0 commented on #4795
@Domainv I've made what you asked
https://github.com/Faqtt0/ngxboot-error-datepicker
this project keeps the error with version 3.0.1 with ng build --prod --base-href=/teste/
Just only when disable buildOptimizer works.

[2018-11-13 12:05] abhishekalai commented on #1698
Either a bug, or include adding `encapsulation: ViewEncapsulation.None` to the component.ts in Docs.
@jechazelle 's answer worked for me

[2018-11-13 12:15] Domainv commented on #4795
@Faqtt0
You don't have any ngx-bootstrap versions in package.json
and any using of datepicker in the repo
![screenshot from 2018-11-13 14-15-09](https://user-images.githubusercontent.com/14885427/48412882-9ea6d880-e74e-11e8-9178-4faf050c62ed.png)

[2018-11-13 12:23] Faqtt0 commented on #4795
@Domainv
I'm so sorry. Now it's with all dependencies. Like the other project. i've  Commited the other files.

[2018-11-13 18:24] valorkin commented on #4794
Point for enchantment

[2018-11-14 05:28] abbhishek971 commented on #1698
Either a bug, or include adding `encapsulation: ViewEncapsulation.None` to the component.ts in Docs.
@jechazelle 's answer worked for me

[2018-11-14 09:04] Abdourahmani commented on #4487
+1 same problem

[2018-11-14 09:40] Domainv commented on #4795
@Faqtt0 "ngx-bootstrap": "^3.0.1" change to "ngx-bootstrap": "3.0.1"
then npm install
and it will start work coorectly

[2018-11-14 09:40] #4795 closed, assigned to nobody

[2018-11-14 10:58] Faqtt0 commented on #4795
@Domainv thanks a lot.
The first time with npm install it didn't work. Then, i had to remove node_modules, execute npm install e clear again the browser.

[2018-11-15 09:35] #4784 closed, assigned to nobody

[2018-11-15 09:40] StarpTech commented on #4784
@domainv thank you!

[2018-11-15 12:05] i1990jain opened #4808 "Order results when using typeahead from ngx-bootstrap?"
I am using customTemplate for my typeahead which has three fields

`({{model.number}}-{{model.city}}-{{model.state}})`

using the number as the typeaheadOptionField, I see there is typeaheadGroupField available which I use on the number field .... I would like to know is there anyway in which I can order the result based on the city field?

[code]
<img width="445" alt="screen shot 2018-11-15 at 12

[2018-11-15 13:05] PrashanthGowda opened #4809 "Error: Failed to find 'node_modules/ngx-bootstrap/datepicker/bs-datepicker.css'"
For `"@angular-devkit/build-angular": "^0.10.5",` i am getting following error,

[code]

for `"@angular-devkit/build-angular": "^0.8.7",` it works fine.

package.json

[code]

angular

[code]

[2018-11-15 13:50] svetoslavatanasov commented on #4809
+1

[2018-11-15 14:01] pwinstead opened #4810 "Popover is closing on inside click when it shouldn't."
### Bug description or feature request:
Popover with custom template and outsideClick=true will close when user clicks inside popover if click results in *ngFor bound data within the popover being changed.

If outsideClick=false then the popover does not close.

### Plunker/StackBlitz that reproduces the issue:
Stackblitz example:
https://stackblitz.com/edit/ngx-bootstrap-8aqjmh

### Versions of n

[2018-11-15 14:37] volkanokcu commented on #4789
Any suggestion?

[2018-11-15 15:34] ludmilanesvitiy commented on #4399
@tttpco Hi! Maybe https://github.com/valor-software/ngx-bootstrap/pull/4634 and https://github.com/valor-software/ngx-bootstrap/pull/4787 PR's could help you to contribute, as an example of adding new locales. Anyway, your PR will be tested when it'll be ready.

[2018-11-15 21:55] AbelValdez commented on #1519
Add in the global styles.scss
[code]

[2018-11-16 00:08] valorkin commented on #4809
@Domainv is it fixed in dev branch?

[2018-11-16 00:09] #4721 closed, assigned to nobody

[2018-11-16 09:05] Domainv commented on #4809
@valorkin checking

[2018-11-16 09:55] Domainv commented on #4809
@valorkin in the dev branch, I cannot reproduce
By the way as well as in 3.1.1 version

[2018-11-16 10:04] Domainv commented on #4809
@PrashanthGowda  Can you provide a reproduction of this issue?
Some small repo with reproduction it helps a lot
or
You can use one of these templates:
https://stackblitz.com/edit/ngx-bootstrap-3tldte?file=app/app.component.ts

[2018-11-16 10:20] ghost commented on #3287
There has been no response. That's why the issue was closed

[2018-11-16 10:29] #3287 closed

[2018-11-16 10:39] prizeGit commented on #749
+1 Using typeahead on a search form which need to be populated after the first initial search.

[2018-11-16 11:01] ghost commented on #3142
@sentjurv I couldn't reproduce this issue (I used 3.1.1 version of ngx-bootstrap) Please, use the newest version or provide a reproduction of this issue.
You can use one of these templates:
Plunkr: https://plnkr.co/edit/0NipkZrnckZZROAcnjzB?p=preview
StackBlitz: https://stackblitz.com/edit/ngx-bootstrap-hkm8pi?file=app/app.module.ts

[2018-11-16 12:05] PrashanthGowda commented on #4809
@Domainv below is the repo link,

https://github.com/PrashanthGowda/ngxerror

[2018-11-16 13:58] Domainv commented on #4809
Closing as is not ngx-bootstrap issue.
bs-datepicker.css still there

![screenshot from 2018-11-16 15-54-05](https://user-images.githubusercontent.com/14885427/48625471-057afa80-e9b8-11e8-8fe3-aa7bf93b475b.png)

[2018-11-16 13:58] #4809 closed, assigned to nobody

[2018-11-16 19:50] antonsimola commented on #4775
ended up using popover for this use case, it allowed easier context passing.

[2018-11-16 19:50] #4775 closed, assigned to nobody

[2018-11-16 20:09] ayyash commented on #4054
I don't understand, this is marked as closed but the solution is not really a solution, downgrading to 3.0.1 makes it work, which means what? how do we know if the issue belongs to angular or not? is there an open issue on angular regarding this?

[2018-11-16 20:17] Domainv commented on #4054
@ayyash If you about the issue https://stackoverflow.com/questions/53087057/production-angular-7-app-produces-runtime-errors-in-console-related-to-ngx-boots

The issue fixed but not released yet, before release workaround to solve the problem is to set buildOptimizer to off or downgrading to 3.0.1

[2018-11-17 00:29] Rajanusa commented on #3261
Can any one explain how to implement not to select first by default.
I found someone suggested to override select event.
please suggest how to avoid selecting the first  when user is not selecting that.

[2018-11-18 09:53] valorkin commented on #4772
@Domainv sounds interesting to resolve if even possible

[2018-11-18 18:17] Domainv commented on #4772
@valorkin roger that

[2018-11-18 21:31] ecancino commented on #4786
@valorkin Any help would be appreciated.

[2018-11-19 05:18] PrashanthGowda commented on #4809
@Domainv if it is not an ngx-bootstrap issue, do you have any idea what could have possibly gone wrong???

[2018-11-19 09:04] grubeninspekteur commented on #3755
FYI, if someone else stumbles upon it: Together with [this Firefox bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1386418) (nsLayoutUtils::GetNearestScrollableFrame) the browser tab may crash if child elements of the tab are removed in the (select) callback.

[2018-11-19 13:21] Filini commented on #3192
+1

[2018-11-19 17:53] egandro opened #4821 "Issue with Datepicker when using optimized Builds"
### Bug description or feature request:

Compiling an application with "ng build --progress=false --prod"

This causes issues on the datepicker and BsDatePicker. All days / month / years are replaced with
"DD", "MM", "YYYY".

--prod enables the "buildOptimizer" flag.

I guess this will will cause some issues in the dependency injection.

### Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-

[2018-11-19 20:41] neilime commented on #4821
Same issue for me.

[2018-11-19 21:52] fchiumeo commented on #4821
xref #4752, #4754

[2018-11-20 04:32] fromage9747 commented on #551
It's been more than 2 years since this feature request.  Any type of ETA when it will be included?

[2018-11-20 08:18] egandro commented on #4821
Thank you. Any release date scheduled for 3.1.2?

[2018-11-20 15:07] exsoflowe commented on #2934
Any solutions (for custom format inside reactive forms) from here or SO don't work for me.
For example, it's uncomfortable to use setValue inside datepicker component wrapper. In this case you can't use parallel form control valueChanges subscriber, because it will return unformatted date. And you need to subscribe on parent of FormControl.

So I created component with input (using ngModel) which

[2018-11-20 15:40] exsoflowe opened #4822 "feat(datepicker) Don't make touched true after changing of month"
### Feature request:
I'm sure it's by design. And not easy to implement because it's standard input tag.

I would like to turned off touched 'true' for form control in this case
1. Open datepicker.
2. Change month.
3. Form control will be touched.

I can use ControlValueAccessor interface to create custom wrapper for datepicker input and write logic for touched states. But it's more complicated.

[2018-11-20 16:35] jopicornell commented on #4821
Same issue here. I've downgraded to 3.0.1 until this is fixed. There's something important between 3.0.1 and 3.1.1?

[2018-11-20 18:56] Domainv commented on #4821
@egandro 3.1.2 with the fix released, please try

[2018-11-20 18:56] #4821 closed, assigned to nobody

[2018-11-20 21:41] beto-rodriguez opened #4823 "Datepicker does not compiles using Ivy compiler --prod"
My app uses the BsDatepicker module, in development it works nice, it used to compile properly in angular 6, I just updated to angular 7, and enabled the new compiler (Ivy), in development it compiles, in production using the `--prod` param I get the following error:

[code]

To reproduce, use angular 7, and enable Ivy, in your tsconfig.json:

[code]

then

[code]

As a work around i disabled the

[2018-11-20 23:50] daviddassau opened #4824 "Future plans for ngModel and Timepicker"
As of right now, I'm only able to populate times (in edit view) with the Timepicker using [(ngModel)], but ngModel is in the process of being deprecated. I was wondering what your plans were going forward with ngModel, specifically in regards to the Timepicker.

[2018-11-21 02:41] jhandel opened #4826 "Datepicker does not work with moments"
### Bug description or feature request:
Not sure if I should say this is a chronos or bsDatePicker issue, but when you pass a moment (instead of a date) into ngModel or bsValue  .toString() is run on it.  toString() returns something that is not parased by default by chronos
![capture](https://user-images.githubusercontent.com/308604/48815420-1bfcbb00-ed04-11e8-8523-bdb944f67b28.PNG)

the parser t

[2018-11-21 07:25] valorkin commented on #4826
Adding support for momentjs or any other date lib objects will mean that we will have to add 3rd party dependency for each.
Most proper way is to convert momentjs object toDate and set it as a value, moment date wrapper always have it ._d field so it will work faster than formatting to string.

Closing as designed

[2018-11-21 07:32] valorkin commented on #4824
Are you referring to https://next.angular.io/api/forms/FormControlName#use-with-ngmodel

If not please drop more info, thanks in advance

One way or another we are always trying to support n-1 angular version (v6 and v7 as of now)
So if it will be deprecated we will release new major version with new way to provide model values

[2018-11-21 07:32] #4824 closed, assigned to nobody

[2018-11-21 07:38] valorkin commented on #4823
hey, Ivy has not yet finished thing, I want to use it too :D
I am constantly monitoring and trying to make ngx-bootstrap compatible with it Ivy
as soon it will work I will post about in twitter :D

[2018-11-21 07:38] #4823 closed, assigned to nobody

[2018-11-21 08:01] valorkin commented on #4789
In short: in order to do so you will need to redefine modal container (outer modal part) so you could make it draggable.
I would say it is possible, but an easy thing to do,

Add an option to pass modal outer container component into bsmodalservice

@domainv please mark it as enhancement to modals

[2018-11-21 11:15] jhandel commented on #4826
easy peasy, except when the date is new/null/undefined... can't just hope over to replacing all my model calls with ._d after them.... That your framing it as not your problem, but its not as easy as ._d to handle on the client side, especially if you have a whole framework of stuff built up around moment (which is kind of used by a lot of people)  ;-).

[2018-11-21 11:47] jhandel commented on #4826
If others run into this like I have.. You can overwrite how moment does its toString()... Not elegant but universal for your project

(moment as any).fn.toString = function() { return this.format("L"); };  <-- now moment's to string is a simple localized date

[2018-11-21 11:52] FrancescoBorzi commented on #4428
the issue looks like solved in version `3.1.2`

[2018-11-21 12:05] valorkin commented on #4826
If rather suggesting to use .toDate() then .toString()

[2018-11-21 12:29] neilime commented on #4821
It's working for me. Thanks

[2018-11-21 12:49] valorkin commented on #4826
One way or another I will think about it, how it could be done: first thing on my mind is to create moment date adapter!

[2018-11-21 12:50] valorkin commented on #4826
@domainv point to roadmap, this is second mention of custom date adaptors per week

[2018-11-21 12:51] jhandel commented on #4826
I would be cool with idea of a custom adapter 👍  (because I am sitting on ASPNetzero framework which has a mountain of Angular and theme framework that sits on Moment)

[2018-11-21 12:54] Domainv commented on #4826
@valorkin roger that

[2018-11-21 13:51] svlada84 commented on #1657
Do you have any progress for this feature? This is very import part of this control?

[2018-11-21 13:55] volkanokcu commented on #4789
**Add an option to pass modal outer container component into bsmodalservice**
I think this is the feature plan? Woud be nice also add ModalOptions to resizeable property.
**In short: in order to do so you will need to redefine modal container (outer modal part) so you could make it draggable.**
How can i redefine outer modal container?
Thanks for the comment.

[2018-11-21 14:40] daviddassau commented on #4824
@valorkin Yes, that's what I was referring to. I work with Angular/NGX Bootstrap on practically a daily basis, so thanks for your amazing product, and commitment to keep it up-to-date!

[2018-11-21 14:44] valorkin commented on #4824
Thanks! Kudos to @domainv ;)

[2018-11-21 18:32] valorkin commented on #4789
Only via PR

[2018-11-21 18:32] valorkin commented on #4789
Or you actually can inherit from it and redifine for whole app, but it will be a hard call

[2018-11-21 18:35] valorkin commented on #1657
Quite easy feature except for date range picker
You can do a PR or we could add to backlog for nearest releases
@domainv can ping Sveta to try to implement it

[2018-11-21 18:53] egandro commented on #4826
I love the idea that ngx-bootstrap is not using moments. Moments is buggy as hell :(

One example:

let x = day when daylight saving starts.
so length of x + 30 days = 30days + minus hour :)

They will never fix this - it doesn't matter how much bug reports we write :(

[2018-11-21 19:01] valorkin commented on #4826
That's why I rewrote momentjs in typescript, chronos module. Just need a bit of time to finish :(

[2018-11-22 01:02] beto-rodriguez commented on #4823
Awesome! thanks for the info

[2018-11-22 12:38] egandro commented on #4826
In my new projets i use Luxon/DateTime. The point is - it has very few bugs - but it' doesn't support natural dates e.g. "Last tuesday".

[2018-11-22 12:40] egandro commented on #4821
Thank you.

[2018-11-22 12:45] egandro opened #4830 "Request: Standalone version of Datepicker"
### Bug description or feature request:

I'd like to have the "bs-datepicker-container" as standalone component.

(I have this working in my project by simply copying / extracting what I need) but it would be a very cool component to have thix in ngx-bootstrap.

The API also needs some adjustments.

- Min/Max/Current Date as Property

- Events (is Date xy Readonly?), (Month xy/year was opened) etc

[2018-11-22 16:00] H--o-l commented on #4396
Sorry to bother you @svetoldo4444ka but I just retested with bootstrap v3.1.2 and it is not fix there either.
It is not to critic your work, which is great by the way, but the bug should be tracked.
Otherwise you are at risk of misleading a bunch of developers and a few of them will keep opening this same issue.

[2018-11-22 16:07] Domainv commented on #4396
@H--o-l re-opened.
Could you provide some small repo with reproduction?
It's will help a lot

[2018-11-22 19:10] diegoserrat opened #4831 "TypeError: this._store.select(...).filter is not a function"
### Bug description or feature request:
I`m upgrading my system from angular 5 to angular 7, and I got this error when I tried to use the ngxdatepicker i`ve got this error

ERROR TypeError: this._store.select(...).filter is not a function
    at BsDatepickerEffects.push../node_modules/ngx-bootstrap/datepicker/reducer/bs-datepicker.effects.js.BsDatepickerEffects.setBindings (bs-datepicker.effects.j

[2018-11-23 05:56] Ketan-Infyom opened #4832 "is any way to multiple selection on single datepicker modal"
is their a way to activate multi-select in datepicker of ng2-bootstrap on single calendar (not a date range) ?
which can give array of selected dates.

[2018-11-23 09:07] FrancescoBorzi commented on #4823
hello there, @valorkin  just FYI I've just tried Ivy too and this is what I get when I run `ng build --prod`:

I hope that helps

[2018-11-23 10:11] timbell commented on #4831
I had the same. I think the issue is with `rxjs-compat` - more info [here](https://github.com/ReactiveX/rxjs/issues/4070#issuecomment-418945390).

I fixed by pinning `rxjs-compat` to `6.2.2` in my `package.json`

[2018-11-23 10:57] ghost commented on #4654
There has been no response. That's why the issue was closed

[2018-11-23 10:58] ghost commented on #4549
@rafalkasa There has been no response. That's why the issue was closed

[2018-11-23 11:57] #4549 closed, assigned to nobody

[2018-11-23 11:58] #4654 closed, assigned to nobody

[2018-11-23 12:01] fventurini commented on #2051
There are not example nor documentation about css o scss classes I can use-
Where can I find any?

[2018-11-23 13:05] diegoserrat commented on #4831
Hi, thanks for you answer so fast!

I`ve done this steps:

- npm un --save rxjs

- npm un --save rxjs-compat

- npm  list --depth=0 (in order to check that rxjs is removed, you should have a warning or an error at the end of the list)

-  npm i --save rxjs@6.2.2

- npm i --save rxjs-compat@6.2.2

and it worked! Thanks a lot!

[2018-11-23 14:30] StanislawVictorovich commented on #3377
@angular-devkit/schematics

[2018-11-25 21:37] Dovernh opened #4834 "Injector.create BsModalService"
I'm trying to use a modal in a angular class using Injector.create. I'm trying to resolve what are the dependancies. So far I have

const injector = Injector.create({
      providers: [
        {
          provide: BsModalService,
          useClass: BsModalService,
          deps: [BsModalRef]
        },
        {
          provide: BsModalRef,
          useClass: BsModalRef
        }
      ]

[2018-11-26 08:26] abhijeetsap21 opened #4835 "bsdaterangepicker month selector issue"
### Issue description
Selecting Future Date of Future year using the month selector does not selects the correct month.
Instead it selects month of previous year

This issue can be replicated on the examples section of `https://valor-software.com/ngx-bootstrap/#/datepicker`

### Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 3.0.1

Angular:6.0.7

Bootstrap: 4.1.3

[2018-11-26 09:20] dottodot commented on #4487
Having the same issue. Using `new Date()` does make it display correctly but also make the form control value an Object which then causes problems when submitting the form.

The only way I've found to make it work correctly is to use the date pipe on the value.

[code]

[2018-11-26 10:19] #4831 closed, assigned to nobody

[2018-11-26 13:09] TheLinthus opened #4837 "BsDatepicker not showing numbers on Chrome after changing polyfills.ts"
### Bug description or feature request:
BsDatepicker complement isn't showing labels properly after changing polyfills.ts imports to run Angular on Internet Explorer

### StackBlitz that reproduces the issue:
Plunkr doesn't work at all, and StackBlitz doesn't recognize ngx-bootstrap's bsdatepicker

StackBlitz: https://stackblitz.com/edit/ngx-bootstrap-fnfyyk

### Versions of ngx-bootstrap, Angular

[2018-11-26 15:05] johanroug commented on #1922
@NeodymiumMan
I am using a shared module also. What I did was add, accordion to my shared module, but also add it to exports
[code]

[2018-11-26 17:23] TheLinthus commented on #4837
![Demonstration image](https://screenshotscdn.firefoxusercontent.com/images/e98a150a-ac2a-4d7f-b868-207807b21dde.png)

[2018-11-26 18:52] TheLinthus commented on #4837
After some digging on it couldn't identify the cause, but after tried connect from a remote computer on Chrome too, it didn't happened any more.

[2018-11-26 18:52] #4837 closed, assigned to nobody

[2018-11-27 12:32] SimonSch commented on #4476
@valorkin please can you reassess the prio as this bug seems to affect quite a few people.

[2018-11-27 13:46] H--o-l commented on #4396
Thanks @Domainv !

Of course, I created one just here: https://stackblitz.com/edit/ngx-bootstrap-roobc2?file=app%2Fapp.component.ts

The Datepicker should be open, and a date selected.
So just click on "October" to change the month, choose November, and you will arrive in December.

Do not hesitate if you need more info !

[2018-11-27 15:07] sherlock1982 opened #4848 "Error in pagination typescript description when strictNullChecks set to true"
### Bug description or feature request:

3.1.2 can not be compiled.

[code]
align? should be boolean or index should allow boolean?

### Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 3.1.2

Angular: 7.0.4
Bootstrap: 3.3.7

### Build system: Angular CLI, System.js, webpack, starter seed:

AngularClass

[2018-11-27 16:17] fynnfeldpausch commented on #4029
Any progress on this issue?

[2018-11-27 19:14] mcoker opened #4849 "Popover and Tooltip arrows are off-center vertically and horizontally"
I see this has been addressed in https://github.com/valor-software/ngx-bootstrap/issues/2855 and https://github.com/valor-software/ngx-bootstrap/issues/3940 but it still appears to be an issue.

Using a left/right position for the popover and tooltip, in bootstrap 4, the popover arrow height is 16px and tooltip arrow height is 12px.

The negative margin to center the popover arrow is -8px

https:/

[2018-11-28 09:05] jmwierzbicki commented on #4848
how this could even pass tests?

[2018-11-28 10:00] Domainv commented on #4848
@sherlock1982 Please provide some small repo of reproduction

[2018-11-28 10:06] sherlock1982 commented on #4848
Sorry, for now I don't have enough time to make a repo. I will do a bit later but here are the contents of `node_modules/ngx-bootstrap/pagination/models/index.d.ts` right after I install 3.1.2:

[code]

`align?` can't be used together with  `[key: string]: string | number | boolean;`. This is quite clear to typescript compiler 3.1.6

[2018-11-28 10:26] sherlock1982 commented on #4848
Ok here it is:

https://github.com/sherlock1982/ngx-bootstrap-ts

Fails when `strictNullChecks` set to true

[2018-11-28 10:39] Domainv commented on #4848
@sherlock1982 Thanks a lot, will be updated to support the option.

[2018-11-28 10:44] sherlock1982 commented on #4848
I suggest to simply do everything with `strict: true` if it's possible.

[2018-11-28 10:45] Domainv commented on #4848
@sherlock1982 I agree

[2018-11-28 10:48] BearandYoon commented on #2772
@Abrissirba
I am facing the same issue.
Did you find any solution?

[2018-11-28 11:15] meshubh opened #4851 "Date Picker doesn't open when the locale is el"
### Bug description or feature request:
When you use the el locale and try to open the date-picker you see an console error stating "momentToFormat.month is not a function" and the date picker popover doesn't open. On investigating further it seemed like the months function in el locale expects a moment date object as the first parameter and not a simple date object. Can you please address this is

[2018-11-28 13:06] jarekkowol opened #4852 "Problem with build Can't resolve 'ngx-bootstrap/loader'"
During command ng build --prod
Have You any solution?
[code]

### Versions of ngx-bootstrap, Angular:

ngx-bootstrap: ^3.1.2

Angular CLI: 7.1.0
Node: 9.6.1
OS: darwin x64
Angular: 6.1.10
... animations, common, compiler, compiler-cli, core, forms
... http, language-service, platform-browser
... platform-browser-dynamic, router

Package                           Version
---------------------------

[2018-11-28 13:15] valorkin commented on #4848
I thought I enabled this flag when Angular added support for it, hm

[2018-11-28 14:35] Vonahz commented on #3192
+1

[2018-11-28 15:49] BearandYoon commented on #2825
@abhishekdgeek
Did you find any solution to get click event?

[2018-11-28 21:41] Domainv commented on #4852
@jarekkowol Please change used link to 'ngx-bootstrap/component-loader'

[2018-11-29 03:35] marjoforcado opened #4853 "Request: Reset interval carousel interval"
I would like a feature that resets the interval of the carousel when you manually change the slides (by clicking on the indicator). Whats happening is that when you manually change slides the carousel keeps the current interval making the carousel switch to the next slide sooner than it has to be.

[2018-11-29 06:45] shahrishabhptechnical commented on #2626
@jrpatel1016 - You can set container="" in your input field. It will work and position will not be absolute.

[2018-11-29 09:36] shainanigans commented on #801
Hi, any update on this? If it's at least possible to hook in to something like "beforeShown" and "beforeHidden" that would be helpful (using the dropdown as an example)!

[2018-11-29 09:47] 901F opened #4854 "update version of npm-run-all to lastest avoid malicious code"
please update your library `npm-run-all` from version 4.1.3 to version 4.1.5

follow this issue
[Issue with dependency on flatmap-stream via ps-tree#155](https://github.com/mysticatea/npm-run-all/issues/155)

about event-stream issue
[I don't know what to say#116](https://github.com/dominictarr/event-stream/issues/116)

[2018-11-29 15:21] Provson commented on #3192
Any update ?

[2018-11-29 16:52] Andrii-A opened #4855 "popover is jumping on hi-res monitors"
### Bug:
Attached to body Popover is  jumping on hi-res monitors when Scale and layout in Display settings is not 100%. Inline positioning styles are constantly changing.

### Versions of ngx-bootstrap, Angular, and Bootstrap:
ngx-bootstrap: 3.0.0
Angular: 6.0.6
Angular CLI 6.0.8
OS: WIndows 10

![image](https://user-images.githubusercontent.com/15634416/49237836-1c184d00-f3cd-11e8-823d-cc32991e54

[2018-11-29 22:50] NewEraCracker commented on #4854
Hi,

I am trying to get flatmap-stream published with npm. Hopefully they allow me to publish 0.1.3 (same as 0.1.0) without the backdoor.

This will possibly unbreak any projects still using this.

[2018-11-30 11:52] santhoshraju621 opened #4858 "rating is automatically submitting form while using reactive forms"
Hi i have used bootstrap rating in my reactive form while clicking on the rating it is automatically calling the form submit function .

here is the html code i have used for reactive forms.

`<div class="overall-rating" [tooltip]="validationerrors.checktouchedvaliddirty(compform,'overAllRating')">

                        <p class="gradfontbold">Overall Rating</p>

                        <ng-tem