[2020-11-18 23:18] LinlindembergCz commented on #5274
Thank you! guy

[2020-11-19 13:25] thaboambrose commented on #4245
Yes this issue is still there, is it affected by some other parent styles maybe?

[2020-11-19 13:31] thaboambrose commented on #4245
I see why, it happens when you set a manual width to the date picker input

[2020-11-19 14:24] Mik453 opened #5988 "ngx-bootstrap datepicker inline daysDisabled and showWeekNumbers are not working for bs-datepicker-inline"
I am using bs-datepicker-inline ngx-bootstrap datepicker in my angular project. My ngx-bootstrap version is 6.14.6.
Can someone please help me to point out how to set daysDisabled and also not to show showWeekNumbers. I tried the following but not working:

<bs-datepicker-inline [bsValue]="bsInlineValue"
                                    [bsConfig]="{ daysDisabled:'[0]',showWeekNumbers: false }"

[2020-11-19 16:39] puneeth-91 opened #5989 "ngx -bootstrap tooltip going out of window"
Hi,
Am using ngx bootstrap tooltip(with large content) in my angular application,my ngx version 5.6.1,can anyone help me to solve  this here is the code which I had tried
  #tooltip tooltip="{{data[field]}}"container="body" containerClass="customClass"  [adaptivePosition]="false" placement="left"  triggers="click:mouseleave" (mouseenter)="onMouseEnter()">
{{data[field]}}

[2020-11-20 04:26] sharathdaniel commented on #5705
Any solution for this?

[2020-11-20 19:48] Mik453 commented on #5988
After a lot of searching.  It seemed like daysDisabled and showWeekNumbers are only implemented for the
<input type="text"
           placeholder="Datepicker"
           class="form-control"
           bsDatepicker>
Please correct me if I am wrong.

[2020-11-22 08:47] #5843 closed, assigned to nobody

[2020-11-23 17:07] dianabarsan commented on #5971
This happens on Chrome as well, and can even be verified on https://ngx-bootstrap-latest.surge.sh/#/modals

To reproduce:
1. Go to https://ngx-bootstrap-latest.surge.sh/#/modals
2. Open dev tools and create a heap snapshot. Filter by "detached" and observe that there are no detached nodes.
![image](https://user-images.githubusercontent.com/35681649/99992254-c2319e80-2dbe-11eb-9633-a6d1de485f3e.png

[2020-11-25 15:27] 0xphilipp commented on #5906
Any plan, when this will be fixed?

[2020-11-25 17:20] valorkin commented on #5982
hello, folks. We will try to deliver this asap.
most likely till the end of this week - early next one.
from 2 maintainers - one with covid, second with hard flu >.<

[2020-11-26 10:40] shankarshastri opened #5990 "Datepicker not able to select using keyboard, and cannot use tab on the datepicker."
Currently the datepicker doesn't support usage of keyboard and cannot use tab to move within the datepicker.

[2020-11-26 14:27] rekna1 commented on #5958
I'm having the same issue in template driven ... any solution yet ?

[2020-11-26 15:22] aleesaan commented on #5958
@rekna1  Not really a solution, but at the moment I just do `control.valueChanges.pipe(distinctUntilChanged())` to not emit the same value multiple times...

[2020-11-26 16:14] rekna1 commented on #5958
@aleesaan I have done something similar but this should be relatively simple to solve by ngx-bootstrap self ? Can't imagine this is a very complex component...

[2020-11-26 16:58] elvispdosreis opened #5991 "Keyboard input does not fill in the time"
I have a problem like the datapicker when I use the keyboard as data entry, for example if I just type 1126 and I tab it it fills in the date automatically, but it doesn't put the time.

if I fill in via modal pop mouse it fills in with the current time.

StackBlitz: https://stackblitz.com/edit/angular-pqyym7

[2020-11-27 13:38] Xambey commented on #5960
+1 add 'display' property

[2020-12-01 13:50] ikubij commented on #2290
This works, but remove `take(1) ` . At least that is what worked for me

[2020-12-02 13:13] VjeraTurk commented on #2015
The example on link still doesn't work for me if I switch from  `<span dropdown>` to `<span class="dropdown">`

[2020-12-02 14:31] Aleccc commented on #4466
Here's a more complete example:

[code]

[2020-12-02 15:15] MaciejLisCK opened #5992 "Tooltip position is wrong, when placed inside overflow:scroll"
Bug description:
When element with tooltip is placed in tag with style overflow:scroll, the position of tooltip is wrong.
![image](https://user-images.githubusercontent.com/1531086/100891300-6ac7b880-34b9-11eb-9aba-d372c0b5327f.png)

https://stackblitz.com/edit/ngx-bootstrap-tooltip-positon-scroll-bug?file=app/app.component.html

ngx-bootstrap: 5.6.2
Angular: N/A
Bootstrap: N/A

**Expected behavio

[2020-12-04 12:29] alanj853 commented on #5858
@daniloff200 , this solution worked for me. I had almost the exact same problem as @roopeshreddy .

[2020-12-04 13:50] robvaneck commented on #1352
I solved it doing this
[code]

[2020-12-04 19:44] gittyhub15 commented on #4779
This feature would be a great addition and much needed.

[2020-12-07 09:43] #5960 closed, assigned to nobody

[2020-12-07 10:29] daniloff200 commented on #5988
We don't have such version for ngx-bootstrap. The latest one is 6.2.0 for now

About your question

`    <bs-datepicker-inline [bsValue]="bsInlineValue" [bsConfig]="{  showWeekNumbers: false, daysDisabled:[0] }"></bs-datepicker-inline>  </div>`

try to use it in this way

[2020-12-08 09:36] all2pie opened #5993 "Clear Button not showing in DateRangeSelector"
Bug description:

Clear button is not showing when bsDaterangepicker is used.

Plunker/StackBlitz that reproduces the issue:

https://angular-ssgas9.stackblitz.io

[2020-12-08 09:49] daniloff200 commented on #5993
Actually,  Clear and Today (even if it's not really fit for daterangepicker logic) were not supposed to be shown for daterangepicker.
But, idea to add Clear button for daterangepicker seems good to me.

[2020-12-11 06:34] Hleb-Chupin commented on #5810
How are the things today?

[2020-12-11 09:07] #5982 closed, assigned to nobody

[2020-12-11 17:16] ujjaldey commented on #5772
This is a good to have feature. When can we expect it to be available?

[2020-12-15 14:43] Symro commented on #5888
Hi! I'm facing the same issue, any idea when this will be fixed? Thanks!

[2020-12-16 11:12] JorgeFeijoom opened #5995 "Bootstrap 5 upgrade"
Hi there,

We are thinking of integrating ngx-bootstrap to our angular based project. The current version presents a problem to us using jquery and we wonder if it is pending to update to bootstrap 5 which has some improvements, among others, the removal of jquery.

We know that it is still in beta, but we would like to know if it will be updated soon.

[2020-12-16 11:21] valorkin commented on #5995
I would say end of January is a something realistic to target, to release a support of bs5 templates

[2020-12-17 08:11] zannkukai opened #5996 "Dropdown alignement problem using [ngClass] binding properety"
**Bug description:**
When I try try to align the menu to right using the `[ngClass]` property binding the first display of the dropdown is not well align. The second and next displays are correctly aligned.
When the alignement `dropdown-menu-right` class is used with the `class` attribute, the dropdown has always a good align.

I search about the problem on source code and it seems that the `eleme

[2020-12-19 10:22] hverma opened #5998 "Links inside the ngx popover don't work"
Hello,
I am not sure whether it is a bug. I have tried to include a static link with a href inside ng-template but the link doesn't open or click events don't fire. I also tried @HostListener('window:click') but there is no way to identify whether the link in the template was clicked.

Please help as popovers with help links is quite essential for our project.

[2020-12-19 11:26] #5998 closed, assigned to nobody

[2020-12-19 11:28] hverma commented on #5998
I was able to get it working by changing triggers to click only.

[2020-12-19 13:34] rahulz-wasnik opened #5999 "Memory leak on ngx bootstrap modal component"
Bug description:
This is infact a simpler version of the example used to open a component using ngx bootstrap modal given under the component section on this link.
https://valor-software.com/ngx-bootstrap/#/modals

In my example I am using the ngx bootstrap modal to open a Confirm Component. Open the StackBlitz in chrome and under the developer tools, navigate to the memory tab and take a heap sna

[2020-12-21 16:16] nicolomanni opened #6000 "Modals hide on window location hash change"
**Bug description**

with the latest version of ngx bootstrap, when I change the value of window.location.hash the modal exits unexpectedly.

**Versions of ngx-bootstrap, Angular, and Bootstrap**

ngx-bootstrap: 6.2.0
Angular: 11.0.3
Bootstrap: 4.5.3

**Expected behavior**

Simply leave the modal open or give the option to prevent a modal from closing when it is not wanted.

[2020-12-22 07:20] Pizzicato opened #6001 "Typeahead: Add an input that allows selecting an object field to display"
Currently, when using the typeahead component with an array objects as part of a reactive form there's no way to show one field on its input, while saving another one, using `typeaheadOptionField`. We could keep the typeahead as an standalone element not being part of the reactive form and use the on select event to save the selected element property that we want. This way of solving this issue se

[2020-12-22 07:34] LeandroVP commented on #6001
+1, it would make things much easier.

[2020-12-22 10:18] szhang6 opened #6002 "How to change indicator's shape?"
There are many shapes of indicators, like: square, circle and so on.
In the tutorial, the default shape is rectangular.
How could i change the shape of the indicator from rectangular to circle?

I have tried to set styles for the indicators while it cannot override the original style. If you have any information about this, could you give me hint?

Thanks in advance.

[2020-12-23 01:04] mabraithwaite commented on #5890
I ran into a similar bug but with date picker. Looking at the code it's seeming like when the date is set by the model it's converted from utc to local (to display correctly) but when it's set by the view/display, it never converts from local to utc:

utc to local: https://github.com/valor-software/ngx-bootstrap/blob/development/src/datepicker/bs-datepicker-input.directive.ts#L164

view change (no

[2020-12-23 01:39] szhang6 commented on #6002
Hi guys, i have found a way to change the shape temporarily which is using the "::ng-deep" prefix.

e.g.
::ng-deep youClassName {
  // code
}

While, it still likes a workaround.

If the API can offer the official change of the shape, that would be nice.

[2020-12-24 17:30] pokermanx commented on #5973
Heya! Here is a quick solution to this.
[code]

[2020-12-24 21:44] NenadJovicic commented on #5867
I have the same problem with time picker
This is how my html looks like
[code]
and in my js code, I set values of `currentTime` on 2 places, but UI does not reflect 2nd change
so, my js code looks like something like this
[code]

Changes are detected properly in model, but not in UI, I will still see `20:30` in time picker
But, when I click arrow up for hours for example, then it will show me `11`

[2020-12-25 03:57] Nabeeh-AlSawaf commented on #5713
adding the whole package is not the solution for this problem, we are specifically trying to add only that component because compiling the whole package for just 1 or 2 needed components is not best practice .
if anyone managed to install only the needed components please share, other than that please reply to this issue and don't let it die XD

[2020-12-28 01:23] reisandbeans commented on #5830
I'm having this problem as well. I've done some debugging, and at least in my case the root cause describe by @beingbing above is... _incomplete_, I'd say. When you open the modal, the listener is defined, so when you close the modal and `value` is set to false, the listener will be defined. The problem I observed in my case, is that the constructor for `BsDropdownToggleDirective` seems to be call

[2020-12-28 16:31] swarooprooney commented on #1437
Has this been implemented, is there a example I can look at?

[2020-12-28 17:23] clepore opened #6003 "Add option to allow timepicker to be cleared without being invalid"
**Is your feature request related to a problem? Please describe.**

Clearing a timepicker (as seen [here](https://valor-software.com/ngx-bootstrap/#/timepicker#dynamic)) reports  as invalid because it tries to convert `void` to a date.

**Describe the solution you'd like**

An option to allow a timepicker to be optional or "empty". They initially load as empty without reporting as invalid, but onc

[2020-12-28 21:45] NenadJovicic commented on #5825
I have the same problem
![Screenshot from 2020-12-28 22-43-41](https://user-images.githubusercontent.com/2767416/103244790-62e72100-495e-11eb-96d1-c922cbda16ad.png)

[2020-12-30 18:05] steveareeno opened #6004 "Tabset: Block tab change when reactive form validation fails"
I have a series of angular reactive forms inside tabs of a tabset (as child components). I have a bool flag variable in the tabset component (parent) and when the child component has an error, I set the flag to true.  I would like to know how I can block a tab change when the flag = true so the user is left on the same tab.

Thanks!

[2021-01-04 10:14] bravier commented on #5999
Hi,

Thanks for opening this issue @rahulz-wasnik!

We are also impacted by this memory leak in our app.
Version 6.0.0 of ngx-bootstrap looks not to be affected, only 6.1.0 & 6.2.0 are.

Context:
- ngx-bootstrap 6.1.0 & 6.2.0
- Angular 11

I'd be happy to help fixing it, don't hesitate to ask if you guys need more informations / testing.

Thank you!

[2021-01-04 11:46] atulgupt opened #6005 "Requirement From Month View to Date View Event On Last 7 Day Select"
I'm very thankful for this ngx-bootstrap library. It's really helpful for me!!
A few weeks back I have integrated the ngx-bootstrap date picker library (Quick select ranges with Inline calendar view) in my application. It's meeting a few of my requirements but I stuck in one implementation which is related to the selection of "next 7 days, last 7 days" in case I was on month view. Please follow th

[2021-01-04 14:21] poleindraneel commented on #5348
Is there any workaround on this issue?

[2021-01-04 14:28] poleindraneel opened #6006 "Pagination Input properties FirstText, LastText etc are not working with binding after updating to Angular 10"
So after we updated our project from Angular 8 to Angular 10, we have this weird issue, where the pagination properties FirstText, LastText etc are showing string values instead of special characters they are suppose to show. Following is the code for pagination ->
`  <pagination [totalItems]="totalItems" [(ngModel)]="currentPage"
                    [boundaryLinks]="true" [rotate]="false" [itemsP

[2021-01-04 14:44] poleindraneel commented on #6006
I have for now resolved it the following way. In my properties instead of using HTML entity, I am directly using the special characters.
export class PaginationAttributes {
    previousText: any = "❮";
    nextText: string = '❯';
    firstText: string = '❮❮';
    lastText: string = '❯❯';
    maxSize: number = 5;
}

[2021-01-04 21:33] rekna1 opened #6007 "ngx-bootstrap typeahead typeaheadOnSelect not called when clearing input"
Angular 10
ngx-bootstrap 6.1.0

typeAhead with async source, typeaheadOnSelect calls method to set object into viewmodel
when input field is cleared, typeaheadOnSelect is not called so input field and viewmodel are not in sync
how to clear the corresponding selected object when the input field is cleared ?

use case : consider a search form, where one input field is used to search persons.
selecti

[2021-01-05 18:36] StefanNedelchev commented on #5397
I also confirm the same problem. On viewports above 768px `aria-hidden` is true and Lighthouse gives lower Accessibility score because of this.

[2021-01-05 20:47] krokiet opened #6008 "Dropdown with bootstrap 4 - open animation flicker"
**Bug description:**

Dropdown with bootstrap 4 open animation flickers from time to time. Sometimes it's almost every time and other times it's once every 5-10 clicks.

![dropdown_animation](https://user-images.githubusercontent.com/9075889/103696798-428f1600-4f9f-11eb-9d01-82ffc00d86ec.gif)

This issue can be reproduced on official example page: [Angular bootstrap dropdowns](https://valor-softwa

[2021-01-06 13:14] ghost commented on #5914
Hi ! Anyone found a solution about this ?

[2021-01-06 18:14] delafer commented on #5995
There is a main ngx-bootstrap competitor and it's name ng-bootstrap and whey are already working to support a new  BS version.
new bootstrap version will be released anyway as soon as possible, Bootstrap 5 is already a beta version and where are a lot of youtube tutorials for BS5.  Who takes the lead ? ng-bootstrap or ngx-bootstrap ?  the one who will faster add a support for BS5. It is a obvious

[2021-01-06 18:28] delafer commented on #5168
We are using ngx-bootstrap for our internal projects / clients.

1. Company: Creditreform e.V.
2. [Company website](https://www.creditreform.de)
3. [Company logo](https://de.m.wikipedia.org/wiki/Datei:Creditreform_logo.png)

[2021-01-07 17:50] glokesh94 commented on #975
Import NgbModule in app.module.ts

`import {NgbModule} from '@ng-bootstrap/ng-bootstrap';`

`@NgModule({
 imports: [NgbModule],
})
export class YourAppModule {
}`

[2021-01-07 17:50] glokesh94 opened #6009 "Import NgbModule in app.module.ts"
Import NgbModule in app.module.ts

`import {NgbModule} from '@ng-bootstrap/ng-bootstrap';`

`@NgModule({
 imports: [NgbModule],
})
export class YourAppModule {
}`

_Originally posted by @glokesh94 in https://github.com/valor-software/ngx-bootstrap/issues/975#issuecomment-756274144_

[2021-01-07 17:56] daniloff200 commented on #6009
`ng-bootstrap/ng-bootstrap`

`ngx-bootstrap`

:thinking:  :thinking:  :thinking:  :thinking:

I think you need to go https://github.com/ng-bootstrap/ng-bootstrap here with that issue :)

[2021-01-07 17:56] #6009 closed, assigned to nobody

[2021-01-07 23:12] mtholen commented on #1352
The solution for @awaheed1 is to use a templated list.
[code]
This allows you to display multiple options with your own make-up/lay-out.
![image](https://user-images.githubusercontent.com/4743603/103955032-665d8200-5180-11eb-834d-90d72dcb75de.png)

The problem I am facing thereafter is that the `typeaheadOptionField ` can only display a single field from the object, it does not appear to be able t

[2021-01-08 14:00] #6004 closed, assigned to nobody

[2021-01-08 14:08] steveareeno opened #6010 "Accessibility with Tab set"
**Tabset accessibility**

Google lighthouse is complaining that a list item `<li>` must be contained in a list `<ul>` when it is scanning for accessibility. I checked the html in the console and there is a `<ul>` tag so I am not sure why lighthouse is not seeing it. Any advice? below is the html for the tabset:

[code]

[2021-01-11 01:09] rahulz-wasnik commented on #5999
Thank you. Yeah it be good to have this fixed in 6.1.0 & 6.2.0.

[2021-01-11 06:30] UdayAppam opened #6012 "Modal inside Modal container position is not working for datepicker when we specify container other then body"
Datepicker container opening in random place when we place the Ngx-Bootstrap modal inside another modal.

**Note**: Inner dailog has datepicker element.

 Closing the previous modal will solve the issue but we need to maintain the state without closing the previous modal.
 And need to append the datepicker container to specific element

You can check the issue in stackblitz [here](https://stackbli

[2021-01-11 19:54] dheerajm91 opened #6013 "6.2.0. V [ Nested confirmation modals : Child modal closes on parent modal close ]"
Hi,

When i have a parent confirmation modal and when i close it, the child confirmation modal also close automatically.
Please help me resolve this issue. This scenario was working in 6.0.0 and 6.1.0. Its now broken in 6.2.0.

I cannot go back to 6.0.0 as its a build issues with Ivy. 6.1.0 has a bug with nested modals backdrop freezing.
Now 6.2.0 has issue with confirmation modals issue.

using c

[2021-01-12 08:56] derfritz commented on #4261
Hi, any news on this? Can we expect the fix from @Gbuomprisco to be merged any time soon? We are affected by this issue as well.

[2021-01-12 10:01] derfritz commented on #5999
Hi, any news on this issue? We are affected by this issue as well, can provide a PR if that helps :)

[2021-01-15 14:46] MickL commented on #5995
@delafer You posted the same in the ng-bootstrap BS5 issue and what you wrote does not add anything useful for this issue or the discussion on that topic

[2021-01-16 17:14] matheussouza9 commented on #2330
I solved the problem this way

Service
[code]

Modal Component
[code]

Component that shows modal and needs receive some data after modal is hidden
[code]

[2021-01-18 08:29] kanisubu opened #6015 "Scrollable ng-boostrap-tabs is not working"
Custom class with scrollable tab is not working.

[2021-01-18 18:32] ghost commented on #5983
Same here.

[2021-01-19 15:01] UdayAppam opened #6016 "DatePicker: On page load bsValueChange event getting triggered."
When we set to `bsValue` property with intial value as `undefined` on datepicker and add `bsValueChange`  output event, now if we see  `bsValueChange` callback getting triggered, this is not the case below 5.5 version of ngx-bootstrap.
[DEMO](https://stackblitz.com/edit/ngx-bootstrap-open-modal-1jdmao?file=app%2Fapp.component.ts)

Issue causing by [this fix ](https://github.com/valor-software/ngx-

[2021-01-20 10:30] yangfan0356 commented on #3740
Thanks a lot! In my case, it works on Popover with [adaptivePosition]="true", container="body" and ng-template case.

[2021-01-20 10:31] yangfan0356 commented on #3740
Thanks a lot!! In my case, it works on Popover with [adaptivePosition]="true", container="body" and ng-template case.

[2021-01-20 13:22] jymaps commented on #5713
This is still an issue.

[2021-01-21 11:41] chrisreed-sag opened #6018 "Timepicker : validates time as > numHours/ numMinutes, not >="
Bug description:

Plunker/StackBlitz that reproduces the issue: https://valor-software.com/ngx-bootstrap/#/timepicker

**Expected behavior**

If I provide '66' as minutes, or '25' as hours, then these show as errors.  But if I provide '24' or '60, then onblur, these are changed to 00 and in the minutes case the hour is incremented. If 66 is invalid, then 60 should be invalid too.

[2021-01-23 06:10] hassan209 commented on #655
I'm using ngx-bootstrap datepicker. I want to change daterangepicker into two input fields. when I change date from one field automatically date change in second input field. Anyone tell how I make this event.

[2021-01-25 02:15] mohamedmallat40 commented on #2627
+1 very much needed

[2021-01-25 14:55] sujithmathewthomas commented on #5756
Thanks @setiseta . It's working now.

[2021-01-25 14:55] #5756 closed, assigned to nobody

[2021-01-25 16:37] erickmcarvalho commented on #5995
@valorkin Have you ever thought about how the BS5 implementation will be?

I mean, Bootstrap 5 no longer makes use of jQuery, and today its APIs are entirely native JavaScript.

Do you intend to keep the ngx-bootstrap code as your own implementation, as it is today, or to rewrite a new version that will only be "wrappers" for the BS5 native API itself?

[2021-01-25 21:20] #5958 closed, assigned to nobody

[2021-01-26 05:41] roymilder commented on #6016
use ```(ngModelChange)```, worked for me.

[2021-01-26 11:53] florenthobein commented on #5810
It seems there is a duplicate of this issue on #5893 that provides a fix in the commit [87e7df8e9bdf5d7269bc3727286f2576a2a4273e](https://github.com/woricek/ngx-bootstrap/commit/87e7df8e9bdf5d7269bc3727286f2576a2a4273e)
Could we perhaps merge it for the next release? It is really an irritating bug for my clients.

[2021-01-26 14:54] AlexanderMac opened #6019 "Tabs: add onBeforeSelectTab output"
**Is your feature request related to a problem? Please describe.**

I would like to suggest adding the `onBeforeSelectTab` output in Tabs component to allow/disallow tab selection.

**Describe the solution you'd like**

Need to update `TabDirective.active` setter and add the code below.

[code]

If you agree with this addition I can create a PR.

[2021-01-26 23:41] eatinasandwich opened #6021 "Datepicker minDate and maxDate modifies the typed value after leaving the input"
The project I'm working on was using datepicker verson 5.3.1 for awhile and was recently upgraded. During the upgrade we realized that min-max properties will modify a typed date if its outside the range created by min-max when leaving the input. After looking at the demo site it seems this behavior was introduced in version 5.5.0. Is this behavior that can be turned off? It seems like bad UX to c

[2021-01-27 07:20] szhang6 opened #6022 "Does carousel support swipe with gestures on mobile device?"
I have used the carousel component on desktop page and it works fine. While now i need to support carousel on mobile device, too.

So, i have hidden the left and right arrow on the sides of the carousel. And at the same time, i need to let the carousel on mobile device support swipe with gestures.

My question is:
1. Do we support this "swipe" feature now on mobile device?
2. If yes, how to use it

[2021-01-27 07:55] florenthobein commented on #5810
My bad, it seems the fix proposed doesn't actually work.

When looking more into the problem, it appears that on some browsers (for ex Chrome 87 on mac) the scrollbar appears above the content without modifying the layout, thus equating scrollbar click and backdrop click.
The reason why this bug is relatively new is that, when clicking on the scrollbar, the events `mousedown` and `mouseup` fire, b

[2021-01-27 12:43] #5893 closed, assigned to nobody

[2021-01-27 22:54] casper5822 commented on #4832
Hello,
Is there any new about this feature?

[2021-01-28 05:54] dianabarsan commented on #5999
We're interested in having this fixed as well.
https://github.com/valor-software/ngx-bootstrap/issues/5971#issuecomment-732296449

[2021-01-28 08:33] szhang6 commented on #6022
Update:

I've found an issue which is similar with this one:
[https://github.com/valor-software/ngx-bootstrap/issues/885](https://github.com/valor-software/ngx-bootstrap/issues/885)

While, it seems does not support to click circularly. e.g. Always swipe from one side to another. It seems does not support this feature yet.

Do we support this feature yet?

[2021-01-29 02:21] szhang6 commented on #6022
i have added some logic for handling swipe the slides cyclically.

[code]

[2021-01-29 02:29] szhang6 commented on #6022
This isssue has been fixed and added some feature as above. So, will close this issue now.

[2021-01-29 02:29] #6022 closed, assigned to nobody

[2021-01-29 16:37] jaddap2 commented on #5168
I have been using ngx-boostrap until couple of weeks ago. I was only using modal and alert components. But during build I see all of the components are being used, so I replaced it with `Mat-Dialog` and custom `Alert` component. Removed ngx-bootstrap from my dependency list

[2021-01-29 18:14] rekna1 opened #6025 "typeahead typeaheadOnBlur not working"
Event not triggered ?

see demo page https://valor-software.com/ngx-bootstrap/#/typeahead#on-blur
Option on blur:
remains for ever empty....

[2021-02-01 20:36] noxborough commented on #2137
Still have this issue using ngx-bootstrap using 6.2.0

My use case is slightly different than what is described above, but symptom is the same. The body tag is incorrectly marked with "model-open" class, when no modal is open.

My use case is:
1) Component A opens up a shared modal dialog A
2) User closes modal dialog A
3) Upon exiting modal, app is immediately routed to Component B which in turn

[2021-02-02 02:53] chubbard commented on #2137
Everyone sees this issue, and we all agree that the timeout is causing the nested logic to get tripped up and mark dialogs nested when they aren't.  I'm going to repost this solution I outlined years ago:

[2021-02-02 14:11] delafer commented on #5995
I only ask if there are such plans in both threads and confirm about the interest from people using such frameworks/libraries. Is it forbidden?
Perhaps you instead of making advices and dislikes under my posts will support such project? That would be pretty constructive, wouldn't it?
I have posted a link with migration guide BS4 -> BS5, it's not much, but more than your meaningless comments. Thank

[2021-02-03 04:53] ayoubkhan558-zz opened #6026 "Please add support for Bootstrap 5"
Please add support for Bootstrap 5, as it works without jQuery.
Its currently v5.0.0-beta1, But I think its right time to update now.

https://getbootstrap.com/

[2021-02-03 04:56] ayoubkhan558-zz commented on #5995
Please add support for Bootstrap 5, as it works without jQuery.
Its currently v5.0.0-beta1, But I think its right time to update now.

[2021-02-03 04:56] #6026 closed, assigned to nobody

[2021-02-03 10:20] AhmadPirzargar commented on #5545
I use input in the slide and prevent writing 'space' char in the input

[2021-02-03 15:45] jamesawer3 opened #6027 "Carousel - Multilist - Clicking on empty view displays blue border"
**Description:**
         When pressing on the empty view of carousel I can see a blue border around the div. How to remove it???

**Before Pressing:**
![Screenshot 2021-02-03 at 9 13 59 PM](https://user-images.githubusercontent.com/43437378/106771236-c0a91000-6664-11eb-83d3-c85b6863cbe6.png)

**After Pressing the empty space besides the image:**
![Screenshot 2021-02-03 at 9 15 03 PM](https://user

[2021-02-04 21:53] rodrigosanzlongone opened #6029 "Support Angular 10"
Bug description:

I just updated Angular to version 10, and now I have an error when trying to use **ng serve**.

Error:

`ERROR in Failed to find exported name of node (class ButtonRadioGroupDirective {
    constructor(el, cdr) {
        this.el = el;
        this.cdr = cdr;
        this.onChange = Function.prototype;
        this.onTouched = Function.prototype;
    }
    get value() {
        re

[2021-02-04 22:06] rodrigosanzlongone commented on #5872
did you found the solution for this?

[2021-02-04 22:49] fchiumeo commented on #6029
see the [Compatibility](https://github.com/valor-software/ngx-bootstrap#compatibility)

[2021-02-04 23:35] rodrigosanzlongone commented on #6029
Thanks for your link, however, I just updated to
`    "ngx-bootstrap": "^6.2.0",`

but nothing changed, I still have the same error.
Maybe, I need also to update another package?

[2021-02-05 01:31] fchiumeo commented on #6029
eliminaste node_module?
yo tengo instalado angular 11 y funcionada bien

[2021-02-05 10:48] ryanrw opened #6030 "Add a card component support"
**Is your feature request related to a problem? Please describe.**

I've just found that this library doesn't have a card component yet, so I want to suggest implementing it.

**Describe the solution you'd like**

Add a "Card" component.

Ref: [Bootstrap's Card Component](https://getbootstrap.com/docs/4.0/components/card)

[2021-02-05 14:03] faraza72 opened #6031 "Syntax Error is datepicker reducer"
While upgrading my application to version 10 and using ngx-bootstrap: 4.3.0 I found this error in building the application
![145919182_420419305687815_1108070924223691816_n](https://user-images.githubusercontent.com/30371689/107043203-ae57df00-67e8-11eb-85c7-9383dce43e09.jpg)
Please the source code in line number 22 for the reference attaching the screenshot
![145917090_106841674763080_32779467300

[2021-02-05 15:45] florentcm opened #6032 "Invalid Date in Daterangepicker"
I noticed there is a different behaviour when inputing an invalid date format in a daterangepicker, comparing to the datepicker.

When inputing letters or other invalid caracters manually into the datepicker field :
- The "single date" datepicker currently replaces the invalid content with the text "Invalid date" and the error { bsDate: { invalid: _value } }
- The range datepicker currently remove

[2021-02-05 15:51] daniloff200 commented on #6031
Hi, @faraza72
Are you trying to upgrade your app to Angular 10??

4.x.x versions of ngx-bootstrap don't support Angular 10, you have to update to latest,  6.1.0 or 6.2.0

Also, can you share some more readable screenshot? It's very difficult to see something here.

[2021-02-05 15:58] daniloff200 commented on #6025
hi, @rekna1
Maybe, you're doing something wrong?

Because, for me, it works

https://user-images.githubusercontent.com/13692220/107057105-bd846000-67db-11eb-88b2-eece5304451d.mp4

[2021-02-05 16:01] daniloff200 commented on #6015
Hi, @kanisubu
I would like to get some more info about this, maybe, some code, or, repro

Also, it's not `ng-bootstrap` repo, it's `ngx`, so maybe, you have chosen the wrong library repo :(

[2021-02-05 16:02] daniloff200 commented on #5999
@derfritz  that will be awesome !

[2021-02-05 20:15] burakgavaskargo commented on #1352
@critchie 's answer is still valid. The update link is below:
https://valor-software.com/ngx-bootstrap/old/3.0.1/#/typeahead#async-data

[2021-02-07 01:36] kewur commented on #6026
does this issue being closed mean that it's supported?

[2021-02-07 11:26] Dassderdie commented on #6026
I guess this issue was closed as a duplicate of https://github.com/valor-software/ngx-bootstrap/issues/5995

[2021-02-07 11:32] Dassderdie commented on #6030
Wouldn't it be better (code-style, extensibility, performance, bundle-size) to just use the correct bootstrap classes instead of making a separate component for cards? - Are there actually any benefits of a cards-component? Cards do not have any JS-code behind them...

[2021-02-08 09:13] rkusuma opened #6034 "Daterangepicker validation mutate the value"
Bug description:

When using `ngrx` with `strictStateImmutability: true` config and passing the array of date to daterangpicker from ngrx state, it will throw an error:

[code]

the root cause is in [here](https://github.com/valor-software/ngx-bootstrap/blob/development/src/datepicker/bs-daterangepicker-input.directive.ts#L152), in method validate it is mutate the array via `_value.sort()` method.

[2021-02-09 07:31] #5247 closed, assigned to nobody

[2021-02-09 12:49] pmelisko commented on #5906
Hello, thanks for great work.

There are 2 problems:
1) https://github.com/valor-software/ngx-bootstrap/blob/v5.6.0/src/positioning/modifiers/initData.ts

// Normalize placements that have identical main placement and variation ("right right" => "right").
`
const matches = placement.match(/^(left|right|top|bottom)* ?(?!\1)(left|right|top|bottom)?/);
  if (matches) {
    placement = matches[1] + (m

[2021-02-09 20:09] florentcm commented on #6021
I'm having also this issue where the start date of the range gets replaced by the min value. I want to add also this related odd behaviour : the start date gets changed and replaced by the min date, but not the end date.

Exemple :
min date of _today_,
we enter manually the range _01/01/0001 - 01/06/0001_,
it will get transformed automatically to : _02/09/2021 - 01/06/0001_ (keeping the end date o

[2021-02-10 09:31] varosengineer commented on #5713
Still an issue with these versions:

- ngx-bootstrap: 6.2.0
- Angular: 11.1.1
- Bootstrap: 4.4.1
- Build system: Angular CLI

[2021-02-11 07:20] nelnico opened #6037 "`ng add ngx-bootstrap` fails on new ng 11 project"
Installed the latest angular version with `npm install -g @angular/cli`

In a new directory:
`ng new ng-boilerplate --routing=true --strict=true  --style=scss`  (also repeated without the strict option)
`ng add ngx-bootstrap`

Got the following output:
[code]
angular-errors.log:
[code]

[2021-02-11 14:59] probfacile opened #6038 "Timepicker Dynamic Fails removing red error border when valid date is applyed to ngmodel"
**Bug description**: https://valor-software.com/ngx-bootstrap/#/timepicker#dynamic if you set time using button to 14:00 and then you put a wrong value in hour (eg. KK) it will not validate (red border) allright.
Now if you press again set to 14:00 it will fill ngmodel with correct value but the input box still have red error border.

**Plunker/StackBlitz that reproduces the issue**: Don't need it

[2021-02-12 01:16] TannorWallace commented on #6037
I am also seeing this issue on Angular 11.
[angular-errors-log.txt](https://github.com/valor-software/ngx-bootstrap/files/5969192/angular-errors-log.txt)

[package-lock.txt](https://github.com/valor-software/ngx-bootstrap/files/5969199/package-lock.txt)

I have tried the commands from another thread and stack overflow on this issue to no positive result:
npm install -D @angular/cli
npm i --save-de

[2021-02-12 10:00] maxcl10 opened #6039 "Set Week starting Day"
I have an issue. I'm developing an application in English. However the date must be displayed using the German format.
If I use the locale configuration, then the days and months are displayed in German. I don't want that.
Is there a way to set the first day of the week without using locale. Or to set the format local and the display format separately?

[2021-02-13 04:44] ghost commented on #1348
The solution is in root module we need to add with forRout and in child module we need to add only the required module with out forRout.
Patent componet
    BsDatepickerModule.forRoot(),
Child component
    BsDatepickerModule

[2021-02-13 15:16] valorkin commented on #5995
https://github.com/valor-software/ngx-bootstrap/pull/6040 sorry folks my litle preparation PR took a bit longer then expected

[2021-02-14 15:42] JimBobSquarePants commented on #5566
@etki you couldn't be more incorrect here. From the license. (MIT)

https://github.com/valor-software/ngx-bootstrap/blob/6e200b5f88ff38a3240a7d4550f38825fb198307/LICENSE#L16-L22

[2021-02-14 22:02] rooby commented on #4920
+1 for this. It is very much what users expect in my experience.
Also, ng-bootstrap supports this. See their example at https://ng-bootstrap.github.io/#/components/tooltip/examples#triggers that has a stackblitz at https://ng-bootstrap.github.io/stackblitzes/tooltip/triggers/stackblitz.html

[2021-02-14 22:04] rooby commented on #4920
It also says in the ngx-bootstrap docs that I can pass an array to triggers, but if I pass ['click', 'focus'] it doesn't seem to work at all.

[2021-02-15 06:52] Hleb-Chupin commented on #5810
Any news on that case?

[2021-02-15 13:37] florenthobein commented on #5810
@Hleb-Chupin the fix has been merged, it will be available in the next version of the library (I suppose)

[2021-02-16 16:56] Jerome2606 commented on #479
I need this as well.
The default search is not enought "smart", I'm looking to implement a scoring algorithm like https://github.com/jeancroy/FuzzySearch

Any news ?

[2021-02-16 17:08] hillj1895 commented on #479
@Jerome2606 I ended up using typeAheadAsync. See [here](https://github.com/valor-software/ngx-bootstrap/issues/5782#issuecomment-652395570). You can specify your own function in there and use of() to create the observable it wants.

[2021-02-16 18:22] Jerome2606 commented on #479
Ok thanks I will do it the same way.

[2021-02-17 08:13] SilviuMihai commented on #5042
Hello, I was getting the same error. Please follow the guide correctly when using it.(ngx-bootstrap)
Example:
[code]
And in the ts file:
@ViewChild('staticTabs', { static: false }) staticTabs: TabsetComponent;
I hope it helps.

[2021-02-17 11:41] Khokhlachov commented on #6021
I'm have the same problem.
Custom Fix:  [override control validate function](https://github.com/valor-software/ngx-bootstrap/blob/6564c164e71524e6e839245b1a58bf38941e3e92/src/datepicker/bs-datepicker-input.directive.ts#L147)  and just remove ` this.writeValue(..)` calls

`...`
`
@ViewChild(BsDatepickerInputDirective, { static: true }) datepickerInputDirective: BsDatepickerInputDirective;
@ViewChil

[2021-02-17 12:38] Adam-Michalski opened #6041 "Range date incorrect styles css"
"ngx-bootstrap": "^5.6.0",

Few problems with styles in range picker causing incorrect display. I cannot find any changes in my project to this classes but reproduction is not exacly as my problem

In my project it looks like this
![image](https://user-images.githubusercontent.com/5684123/108205625-9e63c780-7125-11eb-9897-c07606e48d07.png)

Line between start and end so all elements with class `in

[2021-02-18 05:03] ryanrw commented on #6030
That's true. I think it would be better to just use a bootstrap class. Thank you for your advice.

[2021-02-18 05:03] #6030 closed, assigned to nobody

[2021-02-18 09:44] Adam-Michalski opened #6044 "DatePicker and RangePicker is emmiting null on init, errors in test component using datepicker"
After initialization with no value datepicker and rangepicker emits null.

[Reproduction](https://stackblitz.com/edit/angular-tohf7s?file=app%2Fngx-bootstrap-demo.component.ts)

As I expect value should not change on initialization and should not emmit without user action to not invoke redundant change detection

This causes error while testing component which uses datepicker

[code]

checked in 5

[2021-02-18 18:42] Nokhoneryu commented on #5830
Another nuance to this issue: Everything works just fine if i use the expected structure as the examples show, such as:

[code]

But the error is thrown if I use a custom template, such as:

[code]

Don't now if the previous comments account for this as well

[2021-02-19 00:08] jimryanzulueta commented on #6012
I have this same problem but for putting the datepicker inside a container that I need an overflow scroll.
I have a container with a class of `content-container`
[code]
it doesn’t work.

but If I put in
[code]
It does work but results in a template error.

[2021-02-19 04:48] #5536 closed, assigned to nobody

[2021-02-19 11:54] sharathdaniel commented on #588
Still cannot disable a button having dropdown.

[2021-02-20 04:32] ajitsinghkaler commented on #6034
@rkusuma create a copy of that array and pass it will work

[2021-02-20 11:02] RajanDhinoja opened #6045 "Vulnerability issue"
Bug description:

There is Cross-site Scripting issue :

https://snyk.io/test/npm/ngx-bootstrap/6.2.0

Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 6.2.0

Angular: 11

Bootstrap: 4

Build system: Angular CLI, System.js, webpack, starter seed:

**Expected behavior**

There should not be vulnerability.

[2021-02-20 12:40] daniloff200 commented on #6045
I think it's the same as https://github.com/valor-software/ngx-bootstrap/issues/5190 , so, also will be closed

[2021-02-20 12:40] #6045 closed, assigned to nobody

[2021-02-22 07:00] Et3rnal opened #6046 "How to use popover within ngFor"
**Description:**

I have a list of items, I want each item to open a popover when clicked with specific data of that item (form).
I tried to use `Custom content template` but what happened is I have multiple popovers getting opened (one for each item in the list) as there is a single template there.

I'm not sure if there is a different way open the popover for the clicked item only? or if there i

[2021-02-22 14:14] jakobrames commented on #6019
Second that. Useful if for instance you use some tabs as simple links to other pages.

[2021-02-23 00:21] Et3rnal commented on #6046
Here is how I did it in case someone needs something similar with a single template

HTML:
[code]

ts:
[code]

[2021-02-23 00:21] #6046 closed, assigned to nobody

[2021-02-23 14:18] Adam-Michalski opened #6048 "Datepicker incorrect input format validation"
Bug description:

When I am create control with date for datepicker input and manually input data there is inccorect format string present but form control does not have wrong values, also when you enter incorrect number like 3333333 there is `Invalid Date` string but controll is valid

First time on blur date changes to correct one, maybe close to what you want. But second change and blur after h

[2021-02-23 19:55] Phoenix-Alpha commented on #6038
Anyone fixed this issue?
Hi @probfacile, did you happen to find solution?

[2021-02-24 05:03] nigelsim commented on #5992
Try turning off the adaptive positioning.

[code]

[2021-02-24 05:15] nigelsim opened #6049 "Customising Configs in 6.1.0+"
Bug description:

In 6.1.0 a change was introduced to make all configs [provided in root](https://github.com/valor-software/ngx-bootstrap/commit/27bd354846e7803138dd7a662a80afc8b6c67814).

To the best of my knowledge this means we can no longer override these services from our root modules like we could < 6.1.0
[code]

ngx-bootstrap: 6.1.0 and 6.2.0

Angular: 10.2.4

Bootstrap: 3.6

Build system:

[2021-02-24 16:54] Haisamsohail commented on #1682
In Child or app-mycomponent
// HTML
<button  type="button" class="btn btn-light" (click)="close_Popover()">Cancel</button>
// TS
@Output() onPopoverCancel = new EventEmitter<any>();
close_Popover() {
        this.onPopoverCancel.emit();
        return false;
}

In Parent Component
// HTML
<a href="javascript:void(0);" class="chat" id ="chat" aria-label="chat-label" role="button"
tabindex="0" #pop=

[2021-02-25 01:46] rewgoes commented on #6008
The same thing happens with Angular 10.

[2021-02-25 21:46] Phoenix-Alpha commented on #6038
https://user-images.githubusercontent.com/71273009/109223771-5561e200-77bb-11eb-8669-aeb70d3df9a7.mp4

[2021-02-25 21:55] Phoenix-Alpha commented on #6038
As I investigated, there is no validation update when writing value for ngmodel.
This may solve the problem.
![image](https://user-images.githubusercontent.com/71273009/109224530-5a736100-77bc-11eb-9f6d-942fe1d7cfed.png)

[2021-02-25 21:57] Phoenix-Alpha commented on #6038
@valorkin, any update for this?

[2021-02-26 09:32] simon-knu commented on #5877
+1,
would be great

[2021-02-26 15:06] SergioComputerx commented on #5931
Here I solved this problem with css

.modal.fade {
  background: rgba(0, 0, 0, 0.5);
}

.modal-backdrop.fade {
  opacity: 0;
}

[2021-02-26 19:47] freemanjr commented on #6037
I'm also seeing this issue.

[2021-03-01 12:01] valorkin commented on #6037
yeap, that's correct. getWorkspace became async, latest master has already fixes for it.
But this is on my list to fix for v7

[2021-03-01 22:12] MiguelCh24 opened #6050 "Datepicker Accesibility"
Bug description:

I have implemented version 6 of ngx-bootstrap but when using the component: Datepicker, I cannot navigate through all the functionalities via keyboard (**https://valor-software.com/ngx-bootstrap/#/datepicker**)

![image](https://user-images.githubusercontent.com/35148639/109565736-e6cd9e80-7ab0-11eb-9574-1bb3a9ba4df1.png)

**After tab key**

![image](https://user-images.githubuse

[2021-03-02 12:36] Adam-Michalski opened #6051 "Datepicker isDisabled does not define that user can't change this input"
`isDisabled` does not define that user can't change this input

It disables datepicker popup/panel but input is still enabled and changes can be made.

[StackBlitz](https://stackblitz.com/edit/angular-5r2oka?file=main.ts)

**Expected behavior**

When `isDisabled` is set to true input should be disabled, we have calendar button to open calendar or input should ingnore all events due to block manual

[2021-03-04 14:18] RobertPabst792 opened #6052 "DateRangePicker maxDateRange select earlier date after selecting from-Value doesn't update range"
Bug description:
Set the maxDateRange to 20 like in your example at https://valor-software.com/ngx-bootstrap/#/datepicker#daterangepicker-max-date-range.
Select the FromDate and instead of selecting a valid UntilDate, select a date, that is earlier than the previously selected FromDate. The selected value is used as the new FromDate but the dateRange doesn't update. It is still set to 20 Days from

[2021-03-04 15:01] daniloff200 commented on #6052
it looks like, can be related to https://github.com/valor-software/ngx-bootstrap/issues/5979 and https://github.com/valor-software/ngx-bootstrap/issues/5946

We have a fix for it in https://github.com/valor-software/ngx-bootstrap/pull/6033

[2021-03-04 15:07] RobertPabst792 commented on #6052
Thank you, looks like mine actually is a duplicate of #5946

[2021-03-04 15:07] #6052 closed, assigned to nobody

[2021-03-05 13:11] clemensul commented on #5965
@alexandvvvvv Did you resolve the issue on your own? I am stuck with the same behaviour.
Thanks!

[2021-03-08 13:37] mncorreia commented on #3348
Any person to advance with this issue?

[2021-03-11 11:30] jrivals commented on #5877
+1

[2021-03-12 13:27] eLeontev commented on #5275
this feature works only if providers has no other DI or providers are registered as part of `root` module. The issue is the injector used in the modal is rootInjector and all DI registered in different modules does not exists in it.

Example:
[code]

I hope the examples are readable :)

Hacks:
1. register all services to rootModule (bad solution leads to increase of main bundle size)
2. use only s

[2021-03-12 15:24] rseanhall commented on #5275
My use case was:

It was the responsibility of the code calling `bsModalService.show` to resolve dependencies. It sounds like you want a new feature. You probably should create a separate issue for that.

[2021-03-15 15:28] Shemesh opened #6053 "typeahead virtual scroll"
hi,
in my typeahead i have lots of items.
how do i add **virtual scroll** to the drop-down items list?

[2021-03-17 13:35] robertIsaac commented on #5865
@shanmukhateja @AColombel @daniloff200
it doesn't work when i add `[noWrap]="true"`

see
https://stackblitz.com/edit/ngx-bs-test-fkp29a

[2021-03-17 14:22] AleksandarMiha opened #6054 "How to show"
**Description:**
I need to show firstname and lastname..but no work...
[code]

With this code work good but show only firstName because this line of code

typeaheadOptionField="firstName"

But when i want to show firstName and lastName i can't..... When try to bind object i see in input when user select data

[Object Object]

[code]

this.selectedItem.fistName is selected first and last name corre

[2021-03-17 22:24] bergamin commented on #5128
No news on this yet?

@ludmilanesvitiy, when the picker silently fills ngModel with "Invalid Date" causing an exception in the backend, that's a bug in the picker and not just a question for SO... "Invalid Date" is also an invalid date.

[2021-03-18 09:45] #6054 closed, assigned to nobody

[2021-03-18 11:17] e93rtP commented on #5764
This seems to solve the issue also when retrieved date from db is from the past, and minDate changes the value to minDate.
version 5.5.0.

[2021-03-19 09:55] ASobolewski commented on #4112
You can separate the text input from the bsDatePicker by using the directive in a span (or you can make a popover I believe) and create a button that whould toggle the datepicker. It would look something like this:

[code]

Then you can parse and validate the value from the input however you like, but you will have to handle the date value synchronization between the input and the datepicker.

[2021-03-19 11:31] ahmedzezo22 commented on #5042
this solution work with me successfully
@ViewChild('staticTabs', { static: true}) staticTabs: TabsetComponent;
just make object static:true and will work well

[2021-03-21 10:29] vincentpazeller opened #6055 "Feature request: Locales: separate language from format"
Datepicker display date format is currently tied to the language locale.

Use case: my website is offered in french, german, english. I want to offer the users to choose their language, but I want the datepicker to show the date in the country format (Switzerland in this case).

Currently I have to make a compromise:
- either I choose the deLocale and I have the desired format (dd.mm.yyyy), but I

[2021-03-22 23:24] dmaf87 commented on #5430
Hi @oveshparasara.
How you solved this issue?

[2021-03-23 10:07] martinkasa commented on #4261
Hi, this memory leak is quite intense. For comparison screenshot on memory consumption chart with untouched sources and sources with localeService subscription commented out. As you can see on the first chart the memory consumption is still increasing. On second chart, after garbage collection it has the same size as at the beginning.

Original:
![Screenshot 2021-03-23 at 11 01 51](https://user-im

[2021-03-23 10:52] Bari77 commented on #5865
Oh ! You find the problem ! Thx <3
I guess I added this too !

[2021-03-24 10:22] dmytro-afonin opened #6056 "Daterangepicker: max date range does not care min and max date after selection first value in range"
Steps to reproduce:
1. add daterangepicker to your template
2. set up next config `{minDate: new Date(2020, 01, 01), maxDate: new Date(2020, 01, 10), maxDateRange: 4}`
3. open Daterangepicker
4. you can see that all dates further than 2020/01/10 are disabled
5. select first date in range - 2020/01/10
Expected result:
further dates are still disabled
Actual result:
further dates are become enabled

[2021-03-24 21:26] vinilanzoni commented on #5995
@valorkin when will it be available to use in production with BS 5?

[2021-03-24 21:52] andersb commented on #5539
+1
Just found this issue which is exactly what I would need as well :)

[2021-03-24 22:25] jwbabc commented on #5723
Would love to get some sort of ETA on this, seems like a much needed feature for a carousel in a responsive environment.
As an alternative, we're going with the following solution...
https://www.npmjs.com/package/ngx-slick-carousel

[2021-03-25 10:19] diogen737 opened #6057 "Dropdown with routerLinkActive"
Bug description:
`routerLinkActive` class  is not applied to the `dropdown` element on the first navigation. Once you trigger dropdown to open or navigato to the different URL, the class gets applied correctrly.

StackBlitz that reproduces the issue:

StackBlitz: https://stackblitz.com/edit/angular-simple-ngx-bootstrap-k1z7yq?file=src%2Fapp%2Fapp.component.html

Versions of ngx-bootstrap, Angular,

[2021-03-25 10:37] diogen737 commented on #6057
UPD: managed to figure out that `*dropdownMenu` element is not in the DOM before the first trigger, so the Router is not aware of the child links.
The workaround is to replace `*dropdownMenu` structural directive with the following:
[code]

But I think it makes more sense to place the dropdown-menu element in the DOM from the start.

[2021-03-25 13:43] daniloff200 commented on #6056
hello, @dmitri-afonin
does https://github.com/valor-software/ngx-bootstrap/issues/5979 or https://github.com/valor-software/ngx-bootstrap/issues/5946 can be related to this one?

[2021-03-29 09:27] jurienhamaker commented on #5168
**Your company name:** Employes
**Website URL:** https://app.employes.nl/
**Logo image:** https://app.employes.nl/assets/images/employes_logo_white.svg

[2021-03-29 11:24] paveltimofeev commented on #5709
Adding `adaptivePosition="false"` fixes this issue

[2021-03-29 18:17] esoyke opened #6059 "Upgrading 5->6 breaks modal creation with initialState"
Upgrading from ngx-bootstrap 5 to 6 is causing a compiler error with my old code that sent initialState to a modal with a component. This used to work, and looks pretty much like the example in the docs:

    const initialState = {
        clientID: 123,
        username: 'foo',
    };
    this.modalRef = this.modalService.show(MyComponent, {initialState});

The error:
**Type '{ clientID: number;

[2021-03-30 01:03] Thorlake commented on #5914
I've found a workaround, pretty simple one tho
But before that want to say thanks to @sacav1 for his investigation

confirm that. bsValueChange is not triggered anymore in this case

If I got it right, then there is a better way instead of  "hovering"

I guess you all noticed that when you change months (click on arrows right/left) but do not click on days, bsValueChange is not fired, right?
So I

[2021-03-30 16:06] babbubba commented on #5184
This bug is still present in 6.2.0 and I can't find any workaround... Any suggested workaround is appreciated.

[2021-03-30 18:00] BjornFridal commented on #1664
In v. 5.1.1 only one backdrop was added to the DOM even though two modals were open (nested modals). We needed a quick solution. I solved our problem using the CSS siblings selector - if we have two modals open at the same time, give one of them a darker background color.

[code]

[2021-03-30 18:22] justinweathersby commented on #6059
Im having a very similar issue..

[2021-03-31 07:51] sidjai09 commented on #5727
I am still facing this issue

[2021-04-03 10:40] AhmadPirzargar commented on #5963
It is best to do this when setting the value of 'itemsPerSlide' in 'CarouselComponent'.
https://github.com/valor-software/ngx-bootstrap/blob/development/src/carousel/carousel.component.ts
![Screenshot from 2021-04-03 15-15-00](https://user-images.githubusercontent.com/17249092/113476279-c9b13480-948f-11eb-8e94-939c8b7301c7.png)

only need to change it as a set method and call ngAfterViewInit() to

[2021-04-03 10:46] AhmadPirzargar commented on #5963
https://github.com/valor-software/ngx-bootstrap/blob/development/src/carousel/carousel.component.ts
![Screenshot from 2021-04-03 15-15-00](https://user-images.githubusercontent.com/17249092/113476244-7343f600-948f-11eb-9a03-3936fa694fe4.png)
only need to change it as set method and call ngAfterViewInit() to refresh UI

[2021-04-04 02:30] nabinpuri opened #6060 "Keep TabContent when switching tabs"
Currently, I see no support to preserve the tab content. Tab contents are created every time each tab becomes active.

It would be nice to have new attribute/setting to disable/enable keeping content even when the tab is no more active. It seems ng-bootstrap support this out of the box with [destroyonhide]. Can we have similar support.

Also, can someone suggest the workaround for now?

[2021-04-04 05:23] AhmadPirzargar commented on #5963
Suggest to use "**npm i Swiper**" for slider

[2021-04-05 16:20] #1819 closed

[2021-04-05 17:27] #6034 closed, assigned to nobody

[2021-04-06 13:52] #5946 closed, assigned to daniloff200

[2021-04-06 13:52] #5979 closed, assigned to daniloff200

[2021-04-07 10:25] NickWemekamp opened #6061 "New release"
When will the next release of ngx-bootstrap be?

I'm looking for a release that has https://github.com/valor-software/ngx-bootstrap/pull/5521/ in it. Currently having performance issues for some users that open a lot of datepickers.

[2021-04-07 12:34] Jakartoine commented on #6060
Hey @nabinpuri,

Could you please explain what is the purpose?

By default the content of a tab is "static", it means that even if a tab is not selected, its content is loaded and visible in the DOM. TabModule only provides (natively) an engine about showing/hiding content by tab clicking.

This, let me think that what you want is a way to keep a content displayed even if the tab where it is locat

[2021-04-07 13:22] Jakartoine opened #6062 "TabModule - Add tab deselection handling"
**Is your feature request related to a problem? Please describe.**

I'm using TabModule in many different ways. A nice feature could be added where an active tab would be unselect
by clicking on it.

**Describe the solution you'd like**

This could be made possible by adding an input parameter on TabsetComponent or on the TabsetConfig.

**Describe alternatives you've considered**

🎉 🚀 🎉

Actually,

[2021-04-07 13:34] Jakartoine commented on #6059
Hey @esoyke,

All is working fine from my side. Maybe posting your code may help?

Thanks

[2021-04-07 13:53] nabinpuri commented on #6060
Hi,
Lets say, If you click on any tab, will the previous tab content(if loaded dynamically) fully destroyed or just hidden? Because when I see the documentation, It says whenever tab is selected the previous tab content(component) is destroyed. See below.

Dynamic content rendering
"The Component inside the Tab is rendered, when the tab is activated and destroyed when the tab is left".

I do not m

[2021-04-07 13:56] marvinfretly opened #6063 "datesEnabled not working on minMode"
There is no way for disabling/enabling months using the minMode set to 'month'.

I'm trying to make a monthPicker with only allowed months.
I added my dates to datesEnabled but all months are still selectable.
I'm adding the first day of month to enable them like:
[code]

[2021-04-07 14:06] Jakartoine commented on #6060
@nabinpuri,

Alright, I now understand your problem a little better.

As I said, the native behavior of TabModule is only to show/hide content based on tab clicking. That means that natively and basically, TabModule will not interfere with Angular lifecycle hook of your different components inside a tab.

The section you mentioned above is to make TabModule tab content dynamic!

So the only thing

[2021-04-07 14:27] nabinpuri commented on #6060
As per your comment, The tab content will be remembered even when the tab is inactive. If this the default behavior, then It should work for me. I was confused by the "dynamic content demo" [here ](https://valor-software.com/ngx-bootstrap/#/tabs).

It says.
The Component inside the Tab is rendered, when the tab is activated and **destroyed when the tab is left.**

Sub-Component A activated
Sub-Com

[2021-04-07 14:45] Jakartoine commented on #6060
@nabinpuri,

Yeah, it will work in your case, just use my sample.

There is no bug, this is as it.

**I think you can consider this as closed.**

The code you've shown above is exactly what you have understood, because they've added a structural directive on the active state of each tab :-) (which, in facts, add the dynamic part effect you have mentioned)

**FYI**

To go deeper, I had a use case i

[2021-04-07 15:32] #6060 closed, assigned to nobody

[2021-04-07 20:09] Jakartoine commented on #5168
[EASI](https://easi.net/en) is a cloud, security & software provider offering management applications, professional cloud & security solutions and IT infrastructure services.

Two of our main products use ngx-bootstrap as the main UI external library:
- [SmartSales](https://easi.net/en/solutions/smartsales)
- [Rooftop](https://www.getrooftop.io/)

--------------------------------------------------

[2021-04-07 22:45] christopherallanperry commented on #6037
Like those above, I'm also seeing this issue against Angular 11.2.7

[2021-04-08 09:29] RihabEA opened #6064 "Typeahead with [typeaheadMinLength]="0" does not appear on focus"
Before opening an issue, please search for duplicates (opened and closed) https://github.com/valor-software/ngx-bootstrap/issues There's no need to open an issue here if you want to ask general question, use StackOverflow or Slack instead

Bug description:

Plunker/StackBlitz that reproduces the issue:

Using Plunkr, StackBlitz is the best way to show your issue. Issues without link to an example

[2021-04-08 09:29] #6064 closed, assigned to nobody

[2021-04-08 09:34] RihabEA opened #6065 "Typeahead list with [typeaheadMinLength]="0" does not appear on focus"
Angular version "11.0.3",
"bootstrap": "4.5.3",

<input #input type="search"
               [required]="required"
               [(ngModel)]="text"
               [typeahead]="list"
               [typeaheadMinLength]="0"
/>

when we focus on the field, the list doesn't appear, the  [typeaheadMinLength] = "0" not working

[2021-04-08 13:03] denhaandrei opened #6066 "Issue: datepicker auto change default value when use min, max dates"
**Is your feature request related to a problem? Please describe.**

Issue: there is no need to change the value until the user changes it manually.

Hi, I tried to use the ngx-bootstrap/datepicker with following params:
HTML:
<input formControlName="MyDate"
id="MyDate"
type="text"
class="form-control"
#dpEndDate="bsDatepicker"
bsDatepicker
[minDate]="avaliable.startDate"
[maxDate]="avaliable.endDa

[2021-04-08 20:40] devhus opened #6067 "Ng add command not working on Angualr 11"
Bug description:
- When trying to install the package using ``ng add ngx-bootstrap `` it shows an error.
- ``An unhandled exception occurred: Cannot find module '@schematics/angular/utility/config'``

ngx-bootstrap:
- default
Angular:
- 11
Bootstrap:
- both
Build system: Angular CLI, System.js, webpack, starter seed:
Angalur CLI
**Expected behavior**
[code]

[2021-04-08 22:26] beletate commented on #6067
Try `npm uninstall -g @angular/cli` then `npm install -g @angular/cli`.

[2021-04-12 15:59] juliedev commented on #3348
Someone found a workaround?

[2021-04-12 18:21] nchizhov opened #6068 "Datepickerange not working min and max date"
Bug description: When set config to minMode 'year' and set min and max date - user can select years before and after min/max dates.

Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 6.2.0

Angular: 11.1.0

Bootstrap: 3.4.1

Build system: Angular CLI

[2021-04-13 19:38] daniel-huser commented on #5906
Same issue here.

[2021-04-16 09:15] bouziani98mustapha commented on #624
how in open a modal from another component (shared component modal ) and inject in my parent component with viewChild in angular 8 ? my modal is a activeModal ? and thanks for reponding

[2021-04-16 10:35] iamade opened #6069 "Datepicker Returning time stamp dateOfBirth: "2021-04-07T10:30:11.000Z""
When I submit my form, the date picker returns the format (dateOfBirth: "2021-04-07T10:30:11.000Z") but that is not what I am passing in my reactive form. Please see images below.

<img width="420" alt="Screenshot 2021-04-16 at 11 31 42" src="https://user-images.githubusercontent.com/31669931/115012230-7e435100-9ea7-11eb-869e-a57f218808ff.png">

<img width="524" alt="Screenshot 2021-04-16 at 11 31

[2021-04-16 15:35] Jan-Ole commented on #6067
@beletate that does not work for me. I'm on Version 11.2.9 for cli and schematics which is currently the latest version and I get the same error.

[2021-04-17 06:24] rendaardy commented on #6067
Related issue #6037

[2021-04-18 15:39] leo6104 commented on #6061
I also waiting for next release. Wait for `closeInterceptor` feature in modal.

[2021-04-20 06:38] PrashantSinghGour commented on #3740
@yangfan0356 @kamalSaiDd on html i'm getting build error saying **'Directive ɵc, Expected 2 arguments, but got 1.'**

[2021-04-20 09:09] akashtambe11 commented on #2457
After adding in intermediate module, I m getting this error
i m using "ngx-bootstrap": "^6.2.0",

****************************************************************************

ERROR Error: Uncaught (in promise): NullInjectorError: R3InjectorError(SalesActivitiesModule)[ComponentLoaderFactory -> ComponentLoaderFactory -> ComponentLoaderFactory -> ComponentLoaderFactory]:
  NullInjectorError: No pro

[2021-04-22 08:28] harikasin commented on #4428
Could there have been a regression? I have a shared code project that was pointing to target "es2015", it had the same error with the date picker. I had to go down a level and point to "es5" to be able to work with it.

[2021-04-24 08:10] marcinmajkowski opened #6070 "Setting Collapse component display input does not work"
### Bug description

Collapse directive has `display` input but setting its value to e.g. `'flex'` does not change display of collapse host - directive still sets it to `block`.

### Reproduction

https://stackblitz.com/edit/angular-hw6kgm?file=app/basic.html

In reproduction, `display` is set to `'flex'` however directive keeps setting `style="display: block;"`.

### Additional information

This

[2021-04-25 06:14] anuj9196 opened #6072 "Feature Request: Circular progress-bar"
**Is your feature request related to a problem? Please describe.**

No

**Describe the solution you'd like**

Add support for the circular progress bar in the progress-bar component
For example

https://stackblitz.com/edit/angular-circle-progress

**Describe alternatives you've considered**
https://stackblitz.com/edit/angular-circle-progress

https://i.ibb.co/XyNkrG2/Screenshot-2021-04-25-at-11-42

[2021-04-25 18:16] mtgleeson commented on #3623
I'm hitting the same issue - any fix?
I'm using ngx-bootstrap 6.2.0 and @ng-select/ng-select 6.1.0.

[2021-04-27 12:58] PieterjanDeClippel commented on #5357
Same here

[2021-04-28 12:34] JonLunde commented on #5095
@vincentjdc Is there a way to work around this? I've come across the same problem as him. I use the DatePicker component as a custom form control. When I initialize the DatePicker with bsValue it is not formated.

[2021-04-28 22:33] fras2560 opened #6073 "Help - Static Modal"
I am trying to follow this static bootstrap example.
https://stackblitz.com/edit/ngx-bootstrap-8v1nb5?file=package.json

However, whenever I click the modal appears but the modal class is just "fade in" and never gets set to "fade in show" like the example. Anyone have any ideas or things to try? I am not really sure what I am doing wrong.

[2021-04-29 09:10] medi6 commented on #5299
Hi all,

I've seen, about this issue, that it's ok by fixing width / height in popover css class.
Without fixing width/height, initial position is OK, but not after template compilation.
To fix this, I think the best way will be to update position after compilation...

[2021-04-29 09:39] devendraastegic commented on #6037
I have installed - "**@schematics/angular": "^11.2.11**" but still I am facing the issue.

Is anyone found the solution for that?

[2021-04-29 10:11] Akhileshkudla commented on #6037
No able to work with schematics/angular 11.2.11
tried to switch to 9.1.0, **### Working for now!** But I am not confused as why it is notworking with latest angular cli

npm uninstall @schematics/angular
npm install @schematics/angular@9.1.0

[2021-05-03 04:31] Et3rnal opened #6075 "Allow distinct typeahead results"
**Is your feature request related to a problem? Please describe.**

I have an array of objects, I'm using the typeahead `typeaheadOptionField` to lookup a single value, however, this value can appear multiple times in the array. I didn't find a way to distinct the results going back to the type ahead.

**Describe the solution you'd like**

An option like `typeaheadOptionFieldDistinct="true"` for f

[2021-05-03 10:22] AdamHamdi commented on #4792
it doesn't work for me with angular 11

[2021-05-03 19:36] devOneto opened #6076 "Class "modal-open" is not removed from body when modal's closed."
**Bug description:**

- When the modals open with a click that invokes BsModalService.show the class "modal-open" is added into a global <body> tag. But when the modal's closed that class it's not removed from there. It cases, for exemple, that the scrollbar dissapear in the all application "pages".

ngx-bootstrap: ^5.6.1
Angular: 9.1.12
Bootstrap: 4.5.0

[2021-05-05 14:21] DenisSouza2018 commented on #4428
Resolveu pra mim mesmo usando uma versão mais antiga.

[2021-05-06 08:36] oliverw commented on #5995
So, Bootstrap 5 is out. What's the current story of ngx-bootstrap and BS5?

**Update:** Looking at the code, there's currently no story. So in absence of any official response to this, I'd say BS5 support is quite far away.

[2021-05-06 12:06] why-asia opened #6077 "Updated documentation UI"
Link to designs: https://www.figma.com/file/ts8AseWJMLuXjG5V2vRtSZ/ngx-Bootstrap-DS?node-id=3%3A5

[2021-05-06 12:11] why-asia opened #6078 "Fix schematics for ng 11"
FIX for nx 11 (build and test schematics)

Suggested fix - https://github.com/ngneat/lib#readme
or ng-bs or material

[2021-05-06 12:14] why-asia opened #6079 "GH-pages update"
Drop old versions from gh-pages, keep only latest major versions manual task, remember about 5.6.0 is actually latest

[2021-05-06 12:15] why-asia opened #6080 "chore(docs): split latest\next in version selector on demo site"
Split latest and next versions in docs

Similar to https://github.com/semantic-release/github/blob/master/README.md

Using https://img.shields.io/npm/v/ngx-bootstrap/next.svg

[2021-05-06 12:16] why-asia opened #6081 "chore(readme): update readme.md and getting started guide"
Review docs (.md)
- update contribution documentation
- remove links to surge

[2021-05-06 12:18] why-asia opened #6082 "chore(ci): prepare github action scripts to release new version"
github actions on tag(new version):

- [ ]  update gh-pages
- [ ]  publish to npm
- [ ] create release notes

[2021-05-06 12:19] why-asia opened #6083 "chore(ci): run full cypress scope in ci"
github actions cypress: ga on PR -> "cy:run:smoke": "APPLITOOLS_CONCURRENCY=100 ../cypress run --config integrationFolder=cypress/integration", ga on ready for testing -> "cy:run:full": "APPLITOOLS_CONCURRENCY=100 ../cypress run --config integrationFolder=cypress/full"

[2021-05-06 12:22] why-asia opened #6084 "Test w/ npm version script"
Generate api-docs, check that it works on npm version script

[2021-05-07 04:22] mgoodnight commented on #5162
Ran into this issue and was following a similar pattern as OP (trying to invoke visibility of modal via modal ref and modal service). Fixed by wrapping my markup in `ng-template` (modal expects TemplateRefs).

[2021-05-07 10:21] joehansen commented on #6003
Hey, any updates on this issue? We are facing the same. Thanks

[2021-05-07 10:39] nikolastj commented on #5357
Actually I found the solution that worked for me: **bs-datepicker-inline** and implement custom dropdown element on ng-select

[2021-05-07 13:18] daniel-seitz commented on #6066
We have the similar issue that if the date is not picked but written in the input and the written input is before the minDate or after the maxDate then the diplayed date (input value) is automatically changed to either the minDate or the maxDate respectively.

Before we had the written date stay as is and displayed an warning/error message.

For business users its critical that the value is not ch

[2021-05-07 13:59] daniel-seitz opened #6085 "Datepicker input automatically changes the displayed value"
**Bug description:**
Written input is automatically changed when the minDate /maxDate is specified and the written value is invalid
In v5.4 it still worked as expected
In v5.5 it broke

This is especially wrong since the formControl.value stays as written, and also the ngModelChange event emits that written date

**Reproduce:**
Go to: https://valor-software.com/ngx-bootstrap/old/5.5.0/#/datepicker

[2021-05-08 17:49] fras2560 commented on #6073
Was able to figure out my issue

[2021-05-08 17:49] #6073 closed, assigned to nobody

[2021-05-09 15:05] bohrasankalp commented on #652
Any updates?

[2021-05-11 06:00] merginioepp commented on #3825
Hello. I am facing the same issue. I am using ng-template as my modal elementRef. Inside the ng-template is a component that I would like to get the reference using ViewChild decorator. However, after opening the modal, the ViewChild reference returns undefined. Is there any solutions to this using ViewChild decorator and ng-template?

[2021-05-11 10:27] why-asia opened #6087 "TBD - Release page"
Press release section / page: When we do releases it would be good for us to have a place on the site to have a dedicated page that we can point back to for both social media campaigns but also to keep the site updating and fresh.

[2021-05-11 10:28] why-asia opened #6088 "TBD - Google (?) Analytics setup"
Event tracking on the page: As people click things like the version drop down, get started, documentation, it would be helpful if we can track these as google analytics events so we can track conversions. This is especially important for the "Get our Help" and "become a sponsor" sections so we can compare form starts and form completion statistics.

[2021-05-11 10:30] why-asia opened #6089 "TBD - Main page > Themes"
Consider making themes visible on the main page

[2021-05-11 10:34] why-asia opened #6090 "TBD - Video tutorials"
Video tutorials: we currently have no place on the site for us to put video tutorials and guides.

[2021-05-11 10:35] why-asia opened #6091 "TBD - Figma assets"
Figma assets: In addition to giving people access to the developer documentation we should provide a figma file that is versioned and in lockstep with our library.

[2021-05-11 10:37] why-asia opened #6092 "TBD - Extend localization/accessibility options"
it would be awesome to add i18n and l10n and a11y support on ngx-bootstrap

[2021-05-11 16:10] why-asia opened #6094 "Documentation to nx"
Move pages and sections to _libs_ folder, update the dependencies accordingly.

Structure:
lib -> doc_pages -> [Accordion, Alerts, Buttons, Carousel, Collapse, Datepicker, Dropdowns, Modals, Pagination, Popover, Progressbar, Rating, Sortable, Tabs, Timepicker, Tooltip, Typeahead ];
lib-> doc_section -> [demo, header, footer, etc]

Desired outcome: the dependency tree with documentation modules/sec

[2021-05-12 09:15] muhammadali1995 commented on #6022
@szhang6 Is this code released ?

[2021-05-12 19:59] grichards23 commented on #6059
Same issue - simple code I've used a millions times prior to version 6.
In version 6, this works:
[code]
This does not - only difference is I'm supplying ModalOptions as the Type:
[code]
Using Type assertion also works:
[code]

[2021-05-13 09:45] edchai opened #6097 "feat(carousel): 'Open prev slide' button doesn't switch user from first slide to last"
ngx-bootstrap: https://ngx-bootstrap-demo.web.app/ngx-bootstrap/ (version 4)

**Expected behavior**

After click on 'Open prev slide' button user should be switched from first slide to last
https://images.zenhubusercontent.com/40403310/ad2c6144-49c9-4647-86ec-5673330d5e30/screen_recording_2021_05_12_at_13_33_39.mov

[2021-05-13 13:11] valorkin commented on #6081
update getting started page when readme is fine
https://valor-software.com/ngx-bootstrap/#/documentation#getting-started

[2021-05-14 07:46] naviln commented on #2618
Thanks!

[2021-05-16 12:30] edchai opened #6102 "feat(datepicker): date format is MM/DD/YYYY instead of MM.DD.YYYY"
https://images.zenhubusercontent.com/40403310/ba63b291-b240-4116-bf15-50344394f3ca/date_format.mov

[2021-05-16 13:44] #6102 closed, assigned to why-asia

[2021-05-16 13:46] edchai opened #6103 "feat(datepicker): date input for 'Initial state' example is empty"
https://images.zenhubusercontent.com/40403310/49bf80ce-fd6c-4340-beb8-e6fd923d2628/init_state.mov

[2021-05-16 13:55] edchai opened #6104 "feat(datepicker): examples for 'Min mode' don't work"
https://images.zenhubusercontent.com/40403310/36ac3ded-a87f-4b63-b8db-dd3f516765f5/min_mode.mov

[2021-05-17 06:44] vijaiselvam opened #6105 "maxDate and maxDateRange not working properly when used together in ngx-bootstrap date range picker"
Hi

I have set my maxDate to currentDate(today) and maxDateRange set to 10 days. So when I click on yesterday it still allows me to select future dates because of the range 10 set. But here, I have also set maxDate to today(currentdate).
So when I using both together maxDate is not working when the range falls within.

https://stackblitz.com/edit/angular-djpvky?file=app/ngx-bootstrap-demo.componen

[2021-05-17 11:29] SvetlanaMuravlova commented on #6094
Finalize structure after implementation
Structure:
libs -> doc_pages -> [Accordion, Alerts, Buttons, Carousel, Collapse, Datepicker, Dropdowns, Modals, Pagination, Popover, Progressbar, Rating, Sortable, Tabs, Timepicker, Tooltip, Typeahead ];
libs-> common-docs -> [api-docs, common, demo-section, demo-section-components, docs-section, models, theme, tokens]

[2021-05-17 12:14] SvetlanaMuravlova opened #6106 "Fix (element): disable button 'Custom range' in datepicker"
Bug description:
ngx-bootstrap/datepicker#quick-select-ranges (on local version)
After clicking on button 'Custom range' gets error
ERROR TypeError: Cannot read property 'value' of undefined
https://valor-software.slack.com/archives/C8YFSDF5H/p1621244973169700?thread_ts=1620995748.163500&cid=C8YFSDF5Hhttps://images.zenhubusercontent.com/40403310/5ab18030-de99-445f-99d7-d617f50190a8/screen_recordin

[2021-05-17 20:18] eric-simonton-sama opened #6108 "Support Angular 12"
Angular 12 is officially released now. This is a feature request for ngx-bootstrap to officially support it. Currently [it looks like](https://github.com/valor-software/ngx-bootstrap#compatibility) only up to Angular 10 is supported.

Thank you for the nice library!

[2021-05-18 14:59] l4nos commented on #5859
Any movement on this? I'll pay for someone to implement this into a release, need it for a production project.

[2021-05-18 15:21] zackarychapple opened #6110 "Handle surge.sh domain requests"
**Description:**
Currently the ngx-bootstrap-latest.surge.sh is out of date and is showing version 5.6.  Traffic is coming from this site to the main docs site.  It would be good to explore either updating this or adding a redirect so these people are not lost.

[2021-05-19 06:29] edchai opened #6111 "feat(datepicker): Only part of the days are enabled by default for 'Max Date Range in Daterangepicker' example"
https://images.zenhubusercontent.com/40403310/0122eb50-9e74-4ed0-965b-3adf264fd009/max_date_range.mov

[2021-05-19 06:39] edchai opened #6112 "feat(dropdowns): dropdowns opening upward instead of downward"
https://images.zenhubusercontent.com/40403310/deb880dd-f22b-459d-a226-2612ecf858ba/dropdown_opening.mov

[2021-05-19 06:49] edchai opened #6113 "feat(dropdown):child options only close on re-hover (Nested dropdowns (experimental))"
That's why the child options overlap. Also, after clicking on the nested option user is redirected to the welcome page.
https://images.zenhubusercontent.com/40403310/a0f9ac21-d026-463b-9cea-f8284c37fb7b/nested_dropdown.mov

[2021-05-19 06:53] edchai opened #6114 "feat(pagination): "Next" button is right aligned ('Pager' example)"
https://images.zenhubusercontent.com/40403310/1be09f8f-98c5-41bd-9e5e-cb5006fb6d2e/pager.mov

[2021-05-20 05:08] UdayAppam opened #6116 "Datepicker: week numbers shows wrong for may-2021"
Hi Team,
Datepicker showing the wrong week numbers please refer below screenshot.
![image](https://user-images.githubusercontent.com/10434967/118922193-38225700-b957-11eb-89ca-8fe35bfa2948.png)

As per the [epoch converter ](https://www.epochconverter.com/weeknumbers) **Week 20** is from Monday, May 17, 2021 until (and including) Sunday, May 23, 2021.
but our ngx-bootstrap shows as **week 21**
Cou

[2021-05-20 08:31] why-asia opened #6117 "Migration plan"
Each component should support 3/4/5 bootstrap

[2021-05-21 08:21] #6117 closed, assigned to SvetlanaMuravlova

[2021-05-21 08:39] why-asia opened #6118 "Documentation update - Bootstrap 5"
The documentation should be updated to support Bootstrap 3/4/5

[2021-05-21 08:47] why-asia opened #6119 "feat (Datepicker): Docs/ Datepicker"
- [x] Inline-datepicker.component.htm
libs/doc-pages/datepicker/src/lib/demos/inline-datepicker/inline-datepicker.component.ts

Issues:
Renamed .pl-* and .pr-* to .ps-* and .pe-*

BRANCH bs5-libs-datepicker

[2021-05-21 08:57] SvetlanaMuravlova opened #6120 "feat (common-docs): Docs/ common-docs/common"
- [x] Inline-datepicker.component.htm Renamed .pl-* and .pr-* to .ps-* and .pe-*.

Branch bs5-libs-common-docs-common

[2021-05-21 09:45] SvetlanaMuravlova opened #6122 "feat(accordion): Docs/docs-pages/accordion"
custom-html.html
libs/doc-pages/accordion/src/lib/demos/custom-html/custom-html.ts

Issues:

- [x] Dropped all .badge-* color classes for background utilities (e.g., use .bg-primary instead of .badge-primary).

Branch bs5-libs-accordion

[2021-05-21 09:46] SvetlanaMuravlova opened #6123 "(docs) - buttons"
Corner-placement.html
libs/doc-pages/popover/src/lib/demos/corner-placement/corner-placement.ts

Issues:
- [ ] Validation icons are no longer applied to <select>s with multiple
Selects don’t have arrow icons anymore

[2021-05-21 10:02] SvetlanaMuravlova opened #6124 "feat(buttons): Docs/docs-pages/buttons"

[2021-05-21 10:03] SvetlanaMuravlova opened #6125 "feat(dropdown): Docs/docs-pages/dropdown"

[2021-05-21 10:07] SvetlanaMuravlova opened #6126 "feat(tabs): Docs/doc-pages/tabs"
- [x]  custom-template.html
libs/doc-pages/tabs/src/lib/demos/custom-template/custom-template.html
Issues:
Dropped all .badge-* color classes for background utilities (e.g., use .bg-primary instead of .badge-primary).

Branch bs5-libs-tabs

[2021-05-21 10:08] SvetlanaMuravlova opened #6127 "feat(carousel): src/carousel"
Carousel.component.html
src/carousel/carousel.component.html

- [x] In Bs5 we can see indicators near with arrow buttons in carousel are changed from "a" to "button" .Carousel indicators are changed from "ol" --> "div" ,  "li" --> "button"

- [x] On multilist carousel, Multilist Single Offset, Multilist Start From Index, Multilist Indicators By Chunk

Tests

- [x] Carousel.component.spec.ts

Branc

[2021-05-21 10:15] SvetlanaMuravlova opened #6128 "feat(alert): src/alert"
Alert.component.html
src/alert/alert.component.html

- [x] Close buttons. In Bs5 we should delete spans <code>  <span aria-hidden="true">&times;</span>
<span class="sr-only">Close</span></code>  Change button class .close ---> .btn-close

- [x] Renamed .sr-only and .sr-only-focusable to .visually-hidden and .visually-hidden-focusable

Test

- [x] src/alert/testing/alert.component.spec.ts

Branch b

[2021-05-21 10:16] SvetlanaMuravlova opened #6129 "feat(modals): Docs/doc-pages/modals"
Service-component.ts
(libs/doc-pages/modal/src/lib/demos/service-component/service-component.ts)
Issues:

- [x] Close buttons. In Bs5 we should delete spans
<span aria-hidden="true">&times;</span>
<span class="sr-only">Close</span>
Change button class .close ---> .btn-close

accessibility.html
libs/doc-pages/modal/src/lib/demos/accessibility/accessibility.html

Issues:
- [x] Close buttons. In Bs5

[2021-05-21 10:21] SvetlanaMuravlova opened #6130 "feat(dropdown): Docs/doc-pages/dropdown"
split.html
libs/doc-pages/dropdown/src/lib/demos/split/split.html

Issues:

- [x] Renamed .sr-only and .sr-only-focusable to .visually-hidden and .visually-hidden-focusable

 custom-html.html
libs/doc-pages/dropdown/src/lib/demos/custom-html/custom-html.html

Issues:
- [x] Dropped all .badge-* color classes for background utilities (e.g., use .bg-primary instead of .badge-primary).

Branch bs5-lib

[2021-05-21 10:22] SvetlanaMuravlova opened #6131 "feat(Rating): Docs/doc-pages/Rating"
rating.component.html
src/rating/rating.component.html
Issues:

- [x] Renamed .sr-only and .sr-only-focusable to .visually-hidden and .visually-hidden-focusable

Tests:

- [x] src/rating/testing/rating.component.spec.ts

Branch bs5-rating

[2021-05-21 15:17] zackarychapple opened #6138 "Add Wappalyzer support"
**Is your feature request related to a problem? Please describe.**

After chatting with @AliasIO it would be helpful if we can add something to ngx-bootstrap that would make it easier to detect that an application is using ngx-bootstrap. Ideally both proving its there and what version it is on. This will help us with supporting versions and knowing progress in upgrading.

[2021-05-21 15:22] valorkin commented on #6111
@edchai as designed, because there are `[bsConfig]="{ maxDateRange: 25 }` set in this demo :)

[2021-05-24 07:54] SvetlanaMuravlova opened #6141 "refactor(elements): move bs versions model into ngx-bootstrap/utils"
Move models for bs versions into ngx-bootstrap/utils

[2021-05-24 16:34] zakarea-Tfaili opened #6147 "Create select input with multiple options"
Nothing is done when trying to simulate select element with options and multi-select (optional)
The element should return an array of values from the provided options or with an option to select the value and text (As when setting ngValue for normal select element)

[2021-05-25 08:47] SvetlanaMuravlova commented on #6113
Не смогла решить данный баг. Для его реализации необходимо проверять открытие соседних dropdown,  в рамках существующей директивы не получилось реализовать подобный функционал

[2021-05-25 13:39] SvetlanaMuravlova commented on #6076
it seems it is resolved) https://images.zenhubusercontent.com/40403310/6a84af7e-51a9-4f0e-ac47-f69c61e264d1/modal_open.mp4

[2021-05-25 16:51] devOneto commented on #6076
Hello Svetlana Pavlova! Thanks for attention. That issue occurs in Angular 9.

[2021-05-25 18:55] m1kl opened #6149 "Date range picker year and month calendar view incorrectly applies selected style when clicking on disabled year/month"
Bug description:

When using mix and max date, Date range picker year and month calendar view applies the selected style when clicking on disabled year / month cell.

[Video reproducing the bug](https://streamable.com/nmncew)

Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 7.0.0-rc.0

Angular: 11.2.0

Bootstrap: 3 and 4

Build system: Angular CLI, System.js, webpack, starter se

[2021-05-25 20:50] #6104 closed, assigned to valorkin

[2021-05-25 20:52] #6103 closed, assigned to valorkin

[2021-05-25 20:58] edchai commented on #6112
This is still actual
 https://images.zenhubusercontent.com/40403310/dc1431e5-1102-457d-935b-8aabc80cc1df/screen_recording_2021_05_25_at_23_57_13.mov

[2021-05-25 21:05] #6094 closed, assigned to SvetlanaMuravlova

[2021-05-26 09:17] #5324 closed, assigned to nobody

[2021-05-27 06:59] probfacile commented on #6038
hi, still no solutions found by me, and they did not update on this with a solution

[2021-05-27 08:38] probfacile opened #6152 "Timepicker: date model changes month if current month is 30 days"
If the timepicker is starting on a new date object on the **first day of any month of 30 days**, spinning back to 11 PM will change the date model to 1 month ahead.
Eg: **June 01 at 1 AM** going back to 11 PM it will change to **July 1 at 11 PM.**
This is a problem when combining a datepicker and a timepicker.

Bug description:

Plunker/StackBlitz that reproduces the issue: https://stackblitz.com/

[2021-05-28 06:53] anjali58 commented on #5242
Error: Error on worker #1: Error: Failed to find exported name of node (class ButtonRadioGroupDirective {
    constructor(el, cdr) {
        this.el = el;
        this.cdr = cdr;
        this.onChange = Function.prototype;
        this.onTouched = Function.prototype;
    }
    get value() {
        return this._value;
    }
    set value(value) {
        this._value = value;
    }
    writeValue(v

[2021-05-28 10:02] #6097 closed, assigned to valorkin, why-asia

[2021-05-28 10:04] #6079 closed, assigned to valorkin

[2021-05-28 10:42] why-asia opened #6155 "Demo page"
According to https://www.figma.com/file/ts8AseWJMLuXjG5V2vRtSZ/ngx-Bootstrap-DS?node-id=731%3A12489

[2021-05-28 11:06] #6155 closed, assigned to SvetlanaMuravlova

[2021-05-28 13:25] gabtoschi commented on #5888
Hello! I'm also facing the same issue and the solution proposed by @frezo00 doesn't work for me. I downgraded to 5.5.0 to get my work done, but you have any idea when this will be fixed? Thx!

[2021-05-31 10:18] #6114 closed, assigned to valorkin

[2021-05-31 10:19] #6112 closed, assigned to SvetlanaMuravlova

[2021-05-31 11:13] edchai opened #6158 "feat(datepicker): 'next month' button is displayed in first month window of the daterangepicker"
![Screenshot 2021-05-31 at 14.03.07.png](https://images.zenhubusercontent.com/608a8147a3a918726c2b7d7d/9f739f29-8171-4e36-957c-44fefcc99c39)
Expected result: 'next month' button shouldn't be displayed in in first month window
![Screenshot 2021-05-31 at 14.12.21.png](https://images.zenhubusercontent.com/608a8147a3a918726c2b7d7d/ccb6d859-089d-4b9f-843e-ae8d4ee91cce)

[2021-05-31 11:54] #6081 closed, assigned to valorkin, SvetlanaMuravlova

[2021-05-31 12:23] edchai commented on #5015
@SvetlanaMuravlova this issue is still actual
![Screenshot 2021-05-31 at 15.21.29.png](https://images.zenhubusercontent.com/608a8147a3a918726c2b7d7d/ebfe5e72-bfe8-48d4-bb83-813f13ee2495)

[2021-05-31 15:22] #6158 closed, assigned to SvetlanaMuravlova

[2021-06-01 08:52] #6077 closed, assigned to why-asia

[2021-06-01 10:49] SvetlanaMuravlova opened #6162 "fix(top-menu): logo in top-menu doesn't work"
logo doesn't work in the top-menu on documentation
https://valor-software.com/ngx-bootstrap/documentation

[2021-06-01 11:45] #6082 closed, assigned to valorkin

[2021-06-01 11:45] #6083 closed, assigned to valorkin

[2021-06-01 13:39] #6162 closed, assigned to SvetlanaMuravlova

[2021-06-01 14:22] elvispdosreis opened #6165 "Different date using max date with manual input"
I have a problem setting the ngmodel value when I enter a manual date entry, and the component has a min and max date set.

as you can see in the example it triggers two value changes in bsValueChange and updates the date on the screen but the date linked to ngmodel is not changed

StackBlitz: https://stackblitz.com/edit/angular-2u6hcq?file=app%2Fmin-max.component.html

Versions of ngx-bootstrap,

[2021-06-01 14:31] #6080 closed, assigned to SvetlanaMuravlova

[2021-06-02 11:52] vijaiselvam opened #6166 "Date Range picker and Quick Select ranges when used together is not giving proper responsiveness on mobile devices"
Hi

I am using ngx-bootstrap date range picker for our applications. I use date range picker along with quick select ranges.
It works fine on large devices like desktop laptop.

But when it comes to mobile it breaks.

Exactly when quick select ranges moves down to adapt mobile, unnecessary white space creates on the right side of the calendar. It should be handled.

Here is the link to stackoverfl

[2021-06-02 15:22] rkhunt007 commented on #4362
@suparnavg Can you let me know the workaround that you used for this?

[2021-06-04 09:08] SvetlanaMuravlova opened #6168 "fix(schematics): add functionality for ng add for separate modules"
add functionality for ng add for separate modules

[2021-06-04 11:39] swnf opened #6169 "Button tooltip overflows page on right side"
Bug description: A button tooltip on the right side of the page is not automatically aligned with the page's boundary and causes an overflow. Tooltips work correctly on the left side.

Plunker/StackBlitz that reproduces the issue: https://stackblitz.com/edit/ngx-bootstrap-tooltip-issue

Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 7.0.0-rc.1

Angular: 11.2.14

Bootstrap: 4.6.

[2021-06-04 17:20] iampranavsethi commented on #5908
I can also confirm this is not working in Firefox version 90.0b3 (Developer Edition) on the ngx-bootstrap homepage and neither in the local Angular Application. (Works in Chrome)

ngx-bootstrap: v6.2.0
Angular: v9
Bootstrap: v4.3

[2021-06-04 20:42] iampranavsethi commented on #5908
When #5027 was merged with #66ae92d
Line No: 47, arrow.ts file
https://github.com/sonicpro/ngx-bootstrap/commit/3e3fe8be5114c73cc4a62ab7f2ad6dde3f549bfd

[code]

this results in targetBorderRadius being set to NaN and essentially the correct value is not set as anything added to NaN is also NaN, I will see if I am able to raise a pull request for this over the weekend but that line is causing it t

[2021-06-04 22:33] goonerify opened #6170 "French locale with Sunday as the first day of the week"
According to international standard ISO 8601, Monday is the first day of the week. However, in the Gregorian calendar currently used in most countries, Sunday is considered the beginning of the week.

The ngx-bootstrap `datepicker` enables the developer to [define the first day of the week through the use of locales](https://valor-software.com/ngx-bootstrap/old/6.1.0/#/datepicker#locales). For exa

[2021-06-07 11:53] #6106 closed, assigned to SvetlanaMuravlova

[2021-06-08 04:42] Bitz commented on #3825
Found this thread as I was having the same issue.

Take a closer look at the [answer posted](#issuecomment-366654668) by @IlyaSurmay:
In their example, though it is not very clear, they created a new component and put that component inside the ng-modal.

The intent for modals is to be used to contain an isolated component directive, from which all contextual @ViewChild declarations will resolve no

[2021-06-09 14:20] webweavr opened #6172 "Bootstrap 5 update"
Any updates on release date for Bootstrap 5 upgrade?

[2021-06-10 07:53] #5015 closed, assigned to SvetlanaMuravlova

[2021-06-10 10:32] SvetlanaMuravlova opened #6173 "fix(schematics): change NGX_BOOTSTRAP_VERSION"
change setting of NGX_BOOTSTRAP_VERSION
try to set it with package.json file

[2021-06-11 04:24] Sushma-tiwari opened #6174 "Ngx-bootstrap time picker wheel change event and meridian change event not found."
Ngx-bootstrap time picker wheel change event and meridian change event not found.
Because i want validation like start and end time in which i am using two ngx-bootsrap time picker if user changes the value of meridian(clicking on am/pm button) then how can validate the thing?
![timepicker](https://user-images.githubusercontent.com/66738000/121630575-07879600-ca9b-11eb-824c-002b4b35741d.png)

[2021-06-11 09:08] r0fest commented on #5524
@Domainv Hello, are there any changes? We can boundary element by input params container, not elementRef?

[2021-06-11 12:17] valorkin commented on #6067
closed as duplicate of #6037
watch for https://github.com/valor-software/ngx-bootstrap/pull/6167
and release of ngx-bootstrap v7 in the nearest days

[2021-06-11 12:17] #6067 closed, assigned to nobody

[2021-06-11 21:51] dinhanhthi commented on #3609
I've exactly the same problem here. Any idea or fixes?

[2021-06-12 07:18] blazekv commented on #3609
@dinhanhthi I made wrapper around this component and use it instead. If you do not need all original Inputs and Outputs it should be easy and small component.

[code]

utc-datepicker.component.ts
[code]

utc-datepicker.component.html
[code]

Usage example:

[code]

[2021-06-13 09:20] dinhanhthi commented on #3609
@blazekv Thanks for a very detailed answer. For a moment, I've found a simpler solution rather than using your suggestion. It suits only for my case, not the problem in this topic. I've noted your way and may use in the future. Thanks.

[2021-06-13 13:28] ambujkhanna opened #6175 "Is there any code breaking changes in v7.0.0 from v5.6.x"
**Description:**
I am currently using v5.6.1 in Angular 8 project but I have just upgraded it to Angular v11 and I faced an issue with dropdown. It is not opening on first click. After second click it is start working properly. I find **root cause is `open` class is not adding in first time**
![image](https://user-images.githubusercontent.com/3599739/121809215-90f4bf00-cc79-11eb-80fb-ab22a3d7af36.

[2021-06-14 02:46] dionatan-g commented on #5408
Any update on this issue? pretty annoying.
For me the problem occurs at 100% zoom in chrome.

[2021-06-14 08:43] Eddudavid opened #6176 "NgbTooltip instantly closes on iOS devices using Angular 11"
Bug description:

Having an ngbTooltip on a span element, on iOS devics the tooltip auto closes right after it opened.

Plunker/StackBlitz that reproduces the issue:

https://angular-ivy-el4yvx.stackblitz.io

Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 9.1.2

Angular: 11.1.0

Bootstrap: 4.5.3

**Expected behavior**

Like on desctop, and android devices, the tooltip should st

[2021-06-14 09:44] #6176 closed, assigned to nobody

[2021-06-14 09:45] daniloff200 commented on #6176
ngb-tooltip looks like a tooltip from ng-bootstrap. Also, we don't have version 9.1.2 :)

[2021-06-14 11:00] AleksandarMiha opened #6177 "When I manually enter a date without a hyphen, I delete it and re-enter it does not update"
Stackblitz example: https://stackblitz.com/edit/angular-bug-dateinputformat?file=app/custom-format.html

Here is video example: https://vimeo.com/562722209

Let me explain one more time. I enter the date manually. I clicked outside the date picker. And a date is formed property. But the second time I enter the same thing on it I don't update the dateInputFormat well.

You can try this bug on your

[2021-06-14 11:06] AleksandarMiha commented on #6177
Stackblitz example: https://stackblitz.com/edit/angular-bug-dateinputformat?file=app/custom-format.html

Here is video example: https://vimeo.com/562722209

Let me explain one more time. I enter the date manually. I clicked outside the date picker. And a date is formed property. But the second time I enter the same thing on it I don't update the dateInputForm well.

You can try this bug on your of

[2021-06-15 12:40] why-asia opened #6178 "Schematics > Documentation update"
Update documentation according to latest schematics changes

- [ ] general
- [ ] accordion
- [ ] alerts
- [ ] buttons
- [ ] carousel
- [ ] collapse
- [ ] datepicker
- [ ] dropdowns
- [ ] modals
- [ ] pagination
- [ ] popover
- [ ] progressbar
- [ ] rating
- [ ] sortable
- [ ] tabs
- [ ] timepicker
- [ ] tooltip
- [ ] typeahead

[2021-06-15 12:43] why-asia commented on #6178
Update documentation according to latest schematics changes

- [ ] general
- [ ] accordion
- [ ] alerts
- [ ] buttons
- [ ] carousel
- [ ] collapse
- [ ] datepicker
- [ ] dropdowns
- [ ] modals
- [ ] pagination
- [ ] popover
- [ ] progressbar
- [ ] rating
- [ ] sortable
- [ ] tabs
- [ ] timepicker
- [ ] tooltip
- [ ] typeahead

[2021-06-15 22:00] AleksandarMiha commented on #6177
@SvetlanaMuravlova  Hi Svetlana, I saw you were one of the moderators. Can you just look at this ticket?

[2021-06-17 10:06] Juliete commented on #5155
I solved it by declaring the ng-select as ViewChild in the component and setting its typeahead property there

[2021-06-18 10:19] zakarea-Tfaili commented on #3609
@blazekv  Great solution you saved my day, just add the .html of the component

Hope the team fixes this issue or at least provides a good reason why it is there.

Best regards

[2021-06-18 10:23] blazekv commented on #3609
@zakarea-Tfaili I have updated previous post and added template.

[2021-06-18 10:59] #6111 closed, assigned to why-asia

[2021-06-20 12:08] dionatan-g commented on #5727
Still broken

[2021-06-23 03:46] kishan-cool opened #6182 "Bug in datepicker"
when we use input box for datepicker in lower version of ios it dont work properly it act as input field

[2021-06-23 09:12] harry-kalligeros commented on #3609
@blazekv Great solution you saved my day too!!!! Great solution

[2021-06-23 10:43] angularteam402 opened #6183 "enabledDates are not working, while using Inline property"
Hi Everyone,
I'm facing an issue with Datepicker in #ngx-bootstrap, when I use the Inline property for default open datepicker, enabledDates are not working..

<bs-datepicker-inline #dp="bsDatepicker"   bsDatepicker  [bsConfig]="{  }"   [daysDisabled]="disabledDays || null"
      [datesEnabled]="enabledDates"  (bsValueChange)="onSelect($event)" >
</bs-datepicker-inline>

my requirement is to use b

[2021-06-23 16:01] #6183 closed, assigned to nobody

[2021-06-24 05:28] Et3rnal commented on #6059
Same issue!
thanks to @grichards23 adding ` as ModalOptions` fix it

[code]
I don't know why the documentation doesn't use the type! it should

[2021-06-24 23:17] TheGameKnave opened #6184 "Req: method to reposition tooltips on-demand"
**Is your feature request related to a problem? Please describe.**

Yes. When appending a tooltip to the body, from within a scrollable container, the tooltip will not scroll with the parent container (because it's not associated with it. After scrolling, if I hover over certain elements, the tooltip will snap back to correct position (maybe due to some change detection forcing a redraw?)

**Descr

[2021-06-25 12:11] ganholete commented on #6021
I have the same problem and I think it's bad behavior, changing the value the user entered cannot be arbitrarily changed

[2021-06-26 20:32] ghost commented on #5888
Hi, I'm stuck with similar case... Any update for this issue? Thx! ;)

[2021-06-27 15:07] JoeGiladNice commented on #5800
I agree with @Dassderdie . Removing a feature which is so essential when working with templates, not removing it from documentation and letting the user wonder why it's not working?

[2021-06-28 06:58] tanvirul commented on #5983
I was also facing the same issue. To solve this issue, make sure parent and child modal have a different id property value. By default we don't set id property. But to fix this issue you have to set an unique id for each modal. It will works in my case. Here is sample code you can try.
 const initialState  = {
          data:sample_data
        }
        let modalConfig = {
          backdrop: tru

[2021-06-28 07:05] Karan653 commented on #6108
We have a requirement to upgrade to Angular 12 .Since IVY is default compilation and rendering engine in Angular 12, ngx-bootstrap 6.2.0  on  compilation with Angular 12 is throwing error (ngcc failed to run on bootsrap 6.2.0). Can you please help out in letting us know if there is any planned release for the same?. This would be of great help.

[2021-06-28 09:09] zuberspathan opened #6185 "how to update data in already opened modal"

[2021-06-28 18:47] hoclun-rigsep opened #6186 "after upgrade, [isAnimated] on collapse causes infinite loop"
Bug description:

Collapse cycles endlessly between expanded and collapsed, but only when isAnimated is true. This occurs after upgrade to Angular 11 and ngx-bootstrap 6.2. I'm calling `hide()` on the bs-collapse, and frankly following along in the debugger just had me confused.

[2021-06-29 09:48] SvetlanaMuravlova opened #6187 "build(compiler): replace "enableIvy" with "compilationMode": "partial""
Add  fullTemplateTypeCheck, check strict flag, replace enableIvy with "compilationMode": "partial"
in tsconfig files

[2021-06-29 11:10] Dassderdie commented on #6185
I think this should not be an issue but instead a question on stackoverflow...

You could just inject a Service in your Modal and use the data the service provides.

You can do it also directly via `BsModalRef.content`.

Here is an example:
[code]
Depending on the ChangeDetectionStrategy in the modal it could be better to call a public function in the modal or solve this via a Subject.

[2021-06-29 11:19] SvetlanaMuravlova opened #6189 "test ngx-bootstrap before 7 release"
Need testing before 7 release because of adding initialized  value for _autoCapture  in src/focus-trap/focus-trap.ts

[2021-06-29 11:21] SvetlanaMuravlova opened #6190 "Add strict flag for module chronos"
Add "strict": true for chronos module and fix compile errors

[2021-06-29 11:22] Dassderdie commented on #6108
According to the `Readme` Angular 12 will only be supported with `^7.0.0`:
<html>
<body>

7.0.0 | 11.x.x - 12.x.x | 3.x.x or 4.x.x
-- | -- | --
6.0.0 | 9.x.x - 10.x.x | 3.x.x or 4.x.x

<br class="Apple-interchange-newline">
</body>
</html>

There is already `7.0.0-rc.1` published via npm so you could potentially try that.

@valorkin Is there already an ETA for a stable release of version 7?

[2021-06-30 00:45] adamjhickey commented on #5624
What was the resolution to this? Was there no 5.5.1?

[2021-06-30 08:35] SvetlanaMuravlova opened #6191 "Fix(routing): fix github pages 404 on ngx-bootstrap-doc"
fix github pages 404 on ngx-bootstrap-docs site
https://valor-software.com/ngx-bootstrap/accordion
![image.png](https://images.zenhubusercontent.com/6093e07a840f68ab1cb382be/e79193c4-7a9d-48ea-a3df-92be05b01fc1)

[2021-06-30 13:00] sid69330 commented on #2618
const ids: number[] = this.modalService['loaders'].map((l) => l.instance.id);
     for (const id of ids) {
         this.modalService.hide(id);
     }

[2021-06-30 13:15] ubihacks commented on #6172
any update ?

[2021-06-30 16:02] KelseySheely commented on #5624
@adamjhickey I believe the revert commit was included in 5.6.0, so anything in 5.5.* will have the bug.

https://github.com/valor-software/ngx-bootstrap/releases/tag/v5.6.0

[2021-06-30 16:42] adamjhickey commented on #5624
Thank you. I thought 5.6.0 was not compatible but I just had to update some imports to the more specific paths... but now dropdown alignment and z-index issues with modals appear. Probably just use a custom typeahead at this point.

[2021-07-01 13:03] AllThatIsRam commented on #5993
when can we expect this Show/Clear button to be added on DateRangePickers..

[2021-07-01 15:09] DmitriyIvanko opened #6192 "bs-datepicker-inline triggers an infinite detect changes loop during development (with ext-module-list STORE_DEV_TOOL_MAX_AGE !== [])"
Datetimepicker for development only have trigger infinity detect changes with ext-module-list STORE_DEV_TOOL_MAX_AGE !== []

[2021-07-01 17:57] ct24p opened #6193 "how to unit test codes inside this.modalService.onHidden.subscribe() below?"
this.modalService.onHidden.subscribe((reason: string | any) => {
   // codes to be unit tested
}

[2021-07-01 20:36] simeyla commented on #993
#### For dynamic components only:

I've added a pretty extensive solution I'm quite happy with using a custom directive and ComponentPortal.

It will automatically add the `_ngcontent` attribute for you - and be in a single place if a change ever needs to be made!

Using `::ng-deep` can be dangerous if styles leak into child components, and it's always nice to eliminate usage of it wherever possib

[2021-07-05 09:43] LemonyPie commented on #6053
@why-asia is it possible to detect if user scrolled to the end of elements list to load them from backend with offset?

[2021-07-05 11:36] arumuganainar73 commented on #5191
I am getting this error while update the different version of angular
For Example: i have used 11.0.3 previously now i have updated my library peer as 11.2.0
i  am getting below error while user lower versions in application
i have imported BrowserAnimationsModule also..
imports: [BrowserAnimationsModule]

ERROR NullInjectorError: NullInjectorError: No provider for AnimationBuilder!
    at NullInj

[2021-07-05 15:09] gregoire-rouillon opened #6195 "Modal is not always hidden after calling .hide()"
**Bug description**

Calling the `.hide()` method on a modal will not hide it if the opening animation (150ms by default) is not finished yet.

**Plunker/StackBlitz that reproduces the issue**

StackBlitz: https://stackblitz.com/edit/ngx-bootstrap-csh27l?file=src%2Fapp%2Fapp.component.ts

**Versions of ngx-bootstrap, Angular, and Bootstrap**

ngx-bootstrap: 6.2.0
Angular: 10.0.2
Bootstrap: 3.3.7

[2021-07-06 18:14] KaseFar opened #6197 "Bs-datepicker-inline: How to get the value of selected date in a method event on bs-datepicker-inline. And what is the event like (ngModelChange) to hook to once a new date is selected"
**Is your feature request related to a problem? Please describe.**

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**

A clear and concise description of what you want to happen.

**Describe alternatives you've considered**

A clear and concise description of any alternative solutions or features you've considered.

*

[2021-07-07 12:25] #6178 closed, assigned to SvetlanaMuravlova

[2021-07-07 12:27] #6078 closed, assigned to SvetlanaMuravlova

[2021-07-07 12:27] #6168 closed, assigned to SvetlanaMuravlova

[2021-07-07 12:30] #6105 closed, assigned to SvetlanaMuravlova

[2021-07-07 12:45] #6191 closed, assigned to SvetlanaMuravlova

[2021-07-08 15:15] JoschuaSchneider commented on #5888
Hey, we've just run into the same issue using the inline datepicker and ended up finding a possible fix for this.

The problem seems to be the `setConfig` method inside the date picker directive.

This happens every time you change any input except `bsConfig`, so the Problem does not only apply to `minDate`.

After the config gets updated, this code in `BsDatepickerInlineDirective`:

[code]

Creat

[2021-07-09 04:03] Et3rnal commented on #940
+1

[2021-07-09 12:14] AleksandarMiha commented on #6177
Any answear ? @nigelsim @ciriarte @peterblazejewicz @mixomat

[2021-07-09 16:19] davebednarski commented on #6038
+1

[2021-07-12 06:28] stefan-niedermann opened #6202 "Make century detection configurable"
**Is your feature request related to a problem? Please describe.**

The datepicker allows to enter a date like `02.02.02` and automatically adds the century: `02.02.2002`. Unfortunately the detection of the century is currently hardcoded and switches at the year `68`:

https://github.com/valor-software/ngx-bootstrap/blob/9c906398facdb5c1177e150ba3dc9414c9090086/src/chronos/units/year.ts#L71-L73

T

[2021-07-12 21:34] EricBPower opened #6203 "Accordion has WCAG 4.1.2 nested-interactive errors"
Before opening an issue, please search for duplicates (opened and closed) https://github.com/valor-software/ngx-bootstrap/issues There's no need to open an issue here if you want to ask general question, use StackOverflow or Slack instead

Bug description:  The ngx-bootstrap implementation of accordions has WCAG 4.1.2 errors reported for it. You can see the errors using your ngx-bootstrap [accordi

[2021-07-13 11:30] DevGenesis95 opened #6205 "Accessibility: keyboard navigation on dates"
Not able to navigate using arrow keys on calender

Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 5.6

Angular: 11

Bootstrap: 4

[2021-07-14 07:49] markayby commented on #4097
The Lighthouse Accessibility verification does not pass for the button `aria-controls` attribute. It happens because before we click  the `dropdownToggle` button first time the element `<ul *dropdownMenu` does not present in the view. Thus `aria-controls` attribute contains the id of inexistent element.

[2021-07-14 09:51] JojiePalahang commented on #5045
Any update on this item? any work around?

[2021-07-14 18:32] JakeAi commented on #5348
[code]

[2021-07-15 19:27] ahettlin commented on #6008
And Angular 11

[2021-07-16 11:00] #5900 closed, assigned to nobody

[2021-07-16 11:01] valorkin commented on #6037
fixed in v7 ;)

[2021-07-16 11:01] #6037 closed, assigned to nobody

[2021-07-16 11:04] valorkin commented on #5195
main bundle is deprecated, that's true
plus UMDs are depreacted in next major Angular version, closing this issue

[2021-07-16 11:04] valorkin commented on #5195
thanks folks )

[2021-07-16 11:04] #5195 closed, assigned to nobody

[2021-07-16 11:06] valorkin commented on #5713
fixed in v7 (available as @next at the moment, but will be fully released in July)

[2021-07-16 11:06] #5713 closed, assigned to nobody

[2021-07-16 11:06] #4502 closed, assigned to nobody

[2021-07-16 11:08] valorkin commented on #5141
thank for reporting this issues, just checked again your sample in chrome
can't reproduce so I assume it was fixed

[2021-07-16 11:08] #5141 closed, assigned to nobody

[2021-07-16 11:48] valorkin commented on #5848
thank you for your time and effort, but next major version we are gonna drop support for bootstrap css v3

[2021-07-16 11:48] #5848 closed, assigned to nobody

[2021-07-16 11:51] valorkin commented on #5310
@SvetlanaMuravlova please set default value to 0 in your PR

[2021-07-16 11:52] valorkin commented on #5336
@SvetlanaMuravlova please set default `value` for progress and bar to `0`

[2021-07-16 11:52] valorkin commented on #5336
will be a part of v7 release

[2021-07-16 11:53] #5336 closed, assigned to nobody

[2021-07-16 23:57] jonbrock commented on #5397
This problem still exists

[2021-07-20 08:44] thuynguyen1990 opened #6212 "Datepicker use max date and alow specific date, Display Pagination"
**Description:**
Hi,
1.Datepicker
Im facing issue with Datepicker in #ngx-bootstrap
I use max date, but I want to show any value if it is the input value of [bsValue]
how can I do it?

2.Pagination
How I can display Pagination like this:
Pre 1 ... 2 3 4 5 ... 30 Next

[2021-07-20 12:16] MattFromGer opened #6213 "Modal: Change type of property 'id' from number to 'number | string'"
I'm using this lib in a somewhat bigger project and it would help me, if I could use strings as id's in modals (instead of just numbers) to transport more information.
So instead of `id?: number;` we can change it to `id?: number | string;`
I guess the rest of the code should work just fine with this change.
What do you think?

[2021-07-21 08:22] szhang6 commented on #885
i have used above and it works fine. thanks!

[2021-07-21 12:40] eric-simonton-sama commented on #6108
v7.0 was released this morning, and as Dassderdie says the readme says it supports Angular 11-12. Thank you!

[2021-07-21 12:40] #6108 closed, assigned to nobody

[2021-07-21 13:23] horsebuzz commented on #1262
Is this working now?

Any tutorial on how to extend component or customise template?

[2021-07-21 14:47] SvetlanaMuravlova opened #6214 "cdn link for bs4"
fix cdn link for bs4 on site
https://valor-software.com/ngx-bootstrap/#/documentation#installation

https://github.com/valor-software/ngx-bootstrap/blob/development/README.md

[2021-07-21 20:49] roger-urbano commented on #5995
ng-boostrap to added BS5 with version beta and ngx-bootstrap nothing

[2021-07-21 20:57] valorkin commented on #5995
BS5 is in PRs already, with v7 release it should be pretty quick merge, test, release

[2021-07-22 08:53] #6214 closed, assigned to SvetlanaMuravlova

[2021-07-22 09:45] #5745 closed, assigned to SvetlanaMuravlova

[2021-07-22 09:45] #6173 closed, assigned to SvetlanaMuravlova

[2021-07-22 09:46] #6122 closed, assigned to SvetlanaMuravlova

[2021-07-22 09:46] #6127 closed, assigned to SvetlanaMuravlova

[2021-07-22 09:47] #6128 closed, assigned to SvetlanaMuravlova

[2021-07-22 09:47] #6130 closed, assigned to SvetlanaMuravlova

[2021-07-22 09:47] #6129 closed, assigned to SvetlanaMuravlova

[2021-07-22 09:47] #6131 closed, assigned to SvetlanaMuravlova

[2021-07-23 12:03] SvetlanaMuravlova opened #6216 "switch on strict mode for ngrx-bootstrap application"
- [x] accordion
- [x] alerts
- [x] buttons
- [x] carousel
- [x] collapse
- [x] datepicker
- [x] dropdowns
- [x] modals
- [x] pagination
- [x] popover
- [x] progressbar
- [x] rating
- [x] sortable
- [x] tabs
- [x] timepicker
- [x] tooltip
- [x] typeahead
- [x] focus-trab (lib)

[2021-07-24 00:19] BzenkoSergey opened #6224 "Should it work without zone.js [NoopZone] ?"
**Description:**
I disabled zone.js and seems it doesn't work with this configuration.

[code]

[code]

In this case the Datepicker rendered at the end of the page without proper positions.
![image](https://user-images.githubusercontent.com/5772034/126851859-bd3bf055-8fcf-451c-a9e7-f9c52460a889.png)
![image](https://user-images.githubusercontent.com/5772034/126851893-488e9c37-0a37-4a7d-8f5a-e0b16c

[2021-07-26 10:05] Salketer commented on #5338
There is indeed a workaround for this.

[code]

The idea is to simply use an input like the reactive forms expects. The value of a variable is reflected, note the omission of the parentheses as there is no reason to listen for changes on the hidden input (I think this might even cause problems).

The only problem this solution has is that we need an intermediate property on our component...

I sug

[2021-07-26 14:07] tgrafen3 opened #6236 "Tooltip not disappears on IOS"
Bug description:

The tooltip not disapperas on IOS / Safari,
no matter which version

Versions of ngx-bootstrap - 5.6.1 , Angular - 9.1

[2021-07-27 04:47] 56789a1987 opened #6237 "Incorrect tooltip and popover position for inline elements after updating to 7.0.0"
**Bug description:**

Tooltip appears at the top left of inline element like &lt;a&gt; and &lt;span&gt; instead of the middle.
The position is correct if downgrade to ngx-bootstrap 6.2.0

**StackBlitz that reproduces the issue:**

https://stackblitz.com/edit/angular-obazeg

**Versions of ngx-bootstrap, Angular, and Bootstrap:**

ngx-bootstrap: 7.0.0

Angular: 12.1.0

Bootstrap: 4.5.3

[2021-07-27 10:47] SvetlanaMuravlova opened #6239 "fix(carousel): fix carousel margin for multilist carousel"
fix(carousel): fix carousel margin for multilist carousel
on multilist anf affsetsingle slide doesn't work disabled class on prev and next buttons
![image.png](https://images.zenhubusercontent.com/6093e07a840f68ab1cb382be/60ae190f-7b44-40be-92e3-70596eacdcaf)

[2021-07-27 12:38] llutti opened #6240 "Accordion "isOpenChange" event doesnt work"
Bug description:
I'm trying to use the Accordion Event "isOpenChange" to fill some content, but in version 7.0 this event stop to work. I try to use the example in the [official Documentation](https://valor-software.com/ngx-bootstrap/#/accordion) and don't work

Versions of ngx-bootstrap, Angular, and Bootstrap:
ngx-bootstrap: 7.0.0
Angular:  12.1.3
Bootstrap: 4.6.0
node: 14.17.3

[code]

[2021-07-28 14:24] umutesen opened #6243 "Modal tab order starts from the last focusable item"
Bug description:
After opening a modal with a component template, the first tab key press always focuses on the last focusable item in the modal.

Plunker/StackBlitz that reproduces the issue:
https://valor-software.com/ngx-bootstrap/#/modals#service-component

ngx-bootstrap: 7.0.0

Angular: 10.1.1

Bootstrap: 4.3.1

Build system: Angular CLI, System.js, webpack, starter seed: Angular CLI

**Expec

[2021-07-29 15:34] daniloff200 commented on #6175
hi, @ambujkhanna
I should say, there're bunch of changes in 7.0.0 version, we've upgraded app to Angular 12 and made some fixes, full list available in the link below:
https://valor-software.com/articles/ngx-bootstrap-v7-0-0-is-officially-released.html

[2021-07-29 15:35] daniloff200 commented on #6172
It's in progress now, we've already started some work related to it, but, a lot things still need to be done

[2021-07-29 15:58] #5908 closed, assigned to nobody

[2021-07-29 17:38] #6213 closed, assigned to SvetlanaMuravlova

[2021-07-29 19:43] Chealer opened #6245 "Documentation: Broken link to "Getting started guide""
Before opening an issue, please search for duplicates (opened and closed) https://github.com/valor-software/ngx-bootstrap/issues There's no need to open an issue here if you want to ask general question, use StackOverflow or Slack instead

Bug description:
[The _Getting Started_ section of the "Documentation" page](https://valor-software.com/ngx-bootstrap/#/documentation#getting-started) has a lin

[2021-07-29 20:04] Chealer opened #6246 "Documentation: Directives (Tooltip, Typeahead) listed as components"
Before opening an issue, please search for duplicates (opened and closed) https://github.com/valor-software/ngx-bootstrap/issues There's no need to open an issue here if you want to ask general question, use StackOverflow or Slack instead

Bug description:
The documentation is based on a table of contents shown at the left. Most of the pages are in a _Components_ section, which makes sense since m

[2021-07-29 20:09] Chealer commented on #5769
I suppose there are 2 aspects to this issue. For sure, as you report, this should be documented, but the code should also validate the presence of required parameters and fail cleanly when the tag is invalid.

[2021-07-29 20:25] Chealer commented on #6246
I think I now see the problem. ngx-bootstrap seems to base its definition of _component_ on Bootstrap's, according to which... the vast majority of ngx-bootstrap features are, indeed, _components_ (whether or not they are _Angular components_).

In that light, this could be solved by renaming the _Components_ sections to something less ambiguous, like _Bootstrap Components_. However, Typeahead (fo

[2021-07-29 20:49] Chealer opened #6247 "Documentation: unclear description for Typeahead adaptivePosition"
**Description:**
[The _TypeaheadDirective_ section of the _Typeahead_ page](https://valor-software.com/ngx-bootstrap/#/typeahead#TypeaheadDirective) documents the _adaptivePosition_ input as follows:

Beyond the deficient language, this helps very little to understand what each possible value achieves.

[2021-07-29 21:12] Chealer commented on #1168
This feature is available (using the options mentioned by arins) in ngx-bootstrap 5.2.0 (and probably earlier).

[2021-07-30 08:08] 7185 opened #6248 "Dropdown is not closed after clicking on another one since 7.0.0"
Bug description:

When I click on a dropdown button after another dropdown is opened, the first dropdown is not closed.

Plunker/StackBlitz that reproduces the issue:
https://valor-software.com/ngx-bootstrap/#/dropdowns

Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 7.0.0

Angular: 12.1.0

Bootstrap: 4.6.0

**Expected behavior**

The first dropdown should be closed after a cli

[2021-07-30 10:05] MattFromGer commented on #6213
Thank you so much for the quick implementation!!

[2021-07-30 12:37] SvetlanaMuravlova opened #6250 "work with new carousel idea and structure"
Goal:
choose ready carousel as example
have doc with all information regarding idea

[2021-07-30 13:33] dinhanhthi commented on #2618
It works but I cannot open a new modal after closing all previous ones. It will close the new modal too. :(

[2021-07-30 14:35] Chealer opened #6251 "Typeahead: Quietly drops options beyond typeaheadOptionsLimit"
Before opening an issue, please search for duplicates (opened and closed) https://github.com/valor-software/ngx-bootstrap/issues There's no need to open an issue here if you want to ask general question, use StackOverflow or Slack instead

Bug description:
[The Typeahead component](https://valor-software.com/ngx-bootstrap/#/typeahead) has a _typeaheadOptionsLimit_ attribute, documented as follows:

[2021-07-30 19:55] Chealer commented on #6053
I am afraid that is not currently possible. In fact, even [lazy loading is not supported, even by Typeahead.js](https://github.com/twitter/typeahead.js/issues/1556).

[Here is a definition of "virtual scrolling"](https://blog.logrocket.com/virtual-scrolling-core-principles-and-basic-implementation-in-react/)

[2021-07-30 20:57] Chealer opened #6252 "Typeahead: support more agile refresh than typeaheadWaitMs/typeaheadMinLength"
**Is your feature request related to a problem? Yes. Please describe.**

We are using a Typeahead field set with:
[code]
This works, but isn't very efficient. In general, 250 ms may be enough, when the term has 10 characters, but if the user just takes 251 ms to type the fourth character, a query on just 3 characters may be expensive. I don't mind doing queries with just 3 characters, but at that

[2021-07-31 08:56] Shemesh commented on #6053
well @Chealer ... it is not built-in inside ngx typeahead component, but...
with few tweaks i was able to achieve my goal!
added my own optionsListTemplate and inside it wrapped the list with **cdk-virtual-scroll-viewport**
it works perfectly well.

i just wish ngx typeahead would have this built in.

[2021-08-02 10:44] why-asia opened #6253 "Documentation UI update"
According to https://www.figma.com/file/ts8AseWJMLuXjG5V2vRtSZ/ngx-Bootstrap-DS?node-id=3%3A5

[2021-08-02 13:40] LouisAugry commented on #5993
Any update ?

[2021-08-04 19:12] bjaminp commented on #6248
It looks like an event.stopPropagation was added to the click host listener in the toggle directive that is causing this. #6154

[2021-08-04 20:15] ulisesmorenomassachusetts commented on #4540
I liked current solution, but Left and Right would be better, and also instead of using bsConfig, as initially mentioned, it had placement="auto", it is more untuitive.

[2021-08-05 10:04] fxding commented on #5800
this may resolve this issue
[code]

[2021-08-06 15:03] b2k opened #6258 "modal-container added to body element breaks styles scoped to the app-root node"
When using scoped styles, to ensure that angular app appearance is consistent and independent of the host page, attaching the modal-container to body forces the developer to either write global css to style the modal or attempt moving the container.

Both of these may cause unknown side-effects for the hosting page. This is particularly relevant when the angular app is embedded into a third party

[2021-08-06 16:35] b2k commented on #6258
Here is an example of how we are using scss to provide theme support in our applications. These themes aren't getting propagated to the ngx-bootstrap modal dialog since it is added outside of our app-root node.

**styles.scss:**
[code]

**themes/blue-light.scss:**
[code]

[2021-08-07 18:56] b2k commented on #5168
We use ngx-bootstrap for multiple SAAS product lines, kiosk and native electron mobile apps.

- **Company name:** Quotepro Inc
- **Website URL:** https://quoteprosolutions.com
- **Logo Image:** https://quoteprosolutions.com/wp-content/uploads/2019/05/QuotePro_Horizontal.png

[2021-08-09 08:23] nikola-stekovic-lu opened #6259 "Modal (feat): On close should return focus to launching element"
**Is your feature request related to a problem? Please describe.**

Right now, when opening modal we append it to body. After we close modal, focus get at the bottom of the page and user looses context there. We would need to support focus return to element that launches it.

**Describe the solution you'd like**

I'd like to see default option through module configuration which would support these

[2021-08-10 11:26] mukuljai opened #6260 "If datetiepicker used along with ngModel it replaces the initial input date with current date."
@daniloff200 this change https://github.com/valor-software/ngx-bootstrap/pull/5701 is actually causing issue where if datetiepicker used along with ngModel it replaces the initial input date with current date. To pin point the issue in code here -
[code]
Why need to have current date fixed in lib, why it cant be provided as input if required?

_Originally posted by @mukuljai in https://github.com/

[2021-08-10 15:00] gaurav-sharp opened #6261 "How can use image in Typeahead template?"
### I want to use image along with the name in Typeahead template.
I have the marked code in  bold where I wish to use it. If anybody got solution please suggest. here is my code.

This is the sample list
[code]
This is the html
[code]
**`<img src={{match.path}}> <span>{{ match.name}} </span>`**
[code]

[2021-08-10 18:13] Wouimbly opened #6262 "Be able to align datepicker weeknumber with my business calendar"
Hi !

   i'm using the datepicker in many of my webapp page.
I wonder if it would be possible to show the weeknumber based on a date ?

It would be nice to add a parameter to the directive to tell the component from with date to start the week numbering
For example, our business calendar start the first week of october.
So i would be able to use weeknumber : true and numberingFirstDayOyTheYear = "

[2021-08-11 07:50] sulhome commented on #5995
@valorkin Thank you. The release notes for version 7 is not mentioning anything about bootstrap 5.
https://github.com/valor-software/ngx-bootstrap/blob/development/CHANGELOG.md

[2021-08-11 09:57] denhaandrei commented on #6066
To fix current issue after init we remove all validators and use manual validations:

[code]

[2021-08-11 11:39] oliverw commented on #5995
What happened?

[2021-08-11 13:10] evilstiefel opened #6263 "Setting datesDisabled breaks inline datepicker bsValueChange-Event"
**Bug description**:

When using `bs-datepicker-inline`, disabling dates "asynchronously" (e.g., after the component has been created) breaks firing of `bsValueChange`.

**Plunker/StackBlitz that reproduces the issue**:

https://stackblitz.com/github/evilstiefel/ngx-bootstrap-datepicker-repro

**Versions of ngx-bootstrap, Angular, and Bootstrap**:

ngx-bootstrap: 7.0.0

Angular: 12.2.0

Bootstrap:

[2021-08-11 17:52] 1-0-1 commented on #6248
This is a breaking change.

[2021-08-12 07:07] Khaledinges commented on #5803
Same Error in Angular 8 SSR when using the modal component that calls the ngx-bootstrap-utils.js who contain the function responsible of poping the error.

`function _guessBsVersion() {
    if (typeof document === 'undefined') {
        return null;
    }
    /** @type {?} */
    const spanEl = document.createElement('span');
    spanEl.innerText = 'test bs version';
    document.body.appendChild(

[2021-08-12 07:32] evilstiefel commented on #6263
Apparently this already has an open PR and several tickets related to it (e.g. #5888, #5914). This is the PR: #6201 - hopefully this can be looked at and merged ASAP.

[2021-08-12 18:31] i-Chan93 commented on #940
+1

[2021-08-12 19:14] nielswitte commented on #6260
I am facing a similar issue where multiple datepicker are used and after changing one date, alle the hours, minutes, seconds of the other dates are set to `now`  (the moment of initializing the datepicker). All Date objects have midnight UTC as time (hours, minutes, seconds all 0) on initializing the form, but after one change, alle hours, minutes and seconds are replaced.

[2021-08-13 06:12] bshridhar commented on #940
+1

[2021-08-14 08:07] Ilkhom-S commented on #1508
Any update on this feature ?

[2021-08-16 11:14] #6240 closed, assigned to SvetlanaMuravlova

[2021-08-17 00:00] juanchavezlive commented on #5995
Any news about this @valorkin ? 🤔

[2021-08-17 16:38] ghost commented on #5402
This is exactly what is happening to us, the same bug is only reproducible in the prod environment!

[2021-08-17 21:26] pmelisko opened #6264 "PaginationConfig texts are ignored"
Bug description:
After migrating to ngx-bootstrap 7.0.0 override of pagination.config.ts doesn't work. It is caused by defaults, that were added in pagination and paginator components. i.e:
[https://github.com/valor-software/ngx-bootstrap/blob/development/src/pagination/pagination.component.ts](https://github.com/valor-software/ngx-bootstrap/blob/development/src/pagination/pagination.component.ts)

[2021-08-19 08:35] #6216 closed, assigned to SvetlanaMuravlova

[2021-08-19 13:50] vguillou commented on #6169
Same issue with popover placement and adaptive position, and same expected behavior:
https://stackblitz.com/edit/ngx-bootstrap-sker7j-zdqmsk?file=app%2Fadaptive-position.html

ngx-bootstrap: 7.0.0
Angular: 12.2.0
Bootstrap: 4.5.3

**Edit:** Took the liberty to open [the following PR](https://github.com/valor-software/ngx-bootstrap/pull/6268).
I did not implement any test, as there are none yet for

[2021-08-20 09:48] valorkin commented on #6172
watch this PR https://github.com/valor-software/ngx-bootstrap/pull/6115

[2021-08-20 09:48] #6172 closed, assigned to nobody

[2021-08-20 09:48] #6029 closed, assigned to nobody

[2021-08-20 09:50] valorkin commented on #5995
watch this PR https://github.com/valor-software/ngx-bootstrap/pull/6115

PS where did half of year just disappeared

[2021-08-20 09:54] wwarby opened #6265 "Regression bug in 7.0.0 - Stacked progressbar max < 100 is ignored"
Bug description:

When using stacked values in a progressbar element, as of 7.0.0  the "max" value seems to have a floor of 100 - that is, if you set it to lower than 100 it gets forced back to 100 (setting it higher than 100 seems to be respected still). In the example below, in version 6.2.0 the progress bar is 75% filled - in 7.0.0 it is 15% filled:

`<progressbar [max]="20" [value]="[{value: 1

[2021-08-20 10:19] valorkin commented on #6248
@1-0-1 yes, and it was released in major version
we still need this behavior but it will be optional thx

[2021-08-20 10:23] valorkin commented on #6224
I would love to, but not yet

[2021-08-22 19:09] amb-jarek opened #6266 "Accordion group (isOpenEvent) event not fired"
Accordion group `isOpenEvent` not fired in version 7.0.0. Reverting to v6.2.0 fix the issue.

https://stackblitz.com/edit/ngx-bootstrap-ksnvfx?file=package.json

ngx-bootstrap: 7.0.0
Angular: 12.2.1

[2021-08-26 09:34] silvanadrian opened #6269 "Aria-label on progressbar"
**Description:**
I'm working on a project at the moment where we make all possible components accessible by using axe (https://www.deque.com/axe/) and we also use `ngx-bootstrap` components.

And we came across now the following issue:
https://dequeuniversity.com/rules/axe/4.3/aria-progressbar-name?application=axeAPI

As I have seen, there are inputs for `valuenow`, `valuetext` ... but it's not po

[2021-08-27 11:40] #6118 closed, assigned to nobody

[2021-08-27 11:40] #6141 closed, assigned to SvetlanaMuravlova

[2021-08-27 12:27] daniloff200 commented on #5995
now, available in v 7.1.0

check this out, please :sweat_smile:
 if something wrong - create issues, we will groom those next week and will release patch version with fixes

[2021-08-27 12:27] #5995 closed, assigned to valorkin

[2021-08-28 01:22] mcair opened #6274 "Datepicker v7.1.0 changing value of bsValue in code does not update input control value"
Added a button that increments the bsValue variable by +1 day. The dropdown calendar will reflect the new date, but the input control value does not. Tried with bsValue and using [(ngModel)] binding, neither work.

https://stackblitz.com/edit/angular-y8atb1?file=app/date-initial-state.html

[2021-08-28 13:23] RahulChouhan96 commented on #2369
It is giving 404

[2021-08-28 13:23] RahulChouhan96 commented on #2369
This page is giving 404

[2021-08-28 13:29] Rahul-Geeks commented on #2369
I am facing the same issue on my production server. I am using `"ngx-bootstrap": "^2.0.2"`.
Webpack version is
[code]
Angular cli - `"@angular/cli": "^1.7.2"`

This package is causing the same error as this
![ngx-bootsrap staging error](https://user-images.githubusercontent.com/42366136/131219181-834ab9de-f142-456a-87dd-0b7adde5649f.PNG)
Here, file is `node_modules/ngx-bootstrap/modal/index.js:1`

[2021-08-30 09:28] ceciliaporro commented on #6266
Happens to me too
Angular: 12.2.0
ngx-bootstrap: 7.0.0
I'll revert too until this will be fixed

[2021-08-30 12:54] exe-atewinkel opened #6276 "Datepicker modifies initial value after update from 6.2.0 to 7.0.0"
**Bug description:**
After updating from 6.2.0 to 7.0.0, the datepicker changes the time of any `Date` value that is set to the users current local time. This also happens when the datepicker is used in a form and an initial value is set. This causes the initial form value to change, while the user has not made any changes. Also, setting the time of the `Date` value to the current time makes no se

[2021-08-31 08:54] daniloff200 commented on #551
Gonna be resolved by #6275, I think

[2021-08-31 09:34] ronnyknight45 commented on #5713
If I use this workaround, does this compile only the `PaginationModule` at runtime and on `prod` builds or does it include the entire ngx-bootstrap library? Can anyone confirm this?

[2021-08-31 10:03] ronnyknight45 commented on #2716
Why is `BrowserAnimationsModule` even required? This adds unnecessary bundle size when the app isn't even using animations.

Using ngx-bootstrap is a real pain I feel. There is no clear cut way to add individual components. We have to add the entire library. Now, the `BrowserAnimationsModule` is required even if the app is not using animations. Devs are far better off using something else.

[2021-08-31 10:07] kptLucek commented on #1508
I know that's pretty much old case, but there's workaround:

[code]

[code]

[2021-08-31 14:37] akupiec commented on #5877
+1
Also termopary workaround:

[code]

[2021-09-01 03:03] xianshenglu commented on #5000
https://github.com/valor-software/ngx-bootstrap/issues/5302, so the question comes,

how can we add another custom class to `.modal` instead of directly modifying  `.modal` styles which would affect the past styles.

[2021-09-01 05:47] eswarvijji opened #6277 "Documentation not available due to "https://valor-software.com/" down"
**Description:**
Hi Team,
We are unable to access the documentation due to "https://valor-software.com/" site is down.

Regards,
Eswara
![dw](https://user-images.githubusercontent.com/30665308/131618556-0933e014-2e7a-4732-ac5e-9fefc1007d15.JPG)

[2021-09-01 08:35] Rahul-Geeks commented on #2507
I am using Angular 5 and getting the same issue.
![ngx-bootsrap error and ng version](https://user-images.githubusercontent.com/42366136/131639381-97c66ec8-fdcc-4b3e-8c58-d47c919183c1.PNG)

[2021-09-01 11:52] daniloff200 commented on #6277
Well, that's strange, because

https://downforeveryoneorjustme.com/valor-software.com says that it works correctly, and, for me also

We get the same question about site availability month ago from other folks, but, they just tried to change the network, and it worked
@eswarvijji , could you, maybe, give us some more details?

[2021-09-01 14:59] pblackburn68 commented on #6021
Still an issue and has now got worse as it now also changes the time of the value assigned.  The datepicker component is currently unusable.

[2021-09-02 09:43] #6237 closed, assigned to SvetlanaMuravlova

[2021-09-03 01:41] a30001735 commented on #5074
This didnt work for me...   Is this what you meant?

`<span tooltip="some tip">
<button
              [disabled]="true"
              class="btn form-control btn-confirmation"
              type="submit"
              (click)="someclickevent()"

              My Button
            </button>
</span>`

[2021-09-03 04:21] eswarvijji commented on #6277
Hi Team,
Still no luck,
we have tried to access from different devices and networks. **### Getting error "182.79.218.106 refused to connect".**
and we are accessing from India.
If you required more information . feel free contact.

Regards,
--
Eswara
+91 8971 546 546

[2021-09-03 04:29] eswarvijji commented on #6277
Hi Team,
What a surprise,
If I connect my mobile internet ,it is accessing.
but in through my WI-FI , it is not accessing.
any how thank you for support.

Regards,
--
Eswara

[2021-09-03 04:30] #6277 closed, assigned to nobody

[2021-09-03 05:49] alexanderfink opened #6278 "Missing CSS-Classes when using placement="right | left" on Tooltip"
**Bug description:**
When using placement="right" or placement="left" or even placement="auto" (and it displays the tooltip on left/right side) the tooltip arrow is missing. (See Screenshot)

![Missing Tooltip-Arrow](https://user-images.githubusercontent.com/30551988/131956005-b345e572-7b31-44f7-a7d8-e0f6eabd46d7.png)

When comparing tooltips with `placement="left | right"` with tooltips using `pl

[2021-09-03 13:49] daniloff200 commented on #6278
Hi, @alexanderfink
It's very strange for me, that you were able to build everything with such combination of dependencies, because,  Bootstrap 5 support was added only with ngx-bootstrap 7.1.0 version, also, even if it worked correct with Angular 12, we added support for that in 7 version too

I think, you can try at first to update ngx-bootstrap version in your app to latest one, it's 7.1.0

[2021-09-03 15:59] daniloff200 commented on #6264
hi, @pmelisko
You can use https://valor-software.com/ngx-bootstrap/#/pagination#custom-links-content for such functionality

[2021-09-03 16:01] daniloff200 commented on #6182
hi @kishan-cool
We need some more information about this .
What kind of version do you use?
What iOS version do you use?

Also, will be very nice, if you add some reproduction of this issue

[2021-09-03 16:03] #6187 closed, assigned to SvetlanaMuravlova

[2021-09-03 16:41] daniloff200 commented on #6031
No activity more than 6 months
In case of any questions / updates, feel free to tag me here

[2021-09-03 16:41] #6031 closed, assigned to nobody

[2021-09-04 09:58] #6120 closed, assigned to SvetlanaMuravlova

[2021-09-04 10:04] #6119 closed, assigned to SvetlanaMuravlova

[2021-09-04 10:04] #6126 closed, assigned to SvetlanaMuravlova

[2021-09-04 10:06] daniloff200 commented on #6061
I suppose it should be available in latest version, it's 7.1.0 for now

[2021-09-04 10:06] #6061 closed, assigned to nobody

[2021-09-04 10:11] #6175 closed, assigned to nobody

[2021-09-04 10:12] #6189 closed, assigned to nobody

[2021-09-04 10:29] #6185 closed, assigned to nobody

[2021-09-04 11:38] daniloff200 commented on #6269
hi @silvanadrian !
We actually don't have a aria-labels for progressbar in a future plans, but, if you can submit a PR with that it will be very cool and we'll try to merge it into next release

[2021-09-04 11:52] daniloff200 commented on #5988
No activity for a long time
But, I assume, my answer before should help

@Mik453  ping me, if you still need some help with that

[2021-09-04 11:52] #5988 closed, assigned to nobody

[2021-09-05 11:22] aminmousavi5147 commented on #1599
For me, the problem was 'bootsnav.css'. It adds a transition to the body, therefore any time that I opened a modal, bootstrap adds "padding-right" to the body, but with some transition and the solution was as simple as adding a "transition: none" to the body.

[2021-09-07 10:08] #4139 closed

[2021-09-07 10:08] #6239 closed, assigned to SvetlanaMuravlova

[2021-09-07 10:12] valorkin commented on #6278
should be fixed in 7.1

[2021-09-07 10:12] #6278 closed, assigned to nobody

[2021-09-07 10:13] valorkin commented on #6266
it actually works in your sample

[2021-09-07 10:13] #6266 closed, assigned to nobody

[2021-09-07 10:26] amb-jarek commented on #6266
Today it works indeed. Fu***in magic! 😃

[2021-09-07 10:34] valorkin commented on #6266
Loool :)

[2021-09-07 15:12] silvanadrian commented on #6269
@daniloff200 Ok thanks for the info I will create a PR then 👍

[2021-09-08 11:55] #6245 closed, assigned to nobody

[2021-09-08 12:12] #6265 closed, assigned to SvetlanaMuravlova

[2021-09-09 07:12] #6174 closed, assigned to nobody

[2021-09-09 10:52] #6070 closed, assigned to nobody

[2021-09-09 11:05] markusvorraber commented on #6085
I am facing the same issue with v7.0.0

[2021-09-09 17:29] Chealer opened #6287 "Documentation: Unclear reference to "Getting started guide""
**Is your feature request related to a problem? Please describe.**

[The _Getting Started_ section of the "Documentation" page](https://valor-software.com/ngx-bootstrap/#/documentation#getting-started) contains:

It is unfortunately unclear how that guide can be accessed.

**Describe the solution you'd like**

If the guide is available online, I suppose the text "our Getting started guide" should

[2021-09-09 17:33] Chealer commented on #6245
This issue is resolved in a sense, as the problematic link no longer exists. However, the text which used to link remains there without a link. I filed ticket #6287 to follow up on the general issue of making that guide easily accessible.

[2021-09-09 19:00] valorkin commented on #6287
Fix merged, docs will be updated with next release

[2021-09-09 19:00] #6287 closed, assigned to nobody

[2021-09-10 09:28] valorkin commented on #6274
the reason is simple, you are mutating Date object, angular is not able to detect this change
popup shows a new date cuz it's renders on click and show a new value
change `add` function in your sample to
[code]

[2021-09-10 09:28] #6274 closed, assigned to nobody

[2021-09-10 09:51] valorkin commented on #6276
I would agree that this feature https://github.com/valor-software/ngx-bootstrap/commit/bc188d69bf17010dadd924673bfa13eef3944833 doesn't make any sense to me

[2021-09-10 09:56] #6264 closed, assigned to SvetlanaMuravlova

[2021-09-10 10:06] #6169 closed, assigned to nobody

[2021-09-10 10:38] valorkin commented on #6076
sorry, we don't backport to older versions of ngx-bootstrap
you should try v7, it will, most likely, work with angular 9

[2021-09-10 10:38] #6076 closed, assigned to nobody

[2021-09-10 10:40] valorkin commented on #6068
sry, closing as can't reproduce
please use latest ngx-bootstrap version and stackblitz to provide a reproduction

[2021-09-10 10:40] #6068 closed, assigned to nobody

[2021-09-10 10:41] valorkin commented on #6065
sry, closing as can't reproduce
please see here https://valor-software.com/ngx-bootstrap/#/typeahead#reactive-forms
if you are able to provide a stackblitz with reproduction it would be great

[2021-09-10 10:41] #6065 closed, assigned to nobody

[2021-09-10 10:42] devOneto commented on #6076
Okay @valorkin! Thank you! My team was able to update the version in Project! :)

[2021-09-10 10:42] #6051 closed, assigned to nobody

[2021-09-10 11:55] #6248 closed, assigned to SvetlanaMuravlova

[2021-09-10 11:58] valorkin commented on #6076
That's awesome :)

[2021-09-13 07:08] SvetlanaMuravlova commented on #6170
Hey, @goonerify!
Yeah, that will be really cool, if you can contribute fr-ca locale to our project

Here's the small examples of good PRs with locales in different languages, you can use them as examples
#5685
#4812

[2021-09-14 06:55] andersb opened #6293 "Daterangepicker doesn't handle manually entered date if format contains minus sign, eg YYYY-MM-DD"
**Bug description:**

Daterangepicker doesn't handle manually entered date if format contains minus sign  , eg YYYY-MM-DD

Goto
https://valor-software.com/ngx-bootstrap/#/datepicker#locales

Change locale to Swedish, sv
Select a date in the daterangepicker, then modify the date manually and leave the input field.
The date will be swapped to something like 2001-01-01.
It will work if the locale is

[2021-09-14 10:41] daniloff200 commented on #6041
it looks kinda the same, as https://github.com/valor-software/ngx-bootstrap/issues/5868, which was fixed in https://github.com/valor-software/ngx-bootstrap/pull/5871  exactly with 3px change.

This fix is available from 6.1.0, so, feel free to test some new versions

[2021-09-14 10:41] #6041 closed, assigned to nobody

[2021-09-14 12:21] sr-26 opened #6296 "Position issue if two same components(datepicker and tooltip are used )"
If the multidaterangepicker is opened in my dom and if i move the cursor to an element which have tooltip property binded.The transform property changes making the datepicker to fluctuate to the right side.Is this the bug if two components are used since both of them are having the top class?

Versions of ngx-bootstrap, Angular:

ngx-bootstrap: 6..2.0

Angular: 11.1

[2021-09-16 09:46] #6006 closed, assigned to nobody

[2021-09-16 14:16] ruchdesai commented on #2618
@dinhanhthi the modal that you want to show should use timeout of minimum 750 and call closeAllModals just before the timeout like below:

this.closeAllModals();
setTimeout(() => {
    // modal that you want to show is called here.
}, 750)

[2021-09-16 22:47] RedactedProfile commented on #5995
Just installed ngx-bootstrap a moment ago with Angular 12, and it brings in Bootstrap 4 still when using the angular cli `add` recipe

![image](https://user-images.githubusercontent.com/1039911/133695085-aefeac70-c0b8-43ba-83b5-5dfb27cf018e.png)

![image](https://user-images.githubusercontent.com/1039911/133695108-e1048d58-69d7-4366-9d4a-870de2ca9490.png)

[2021-09-16 23:21] valorkin commented on #5995
Supported, doesn't mean default.
Bootstrap 5 will be default in ngx-bootstrap v8

On Fri, Sep 17, 2021, 01:47 Ky. ***@***.***> wrote:

[2021-09-17 12:06] SvetlanaMuravlova opened #6300 "stackblitz examples with ivy"
run stackblitz examples with enable ivy mode
Stackblitz is blocked after all updates

[2021-09-17 12:08] SvetlanaMuravlova opened #6301 "Release checklist"
Create release checklist. Is should contain all needed changes in documentation and code regarding new library version.

[2021-09-17 12:10] SvetlanaMuravlova opened #6302 "General file with current versions"
Create general files with all needed current versions (as ex. for bs5, bs4, bs3).

[2021-09-19 00:08] daniloff200 commented on #6293
Thanks for reporting that one!
That happened because of https://github.com/valor-software/ngx-bootstrap/pull/6014

It worked fine, but, for Swedish and Netherlands locales there's an issue, because of multiple `-` in an input!
I have a fix for that

[2021-09-19 06:13] andersb commented on #6293
Thank you @daniloff200 for coming up with a solution. I hope it will find itself into 7.1.2 shortly :)

[2021-09-20 06:00] marcinmajkowski commented on #6070
@SvetlanaMuravlova, I am not sure whether #6257 fixes the issue reliably. There is still the same problem in the code - `display` setter may run before or after `isAnimated` input is set, during single change detection cycle. Are you sure this order is somehow guaranteed in Angular? Please look into #6071.

[2021-09-20 14:24] Divanhost opened #6304 "Dropdown stopOnClickPropagation property cannot be applied properly"
**Bug description:**
After updating from 7.1.0 to 7.1.1 i can't use stopOnClickPropogation feature of dropdown  because property is not provided by
BsDropdownDirective (But it's presented in BsDropDownConfig). Also, could you change spelling to Prop**A**gation? :)

We can use **stopOnClickPropogation="true"** in directive but we can't do  **[stopOnClickPropogation]="true"**

Versions of ngx-bootst

[2021-09-21 08:07] mikolajszymanski opened #6306 "Timepicker double passing hour in 24h causes Invalid date in datepicker"
Bug description: When you provide hour in 24h system first time - it changes to 12H system. But when you provide second time the same hour in 24H system in this input, you've got an error and your date is "cleared"...

Plunker/StackBlitz that reproduces the issue: https://ngx-bootstrap-datepicker-ws5kn9.stackblitz.io

https://user-images.githubusercontent.com/85171050/134134917-b609ff9a-6fe9-4289-

[2021-09-21 08:13] #5986 closed, assigned to daniloff200

[2021-09-21 08:16] #6293 closed, assigned to nobody

[2021-09-21 08:34] #6038 closed, assigned to nobody

[2021-09-21 08:44] #6063 closed, assigned to daniloff200

[2021-09-21 11:10] nikola-stekovic-lu opened #6307 "Dropdown A11Y improvements"
As of right now, we got dropdown which is accessible by keyboard which is all good. Once expanded we can only close it on `ESC` but only if we focus button that triggered it. By observing other libraries, we can see that you can close dropdown by clicking ESC from anywhere within dropdown menu.
eg: https://a11y-guidelines.orange.com/en/web/components-examples/dropdown-menu/

**Describe the solutio

[2021-09-22 12:06] IspadeRaja commented on #5395
Hello, I have encountered the same problem in ngx-bootstrap v5.6.2 with angular v8.2
Is there any solution ?

[2021-09-22 13:33] preetham1290 opened #6309 "Flickering in drop-down after upgrade from 3.X to 7.x"
Bug description:
ngx-bootsrap/dropdown container having an issue when the drop-down items has ngx-bootstap/tooltip.
Initially it was working fine with Agnular-7 & ngx-bootstrap 3.3.X, now i have upgraded to Angular-12 and ngx-bootstrap 7.X.

The dropdown container is moving when we mouse over on the items. I have reproduced the bug in the given stackblitz link with both expected & buggy versions.

[2021-09-22 22:11] jarahn commented on #5929
Have there been any updates to this? We would like to modify the z-index of modal-container in specific use cases but not globally.

[2021-09-23 04:06] YisusW commented on #6186
this is happend in the version 7.1.1 i consider remove the input in because is not working. :-(

[2021-09-23 04:49] preetham1290 commented on #6309
I was able to fix this issue by `container="body"` with `tooltip` attribute. So closing this issue

[2021-09-23 04:49] #6309 closed, assigned to nobody

[2021-09-23 07:23] SvetlanaMuravlova commented on #6304
@Divanhost hi)

[2021-09-23 09:04] SvetlanaMuravlova commented on #6304
@Divanhost hi)
stopOnClickPropogation should be used as dropdown config
so try to use such property in your component in this way
 providers: [{ provide: BsDropdownConfig, useValue: { stopOnClickPropogation: true} }]

as example you can use https://valor-software.com/ngx-bootstrap/#/dropdowns#animated

thank you for using our library)

[2021-09-23 15:31] jarahn commented on #5929
Ended up using javascript to handle modifying the style of the parent element (modal-container). Ex:
this.bsModalService.show(this.templateRef, {
        class: 'modal-class',
});

      // Update modal-container z-index
      document.getElementsByClassName('modal-class')[0].parentElement.style.zIndex = 'xxxx';

[2021-09-23 18:03] Aravindhsiva commented on #3609
A quick workaround in my case is to avoid moment in formatting the date before using it in this datepicker....
Like, i had
`moment(date).format("MM/DD/YYYY")`
which i changed to
`new Date(date)`
Yes, simply this helped me to fix this, also my API response supported this change..... Now it works fine....

[2021-09-24 04:48] anilkumarb123 opened #6310 "https://valor-software.com/ngx-bootstrap is not working"
Dear Valor software team,

I keep getting the error 182.79.218.34 unexpectedly closed the connection when I try to open valor-software website. Kindly look into this issue.

Best Regards,
Anil Kumar B

[2021-09-24 08:49] lisamarie2000 opened #6311 "Disable months?"
hey there, is it possible to disable whole months instead of days of week?
We want to disable recurring months like december and january.
Thx :-)

[2021-09-24 09:38] daniloff200 commented on #6311
hi, @lisamarie2000 , wanna ask you, in what mode do you use datepicker? Like, in default one, or, in min mode?
For min-mode we have a such task -> https://github.com/valor-software/ngx-bootstrap/issues/6063
And we already have a fix, which will be available in next version, hopefully  next week or 2 weeks.

If you're using the basic datepicker version, looks like, right now it's not possible in a

[2021-09-24 10:37] lisamarie2000 commented on #6311
Hi @daniloff200, thanks for the fast reply!
Yeah I am using the default mode, users need to select specific date ranges but with exceptions like no available dates in winter (its for a booking form)...I think such an opportunity would be great.
I could exclude the dates with dates disabled, but the problem will be recurring years....

[2021-09-24 10:51] #6025 closed, assigned to nobody

[2021-09-24 11:24] #6059 closed, assigned to nobody

[2021-09-24 11:45] #4015 closed

[2021-09-24 12:14] #6276 closed, assigned to nobody

[2021-09-24 12:14] #6003 closed, assigned to nobody

[2021-09-24 13:30] #551 closed

[2021-09-24 13:37] valorkin commented on #6310
we know that some providers in India is blocking us, please write to your provider request to unblock in
and cc me at my working email dmitriy.shekhovtsov@valor-software.com

[2021-09-24 13:37] #6310 closed, assigned to nobody

[2021-09-24 16:17] AndroPlus opened #6313 "Unable to Open model after click back button on Chrome"
fs.js:3 ERROR TypeError: Cannot read properties of null (reading 'removeChild')
at ComponentLoader.hide (ngx-bootstrap-component-loader.js:209)
at BsModalService.removeBackdrop (ngx-bootstrap-modal.js:1244)
at ngx-bootstrap-modal.js:1145
at ZoneDelegate.invokeTask (zone-evergreen.js:399)
at Object.onInvokeTask (core.js:27535)
at ZoneDelegate.invokeTask (zone-evergreen.js:398)
at Zone.runTask (zone

[2021-09-24 16:59] hoclun-rigsep commented on #6186
Persists for me on v7.1.0, please advise.

[2021-09-24 18:45] hoclun-rigsep commented on #6186
Workaround?

[code]

[code]

[code]

[2021-09-24 18:57] hoclun-rigsep commented on #5168
Confirm FDNY, it's not a public facing app but it is in production with ~8k users, it's called "E–Staffing."

[2021-09-25 05:33] Omi231 commented on #3609
I wish I could do it but my skill level wasn't that good but I have moved to flutter bcz of these issues and man this is such a relief when u don't have to post about such minor issues.

Anyone reading this comment, plz move to Flutter. It took me a month to switch and reprogram my app in flutter. U can do it too.

[2021-09-25 08:28] skandula106 opened #6314 "ngx-bootstrap - Accordion - [closeOthers]"
**Description:**
Hai We are using this ngx bootstrap accordion in my project we are currently using accordion with groups(dynamic) we're using one group for task and another accordion group for subtask in accordion we have a requirement if user click one task earlier task will be close here you guys provided [closeOthers] attribute its working fine but when we open nested group(sub task) entire pa

[2021-09-25 21:54] jibranahsan commented on #5164
In you submit button or which ever button/selection that moves you to another page, just have data-dismiss="modal" and that should take care of the back drop. It is just telling to dismiss the modal when you have made your selection.

[2021-09-27 08:32] SvetlanaMuravlova commented on #6313
@AndroPlus
hi) i can't reproduce it locally
can you, please,  add reproducing on stackblitz, or make a video of getting such bug, or just send steps to reproduce?
thank you for using our library)

[2021-09-27 11:47] AndroPlus commented on #6313
ohh sorry, someone written code on popstate event to remove backdrop model.
after some days.. finally found that code which is causing issue. Thanks dude for your help.

[2021-09-27 11:47] #6313 closed, assigned to nobody

[2021-09-27 12:38] SvetlanaMuravlova commented on #6313
@AndroPlus  great :)

[2021-09-27 14:13] rfrcarvalho commented on #6263
This is also happening when setting the `dateCustomClasses` asynchronously (e.g., after the component has been created). If I hide the component with an *ngIf and then show it again, it will display the custom classes correctly. Is there any ETA on a resolution for this?

[2021-10-01 03:16] kragoth opened #6317 "Datepicker forces time to current time"
Bug description:

The datepicker is forcing the time portion of values to be the current time.
I believe this behaviour was introduced by PR: https://github.com/valor-software/ngx-bootstrap/pull/6275.
Specifically if the config has "withTimepicker: false,", then the following logic will apply when initializing the value:

bs-datepicker-inline.component.ts:99 (set bsValue function)
[code]

This mea

[2021-10-01 10:28] #6084 closed, assigned to valorkin

[2021-10-01 12:58] DanielMcAssey commented on #5635
Can this be fixed/implemented? Its been a year and a half.

[2021-10-01 13:18] daniloff200 commented on #5635
@DanielMcAssey  not sure about that right now, we've made a huge reworks during this year and 4747 PR is really abandoned & outdated and requires a big amount of changes

[2021-10-04 09:32] #5323 closed, assigned to nobody

[2021-10-04 09:37] #5913 closed, assigned to nobody

[2021-10-04 09:46] #3916 closed

[2021-10-04 10:20] apotapcukv commented on #5523
Hi, @akvaliya! We can’t reproduce the issue. If you still can, please do it at https://stackblitz.com/ and share with us or please add the video.

[2021-10-04 11:23] apotapcukv commented on #5568
Hi, @ranjeetiit! We can’t reproduce the issue. If you still can, please do it at https://stackblitz.com/edit/angular-ivy-de1elj?file=tsconfig.json/ and share with us, or please add a recorded video.

[2021-10-04 11:27] apotapcukv commented on #5699
Hi, @Omerrajab! We can’t reproduce the issue. If you still can, please do it at https://stackblitz.com/edit/angular-ivy-de1elj?file=tsconfig.json/ and share with us, or please add a recorded video.

[2021-10-04 12:13] apotapcukv commented on #5806
Hi, @jhonmacaraig! We can’t reproduce the issue. If you still can, please do it at https://stackblitz.com/edit/angular-ivy-de1elj?file=tsconfig.json/ and share with us, or please add a recorded video.

[2021-10-04 12:18] apotapcukv commented on #5857
Hi, @vishalsingh119! We can’t reproduce the issue. If you still can, please do it at https://stackblitz.com/edit/angular-ivy-de1elj?file=tsconfig.json/ and share with us, or please add a recorded video.

[2021-10-04 12:32] #5377 closed, assigned to nobody

[2021-10-04 15:57] garethdn commented on #6317
I have a similar issue. [Here's](https://stackblitz.com/edit/angular-avipag?file=app%2Fngx-bootstrap-demo.component.ts) a simple repro demonstrating how the value of the form control is set to the current time. You can see the value of the form control printed below the input. Happening in 7.10, 7.1.1, 7.1.2.

Edit: not happening with version 6.2.0

[2021-10-04 17:31] juicyarts commented on #5635
Hey folks. Sorry for this mess. As much as i would like to help out, i'm too far away from angular and this library for some years now and not sure if i will manage to get back into it to finish the ideas from three years ago. I would start a last try this weekend to see if this can be properly migrated and cleaned up in a way that you can at least proceed to finish it. If this does not result in

[2021-10-05 08:02] apotapcukv commented on #3884
Hi, @thachnv! We can’t reproduce the issue now to check if it has been fixed or not. If you still can, please do it at https://stackblitz.com/edit/angular-ivy-de1elj?file=tsconfig.json/ and share with us, or please add a recorded video.

[2021-10-05 08:54] apotapcukv commented on #5989
The similar problem is described in the issue #5707

[2021-10-05 10:24] Souma-12 commented on #4792
it doesn't work for me with angular 11 me too

[2021-10-05 17:25] Ikukht commented on #5138
I have noticed similar issue while using Opera browser.
Chrome works just fine.

[2021-10-06 04:22] mukuljai commented on #6317
this got fixed Got fixed to latest https://github.com/valor-software/ngx-bootstrap/pull/6288

[2021-10-06 04:42] mukuljai opened #6319 "Issue with typeahead with latest ngx-bootstrap 7.1.2"
Bug description:
Facing issue with typeahead with ngx-bootstrap @7.1.2 whereas it works fine with 7.0.0

Issue: using typeahead as below.
[code]
Now with 7.1.2, it shows up in UI the dropdown list items as buttons and instead of showing  as list item.
The html conversion looks like
`<buttons> instead of <ul><li>...`

Walk through the changes but not getting what change it has caused in typeahead

[2021-10-06 04:51] mukuljai opened #6320 "The ngx-bootstrap document site stopped working since a month"
Documentation of ngx-bootsrap not opening since month https://valor-software.com/ngx-bootstrap/

Bug description:

Try opening https://valor-software.com/ngx-bootstrap/  and after a while site says as below.
![image](https://user-images.githubusercontent.com/51748155/136142300-4b12b357-ea56-4dc8-a195-5bf97bbdd5b7.png)
or
Kept showing Loading...
Pls look into it with priority or provide alternative

[2021-10-06 07:13] vanshikawo commented on #5789
Facing same issue. Any solution for this?

[2021-10-06 10:58] rfrcarvalho commented on #5888
@JoschuaSchneider do you have any update on the state of this fix? I'm currently stuck in my project because your PR hasn't been approved yet. From what I see it failed some of the tests.

[2021-10-06 11:57] JoschuaSchneider commented on #5888
I don't have an update on this yet.

A few people asked already and there has been some progress on it as they are working through the open PRs.

We shipped a patch of this locally and will remove it once this gets merged.

The failing tests do not indicate the progress of the PR though because the PR is created from the development branch.

[2021-10-07 10:46] apotapcukv commented on #6010
Hi, @steveareeno! We can’t reproduce the issue now to check if it has been fixed or not. If you still can, please do it at https://stackblitz.com/edit/angular-ivy-de1elj?file=tsconfig.json/ and share with us, or please add a recorded video.

[2021-10-07 11:18] #3081 closed

[2021-10-07 12:49] #5759 closed, assigned to nobody

[2021-10-08 08:18] apotapcukv commented on #3124
Hi, @AndersWinther-Dahl! We can’t reproduce the issue now to check if it has been fixed or not. If you still can, please do it at https://stackblitz.com/edit/angular-ivy-de1elj?file=tsconfig.json/ and share with us, or please add a recorded video.

[2021-10-08 08:45] apotapcukv commented on #4401
Hi, @alpha-wolf-sg! We can’t reproduce the issue now to check if it has been fixed or not. If you still can, please do it at https://stackblitz.com/edit/angular-ivy-de1elj?file=tsconfig.json/ and share with us, or please add a recorded video.

[2021-10-08 18:31] daniloff200 commented on #6320
hi, @mukuljai
I assume, you're from India?

We have some issues with providers from India, more info here -> https://github.com/valor-software/ngx-bootstrap/issues/6310

[2021-10-08 18:31] #6320 closed, assigned to nobody

[2021-10-08 18:56] daniloff200 commented on #6306
Well, I should say that version 4.0.1 is veeeeery old. Right now I can't reproduce such issue, if you not turn on 24h format, you will get an error at the first time

[2021-10-08 19:36] daniloff200 commented on #6056
I can confirm it was fixed, according to scenario, which was  introduced in the issue, and, fix is available from 7.0.0 version, but, my advice to use the latest version

[2021-10-08 19:36] #6056 closed, assigned to nobody

[2021-10-09 00:38] pavankjadda commented on #5789
Don't know. I switched to `mat-table`

[2021-10-09 09:04] jasonreid0873 commented on #5789
I switched to primeNG tables which work fine

[2021-10-09 14:29] andrejm7 opened #6321 "subscriptions ngx-boostrap modal"
good morning,

can someone help me with a problem on my modal?

in this example I have 2 modal, where I open the first and then the second... I configured the subscriptions so when I close the modal it appears in console.log('modal1') or console.log('modal2') but when closing modal2 both the modal1 and modal2 console appears.

I would need the modal1 console to fire only on the closing of the firs

[2021-10-10 12:24] AndersWinther-Dahl commented on #3124
@apotapcukv we've stopped supporting IE in the mean time. Maybe someone else can confirm that the issue is fixed.

[2021-10-10 12:49] juicyarts commented on #5635
I added https://github.com/valor-software/ngx-bootstrap/pull/6322 for the Utc behaviour alignment with the datepicker and https://github.com/juicyarts/ngx-bootstrap/pull/1 (based on the utc branch, no MR opened yet) for the offset addition if needed. https://github.com/valor-software/ngx-bootstrap/pull/4747 was closed in favor of these two branches.

Unfortunately i have a lot of trouble running (

[2021-10-12 14:09] meta72 commented on #6319
I've also experienced this issue.

The documentation is displaying the typeahead correctly: https://valor-software.com/ngx-bootstrap/#/typeahead#Basic-array

I'm using ngx-bootstrap version 7.1.0 as it is the latest one available on npm.
The documentation is supposedly using ngx-bootstrap version 7.1.2, although I'm unable to switch to older versions in the documentation to verify that 7.1.2 fixes

[2021-10-13 20:08] lexuanzhou opened #6323 "The official documentation about the tab set select event is wrong"
**Description:**
As in the official documentation right now, the tab set select event is called selectTab, but the actual one that is working is called select. It takes me a while to figure it out. Please fix this asap. Thanks

[2021-10-13 20:10] lexuanzhou commented on #6323
![image](https://user-images.githubusercontent.com/14319089/137205539-80eb3e8c-63ba-4a73-a061-092c8ac26601.png)

[2021-10-14 10:22] apotapcukv commented on #3916
Dear sharatbaradia!
As per our check this issue is fixed in the latest version, so we’re closing the issue.
Please don’t hesitate to let us know if you face further issues.

[2021-10-14 10:25] apotapcukv commented on #5759
Dear emhaechi!
As per our check this issue is fixed in the latest version, so we’re closing the issue.
Please don’t hesitate to let us know if you face further issues.

[2021-10-14 10:27] apotapcukv commented on #2912
Dear CyrilleGuimezanes!
As per our check this issue is fixed in the latest version, so we’re closing the issue.
Please don’t hesitate to let us know if you face further issues.

[2021-10-14 10:27] AleksandarMiha opened #6324 "Pressing enter doesn't work to submit when using ngx dropdown?"
**Description:**
Here is all code example:

https://stackblitz.com/edit/ngx-modal-cegwyu?file=src%2Fapp%2Fform%2Fform.component.html

I have directive which on press Enter on keyboard set alert with message.
Try to fill form first input and hit enter. Work

Try to fill form first input second choose any from dropdown and hit enter.

No work.
How to fix this ?
[code]

[code]

[2021-10-14 10:28] apotapcukv commented on #5377
Dear Darkein!
As per our check this issue is fixed in the latest version, so we’re closing the issue.
Please don’t hesitate to let us know if you face further issues.

[2021-10-14 10:29] apotapcukv commented on #5913
Dear pp6024!
As per our check this issue is fixed in the latest version, so we’re closing the issue.
Please don’t hesitate to let us know if you face further issues.

[2021-10-14 10:30] apotapcukv commented on #3081
Dear Hrishi1990!
As per our check this issue is fixed in the latest version, so we’re closing the issue.
Please don’t hesitate to let us know if you face further issues.

[2021-10-14 10:33] apotapcukv commented on #5323
Dear LKU4!
As per our check this issue is fixed in the latest version, so we’re closing the issue.
Please don’t hesitate to let us know if you face further issues.

[2021-10-14 16:43] learnuser521 opened #6325 "Datepicker - adaptivePosition does not work when placed in a modal"
Bug description:
Adaptive Position of datepicker and dateRangePicker do not work when placed inside a modal. When we scroll inside the modal, the datepicker sticks to it's initial position it was opened. When the focus is lost from app browser window, the position updates.

StackBlitz:https://stackblitz.com/edit/ngx-bootstrap-rlulqt?file=app/app.component.html

[2021-10-16 12:57] daniloff200 commented on #6236
hey @tgrafen3
I assume it was fixed in https://github.com/valor-software/ngx-bootstrap/commit/f57fb41a18b346575835d5dba728e1faf190a145 , could you try to use some version, starting from 6.2.0?

[2021-10-16 12:59] daniloff200 commented on #6236
also, I would really appreciate, if you add some demo, what kind of stuff doesn't work correct in IOS

[2021-10-16 15:33] #5879 closed, assigned to nobody

[2021-10-16 15:34] daniloff200 commented on #5927
Works good on current docs app, with ngx-bootstrap 7.1.2

[2021-10-16 15:34] #5927 closed, assigned to nobody

[2021-10-16 15:39] daniloff200 commented on #5921
Looks like, now it's fine
Tested with the latest 7.1.2 version

[2021-10-16 15:39] #5921 closed, assigned to nobody

[2021-10-16 16:18] daniloff200 commented on #6015
Closed because of inactivity.
Feel free to drop me a message for reopen, if it's still an issue @kanisubu

[2021-10-16 16:18] #6015 closed, assigned to nobody

[2021-10-16 16:26] daniloff200 commented on #5692
User was deleted... :crying_cat_face:
So, looks like, I should close that

[2021-10-16 16:26] #5692 closed, assigned to nobody

[2021-10-16 19:58] daniloff200 commented on #5660
Right now I can't even check the issue -> stackblitz doesn't load on Win10 / IE11 correctly.

IE support for Angular already ended from ver 12, also, a bunch of the apps gonna also stop IE11 support next year, so, maybe we should close that.

[2021-10-18 08:19] Darkein commented on #5377
I can confirm it's fixed. Thanks a lot !

[2021-10-19 08:10] apotapcukv commented on #6314
Hi, @skandula106! We can’t reproduce the issue now to check it and fix it. If you still can, please do it at https://stackblitz.com/edit/angular-ivy-de1elj?file=tsconfig.json/ and share with us, or please add a recorded video.

[2021-10-19 21:16] xsenechal opened #6326 "OLD Datepicker maxDate not working anymore when having minDate"
Hi,

I found a small regression on the OLD datepicker:
https://stackblitz.com/edit/angular-ivy-p5rcb6

It seems to follow a refactoring before 7.0. Precisely on datepicker-inner.component.ts.

Cheers

[2021-10-20 03:14] classicmike commented on #5707
I've encountered a similar issue but through co-indicdence, I think I may have narrowed down the problem to some thing more easily explained.

So please be mindful that I've just only discovered it, but you guys might be somewhat aware of it already. Please feel free to point it out if so but I'm writing this comment with the assumption that nothing has been discovered behind the scenes.

So part

[2021-10-20 09:54] apotapcukv commented on #5362
Hi, @CR903! We can’t reproduce the issue. If you still can, please do it at https://stackblitz.com/edit/angular-ivy-de1elj?file=tsconfig.json/ and share with us, or please add a recorded video.

[2021-10-21 09:32] apotapcukv commented on #6149
Dear m1kl!
As per our check this issue is fixed in the latest version, so we’re closing the issue.
Please don’t hesitate to let us know if you face further issues.

[2021-10-21 09:32] #6149 closed, assigned to nobody

[2021-10-21 12:50] devildant opened #6328 "[BUG] ngx-boostrap 7.1.0 and bootstrap 3 modal stop working"
from ngx-bootstrap 7.1.0 with bootstrap 3, the modal stop working, the modal is not visible when open

exemple : https://stackblitz.com/edit/angular-wsg3xa?file=index.html

[2021-10-21 14:16] devildant commented on #6328
for information,
work on:
- 7.0.1
-
not working on :
- 7.1.0
- 7.1.1
- 7.1.2

[2021-10-21 14:22] ush189 commented on #3348
This feature would make life a lot easier for other use cases as well.

[2021-10-21 15:27] DerZyklop commented on #3071
Link was broken. Here it is: https://stackoverflow.com/questions/47389333/how-can-i-keep-popover-alive-while-the-popover-is-being-hovered-for-ngx-bootstr

[2021-10-22 08:31] apotapcukv commented on #4412
Dear paulparas! As per our check this issue is fixed in the latest version, so we’re closing the issue.
Please don’t hesitate to let us know if you face further issues.

[2021-10-22 08:31] #4412 closed, assigned to nobody

[2021-10-22 09:13] apotapcukv commented on #5708
Dear SelmaAhmetovic!
As per our check this issue is fixed in the latest version, so we’re closing the issue.
Please don’t hesitate to let us know if you face further issues.

[2021-10-22 09:13] #5708 closed, assigned to nobody

[2021-10-22 09:19] apotapcukv commented on #3124
Dear AndersWinther-Dahl!
As per our check this issue is fixed in the latest version, so we’re closing the issue.
Please don’t hesitate to let us know if you face further issues.

[2021-10-22 11:26] SvetlanaMuravlova opened #6329 "Delete old datepicker from ngx-bootstrap"

[2021-10-22 11:27] SvetlanaMuravlova opened #6330 "Update library for angular 13"
Update library for angular 13, library should be with enable Ivy mode

-------
update by @valorkin it will be released as soon as nx 13.3 will be released
https://github.com/nrwl/nx/releases

PR for it is here https://github.com/valor-software/ngx-bootstrap/pull/6364

[2021-10-22 11:28] SvetlanaMuravlova opened #6331 "Add algolio for ngx-bootstrap"
https://www.algolia.com/

[2021-10-22 11:28] kvetis commented on #6317
The issue persists in a similar manner:
When you change the date while inline datepicker is present, during the rendering, the datepicker writes into current date (mutates the Date object) setting the previously set time.

It happens in the reducer: https://github.com/valor-software/ngx-bootstrap/blob/e93950bd9f3477c99886d2db0a725bf645c66943/src/datepicker/reducer/bs-datepicker.reducer.ts#L93-L98

[2021-10-22 12:47] apotapcukv opened #6332 "Add the Quotepro Inc to the Table of contents/Who is using ngx-bootstrap"
Using information form https://github.com/valor-software/ngx-bootstrap/issues/5168
you need to update list of the companies, which using library ngx-bootstrap in their projects on the site Table of contents/Who is using ngx-bootstrap.
Add to the list Company name: Quotepro Inc
Website URL: https://quoteprosolutions.com
Logo Image: https://quoteprosolutions.com/wp-content/uploads/2019/05/QuotePro_H

[2021-10-22 12:52] apotapcukv opened #6333 "Dates disabled/Dates enabled in Datepicker working wrong way"
Dates disabled is implemented as Dates enabled when Dates enabled blocked(is implemented as Dates disabled) https://images.zenhubusercontent.com/40403310/b824de66-e05e-4c06-a0d2-3f951a374a3e/disabledenabledissue.mp4

[2021-10-22 13:37] apotapcukv opened #6335 "Datepicker/Show Clear Button don't work"
The entered data can't be cleared using the "Clear" button in the Show Clear Button

https://drive.google.com/file/d/18LwQa5tPfihdSQy8u-jLCVBNsA-d5kTY/view?usp=sharing

[2021-10-22 22:14] Superhands89 commented on #5340
Strange that this functionality was dropped. Would really like to see it return. Positioning the datepicker in the bottom left of the input field seems like a pretty normal thing to me

[2021-10-23 11:20] RahulChouhan96 commented on #2369
I have been facing this problem for a very long. I use to do a workaround to bypass this. But finally, I have fixed this. So, here is the solution.

## Where did I find this problem: ##
ngx-bootstrap

## Problem: ##
This npm package is written in ES6 and is not being transpiled to support older environments like ES5. So, it does not understand the keyword like `export` or `import`.

## Solution ##

[2021-10-25 07:40] apotapcukv commented on #6027
Dear jamesawer3! As per our check this issue is fixed in the latest version, so we’re closing the issue.
Please don’t hesitate to let us know if you face further issues.

[2021-10-25 07:41] #6027 closed, assigned to nobody

[2021-10-25 09:50] SarahKeigTelent opened #6336 "Invalid date locks withTimepicker control until manually reset with null"
Bug description:  If you enter an invalid date into the picker OR if you select a valid date and then manually delete it, you are then unable to select a date from the calendar.

**First Repro Steps:**
1. Type in an invalid date to the picker (i.e. just type a string like 'test')
2. Attempt to select a date from the calendar

Observe that the date will not be selected

**Second Repro Steps:**
1. S

[2021-10-26 08:39] apotapcukv commented on #5735
Dear jarekkowol! As per our check this issue is fixed in the latest version, so we’re closing the issue.
Please don’t hesitate to let us know if you face further issues.

[2021-10-26 08:39] #5735 closed, assigned to nobody

[2021-10-26 08:42] apotapcukv commented on #5717
Dear augustovandyk! As per our check this issue is fixed in the latest version, so we’re closing the issue.
Please don’t hesitate to let us know if you face further issues.

[2021-10-26 08:42] #5717 closed, assigned to nobody

[2021-10-26 09:00] apotapcukv commented on #5825
Dear axell9641! As per our check this issue is fixed in the latest version, so we’re closing the issue.
Please don’t hesitate to let us know if you face further issues.

[2021-10-26 09:00] #5825 closed, assigned to nobody

[2021-10-26 16:28] samshay commented on #6328
I think that Bootstrap 4 i now the default theme.
In this file https://github.com/valor-software/ngx-bootstrap/blob/development/src/utils/theme-provider.ts#L48 , we have
[code]
and when i use bs3, the return is bs4 :(

A solution is to force manually the theme :
https://stackblitz.com/edit/angular-dygtem?file=app%2Fngx-bootstrap-demo.component.ts
[code]

But i think is a bug, because in version 7.

[2021-10-27 06:33] manar-mk commented on #2800
Hi, I'm facing the same problem when using `$event.stopPropagation()`.
I know, it's not an issue, but maybe any ideas how to workaround?

[2021-10-28 06:56] devin5885 opened #6337 "When is the latest version going to published to npm?"
When is the latest version going to published to npm?

The version on npm is still 7.1.0.

[2021-10-28 09:00] SvetlanaMuravlova commented on #6332
@apotapcukv we need a small description about company Quotepro Inc, we can't add this company without any description.

[2021-10-28 10:46] apotapcukv commented on #6319
Hi, mukuljai!) We can't reproduce this issue locally. Can you, please,  add reproducing it on stackblitz, or make a video of getting such issue, or just send us steps to reproduce?
thank you for using our library)

[2021-10-28 11:21] #6166 closed, assigned to nobody

[2021-10-28 12:22] apotapcukv commented on #6304
Hi, Divanhost! We haven’t heard from you in a while, so we suppose that the issue in question is resolved and are closing it. Please don’t hesitate to let us know if you face further issues. Thank you for using our library).

[2021-10-28 12:22] #6304 closed, assigned to SvetlanaMuravlova

[2021-10-29 09:08] johanroug opened #6340 "numeric keyboard for timepicker"
hi
could you make it so I can decide what input type to use. For me it does not make sense with the full keyboard, when I just want to change numbers

[2021-10-29 14:07] daniloff200 commented on #6337
Hi. @devin5885

![Selection_007](https://user-images.githubusercontent.com/13692220/139449398-824d92b0-7c33-4f67-ad3f-aae83d68b271.png)
version 7.1.1 and 7.1.2 are alvo available, 7.1.2 with next tag

[2021-10-29 14:07] #6337 closed, assigned to nobody

[2021-10-31 01:13] devin5885 commented on #6337
Why are .7.1.1 and 7.1.2 marked as next instead of latest?

[2021-10-31 18:31] jlavric commented on #4298
I have solved with this date custom classes.
https://valor-software.com/ngx-bootstrap/#/datepicker#date-custom-classes

[code]
![image](https://user-images.githubusercontent.com/6442636/139597184-95279115-78af-4458-87cc-10f56d478d9a.png)

[2021-11-02 13:47] apotapcukv opened #6341 "The name of the "Getting started" button on the site Starting page don't much the name of the "Get started" page name"
**Environment**:
**Precondition**: Go to the site by using: https://ngx-bootstrap-demo--pr6305-feat-new-design-hk2yeo8v.web.app/ngx-bootstrap/#/
**Steps to reproduce**:
1. Click on the "Get started" button on the Start Page.
**Expected Result**:
The "Get Started" page opens.
**Actual Results**:
The "Getting Started" Page opens with the "Check our Getting started guide if it's your first project wi

[2021-11-02 14:08] apotapcukv opened #6342 "The Home link in the header of every Components' leads to the Start page of the site"
**Environment**: OS Linux mint 20.2
**Precondition**: Go to the site by using: https://ngx-bootstrap-demo--pr6305-feat-new-design-hk2yeo8v.web.app/ngx-bootstrap/#/
**Steps to reproduce**:
1. Click on the "Get started" button on the Start Page. > You reach to the sites' "Start Page"
2. Click on the "Components" dropdowns in the left side menu > The Components Page opens
3. Click on the "Carousel ic

[2021-11-02 14:34] apotapcukv opened #6343 "Wrong name of the 'Create a collective' link in the JOIN column of the https://opencollective.com/create"
**Environment**: OS Linux mint 20.2
**Precondition**: Go to the site by using: https://ngx-bootstrap-demo--pr6305-feat-new-design-hk2yeo8v.web.app/ngx-bootstrap/#/
**Steps to reproduce**:
1. Click on the "Get started" button on the Start Page. > You reach the sites' "Start Page"
2. Click on the "Discover" tab in the left side menu > The "Welcome to ngx-bootstrap!" page opens
3. Scroll down the lef

[2021-11-02 14:43] apotapcukv opened #6344 "The link to the Bootstrap 3 is present on the Home page in the Welcome to ngx-bootstrap!"
**Environment**: OS Linux mint 20.2
**Precondition**: Go to the site by using: https://ngx-bootstrap-demo--pr6305-feat-new-design-hk2yeo8v.web.app/ngx-bootstrap/#/
**Steps to reproduce**:
1. Click on the "Get started" button on the Start Page. > You reach the sites' "Start Page"
2. Click on the "Discover" tab in the left side menu > The "Welcome to ngx-bootstrap!" page opens
3. Scroll up the left

[2021-11-02 15:07] apotapcukv opened #6345 "Deviation of position Daterangepickers "maxDate is today" in relation to "minDate month is equal to maxDate month""
**Environment**: OS Linux mint 20.2
**Precondition**: Go to the site by using: https://ngx-bootstrap-demo--pr6305-feat-new-design-hk2yeo8v.web.app/ngx-bootstrap/#/
**Steps to reproduce**:
1. Click on the "Get started" button on the Start Page. > You reach the sites' "Start Page"
2. Click on the "Components" dropdowns in the left side menu > The Components Page opens
3. Click on the "Datepicker" ta

[2021-11-02 15:22] apotapcukv opened #6346 "Key achievements & Awards in stats and figures on the Start Page are not confirmed"
**Environment**: OS Linux mint 20.2
**Precondition**: Go to the site by using: https://ngx-bootstrap-demo--pr6305-feat-new-design-hk2yeo8v.web.app/ngx-bootstrap/#/
**Steps to reproduce**:
1.  Scroll down the right scrollbar of the sites' "Start" page to the "Key achievements & Awards" page > There are updated data of the Key achievements & Awards present on the site.

**Expected Result**:
The data

[2021-11-02 15:42] apotapcukv opened #6347 "Slack icon in the heading of the site opens the #general channel of the Slack"
**Environment**: OS Linux mint 20.2
**Precondition**: Go to the site by using: https://ngx-bootstrap-demo--pr6305-feat-new-design-hk2yeo8v.web.app/ngx-bootstrap/#/
**Steps to reproduce**:
1. Click on the Slack icon on the site Page header

**Expected Result**:
The Slack #ngx-bootstrap channel opens
**Actual Result**:
The Slack #general channel opens

[2021-11-02 15:57] apotapcukv opened #6348 "Icons on the All Components page don't match the type of the site components"
**Environment**: OS Linux mint 20.2
**Precondition**: Go to the site by using: https://ngx-bootstrap-demo--pr6305-feat-new-design-hk2yeo8v.web.app/ngx-bootstrap/#/
Steps to reproduce:
1. Click on the "Get started" button on the Start Page. > You reach the sites' "Start Page"
2. Click on the "Components" dropdowns in the left side menu > The Components Page opens

**Expected Result**:
The Accordion

[2021-11-02 16:17] apotapcukv opened #6349 "Wrong getting Started page layout and all components page's layout on the site mobile version"
**Environment**: the mobile version of the site
**Precondition**: Go to the site by using: https://ngx-bootstrap-demo--pr6305-feat-new-design-hk2yeo8v.web.app/ngx-bootstrap/#/ and open dev tools click on the F12 button

**Steps to reproduce**:
1. Click on the "Toggle device toolbar" icon in the left up corner of the dev-tools panel to switch on the mobile version of the site > the site mobile vers

[2021-11-03 06:34] apotapcukv commented on #6341
https://images.zenhubusercontent.com/40403310/ea198767-72b3-4395-a499-a09eb6e80261/issue6341.mp4

[2021-11-03 06:54] apotapcukv commented on #6342
https://images.zenhubusercontent.com/40403310/147743f5-6dc7-4d13-afde-fad88452b233/issue6342.mp4

[2021-11-03 06:58] apotapcukv commented on #6343
https://images.zenhubusercontent.com/40403310/7f7a4557-ee6d-4b5d-a882-d010162fd369/issue6343.mp4

[2021-11-03 07:01] apotapcukv commented on #6344
https://images.zenhubusercontent.com/40403310/e3f8de4c-a109-412b-a128-2f9dae850ecd/issue6344.mp4

[2021-11-03 07:05] apotapcukv commented on #6345
https://images.zenhubusercontent.com/40403310/d63ad8f6-6e1a-46d3-9e6e-351f688190f7/issue6345.mp4

[2021-11-03 07:11] apotapcukv commented on #6346
The data of the Key achievements & Awards can be updated by using:
1. statistic data(269,239 downloads a week, has been starred 5,323 times, and that 1,032 other projects in the ecosystem are dependent on it.) from https://snyk.io/advisor/npm-package/ngx-bootstrap;
2.  '⚡ Fast and reliable Bootstrap widgets in Angular (supports Ivy engine)' as awards https://githubmemory.com/@olshansky?page=1;
3.

[2021-11-03 07:15] apotapcukv commented on #6347
https://images.zenhubusercontent.com/40403310/40a7e189-e145-4574-b7dc-3175e6f5c6c7/issue6347.mp4

[2021-11-03 07:36] apotapcukv commented on #6348
Examples of better matching icons:
1. Accordion component icon: https://codyhouse.co/assets/img/gems/hero/multi-level-accordion-menu-featured.svg:
2. Alert component icon: https://www.jqueryscript.net/images/Bootstrap-Alerts-Plugin-jQuery-bsalert.jpg;
3. Dropdowns component icon: https://cms-assets.tutsplus.com/uploads/users/30/posts/35212/preview_image/dropdown.png;
4. Popover component icon: htt

[2021-11-03 07:38] apotapcukv commented on #6349
https://images.zenhubusercontent.com/40403310/5c088f59-9c49-42aa-8e48-3c890f4116ab/mobile_getting_started_layout.mp4

[2021-11-03 08:29] apotapcukv opened #6350 "The facebook icon in the site footer leads to www.facebook.com opens by default in Hungarian translation"
**Environment**: OS Linux mint 20.2, Google Chrome web browser v.94.0.4606.71 (Official Build) (64-bit)
**Precondition**: Go to the site by using: https://ngx-bootstrap-demo--pr6305-feat-new-design-hk2yeo8v.web.app/ngx-bootstrap/#/
Steps to reproduce:
1. Scroll down the right side scrollbar to the Page footer
2. Click on the Facebook icon on the Page footer

**Expected Result**:
The https://www.fa

[2021-11-03 11:04] aparnasj opened #6351 "Website is down"

[2021-11-03 11:32] #6351 closed, assigned to nobody

[2021-11-04 08:00] apotapcukv commented on #6341
cc @SvetlanaMuravlova

[2021-11-04 08:16] apotapcukv commented on #6344
cc @SvetlanaMuravlova

[2021-11-04 08:51] apotapcukv commented on #6349
cc @SvetlanaMuravlova

[2021-11-04 09:30] nagkumar opened #6353 "Does not work with Angular CLI 13.0.1"
[code]
Pl. upgrade

[2021-11-04 10:23] #6353 closed, assigned to nobody

[2021-11-04 10:24] valorkin commented on #6353
will be supported in v8

[2021-11-04 10:45] apotapcukv commented on #6347
Not reproduced. Behavior as expected.

[2021-11-04 10:45] #6347 closed, assigned to nobody

[2021-11-04 10:48] apotapcukv commented on #6350
The issue was related to the local account settings. Works as expected after fixing.

[2021-11-04 10:48] #6350 closed, assigned to nobody

[2021-11-04 11:12] apotapcukv commented on #3585
Dear @Matthew Broach, If you want any missing features to be implemented, you should add additional information or examples of such enhancement. Could you add any of this?

[2021-11-04 11:18] apotapcukv commented on #3289
Hi, @philjones88! We can’t reproduce the issue now to check if it has been fixed or not. If you still can, please do it at https://stackblitz.com/edit/angular-ivy-de1elj?file=tsconfig.json/ and share with us, or please add a recorded video or just send us steps to reproduce?
Thank you for using our library)
.

[2021-11-04 11:26] apotapcukv commented on #3310
Hi, @DanielKucal! We can’t reproduce the issue now in the latest version to check if it has been fixed or not. If you still can, please do it at https://stackblitz.com/edit/angular-ivy-de1elj?file=tsconfig.json/ and share with us, or please add a recorded video, or just send us steps to reproduce. Thank you for using our library).

[2021-11-04 12:15] adros opened #6354 "Animated accordion & content height change"
(probably related to #5202, which claims to be fixed)

When content of an accordion with animation changes, the high does not adapt.

Can be easily demonstrated on https://valor-software.com/ngx-bootstrap/#/accordion#dynamic-body. When I change the content in dev tools inspector, the result is broken.

![image](https://user-images.githubusercontent.com/914548/140311731-5c98c3d3-72a1-4307-818b-6940

[2021-11-04 12:34] apotapcukv commented on #5278
Hi, @deadmann! We can’t reproduce the issue now in the latest version to check if it has been fixed or not. If you still can, please do it at https://stackblitz.com/edit/angular-ivy-de1elj?file=tsconfig.json/ and share with us, or please add a recorded video, or just send us steps to reproduce. Thank you for using our library).

[2021-11-04 12:41] nagkumar commented on #6353
Any time lines for v8 release pl.

[2021-11-04 12:45] apotapcukv commented on #5366
Hi, @MaximumRGB! We can’t reproduce the issue now in the latest version to check if it has been fixed or not. If you still can, please do it at https://stackblitz.com/edit/angular-ivy-de1elj?file=tsconfig.json/ and share with us, or please add a recorded video, or just send us steps to reproduce. Thank you for using our library).

[2021-11-04 14:04] apotapcukv commented on #6343
Behaves as expected

[2021-11-04 14:04] #6343 closed, assigned to nobody

[2021-11-04 14:06] apotapcukv commented on #6342
Behaves as expected

[2021-11-04 14:06] #6342 closed, assigned to nobody

[2021-11-04 14:11] apotapcukv commented on #6341
Implemented as expected

[2021-11-04 14:11] #6341 closed, assigned to nobody

[2021-11-04 14:21] apotapcukv commented on #5397
Hi, @elFani! We can’t reproduce the issue now in the latest version to check if it has been fixed or not. If you still can, please do it at https://stackblitz.com/edit/angular-ivy-de1elj?file=tsconfig.json/ and share with us.
Please don’t hesitate to let us know if you face further issues. Thank you for using our library).

[2021-11-04 14:32] apotapcukv commented on #5497
Hi, @AlMorton! We can’t reproduce the issue now in the latest version to check if it has been fixed or not. If you still can, please do it at https://stackblitz.com/edit/angular-ivy-de1elj?file=tsconfig.json/ and share with us,  looking at toggle functionality in docs https://valor-software.com/ngx-bootstrap/#/popover#triggers-manual.
Please don’t hesitate to let us know if you face further issues

[2021-11-04 14:36] #5497 closed, assigned to nobody

[2021-11-04 15:06] apotapcukv commented on #5965
Hi, @alexandvvvvv! We can’t reproduce the issue now in the latest version to check if it has been fixed or not. If you still can, please do it at https://stackblitz.com/edit/angular-ivy-de1elj?file=tsconfig.json/ and share with us.
Please don’t hesitate to let us know if you face further issues. Thank you for using our library).

[2021-11-04 15:16] apotapcukv commented on #6007
Hi, @rekna1! We can’t reproduce the issue. If you still can, please do it at https://stackblitz.com/edit/angular-ivy-de1elj?file=tsconfig.json/ and share with us, or please add a recorded video. Please don’t hesitate to let us know if you face further issues. Thank you for using our library).

[2021-11-04 16:18] jonbrock commented on #5397
Hi,

This problem still exists. I've created a short video illustrating the problem: https://www.youtube.com/watch?v=zeHNq0NC-KI

Please forgive the quality of the video, I've never made a screen capture video before. Hopefully it will help the developers understand the nature of this problem.

The app demoed in the video is here: https://stackblitz.com/edit/angular-ivy-oqehhj?file=src%2Fapp%2Fapp

[2021-11-04 16:54] elFani commented on #5397
Hi,
@jonbrock Yes, and I can confirm your findings. Thanks for the video as well. The video is a pretty thorough explanation and illustrates the issue well; I really don't have anything to add to it.

Unfortunately, the app we rolled out had a known user base of low-sight individuals. We've had to just use the workaround of setting the collapse to false and having the mobile nav open by default, a

[2021-11-05 11:53] mikolajszymanski commented on #6306
on the official page ngx-bootstrap still I can reproduce this issue.
When you switch to: "AM" in timepicker and provide 17 in hours then component switch it to 5 and change AM to PM. But when I do this when I select "PM" and provide 17 it doesn't change to 5 and gives me an error. It should change this 17 to 5 in both way: when AM is selected and when PM is selected.

[2021-11-05 16:57] rekna1 commented on #6007
You can close the issue for me as I've switched to another library... my  reasons for it are:

- this other library is more intuitive to use and follows better angular principles (e.g. I've never really understood why datepicker has a bsValue, maybe I didn't spend time enough reading the docs). Anyway my experience was that I could accomplish what I wanted with less effort with the other library.

[2021-11-05 17:30] ryanhubbell opened #6356 "TypeError when running unit tests with ngx-bootstrap popover"
Bug description:

 I'm getting this stack trace when running unit tests via jasmine that contain ngx-bootstrap's popover.

`An error was thrown in afterAll
TypeError: Cannot read property 'match' of undefined
    at initData (http://localhost:9876/_karma_webpack_/webpack:/node_modules/ngx-bootstrap/__ivy_ngcc__/positioning/fesm2015/ngx-bootstrap-positioning.js:852:1)
    at Positioning.positionEle

[2021-11-05 20:12] ryanhubbell commented on #6356
So I rolled back to version 6.0.0, and I don't get this issue. It seems to have been introduced in 7.0.0.

[2021-11-05 22:29] Mikosko opened #6357 "Tabs (add tabindex)"
**Disabled tab in Tabset Component are still focusable by keyboard and there is no chance to set tabindex="-1" for disable focus.**

It'll improve user keyboard experience to skip disabled options in tabset.

**Add @Input() tabindex for tab directive and bound property into `<a>` element in HTML template**

[code]

[2021-11-06 13:11] sebasdeweert commented on #6353
When will v8 be released? Is there any CLI 13.0.1 supported branch I can use in the meantime?

[2021-11-07 16:13] jonbrock commented on #5397
I looked a little more into this issue and found this page which lists some best practices:
https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_aria-hidden_attribute

It says that

Based on that, the entire use of aria-hidden should be removed from the collapse element since visibility is controlled with display: none.

[2021-11-08 08:47] FrancescoBorzi opened #6358 "TypeError: Cannot read properties of null (reading 'removeChild')"
Bug description:

Unit tests fail with:

[code]

Issue reproduction:

https://github.com/azerothcore/Keira3/pull/1532

https://github.com/azerothcore/Keira3/runs/4133377142?check_suite_focus=true

Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 7.1.0

Angular: 13

Bootstrap: 5

Build system: Angular CLI, System.js, webpack, starter seed: Angular CLI

**Expected behavior**

Shoul