[2019-10-24 13:05] Domainv commented on #3609
@imben1109 If I understand right, for you datepicker works correctly now?

[2019-10-24 14:57] isalox commented on #3609
it is just for example. Actually my problem is when I am getting data from Rest API. In data base, i store only dates without time. That data is send to UI and deserializes and when I want to edit I am getting dates one day back.

[2019-10-24 15:26] Parison125 commented on #3609
I had the same issue, for some reasons, bsDatepicker always picked the day before the date you choose. Here is a solution I found which uses datepipe from angular/common.

let dateFromBsdatepicker:Date = reactiveForm['formControlName'];
let correctDate = this.datepipe.transform(dateFromBsdatepicker,'yyyy-MM-dd');

[2019-10-24 16:34] Prefix1802 commented on #5495
I have the same issue. V5.1.2 works. After that all versions are broken.

[2019-10-24 17:41] imben1109 commented on #3609
@isalox you could try my workaround solution that i post before. a utc date wrapper for ngx-bootstrap for version before 5.2.0
@Domainv
No. Still have some problem in https://stackblitz.com/edit/angular-mb7szh.
It work fine when setDate button is pressed. But when the date is selected by datepicker, it do not work.

![image](https://user-images.githubusercontent.com/12300682/67510859-561acd80-f6c8

[2019-10-24 20:35] xaamin commented on #5153
Fix it using css styles on your main saas file
[code]

[2019-10-24 20:35] xaamin commented on #5144
Fix it using css styles on your main saas file
[code]

[2019-10-24 20:53] dolphinsd opened #5527 "default tab is not set to first tab on show"
Previous version of tab component would reset selected tab to index 0 on show, so when tabs are used in modal dialog, everytime you open modal dialog, tab 0 is used.

not anymore. the latest version 5.3.0 keeps the tab index state.

[2019-10-25 12:14] Dommar92 commented on #5511
Hi @daniloff200
I did not manage to reproduce it outside of my project, so I believe it's some side effect in conflict with bad naming in the project, none of your business ;) Issue can be closed.

[https://streamable.com/d76lm](https://streamable.com/d76lm)

[2019-10-25 12:14] #5511 closed, assigned to nobody

[2019-10-25 13:08] Domainv commented on #3609
Released ngx-bootstrap@5.3.2

behavior was back as in 5.1.2 version

Needs more info and time to find the correct solution for timezone issue

[2019-10-25 13:09] Drundia opened #5529 "Disabled tooltips call PositionService.setOptions and PositionService.options is shared by multiple elements"
Bug description:

Triggering disabled `TooltipDirective` calls `PositionService.setOptions` triggering repositioning of other elements based on hovered `adaptivePosition`.

`PositionService.options` is shared by multiple components, so triggering `TooltipDirective` (or other similar directives) may incorrectly reposition already visible components. I have experienced respositioning of `BsDropdownC

[2019-10-25 15:01] daniloff200 commented on #5154
closed via #5346

[2019-10-25 15:01] #5154 closed, assigned to nobody

[2019-10-25 19:47] livthomas commented on #5243
@Domainv Why do you do it this way? Projects are then by default always getting the previous version of your library instead of the latest one because NPM uses `latest` tag when you don't specify any version. Shouldn't `next` tag be used for unstable beta versions of an upcoming release?

[2019-10-25 20:11] KiranAkadas opened #5530 "Docs: Restructuring some phrases in bootstrap.md"
**Description:**
- There are some sentences which require capitalization in the beginning
- A minor restructure which makes the phrase better to understand.

[2019-10-25 20:11] KiranAkadas commented on #5530
I'll open a quick PR to fix this

[2019-10-27 14:20] PawanKotak commented on #4487
+1. Please fix it

[2019-10-27 17:40] uzbekdev1 commented on #4487
Hi guys

All your answers is wrong!!!

For example ,
we have customized EN->RU locale:

![image](https://user-images.githubusercontent.com/4530991/67638699-79808b00-f909-11e9-88b7-05c5250ac844.png)

Yes sure,it's not interesting for us.

Angular any time supported: string->date->string->any and conversely!

We can anything  do it with moment package : date<->string conversion.

TS

[code]

HTML

[

[2019-10-27 17:58] uzbekdev1 commented on #5128
Hello all!

I didn't see, really solution!

Here have my answer:

[https://github.com/valor-software/ngx-bootstrap/issues/4487#issuecomment-546717023](https://github.com/valor-software/ngx-bootstrap/issues/4487#issuecomment-546717023)

[2019-10-27 20:14] michielkikkert commented on #5495
Was this issue fixed in 5.3.1? @Domainv?

[2019-10-28 08:03] vdumbrav commented on #5390
@gagandeepp @daniloff200 in progress?

[2019-10-28 08:05] daniloff200 commented on #5390
@vdumbrav he removed his assignment,  you can pick it, if you want 😀

[2019-10-28 09:06] Domainv commented on #5495
@MikeOne Yes

[2019-10-28 09:06] #5495 closed, assigned to nobody

[2019-10-28 09:30] Domainv commented on #5524
@gorgonzola81 For now, we don't have the opportunity.

[2019-10-28 11:09] An-MS commented on #5495
Hi @Domainv
The bug seems to persist even after I updated to 5.3.1.
Somebody else experiencing this?

[2019-10-28 11:13] Domainv commented on #5495
@An-MS In 5.1.2 works?

[2019-10-28 11:25] An-MS commented on #5495
@Domainv Yes, it works with 5.1.2

[2019-10-28 13:00] Domainv commented on #5495
@An-MS Oh, you are right. I'll make quick fix and patch release

[2019-10-28 14:24] aggo commented on #5391
@nacrotic You can "hack" it by setting the [itemsPerSlide] to a value slightly larger than one (doesn't have to be 2), it works with anything like 1.000001 or so cause the multilist only checks that the number of items is >1.
[code]

[2019-10-28 14:50] Domainv commented on #5495
@An-MS @MikeOne
use 5.3.2 version please

[2019-10-28 18:55] rphelan commented on #4668
I ran into the same issue as @codestitch and was able to fix it by using 'en-gb' for the locale name rather than just 'en':

[code]

[2019-10-29 08:06] An-MS commented on #5495
@Domainv
Thank you, it works now!

[2019-10-29 21:54] ghybs commented on #3139
Hi,

While the Timepicker is mainly used to input a time only, and we could expect the developer to discard the "date" part of the JavaScript `Date` object that is used as model, it is true that the behaviour is not consistent between the hours (which currently implement a fix, as pointed out by https://github.com/valor-software/ngx-bootstrap/issues/3139#issuecomment-454502516) and minutes / secon

[2019-10-30 10:37] AruljothySundaramoorthy commented on #4536
But when tried to use this method it won't works...find the snippet below

*, {class: 'modal-md'}*

[2019-10-30 10:40] AruljothySundaramoorthy opened #5536 "Modal resize issue"
Unable to change the NGX-Modal size when i tried to change the size.

This is the code which i have used.

this.modalRef = this.modalService.show(Modaltemplate11, {class: 'modal-dialog-centered'});

[2019-10-30 10:55] exitlol commented on #3553
It only works with single dates, OP needs dateRange, it can be done with two datepickers but why use them if you have dateRange picker, also custom pipe would do the trick I suppose. Also sad that there's no fix for this long lasting issue

[2019-10-30 11:53] exitlol commented on #3553
Possible solution for DateRanges with custom Pipe:

pipe.ts:
[code]

Not the change in component from [bsValue] to [value]! otherwise your input will be empty.

[2019-10-30 14:32] Beni312 opened #5537 "Add possibility to disable keyNavigations on tabs."
**Is your feature request related to a problem? Please describe.**
I made edittable tab names by clicking in the tab heading, and there is an input tag to modify it. I solved it with custom template (tabHeading directive).
When i want to use arrows, shift+arrows or space, because of the keyNavigations, the input tag losing the focus.
I downgraded it to 5.0.0 version, and now works, but this is onl

[2019-10-31 12:55] priya5110 commented on #5418
hey

[2019-11-01 05:27] manhar-developer opened #5539 "Highlight whole week in daterange picker"
**Description:**
Highlight whole week in daterange picker.

Expected Result.
Is it possible to select/highlight whole week in the date picker.
In response we have managed to send the week from the date.
But the requirement is to display/highlight the week .
Suppose wednesday from week 1 to wednesday Week2 is selected.
In that case date rangepicker should highlight whole weeks. i.e. Monday from Wee

[2019-11-01 10:01] aghausman commented on #4273
@filipemansano your solution works flawlessly.
cheers

[2019-11-01 10:50] tonym99 opened #5540 "Allow day selection when starting in minMode='month' or minMode='year'"
I want to start the picker in minMode='month' or minMode='year' and allow the user to select a day once the month and year have been selected.  Right now, if you start in minMode='month', the picker closes once you select the month and/or year.  it doesn't allow a day to be selected.

I want the user to drill down from year, to month, and then to day using the picker.

Is this possible??

[2019-11-01 11:12] JIBIN-P commented on #2330
Why isn't modalService.setDismissReason mentioned anywhere in the modal API documentation? Also, I would like to contribute to the documentation can you tell me where is the documentation located in this repo.

[2019-11-01 11:14] bacmanni commented on #4487
I solved this problem by creating my own date picker component that wraps ngx-bootstrap version and handles conversion from string to date. However this feature should indeed be included in ngx-bootstrap component itself. I was really surprised it hasn't been done already.

[2019-11-01 11:45] ghost opened #5541 "Albanian Language needed"
Please add the Albanian Language (sq) to this project!

[2019-11-02 12:41] pavantripsolver commented on #2810
But Modernizr and vendor are displaying as an error. how to import these two in a component?

[2019-11-02 12:49] daniloff200 commented on #5541
Hey @EctabyteSrl .
Unfortunately,  nobody from our core team know Albanian
 Do you know Albanian ? You can create a PR with a localization, we will be happy to merge it
I also can share some Pea with localizations as example for you

[2019-11-02 15:05] ghost commented on #5541
Thanks a lot, yes I know Albanian, but I don't know how can I contribute here..
Please give me the steps to start working on it!

[2019-11-02 16:29] daniloff200 commented on #5541
@EctabyteSrl well, our README.md should help you to setup the project locally, and https://github.com/valor-software/ngx-bootstrap/blob/development/CONTRIBUTING.md should help to understand how  to contribute

Also, check https://github.com/valor-software/ngx-bootstrap/pull/5432 or https://github.com/valor-software/ngx-bootstrap/pull/5387 to  check, how to add locale properly:)

[2019-11-02 17:54] Dsupreme opened #5542 "Adding Date Presets to DateRangePicker"
**Feature Request:**
Adding multiple preset date ranges as a capability to the library

**Probable solutions**

Adding support as a configuration in bsConfig
**OR**
Creating a new "preset" property

**Workarounds if any**
Current workaround requires me to write the following code which basically renders the panel on the right of the date container and the click functions update the model for the i

[2019-11-02 17:57] Dsupreme commented on #5542
Can work on this feature if the proposal is accepted.

[2019-11-02 20:08] ghost commented on #5541
@daniloff200 thank you!

[2019-11-05 22:16] custompro12 commented on #5226
Confirmed fixed in 4.3.0 without "next" tag and using the extra [adaptivePosition]="false" property. Thanks! Closing

[2019-11-05 22:16] #5226 closed, assigned to nobody

[2019-11-06 05:50] sucotronic commented on #2810
@pavantripsolver I've downloaded Modernizer to the same folder as the .ts file (with only the touchevents feature). I also use Bowser to detect if it is an iOS device(just install it with npm).

[code]

[2019-11-06 09:34] bojidaryovchev commented on #2716
it also wont open if you pass something that is NOT a valid date to the [bsValue] input - no errors shown - it just doesnt open.. hopefully that helps, it was my problem

[2019-11-06 09:53] bojidaryovchev commented on #2716
another thing I just found out is that THE ONLY WAY to set the [bsValue] is to set is as a component variable, if it is a get property or something thats not initialized with the component variables it simply doesnt show.. this is a MAJOR issue, is it gonna be fixed any time soon?

[2019-11-06 10:14] bojidaryovchev opened #5543 "BsDatepicker doesn't show in these two scenarios (see description)"
I am not using an issue template because the issues are really straightforward.. So..

I created a new angular-cli app, added the bsdatepicker module etc according to the docs (I have around two years experience in Angular, I didnt make any lame mistakes) and copied one of the most basic datepickers from the docs:

    <input type="text"
           class="form-control"
           #dp="bsDatepicker

[2019-11-06 17:38] KenrySanchez commented on #4808
Hello @i1990jain, I have the same problem with my development. Can you tell me how did you solve the problem?

[2019-11-06 19:30] amcastror commented on #4466
Hi @ShaileshInfyom, how can I pass the current value for the datepicker? With an input, a [(ngModel)] does the job, but I can't use that without an input.

Thanks!

[2019-11-07 13:45] clement94 commented on #4345
Hi, I have exactly the same issue (ngx-bootstrap 5.1.2 with angular 7.2.0). Do you find your answer please ?

[2019-11-07 15:41] paulhewitt commented on #4536
@Arruls8 I don't believe that modal-md is a valid size. According to the [documentation](https://valor-software.com/ngx-bootstrap/#/modals#directive-sizes), it looks like there are only the two sizes, modal-lg and modal-sm

[2019-11-08 03:39] shailpatels commented on #1819
@jgood044 Unfortunately we haven't found a good solution for our project either. The best way seems to be to manually intercept the tab event and force it to stay within the modal. The other method
is to prevent any element outside of the modal to be tab-able when the modal gets opened and then re-add everything when the modal gets closed but this is more of a hack although it is faster to impleme

[2019-11-08 05:51] GautamPanickar commented on #1707
This worked for me. Thanks.

[2019-11-08 20:51] cofad commented on #1519
I had to add position relative to my container form to get the width of the drop down to match the input width.

    form {
      position: relative;
    }

    ::ng-deep .dropdown-menu {
      width: 100%;
   }

I also wanted to the text to wrap with the width now fixed to the input box width so I added the following:

    ::ng-deep .dropdown-item {
      white-space: normal;
    }

[2019-11-09 15:31] agnjunio opened #5544 "BsDatepicker/BsDatepickerRange is being positioned out of visible screen."
Bug description: BsDatepickerRange is being positioned out of the visible screen. This is critical because it makes impossible to use the component.

Plunker/StackBlitz that reproduces the issue:
https://stackblitz.com/edit/angular-6pgn7c

Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 5.3.2

Angular: 7.2.15

Bootstrap: 4.3.1

Build system: Angular CLI

**Expected behavior**
Th

[2019-11-09 15:36] rjborba commented on #5544
Changing ngx-bootstrap version to 3.3.0 fixes the problem.  It is a new bug!

[2019-11-09 16:45] rjborba commented on #5544
Using placement="" is a work workaround to place element on start-bottom position.

[2019-11-13 07:54] yashwp opened #5545 "How do I stop changing slide on hitting SPACE key?"
**Description:**
I see you have a feature for Keyboard interaction. I want to stop the changing of the slide on hitting **SPACE** or **ENTER** key. How do I stop this?

As of now, I've to stop the propagation by

[code]

PS- I'm not keen to use a workaround, which by block the space key

[2019-11-13 14:46] loutocky commented on #5165
+1

[2019-11-13 23:06] Et3rnal opened #5546 "Change/add specific modal class and change the backdrop"
**Description:**
I would like to at add a class on <modal-container> level, the reason is I want one particular modal to have higher z-index and while that modal is shown I need to increase the backdrop z-index.

How can I achieve that?

PS: I use modal service.

[2019-11-14 10:19] samshay commented on #582
I send a pull request with modifications #5547

[2019-11-14 12:18] reimavronicolas commented on #5217
Here's a workaround for the use case where clicking on the element (with the tooltip) hides it, and the tooltip still appears in the top left corner of the window (after the delay).

You can utilise the `triggers` attribute to dismiss the tooltip on click: `triggers="mouseenter:click mouseenter:mouseleave"`

Example:
https://stackblitz.com/edit/angular-tirenu?file=src%2Fapp%2Fapp.component.html

[2019-11-14 16:36] hasithak commented on #4162
HI,
I am asking this again. Is it possible to generate Prev and Next directly in HTML without being generated by the component?

[2019-11-15 13:57] karkius opened #5549 "initially datepicker shows date in wrong format"
I specified dateInputFormat:'YYYY-MM' and it shows the initial date in another format.
If you choose a date or set date programmatically, then the correct specified format is used.

https://stackblitz.com/edit/angular-chkg7g

[2019-11-17 20:58] MathiasAt commented on #1153
Any updates on this topic?
Maybe take a look at how it was implemented in this datepicker?
https://ng-bootstrap.github.io/#/components/datepicker/api#NgbDatepickerNavigateEvent

[2019-11-18 12:47] Suhas-Nadarge commented on #2810
I'm getting same issue in angular 6, but not all the time. I am able reproduce it very few time. but I want to resolve it. Any solutions will be appreciated.

[2019-11-18 14:59] eegeeZA opened #5550 "Datepicker - Incorrect Timezone usage"
## Bug description:
Dates supplied are being offset with the browser timezone. For example, if a date is created `var birthday = new Date(1995, 11, 17);` and supplied the Datepicker is UTC > 0, then it will show the previous day.

## To view bug:
* View the date displayed https://valor-software.com/ngx-bootstrap/old/5.1.1/#/datepicker#format
* Then compare it to the date displayed https://valor-so

[2019-11-18 15:00] eegeeZA commented on #5550
P.S. Do you know why the version on NPM is lagging behind the main release version?

[2019-11-19 05:23] eegeeZA commented on #5550
Looks like #5534 fixes this. When can we expect to see v5.3.2 on NPM packages?

[2019-11-19 21:39] onlytafkas commented on #3609
after an afternoon and an evening plenty of frustration, I switched to a simple input control type=date and the date is saved without time, what I needed for my case

[2019-11-20 00:42] Et3rnal commented on #5546
I noticed when we have multiple modals opened each has it is own backdrop, It would be nice if we can pass backdrop class as part of the modal or at least the one on top should have higher z-index

[2019-11-20 01:08] Et3rnal commented on #5546
Okay I found a workaround at #5000

I used:
[code]
Instead of using opacity as that will make the modal trasperant as well
Then disabled the backdrop so we don't end up with 2
[code]

[2019-11-20 01:08] #5546 closed, assigned to nobody

[2019-11-20 07:14] bacmanni opened #5552 "Nested modal with scrollbar makes second modal not centered"
Bug description:
When opening first modal with so big content that it uses scrollbar and opening nested dialog over that one the nested dialog is not centered.

Took a screenshot from ngx-bootstrap documentation page with added text
![image](https://user-images.githubusercontent.com/2714736/69216917-053aaf80-0b76-11ea-9d42-4e182a593814.png)

Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-

[2019-11-20 15:39] diogen737 opened #5553 "Tooltip doesn't work in IE11"
**Bug description:**

Basic example of tooltip usage does not work in my app.

[code]

Tooltip does not appear when I hover over the button, the tab freezes infinitely and I also observe intensive CPU usage. No error messages in console.

Other ngx-bootstrap components seem to work fine.

**Versions of ngx-bootstrap, Angular, and Bootstrap:**

ngx-bootstrap: 5.1.1

Angular: 8.2.2

Bootstrap: 4

Bu

[2019-11-20 20:46] esoyke commented on #1819
To deal with this issue I just put tab traps to keep them between the first and last selectable elements in the modal's content.

    <button type="button" name='first-button' (click)="firstAction()" attr-label='first button action' (keydown)="preventTabBack($event)">First button</button>
    <other-stuff/>
    <button type="button" name='last-button' (click)="lastButtonAction()" attr-label='last

[2019-11-21 14:37] mikaelagr opened #5554 "Delayed tooltips not removed"
Bug description:

Plunker/StackBlitz that reproduces the issue. Hover over the box and notice how the tooltip count (in positioningservice) increases.
https://stackblitz.com/edit/ngx-bootstrap-hanging-tooltip

Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 5.3.2

Angular: 8

Bootstrap: 3

Build system: Angular CLI, System.js, webpack, starter seed:
webpack

We had a performance

[2019-11-21 14:55] vz28bh commented on #5340
Same here. When using the date range picker it is so wide as to be off screen.

[2019-11-21 17:10] isalox commented on #3609
I don't need any workarounds. It should work properly without any hacks. It is basic functionality for datepicker. If it can't render date correctly why do anyone need it. Right now it is useless.
Hope it will be fixed in next release.

[2019-11-21 20:53] Framus commented on #5299
We have the same issue in a dropdown with `overflow-x: auto` and dynamic templates as popover content.
This basically forces us, to disable those popovers in certain situations. Downgrading to 3.2.0 is not an option (no angular 8 support there)

[2019-11-22 11:28] Framus commented on #5299
An actual workaround in our situation, was to use tooltips instead of popovers with `adaptivePosition=false`
This will work with dynamic templates and with plain strings. Downside: you have to do some styling work + you don't have the `popoverTitle` parameter

[2019-11-22 15:45] cofad opened #5555 "Add Keyboard Navigation to Drop Down Menu"
Currently it is only possible to navigate the drop down menu items with tab key or mouse. It would be very helpful to be able to use the up and down arrows to navigate the drop down menu.

[2019-11-24 07:50] gokhanoner commented on #5553
Similar problem. For me, I'm using the templated tooltip. I can see the tooltip but when moved cursor, tooltip stays open & freezes the browser.

Angular: 7.2.3
ngx-bootstrap >+3.0.0 (I observed the problem in 5.3.3 & tested all version. Currently using 2.0.5 & working fine.)

Bootstrap: 3

[2019-11-25 20:01] esoyke opened #5557 "Accessibility attributes when creating modal with Component?"
**How can you specify aria-labelledby when passing component to modal service?**

The Accessibility documentation states:

I am creating my modals by passing Components to the modal service. How is it possible to set values on .modal or .modal-dialog when the component is nested under .modal > .modal-dialog > .modal-content > my-component ?

[2019-11-26 01:56] zigang93 commented on #4162
yeah.. I need add onclick event on prev and next button.. how to do that?

[2019-11-26 07:18] sijusamson opened #5558 "User is allowed to type Alphabets in DatePicker."
Bug description:  If you go to datePicker and start typing characters in it, it accepts it and then you select any date, its reflected as Invalid Date.

Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 5.2.0

Angular: 8

Bootstrap: 4.3.1

Build system: Angular CLI, System.js, webpack, starter seed:

**Expected behavior**

User can type numerical values but he should be restricted

[2019-11-26 09:31] Totati commented on #5089
I came here facing the same issue. The material team chose to leave a copy of the tooltip's content in the DOM, referring to that id.

[2019-11-27 11:22] Master-Antonio commented on #5417
There was a error with other components of angular, isn't a your error, sorry so much, you can close the issue.  Thanks for your support.

[2019-11-27 15:14] rits-development commented on #5190
Is this issue on any roadmap to get fixed?

[2019-11-27 15:56] stefanmeschke opened #5559 "No space possible for `<input>` element in tab heading"
## Bug description

For a custom tab heading with an input element. It is not possible to insert a space in this input.
It seems that the space is not possible because of this code block:

https://github.com/valor-software/ngx-bootstrap/blob/161f419c67daed188ad7a936aad4875f2cbc4dd5/src/tabs/tabset.component.ts#L101-L107

### Plunker/StackBlitz that reproduces the issue
https://stackblitz.com/edit/

[2019-11-27 21:19] stefanmeschke commented on #5559
I fixed it with:

**Template**
`<input (keydown)=keydown($event) … />`

**Component**
[code]

But I think an option to disable the keyboard events would be very very nice. ;)

Cheers
SM

[2019-11-28 10:12] ayehia commented on #3348
@dabbid solution works for me, here is the updated version after adding momentJS

[code]

[2019-11-29 13:29] samhoseinkhani opened #5560 "Does ngx-bootstrap has an option to use it in rtl languages ?"
i'm using it in Angular 8
i expect it to has a config like this :

@NgModule({
  imports: [
    NbThemeModule.forRoot(nbThemeOptions, nbJSThemes, nbMediaBreakpoints, 'rtl')
  ]
})

which i can tell it whether it should be rtl or ltr and it handles the rest  ...
does it have sth similar ?

[2019-11-29 16:53] deache commented on #5394
Same here

[2019-12-02 21:57] lenichols commented on #2622
How do you set this in the current version?

[2019-12-03 12:09] omptl opened #5561 "on click browser back button, modal is not getting closed"
on click browser back button, modal is not getting closed while route gets changed.

[2019-12-03 12:55] JelleVisser opened #5562 "Daterangepicker: Max date range feature"
**Is your feature request related to a problem? Please describe.**
We would like to be able to enforce that a selected date range is not larger then for example "6 months".

**Describe the solution you'd like**
Setting this value would allow you to select any date between the existing `minDate`/`maxDate`, after selecting the first date the dates that don't fall within the `maximumDateRange` would

[2019-12-03 19:56] jkubiszewski commented on #2622
seriously?
https://valor-software.com/ngx-bootstrap/#/datepicker#locales

[2019-12-04 07:17] rdeshpande29 opened #5563 "Customize ngx inline daterangepickerfor Month and week short name and disable Month and year click view"
Hi,
I am trying to customize inline <bs-daterangepicker-inline> with config object to display month name and week names as short name but I am not able to achieve the same .And also how can I disable the click on month and year on calendar header. I dont want months and years to be accessed from button click.

 bsConfig: Partial<BsDatepickerConfig>;
  this.bsConfig = Object.assign({}, {
      disp

[2019-12-04 11:21] t00 commented on #5395
I seem to be affacted by the same problem in IE, also versions 5.2.0 and 5.1.2. PositioningService from ngx-bootstrap/positioning/fesm5/ngx-bootstrap-positioning.js is called indefinitely after dropdown calendar is about to be shown (for unassigned date).

_this._posService.calcPosition();

then

if (_this.isDisabled) {
                        return;
                    }
                    _thi

[2019-12-04 11:24] t00 commented on #5395
Quite possibly adding a debouncer in the folowing subscription could help:

PositioningService.prototype.calcPosition = /**
     * @return {?}
     */
    function () {
        this.update$$.next();
    };

[2019-12-04 15:25] cmyk1 commented on #3825
How?

[2019-12-04 17:37] xavadu commented on #3513
Would be good to have in consideration if the solution would come from the _locale_ file or using the native i18n

[2019-12-04 21:11] AleksandrBracyuk commented on #2176
...
this.items = result;
setTimeout(() => { this.currentPage = nextCurrentPage });
...
see https://blog.angular-university.io/angular-debugging/
"As we can see, we are using setTimeout() to defer this code to another Javascript Virtual Machine turn, and notice that we are not even specifying a value for the timeout."

[2019-12-05 07:29] ChrisCherryfarmer opened #5564 "Wrong date with custom date formats with DateRangePicker"
Hi,

I found **a severe issue** with custom date formats.

When you set a custom dateRangeFormat and change the value of the yeah in the input field, the Datepicker gets confused and changes month and day.

**Steps to reproduce**

1. Go to https://valor-software.com/ngx-bootstrap/#/datepicker
2. Got to section Custom date format
3. Select Date range on custom format field: e.g. 2019-12-01 to 2019-

[2019-12-05 07:37] #5417 closed, assigned to nobody

[2019-12-05 09:51] rdeshpande29 commented on #4668
Thank you so much for taking time to put your workaround.I have been breaking my head since 2 days :) It worked for me!

[2019-12-05 13:32] xerocostdistraction commented on #5402
Got the same problem after updating to ng 7 -> 8 and ngx-bootstrap 3.2 -> 5.2.
Chrome profiling tool hangs as well, can't even see where the issue is exactly.

The app is too big to cut out minimal example from it, it would probably be easier to make a simple one-field app to check it.

UPD: it seems like the positioning service is endlessly recalculating picker's position. Not sure what triggers

[2019-12-05 16:32] xerocostdistraction commented on #5402
Found the probable cause and fix:

When datepicker is rendered, ComponentLoader subscribes to zone's `onStable` observable [here](https://github.com/valor-software/ngx-bootstrap/blob/c86d0f5fd0ee289595563073caadab863ce2dddf/src/component-loader/component-loader.class.ts#L354) to calculate picker's position. The problem is that the values are consistently emitted by it (not sure if it's caused by c

[2019-12-05 16:39] xerocostdistraction commented on #5402
I'd also add the issue seems to be related to #5395.

[2019-12-05 20:33] jenswet opened #5565 "Can't access NgbDatePicker ViewChild in modal template [Angular 8]"
Hey folks,

I am trying to migrate to Angular 8 and experiencing the following issue:

I use a slightly modified version of this https://stackblitz.com/edit/angular-datetimepicker?file=src%2Fapp%2Fdate-time-picker%2Fdate-time-picker.component.ts date-timepicker combination.

It worked fine with Angular 7. With Angular 8 the
`@ViewChild(NgbDatepicker)
private dp: NgbDatepicker;`
does not work anymo

[2019-12-08 17:11] Joebeazelman opened #5566 "ngx-bootstrap documentation sucks!"
The documentation for ngx-bootstrap sucks!  Do you expect developers to read your mind or to gleen over your source code just to understand how this mediocre mush works?

Don't know what I am talking about?   I'll give you an example in case you haven't already figured it out. In the following documentation page for dropdowns, there's no discussion of how to databind a selected item (https://valor

[2019-12-09 08:04] daniloff200 commented on #5566
I think, you spend more than 20-30 minutes, to write this post, full of hate and disrespect.
Instead of that, you could spend this time for writing/updating this **bad** documentation.

It's an opensource library, but, you behave like you paid 100000$ for it, and we all here have to serve you, isn't it?

Shame on you, Mr. Noname

[2019-12-09 08:10] daniloff200 commented on #5566
I don't even want to dive into this, and try to find something useful in this offensive speech.
If you don't like this library - don't use it.

EASY, MAN

[2019-12-09 08:10] #5566 closed, assigned to nobody

[2019-12-09 14:50] lydiacodesdaily opened #5567 "Retrieve user input value on Datepicker prior to autocorrecting the value to "Invalid Date"."
I have reviewed the documentation and the datepicker itself, but couldn't find anything where I could retrieve user input value prior to autocorrect.

I do not want to disable the autocorrect, but would like to retrieve the user input value on datepicker prior to the autocorrect, so that the user input can be displayed on a custom validation message and show the user input data instead of "Invalid

[2019-12-09 15:13] Moulde commented on #5298
Per the compatibility chart, version 4.3.0 should work for angular 6-7, which is the version (6.1.10) I'm using as well, but when updating ngx-bootstrap to version 4.3.0, I get the above errors.

[2019-12-09 15:15] cantacell commented on #5168
we use ngx-bootstrap at trovimap.com

[2019-12-10 02:56] cuytamvan commented on #2274
$('.timepicker').timepicker({
      minuteStep: 1,
      showSeconds: true,
      showMeridian: false,
      snapToStep: true,
      icons: { // to change the icon
        up: "fa fa-chevron-up",
        down: "fa fa-chevron-down",
      }
    });

it work for me

[2019-12-10 05:59] MathewGrg commented on #3075
This worked for me. `{ pointer-events: none; }`

[2019-12-10 06:04] sri-ir commented on #5247
Hello Guys,

Is there any update regarding this bug fix, still I am waiting for suggestions to fix this one.

[2019-12-10 10:05] Roman-Simik commented on #3711
Any progress, in which version will be this fixed ?

[2019-12-10 12:50] VILLAN3LL3 commented on #4739
The bug is still unsolved. Any workaround for this?

[2019-12-10 16:00] etki commented on #5566
While i don't support the language, "was not paid for" and offering to spend some time on improving are bad arguments.

Building OSS doesn't mean that there are no responsibilities for built product or that it should be taken for granted. OSS and proprietary software serve the same purpose - to make end user spend less time doing their job, and every feature that is added in library reduces time s

[2019-12-10 17:07] jorendorff commented on #5566
Don't worry -- those words weren't meant as a tightly reasoned essay about entitlement and responsibilities in open source project management, thoroughly reflecting the worldview of the author.

Rather, sometimes what's called for is a marginally more polite way of telling someone to f*ck off.

[2019-12-10 21:34] jackbravo commented on #5566
Relevant: https://youtu.be/VBwWbFpkltg?t=3600

### Jubilee

-- DHH (redacted to say open source instead of rails)

[2019-12-11 07:27] adityatyagi commented on #3825
I am facing the same issue. Have anyone solved this issue? I am calling a small component inside the modal and I need the reference to it once the modal is open. It is coming undefined.

[2019-12-11 07:34] poonampardeshi-angular commented on #3440
setUTCHours() solved my issue, thanks

[2019-12-11 11:56] #5172 closed, assigned to nobody

[2019-12-11 12:51] Lolmewn commented on #5168
I found a better logo (noticed the one on the discover page of your website looks real bad due to it being transparent with white text):
![sb](https://user-images.githubusercontent.com/663563/70622944-3eb68600-1c1d-11ea-82d3-7ccbd75befe8.png)

[2019-12-12 05:29] ranjeetiit opened #5568 "Tooltip flickering issue"
On mouse hover tooltip appears and disappears even if the container is hovered. (mostly happening in case of container where tooltip is attached having child elements.)

ngx-bootstrap  version : 4.3.0

[2019-12-12 11:00] Marcisbee opened #5569 "Typeahead performance regression > 100 items"
## Bug description:
The problem is that typeahead components performance got worse since v5. With more than 100 items in the list it loads very slow.

### v4.3.0
![4 3](https://user-images.githubusercontent.com/16621507/70706737-2eff7600-1cdf-11ea-91a7-002045c97f5f.gif)

### v5.x.x
![5 3](https://user-images.githubusercontent.com/16621507/70706750-3b83ce80-1cdf-11ea-945a-e833beca84c9.gif)

**Note*

[2019-12-12 15:03] fabio984 commented on #5565
Same problem. Any solution?

[2019-12-13 10:13] mg217 commented on #5566
@daniloff200

Correct me if I am wrong, but I think a lot of people have already spent lot of their time trying to contribute (70 PRs open at this moment, some 2 years old):

![image](https://user-images.githubusercontent.com/58844854/70789660-b9a1ad00-1d93-11ea-82d1-27557b0e80f9.png)

So far their time has gone big deal wasted. Isn't that a disrespect to them?

1. This might not have been OP's de

[2019-12-13 10:15] mg217 commented on #5566
@Etki

❤️

❤️

It's irrelevant whether or not is paid for, it's the choice of creator whether to sell software or make it available under some license, not of end user, and often end user don't even have ways to pay for OSS.

❤️

❤️

❤️

[2019-12-13 18:17] JGhignatti commented on #5283
Any updates for this one?

[2019-12-16 02:12] Et3rnal opened #5571 "Set btnRadioGroup to be required and validate it"
**Description:**

I can't figure out how to set the radio button group to be required? I have template-driven form.

[2019-12-16 10:41] lentschi commented on #3968
@rbrewington
Thanks this basically works!

Interestingly I had to add a setter to forward the data to the base class:

[code]

Maybe this wasn't required on earlier angular versions (I'm using angular 8)?

[2019-12-16 14:48] rbrewington commented on #3968
@lentschi I haven't had to do that, but I'm also still using 4.2.0, so maybe that's the result of an ngx-bootstrap update. 🤷‍♀
Glad you got it working, tho!

[2019-12-17 16:10] eneajaho commented on #4054
So I wanted the language to be in italian and I changed the language with this code:

I imported:
[code]
Code in example.component.ts
[code]
_and called the function on the constructor()_
and it worked.

Screenshot:

![screenshot](https://i.imgur.com/HbtqAZ0.png)

[2019-12-18 05:25] Et3rnal commented on #5571
I created directive to do that for me.

[2019-12-18 05:25] #5571 closed, assigned to nobody

[2019-12-18 07:34] fzs1994 opened #5572 "Hide tooltip after delay"
**Is your feature request related to a problem? Please describe.**

Tooltip stays open if mouse is over

**Describe the solution you'd like**

Tooltip should disappear after some delay time

[2019-12-18 12:38] aguskianto commented on #2059
I face the same issue. no matching value and dropdown is not hidden.

Is there any work around for this?

[2019-12-18 15:34] harikasin opened #5573 "Incompatibility tooltip and modal"
**Bug description:**

I have a modal with a confirm button and the button has a tooltip. When I press the button to confirm,  and the loop in the method _getOffsetParent()_ from **ngx-bootstrap-positioning.js** it gets crazy because the modal is hidden and don't find the parent of the tooltip.
The code of the infinite loop is:

`while (offsetParent === noOffsetParent && element.nextElementSibling)

[2019-12-18 15:53] harikasin commented on #5573
Sorry, with the last version it doesn't fail: "ngx-bootstrap": "5.2.0".

[2019-12-18 17:22] shainanigans commented on #5089
Same issue here as well. @ludmilanesvitiy , I see this had an enhancement label added to it back in March. Has any progress been made on this?

[2019-12-19 09:45] 51298 opened #5574 "outsideclick not working on ios (iphone5)"

[2019-12-19 13:17] fzs1994 commented on #5572
![image](https://user-images.githubusercontent.com/10684213/71176192-4d411500-228f-11ea-97b0-95e2cea7a247.png)

[code]

I put this tooltip on a button which on click opens (Angular sidebar) drawer. When I close that drawer, the tooltip stays and on hovering another button, the previous tooltip stays and new tooltip overlaps it. It only disappears when clicking anywhere else on page.

[2019-12-20 09:06] samheihey commented on #5362
I have the same issue as well. I was having an observable pattern for the classes to be subscribed, however, the style classes only show up only after I hovered the datepicker.

To deal with this, I made sure the dateCustomClasses data was already prepared and subscribed before constructing the datepicker.

[2019-12-20 13:14] amitdlad opened #5575 "Please , add Greek, Kazakh , Chinese (simplified) , Spanish (Portuguese) locales"
Hello,
I used ngx-bootstrap dependency in my project and found issue like - locale file was not present for languages (GREEK, KAZAKH, SIMPLIFIED CHINESE, PORTUGUESE Spanish). Also, i have noticed that only 40 locale files present in i18n locale folder.

Can you please add locale files for above mentioned languages.

Thanks in advance.

 - [x] Simplified Chinese
 - [ ] Portuguese Spanish
 - [ ] Gre

[2019-12-20 21:20] arvindm95 opened #5576 "Datepicker shows Invalid Date on picker and input field"
Bug description:
Random string entered on datepicker throws Invalid Date message on the Datepicker container/popover (Attached screenshot) and on the input field.
<img width="352" alt="Screen Shot 2019-12-20 at 10 57 12 PM" src="https://user-images.githubusercontent.com/11587086/71293439-68994680-239b-11ea-9b54-1ed2a7edc4ce.png">

Plunker/StackBlitz that reproduces the issue:

https://stackblitz.c

[2019-12-21 06:58] tnduc91 commented on #1659
Glyphicon was dropped from Bootstrap 4. You can install another similar css library like Font Awesome for replacement.

Here is a [guideline](https://www.npmjs.com/package/@fortawesome/angular-fontawesome) for installing FA.

[2019-12-24 10:34] shainanigans opened #5579 "Rating component missing aria-label"
**Bug description:**
The rating component is missing an `aria-label` attribute on the `span` with `role="slider"`. This was discovered using the axe Chrome extension. More information about the issue can be found [here](https://dequeuniversity.com/rules/axe/3.4/aria-input-field-name?application=AxeChrome).

**Example:**
Inspecting the [demo](https://valor-software.com/ngx-bootstrap/#/rating#rating

[2019-12-25 19:25] arvindm95 commented on #5262
#5580

[2019-12-26 19:02] marcelvarela opened #5581 "dropdown is not animating when opening"
**Versions of ngx-bootstrap, Angular, and Bootstrap**

- ngx-bootstrap: 5.2.0
- bootstrap: 4.2.0
- Angular: 8.2.14

[2019-12-26 19:12] #5581 closed, assigned to nobody

[2019-12-27 08:58] marcelvarela commented on #5581
I found that Animation in the dropdown is only available from version 5.3.0 but I was at version 5.2.0 and npm did not show any updates.

[2019-12-30 08:20] manish-jadli commented on #5242
please update ngx-bootstrap above to v3.3 like as: v4,

then you update  remove the error in your terminal :
import { ControlValueAccessor } from '@angular/forms/src/directives/control_value_accessor';
import { Type } from '@angular/core/src/type';

[2019-12-30 16:41] hoclun-rigsep commented on #5168
FDNY is using this in at least one application.

[2019-12-30 19:22] djohns2021 commented on #5320
This would be amazing and I'm surprised it's not already a feature. The documentation makes it seem like this is possible with a component modal however whenever `BsModalRef.class(....)` is used in the component, this error appears:
[code]

[2019-12-31 09:56] Kirding opened #5583 "Could you Combine Datepicker and Timepicker into one component ?"
I need a function as daterangepicker

[2019-12-31 14:39] Avi-E-Koenig commented on #4145
So whats the deal here?
Documentation shows option but its not implemented?

anyway my workaround is based on this:
https://stackoverflow.com/questions/47738545/mark-disabled-ng-bootstrap-not-working-with-other-datepickers-examples#answer-47741628

[2020-01-02 16:36] pwilkowski opened #5584 "Accordion styling - add option to skip adding default classes"
Currently there is no way to get rid of classes added by ngx bootstrap

**Describe the solution you'd like**

Toggle on main <accordion> component (or child components as well) to skip adding default classes such as `panel` or `card`

ex. ```<accordion [noClasses]="true">```

[2020-01-03 13:11] harikasin commented on #5573
The error persist with the updated versions.

**Versions of ngx-bootstrap, Angular, and Bootstrap:**
- "@angular/cli": "8.3.20"
- "bootstrap": "^4.3.1"
- "ngx-bootstrap": "^3.3.0"

[2020-01-03 15:58] tiaroque opened #5585 "Error when importing BsDatepickerModule.forRoot() on angular9.rc"
I' am getting the following error when using the Date Picker module in the new version of angular

Symbol BsDaterangepickerInlineContainerComponent declared in /node_modules/ngx-bootstrap/datepicker/themes/bs/bs-daterangepicker-inline-container.component.d.ts is not exported from ngx-bootstrap

[2020-01-05 22:12] kambbado commented on #5217
Has anyone been able to resolve this issue? I tried adding the triggers suggested above, but all it does is display all tool-tips within the page as I hover.  I'm using the 5.3.2 version.  If I change the triggers to just `mouseenter:mouseleave`, it returns to the randomly placing the tool-tip on the top left, on some occasions I have multiple tool-tips.  I have been thinking of creating some func

[2020-01-07 15:08] ChaudhryAtif commented on #5386
@daniloff200, it's been a while. Any update on this?

[2020-01-07 22:36] jonclawsonMeasurabl opened #5586 "Please support corner positioning for popovers."
Popovers need to support corner positioning such as bottom left or bottom right just as angular-strap and ui.bootstrap did. This is crucial.

[2020-01-08 14:29] Harmades commented on #5569
The typeahead seems slow because of the interaction between `TypeaheadContainerComponent` and its dependency `PositioningService`, introduced in #5240.

Here's a working workaround (insert in your module file), which empties the positioning service :
[code]

[2020-01-09 10:12] Marcisbee commented on #5569
Is there a plan to fix this in library without using a workaround?

[2020-01-09 12:30] An-MS opened #5587 "feat(datepicker): set CSS classes on days outside of the current month"
Is it possible to add classes like **"select-end", "select-start"** and **"in-range"**  on days outside of the current month in the daterangepicker?

Right now days outside of the month have only the class **"is-other-month"**.

Basically I would like to have the possibility to give the days outside of a month the same styling if they're in range or selected. Maybe add a new config option to BsDat

[2020-01-09 12:51] An-MS opened #5588 "feat(datepicker): selectWeek returns whole week"
Is it possible for the selectWeek functionality to return the whole week instead of the first day of the week in the **daterangepicker**?

Currently selectWeek uses the same event as normal selections, so there is no way do differentiate if a week was selected or a day/range.

[2020-01-09 16:12] #5386 closed, assigned to nobody

[2020-01-09 19:08] daniloff200 commented on #5386
@ChaudhryAtif
Sorry for the delay
Should be available in latest version, I supposed it's 5.4.0

[2020-01-10 08:13] pgrzywaczcic opened #5591 "Modal cannot display component from dynamic module [Angular 8]"
When trying to display a modal with a component from a dynamically loaded module and using BsModalService registered in AppModule, it fails:

[code]

The only workaround I found was to have ModalModule.forRoot() registered in the dynamic module, however this is not optimal.

This issue wasn't present in Angular 6

I tested this with ngx-bootstrap 5.4.0, 5.3.2, 5.20 and Angular 8.2.16

[2020-01-10 13:50] pzontrop commented on #823
@tvoloshyn Could you please elaborate. Simply creating that directive and adding it to existing tabs doesn't seem to work for me (I have *ngIf tabs mixed with tabs that have custom structural directives)

[2020-01-10 14:37] MaGnaL commented on #5585
I could work around this by importing `BsDatepickerModule` from `ngx-bootstrap/datepicker` instead of `ngx-bootstrap`.

[code]

For me that worked, but should be fixed in the library anyway.

[2020-01-10 16:56] daniloff200 commented on #5168
@Lolmewn  gonna update it ! Thanks!

@hoclun-rigsep  do you mean the Fire Department of NY? :fearful:

[2020-01-10 21:55] hoclun-rigsep commented on #5168
Yes.

[2020-01-11 01:56] exequiel09 commented on #5591
I think this is related to this https://github.com/angular/angular/issues/14324. I have encountered that same problem using modals.

[2020-01-11 03:00] daniloff200 commented on #5386
via Hubstaff
User: Dmitriy Danilov

Project: int_ngx-bootstrap (OSS) - https://app.hubstaff.com/projects/304822
Date Range: 10/18/19 - 10/20/19
Work session total: 1:48:15
Billable: Yes

Grand total: 1:48:15

[2020-01-11 09:37] #4477 closed, assigned to nobody

[2020-01-11 09:41] daniloff200 commented on #5168
@hoclun-rigsep  woah! :eyes:
do you have some more info about that? I've just found https://www1.nyc.gov/site/fdny/codes/fire-code/fire-code.page,  and don't see any Angular stuff here.

[2020-01-11 12:21] #5209 closed, assigned to nobody

[2020-01-13 08:39] pgrzywaczcic commented on #5591
I think it is. Since they are calling this a feature, maybe a workaround is needed?

Some guy suggested storing ComponentFactoryResolver aware of that component somewhere where it can be retrieved. So if I know a component will be rendered with BsModalService, I can first register that component with it's ComponentFactoryResolver instance.

An other solution would be to allow passing a ComponentFa

[2020-01-13 09:50] gokhanoner commented on #5553
update: I removed `container="body"` and now tooltip is working with IE11.

[2020-01-13 12:33] harveylx commented on #2998
Still occurring for me too

[2020-01-13 13:55] daniloff200 commented on #5576
hey, @arvindm95 !
I checked that PR, that works exactly the same, as you mentioned, but, i was able to reproduce that only for input, in DatePicker container it was not reproducible

Thanks again for your contribution!

[2020-01-13 13:56] daniloff200 commented on #5576
cc @dmitry-zhemchugov  we need to discuss that with you later

[2020-01-13 15:27] daniloff200 commented on #5558
related to #5576

maybe, will be fixed via #5577

[2020-01-13 21:10] hoclun-rigsep commented on #5168
Yeah, it's not public-facing stuff, but there's at least one large internal application using it.

[2020-01-14 01:26] RaschidJFR commented on #2641
I solved it like this:

1. Open the file `your-project-root/node_modules/ngx-bootstrap/datepicker/bs-datepicker.scss`
2. Change the first two lines:
    `@import './utils/scss/variables';` 👉 `@import './utils/scss/variables.scss';`
    `@import './utils/scss/mixins';` 👉 `@import './utils/scss/mixins.scss';`

Done. Now you can build.

This works for **your local copy** of the package... but what if

[2020-01-14 12:08] #5576 closed, assigned to daniloff200, dmitry-zhemchugov

[2020-01-14 12:09] valorkin commented on #5576
closing for now, if you will help me to reproduce, I will help to fix

[2020-01-14 13:59] ahmadalsadder commented on #5256
@ludmilanesvitiy
could you please add me to that work space ngx-home.slack.com/?
this is my email
a.alsader@tahaluf.ae

[2020-01-14 14:23] marcotuliocnd opened #5595 "Modal closing releasing mouse outside the modal"
Really annoying error, because that made me disable the backdrop on all modals in my application, there's any fix to this issue?

[2020-01-15 12:42] afeef1915 opened #5596 "Datepicker Date is not changing after changing date in texbox"
What i Need

* when i type date manually i need to reflect changed date to be bsdatepicker.

* or Textfield only accept DD-MMM-YYYY  date format

where im stuck

         Enter  10/7/2019
        got this format     Wed Jan 10 0007 00:00:00 GMT+0553 (India Standard Time)
        changed format date get converted       10-Jan-2007

  more example

            If Date format correct DD-MMM-YYYY then

[2020-01-15 13:18] daniloff200 commented on #5389
closed in #5582

[2020-01-15 13:18] #5389 closed, assigned to nobody

[2020-01-15 16:02] cgasis commented on #5565
having the same problem, anyone?

[2020-01-15 16:04] cgasis commented on #5565
have you resolved this?

[2020-01-15 16:05] jenswet commented on #5565
No sorry. Could not resolve it yet.

[2020-01-15 16:10] cgasis commented on #5565
i tried removing this line and it works.

this.dp.navigateTo({ year: this.datetime.year, month: this.datetime.month });

[2020-01-15 16:28] jenswet commented on #5565
Yes, I did the same to get the code running again. But it does not resolve the issue. We just don't use the possibility to work on the datepicker in code anymore with this workaround.
The metioned navigateTo would navigate the datepicker to the newly typed date in the textfield, which would still be nice. But I don't know how to get access to the datepicker in code, when the ViewChild is not worki

[2020-01-16 08:15] faresk93 commented on #5357
I have the same problem.
Any solution ?

[2020-01-16 09:38] yasstec commented on #2002
a solution for that is to use :

`import { AngularDraggableModule } from 'angular2-draggable';` in your app.module .

**in your angular's styles.css put :**

`.modal-content > .ng-draggable {
  background-color: #fff;
}

.backgroundTransparent .modal-content {
  background: transparent !important;
}

.modal-content {
  background: transparent !important;
  border: none;
}`

**in your html put a `<

[2020-01-16 10:29] daniloff200 commented on #5572
hello, @fzs1994
I think that's something related to https://valor-software.com/ngx-bootstrap/#/tooltip#tooltip-delay
Please, drop a message, if this was helpful, or, we need some new code for that

[2020-01-16 10:37] daniloff200 commented on #5542
I think that's look almost like https://github.com/valor-software/ngx-bootstrap/pull/5580, and it will be merged soon.

[2020-01-16 10:38] daniloff200 commented on #5541
hey, @EctabyteSrl  I saw, that @agoncecelia make a PR with Albanian locale, but, that has broken unit test. Could you help with that?

[2020-01-16 10:42] #5313 closed, assigned to nobody

[2020-01-16 10:51] daniloff200 commented on #5265
oh, hey @michizhou
if you can help with that, that will be awesome !

[2020-01-16 10:52] #5014 closed, assigned to nobody

[2020-01-16 11:02] #5550 closed, assigned to nobody

[2020-01-16 11:05] #5530 closed, assigned to nobody

[2020-01-16 11:05] #5508 closed, assigned to nobody

[2020-01-16 11:05] #5503 closed, assigned to nobody

[2020-01-16 11:06] #5464 closed, assigned to nobody

[2020-01-16 11:06] #5415 closed, assigned to haridevelops

[2020-01-16 11:07] daniloff200 commented on #5375
is it still an issue with 5.4.0???

[2020-01-16 11:10] #5136 closed, assigned to nobody

[2020-01-16 11:52] #5574 closed, assigned to nobody

[2020-01-16 11:58] daniloff200 commented on #5564
Woah
That's actually happened, even if you just copypaste any date over there
I've tried just to paste **February 1st 2019, 8:17:52 am - February 5th 2019, 8:17:52 am** in input, and got the same result

[2020-01-16 12:17] daniloff200 commented on #5564
well, that was fixed in #5423, but, not released right now
I hope, new version with this fix will be available next week.

[2020-01-16 12:17] #5564 closed, assigned to daniloff200

[2020-01-16 13:26] fzs1994 commented on #5572
No @daniloff200 that is reverse of what I want. I need to display tooltip for specified time only. Eg. once tooltip is show, it should dismissed after 5 seconds irrespective for mouse hover still there.

[2020-01-16 13:36] afeef1915 commented on #2809
How to Fix Onchange Date after manually insert date date gets changed to different date.

for example

                   10-May-1989  works for date format DD-MMM-YYYY
		main.js:2203 Wed May 10 1989 00:00:00 GMT+0530 (India Standard Time)
		14:11:40.317 main.js:2203 10-May-1989

		10/5/1989 but when manually change format it doesn' works.
		main.js:2203 Mon Jan 10 0005 00:00:00 GMT+0553 (India St

[2020-01-16 13:40] daniloff200 commented on #5572
Ah, got you
Yeah, we also maybe need to do the same for popover also, because, in next version, we will add delay for popover, like in tooltip (according to #5582 ) :thinking:

Hope to pick it for the next week, then

[2020-01-16 14:00] gaspaonrocks commented on #5394
@AhmadHassanAwan @6matko @deache

I don't know if you came up with a solution, but calling whatever method you need wrapped in a setTimeout() seems to do the trick for me.

I needed to focus on a search field inside the dropdown, and without giving a number it triggers immediately.

[2020-01-16 14:09] michizhou commented on #5265
@daniloff200 Well actually, I have decided not to pursue this issue any further. Whoever wants to work on this instead is free to do so.

[2020-01-16 16:36] custompro12 commented on #5572
You could bind a local function to `onShown` that will start a timer to call `hide()` after your delay.

[2020-01-16 17:22] custompro12 commented on #5138
Both render in about the same time (~1 second) in your stackblitz for me

[2020-01-16 17:27] custompro12 commented on #5047
Might be from this? https://github.com/angular/angular/issues/16643

[2020-01-16 17:28] custompro12 commented on #5047
If so, this workaround works for me:
https://github.com/angular/angular/issues/16643#issuecomment-380837685

[2020-01-16 17:45] custompro12 opened #5601 "Popover triggers="focus" doesn't work on non-buttons"
### Bug description:

Plunker/StackBlitz that reproduces the issue:
1. Load the StackBlitz from the [Dismiss on Next](https://valor-software.com/ngx-bootstrap/#/popover#popover-dismiss) example
2. Note proper behavior of popover with `triggers="focus"` when element is a `button`
3. Open `app/dismiss.html`
3. Change the `button` to a `div` on lines 1 and 6
4. Popover no longer works

### Versions o

[2020-01-17 09:45] kunalturankar commented on #3075
i just removed placement:"left" , this worked for me

[2020-01-17 13:06] #3139 closed

[2020-01-17 14:08] daniloff200 commented on #5568
hi, @ranjeetiit !
Could you provide a demo via  StackBlitz: https://stackblitz.com/edit/ngx-bootstrap?file=app%2Fapp.module.ts ?

[2020-01-17 14:12] #5558 closed, assigned to nobody

[2020-01-17 14:15] #5422 closed, assigned to nobody

[2020-01-17 14:15] #5405 closed, assigned to nobody

[2020-01-17 14:29] daniloff200 commented on #5380
Well, that's a huge one. Hope one day I will be able to start to work with that

[2020-01-17 16:21] malcomm commented on #5380
@daniloff200 - well I have this done in my code base and when I have time I'd love to be able to work on this for ngx-bootstrap. Mine is pretty generic, so I don't think it would be that heavy of a lift.

[2020-01-17 16:54] Harmades commented on #5569
#5589 fixes this issue 👍

[2020-01-17 17:45] petebacondarwin commented on #5585
Looks like this file needs to be updated with more exports - https://github.com/valor-software/ngx-bootstrap/blob/5846bf2934c7f3ecbdf3e9a2edc48adbfe4f016f/src/index.ts#L49-L66

[2020-01-18 00:26] malcomm commented on #5130
Any updates on this? Was just looking getting Toast to work and notice this. Thanks

[2020-01-18 10:39] treeskar commented on #5383
Hi, if no one working on this issue I can take it.

[2020-01-19 00:59] daniloff200 commented on #5383
@treeskar cool! I assign it to you, then

[2020-01-19 01:00] daniloff200 commented on #5130
@malcomm looks like, it's not :(

[2020-01-19 19:33] CueToDo opened #5602 "dropdown not displaying items added with ngIf"
Items conditionally added to dropdown with *ngIf are not displayed

https://stackblitz.com/edit/angular-ngx-bootstrap-dropdown-conditional-items
https://angular-ngx-bootstrap-dropdown-conditional-items.stackblitz.io/

Updated to add *ngIf="true" on li element - still doesn't work

ngx-bootstrap: 5.4.0
Angular: 8.2.14
Bootstrap: 4.4.1

![Dropdown](https://user-images.githubusercontent.com/1644901/7

[2020-01-20 01:45] amitdlad commented on #5575
Please help me to get locale files for languages (mentioned in issue) as soon as possible.

[2020-01-20 09:25] daniloff200 commented on #5575
@amitdlad  we have Simplified Chinese, I suppose, i's zh-cn
But,  yeah, we don't have Kazakh, Greek and ES-pt, but, have ES-Dominicana

We actually don't have any native speakers in our team with that languages, so, it all depends on contributors.
If you can help with that in any way, please, do it :)

[2020-01-20 11:03] shainanigans commented on #5579
Hi, could someone please address this issue?

[2020-01-20 11:57] RobertasM commented on #5554
Same here, any solution how to fix it?

[2020-01-20 13:26] #5264 closed, assigned to nobody

[2020-01-20 15:11] RobertasM commented on #5554
Found temporary fix for it if someone else will have same problem:

[code]

[2020-01-20 15:24] daniloff200 commented on #5595
I think, that can be related to https://github.com/valor-software/ngx-bootstrap/issues/5264.
If so, it's already merged to dev, and will be available very soon, in next release

[2020-01-20 15:25] marcotuliocnd commented on #5595
thank you

[2020-01-20 15:26] daniloff200 commented on #5588
That's interesting, @An-MS
selectWeek returns not exactly first day of the week, but, first available (perhaps, first, or first & second days were disabled).

I supposed, you talking about DateRangePicker, because, I don't completely get, how we should return the whole week in DatePicker. Please, correct me, if I wrong

But, how do you see it? Array of dates, or, just a range, like 01/20/2020 - 01

[2020-01-21 11:39] IraErshova commented on #5579
@shainanigans Thanks for your issue. I'm going to start working on it right now!

[2020-01-21 12:25] #5368 closed, assigned to GabriFedi

[2020-01-21 12:31] #5059 closed, assigned to nobody

[2020-01-21 13:01] shainanigans commented on #5579
Thanks @IraErshova !

[2020-01-21 13:39] dmitry-zhemchugov commented on #3711
@Roman-Simik Fix is now in testing
https://github.com/valor-software/ngx-bootstrap/pull/4550

[2020-01-21 13:48] evilstiefel commented on #5602
This has to do with the recently added animation-feature with the dropdown list. If you set `isAnimated` to false, then the item shows up. There must be an error with either appending the items during the animation or calculating the height of the container for the animation.

[2020-01-21 13:59] #4273 closed

[2020-01-21 14:12] #3711 closed

[2020-01-21 14:33] daniloff200 commented on #5076
Yeah, that looks like, if you used a 2.1, it will round up to 3, or, if it's 1.9, then, to 2

We need to **Math.round(value)** here

[2020-01-21 14:34] daniloff200 commented on #5076
so, for 2.1 it will be 2, but, for 2.5 -> 3

[2020-01-21 15:18] #5388 closed, assigned to nobody

[2020-01-21 15:23] #5330 closed, assigned to nobody

[2020-01-21 15:33] #3893 closed

[2020-01-21 15:48] #5090 closed, assigned to nobody

[2020-01-21 15:59] daniloff200 commented on #5588
looks like can be related to https://github.com/valor-software/ngx-bootstrap/issues/5539

[2020-01-21 18:03] CueToDo commented on #5602
Ah OK, that works fine without the animation, thanks.

[2020-01-21 22:53] artoodeeto commented on #2137
at version 5.1.1 we still have this issue.

[code]

this loader is being dynamically. we resulted to a work around which is being recommended. `document.body.classList.remove('modal-open')`

[2020-01-22 10:10] gassmannT commented on #5588
Interesting @An-MS We had a similar requirement.

@daniloff200
I think a minimal solution could be an array with two dates (range like 01/20/2020 - 01/27/2020) starting at the first available day. Like you select a range of dates.

[2020-01-22 10:14] gassmannT commented on #5588
I think the feature request doesn't correspond to this one. #5539 wants to highlight the whole week of every selected date.

@An-MS wants to click on the week number and get the corresponding week selected.

[2020-01-22 11:01] daniloff200 commented on #5588
Well, looks like that's actually two different features then, and both related to week selection

[2020-01-22 11:13] An-MS commented on #5588
@daniloff200
Yes, @gassmannT is right.

What I'd want to achieve is to select for example week 5 and I would get an array from bsValue with this content [01/27/2020, 02/02/2020].

Right now bsValue would return an array with two times the same date and because the same event is used for date selection/week selection you have no way to differentiate.

[2020-01-22 11:15] daniloff200 commented on #5588
Well, let's try to implement it :)

[2020-01-22 11:21] danko-d commented on #2410
I wrote a directive that seems to do the job:

[code]

[2020-01-22 13:19] robvaneck commented on #5277
same issue here with dropdown container  and dropdown-menu-right
[code]

[2020-01-22 13:39] UdayAppam opened #5609 "ngx-bootstrap: UMD module seems to be accessed from the global but exported into ngx-bootstrap context"
We are using the individual **umd** module files and trying to rollup as single umd file.
While doing so  noticed for modal module that all dependency modules exported into **ngx-bootstrap** context but  accessing in the modal module  with `global` context

Could you please help me to resolve below:

a. In global context we have a name space that **ngx-bootstrap** (`global['ngx-bootstrap']['modal'

[2020-01-22 14:38] bennybenedek commented on #5125
I found a working solution for this issue:

`<timepicker [(ngModel)]="dateRange[0]" [showMeridian]="false" (ngModelChange)="setDurationFromDate()" (keyup)="adjustStartTime($event)" [showMinutes]="false"></timepicker>`

My time picker now fires a keyup event whenever something is written inside the textfield of the picker (scrolling or using the arrows always worked so my only problem was the text)

[2020-01-22 21:49] SelfishLucho opened #5613 "tooltip manual trigger issue with focus"
Bug description:

Using the input `triggers="focus"` does not dismiss the tooltip with manual triggering

Plunker/StackBlitz that reproduces the issue:

https://stackblitz.com/edit/ngx-bootstrap-tooltip-trigger-bug?file=app%2Ftriggers-manual.html

Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 5.4.0

Angular: 8.0.0

Bootstrap: 4

Build system: Angular CLI, System.js, webpack, s

[2020-01-23 10:17] toof06 commented on #2736
hello i resolve it with
        .datepicker{
            z-index: 1100 !important;
        }
        #ui-datepicker-div {
            width: 30% !important;
        }

[2020-01-23 11:29] daniloff200 commented on #5331
hey, @nik72619c
what's your progress with that ?

[2020-01-23 11:43] daniloff200 commented on #4560
we right now have https://github.com/valor-software/ngx-bootstrap/issues/5386 this functionality, which available in 5.4.0.

Does it resolve this issue?

[2020-01-23 11:45] daniloff200 commented on #4476
let's try to think about some solution (idea from @Konstruktour looks good, but, how to manage case, if I want to use both 1963 and 2063 in my datepicker, and then, type just 111163...) What the value should be here?

[2020-01-23 12:47] daniloff200 commented on #4476
I see, that logic, used in ngx-bootstrap was made in the same way, as for moment.js

https://github.com/moment/moment/commit/e7483a75f857e4c8fe883fa1c4d15cbf3002b947

so maybe, this will not be fixed

[2020-01-23 12:48] #4476 closed, assigned to daniloff200

[2020-01-23 13:52] IraErshova commented on #5613
Hi @SelfishLucho! I see your problem, but that's not a bug of ngx-bootstrap. The problem is that you used HTML element which is not focusable.

I've updated your example in StackBlitz. Could you please check it?

[https://stackblitz.com/edit/ngx-bootstrap-tooltip-trigger-bug-6dqjg9](https://stackblitz.com/edit/ngx-bootstrap-tooltip-trigger-bug-6dqjg9)

Also, I added information about focusable ele

[2020-01-23 13:52] #5613 closed, assigned to nobody

[2020-01-23 14:01] IraErshova commented on #5601
Hi @custompro12 ! Could you please check [this issue](https://github.com/valor-software/ngx-bootstrap/issues/5613)? It reports the same problem.

I closed this issue because it's not a bug of ngx-bootstrap. You have to use only focusable elements.

[2020-01-23 14:01] #5601 closed, assigned to nobody

[2020-01-23 14:54] #3725 closed

[2020-01-23 15:44] pernillah opened #5617 "Datepicker does not close on enter in IE11"
I have an issue with the datepicker in Internet Explorer 11. It does not close on enter when typing a date manually (not picking one via the datepicker). You have to click outside to get it to close, while it automatically closes on enter in all other browsers. I can reproduce it in the examples in the documentation (https://valor-software.com/ngx-bootstrap/#/datepicker), so it's not just my code.

[2020-01-23 18:01] custompro12 commented on #5601
Hi @IraErshova ,

Thanks for the info.  Based on your [link](https://html.spec.whatwg.org/multipage/interaction.html#focusable) I see that I need to make the div focusable by the browser.

Therefore, the real answer to my issue is to add a `tabindex="-1"` to the div.  Then everything works.  Thanks again!

[2020-01-24 11:50] sidjai09 commented on #1423
![image](https://user-images.githubusercontent.com/46618565/73067099-bf7bc980-3ecd-11ea-96d4-b7e10b202b18.png)

![image](https://user-images.githubusercontent.com/46618565/73067131-d3273000-3ecd-11ea-89d2-bbca69d9a97a.png)

This worked for me

[2020-01-24 11:54] #5089 closed, assigned to IraErshova

[2020-01-24 12:43] #5595 closed, assigned to nobody

[2020-01-24 12:43] daniloff200 commented on #5595
today we're gonna release a 5.5.0 version, and this fix will be there @marcotuliocnd

[2020-01-24 12:46] #5579 closed, assigned to IraErshova

[2020-01-24 15:20] garthmountain commented on #3609
Any idea when a fix will be available?

[2020-01-24 15:46] #5076 closed, assigned to daniloff200

[2020-01-24 16:42] Hagith commented on #2998
As @valorkin mentioned, positioning engine needs some additional work to handle such cases properly.
But, IMHO, instead of fixing or rewriting positioning engine, which can consume significant amount of time, we can simply use [popper.js](https://popper.js.org/) which "just works™".
[Bootstrap](https://github.com/twbs/bootstrap/search?q=popper) itself is using it, [vue-bootstrap](https://github.co

[2020-01-24 17:06] JackWolfgangIIR opened #5619 "bsDatepicker Doesn't Return Focus to Calling Element"
Using the bsDatepicker, when a user selects a date, the focus is not returned to the input element with which the datepicker is associated.

ngx-bootstrap 5.30
Angular 8.0.0
Bootstrap 4.3

**Expected behavior**

1.  User clicks into the input.  The datepicker popup appears.
1.  The user clicks a date on the calendar, and the popup disappears.
1.  Instead of returning the user's focus to the input

[2020-01-24 23:41] hackermanmx commented on #5277
Same situation here.

[2020-01-26 12:08] nitzanb-medopad opened #5620 "Popover in the first row of table flickering when mouse doesn't move."
I was trying to upgrade my project from angular 6 to 8, so I had to upgrade ngx-bootstrap too (from 3.0.1), this created a regression in the popover component in the first row of the table (it doesn't have free space) as it flickers when the mouse on it, and the placement is not accurate.
**If I get rid of `<ng-template>` it works properly, but I must have `<ng-template>` because I load popup data

[2020-01-27 21:17] mathias3d commented on #1153
Any progress on this?

[2020-01-28 01:43] pbaukov commented on #1153
As for me - I had to switch my datepicker to ng-bootstrap, unfortunately I had no time to wait until it is implemented here...

[2020-01-28 04:09] AntonioCardenas opened #5622 "When using more items than 1 item per slide the property .disabled of carousel control dont work"
- Angular **Version 8.1.2**,
- Using **Angular cli**,
- Ngx-bootstrap used  **5.1.0**

Use case:
No matters if the conditions  **"activeSlide === 0 && noWrap"** are completed, if use `[itemsPerSlide]="" > 1` the property **disabled** does not work properly but if you use only 1 item per slide works fine.

example if more items per slide than 1 property **disabled** is never set on arrows
https://s

[2020-01-28 10:05] IraErshova commented on #5622
@AntonioCardenas Hi! Could you please follow [this guideline's rules](https://github.com/valor-software/ngx-bootstrap/blob/development/CONTRIBUTING.md#-submission-guidelines) to submit your issue?

[2020-01-28 10:39] IraErshova commented on #5620
@nitzanb-medopad Hi! Could you please provide a minimal reproduce scenario using [Plunker](http://plnkr.co/edit/?p=catalogue) or [Stackblitz](https://stackblitz.com/)? Because I couldn't reproduce the issue by using your code.

[2020-01-28 11:15] tiagowanke opened #5623 "Typeahead async with delay does not work consistently"
Bug description:
After upgrading from version 5.1.1 to 5.3.2, typeahead is not consistently showing the suggestions.
I have an async typeahead with a typeaheadWaitMs of 500. If I start typing something and also remove some letters of what I type, sometimes no option is shown. If I than click arrow down key the list is shown.
I could only reproduce this issue when using typeaheadWaitMs.

Plunker/St

[2020-01-28 13:05] IraErshova commented on #5623
@tiagowanke Hi! This issue will be fixed by the PR, which is in release 5.5.0.
https://github.com/valor-software/ngx-bootstrap/pull/3728

[2020-01-28 13:05] #5623 closed, assigned to nobody

[2020-01-28 13:46] Dsupreme commented on #5542
So basically someone went ahead to develop it, a month after i wrote the proposal. Cool

[2020-01-28 13:48] daniloff200 commented on #5623
yeah, @tiagowanke , 5.5.0 is available right now :)

[2020-01-28 13:49] daniloff200 commented on #5542
:smiley:  not really,  there was a https://github.com/valor-software/ngx-bootstrap/issues/5262 request long time ago :)

[2020-01-28 13:53] IraErshova commented on #5623
@tiagowanke Also could please pay attention to that code, which you used in your component to filter the data source? It's not necessary right now.
` .pipe(
        mergeMap((token: string) => this.getStatesAsObservable(token))
      );`

You can check updated demo for async typeahead
https://valor-software.com/ngx-bootstrap/#/typeahead#async-data

[2020-01-28 14:04] IraErshova commented on #5609
@KernelLora Hi! Could you please provide more information about this issue? Because it's unclear what exactly works wrong and what you want us to fix.

[2020-01-28 15:25] daniloff200 commented on #5342
Well, that's really old one, it existed even in 2.x.x versions.... Hope to fix it in next release, but, not really sure

[2020-01-28 16:02] IraErshova commented on #5573
@harikasin Hi! Your StackBlitz link doesn't work, unfortunately. Do you have the same use case as in this demo? Could you check it, please?
https://valor-software.com/ngx-bootstrap/#/modals#modal-with-popups

[2020-01-29 07:33] tiagowanke commented on #5623
Thanks everyone and congrats for the great work!

[2020-01-29 09:31] adrienverge opened #5624 "Typeahead async results don't show since 5.5.0 (because of re-filtering)"
Hello,

Since yesterday (release 5.5.0), typeahead async suggestions don't show up anymore. With version 5.4.0, everything works fine. I highly suspect commit 8378105 / PR #3728.

Angular version: 8.2.11
Bootstrap version: 3.4.1

Plunker/StackBlitz that reproduces the issue: I spent 20 minutes trying to make one, but the Plunker fails with *(SystemJS) XHR error (404) loading https://unpkg.com/rxjs

[2020-01-29 09:40] ghost opened #5625 ""Collapse" component breaks "Dropdown" component"
Bug description:
When using the "Dropdown" component in the "Collapse" component, a bug occurs with the "Dropdown" display.

StackBlitz that reproduces the issue:
https://stackblitz.com/edit/ngx-dropdown-bug

**Bug Playback:**
1. On StackBlitz there is a window for viewing the example web page. In this window, find the "Example navbar" element.
2. The navbar element should have a button that allow

[2020-01-29 09:58] IraErshova commented on #5624
@adrienverge Hi! First of all in your code above you missed **typeaheadAsync** property. It has to be:

`<input [(ngModel)]='searchText' [typeahead]='suggestions$' [typeaheadAsync]="true">`

Also, This code is enough to create Observable:

`this.suggestions$ = from(new Promise(r => setTimeout(() => r(['1', '2']), 500)));`

Could you check my [ StackBlitz example](https://stackblitz.com/edit/angula

[2020-01-29 10:34] adrienverge commented on #5624
Hey Irina, thanks for your fast answer! I already tried `typeaheadAsync`, but it didn't change anything so I did not include it in the example (to simplify).

The problem is that since 5.5.0, it's not possible to do the search/filtering ourselves, like it was possible before (from version 1 to 5.4.0).

Said differently, this code example (that was copied-pasted from a previous doc version, probabl

[2020-01-29 12:33] IraErshova commented on #5624
@adrienverge okay, let me check

[2020-01-29 12:40] #5140 closed, assigned to IraErshova

[2020-01-29 14:28] IraErshova commented on #5624
@adrienverge if I understand you correctly, your initial data is an empty array and you send request to get data from your server on every search. Correctly? I've checked such case and it works as expected. Could you please give me more information?

[2020-01-29 16:35] #3314 closed

[2020-01-29 16:46] #4421 closed, assigned to nobody

[2020-01-29 16:47] #4213 closed

[2020-01-29 16:48] #3133 closed

[2020-01-29 17:01] daniloff200 commented on #5543
hey @bojidaryovchev !
could you please provide example of your app via Stackblitz?

[2020-01-29 18:56] marceloloureiro commented on #5074
Workaround
- Wrap your button in a span tag.
- Put the tooltip in that span.

[2020-01-29 21:20] vdurante opened #5628 "Allow disabling keyboard navigation for Tabsets"
**Is your feature request related to a problem? Please describe.**

I am developing an application that has Tabs that work similarly to Excel Sheets. If you double click on the Tab name, it becomes an input field you can edit that modifies the name of the tab.

The issue is: since the Tabset has keyboard navigation, it conflicts with keyboard input on my element. I am unable to use space, home, ar

[2020-01-29 22:22] AntonioCardenas commented on #5622
I update the issue following the guideline

[2020-01-30 07:44] UdayAppam commented on #5609
@IraErshova
Thanks for the response
I have updated the details, could you please check

[2020-01-30 09:28] daniloff200 commented on #5340
hey, @cdmhari !
Your example looks broken, I can't even open a datepicker and get a console error

Could you please fix it?

[2020-01-30 10:38] daniloff200 commented on #5360
hello, @kameelyan , I've checked the scenario, you've described, and yes, case 2 and 3 are not handled for now

Just want to be clear, how you can see the result of blur event in this cases

For
`Clear the entry and in the typeahead, enter 'il' again. With the results open, hit tab to exit the box. --> Blur event does not fire.
`
it should return  **Illinois** too , right?

For

`In the typeahead

[2020-01-30 11:35] jonr-elsewhen opened #5630 "Timepicker incorrectly fires change event when value is written by external source"
Bug description:

The timepicker component incorrectly implements the [ControlValueAccessor](https://angular.io/api/forms/ControlValueAccessor#registerOnChange) interface and fires change events when values are written externally.

A typical Angular form component can receive a new value in two ways:

1) The user makes a change via the component's UI, e.g. entering text into a field.
2) The app's

[2020-01-30 11:38] jonr-elsewhen commented on #5630
It looks like this would be fixed by https://github.com/valor-software/ngx-bootstrap/pull/5334

[2020-01-30 11:44] IraErshova commented on #5390
@vdumbrav Hi! The issue why your datepicker doesn't hide on a scroll is caused your HostListener is listening to **window:scroll**. Window scroll is hidden when you open the modal.
[code]
I think you can use rxjs operator **fromEvent** to listen to the modal's scroll.

[2020-01-30 11:44] #5390 closed, assigned to nobody

[2020-01-30 11:56] IraErshova commented on #5074
I'm closing the issue. Please use workarounds from messages above if you want to see tooltip for disabled buttons.

[2020-01-30 11:56] #5074 closed, assigned to nobody

[2020-01-30 12:35] IraErshova commented on #5565
Hi @jenswet! You used **ng-bootstrap** instead of **ngx-bootstrap** in your stackblitz example. It's totally different libraries.

But **ngx-bootstrap** could have the same issue. If you try to get access via **ViewChild** to any element inside the modal you get undefined. It happens because the modal is appended to body element. It's outside the component when you open it. You can fix this issue

[2020-01-30 12:35] #5565 closed, assigned to nobody

[2020-01-30 13:26] daniloff200 commented on #5309
I expect, that this can be fixed with https://github.com/valor-software/ngx-bootstrap/pull/5589, and should be available with the latest version, it's 5.5.0

@andrefdg  can you try it?

[2020-01-30 13:52] slubowsky commented on #5309
@daniloff200 There is I think definite improvement since version 5.0.0 but trying the stackblitz example referenced above [https://stackblitz.com/edit/angular-1kywuq](https://stackblitz.com/edit/angular-1kywuq) you can still see a noticable difference between version 4.3.0 and 5.5.0.  With 4.3.0 you see typeahead suggestions almost (but not quite) instantly when you type a letter into the input ,

[2020-01-30 13:58] daniloff200 commented on #5309
Well, I see...
At least, for now, that's all, what was done related to it, unfortunately :(

[2020-01-30 14:37] adrienverge commented on #5624
@IraErshova thanks for following this up. Yes, you perfectly describe our use-case!

To show the problem, I adapted your last StackBlitz (that fetched a list from `https://gorest.co.in/...?first_name=xyz`), so that results don't always contain the searched string. For example, searching `"Nicolette Boyle"` finds 1 result, but returns an object like `{id: 123, phone: "+7123456"}`.

In that case, it

[2020-01-30 14:53] IraErshova commented on #5359
@srijib Hi! Unfortunately, we don't have the option to set up the position for datepicker's container according to document. Also, you couldn't use renderer for this purpose because our renderer overwrites your styles.

Currently, we are not planning to add this feature to ngx-bootstrap. But if you have desire you can create a PR with functionality, which allows doing this.

The only way to overwr

[2020-01-30 14:53] #5359 closed, assigned to nobody

[2020-01-30 15:03] IraErshova commented on #3597
Close issue because of inactivity and lack of information

[2020-01-30 15:03] #3597 closed

[2020-01-30 15:08] IraErshova commented on #5324
@DmitriyIvanko Hi! What's the status of this issue? Did you have a chance to handle this case? Also, I think it's better to use tap operator instead of map:
[code]

[2020-01-30 15:12] daniloff200 commented on #3925
looks like, plunker link now stucks.
Can you create reproduction via stackblitz?
StackBlitz: https://stackblitz.com/edit/ngx-bootstrap?file=app%2Fapp.module.ts

[2020-01-30 15:15] #3749 closed

[2020-01-30 15:16] daniloff200 commented on #3447
can be closed in favor of https://github.com/valor-software/ngx-bootstrap/issues/4203

[2020-01-30 15:16] #3447 closed

[2020-01-30 15:22] daniloff200 commented on #3132
looks like, that was fixed here : https://github.com/valor-software/ngx-bootstrap/pull/5535
At least, for now, with version 5.5.0 on  https://valor-software.com/ngx-bootstrap/#/timepicker I couldn't reproduce it

[2020-01-30 15:22] #3132 closed

[2020-01-30 15:23] daniloff200 commented on #3070
Looks like, that's done for now, and available in ver 5.5.0
Please, check https://github.com/valor-software/ngx-bootstrap/pull/5470 and  https://github.com/valor-software/ngx-bootstrap/issues/3893

[2020-01-30 15:23] #3070 closed

[2020-01-30 15:26] #2693 closed

[2020-01-30 15:27] #1455 closed

[2020-01-30 15:34] ghost commented on #5309
@daniloff200 Thanks for your answer! It is better, but far from 'good', as @slubowsky has said. I think this issue should continue 'open' while the typeahead takes more time to show sugestions than the time needed to fecth the info from the server :)

[2020-01-30 15:35] #2996 closed

[2020-01-30 15:37] vijayhardaha commented on #5340
Just checked, @cdmhari example page is working fine.

[2020-01-30 15:37] #970 closed

[2020-01-30 15:43] daniloff200 commented on #5340
strange
I've opened it, pressed  on the DatePicker button, and got this
![Selection_276](https://user-images.githubusercontent.com/13692220/73464674-f4819380-4387-11ea-976a-933c5ac71737.png)

[2020-01-30 15:43] #4002 closed

[2020-01-30 15:49] daniloff200 commented on #4545
That's not reproducible with the version 5.5.0, so, I will close it

[2020-01-30 15:49] #4545 closed, assigned to nobody

[2020-01-30 16:04] daniloff200 commented on #5619
That looks like duplicate of #4472
I hope to pick this one for next release !

[2020-01-30 16:04] #5619 closed, assigned to nobody

[2020-01-30 16:06] JackWolfgangIIR commented on #5619
@daniloff200, sorry I didn't see the other entry.  Thanks for the feedback!

[2020-01-30 16:06] daniloff200 commented on #5619
@JackWolfgangIIR  no worries !

[2020-01-30 16:30] vijayhardaha commented on #5340
Ok, Toggle Button has Problem and throwing error, But if you focus on input. Datepicker works.

[2020-01-30 21:12] masdevid commented on #5625
Is there work around for it?

[2020-01-31 05:04] arun-maddheshia opened #5631 "Display single calendar with date range picker"
**Is your feature request related to a problem? Please describe.**
Would it be possible to add an option for a single calendar with date range functionality? It would be great for mobile visibility and usability.

**Describe the solution you'd like**
Look like something
<img width="298" alt="Screenshot 2020-01-31 at 10 33 08 AM" src="https://user-images.githubusercontent.com/5073214/73513828-2e4ca

[2020-01-31 09:56] ghost commented on #5625
I've already done pull request

[2020-01-31 10:10] daniloff200 commented on #5631
hi, @arun-maddheshia , but how about the case, when you want to select a range from Jan 17, to, Feb 17, for example?

[2020-01-31 10:19] daniloff200 commented on #5340
Ah, now I get it

ngx-bootstrap doesn't support mixed placement, like **top left** **bottom right** etc
We have only top, bottom, left, and right, and bottom is an initial value, so, in this case, bottom lleft does not working, and bottom is selected as default one

[2020-01-31 11:09] #5144 closed, assigned to daniloff200

[2020-01-31 11:54] #5275 closed, assigned to nobody

[2020-01-31 12:02] arun-maddheshia commented on #5631
hi @daniloff200 the arrow keys are there to move next/prev month

[2020-01-31 12:28] daniloff200 commented on #5631
Well, gonna see next week, what can be done to make it work

[2020-01-31 13:20] daniloff200 commented on #5569
Yeah, I suppose, that in ver 5.5.0 that issue should be resolved, or, at least, performance should be better

[2020-01-31 13:20] #5569 closed, assigned to nobody

[2020-01-31 13:25] daniloff200 commented on #5555
duplicate of #4015

That should be closed vid #4156 , but, for now it needs fix

[2020-01-31 13:25] #5555 closed, assigned to nobody

[2020-01-31 15:13] daniloff200 commented on #5631
@arun-maddheshia  I've suddenly found, that this logic was already implemented. That was not so clear in docs, but, we have **displayMonths** which by default for daterRangePicker is 2, but, you can change it with bsConfig

just pass the property `displayMonths : 1` there

https://valor-software.com/ngx-bootstrap/#/datepicker#bs-datepicker-config

[2020-01-31 15:26] arun-maddheshia commented on #5631
@daniloff200 thanx :) perfect what i am looking for.

[2020-01-31 15:27] daniloff200 commented on #5631
good:) gonna close it then

[2020-01-31 15:27] #5631 closed, assigned to nobody

[2020-02-03 11:42] jonrimmer opened #5635 "Add UTC timezone support to timepicker"
**Is your feature request related to a problem? Please describe.**

When building apps that work across timezones, it is frequently necessary to show/capture dates and times in a different timezone that the user's local one.

`BsDatepickerConfig` now has a `useUtc` property for showing/capturing UTC dates/date ranges, but timepicker does not have the same support.

**Describe the solution you'd li

[2020-02-03 13:52] IraErshova commented on #5624
@adrienverge Thanks for your clarification! I can see that if you enter **Nicolette** it returns suggestion with id and phone according to your changes. But if you enter **Nicolette Boyle** it doesn't return anything because of search by **first_name** only.

The reason why it doesn't return anything could be in your code, which processes the result of the request. Are you able to debug **asyncAct

[2020-02-03 13:56] cristianbalint commented on #4540
Is not complete. This feature handles only top and bottom boundaries, but there are also left and right.

[2020-02-03 14:17] alfazjikani commented on #810
If you want to show modal on load of component, you can use 'show' attribute of config applied to modal.
ex. [config]='{show: true, ....}'
Reference:
https://valor-software.com/ngx-bootstrap/#/modals#directive-auto-shown

[2020-02-03 14:37] daniloff200 commented on #5635
Well, 4747 is really outdated, and it's sad, that the author of this closed it :(
Sad, that he doesn't tag any person, which was merging / reviewing code at the time, or, author of the library :(
I'm gonna try to resolve all conflicts, or, create a new PR, and see, what can be done here

[2020-02-03 14:39] daniloff200 commented on #5635
lol, do the @jonrimmer  and @jonr-elsewhen are exactly the same person? :rofl:

[2020-02-03 14:46] jonr-elsewhen commented on #5635
@daniloff200  Almost, one is me at work, one isn't ;-)

[2020-02-03 15:11] #5588 closed, assigned to daniloff200

[2020-02-03 15:17] daniloff200 commented on #5588
will be available in next version (I suppose it wiil be 5.6.0) next week, or later

[2020-02-03 17:01] #5625 closed, assigned to nobody

[2020-02-03 18:38] neerajmadaad opened #5636 "select Maximum 30 days in ngx Bootstrap date range picker"
Hi
I want that user should be able to maximum select maximum 30 days in the date range picker.
Is this functionality available in this?

[2020-02-04 00:50] jeserkin commented on #2356
Decided to try and extract modal portion into separate component and pass it in. What do you know, same issue as reported by so many others. I did import `ModalModule.forRoot()` into lazy-loaded module. I did declare modal component in `declarations` section and `entryComponents` section of lazy-loaded module. There was also a suggestion on SO, to re-provide `BsModalService`.

Result: **Nothing he

[2020-02-04 08:55] IraErshova commented on #1956
@astroanu Hi! Do you still have this issue? Typeahead component has had a lot of changes since 2017. I added PR with a new demo for async typeahead. It's not merged yet but you can check how I handle http error.

https://github.com/valor-software/ngx-bootstrap/pull/5637/files#diff-f68a35042d5e6635f58cce1aea50df39

I'm going to close the issue because it's not the issue anymore.
@vlaco your issue i

[2020-02-04 08:55] #1956 closed

[2020-02-04 09:05] IraErshova commented on #5227
@itsvse Hi! Your stackblitz example doesn't work cause of `TypeError: fullscreen error`. Could you please provide a working example?

[2020-02-04 09:42] daniloff200 opened #5638 "daysDisabled doesn't work with Daterangepicker"
**Bug description:**

In datepicker we have two functionalities, which are quite similar : [daysDisabled](https://valor-software.com/ngx-bootstrap/#/datepicker#days-disabled) and [datesDisabled](https://valor-software.com/ngx-bootstrap/#/datepicker#dates-disabled)

datesDisabled allows to disable specific dates, which should send as an array of dates, like this:
` disabledDates = [
    new Date('2

[2020-02-04 10:48] daniloff200 commented on #5636
hi, @neerajmadaad , what do you mean by **maximum 30 days in daterangepicker** ?

Does it mean functionality, which does not allow, for example,  1st of April, if today is 1st of March, or, you mean, that you want to allow to see only one month in daterangepicker?

Could you provide some example, or, at least more info about your idea?
Thanks!

[2020-02-04 10:52] daniloff200 commented on #5636
We have maxDate property, you can use it, if you want not to allow user to select some date, after 30 days.

That will be something like that:

in your component:
` this.maxDate = new Date();
  this.maxDate.setDate(this.maxDate.getDate() + 30);`

in template:
` <input class="form-control"
           placeholder="Daterangepicker"
           bsDaterangepicker
           [maxDate]="maxDate">`

[2020-02-04 13:32] IraErshova commented on #5155
@piernik Hi! Thanks for your comment. We are sorry that you have such type of problem, but we are not planning to add prefixes at this stage. The lack of prefixes was an omission at the stage of creating the library. And because many people use it we can't do such change.

[2020-02-04 13:32] #5155 closed, assigned to nobody

[2020-02-04 13:44] neerajmadaad commented on #5636
For example in Date range picker user select April 1 2019(as From date) then all dates after 30 April (April 1+ 30 days) should be disabled.
Another: if user select From date as 1 January 2020, all dates after 30 Jan 2020 will get disabled automatically even before To date is selected.

I hope I have cleared my question.

[2020-02-04 13:49] daniloff200 commented on #5636
Yeah, now it's more understandable
Right now ngx-bootstrap doesn't have functionality, which allows to disable dates after first range selection, also depending on some custom values
That needs to be implemented.
I hope to have time this week  to investigate this feature to library

[2020-02-04 13:53] neerajmadaad commented on #5636
Can you please help me with any event that I can use which  is triggered when "From date" is chosen from the daterange picker, I would try to set max date on "From date selection" and then will try to remove it(Max date) once the user has selected "To Date".

[2020-02-04 14:51] IraErshova commented on #5164
@babupca Hi! Unfortunately, I can't open your example. Could you please fix this? I created my own one using angular Tour of heroes, just added modal to dashboard component. But if you try to switch between routes, then open the modal and click back, you see that the modal will be always opened. (**important**: use stackblitz example by opening it via app url)

Here is my example:

https://stackbl

[2020-02-04 16:04] IraErshova commented on #5165
@MaoScut Hi! I couldn't start your repo locally, but I could do this in stackblitz. Could you check it, please?

Here is your app - https://stackblitz.com/edit/github-xm6ozh

I didn't understand the **step 7**. Could you explain it to me, please? And is it possible to reproduce this issue in stackblitz?

[2020-02-04 16:11] IraErshova commented on #5165
@MaoScut Also I want to add information about **entryComponents** error. It happens not because of 'ngx-bootstrap/modal' but because of Angular works in this way. Do you know why we have to add a component to **entryComponents** when we want to use it for modal? See how it's explained in Angular Doc:

`If a component isn't found in a template, the tree shaker will throw it away`

So if you don't a

[2020-02-04 16:24] IraErshova commented on #5153
@1-0-1 Hi! Could you please use the latest version of ngx-bootstrap? I think this issue shouldn't appear anymore. You can check this case with the latest version of ngx-bootstrap in my stackblitz example:

https://stackblitz.com/edit/angular-e2hnpj-ttyhot

I'm going to close the issue, but if the problem appears again we will reopen it.

[2020-02-04 16:24] #5153 closed, assigned to IraErshova

[2020-02-04 16:26] daniloff200 commented on #5153
Yeah, I think that should be closed via https://github.com/valor-software/ngx-bootstrap/pull/5627 , and fix already available in ver. 5.5.0

[2020-02-05 08:27] Beni312 commented on #5628
similar to #5538

[2020-02-05 09:05] #2994 closed

[2020-02-05 09:07] #2623 closed

[2020-02-05 09:08] silveoj opened #5642 "Hover (via click) was broken in iPhone 7 between 4.0.1 and 4.1.1 versions"
Bug description:

We updated ```ngx-boostrap``` package from 3.* to 5.* version.

But we found issue on iPhone 7:
we have hover state in desktop. iPhone can emulate it (without our code) if you click by element which has hover.
But it stopped to work (real iPhone and via BrowserStack (iPhone 10, 12)). After investigation we detected it was broken between 4.0.1 and 4.1.1 versions.

We suppose this

[2020-02-05 09:09] #3446 closed

[2020-02-05 09:11] daniloff200 commented on #3301
Not reproducible anymore

[2020-02-05 09:11] #3301 closed

[2020-02-05 09:19] #4537 closed, assigned to nobody

[2020-02-05 09:27] #5206 closed, assigned to nobody

[2020-02-05 09:32] #5340 closed, assigned to nobody

[2020-02-05 09:33] daniloff200 commented on #5418
still no info, so, closed

[2020-02-05 09:33] #5418 closed, assigned to nobody

[2020-02-05 09:37] daniloff200 commented on #5562
There's look like https://github.com/valor-software/ngx-bootstrap/issues/5636, but, we don't have such functionality yet :(

[2020-02-05 09:57] IraErshova commented on #5149
@eserkansozer Hi! Thanks for your comment. The reason why the line doesn't wrap into the next line is because of bootstrap styles. Each item has class `.dropdown-item`, which set up `white-space: nowrap;`.

If you want to change this behaviour you have to override bootstrap's styles, e.g. to this:
`white-space: normal;`.

[2020-02-05 09:57] #5149 closed, assigned to IraErshova

[2020-02-05 10:00] daniloff200 commented on #5583
duplicate of https://github.com/valor-software/ngx-bootstrap/issues/551

[2020-02-05 10:00] #5583 closed, assigned to nobody

[2020-02-05 10:23] daniloff200 commented on #5121
Well
I used to work with disabledDates, let's see, what I can do with enabledDates :man_astronaut:

[2020-02-05 10:32] juicyarts commented on #5635
Sorry for the circumstances. Our PO decided that this is not important any more after some days of work on it.. Let me know if i can help

[2020-02-05 10:40] daniloff200 commented on #5635
hey @juicyarts !
I fixed all the conflicts in your PR, but, there are some test failures, and I'm not 100% sure, how to fix them

[2020-02-05 11:09] IraErshova commented on #4808
@i1990jain Hi! Do you mean you want to search by number and by the city at the same time?

[2020-02-05 11:11] IraErshova commented on #4808
I created a stackblitz example for this case. @i1990jain you can use it
https://stackblitz.com/edit/angular-gzssfc

[2020-02-05 11:11] i1990jain commented on #4808
search just by the number but then the results must be order by the name of the city

[2020-02-05 11:13] IraErshova commented on #4808
Oh, I got it! Thanks for clarification

[2020-02-05 15:06] #1884 closed

[2020-02-06 09:18] daniloff200 commented on #5596
hi @afeef1915
I'm not 100% sure, that I exactly get, what you mean, but, have you tried to change **dateInputFormat** in **bsConfig** to **rangeInputFormat** ?

Also, a small demo on Plunker / Stackblitz with more details will be very useful!

[2020-02-06 09:29] daniloff200 commented on #5404
Actually, in your example (dblclick) is working, but, (click) is definitely stopped.

:thinking:
I see, that such code exists in all .container components

that was made looong time ago in https://github.com/valor-software/ngx-bootstrap/commit/6472b6fe2d9d5c8b85baf059a72eeef47c2b8925 , so, I assume we need to leave it as it is, or, to rewrite in some way, to allow use (click) and (dblclick).

Gonn

[2020-02-06 10:51] diogen737 commented on #5553
Eventually I've managed to figure this one out.
I have IntersectionObserver running on this page (with polyfill for IE, obviously). Turned out that for some reason the tooltip trigger made the page crash UNLESS the observer had fired the intersection event. The funny thing is that this observer is registered for entirely different element and once I disabled it the tooltip started to show normally

[2020-02-06 10:51] #5553 closed, assigned to nobody

[2020-02-06 11:25] daniloff200 commented on #5404
Well, I think I managed to fix that issue with `stopPropagation` for datepicker, but, looks like that's impossible for daterangepicker because we expect daterangepicker not to close after first click. If you need that for daterangepicker too, please, let me know, it will require more work
cc @livthomas

[2020-02-06 11:27] An-MS commented on #5588
@daniloff200
Thanks for the update!

[2020-02-06 12:01] livthomas commented on #5404
@daniloff200 We only use datepicker at the moment so that's fine. Thanks a lot for looking into this!

[2020-02-06 12:33] dmitry-zhemchugov commented on #5642
Hello @silveoj !  I'm sorry but I can't reproduce this issue. Could you please record a video with reproducing it?

[2020-02-06 13:04] silveoj commented on #5642
I prepared videos but I think they are useless.
We can remove empty ```onclick``` from DIVs and add ```onclick=""``` into body. It works also.

I suppose it must not work in iPhone 7 before this commit https://github.com/valor-software/ngx-bootstrap/commit/4d49218a993fd60b67d3a43f73f2489263fd0a35
But ```ngx-bootstrap``` "saved" us because code before this commit registered global document click ev

[2020-02-06 13:28] daniloff200 commented on #5166
looks like, was fixed long time ago, and available  from 5.4.0

[2020-02-06 13:28] #5166 closed, assigned to nobody

[2020-02-06 13:58] daniloff200 commented on #3048
Please, use the solution above, that should help

[2020-02-06 13:58] #3048 closed

[2020-02-06 14:34] #5375 closed, assigned to nobody

[2020-02-06 15:07] IraErshova commented on #5370
@makahleh Hi! Could you please provide a reproduction via Stackblitz?
You can use my example:
https://stackblitz.com/edit/angular-wx8ik3

[2020-02-06 16:07] #1597 closed

[2020-02-06 23:02] KelseySheely commented on #5624
I think there is a miscommunication here. It doesn't matter if you put in Nicolette Boyle or just Nicolette. In either case, no data displays.

You can very clearly see the issue in action if you update the stack blitz to 5.5.0 and type in Nicolette. It will show 2 Matching items, but the dropdown will not show up at all.

Note, I took out the typeaheadOptionField="first_name" from the template, b

[2020-02-06 23:12] KelseySheely commented on #5624
Looks like this was broken according to the following Bug Report, but there was no discussion before implementing this breaking change.

https://github.com/valor-software/ngx-bootstrap/issues/3725

IMO, if the user wants to filter it themselves, they should have the last word. It should absolutely not be run through the ngx filter after the user has filtered it according to what they want. Can you

[2020-02-07 00:41] kondareddyyaramala commented on #5408
We are having similar issue. Is there any update on this issue ?

Configuration:

1. Angular 8.0
2. ngx-bootstrap: 5.2
3. Bootstrap: 3.3.7

[2020-02-07 04:55] adrienverge commented on #5624
@IraErshova thanks for your reply, sorry for my late answer!

My [StackBlitz example](https://stackblitz.com/edit/angular-8t8dcm-puwywo) had ngx-bootstrap 5.4.0, to show that it did work before 5.5.0.
But if you try with the new version, typing "*Nicolette*" shows "*Matching items: **2***" but doesn't show any typeahead suggestion.
(Thanks @KelseySheely for the [updated StackBlitz with 5.5.0](http

[2020-02-07 10:55] IraErshova commented on #4313
Hi @MarcoLeko ! Do you still have this problem? Could you please provide a minimal stackblitz reproduction? Here is our demo:
https://stackblitz.com/edit/angular-ofcmnd

[2020-02-07 11:14] MarcoLeko commented on #4313
@IraErshova I remember i did fixed it, but this is a long time ago. You can see the component and can adjust it to your needs: [Clan-Search](https://github.com/MarcoLeko/clashOfClans/tree/master/src/app/home/components/clan-search)

[2020-02-07 12:45] #2492 closed

[2020-02-07 12:47] #1988 closed

[2020-02-07 13:07] IraErshova commented on #5624
@KelseySheely @adrienverge Thanks for your comments! I agree with you. I'm going to roll this change back. And I'm planning to find out another way to filter data via ngx-bootstrap, so developers could filter data via our or their functionality.

[2020-02-07 13:08] daniloff200 commented on #1828
Looks like, that's not Sortable issue, but, Angular one
I see reports about that long ago, and looks like, that was not fixed properly

https://github.com/angular/angular/issues/11097
https://github.com/angular/angular/issues/24642

The workarounds are:
- always return **the same instance ** of the property
- Replace`   [(ngModel)]="getter/setter" `with  `[ngModel]="property" (ngModelChange)="onCh

[2020-02-07 13:08] #1828 closed

[2020-02-07 14:04] IraErshova commented on #4313
@MarcoLeko Okay, thanks for your quick response. I'm going to close the issue and if it is necessary we'll reopen it.

[2020-02-07 14:04] #4313 closed

[2020-02-07 14:31] #5624 closed, assigned to IraErshova

[2020-02-07 19:02] #5642 closed, assigned to dmitry-zhemchugov

[2020-02-07 19:49] gsoares85 commented on #5430
How i fix this?

[2020-02-08 05:27] shivaji33 opened #5653 "Error with datepicker of ngx-bootstrap@latest After upgrading to version 9.0.0-rc.8"
ERROR in Symbol BsDaterangepickerInlineContainerComponent declared in X/node_modules/ngx-bootstrap/datepicker/themes/bs/bs-daterangepicker-inline-container.component.d.ts is not exported from ngx-bootstrap (import into X)

[2020-02-08 07:11] pgarzina commented on #5653
experiencing the same issue

[2020-02-08 15:17] adventmedia commented on #5653
similar problem with final release of 9.0.0

[2020-02-10 10:47] IraErshova commented on #5653
Hi @shivaji33 ! Could you please provide a minimal reproduction example in Stackblitz? You can use my template
https://stackblitz.com/edit/github-5cak2w

[2020-02-10 10:51] IraErshova commented on #5370
Close issue because of inactivity

[2020-02-10 10:51] #5370 closed, assigned to IraErshova

[2020-02-10 10:57] IraErshova commented on #5573
Close issue because of inactivity

[2020-02-10 10:57] #5573 closed, assigned to IraErshova

[2020-02-10 10:58] #5369 closed, assigned to IraErshova

[2020-02-10 11:00] IraErshova commented on #5227
Close issue because of inactivity

[2020-02-10 11:00] #5227 closed, assigned to IraErshova

[2020-02-10 11:01] IraErshova commented on #5165
Close issue because of inactivity

[2020-02-10 11:01] #5165 closed, assigned to IraErshova

[2020-02-10 11:02] IraErshova commented on #5164
Close issue because of inactivity

[2020-02-10 11:02] #5164 closed, assigned to IraErshova

[2020-02-10 11:51] StefanKoenigMUC opened #5654 "Tabset with Flexbox"
Hi all,

I've got a problem during use of tabset with a flexbox layout:

[code]
Size of those tabs (in special "div.tab-content") is always 0.

Do you have any suggestions how i can improve that, so that tab-content uses all available space for its content?

Thanks in advance,

[2020-02-10 12:22] StefanKoenigMUC commented on #5654
a little help brought this to me:

` <tab heading="Summary" id="summaryTab" style="height: 100%; min-height: 100%;">`

with this (global) CSS:

[code]

but i don't this solution as it seems very hacky (and i cant use 100% for height, as 100% will cause an overflow).

Do you have any advice? :/

[2020-02-10 12:28] shivaji33 commented on #5653
it's working fine in new angular application but not working in the existing application. plz find the below image.
![Screenshot from 2020-02-10 17-54-41](https://user-images.githubusercontent.com/52051484/74149892-df7ded80-4c2e-11ea-9618-b722353e2abe.png)

[2020-02-10 12:40] exitlol commented on #3913
Almost 2 years and no implementation? If we don't get the feature is there a way to implement such behavior? With sortable or ng2-dragula?
I am strugling to do so.

[2020-02-10 13:15] dgsqrs commented on #5653
same problem with a working Angular 8 app. Upgrade to Angular 9 initiate this issue.

[2020-02-10 19:56] DanBoSlice commented on #5595
Thanks for the fix. When will version 5.5.0 be avaiable on NPM?

[2020-02-10 21:48] daniloff200 commented on #5595
@DanBoSlice 5.5.0 already available with `latest ` tag

[2020-02-10 22:30] abatkins commented on #2137
I'm using version 5.1.2 and am also experiencing this issue. Updated to 5.5.0 and the issue still occurs.

[2020-02-11 08:41] IraErshova commented on #5325
@korinovsky Hi! Could you please provide a bit more information about your issue? It would be better if you use our [guideline for submitting issues ](https://github.com/valor-software/ngx-bootstrap/blob/development/CONTRIBUTING.md#-submitting-an-issue).

Do you want to add your custom class to datepicker or what?

[2020-02-11 11:51] IraErshova commented on #5654
@StefanKoenigMUC Hi! Could you please provide a minimal reproduction example in stackblitz? Because I can't understand the issue you have. You can change my example:
https://stackblitz.com/edit/angular-sjd5a7

[2020-02-11 11:55] IraErshova commented on #5552
@bacmanni Hi! Unfortunately, this issue happens because of bootstrap's styles, which we use in our library not because of our functionality. I can advise you to overwrite bootstrap's styles to fix this problem:
[code]
If you add these styles, your problem is gone.

[2020-02-11 11:55] #5552 closed, assigned to nobody

[2020-02-11 13:43] JAspeling commented on #862
Getting this issue now with Angular 9 upgrade (9.0.0 -Didn't get it with our Angular8 version)

Current NgxBootstrap version: `"ngx-bootstrap": "5.3.2"`

Wrapping the event fired by the `numPages` `@Output` in `setTimeout(() => {...});` fixes the error, but it's not ideal...

[2020-02-11 14:31] robvaneck opened #5656 "datepicker is invalid, but returns no errors when using setValidator"
Please see:

https://stackblitz.com/edit/angular-9nrqgu

[2020-02-11 14:37] IraErshova commented on #5557
@esoyke Thanks for your question! I've added the functionality. It will be available in the next release.

[2020-02-11 18:49] hackermanmx commented on #5591
For anyone having this issue:
Try adding this in the Module it's declared.

`entryComponents: [YourComponent],`

[2020-02-11 20:51] #5557 closed, assigned to IraErshova

[2020-02-11 21:22] Omi231 commented on #3609
I came to check this issue after 1 year and mods still need info about the issue.  Maybe in year 3020 they will find root cause and in year 4020 it is expected to be solved.

[2020-02-11 22:11] exequiel09 commented on #5591
@DeeNeon It's not as simple as that when the module that contains the `entryComponents` declaration is lazy loaded.

[2020-02-11 22:15] hackermanmx commented on #5591
Don't use it in a lazy loaded module then and use a shared.module :)

[2020-02-12 09:35] #281 closed

[2020-02-12 09:37] RuneSP commented on #5653
It works for me with Ivy after changing this
`import { BsDatepickerModule } from 'ngx-bootstrap'` to
`import { BsDatepickerModule } from 'ngx-bootstrap/datepicker'`

https://github.com/valor-software/ngx-bootstrap/pull/5268#issuecomment-502142482

[2020-02-12 09:39] IraErshova commented on #5339
@batgos Hi! Is this issue still relevant? I created a stackblitz demo, could you please check it?
https://stackblitz.com/edit/angular-eynjxm

[2020-02-12 10:34] daniloff200 commented on #3609
@Omi231  very funny joke, thanks
I wish, that such people, like you, who can only post some silly jokes, also, post some code snippets with help, or, even PRs with fixes / features

[2020-02-12 11:02] daniloff200 commented on #2000
@hshn not sure, what issue here is?
We're used keydown in typeahead, but, not for onChange, but onBlur.

[2020-02-12 11:09] daniloff200 commented on #2677
Solution from above should help with that issue
Closed

[2020-02-12 11:09] #2677 closed

[2020-02-12 11:16] daniloff200 commented on #4786
looks like, your stackblitz link is broken @ecancino
Could you fix it, and together we try to find out the solution?

[2020-02-12 11:17] hshn commented on #2000
@daniloff200 While filtering choices by inputting characters, an unexpected `onChange($event)` was triggered in some non-english environment, which was Japanese one.

We hit enter key when we're converting ascii chars into other chars, and we do this while filtering choices.
That was the situation the unexpected behavior was happen, but I'm not sure if it's still being happen, because I haven't us

[2020-02-12 11:23] daniloff200 commented on #4544
Not reproducible with Chrome and FE
Also, checked on Edge (80.0.361.50) and IE 11 (11.0.9600)

[2020-02-12 11:23] #4544 closed, assigned to nobody

[2020-02-12 11:25] daniloff200 commented on #2000
Yeah, that's pretty old one, we're now trying to clean up all the issues, close some outdated stuff, or, try to pick something, and fix / implement

Okay, I'm gonna close it for now, in case of any issues, feel free to drop any comment here for me, or, create a new issue, and tag me
@hshn

[2020-02-12 11:25] #2000 closed

[2020-02-12 11:34] #4560 closed, assigned to nobody

[2020-02-12 11:38] daniloff200 commented on #5132
No activity,  and still  no proper reproduction

[2020-02-12 11:38] #5132 closed, assigned to nobody

[2020-02-12 11:44] shivaji33 commented on #5653
Hey it's working thanks 😀

[2020-02-12 13:43] dmitry-zhemchugov commented on #4572
Hi @cauescuderi ! This issue has reproduced only in 2018, and I reproduced it when I select month by the button. But in subsequent years it doesn't reproduce. In the 2029 year days of the week are the same located as in 2018 but this issue doesn't reproduce too. So I think we able to close this issue.

[2020-02-12 13:44] #4572 closed, assigned to nobody

[2020-02-12 14:20] #4808 closed, assigned to IraErshova

[2020-02-12 15:11] mfrey43 opened #5660 "Accordion with animation enabled triggers infinite ChangeDetection Cycles on IE11"
Angular: 8.2.14
ngx-bootstrap: 5.5.0
build system: angular cli

Demo Project: https://stackblitz.com/edit/angular-r5bngk
App URL: https://angular-r5bngk.stackblitz.io

I've set up the demo app to log every change detection cycle to the console. If you open the app in chrome and click on the first accordion header it will fire at least twice and then stop. In IE11 it will be run infinitely, causing

[2020-02-12 16:59] StefanKoenigMUC commented on #5654
Thanks a lot for your reply. Indeed the issue is a bit different and i'm not sure now if its a problem with ngx-bootstraps component or ag-grid.

Unfortunately i cannot save/fork the given stackblitz (temporarily problems?), but i made the following changes to reproduce the behavior:

1) Install ag-grid
2) Change styles.sccs to
[code]

3) change DemoTabsBasicComponent to
[code]
  change markup to

[2020-02-12 17:24] #5617 closed, assigned to daniloff200

[2020-02-12 17:50] Polantaris commented on #5653
This resolved the issue for me as well, it looks like the top level 'ngx-bootstrap' import is no longer working as expected. Although, importing at that level doesn't allow proper tree-shaking from what I understand so it's probably not a good idea to use it anyway.

[2020-02-13 08:11] timrasche commented on #5338
+1

Inline datepicker not providing functionality for reactive forms e.g. form control. This issue was created in 2019... still not working in '20!

[2020-02-13 08:25] IraErshova commented on #5653
Angular 9 **doesn't support** such imports:
`import { ... } from 'ngx-bootstrap'`
We are going to update the documentation to mention this case. Thanks, everyone!

[2020-02-13 10:34] vindemasi opened #5662 "production build failure because missing hidden property on TypeaheadContainerComponent"
Bug description: Compiling my app with 'ng build --prod' fails with error:

**ERROR in (1,1): Directive TypeaheadContainerComponent, Property 'hidden' does not exist on type 'TypeaheadContainerComponent'.**

The issue appears using AOT compilation. Simply adding an 'hidden' property to TypeaheadContainerComponent solve the issue.

Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap:

[2020-02-13 10:39] daniloff200 commented on #5662
Hi @vindemasi !
That issue was fixed in https://github.com/valor-software/ngx-bootstrap/pull/5616, and already available in 5.5.0

[2020-02-13 10:43] vindemasi commented on #5662
Hello @daniloff200 sorry for the noise, bad search on issues using 'TypeaheadContainer' instead 'typeahead'. I'll close the issue.

[2020-02-13 10:43] #5662 closed, assigned to nobody

[2020-02-13 16:53] GaetanRouzies commented on #5394
When i click the first time on my dropdown, my menu is taking some times to show completely (I have icons inside). But once i opened it once, it works fine because the code is now present in the DOM.
But i found a solution but i'm not sure it's a good idea.

**How to force the prerender of the menu ?**
Remove the ***dropdownMenu** from the **ul** tag

[2020-02-13 18:44] subasically commented on #940
Any update on this?

[2020-02-14 05:12] neethu-george commented on #2507
i have the same issue .for  "ngx-bootstrap": "^5.3.2",
how can i resolve this?

[2020-02-14 07:29] iamsahilralkar opened #5666 "Accept 'DD MM YYYY' or 'DD MMM YYYY' at the same time in ngx-Bootstrap datepicker"
**In ngx-Bootstrap datepicker**

1. Currently the input only accepts 'DD MMM YYY' or 'MM DD YYYY' at same time.
2. If I give input like 30 10 1995 the it gives an error. Invalid format
3. how to achieve the 'DD/MM/YYYY' or 'DD MMM YYYY' accept input format at same time

Or is there any other way to pass 'dateInputFormat' based on user input in input box?

- ngx-Bootstrap: 1.9.3
- Angular version:

[2020-02-14 09:06] daniloff200 commented on #2507
what version of Angular do you use, @neethu-george  ?

[2020-02-14 09:48] #5653 closed, assigned to IraErshova

[2020-02-14 11:42] belinef commented on #5261
Looks like issue is not reproducible on latest version `5.5.0`
@IraErshova

[2020-02-14 11:48] daniloff200 commented on #5261
yeah, @belinef , I can agree, that also can reproduce it with latest version
Gonna close it for now

[2020-02-14 11:48] #5261 closed, assigned to nobody

[2020-02-14 11:59] IraErshova commented on #5339
Close because of inactivity

[2020-02-14 11:59] #5339 closed, assigned to IraErshova

[2020-02-14 12:00] IraErshova commented on #5325
Close because of inactivity

[2020-02-14 12:00] #5325 closed, assigned to IraErshova

[2020-02-14 12:39] IraErshova commented on #5654
@StefanKoenigMUC Thanks for your reply! I check your code and the problem not in ngx-bootstrap but in `ag-grid-angular` component. Could you please check my example?
https://stackblitz.com/edit/angular-sjd5a7

If you don't use height 100% then you see the table otherwise there is nothing

[2020-02-14 12:39] #5654 closed, assigned to IraErshova

[2020-02-14 16:05] #4472 closed, assigned to daniloff200

[2020-02-14 16:37] sonicpro commented on #4713
This issue is not reproduced with the latest version of ngx-bootstrap.

#### The test configuration is like the following:

ngx-bootstrap: 5.5.0
Angular: 8.2.0
Bootstrap: 3.3.7

[2020-02-14 20:28] #4713 closed, assigned to nobody

[2020-02-15 19:23] eitamyo opened #5668 "Tooltip inside popover overrides adaptive positioning"
Specifically, when placing a tooltip inside a popover, if the popover has adaptivePosition=true, and the tooltip has adaptivePosition=false, the popover will change its placement and overflow when hovering on the tooltip

See: https://stackblitz.com/edit/ngx-bootstrap-o4zjzk

Versions:

Angular: 8

ngx-bootstrap: 5.4.0

[2020-02-15 20:23] amiram commented on #5389
Well, after my pull request was merged, I discovered it didn't help me. The thing I wanted is to not open the popover if the user just moved the mouse over the element for a very short time. This delay just delayed the opening of the popover but eventually the popover showed up after some time, even though the mouse was already far from the element.
If you want to not show the popover if the mouse

[2020-02-16 11:36] cyberbobjr commented on #5340
Hi,
i've made a trick with ng-deep selector :
[code]

and i wrapped my control inside a span with container selector :
[code]

with this trick i can left-align the datepicker container to the input.

[2020-02-16 23:27] tahsincagrizorkol opened #5669 "Selected Input There Is No Datepicker"
Hello,

I added datepicker module in app.module.ts

After that added this code my ts file:
`public bsInlineValue = new Date();`
`public bsInlineRangeValue: Date[];`
`public maxDate = new Date();`

`constructor() {`
`super()`
`this.maxDate.setDate(this.maxDate.getDate() + 7);`
`this.bsInlineRangeValue = [this.bsInlineValue, this.maxDate];`
`}`

After that added this code my html file:
`<input type=

[2020-02-17 06:04] neerajmadaad commented on #5636
Hi @daniloff200
Do you have any update on this, will we have any enhancement like this in near future? If yes, could you please update till when will it be available.
As of now I am working with an alternate solution and it still has some problems:
Here maxSelectableDate is the max date,

onDatepickerShown() {
    const datepicker: HTMLElement = document.querySelector('bs-daterangepicker-container

[2020-02-17 07:46] daniloff200 commented on #5389
Thanks for that, @amiram !

[2020-02-17 07:47] ABugajska commented on #5402
I've just upgraded my app to angular 9.0.1 with the newest version of ngx-bootstrap and this bug still occurs.

Angular 9.0.1
ngx-bootstrap 5.3.4 || 5.5.0

any ideas?

[2020-02-17 07:48] daniloff200 commented on #5669
hey, @tombultaho

Could you please create a reproduction via Stackblitz?
https://stackblitz.com/edit/ngx-bootstrap?file=app%2Fapp.module.ts

Also, are there any errors in your console?

[2020-02-17 07:53] sonicpro commented on #5660
going to investigate the issue

[2020-02-17 07:54] daniloff200 commented on #5587
hi, @An-MS !
I'm gonna investigate, if there's any possibility for it

[2020-02-17 09:29] IraErshova commented on #4685
@cakeinpanic Hi! I am not sure that we are going to add this functionality to typeahead component. But you can use `typeaheadOnSelect` event to add functionality for opening any URL in a new tab. Could you please check my example in Stackblitz?
https://stackblitz.com/edit/angular-8ioart

[2020-02-17 09:29] #4685 closed, assigned to nobody

[2020-02-17 09:41] #5251 closed, assigned to IraErshova

[2020-02-17 10:41] vijayhardaha commented on #5340
@cyberbobjr so it's CSS based solutions? Right?

And it will affect every instance of datepicker?

[2020-02-17 10:50] cyberbobjr commented on #5340
Yes it’s pure CSS, but you can prevent spreading the modified style with a ng-deep selector to be more precise.

[2020-02-17 11:07] tahsincagrizorkol commented on #5669
Hi @daniloff200

If I create new project, there is no problem. I tried to create new angular project and installed ngx-bootstrap and datepicker.

Also I used material ui in my project. Could this be the cause of the problem? As you can see that there aren't any error in my console:

![Screenshot_1](https://user-images.githubusercontent.com/1385157/74649209-2ff5cd80-5190-11ea-930e-ac7ca72f1938.png)

[2020-02-17 12:02] vijayhardaha commented on #5340
@cyberbobjr Ok I'll test the code.

[2020-02-17 12:15] rafal-marciniak commented on #2243
I also have the same issue. How about adding an `event.PreventDefault()` method to the `onSelect` parameter?

[2020-02-17 14:43] IraErshova commented on #3081
There is a demo for `typeaheadItemTemplate`
https://valor-software.com/ngx-bootstrap/#/typeahead#item-template

[2020-02-18 06:01] lizlux commented on #2810
I'm having the same issue in angular 8. Will also try a workaround, though it would be great if this were fixed!

[2020-02-18 12:47] anton-horbachov opened #5672 "Datepicker Standard/Summer time offset handling issue"
We use ngx-bootstrap(5.5.0) in our angular app(8.2.14) generated with angular-cli(8.3.21). (windows 10/x64. Chrome v80, Edge)
There is a problem with datepicker module: it miss Standard/Summer time offset...

According to business logic, user restricted to select date with interval:
min date equals current date - 6 month,
max = current date + 2 month

We receive UTC date from API in [ISO 8601 form

[2020-02-18 13:29] nehamattani commented on #5049
I was facing the same issue with angular 8.  Please downgrade and restrict your ngx-bootstrap version to 3.0.0

[2020-02-18 13:30] nehamattani commented on #2716
I was facing the same issue with angular 8. Please downgrade and restrict your ngx-bootstrap version to 3.0.0

[2020-02-18 14:10] sonicpro commented on #5402
Cannot reproduce the issue in a sample application created with the fillowing setup:

ngx-bootstrap: 5.1.2
Angular 8.2.7
Bootstrap: 4.3.1

The application loads lazily a module that contains a component with a rudimentary datepicker template like the following
[code]
@YulianKukh, it would be nice if you provide the minimal app that allows to reproduce the issue.

[2020-02-18 14:49] Suhas-Nadarge commented on #2810
Issue was due to **.touched** which  I was using in HTML for validation. This worked for me :)

I added validateDate() which  will dynamically add .touched validation which we are using for required field.

**date.component.html**

<input   type="text" formControlName="" (**focusout**)="validateDate()"
        (**click**)="validateDate()"  class="form-control datepicker"
         bsDatepicker [bsC

[2020-02-18 15:23] #5672 closed, assigned to nobody

[2020-02-18 15:26] anton-horbachov commented on #5672
I apologize - the issue is inappropriate, the case is invalid.
The problem that I encountered is different (the date picker resets the time to zero in some cases).

[2020-02-18 15:28] daniloff200 commented on #5672
@Anton-Gorbachev  no worries :)

[2020-02-18 16:20] #5638 closed, assigned to daniloff200

[2020-02-18 16:40] Diegodlt opened #5676 "Accordion group does not resize height in Safari"
Bug description:

On Safari, the animated accordion group does not expand with dynamic content.

This issue is similar to #5202 which #5316 claims to have fixed.

StackBlitz that reproduces the issue:

https://stackblitz.com/edit/angular-eu6gwt?file=src%2Fapp%2Fapp.component.html

In the first accordion group there is a button that when pressed opens some additional content.  The issue can be repr

[2020-02-18 17:23] dgsqrs opened #5677 "Daterangepicker : Missing exports in public_api.d.ts"
Hi there

I'm trying to upgrade my app from Angular8 to Angular9 and I get an error. It seems there are two missing exports in the public_api.d.ts : BsDaterangepickerInlineContainerComponent, BsDaterangepickerInlineDirective.

I already update all my 'ngx-boostrap' imports with 'ngx-bootstrap/MODULE'

[2020-02-19 03:43] lizlux opened #5678 "BsInlineDatepicker datesDisabled doesn't update"
Bug description:
Updating `datesDisabled` after initialising the inline date picker doesn't have any affect on the UI.

Plunker/StackBlitz that reproduces the issue:
https://stackblitz.com/edit/angular-inline-datepicker-disabled-dates

ngx-bootstrap:
5.5.0
Angular:
8
Bootstrap:
3

**Expected behavior**
If I update the `datesDisabled` property I would expect the calendar to display the newly update

[2020-02-19 08:18] sonicpro commented on #5678
looking into this.

[2020-02-19 08:22] daniloff200 commented on #5678
@lizlux  hey!
unfortunately, I can't open your stackblitz link, can you update it?

[2020-02-19 08:24] sonicpro commented on #5656
I'm going to investigate this.

[2020-02-19 08:45] IraErshova commented on #5677
Hi @dgsqrs ! These classes are exported from [public_api.ts](https://github.com/valor-software/ngx-bootstrap/blob/development/src/datepicker/public_api.ts). You can check it in our repo.

Could you please provide a stackblitz example with a minimal reproduction?

[2020-02-19 08:55] IraErshova commented on #5666
Hi @svralkar30! Could you please provide a minimal reproduction in Stackblitz? You can use our demo `Custom date formats` as a base:
https://stackblitz.com/edit/angular-7mftrj

[2020-02-19 08:58] IraErshova commented on #5666
Also, do you try to update ngx-bootsrap version? The current version is **5.5.0** and you use **1.9.3**. A lot of issues have been fixed since 1.9.3.

[2020-02-19 11:55] iamsahilralkar commented on #5666
hi @IraErshova updated the above stackbliz.
please check config.

Test case:
User Input can be:
1. 30 10 1995 or
2. 30 oct 1995

Expected output should be
30 Oct 1995

[2020-02-19 12:02] dgsqrs commented on #5677
Well I tried to extract part of my application to reproduce the problem but it is too complicated.

When I try to start the angular app using the cli I get this message.

ERROR in Symbol BsDaterangepickerInlineContainerComponent declared in /Users/XXXfront/node_modules/ngx-bootstrap/datepicker/themes/bs/bs-daterangepicker-inline-container.component.d.ts is not exported from ngx-bootstrap (import i

[2020-02-19 12:05] dgsqrs commented on #5677
The template is using a bsDaterangepicker directive
 `<input type="text"
           readonly="readonly"
           (bsValueChange)="copyToTimeslot($event)"
           class="form-control"
           #drp="bsDaterangepicker"
           bsDaterangepicker [(ngModel)]="bsRangeValue">`

but I don't know how Angular "import" the directive when it is used in a template

[2020-02-19 13:16] IraErshova commented on #5677
@dgsqrs Did you add datepicker component according to [Usage rule](https://valor-software.com/ngx-bootstrap/#/datepicker#usage) in our documentation?

Could you please check my example, I'm using your input from the message above:
https://stackblitz.com/edit/angular-c118ci-fqqrds
It works as expected. It would be easy to understand your problem if you provide a minimal reproduction

UPD: changed d

[2020-02-19 13:28] IraErshova commented on #5677
What version of ngx-bootstrap are you using?

[2020-02-19 13:35] IraErshova commented on #5677
There is no place in the code where we use such way of import.

[2020-02-19 13:43] dgsqrs commented on #5677
Thank you for your help. The problem was on my side. I check about wrong imports using ctrl+f of ngx-boostrap' and I forgot ngx-boostrap" where I had some results there. It seems it fixes my problem. Sorry for the noise.

[2020-02-19 13:43] #5677 closed, assigned to IraErshova

[2020-02-19 14:20] daniloff200 commented on #5666
Well, I'm not sure, maybe I did something wrong, but, I can's see `DD/MM/YYYY` or `DD MMM YYYY` in stackblitz example

I've made one more example, and used these two input formats, and both of them works well
@svralkar30  could you please check my example?
https://stackblitz.com/edit/angular-kdg9at?file=app/custom-format.html

It used ngx-bootstrap 5.5.0

[2020-02-19 16:06] cityhunter44 opened #5679 "Thai Buddish calendar on Datepicker show wrong on leap year"
Thai Buddish calendar show wrong on leap year in 2020.

![image](https://user-images.githubusercontent.com/7777538/74849727-a7cc1f80-536b-11ea-9298-bd2b013849f2.png)

[2020-02-19 16:38] sittshein commented on #5210
This save my day. thanks much.

[2020-02-19 18:39] sonicpro commented on #5656
@borriej, there is probably an issue with you code on https://stackblitz.com/edit/angular-9nrqgu.
`startDate` control has both `BsDatePickerInputDirective` validator as well as the built-in `required` validator. The first one is attached through `bsDatepicker` directive in `custom-input-date.component.html`, the second one - programatically in `app.component.ts` constructor.

`endDate` control, on

[2020-02-19 22:38] lizlux commented on #5678
@daniloff200 sorry about that. I've updated the link. Thanks!

[2020-02-20 07:43] #5656 closed, assigned to nobody

[2020-02-20 07:53] sonicpro commented on #5602
I am going to investigate this.

[2020-02-20 09:17] ABugajska commented on #5669
@tombultaho does your browser freeze after clicking datepicker input?

[2020-02-20 10:27] #5262 closed, assigned to nobody

[2020-02-20 10:27] #5542 closed, assigned to nobody

[2020-02-20 11:35] fawadtayyab123 opened #5680 "Today Date Button"
How can i add today date button to bsDatePicke that user can easily select today date.
Thanks

[2020-02-20 11:41] fawadtayyab123 commented on #4147
@ujjaldey  what if I've hundreds of date picker in my application?

[2020-02-20 12:10] daniloff200 commented on #5680
hey!

We don't have such functionality right now
But!

We have a PR for it (which right now kind a broken https://github.com/valor-software/ngx-bootstrap/pull/5024) and also, we gonna have in next version  https://github.com/valor-software/ngx-bootstrap/pull/5580 this functionality, which actually can be used, but, it's only for daterangepicker...

[2020-02-20 12:12] daniloff200 commented on #5679
Well, that looks weird :(

Unfortunately, we're not really have expertise with this kind of localisation, so, not sure, when it will be fixed. Perhaps, somebody from community can help with that

[2020-02-20 12:37] daniloff200 commented on #5678
@lizlux  yeah, I see
Well, gonna investigate what went wrong today. Thank you for reporting that!

[2020-02-20 13:17] arvindm95 commented on #5562
@daniloff200 If this feature is approved, Can I work on this?

[2020-02-20 13:30] daniloff200 commented on #5562
@arvindm95  yeah, that will be very cool!!!
Feel free to pick it, I very appreciate it!

[2020-02-20 14:51] belinef commented on #5676
Looks like issue should be rechecked after release.

[2020-02-20 16:44] daniloff200 commented on #5678
hey, @lizlux !
Thanks again for finding this. I'm not sure what went wrong with #5436 , that worked before, but, right now it's not
The same thing also happening not only for [datesDisabled] property, but also for others, and also not only for datepicker, but, for daterangepicker too.
I'm gonna create a PR with fixes, hope, it will be available in 5.6.0 version

[2020-02-20 16:48] daniloff200 commented on #5286
according to #5678 this issue is still reproducible  in the latest version (currently, 5.5.0)

PR with new fix was added #5681

Gonna reopen it for now

[2020-02-20 17:05] eserkansozer commented on #5149
Thanks very much, it worked!

[2020-02-20 18:50] sscots opened #5682 "bsDaterangepicker being set to invalid when no "required" attribute"
Bug description:
When I use the bsDaterangepicker component, it's marking the input field as invalid even though I am not adding the "required" attribute to the input tag

Plunker/StackBlitz that reproduces the issue:
https://stackblitz.com/edit/ngx-bootstrap-qzykjg?file=app%2Fapp.component.html

**Expected behavior**
I'm expecting it to not mark the ngForm as invalid

[2020-02-20 21:27] tatighm commented on #4757
I'm still trying to find a way to make the calendar not move from right to left whenever I choose a starting date on the right-side calendar. I can't have a minDate since we want to give the ability to users to pick from earlier dates, even months earlier. I know this issue is closed, but I still need to find a way around this. Any help would be appreciated :-)

[2020-02-21 04:13] lizlux opened #5683 "Inline datepicker on touch takes two taps to choose date"
Bug description:
On an iOS touch device you have to tap twice to select a date. Ideally you'd only have to touch once.

Plunker/StackBlitz that reproduces the issue:
This is reproducible by running the documentation site on an iOS device, i.e: https://valor-software.com/ngx-bootstrap/#/datepicker#inline-datepicker

Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap:
5.5

Angular:
8

[2020-02-21 07:30] IraErshova commented on #5682
@sscots Hi! Could you please provide a bit more information? Because I can't reproduce the issue in your Stackblitx example. There is just a date range picker and that's all. Maybe there are particular steps to reproduce the issue
![datepicker](https://user-images.githubusercontent.com/14790520/75013353-c37b1700-548c-11ea-9ff5-7985a512af37.gif)

[2020-02-21 08:30] #2044 closed

[2020-02-21 08:37] daniloff200 commented on #4757
set minDate  as 01-01-1970, for example.
Very strange workaround I should say, but, can be useful for your case @tatighm

[2020-02-21 12:15] #5541 closed, assigned to nobody

[2020-02-21 14:15] belinef commented on #5247
Hello @sri-ir, looks like issue is not reproducible, if i understand it correct
[Screen Recording 2020-02-21 at 4.11.26 PM.zip](https://github.com/valor-software/ngx-bootstrap/files/4236437/Screen.Recording.2020-02-21.at.4.11.26.PM.zip)

[2020-02-21 14:21] #5121 closed, assigned to daniloff200

[2020-02-21 14:39] Gustafssonz opened #5686 "Accordion [isOpen] isn't correctly responsive."
Bug description:
Using a Chevron Up/Down at the end of header, together with isAnimated it bugs out if pressed to fast on the button.

Plunker/StackBlitz that reproduces the issue:
https://stackblitz.com/edit/ngx-bootstrap-accordion-bug

Versions of ngx-bootstrap, Angular, and Bootstrap:
ngx-bootstrap: 5.5.0
angular: 9.0.2

**Expected behavior**
The accordion is expected to adjust the Chevron Up/D

[2020-02-21 15:53] daniloff200 commented on #5686
Well, yeah, that definitely works not 100% correct.
Looks like some issue with isAnimated, because, if turn this off via **[isAnimated]="false"**  value, the issue doesn't exist (at least, for me). Could you, please, confirm that too? @Gustafssonz

If so, then, if you don't need animation for Accordion, you can turn it off.
For other case, I'm gonna work on a fix started  from Monday

[2020-02-21 17:26] sscots commented on #5682
@IraErshova I've updated that link
https://stackblitz.com/edit/ngx-bootstrap-qzykjg?file=app%2Fapp.component.html

I've determined my issue. The bsDaterangepicker will return an invalid form field if it's ngModel is set to an empty array. If I set the ngModel value to "null" then it will mark that form field as valid.
If I clear that field out by selecting the value and deleting it, it should make

[2020-02-21 21:43] Gustafssonz commented on #5686
Hello @daniloff200 !
You are correct, turning isAnimated="false" is solving the problem but we really need that animation (otherwise our UX pepps will get mad).
I am a pretty new dev so it would be a nice learning for me if you could explain the steps you do to solve it later on :) (if it's too complex, otherwise I'll just read your PR).

[2020-02-21 22:39] tatighm commented on #4757
Thank you for your reply @daniloff200 but unfortunately, this did not work for me. Right now the two months that show when it opens is Feb and March. If I go back one month to show Jan and Feb and then choose the starting date from Feb, it will shift to now show Feb and March.

[2020-02-22 17:19] tahsincagrizorkol commented on #5669
i resolved this problem thank you so much for your message

[2020-02-22 19:49] daniloff200 commented on #5669
can I close this Issue then @tombultaho ?

[2020-02-24 08:36] IraErshova commented on #5686
@daniloff200 We have to check this issue with [this PR](https://github.com/valor-software/ngx-bootstrap/pull/5675/files). Maybe it resolves the problem.

[2020-02-24 13:46] daniloff200 commented on #5679
I'm actually had found a place, where it happened, gonna try to fix it started from Tuesday

[2020-02-25 08:33] sonicpro commented on #5682
I'm going to look at this.

[2020-02-25 09:11] daniloff200 commented on #5049
I don't recommend that. 3.0.0 is a very old one, and it's better to update to latest version
If you facing any issues with that, open a new github issue, and provide some code / steps to reproduce, and we will try to help you with a fix for it

[2020-02-25 10:18] sonicpro commented on #5609
I am going to look into this.

[2020-02-25 12:08] sonicpro commented on #5609
@KernelLora, could you please provide some details so that we will be able to resolve the issue with the minimal effort?

I admit that the factory functions used in the UMD module definitions located in <pre>node_modules/ngx-bootstrap/\*/bundles/*.umd.js</pre> files contain redundant 'ngx-bootstrap' namespace with a number of properties one for each loaded module. I guess that this is the case onl

[2020-02-25 13:28] sonicpro commented on #5586
I am going to look into this.

[2020-02-25 13:42] eugene-gv2 opened #5690 "Error on multiple timepickers"
Bug description:
Multiple timepickers on one page give **ExpressionChangedAfterItHasBeenCheckedError** and sets same time on all timepickers
![image](https://user-images.githubusercontent.com/57916792/75252099-04589000-57ed-11ea-8b2a-4b1518660a7d.png)

Plunker/StackBlitz that reproduces the issue:
Forked Custom validation app and added multiple timepickers with *ngFor.
https://stackblitz.com/edit/

[2020-02-25 14:54] gr8white commented on #5262
Any idea when the updates from #5580 will be in use for the public?

[2020-02-25 14:57] daniloff200 commented on #5262
hey @gr8white , that will be a next version (5.6.0)
I suppose, that will be after Friday's release, or, in the worst case, next week

[2020-02-25 15:11] #5286 closed, assigned to daniloff200

[2020-02-25 15:11] #5678 closed, assigned to daniloff200

[2020-02-25 17:11] ghost opened #5692 "error NG6002: Appears in the NgModule.imports of AdminModule, but itself has errors"
**Description:**

importing datepicker module gives error NG6002:

error NG6002: Appears in the NgModule.imports of AdminModule, but itself has errors

[2020-02-25 18:40] JollyKrampus commented on #2563
This is not a great solution, but what I ended up doing was having the backend return another property that could be used for the typeaheadOptionsField.

[2020-02-25 22:30] malkaviano commented on #5585
At least fix the documentation, only one import works.

[2020-02-26 05:45] chinthu commented on #4585
Did you got solution for this ?

[2020-02-26 09:09] daniloff200 commented on #5585
I think, that was updated in https://github.com/valor-software/ngx-bootstrap/pull/5663 and in next release docs will contain information, about not using old kind of imports with NG9

[2020-02-26 09:09] #5585 closed, assigned to nobody

[2020-02-26 12:29] #5686 closed, assigned to daniloff200

[2020-02-26 14:56] hemanth-sp commented on #4585
no. i used airbnb calender

[2020-02-26 14:57] #5360 closed, assigned to daniloff200

[2020-02-26 17:02] chinthu commented on #4585
But is there angular version available for that ?

[2020-02-26 17:27] hemanth-sp commented on #4585
its just warpper of react calender but good

[2020-02-26 17:39] chinthu commented on #4585
@hemanth-sp Anyway to find it online ?

[2020-02-27 03:17] ddawsari commented on #5560
Did you get your answer on this?

[2020-02-27 07:59] arun-maddheshia opened #5693 "Display tooltip on selected date in datepicker"
**Is your feature request related to a problem? Please describe.**
I need to display tooltip on custom dates. Is there any existing method exist in https://valor-software.com/ngx-bootstrap/#/datepicker#date-custom-classes

**Describe the solution you'd like**
Good to have option like Content Template so we can replace the content of the datepicker.

[code]

**Or**

more config options to pass tool

[2020-02-27 11:57] #5035 closed, assigned to nobody

[2020-02-27 12:09] imtiazShakil opened #5695 "Typeahead slows down when list increases more than 500"
Bug description:
Typeahead takes a lot of time to render list when `typeaheadOptionsLimit` gets more than 500. When performing performance check in chrome browser we can see sometime it takes more than couple of seconds.

StackBlitz: https://stackblitz.com/edit/ngx-bootstrap-typeahead-angular-8-bug?embed=1&file=src/app/app.component.html

Versions:

- ngx-bootstrap: ^5.2.0

- Angular: ^8.3.13

Bui

[2020-02-27 12:18] UdayAppam commented on #5609
@sonicpro
`global['ngx-bootstrap']['modal']={}` --> This is how modal object created but accessing in other module is `global['modal'] `

[2020-02-27 13:32] sonicpro commented on #5695
I'm going to look into this.

[2020-02-27 14:07] daniloff200 commented on #5695
it was discussed in https://github.com/valor-software/ngx-bootstrap/issues/5309

I suggest to upgrade to 5.5.0, but, even with that version performance will be not 100% cool

[2020-02-27 16:11] cwilsn commented on #5562
@arvindm95 - the opposite of this would be super helpful for us.  We need a way to enforce a minimum date range (eg user must pick at least a week).  Is that something that could be easily worked in while you are on it?

[2020-02-28 03:20] jonathansoong15 commented on #5679
I'm experiencing this problem as well. Thanks a lot in fixing the issue @daniloff200. May I know how long it takes for the fix to be available in the coming release?

[2020-02-28 06:38] UdayAppam commented on #5170
Any update on this ?

[2020-02-28 08:18] pradeepbp1310 commented on #3348
any workaround for this yet?

[2020-02-28 08:23] sonicpro commented on #5693
I am going to look at this.

[2020-02-28 08:39] UdayAppam commented on #4540
Any solution for left and right position adjustment ?
![image](https://user-images.githubusercontent.com/10434967/75524468-f9437100-5a33-11ea-92c8-84200b645752.png)

[2020-02-28 09:21] daniloff200 commented on #5679
not sure exactly, @jonathansoong15 ,  the work is still in progress on that issue.
Also, I don't know exactly where will be the next release, and will I able to finish this issue before the release

[2020-02-28 14:17] #5217 closed, assigned to nobody

[2020-02-28 14:50] kvetis opened #5697 "Cannot use timepicker controls when min date changes"
### Bug description
Cannot use icons nor arrow keys after a new minDate is set making the value outside the valid range. The value is not marked as invalid.

### Plunker/StackBlitz that reproduces the issue
https://stackblitz.com/edit/timepickert-validation-error?file=app%2Fmin-max.html

### Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 5.5.0

Angular: 8 (stackblitz), 9

Boots

[2020-02-28 16:36] evgenyfedorenko commented on #3031
We are using ng2-select in our app but it looks like it is not supported anymore.
We want to update to Angular 9 and ng2-select does not support Ivy.
Is typeahead is something we could use instead? Are there any features which typeahead is missing which are present in ng2-select?

Thank you.

[2020-02-28 19:34] ofeliperr commented on #5653
Thank you! importing BsDatepickerModule this way worked here!

[2020-02-29 20:24] #5586 closed, assigned to nobody

[2020-03-01 20:45] drakulis commented on #3155
@whafrog
**gufigueiredo** solution works fine with lazy loaded modules. Just add it to `app.module.ts` (tested on Angular 9, ngx-bootstrap 5.5.0)

[2020-03-02 07:44] sonicpro commented on #5697
I am going to look at this.

[2020-03-02 10:26] imtiazShakil commented on #5695
latest npm version (5.3.2) is behind current version (5.5.0).

Please update npm version, so we can atleast have less than 100% coolness ;)

[2020-03-02 10:54] iamsahilralkar commented on #5666
@daniloff200

Please follow the following way to reproduce the issue

In your second date-picker which has following config { dateInputFormat: 'DD MMM YYYY' }

Please pass following inputs

1. '30 oct 1995'. it gives proper output like '30 Oct 1995'
2. then pass the 30 10 1995. It gives the wrong output like '30 Jan 1995'

It conflict in only month.

Note: Please try twice thrice to reproduce it.

[2020-03-02 11:15] gbertoncelli commented on #2563
Why is this closed?

[2020-03-02 13:45] Omerrajab opened #5699 "Tooltip shows Cannot read property 'removeChild' of null on clicking button"
core.js:15724 ERROR TypeError: Cannot read property 'removeChild' of null
    at ComponentLoader.push../node_modules/ngx-bootstrap/component-loader/fesm5/ngx-bootstrap-component-loader.js.ComponentLoader.hide (ngx-bootstrap-component-loader.js:226)
    at ngx-bootstrap-component-loader.js:291
    at HTMLButtonElement.<anonymous> (platform-browser.js:993)
    at ZoneDelegate.push../node_modules/zon

[2020-03-02 14:45] Polantaris commented on #5340
Why was this changed when this was previously supported?

https://github.com/valor-software/ngx-bootstrap/issues/3721

I'm in the middle of an upgrade cycle, mixed placement was completely supported in a previous version and has been removed. I don't understand why this would not be supported anymore, handling this kind of thing through CSS is extremely wasteful and tricky to implement due to vari

[2020-03-02 15:22] #3595 closed

[2020-03-02 19:35] ddfourni commented on #5309
I think the "can be closed?" label should be removed from this issue.

[2020-03-03 04:31] arun-maddheshia commented on #5693
hi @sonicpro are you working on it sorry to ask but i have some requirement of this utility.

[2020-03-05 01:35] damiandennis opened #5702 "ERROR in Symbol BsDaterangepickerInlineContainerComponent"
Upgraded to Angular V9 and getting the following error, I also upgraded to latest version of ngx-bootstrap 5.5.0.

ERROR in Symbol BsDaterangepickerInlineContainerComponent declared in /path/to/project/node-modules/ngx-bootstrap/datepicker/themes/bs/bs-daterangepicker-inline-container.component.d.ts is not exported from ngx-bootstrap (import into /path/to/project/src/app/components/jobs/jobs.compo

[2020-03-05 05:05] Et3rnal opened #5703 "Allow one instance of same modal"
Is there a way to detect if a certain modal is already open or not? manly to prevent duplicate.
otherwise is there a way to access all instances of a component modal? or at least be able to close all instances of the same modal?

[2020-03-05 07:40] Et3rnal commented on #5703
Okay I did, not sure if we have a better way

If anyone intersted, I defined `isAuthModalOpen: boolean = false;`

used the events to track
[code]

I noticed `onHidden` isn't firing always, I didn't look much into it instead I did
[code]

So far its working just fine.

[2020-03-05 07:40] #5703 closed, assigned to nobody

[2020-03-05 09:28] daniloff200 commented on #5702
I think, that can be related to https://github.com/valor-software/ngx-bootstrap/issues/5653

Can you check the solution, described  here?

[2020-03-05 09:55] UdayAppam opened #5704 "customTodayClass: should accept the multiple classes"
Feature request:
Datepicker custom current today class should take multiple classes.

Versions of ngx-bootstrap, Angular
ngx-bootstrap: 5.4

Angular: 7.2.2

[2020-03-05 11:05] Totati opened #5705 "bsDatepicker adaptivePosition does not respect x-axis and overflows."
**Bug description:**
Datepickers on the side of the page are still centered relative to the input, this causes the pickers to overflow the body. On the right it causes scrolling, on the left if just unusable.

[StackBlitz ](https://stackblitz.com/edit/ngx-bootstrap-datepicker-adaptive-position)that reproduces the issue.

**Versions of ngx-bootstrap, Angular, and Bootstrap:**
ngx-bootstrap: "ngx-bo

[2020-03-05 11:54] deejing commented on #4832
Maybe like this?
https://stackblitz.com/edit/angular-x6uv1f

[2020-03-05 12:06] Adam-Michalski commented on #5153
Setting `[container]="'body'"` in 5.5.0 does not resolve issue without additional styles
[code]
This issue workaround is needed in 5.1.2 and 5.5.0, no changes here.

 `ncu`
 `ngx-bootstrap  ^5.1.2  →     ^5.5.0`

So I think this issue still needs some work.

[2020-03-05 15:32] 1-0-1 commented on #5702
That solution isn't working for me.  It builds fine, but I get the message when I try to use ng serve.  This is for a library project.

[2020-03-05 20:17] damiandennis commented on #5702
This does not work for me, I checked the definition file and its missing
[code]

[2020-03-05 20:28] damiandennis commented on #5702
actually that did work for me, at first I thought it did not as I was importing wrong module from wrong file.

[2020-03-05 20:28] #5702 closed, assigned to nobody

[2020-03-06 03:13] Et3rnal commented on #5703
I faced a problem with events as they fire with all models without any indicator. so I stopped using them
[code]

[2020-03-06 09:34] classicmike opened #5707 "[BUG] - Tooltip position itself incorrectly when element to have tooltip is inside of a 'scrollable div'."
### Bug description:
We are using ngx-bootstrap to replicate Bootstrap's tooltips and we are experiencing bugs where the calculated postioning of the tooltip is incorrect, resulting in it being rendered at the wrong place. This only happens inside divs that have scrollable overflows such as ```overflow: auto```.

Here's the bug in action:
<img width="462" alt="Screen Shot 2020-03-06 at 8 08 48 pm"

[2020-03-06 09:42] imben1109 commented on #5693
could we do by existing datepicker component?

[2020-03-06 14:44] pepr2018 commented on #5095
Same problem. Anyone?

[2020-03-06 14:49] pepr2018 commented on #5549
Same problem.

[2020-03-09 10:17] shanmukhateja commented on #5704
Hi, I would like to work on this.

I have a rough implementation which adds support for multiple classes to `customTodayClass` field.

I'm having trouble with creating tests for this.

Some help?

[2020-03-09 14:29] SelmaAhmetovic opened #5708 "BsDatepicker position is not fixed IE"
BsDatepicker position is not fixed IE

Bug description:
When you click on input datepicker is showed not directly above input, but it's position is changing when you scroll the page
https://drive.google.com/drive/folders/12G39GpIQpan7QKnt5Vl3Zo7i3Rug3yP-?usp=sharing

ngx bootrsrap ~5.5.0
ngx-malihu-scrollbar ^9.0.0
angular ~8.2.10
boostrap ^4.4.1
angular cli ~8.3.9
node 10.15.1
os win10 64bit

exp

[2020-03-09 14:31] spahicharis commented on #5708
I am facing same issue.

[2020-03-09 19:40] kondareddyyaramala commented on #5408
Same issue seems to be happening for popovers and typeahead's too.

[2020-03-10 10:13] aleksander351 opened #5709 "Positioning service of popover (container set to body) not working if modal body is scrollable"
Bug description:
If modal body is scrollable, the popover is contained inside the modal, even though popover container is set to body.

Plunker/StackBlitz that reproduces the issue:
https://stackblitz.com/edit/angular-zhjqbs

Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 5.5.0

Angular: 8.0

Bootstrap: 4.0

Build system: Angular CLI, System.js, webpack, starter seed:

**Expect

[2020-03-10 11:14] aleksander351 commented on #5709
https://github.com/valor-software/ngx-bootstrap/issues/5707
https://github.com/valor-software/ngx-bootstrap/issues/5705

those are related...

[2020-03-10 13:32] #4786 closed, assigned to daniloff200

[2020-03-10 15:13] redplane commented on #5095
Nearly one year :D and the problem is still here.

[2020-03-10 19:10] learnuser521 opened #5710 "Date format not working on initial state"
Bug description:
Datepicker and datepicker range is not applying the date format when the date is initially set.

dateInput format is set as 'MMMM Do YYYY, h:mm:ss a' but the default 'MM-DD-YYYY' is getting applied.

Plunker/StackBlitz that reproduces the issue:
https://stackblitz.com/edit/ngx-bootstrap-9mc4h9

[2020-03-10 21:13] artoodeeto opened #5711 "Modal body with long content delays closing"
Bug description:

I have a button that calls the modal to open, inside the modal I have another button that will show the content of the modal-body depending on the button that was clicked. Now the weird part is when I close the modal with simple content like: `<h1 *ngIf="test"> Problematic modal </h1>`  the delay is just right it closes that modal at the right time but when I have this kind of co

[2020-03-10 21:43] artoodeeto commented on #5711
ahhh its this `getter` code:

[code]
PS: this is not mine but im going to refactor this. Closing this. Thank you!

[2020-03-11 15:56] artoodeeto commented on #5711
Hello, I'm reopening this issue because I think this is a bug.

In our modal, we have this part of the code (I DONT KNOW WhY)

[code]

then If I close the modal it will have a delay, a long delay that sometimes will leave the user hanging.

**Expected Behavior:**

If a modal is closed regardless if there is an async call it should just remove the modal element. Or if there's an async call inside t

[2020-03-12 09:24] #582 closed

[2020-03-12 09:26] arun-maddheshia commented on #5693
@sonicpro any progress ?

[2020-03-12 09:32] daniloff200 commented on #5693
Unfortunately, @sonicpro  will not able to work on that anymore.
Hope to pick that soon, but, not sure, when it will be finished, and released.

cc @arun-maddheshia

[2020-03-12 13:33] nmehlei commented on #5320
This would be extremely helpful as otherwise each code that tries to create the modal component would have to know implementation details like css classes, thus way too much tight coupling.

[2020-03-12 14:12] shaozi opened #5713 "Unknown option: '--component'"
Probably just a document issue. When use `ng add` as in the document states, it has the following error:

[code]

Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 5.5.0

Angular: 9.0.4

Bootstrap: 4.4.1

Build system: Angular CLI

**Expected behavior**

there is no '--component' option in the latest `ng add` command. Ether an alternative way needs to be added to install the compo

[2020-03-12 17:00] KusokBanana commented on #5710
Same trouble

[2020-03-12 17:21] vvolodin commented on #2563
What makes this worse is that currently in 5.5.0 typeahead tries to filter my results from the server using this field, effectively breaking my multiple fields search functionality.

[2020-03-13 09:14] afeef1915 commented on #5596
Thanks for the answer.

My issue was i need to use multiple date format .

14-4-2019  should be converted to 14-april-2019
14/4/2019  should be converted to 14-april-2019
14.4.2019  should be converted to 14-april-2019

etc

I know input is custom date format that's why it only support single date format.

refrence
https://stackoverflow.com/questions/59942688/elementref-is-not-working-angular-8-wi

[2020-03-13 18:09] Pingolus opened #5714 "Inline datepicker fails to update some props (minMode, daysDisabled)"
I'd like to update minMode at runtime with inline datepicker but it seems this is not working.

Demo  : https://stackblitz.com/edit/angular-7rl1ry

I tried to guess where's the problem, I saw that inline directive doest not have input for minMode ; whereas standard directive has ; I don't know why ?

EDIT : Same behavior for daysDisabled prop. So inline datepicker has not the same update behavior

[2020-03-14 14:30] tumit commented on #5679
Hi @cityhunter44  @daniloff200

I am the person who PR this feature and after analyze this problem I think I found solution for this issue at https://github.com/valor-software/ngx-bootstrap/pull/5715

if this look good enough please use this code.

Thanks

[2020-03-15 18:07] shomid opened #5716 "twice load image in slide on carousel with angular universal 9"
i have a carousel in home page for show multiple image.
but any image twice loading.
i use of angular ssr 9(ivy) and ngx-bootstrap 5.5.0.

    <carousel class="w-100 h-100">
     <slide *ngFor="let slider of sliderList; trackBy: trackById">
       <a [href]="slider.link" title="{{ slider.title }}">
         <img [src]="slider.pic" class="img-fluid img-cover w-100" alt="{{ slider.title }}">

[2020-03-16 06:54] augustovandyk opened #5717 "Datepicker: Min-mode year alignment not in center"
I did look for duplicates but couldn't find anything that is still open, so please forgive me if there is anything.

Bug description:

This can be found on your website:
https://valor-software.com/ngx-bootstrap/#/datepicker

Click on "Date Picker" under the Min-mode header an look at the year at the top of the datepicker.

ngx-bootstrap: 5.3.2 -> 5.5.0,

Angular: 9.0.1

Bootstrap: 4.4.1

Build sys

[2020-03-16 08:06] Pingolus commented on #5717
Waiting for a fix, I just added in my CSS :

[code]
Nav buttons are centered too but it's better.

[2020-03-16 10:26] #5679 closed, assigned to tumit, daniloff200

[2020-03-17 12:16] andrejm7 opened #5718 "popover size CSS"
Good Morning,
friends how can i increase my popover?
look at the example below please ..

https://stackblitz.com/edit/ngx-bootstrap-popover-cih566?file=src%2Fapp%2Fngx-bootstrap%2Fngx-bootstrap.component.html

[2020-03-17 14:13] KirillMetrik commented on #5624
@IraErshova do you please have any estimate on when this revert will be released? Latest released version is 5.5.0 (28 Jan). We're suffering from the broken filtering too.

[2020-03-17 15:59] ghost opened #5719 "Setting default options for Modal?"
**Description:**

How could I set modal default options, in other words, override `modalConfigDefaults`?

There is a [way](https://valor-software.com/ngx-bootstrap/#/tooltip#config-defaults) to do it for Tooltip component. Could we achieve a such with Modal?
Thanks.

[2020-03-17 16:27] cenahere opened #5720 "Added id parameter in tab using ngx-bootstrap in angular"
i want when i press this button

`<button [routerLink]="['/admin/class/',u.classId]">  Show Student   </button>`

to be opened in this tab

` <tab heading=" show class students by id">
    <div >
        <app-user-class-details [userClass]='userClass' ></app-user-class-details>
    </div>
</tab> `
if is that possible and how if it possible and many thanks for efforts

[2020-03-17 16:36] andrejm7 commented on #5718
https://stackblitz.com/edit/ngx-bootstrap-popover-nrdogi?file=src/styles.css

its ok!

[2020-03-18 12:09] pbaukov commented on #2563
@vvolodin I haven't used typeaheadOptionsField at all, and my custom async typeahead seems to be broken after upgrading to 5.5.0. Have you managed to solve it somehow maybe?

[2020-03-18 12:11] vvolodin commented on #2563
Sure, the fix is very simple - downgrade :) `"ngx-bootstrap": "~5.4.0",`
I've checked the source code and this new behavior was introduced in 5.5.0 and it's already fixed in the current development branch, should be fine in the next release. So, again, just avoid using 5.5.0 if you can.

[2020-03-18 12:11] daniloff200 commented on #5714
I think, that it can be related to issues, fixed in https://github.com/valor-software/ngx-bootstrap/pull/5681 , but, this fix was not released yet.

I hope that new version will be this or next week

[2020-03-18 14:23] tahsincagrizorkol commented on #5669
of course.. thank you for everything

[2020-03-18 14:39] #5669 closed, assigned to daniloff200

[2020-03-18 19:39] atifrd opened #5721 "datePicker inside popover"
i have a datepicker inside popover.popover should close by clicking outside:  [outsideClick]="true"
by selecting a day datepicker close popover too and it's because datepicker panel opens outside of popover.
is it possible to prevent closing popover after selecting date in datepicker?

[2020-03-19 15:46] daniloff200 commented on #2563
5.6.0 was released today with **next** tag, so, you can use it :)

@vvolodin @pbaukov

[2020-03-19 15:47] daniloff200 commented on #5679
Released in 5.6.0

[2020-03-20 10:38] Avcajaraville opened #5723 "Dynamic itemsPerSlide on carousel"
**Is your feature request related to a problem? Please describe.**

Due to client requests, we need to be able to switch dynamically `itemsPerSlide`. The use case would be to have a multilist carousel. For desktop we will have N itemsPerSlide, but on mobile, we just want one slide active at the time.

**Describe the solution you'd like**

I would like to be able to call a public method on the comp

[2020-03-22 13:38] soorajps commented on #5721
I am looking for this functionality.

[2020-03-23 07:59] Layera1 opened #5724 "Datepicker- Wrong week numbers in 2021"
Datepicker is showing wrong week numbers in 2021.

![image](https://user-images.githubusercontent.com/62538488/77294250-3540bd80-6ce4-11ea-8797-f5ce89e2702a.png)

2020 is missing week 53 therefor all weeks in 2021 are off by one.

[2020-03-23 09:04] daniloff200 commented on #5724
woah, thanks for finding this!

Gonna try to fix it in the nearest time

[2020-03-23 14:31] rruffer opened #5725 "Slow closing of the modal in relation to the original bootstrap"
Is it possible to increase the fade in speed of the modal? speed is normal. but there is a certain slowness when closing. Just test the bootstrap and component modes. The opening is the same time. But closing the component is slower. This is bad when you are going to do very dynamic things.

Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 5.6.0

Angular: 9

Bootstrap: 4.3.1

[2020-03-24 21:37] aborderon opened #5726 "Tootltip not show on angular element"
ngx-bootstrap: 5.5.0
Angular: 8
Bootstrap: 4.4.1
Build system: Angular CLI

**Expected behavior**

Hello,

I come here because I have a problem that I cannot solve, I think it is a bug.

I use ngx-bootstrap on an Angular project and in this project I have an angular element project which allows me to integrate my angular project using html element and a js bundle.

Here is my angular.json file:

[

[2020-03-24 21:52] Daniyar111 opened #5727 "Lose height of <ul> with ngFor in Dropdown component"
Simple dropdown component ->
[code]
which looks like
![image](https://user-images.githubusercontent.com/38062694/77479634-5ae7d700-6e4a-11ea-9691-472e792acd6f.png)
And after adding *ngFor ->
[code]
and it looks ->
![image](https://user-images.githubusercontent.com/38062694/77479782-a601ea00-6e4a-11ea-9971-4722d2aa9492.png)
If we inspect element.. we see that there are 8 elements in list
![image](h

[2020-03-24 21:59] robtong21 commented on #1707
`/deep/` did not work for me using .scss file in Angular 9. Anything else???

[2020-03-25 08:53] jyotisingh144 commented on #1877
is there any example of this resolution available on stackblitz

[2020-03-25 09:53] nathanosdev commented on #5128
I agree that this is an issue on the ngx-bootstrap side. The ngModel should only have date objects, not strings. However I was able to work around this.

I made a component that implements NG_VALUE_ACCESSOR and from there I was able to cover up the "Invalid date" string from ngx-bootstrap.

First on the model, instead of saving "Invalid date", I will just save null instead. Then on the input itsel

[2020-03-25 11:26] Daniyar111 opened #5729 "Daterangepicker not setting initial value"
In 5.5.0, when I set initial value to formGroup bsDateRangePicker, it shows in form but not choose in picker.. While in 5.2.0 it chooses perfectly.. Here is a code
[code]
[code]

[2020-03-25 11:40] Daniyar111 commented on #5729
pardon... this is my mistake

[2020-03-25 11:40] #5729 closed, assigned to nobody

[2020-03-25 12:41] devailtonmereo opened #5730 "Daterangepicker problems when compiling (--prod)"
Versions of ngx-bootstrap, Angular, and Bootstrap:

ngx-bootstrap: 5.6.0

Angular: 8.2.14

Bootstrap: 3.4.1

_______________________________________________________________________________________________________

I'm trying to compile the project and I get an error on the console, the error is in the Daterangepicker component.

I noticed that the error is in the json file (ngx-bootstrap-datepicke

[2020-03-25 13:58] rzubov-devpro commented on #2077
Possible solution for this one:
[code]

[code]

[2020-03-25 19:36] An-MS commented on #5587
Hi @daniloff200
Got any news about this feature?

[2020-03-26 16:07] Exocomp opened #5731 "Angular 9.1.0 ngcc error NG1010: Expected array when reading the NgModule.declarations of BsDatepickerModule"
Angular (latest v9.1.0)
ngx-bootstrap (latest v 5.5.0)

This started when I upgraded Angular from 9.0.6 -> 9.1.0.

ngcc throws the following error

[code]

[2020-03-26 16:35] daniloff200 commented on #5730
hey @devailtonmereo

I should say, that, chosenRange is a new property, which was added in https://github.com/valor-software/ngx-bootstrap/pull/5580, and that's only for daterangepicker, not for datepicker.

Can you show me the code snippet, when you use a datepicker / daterangepicker?
Did you  use  **ranges** property there ?

I've also tried to build a production build for our demo application,

[2020-03-26 16:39] daniloff200 commented on #5731
Hello, @Exocomp

Version 5.5.0 doesn't support NG9 at all, and we had bunch of issues with that
5.6.0 should handle it.

Can you try to update to 5.6.0?

Also, it will be very cool, if you provide some demo via  [Stackblitz](https://stackblitz.com/edit/ngx-bootstrap?file=app%2Fapp.module.ts)

[2020-03-26 19:18] devailtonmereo commented on #5730
Good afternoon!

I did a test project here on github. Any questions I put the steps in the **README**.

You just need to import the _Datepicker_  into the project and compile the application with the **--prod** that the error already appears.

https://github.com/Devailton/angular-vicgyv

Error:
![image](https://user-images.githubusercontent.com/59028430/77687708-9931e300-6f7d-11ea-9546-cb9f88e78c3

[2020-03-26 20:12] john-- commented on #5402
@binarybang did you ever resolve your issue? I'm running into this issue after an Angular upgrade and it feels like a conflict with some other parts of the application, but it's difficult to narrow down. Oddly enough for us it's only reproducible in the production environment.

[2020-03-26 21:07] xerocostdistraction commented on #5402
@john-- Nah, in the end we replaced the calendar with the Angular Material one with some additional styling.

[2020-03-26 22:17] john-- commented on #5402
@binarybang thanks! I might resort to doing the same thing.

[2020-03-26 22:36] Exocomp commented on #5731
@daniloff200 I tried 5.6.0 but I can still reproduce it with my project.

I'll try to reproduce it with a new project.

[2020-03-26 23:05] Exocomp commented on #5731
@daniloff200

This is a new angular project with ngx-bootstrap:

* Clone https://github.com/Exocomp/angular-ngx-bootstrap-issue5731.git
* cd angular-ngx-bootstrap-issue5731
* npm install
* Get error while ngcc is running

[2020-03-27 10:55] aborderon commented on #5726
I have the same problem with the Carousel component ...

[2020-03-27 11:27] charlenebuena commented on #1707
Nothing is working for me from the aforementioned as well. Working with Angular 9

[2020-03-27 12:22] 82antu commented on #5731
Hi,

seems that, according to https://github.com/angular/angular/pull/34661

"libraries using spread in object literals cannot be processed".

I suppose this is the case of BsDatepickerModule, where spread syntax is used

[2020-03-27 12:46] daniloff200 commented on #5731
yeah, I also saw that right now, and tried to remove the spread from there, and ngcc compilation was successful
Gonna create a PR today with a fix

[2020-03-27 13:59] charan-r opened #5733 "popover svg support"
popover is not working on svg
 I need to trigger  [popover]="popTemplate" on <svg:g tag, but popover is not triggering,
"Thanks in advance"

[2020-03-27 15:37] #5731 closed, assigned to nobody

[2020-03-27 17:01] shayaneumar-mitel commented on #5731
@daniloff200 I also faced the same issue while upgrading our application to angular 9. Looks like the fix is already merged, when can expect this changes to be published?

[2020-03-27 18:31] daniloff200 commented on #5731
We need @valorkin  for it :) :clap:

[2020-03-27 18:33] valorkin commented on #5731
It will be released before Monday

[2020-03-27 22:36] pmelisko opened #5734 "Npm latest version 5.5.0 instead of 5.6.0"
**Description:**
Hello, thanks for great work. There is some problem with npm publish, it still shows latest version 5.5.0, last deploy 8 days ago, version 5.6.0 tag created 8 days ago
<img width="927" alt="Screenshot 2020-03-27 at 23 34 31" src="https://user-images.githubusercontent.com/10432801/77805986-adf89e80-7083-11ea-83c2-ab0a54818d25.png">

[2020-03-29 08:01] ravikank commented on #5713
I am also facing exactly the same issue. Is there any alternate way to add the component to angular project?

[2020-03-30 06:28] jarekkowol opened #5735 "Problem with import BsDaterangepickerInlineConfig in 5.6 version"
Bug description:
After upgrading to ngx-bootstrap to 5.6, I can't build the application. Problem with import BsDaterangepickerInlineConfig. Detailed description below:

That's how I import the package. (I think that's good)
<pre><code>
import {BsDatepickerModule} from 'ngx-bootstrap/datepicker';

imports: [
    BsDatepickerModule.forRoot(),
    ...
],

</code></pre>

<pre><code>
$ ng build --prod

[2020-03-30 09:43] Louer-un-manager commented on #5006
Min mode is not working with DateRangePicker. Someone find a solution?
For my part i created two calendars in Min Mode Month, then selecting the first Year and Month in the first calendar will create a [minDate]="minDate" with the minDate of the first calendar.

[code]

[code]

[2020-03-30 10:50] rgbweb opened #5736 "Error with onBlur in empty Typeahead"
Hi,

my browser console points me to an error when I focus and unfocus a Typeahead input field without typing anything into it.

This is repoducable with all example inputs at the official docs page:
https://valor-software.com/ngx-bootstrap/#/typeahead

Repro steps:
1. Open the console of your browser developer tools
2. Set your cursor into the first example input to focus it
3. (DO NOT type anyth

[2020-03-30 17:11] gongAll commented on #551
Almost 4 years later... Any updates?
Would be worth noting this is the 5th oldest open issue of this library. ^.^

[2020-03-30 21:03] jholm117 commented on #5731
@valorkin I did not see it get released yet. Is there a revised timeline?

[2020-03-31 06:33] boloboloda commented on #5736
same issue.

[2020-03-31 16:58] daniloff200 commented on #5734
It shows latest version, but, 5.6.0 was with a next tag
Right now we have 5.6.1 as a next with some important build fixes , if you're using Angular 9

[2020-03-31 23:22] DerekLiang opened #5738 "With reactive form, Datepicker does not synchronize the value in the input box and its model when maxDate (minDate) is set and input is invalid"
Bug description:
Datepicker does not synchronize the value in the input box and its model when maxDate (minDate) is set and input is invalid.

Plunker/StackBlitz that reproduces the issue:
https://stackblitz.com/edit/angular-tpf4gl?file=app/ngx-bootstrap-demo.component.ts

ngx-bootstrap: 5.5.0

Angular: 9

Bootstrap: 4

1. choose a date from the date picker input box, for example ' 03/31/2020'
2.

[2020-04-01 04:42] Kitetop opened #5739 "It seems that there is something wrong with the combination of pagination components and mat-dialog"
**Description:**
## When I open the dialog，The button on the previous page will be shaded
![image](https://user-images.githubusercontent.com/33886685/78098825-ae41c280-7412-11ea-8d33-2171734a11ca.png)
## There is my code:
![image](https://user-images.githubusercontent.com/33886685/78099779-915abe80-7415-11ea-82cf-395fd5095aa6.png)
## Version Info
angular version: 7.3.9
ngx-bootstrap: 5.5.0

[2020-04-01 07:28] Kitetop commented on #5739
I found that tabIndex was responsible for this(maybe not), the pagination componet set tabIndex=-1, but The first button is selected; Now I write a null div，set this div tabIbdex=1, like that：
![image](https://user-images.githubusercontent.com/33886685/78110278-3a60e380-742d-11ea-85d5-1760a73fb743.png)
Looking forward to a more elegant solution, or determining if the cause of the problem is as I t

[2020-04-01 08:42] cantacell opened #5740 "5.6.1 Error compiling with "fullTemplateTypeCheck": true"
Angular CLI: 8.3.25
Node: 10.15.0
OS: win32 x64
Angular: 8.2.14
... animations, common, compiler, compiler-cli, core, forms
... language-service, platform-browser, platform-browser-dynamic
... platform-server, router, service-worker

Package                                    Version
--------------------------------------------------------------------
@angular-devkit/architect                  0.8

[2020-04-01 11:46] wautersj opened #5741 "Set startingDay"
**Is your feature request related to a problem? Please describe.**

There is no way to set the week's startingDay apart from the locale.
Almost any calendar app, or app that has a calendar feature, lets you configure that in a sort of settings page.

**Describe the solution you'd like**

Set the startingDay property (globally) in a way it can also be updated from user input.

(let's say, for examp

[2020-04-01 12:09] ghost commented on #5713
Workaround:
Install ngx-bootstrap from npm
`npm install ngx-bootstrap --save`

Add needed package to NgModule imports:

[code]

[2020-04-01 13:10] jeserkin commented on #2618
@shriniwassurve your solution works fine, except one thing. You had to make `modalRefs` property `static`. The it is not instantiated again between different service instances.

Also it is wise to consider empty modalRef list after you close them. If I am not mistaken, then once you open it again it will create new modalRef instance. So there is no point in keeping old references after hiding in m

[2020-04-01 14:01] rekna1 opened #5742 "Preparse date for DatePicker"
**Description:**
Is it possible when one enters a date directly into the input field to preparse the date ?
Before I started using datepicker from ngx-bootstrap, our previous (non angular ) date picker allowed us to preparse the date before it was handled by de date picker component.

It allowed the users to enter some 'shortcut' values e.g.
* 2020 would be adjusted to 1 jan 2020
* 3/2020 would be

[2020-04-01 17:15] NenadJovicic opened #5743 "Create Select Component"
**Is your feature request related to a problem? Please describe.**

What would be nice to have as a new component is `<select></select>` where you can store as a value whole object that you have.

Because, I like this package for bootstrap, but I have to manually create my `select` tag and to track items by index and change objects manually every time when I use `select`
because default html `sele

[2020-04-01 20:05] tatighm commented on #1437
Has this been resolved yet? Any updates?

[2020-04-01 20:15] devailtonmereo commented on #5740
Related:
#5730

[2020-04-02 11:17] ersimont opened #5744 "Angular 9 Support"
This feature request is not any kind of new idea, just an official request to support Angular 9.

On to the issue template!

**Is your feature request related to a problem? Please describe.**

My team would like to upgrade, but first we need our dependencies to support it. This library is the last one.

**Describe the solution you'd like**

I would like ngx-bootstrap to officially support Angular

[2020-04-02 14:10] experionakash opened #5745 "Issue while using dropdown(ngx-bootstrap) inside an accordian header."
Bug description:
I have a scenario like need to add a dropdown menu inside accordian header.

Current behaviour :
While i'm clicking on the dropdown in the accordian header both the accordian and the dropdown opens.

Plunker/StackBlitz that reproduces the issue:
https://stackblitz.com/edit/angular-x1u12g

ngx-bootstrap: 5.6.1

Angular: 8.0.0

Bootstrap:

Build system: Angular CLI,

**Expected beha

[2020-04-03 07:16] Ugmaxie opened #5746 "Type missed. Avoid `any`."
**Description:**
Demo for pagination has a few examples with event output and a method *pageChanged* there has an input parameter with `any` type, which could be `PageChangedEvent`.

[2020-04-03 07:33] JanLoebel commented on #5153
As you can see in the tag of 5.5.0 the z-index fix is not included in 5.5.0.

https://github.com/valor-software/ngx-bootstrap/blob/v5.5.0/src/dropdown/bs-dropdown-container.component.ts

So I think we'll have to wait till 5.6.x is available via npm.

[2020-04-03 08:30] daniloff200 commented on #5746
@Ugmaxie  looking forward for your PR with a fixes :)

[2020-04-03 08:47] sangdangq commented on #5730
I have same issue.

[2020-04-03 11:07] epaaj commented on #5731
https://github.com/valor-software/ngx-bootstrap/releases/tag/v5.6.1

[2020-04-03 13:32] ar-reddy opened #5747 "Need Anguar 9 Updates"
Hi

when can we expect angular 9 Support ngx-bootstrap

[2020-04-03 22:02] fmorriso opened #5748 "VERSION object, similar to Angular"
**Is your feature request related to a problem? Please describe.**
I cannot get the `VERSION.full` from ngx-bootstrap at run-time like I can from Angular:

[code]

**Describe the solution you'd like**
I'd like to be able to do the following (probably in one of my services):
[code]

**Describe alternatives you've considered**

Hard-code the value returned from getter `versionFull`

**Additional con

[2020-04-04 16:02] Dassderdie commented on #5747
Duplicate of #5744

[2020-04-04 16:18] ghost opened #5749 "Bootstrap CSS working even when components are not imported"
Bug description:
CSS is working even if there's nothing  related to ngx-bootstrap  in app.modules

Plunker/StackBlitz that reproduces the issue:

https://stackblitz.com/edit/ngx-bootstrap-gek5r7?file=app/app.component.html

ngx-bootstrap: 5.5.0

Angular: 9.0.7

Bootstrap: 4

Build system: Angular CLI

**Expected behavior**
CSS shouldn't be working since there's nothing that imports it.

[2020-04-05 19:16] adventmedia opened #5750 "Carousel isAnimated MIA"
As described in the docs (https://valor-software.com/ngx-bootstrap/#/carousel#animated)
`<carousel [isAnimated]="true">`
should animate the carousel transition.
However this option is rejected by TypeScript, and does not appear in the types file

ngx-bootstrap v 5.6.1
angular v 9.0.5

[2020-04-05 21:49] FrancescoBorzi commented on #5727
# Confirmed

I have the same using version **5.5.0**

[code]

[2020-04-05 22:04] FrancescoBorzi commented on #5727
Also tested in **5.6.1**, same bug

[2020-04-05 23:28] #5749 closed, assigned to nobody

[2020-04-06 07:32] #5747 closed, assigned to nobody

[2020-04-06 07:43] daniloff200 commented on #5750
I'm not 100% sure what you mean in this issue.

I see the animation, which works well in docs page.

Could you create reproduction via stackblitz?
StackBlitz: https://stackblitz.com/edit/ngx-bootstrap?file=app%2Fapp.module.ts

[2020-04-06 07:44] daniloff200 commented on #3925
No activity, closed for now
Feel free to answer here later on, and this issue can be reopened

[2020-04-06 07:44] #3925 closed

[2020-04-06 07:46] daniloff200 commented on #5744
We have a PR, related to migration : https://github.com/valor-software/ngx-bootstrap/pull/5665 , but, it will be not merged for now, because, it will break the compatibility with 8 version, and all apps, which use Angular 8 will be not able to use ngx-bootstrap

[2020-04-06 11:08] neerajmadaad commented on #5636
Hi @daniloff200
Any update on this?

[2020-04-06 12:40] eric-simonton-sama commented on #5744
I mean ... they would certainly still be able to use ngx-bootstrap - they just wouldn't be able to upgrade it (unless you release updates for both ngx-bootstrap 5 _and_ 6, but that may be overkill). Do you think there are many apps out there that would want to upgrade ngx-bootstrap but would not also want to upgrade Angular?

[2020-04-06 13:35] adventmedia commented on #5750
stackblitz is a minimal environment, it does not enforce typescript errors. As implemented in an Angular CLI generated project:
[code]
on build, fails:
[code]
This is (at least) because the parameter 'isAnimated' is not defined in node_modules/ngx-bootstrap/carousel/carousel.component.d.ts'

[2020-04-06 14:25] daniloff200 commented on #5750
Strange one.
I've just tried to add small carousel component to one of my project with Angular 9.1.0, and it works
Also, I see **isAnimated** in **carousel.component.d.ts
![Selection_056](https://user-images.githubusercontent.com/13692220/78568926-80ea7f80-782b-11ea-91bd-dc9d7446dec9.png)
**

Could you please create a small repo with reproduction and drop a link here? @adventmedia

[2020-04-06 14:41] adventmedia commented on #5750
which is exactly what is missing from my file. So I checked the version in package.json, it's 5.5.0.
One would expect `npm install ngx-bootstrap` to install the current versions… or definitely `npm install ngx-bootstrap@latest` but both times got 5.5.0.
Had to explicitly install 5.6.1 to get it, then had to fix a few imports… now animating.

[2020-04-06 14:41] #5750 closed, assigned to nobody

[2020-04-06 14:45] daniloff200 commented on #5750
@next version was 5.6.1, but, latest, yes, was 5.5.0 :(
Sad, that it's happened, but, happy, that we've found the reason for the issue and fixed it!

[2020-04-06 17:05] jenswet commented on #5565
Hi @IraErshova, sorry for the late reply. I worked on other projects. I could fix it now. Thanks!

Is there a major difference between the frameworks / a good reason for me to switch?

[2020-04-07 02:42] carrillocarlosce commented on #5202
I was using the 4.2.0 version of ngx-bootstrap and I was having this issue, I just updated it to 5.5.0 and its working as expected with isAnimated set to true

[2020-04-07 04:12] leo6104 commented on #4561
https://github.com/valor-software/ngx-bootstrap/pull/5019

[2020-04-07 07:48] #5730 closed, assigned to nobody

[2020-04-07 08:32] #5726 closed, assigned to nobody

[2020-04-07 09:42] daniloff200 commented on #5727
@FrancescoBorzi  @Daniyar111  I'm not sure, maybe, I did something wrong, but, I've just pasted this code above , and can see dropdown items in both cases

https://stackblitz.com/edit/angular-dtt5x3

Perhaps, that's something, related to your styles?

[2020-04-07 09:46] #5740 closed, assigned to nobody

[2020-04-07 13:36] ahmedsherifm commented on #5730
@daniloff200  I have the same issue even after updating ngx-bootstrap to latest version 5.6.1.

Any updates when this fix will be available?

[2020-04-07 13:37] devailtonmereo commented on #5730
Problem persists after the update.

[2020-04-07 15:15] hugoj-goncalves opened #5752 "Datepicker html properties"
![image](https://user-images.githubusercontent.com/10927715/78686313-4505f780-78c9-11ea-925c-fb47b884530f.png)

`ERROR in node_modules/ngx-bootstrap/datepicker/ngx-bootstrap-datepicker.d.ts.BsDatepickerContainerComponent.html(60,7): Property 'chosenRange' does not exist on type 'BsDatepickerContainerComponent'.
node_modules/ngx-bootstrap/datepicker/ngx-bootstrap-datepicker.d.ts.BsDatepickerContain

[2020-04-07 15:30] ghost commented on #5752
we are having the same issue in our gitlab pipelines!

[2020-04-07 15:45] FrancescoBorzi commented on #5727
@daniloff200 I just found out that it only happens if you use animation:

`{ isAnimated: true }`

https://stackblitz.com/edit/angular-dtt5x3-i9y4rn

[2020-04-07 15:50] daniloff200 commented on #5752
that's related to #5730
Duplicated

[2020-04-07 15:50] #5752 closed, assigned to nobody

[2020-04-07 15:51] daniloff200 commented on #5730
Fix will be in next version, I suppose, that will be 5.6.2, that's why you can't see changes @devailtonmereo

[2020-04-07 17:14] kkilton opened #5753 "Import ModalDirective won't build in 5.6.1"
`import { ModalDirective } from "ngx-bootstrap";`

Here's my error using  "ngx-bootstrap": "^5.2.0" in my package.json

`import { ModalDirective } from "ngx-bootstrap";
[code]

[2020-04-07 19:12] ghost opened #5754 "In 5.5.0 ng build is getting failed"
Before opening an issue, please search for duplicates (opened and closed) https://github.com/valor-software/ngx-bootstrap/issues There's no need to open an issue here if you want to ask general question, use StackOverflow or Slack instead

Bug description:

Plunker/StackBlitz that reproduces the issue:
![Screenshot from 2020-04-08 00-39-11](https://user-images.githubusercontent.com/54355997/787097

[2020-04-07 19:15] daniloff200 commented on #5754
that's known issue, we already have a PR for it
https://github.com/valor-software/ngx-bootstrap/pull/5751

Let's wait for a new version, with a fix

[2020-04-07 19:15] #5754 closed, assigned to nobody

[2020-04-07 19:20] ghost commented on #5754
Thank you for the quick response

[2020-04-07 19:46] reinaldorauch commented on #5719
I came here for the same thing as you but it seems there is an open PR implementing this: #4222
Let's wait them to merge the pr

[2020-04-07 22:56] FrancescoBorzi commented on #4282
I have the same issue :(

[2020-04-08 00:16] mowme commented on #5753
I get the same issues for components using ngx-bootstrap (example isArray from Cannot find module 'ngx-bootstrap' using isArray).

[2020-04-08 08:16] Daniyar111 commented on #5727
@daniloff200 @FrancescoBorzi yeah I forgot I used providers in component:
`providers: [{ provide: BsDropdownConfig, useValue: { isAnimated: true, autoClose: true } }]`

[2020-04-08 08:46] daniloff200 commented on #5727
It seems, that when we use ngFor, animation was created before the data was rendered.
When we use hardcoded data, without ngFor, there's no such delay.

Hope to create a fix today

[2020-04-08 09:31] bartromgens commented on #5753
Try `import { ModalDirective } from "ngx-bootstrap/modal";`

[2020-04-08 15:29] Theyssen commented on #5736
I am having the same issue.

I created a minimal stackblitz using the docs to reproduce the issue:
Stackblitz: https://stackblitz.com/edit/angular-hdod7r
Docs: https://valor-software.com/ngx-bootstrap/#/typeahead#async-data

Use the same steps as mentioned above to reproduce the issue.

[2020-04-08 15:44] sujithmathewthomas opened #5756 "Design breaking on pagination arrows"
Bootstrap Pagination left and right arrow buttons are broken from update 5.6.0 onwards

[2020-04-08 15:52] kkilton commented on #5753
Thanks, that worked @bartromgens but why did they make breaking changes like that inside a minor change? Bad form!

[2020-04-08 19:01] dolphinsd commented on #823
Any directives to make tabs mobile friendly? Collapse them into hamburger menu on small screens?

[2020-04-09 00:28] khaukheng commented on #5000
I am having exactly the same issue, anyway to get around with this issue?

[2020-04-09 03:49] jkarun opened #5757 "Popover form values cleared after close"
I have a complex form inside the ngx-bootstrap popover. The form values are cleared after close. I observed that popover initializes the component every time. How do i preserve the form values after closing the popove?

**Use case:**
User provides login credentials and the user may close the popover and reopen the popover.
In that case i want to preserve the form value

`<a href="#" container="bod

[2020-04-09 07:22] adros commented on #5740
Can you publish new version (5.6.2) with this fix?

[2020-04-09 08:16] #5734 closed, assigned to nobody

[2020-04-09 08:21] daniloff200 commented on #5753
This change was needed for compatibility with Angular 9: https://github.com/valor-software/ngx-bootstrap/issues/5653

This change was mentioned in the documentation for each component, for example, check Usage block here:

https://valor-software.com/ngx-bootstrap/#/modals

Also, I wish, that users, that create issue, will not only mention a ngx-bootstrap version, that they use, but also an Angular

[2020-04-09 08:21] #5753 closed, assigned to nobody

[2020-04-09 08:27] #5727 closed, assigned to nobody

[2020-04-09 11:00] daniloff200 commented on #5756
Any info about that?

Could you please create a repro with a stack blitz (https://stackblitz.com/edit/angular-tmeitv?file=main.ts), or, github repo, that shows the issue?

[2020-04-09 11:50] daniloff200 commented on #5744
I'm not sure, why do you need full support of Angular 9 right now
As far, as I know, right now current version of ngx-bootstrap works with NG9 too. I worked on providing compatibility, and I see bunch of issues , when people mentioned, that they use library with Angular 9

Have you tried to add current version to your project? @ersimont @eric-simonton-sama

[2020-04-09 13:27] kkilton commented on #5753
Thanks for pointing me to the documentation, I missed that. @daniloff200. I actually DID mention the versions that I was using what version was working.

Looks like I will be locking down all versions of my packages from now on to use ~, not the default ^, since this is the 2nd time this week that I've spent half a day or more troubleshooting this type of breaking change with a package in the midd

[2020-04-09 13:39] daniloff200 commented on #5753
I see, @kkilton .
I asked about the Angular version, because, if you used 8, then, it means, that something wrong on our side.
If it's 9, the solution from @bartromgens  is an obvious one

Actually, locking up the package version is a good practice, because, you can't watch all changelogs of all libraries that you're using, and you don't know what changes can be done  there, and also, what feature

[2020-04-09 14:11] dr-itz commented on #5707
I can confirm this with popover, even when configured to attach the container to the `body`. What I noticed is that it also depends on the size of the containers, at a certain point things are done correctly.

[2020-04-09 14:23] bartromgens commented on #5753
@daniloff200 It would be nice to somehow make it more explicit what version supports what Angular version. I don't know if Angular 9 is fully supported, but the readme only lists 8 (https://github.com/valor-software/ngx-bootstrap#compatibility).
A versioning that follows Angular versions would be nice (so ngx-bootstrap 9.x works with Angular 9). Not sure about the downsides or any convention here.

[2020-04-09 15:09] eric-simonton-sama commented on #5744
Your docs say this is for Angular 7-8, which is why I opened the ticket. If it works for 9 as well, I could change my request to be a simple doc update.

My team works on a large app. We're not in a good position to manually look through each widget on our site to see if any of them broke. From our side, we wait for libraries to give the official OK first.

[2020-04-09 15:47] eserkansozer commented on #5713
Also having the same problem and getting the same error message. I don't want to install all the ngx-bootstrap components and import all the scss, I need only one of them. Is there a way to import only one (e.g. Modal) component?

[2020-04-09 16:49] daniloff200 commented on #5744
Ah, yeah, docs right now are mess, and needs update :(

I've got your point and it's understandable. I hope that next week we finally make a decision, will this PR with official support merged, or not, and that will be  ngx-bootstrap 6.0.0 or not

[2020-04-09 18:15] eric-simonton-sama commented on #5744
Great - thank you for giving it the attention!

[2020-04-09 19:13] daniloff200 commented on #5602
Yes, @Dassderdie , I checked, this issue was fixed too

[2020-04-09 19:13] #5602 closed, assigned to nobody

[2020-04-09 21:05] TarekS93 commented on #5713
Some solution?

[2020-04-10 09:19] fromage9747 opened #5758 "Cannot find module 'ngx-bootstrap'. In Angular 9.1"
Before opening an issue, please search for duplicates (opened and closed) https://github.com/valor-software/ngx-bootstrap/issues There's no need to open an issue here if you want to ask general question, use StackOverflow or Slack instead

Bug description:
Cannot find module 'ngx-bootstrap'. In Angular 9.1

Plunker/StackBlitz that reproduces the issue:

Using Plunkr, StackBlitz is the best way to

[2020-04-10 09:20] fromage9747 commented on #5758
Workaround allows you to carry on working with the module as expected.  Only logging this bug to notify the maintainer.

[2020-04-10 09:26] fromage9747 commented on #5758
Nevermind.  CLosing: https://github.com/valor-software/ngx-bootstrap/issues/5753

[2020-04-10 09:26] #5758 closed, assigned to nobody

[2020-04-10 10:19] sebastiaan-code20 commented on #2137
I had a simular issue and was able to resolve it by putting in my css file:
`.modal { overflow: auto !important; }`

Do not know if this fixes it for others but when closing my second modal the scrollbar now remains while the first modal is open and needs it.

[2020-04-10 15:13] sujithmathewthomas commented on #5756
I wanted to replace the next and previous button texts with arrow icons. So I've been using fa-icons as follows. It was working fine till 5.5.0, but after the update is is broken.

<pagination class="pagination-sm"
            [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
            [maxSize]="maxSize" [directionLinks]="true" [boundaryLinks]="false"
            [rotate]="

[2020-04-10 15:20] sujithmathewthomas commented on #5756
@daniloff200
I wanted to replace the next and previous button texts with arrow icons. So I've been using fa-icons as follows. It was working fine till 5.5.0, but after the update to 5.6.0,it is broken.

`<pagination class="pagination-sm"`
`[(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"`
`[maxSize]="maxSize" [directionLinks]="true" [boundaryLinks]="false"`
`[rotate]="false"`

[2020-04-10 20:55] ghost commented on #5713
May be this is an old directive.
I suggest you add the component manually:

`ng g c datepicker`

[2020-04-11 11:36] tomascubeek commented on #5184
Hello, are there any plans (progress) for this?
We have this "inconsistency" bug in our products as well. It's enough to modify date by keyboard instead of selecting by mouse and it returns different value. Since it's inconsistent I can't easily play around with UTC / timezones.

[2020-04-11 16:02] douasin commented on #5744
I got this error while following the document with angular 9

angular version:

[2020-04-11 18:48] emhaechi opened #5759 "Typeahead's dropdown not always being announced to screen readers"
**Bug description:**

If a user is using a screen reader (ex. NVDA, JAWS), when the typeahead's dropdown appears for the first time after a user types one character, the fact that a dropdown appeared and that an option is highlighted is not announced via the screen reader. However, if a second character is typed after that or the user navigates with the keyboard between the options in the list, th

[2020-04-12 11:11] EfratVanso commented on #2716
it worked for me. tnx

[2020-04-13 09:48] phuongpentest commented on #625
when you in sm mode it go off of the left side. How?

[2020-04-13 12:25] martijn19811 opened #5761 "Change viewEncapsulation to 'none' to improve CSS override styling"
I'm always frustrated when it takes so much time and effort just to override a few styles of a component. It's just too troubling. I'm working with a custom Bootstrap theme combined with an ITCSS structure and I'd love to use that one theme to override CSS classes as set by a ngx-bootstrap component.

In other words, I'd love to see an option to set viewEncapsulation to 'none' for all components.

[2020-04-13 14:16] MarkoSulamagi commented on #2356
Bringing this issue up again.

[2020-04-13 22:59] vechal opened #5762 "Accordion Close Others attribute is not working"
**Description:**

I am working on nested accordion , like a tree structure

<accordion>
<accordion-group> -- Division
       <accordion>
               <accordion-group> -- Region
                        <accordion>
                                     <accordion-group> -- Team
                                                   <accordion> -- CloseOther - true

[2020-04-14 08:56] thanhdn1989 opened #5763 "Long Content Scrolling modal dismiss when drag the scroll bar eventhough on valor demo"
Bug description:
When using the Long Content Scrolling modal, it is auto dismiss when i scroll by dragging the scroll bar. The demo on official site have the same problem

Versions of ngx-bootstrap, Angular, and Bootstrap:
ngx-bootstrap:
5.5.0
Angular:
9
Bootstrap:
4.4.1
Build system: Angular CLI, System.js, webpack, starter seed:
Angular CLI
**Expected behavior**
Modal not dismiss when i scroll b

[2020-04-14 12:53] plevko opened #5764 "Allow invalid dates with manual input"
AFAIK there is currently no config option to allow manual input of invalid parsable dates.
I found this PR https://github.com/valor-software/ngx-bootstrap/pull/5532 and it looks like it is by design.

But the issue here is that in my use case and don't want to change what the user typed, I just want to display error message.

When using @Input() minDate  and manually writing e.g. minDate - 1 then

[2020-04-14 15:21] JJayet opened #5765 "Datepicker do not display numbers"
Hi,

I've been using the datepicker component for a while and I recently updated our project to Angular 9.1 and ngx-bootstrap 5.6.
Since then, the numbers do not appear in the calendar. I tried rolling back Angular and ngx with no success.
What's weird is that the day labels do in fact appear and are localized (we use french and english locales).

I don't have a clue as to what could be causing th

[2020-04-14 18:19] arun-maddheshia commented on #5693
@sonicpro any luck with this :blush:

[2020-04-14 18:31] cannontechnology commented on #551
Any updates on this?  I see there are 2 external libraries... Perhaps one can be leveraged?

https://github.com/gillardo/ngx-bootstrap-datetime-popup
https://github.com/Eonasdan/bootstrap-datetimepicker